Repository php/php-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iluuu1994, @TimWolla, @kocsismate, @Girgias, @nielsdos, @SakiTakamachi, @adoy, @derickr, @dstogov, @devnexen, @bukka, @alexdowad, @youkidearitai, @NattyNarwhal, @zeriyoshi, @arnaud-lb

Allow optimizer to depend on preloaded symbols (#15021)
  Zend/Optimizer/zend_optimizer.c
  ext/opcache/tests/gh15021.phpt
  ext/opcache/tests/gh15021_a.inc
  ext/opcache/tests/gh15021_b.inc
  ext/opcache/tests/gh15021_preload.inc
  ext/opcache/tests/gh15021_required.inc
  ext/opcache/tests/preload_optimizer.inc
  ext/opcache/tests/preload_optimizer.phpt
  ext/zend_test/tests/observer_preload.phpt
Owners: @dstogov, @iluuu1994

Add ReflectionProperty::getSettableType() test for get-only backed property
  ext/reflection/tests/ReflectionProperty_getSettableType.phpt
Owners: none

Fix GH-15192: Segmentation fault in dom extension (html5_serializer)
  NEWS
  ext/dom/php_dom.c
  ext/dom/tests/gh15192.phpt
Owners: @nielsdos

Allow ZEND_ACC_VIRTUAL to be used to not have property backing storage without resorting to hooks
  build/gen_stub.php
  ext/reflection/php_reflection.c
Owners: @kocsismate

Use virtual annotation in XMLReader
  ext/xmlreader/php_xmlreader.stub.php
  ext/xmlreader/php_xmlreader_arginfo.h
  ext/xmlreader/tests/virtual_properties.phpt
Owners: @kocsismate, @nielsdos

Avoid misaligned 16-bit read
  ext/standard/html.c
Owners: @bukka

Use a nicer array lookup.
  ext/standard/html.c
Owners: @bukka

Table-based approach.
  ext/standard/html.c
Owners: @bukka

Add a test for setting the innerHTML on a prefixed XML element
  ext/dom/tests/modern/xml/Element_innerHTML_prefixed_writing.phpt
Owners: @nielsdos

Try that la la la
  ext/standard/basic_functions_arginfo.h
Owners: @bukka

Replace HTML5_ prefix with HTML_
  ext/standard/basic_functions_arginfo.h
  ext/standard/html.c
  ext/standard/html.h
  ext/standard/tests/strings/decode_html_1.phpt
Owners: @bukka

HTML_TEXT_NODE is taken by libxml2
  ext/standard/basic_functions_arginfo.h
  ext/standard/html.c
  ext/standard/html.h
  ext/standard/tests/strings/decode_html_1.phpt
Owners: @bukka

Add a test for setting the innerHTML on a prefixed XML element (#15204)
  ext/dom/tests/modern/xml/Element_innerHTML_prefixed_writing.phpt
Owners: @nielsdos

Fix UAF issues with PCRE after request shutdown
  UPGRADING.INTERNALS
  ext/opcache/ZendAccelerator.c
  ext/pcre/php_pcre.c
  ext/pcre/php_pcre.h
  ext/pcre/tests/gh15205_1.phpt
  ext/pcre/tests/gh15205_2.phpt
Owners: @dstogov, @iluuu1994

Sync AC_DEFINE help texts
  ext/date/config.w32
  ext/date/config0.m4
  ext/hash/config.m4
  ext/hash/config.w32
  ext/mbstring/config.m4
  ext/mbstring/config.w32
  ext/opcache/config.m4
  ext/opcache/config.w32
  ext/openssl/config0.m4
  ext/pcntl/config.m4
  ext/posix/config.m4
  ext/session/config.m4
  ext/standard/config.m4
  ext/standard/config.w32
  ext/xsl/config.m4
  ext/xsl/config.w32
  sapi/cgi/config9.m4
  sapi/phpdbg/config.m4
Owners: @derickr, @alexdowad, @youkidearitai, @dstogov, @iluuu1994, @bukka, @devnexen, @Girgias, @nielsdos

Fix GH-15179: Segmentation fault (null pointer dereference) in ext/standard/url_scanner_ex.re
  ext/standard/url_scanner_ex.re
  tests/output/gh15179.phpt
Owners: @bukka

Autotools: Update config.guess to 2024-07-27 and config.sub to 2024-05-27 (#15190)
  NEWS
  build/config.guess
  build/config.sub
Owners: none

[skip ci] Fix NEWS entry for config.* scripts
  NEWS
Owners: none

Try another, why not.
  ext/standard/basic_functions_arginfo.h
Owners: @bukka

Fix GH-15179: Segmentation fault (null pointer dereference) in ext/standard/url_scanner_ex.re
  NEWS
  ext/standard/url_scanner_ex.re
  tests/output/gh15179.phpt
Owners: @bukka

Build with `./build/gen_stub.php`
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Owners: @kocsismate, @bukka

Update with help.
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/html.c
  ext/standard/html.h
Owners: @kocsismate, @bukka

.github/CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# When changing this file, please make sure to commit the changes to the
# earliest supported PHP branch (PHP-X.Y) and not only to the master branch.
# GitHub reads the CODEOWNERS file from the pull request's targeted branch.
# Commit changes here similar to bug fixes:
# https://github.com/php/php-src/blob/master/CONTRIBUTING.md#pull-requests
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/bcmath @Girgias @nielsdos @SakiTakamachi
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/dom @nielsdos
/ext/ffi @dstogov
/ext/gd @devnexen
/ext/gettext @devnexen
/ext/gmp @Girgias
/ext/intl @devnexen
/ext/json @bukka
/ext/libxml @nielsdos
/ext/mbstring @alexdowad @youkidearitai
/ext/mysqlnd @SakiTakamachi
/ext/odbc @NattyNarwhal
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pcntl @devnexen
/ext/pdo @SakiTakamachi
/ext/pdo_dblib @SakiTakamachi
/ext/pdo_firebird @SakiTakamachi
/ext/pdo_mysql @SakiTakamachi
/ext/pdo_odbc @NattyNarwhal @SakiTakamachi
/ext/pdo_pgsql @devnexen @SakiTakamachi
/ext/pdo_sqlite @SakiTakamachi
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/simplexml @nielsdos
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/ext/xml @nielsdos
/ext/xmlreader @nielsdos
/ext/xmlwriter @nielsdos
/ext/xsl @nielsdos
/main @bukka
/sapi/fpm @bukka
/Zend/Optimizer @dstogov @iluuu1994
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov @iluuu1994
/Zend/zend_call_stack.* @arnaud-lb
/Zend/zend_closures.* @dstogov
/Zend/zend_compile.* @iluuu1994
/Zend/zend_enum.* @iluuu1994
/Zend/zend_execute.* @dstogov @iluuu1994
/Zend/zend_execute_API.c @dstogov @iluuu1994
/Zend/zend_frameless_function.* @iluuu1994
/Zend/zend_gc.* @dstogov @arnaud-lb
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov @iluuu1994
/Zend/zend_max_execution_timer.* @arnaud-lb
/Zend/zend_object_handlers.* @dstogov @iluuu1994
/Zend/zend_objects.* @dstogov @iluuu1994
/Zend/zend_objects_API.* @dstogov @iluuu1994
/Zend/zend_opcode.* @dstogov @iluuu1994
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov @iluuu1994
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov @iluuu1994
*.stub.php @kocsismate
