Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

ext/standard/tests: work around Windows quoting with tempfiles.
  ext/standard/tests/general_functions/proc_open_null.phpt
  ext/standard/tests/general_functions/proc_open_redirect.phpt
Labels: Extension: standard

sapi/fcgi: update listen queue size handling. (#13939)
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Remove rscale in bc_raisemod
  ext/bcmath/libbcmath/src/raisemod.c
Labels: Extension: bcmath

Fix usage of reentrant functions in ext/posix (#13921)
  ext/posix/posix.c
Labels: Extension: posix

[ci skip] NEWS
  NEWS
Labels: none

[ci skip] NEWS
  NEWS
Labels: none

Fix TLS access in JIT with Musl (#13927)
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

ext/fileinfo/tests/bug78987.phpt: increase a memory limit
  NEWS
  ext/fileinfo/tests/bug78987.phpt
Labels: Extension: fileinfo

fix: prevent C errors when using weird max_execution_time values
  Zend/zend_execute_API.c
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

Move code to php_error_cb
  Zend/zend.c
  main/main.c
Labels: Category: Engine

Add two checks for zend_mm_heap's integrity
  Zend/zend_alloc.c
Labels: Category: Engine

Remove unnecessary check
  ext/standard/user_filters.c
Labels: Extension: standard

Add dedicated StreamBucket class (#13111)
  ext/reflection/tests/ReflectionExtension_getClassNames_basic.phpt
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/file/bug39551.phpt
  ext/standard/user_filters.c
  ext/standard/user_filters.stub.php
  ext/standard/user_filters_arginfo.h
Labels: Extension: reflection, Extension: standard

Add upgrading note for the "Dedicated StreamBucket class" RFC
  UPGRADING
Labels: none

Use a link test to check for GNU libiconv (#13894)
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

Update ext/ldap sanity check
  ext/ldap/config.m4
Labels: Category: Build System, Extension: ldap

Update ext/ldap sanity check (#13946)
  ext/ldap/config.m4
Labels: Category: Build System, Extension: ldap

Revert "ext/mysqlnd: support ER_CLIENT_INTERACTION_TIMEOUT"
  NEWS
  ext/mysqli/tests/bug81335.phpt
  ext/mysqlnd/mysqlnd_enum_n_def.h
  ext/mysqlnd/mysqlnd_result.c
  ext/mysqlnd/mysqlnd_wireprotocol.c
Labels: Extension: mysqli, Extension: mysqlnd

Add GDB pretty-printers for zend_string, zend_type (#13463)
  .gdb.py
Labels: none

Bailout already sets in_compilation=0
  main/main.c
Labels: none

Only recover the compiler on compilation or parse error
  main/main.c
Labels: none

Fix indentation
  main/main.c
Labels: none

Add GDB pretty-printers for zend_ast, zval
  .gdb.py
Labels: none

Add GDB pretty-printers for zend_ast, zval (#13520)
  .gdb.py
Labels: none

Inline GDB script
  .gitattributes
  .github/actions/verify-generated-files/action.yml
  configure.ac
  main/debug_gdb_scripts.c
  scripts/gdb/debug_gdb_scripts_gen.php
  scripts/gdb/php_gdb.gdb
  scripts/gdb/php_gdb.py
Labels: Category: Build System

FIX file_get_contents() on Windows fails with "errno=22 Invalid argument"
  main/streams/plain_wrapper.c
Labels: none

Simplify buffer size for write also.
  main/streams/plain_wrapper.c
Labels: none

Revert oversimplification
  main/streams/plain_wrapper.c
Labels: none

Relax test expecations
  Zend/tests/match/029.phpt
  Zend/tests/match/030.phpt
Labels: none

Fix tests after merge
  Zend/tests/call_user_func_005.phpt
  Zend/tests/ns_073.phpt
  sapi/phpdbg/tests/gh13827.phpt
Labels: SAPI: phpdbg

NEWS / UPGRADING
  NEWS
  UPGRADING
Labels: none

Add test for reading big files by file_get_contents.
  ext/standard/tests/file/file_get_contents_file_put_contents_5gb.phpt
Labels: Extension: standard

ext/openssl: Add option to load legacy algorithm provider
  ext/openssl/config0.m4
  ext/openssl/openssl.c
Labels: Category: Build System, Extension: openssl

Changed exception catch
  ext/session/tests/session_start_read_and_close.phpt
Labels: Extension: session

fix GH-13952 sqlite pdo::quote null bytes
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

forgot the test file
  ext/pdo_sqlite/tests/bug_gh13952_quote_null.phpt
Labels: Extension: pdo_sqlite

update test
  ext/pdo_sqlite/tests/bug81740.phpt
Labels: Extension: pdo_sqlite

Fix bug #63937: Upload speed 10 times slower with PHP (#13041)
  ext/ftp/ftp.c
  ext/ftp/tests/ftp_fput_ascii_over_4_kib.phpt
Labels: Extension: ftp

[ci skip] NEWS
  NEWS
Labels: none

Fix GH-13952: sqlite PDO::quote silently corrupts strings with null bytes
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/bug81740.phpt
  ext/pdo_sqlite/tests/gh13952.phpt
Labels: Extension: pdo_sqlite

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*
