Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

Improve iter tests
  Zend/tests/data_classes/iter.phpt
Labels: none

Disallow data classes in ReflectionProperty::setValue() and ReflectionMethod::invoke()
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionProperty_setValue_data_class.phpt
Labels: Extension: reflection

Remove rscale in bc_raisemod
  ext/bcmath/libbcmath/src/raisemod.c
Labels: Extension: bcmath

Fix stream_cookie_seeker signature under musl
  main/streams/cast.c
Labels: none

Fix shift out of bounds on 32-bit non-fast-path platforms (#10941)
  ext/mysqlnd/mysqlnd_portability.h
Labels: Extension: mysqlnd

[ci skip] NEWS
  NEWS
Labels: none

ext/pcntl: adding pcntl_setns for Linux >= 5.3
  NEWS
  UPGRADING
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_setns_basic.phpt
  ext/pcntl/tests/pcntl_setns_newpid.phpt
Labels: Category: Build System, Extension: pcntl

Fix serialization of entity references in attributes
  ext/dom/html5_serializer.c
  ext/dom/tests/modern/common/serialize_entity_reference_in_attribute.phpt
  ext/dom/xml_serializer.c
Labels: Extension: dom

ext/pcntl: pcnt_setns few nitpicks changes.
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
Labels: Extension: pcntl

Add [UN]EXPECTED hints
  Zend/zend_execute.c
  Zend/zend_object_handlers.c
  Zend/zend_operators.c
  Zend/zend_types.h
  Zend/zend_vm_def.h
  ext/reflection/php_reflection.c
Labels: Category: Engine, Extension: reflection

ext/pcntl: pcnt_setns few nitpicks changes. (#13885)
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
Labels: Extension: pcntl

Bump ce_flags size
  Zend/Optimizer/escape_analysis.c
  Zend/zend.h
  Zend/zend_API.c
  Zend/zend_ast.h
  Zend/zend_builtin_functions.c
  Zend/zend_inheritance.c
  ext/opcache/ZendAccelerator.c
Labels: Category: Engine, Category: Optimizer, Extension: opcache

Bump fn_flags size
  Zend/Optimizer/zend_optimizer.c
  Zend/zend.h
  Zend/zend_API.h
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_enum.c
  Zend/zend_inheritance.c
  ext/opcache/ZendAccelerator.c
  ext/opcache/jit/zend_jit_ir.c
  ext/reflection/php_reflection.c
Labels: Category: Engine, Category: Optimizer, Extension: opcache, Extension: reflection

Add typedef for [class] constants
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_constants.c
  Zend/zend_constants.h
  ext/reflection/php_reflection.c
Labels: Category: Engine, Extension: reflection

Bump zend_property_info.flags size
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_compile.h
  Zend/zend_inheritance.c
  Zend/zend_object_handlers.c
  ext/opcache/jit/zend_jit_ir.c
  ext/reflection/php_reflection.c
Labels: Category: Engine, Extension: opcache, Extension: reflection

Fix some jit instructions
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

Comment
  Zend/zend_compile.h
  ext/reflection/php_reflection.c
Labels: Category: Engine, Extension: reflection

Fix jit error
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

Commit generated file
  Zend/zend_vm_execute.h
Labels: Category: Engine

Fix comment for unused ce flags
  Zend/zend_compile.h
Labels: Category: Engine

Simplify expression
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

Fix opcache dump varying tmps
  sapi/phpdbg/tests/print_001.phpt
  sapi/phpdbg/tests/print_002.phpt
Labels: SAPI: phpdbg

feat(reflection): add getLine / getFileName / isUserDefined to reflection attribute
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionAttribute_getFileName.phpt
  ext/reflection/tests/ReflectionAttribute_getLine.phpt
  ext/reflection/tests/ReflectionAttribute_isUserDefined.phpt
Labels: Extension: reflection

Fix serialization of entity references in attributes (#13884)
  ext/dom/html5_serializer.c
  ext/dom/tests/modern/common/serialize_entity_reference_in_attribute.phpt
  ext/dom/xml_serializer.c
Labels: Extension: dom

Fix GH-13891: memleak and segfault when using ini_set with session.trans_sid_hosts
  ext/session/tests/gh13891.phpt
  ext/standard/url_scanner_ex.re
Labels: Extension: session, Extension: standard

Update ext/standard/url_scanner_ex.re
  ext/standard/url_scanner_ex.re
Labels: Extension: standard

Further review comment fixes
  ext/session/tests/gh13891.phpt
  ext/standard/url_scanner_ex.re
Labels: Extension: session, Extension: standard

Add it also in the ini section for better reproducibility
  ext/session/tests/gh13891.phpt
Labels: Extension: session

Fix GH-13860: Incorrect PHP_STREAM_OPTION_CHECK_LIVENESS case in ext/openssl/xp_ssl.c - causing use of dead socket
  ext/openssl/tests/gh13860.phpt
  ext/openssl/xp_ssl.c
Labels: Extension: openssl

Fix GH-13891: memleak and segfault when using ini_set with session.trans_sid_hosts (#13892)
  ext/session/tests/gh13891.phpt
  ext/standard/url_scanner_ex.re
Labels: Extension: session, Extension: standard

[ci skip] NEWS
  NEWS
Labels: none

Cleanup and optimize attribute value reading
  ext/dom/attr.c
  ext/dom/php_dom.c
Labels: Extension: dom

ext/pcntl: cpu affinity api introduction.
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
Labels: Category: Build System, Extension: pcntl

random: Add clarifying comments to the implementation of CombinedLCG
  ext/random/engine_combinedlcg.c
Labels: Extension: random

changes from feedback
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
Labels: Extension: pcntl

Improve check for broken iconv //IGNORE
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

Get rid of non-exposed solid_fetch_prev() function
  ext/odbc/php_odbc.c
Labels: Extension: odbc

Declare true return type for ext/odbc functions
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
Labels: Extension: odbc

Convert odbc_bindcols() function to void
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

filter_input_array - Implement solution 2 of GH-13805 (#13804)
  ext/filter/filter.c
  ext/filter/tests/filter_input_array_001.phpt
Labels: Extension: filter
