Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

changes to undef enums types.
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_qosclass.phpt
Labels: Extension: pcntl

address comment
  ext/bcmath/tests/bcround_early_return.phpt
Labels: Extension: bcmath

Fix extension_dir variable quoting in php-config
  scripts/php-config.in
Labels: Category: Build System

[skip ci] Fix old {closure}() name reference in 32-bit tests
  Zend/tests/type_declarations/scalar_return_basic.phpt
  Zend/tests/type_declarations/scalar_strict.phpt
Labels: none

Use x'hex' syntax for null bytes in pdo::quote
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/gh13952.phpt
Labels: Extension: pdo_sqlite

[skip ci] Add missing if: always() to community tests
  .github/workflows/nightly.yml
Labels: none

Fix rename test file name collision
  ext/standard/tests/file/rename_variation2-win32.phpt
Labels: Extension: standard

Review
  .gdbinit
  configure.ac
  main/debug_gdb_scripts.c
  scripts/gdb/debug_gdb_scripts_gen.php
Labels: Category: Build System

Fix clean section in test
  ext/standard/tests/file/rename_variation2-win32.phpt
Labels: Extension: standard

Use return value of getpwuid_r(), not errno
  ext/posix/posix.c
Labels: Extension: posix

Fix the test case and the test fails
  ext/bcmath/tests/bcround_away_from_zero.phpt
  ext/bcmath/tests/bcround_ceiling.phpt
  ext/bcmath/tests/bcround_early_return.phpt
  ext/bcmath/tests/bcround_floor.phpt
  ext/bcmath/tests/bcround_half_down.phpt
  ext/bcmath/tests/bcround_half_even.phpt
  ext/bcmath/tests/bcround_half_odd.phpt
  ext/bcmath/tests/bcround_half_up.phpt
  ext/bcmath/tests/bcround_test_helper.inc
  ext/bcmath/tests/bcround_toward_zero.phpt
Labels: Extension: bcmath

SQLite pdo::quote use ('foo'||x'0000'||'bar') for null bytes
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/gh13952.phpt
Labels: Extension: pdo_sqlite

Fixed missed exception
  Zend/Optimizer/zend_inference.c
Labels: Category: Optimizer

remove datatype text workaround
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/gh13952.phpt
Labels: Extension: pdo_sqlite

Remove zend_strtod mutex
  Zend/zend.c
  Zend/zend_globals.h
  Zend/zend_strtod.c
  Zend/zend_strtod.h
  Zend/zend_strtod_int.h
Labels: Category: Engine

use zend_string_equals_literal
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

Fix GH-13931: Applying zero offset to null pointer in Zend/zend_opcode.c
  NEWS
  Zend/tests/gh13931.phpt
  main/main.c
  sapi/phpdbg/tests/gh13931.phpt
Labels: SAPI: phpdbg

ext/pcntl: pcntl_getqos_class/pcntl_setqos_class addition.
  NEWS
  UPGRADING
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_qosclass.phpt
Labels: Category: Build System, Extension: pcntl

ext/pcntl simplification.
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/php_pcntl.h
  ext/pcntl/php_signal.c
  ext/pcntl/php_signal.h
Labels: Category: Build System, Extension: pcntl

Fix GH-13970: Incorrect validation of #[\Attribute]’s first parameter
  Zend/zend_ast.c
  ext/opcache/ZendAccelerator.c
  ext/zend_test/tests/gh13970.phpt
Labels: Category: Engine, Extension: opcache, Extension: zend_test

Fixed round.c
  ext/bcmath/libbcmath/src/round.c
Labels: Extension: bcmath

Fix GH-13968 Build failed when with --enable-mbregex on MSVC
  ext/mbstring/config.w32
Labels: Category: Build System, Extension: mbstring

tests: add php_history file check
  sapi/cli/tests/017.phpt
Labels: SAPI: cli

tests: add php_history file check (#13967)
  sapi/cli/tests/017.phpt
Labels: SAPI: cli

Fix tests when stdout is unbuffered (#13924)
  ext/opcache/tests/issue0115.phpt
  ext/opcache/tests/issue0149.phpt
Labels: Extension: opcache

Use return value of getpwuid_r(), not errno (#13969)
  ext/posix/posix.c
Labels: Extension: posix

fix: zend-max-execution-timers with negative or high timeout value (#13942)
  Zend/zend_execute_API.c
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

[ci skip] NEWS
  NEWS
Labels: none

[ci skip] NEWS
  NEWS
Labels: none

Inline GDB scripts in the PHP binary (#13600)
  .gitattributes
  .github/actions/verify-generated-files/action.yml
  configure.ac
  main/debug_gdb_scripts.c
  scripts/gdb/debug_gdb_scripts_gen.php
  scripts/gdb/php_gdb.py
Labels: Category: Build System

Use system malloc
  Zend/zend.c
  Zend/zend_strtod.c
  Zend/zend_strtod.h
Labels: Category: Engine

Fix extension_dir variable quoting in php-config (#13963)
  scripts/php-config.in
Labels: Category: Build System

Update IR
  ext/opcache/jit/ir/ir_aarch64.dasc
  ext/opcache/jit/ir/ir_ra.c
  ext/opcache/jit/ir/ir_sccp.c
  ext/opcache/jit/ir/ir_x86.dasc
Labels: Extension: opcache

Simplify a do…while loop into a for one
  Zend/zend_alloc.c
Labels: Category: Engine

Make documentURI and URL not readonly
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

Fix GH-13978: Fuzzer readme still mentions obsolete --enable-json flag
  sapi/fuzzer/README.md
Labels: SAPI: fuzzer

Fix GH-13978: Fuzzer readme still mentions obsolete --enable-json flag (#13983)
  sapi/fuzzer/README.md
Labels: SAPI: fuzzer

Fix GH-13968: Build failed when with --enable-mbregex on MSVC (#13971)
  ext/mbstring/config.w32
Labels: Category: Build System, Extension: mbstring

Update IR
  ext/opcache/jit/ir/ir_aarch64.dasc
Labels: Extension: opcache

Remove unused ext/spl SPL_API code
  ext/spl/php_spl.c
  ext/spl/php_spl.h
  ext/spl/spl_fixedarray.c
Labels: Extension: spl
