Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

ext/pcntl: pcntl_fork refining error handling.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

sapi/cgi: fix buffer limit on windows.
  main/fastcgi.c
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

ext/pcntl: pcntl_fork refining error handling. (#14021)
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

Simplify prop handler of XMLReader
  ext/xmlreader/php_xmlreader.c
  ext/xmlreader/php_xmlreader.h
Labels: Extension: xmlreader

[ci skip] Be more specific about ext-dom incompatibilities in UPGRADING
  UPGRADING
Labels: none

[ci skip] Be more specific about ext-dom incompatibilities in UPGRADING (#14024)
  UPGRADING
Labels: none

Simplify prop handler of XMLReader (#14023)
  ext/xmlreader/php_xmlreader.c
  ext/xmlreader/php_xmlreader.h
Labels: Extension: xmlreader

[skip ci] Fixed message for skipping tests for SSL 3.2
  ext/openssl/tests/openssl_x509_parse_basic.phpt
  ext/openssl/tests/openssl_x509_parse_basic_openssl32.phpt
Labels: Extension: openssl

fixup! Add generic pack test for 64bit.
  ext/standard/tests/strings/pack.phpt
  ext/standard/tests/strings/pack_int.phpt
  ext/standard/tests/strings/pack_int_64bit.phpt
Labels: Extension: standard

Adjust nightly org restriction check
  .github/workflows/close-needs-feedback.yml
  .github/workflows/close-stale-feature-requests.yml
  .github/workflows/close-stale-prs.yml
  .github/workflows/nightly.yml
  .github/workflows/remove-needs-feedback.yml
Labels: none

fixup! Add generic pack test for 64bit.
  ext/standard/tests/strings/pack.phpt
  ext/standard/tests/strings/pack_int.phpt
  ext/standard/tests/strings/pack_int_64bit.phpt
Labels: Extension: standard

[skip ci] Also skip benchmarking on non php-src
  .github/workflows/push.yml
Labels: none

[skip ci] Also skip all other push jobs on non php-src
  .github/workflows/push.yml
Labels: none

Remove broken hack in mysqlnd_vio::close_stream
  ext/mysqlnd/mysqlnd_vio.c
Labels: Extension: mysqlnd

Fix crash in shutdown when using a named pipe with a persistent mysqli connection
  ext/mysqlnd/mysqlnd_vio.c
Labels: Extension: mysqlnd

Fix memory leak in mysqlnd_vio::open_pipe
  ext/mysqlnd/mysqlnd_vio.c
Labels: Extension: mysqlnd

Add an assertion for certainty
  ext/mysqlnd/mysqlnd_vio.c
Labels: Extension: mysqlnd

Factor common code out into mysqlnd_fixup_regular_list()
  ext/mysqlnd/mysqlnd_vio.c
Labels: Extension: mysqlnd

Use php_stream_auto_cleanup() consistently
  ext/mysqlnd/mysqlnd_vio.c
Labels: Extension: mysqlnd

NEWS
  NEWS
Labels: none

[skip ci] Backport 0e7ef95 and 4f0d4c0
  .github/workflows/push.yml
Labels: none

Replace configure option --with-openssl-dir
  UPGRADING.INTERNALS
  ext/ftp/config.m4
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: ftp, Extension: mysqlnd

[skip ci] Add note to NEWS
  NEWS
Labels: none

Fix erroneous dnl appended in configure (#14013)
  NEWS
  build/php_cxx_compile_stdcxx.m4
Labels: Category: Build System

New reviww round
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

cli: allow to change ~/.php_history with PHP_HISTFILE
  ext/readline/readline_cli.c
  sapi/cli/tests/017.phpt
Labels: Extension: readline, SAPI: cli

cli: allow to change ~/.php_history with PHP_HISTFILE
  UPGRADING
  ext/readline/readline_cli.c
  sapi/cli/tests/017.phpt
Labels: Extension: readline, SAPI: cli

Temporary reset filename and lineno override before autoload
  NEWS
  Zend/tests/gh10232.phpt
  Zend/tests/gh10232/constant_def.inc
  Zend/tests/gh10232/required.inc
  Zend/tests/gh7771_3.phpt
  Zend/zend_execute_API.c
Labels: Category: Engine

Fix make_fcontext/jump_fcontext with SHSTK enabled
  Zend/asm/jump_x86_64_sysv_elf_gas.S
  Zend/asm/make_x86_64_sysv_elf_gas.S
Labels: none

Fix map_shadow_stack syscall number
  Zend/zend_fibers.c
  configure.ac
Labels: Category: Engine, Category: Build System

Increase SHSTK stack size
  Zend/zend_fibers.c
Labels: Category: Engine

Enable SHSTK in CI
  .github/workflows/nightly.yml
  .github/workflows/push.yml
Labels: none

Fix GH-13727: Building with -Werror=strict-prototypes
  NEWS
  build/libtool.m4
Labels: Category: Build System

Fix GH-13727: Building with -Werror=strict-prototypes (#14029)
  NEWS
  build/libtool.m4
Labels: Category: Build System

ext/pcntl: signals list update for dragonflybsd related to checkpoint.
  NEWS
  UPGRADING
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
Labels: Extension: pcntl

Add two checks for zend_mm_heap's integrity (#13943)
  Zend/zend_alloc.c
Labels: Category: Engine

Remove zend_strtod mutex (#13974)
  Zend/zend.c
  Zend/zend_globals.h
  Zend/zend_strtod.c
  Zend/zend_strtod.h
  Zend/zend_strtod_int.h
Labels: Category: Engine

[ci skip] UPGRADING
  UPGRADING
Labels: none

Fix prototype for trait methods
  Zend/tests/gh14009_001.phpt
  Zend/tests/gh14009_002.phpt
  Zend/tests/gh14009_003.phpt
  Zend/tests/gh14009_004.phpt
  Zend/tests/interface_constructor_prototype_001.phpt
  Zend/tests/interface_constructor_prototype_002.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

Update versions for PHP 8.2.19RC1
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System
