Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

Remove useless NULL-check in phpdbg_print (#13853)
  sapi/phpdbg/phpdbg_print.c
Labels: SAPI: phpdbg

Add missing show_output to test after merge of e7462bff19228162a21ccc6dd248b0dbffc15517
  ext/zend_test/tests/observer_frameless.phpt
Labels: Extension: zend_test

Merge declarations and assignments in php_dom_iterator_move_forward()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Simplify control flow for special case of php_dom_iterator_move_forward()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Get rid of impossible error branch
  ext/dom/dom_iterators.c
Labels: Extension: dom

Optimize levenshtein a bit for memory usage (#13830)
  ext/standard/levenshtein.c
Labels: Extension: standard

ext/pcntl: pcntl_unshare minor error message clarification (for EINVAL).
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_unshare_04.phpt
Labels: Extension: pcntl

zend_alloc trailing 1 calculation helper ZEND_ATTRIBUTE_CONST addition.
  Zend/zend_alloc.c
Labels: Category: Engine

Express php_dom_libxml_notation_iter() using php_dom_libxml_hash_iter()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Don't use a heap allocation to track the current item
  ext/dom/dom_iterators.c
Labels: Extension: dom

Cleanup create_notation()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Remove duplicated code for entity vs notation handling
  ext/dom/dom_iterators.c
  ext/dom/namednodemap.c
  ext/dom/nodelist.c
  ext/dom/php_dom.h
Labels: Extension: dom

Remove random newline
  ext/dom/dom_iterators.c
Labels: Extension: dom

Factor out common "first container's child" code
  ext/dom/dom_iterators.c
  ext/dom/nodelist.c
  ext/dom/php_dom.h
Labels: Extension: dom

Fix argument signedness of dom_sanity_check_node_list_types()
  ext/dom/parentnode.c
Labels: Extension: dom

ext/pcntl: pcntl_unshare minor error message clarification (for EINVAL). (#13872)
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_unshare_04.phpt
Labels: Extension: pcntl

fix group/passwd api misuse if ZTS
  ext/standard/filestat.c
Labels: Extension: standard

Fix test that behaves differently w and w/o opcache
  Zend/tests/frameless_jmp_004.phpt
Labels: none

zend_alloc trailing 1 calculation helper ZEND_ATTRIBUTE_CONST addition. (#13874)
  Zend/zend_alloc.c
Labels: Category: Engine

Factor out common "first container's child" code
  ext/dom/dom_iterators.c
  ext/dom/nodelist.c
  ext/dom/php_dom.h
Labels: Extension: dom

Express php_dom_libxml_notation_iter() using php_dom_libxml_hash_iter()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Simplify control flow for special case of php_dom_iterator_move_forward()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Merge declarations and assignments in php_dom_iterator_move_forward()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Don't use a heap allocation to track the current item
  ext/dom/dom_iterators.c
Labels: Extension: dom

Remove random newline
  ext/dom/dom_iterators.c
Labels: Extension: dom

Get rid of impossible error branch
  ext/dom/dom_iterators.c
Labels: Extension: dom

Cleanup create_notation()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Remove duplicated code for entity vs notation handling
  ext/dom/dom_iterators.c
  ext/dom/namednodemap.c
  ext/dom/nodelist.c
  ext/dom/php_dom.h
Labels: Extension: dom

Remove broken check in var_unserializer (#13852)
  ext/standard/var_unserializer.re
Labels: Extension: standard

Fix argument signedness of dom_sanity_check_node_list_types() (#13875)
  ext/dom/parentnode.c
Labels: Extension: dom

Fix shift out of bounds on 32-bit non-fast-path platforms
  ext/mysqlnd/mysqlnd_portability.h
Labels: Extension: mysqlnd

ext/pcntl: adding pcntl_setns for Linux > 5.3
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
Labels: Category: Build System, Extension: pcntl

stub
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
Labels: Extension: pcntl

makedist: Reset tar timestamps to the commit date
  scripts/dev/makedist
Labels: Category: Build System

test
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_setns_basic.phpt
  ext/pcntl/tests/pcntl_setns_newpid.phpt
Labels: Extension: pcntl

Update IR
  ext/opcache/jit/ir/ir.c
  ext/opcache/jit/ir/ir.h
  ext/opcache/jit/ir/ir_aarch64.dasc
  ext/opcache/jit/ir/ir_builder.h
  ext/opcache/jit/ir/ir_cfg.c
  ext/opcache/jit/ir/ir_emit.c
  ext/opcache/jit/ir/ir_ra.c
  ext/opcache/jit/ir/ir_sccp.c
  ext/opcache/jit/ir/ir_x86.dasc
Labels: Extension: opcache

Update IR
  ext/opcache/jit/ir/ir_cfg.c
Labels: Extension: opcache

makedist: Reset tar timestamps to the commit date (#13879)
  scripts/dev/makedist
Labels: Category: Build System

Fix iteration of data class by-ref
  Zend/tests/data_classes/iter.phpt
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

Temporarily disable jit for benchmark
  benchmark/benchmark.php
Labels: none
