Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

Fix GH-13519: another attempt after the faulty fix.
  ext/pgsql/pgsql.c
  ext/pgsql/tests/gh13519.phpt
Labels: Extension: pgsql

Fix GH-13519: another attempt after the faulty fix.
  NEWS
  ext/pgsql/pgsql.c
  ext/pgsql/tests/gh13519.phpt
Labels: Extension: pgsql

Changed Z_PARAM_FUNC to Z_PARAM_FUNC_NO_TRAMPOLINE_FREE
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

Be specific for the namespace of the id attribute
  ext/dom/html5_parser.c
Labels: Extension: dom

Get rid of error gotos in HTML5 parse conversion
  ext/dom/html5_parser.c
Labels: Extension: dom

Improve performance of text node allocation by marking the text node construction as always inline
  ext/dom/html5_parser.c
Labels: Extension: dom

Fix one more address round and rename namespace to Odbc
  UPGRADING
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/tests/bug78470.phpt
  ext/odbc/tests/bug78473.phpt
  ext/odbc/tests/odbc_close_001.phpt
  ext/odbc/tests/odbc_close_all_001.phpt
  ext/odbc/tests/odbc_columnprivileges_001.phpt
  ext/odbc/tests/odbc_free_result_001.phpt
  ext/odbc/tests/odbc_tables_001.phpt
Labels: Extension: odbc

Fix casing of NULL default values
  ext/ldap/ldap.stub.php
  ext/ldap/ldap_arginfo.h
Labels: Extension: ldap

Use the new FCC API
  ext/pdo_sqlite/pdo_sqlite.c
  ext/pdo_sqlite/php_pdo_sqlite_int.h
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

Improve performance of text node allocation by marking the text node construction as always inline
  ext/dom/html5_parser.c
Labels: Extension: dom

Get rid of error gotos in HTML5 parse conversion
  ext/dom/html5_parser.c
Labels: Extension: dom

ext/sockets: adding SO_NOSIGPIPE constant.
  UPGRADING
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

Be specific for the namespace of the id attribute (#14060)
  ext/dom/html5_parser.c
Labels: Extension: dom

ext/sockets: adding SO_NOSIGPIPE constant.
  NEWS
  UPGRADING
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

[ci skip] ext/sockets: followup on #14065. (#14066)
  NEWS
  UPGRADING
Labels: none

Adjust zlog warning and error message in kqueue (#14053)
  sapi/fpm/fpm/events/kqueue.c
Labels: SAPI: fpm

[ci skip] ext/sockets: followup on #14065.
  NEWS
  UPGRADING
Labels: none

Fix GH-14067: Check for ZEND_MOD_CONFLICTS in zend_startup_module_ex
  Zend/zend_API.c
Labels: Category: Engine

Fix last code review comments
  ext/odbc/php_odbc.c
Labels: Extension: odbc

Migrate ext/odbc resources to opaque objects (#12040)
  UPGRADING
  Zend/Optimizer/zend_func_infos.h
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
  ext/odbc/tests/bug78470.phpt
  ext/odbc/tests/bug78473.phpt
  ext/odbc/tests/odbc_close_001.phpt
  ext/odbc/tests/odbc_columnprivileges_001.phpt
  ext/odbc/tests/odbc_free_result_001.phpt
  ext/odbc/tests/odbc_non_persistent_connection_reuse.phpt
  ext/odbc/tests/odbc_persistent_close_all.phpt
  ext/odbc/tests/odbc_tables_001.phpt
Labels: Category: Optimizer, Extension: odbc

ext/openssl: Add option to load legacy algorithm provider
  NEWS
  ext/openssl/config0.m4
  ext/openssl/openssl.c
Labels: Category: Build System, Extension: openssl

Add also zend_extensions() check
  Zend/zend_API.c
Labels: Category: Engine

Check for possible allocation failures
  ext/openssl/openssl.c
Labels: Extension: openssl

Update openssl_arginfo.h
  ext/openssl/openssl_arginfo.h
Labels: Extension: openssl

Skip online tests by default
  run-tests.php
Labels: none

Replace xhtml image with base64 data
  sapi/fpm/status.html.in
Labels: SAPI: fpm

ext/gettext: update arguments handling.
  ext/gettext/gettext.c
Labels: Extension: gettext

fix signatures
  ext/gettext/gettext.stub.php
  ext/gettext/gettext_arginfo.h
Labels: Extension: gettext

changes from feedback
  ext/gettext/gettext.c
  ext/gettext/tests/gettext_textdomain-retval.phpt
Labels: Extension: gettext

Avoid additional allocation in Document\createElementNS
  ext/dom/document.c
Labels: Extension: dom

use UNEXPECTED
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/firebird_statement.c
  ext/pdo_firebird/pdo_firebird.c
Labels: Extension: pdo_firebird

use EXPECTED and UNEXPECTED
  ext/pdo/pdo.c
  ext/pdo/pdo_dbh.c
  ext/pdo/pdo_sqlstate.c
  ext/pdo/pdo_stmt.c
Labels: Extension: pdo (core)

Avoid additional allocation in Document\createElementNS (#14071)
  ext/dom/document.c
Labels: Extension: dom

ext/pcntl: porting pcntl cpu affinity api to netbsd.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

ext/pcntl: porting pcntl cpu affinity api to netbsd. (#14056)
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

Fix __SANITIZE_ADDRESS__ redeclaration warning
  Zend/zend_portability.h
Labels: Category: Engine

Fix -Walloc-size warning
  Zend/zend_inheritance.c
Labels: Category: Engine

ext/intl: IntlDateFormatter::parse adds new optional argument.
  ext/intl/dateformat/dateformat.stub.php
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/dateformat/dateformat_parse.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/gh13766.phpt
Labels: Extension: intl

alternative from feedback for comparison.
  ext/intl/dateformat/dateformat.stub.php
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/dateformat/dateformat_parse.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/gh13766.phpt
Labels: Extension: intl

changes from feedback
  ext/intl/dateformat/dateformat.stub.php
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/dateformat/dateformat_parse.c
  ext/intl/tests/gh13766.phpt
Labels: Extension: intl
