Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

Adjust function redecl messages to contain "function"
  Zend/tests/function_redecl.phpt
  Zend/tests/name_collision_08.phpt
  Zend/tests/use_function/define_imported.phpt
  Zend/zend_compile.c
  ext/opcache/tests/bug73583.phpt
  ext/opcache/zend_accelerator_util_funcs.c
  ext/pcre/tests/preg_replace_callback_fatal_error_leak.phpt
Labels: Category: Engine, Extension: opcache, Extension: pcre

PHP-8.2 is now for PHP 8.2.20-dev
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

Update versions for PHP 8.3.7RC1
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

PHP 8.3 is now for PHP-8.3.8-dev
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

Update IR
  ext/opcache/jit/ir/ir.c
  ext/opcache/jit/ir/ir.h
  ext/opcache/jit/ir/ir_aarch64.dasc
  ext/opcache/jit/ir/ir_check.c
  ext/opcache/jit/ir/ir_fold.h
  ext/opcache/jit/ir/ir_private.h
  ext/opcache/jit/ir/ir_ra.c
  ext/opcache/jit/ir/ir_x86.dasc
Labels: Extension: opcache

ext/gmp: Improve error message
  ext/gmp/gmp.c
  ext/gmp/tests/construct.phpt
  ext/gmp/tests/gmp_init.phpt
Labels: Extension: gmp

ext/gmp: Fix leading whitespace before explicit octal prefix
  ext/gmp/gmp.c
  ext/gmp/tests/gmp_init_leading_spaces.phpt
Labels: Extension: gmp

ext/gmp: Fix leading whitespace before explicit octal prefix
  ext/gmp/gmp.c
  ext/gmp/tests/gmp_init_leading_spaces.phpt
Labels: Extension: gmp

ext/gmp: Improve error message
  ext/gmp/gmp.c
  ext/gmp/tests/construct.phpt
  ext/gmp/tests/gmp_init.phpt
Labels: Extension: gmp

ext/mbstring: Pass string length to _php_mb_ini_mbstring_http_output_set()
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

ext/mbstring: Always pass length to php_mb_get_encoding_or_pass()
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

ext/mbstring: Check encoding passed to mb_http_output() has no null bytes
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

UPGRADING
  UPGRADING
Labels: none

Fix GH-13815: mb_trim() inaccurate $characters default value (#13820)
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.stub.php
  ext/mbstring/mbstring_arginfo.h
  ext/mbstring/tests/gh13815.phpt
Labels: Extension: mbstring

[ci skip] UPGRADING
  UPGRADING
Labels: none

ext/mbstring: Always pass length to php_mb_get_encoding_or_pass()
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

ext/mbstring: Pass string length to _php_mb_ini_mbstring_http_output_set()
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

ext/mbstring: Check encoding passed to mb_http_output() has no null bytes
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

UPGRADING
  UPGRADING
Labels: none

Get rid of remaining usages of zval_try_get_string()
  ext/dom/document.c
  ext/dom/node.c
Labels: Extension: dom

New fixes
  ext/odbc/php_odbc.c
  ext/odbc/tests/odbc_non_persistent_connection_reuse.phpt
  ext/odbc/tests/odbc_persistent_close_all.phpt
Labels: Extension: odbc

Get rid of remaining usages of zval_try_get_string() (#14041)
  ext/dom/document.c
  ext/dom/node.c
Labels: Extension: dom

Adding PHP_FUNCTION apache_connection_stream to expose ap_get_conn_socket
  .DS_Store
  .gitignore
  ext/.DS_Store
  ext/standard/php_fopen_wrapper.c
  sapi/apache2handler/php_functions.c
  sapi/apache2handler/php_functions_arginfo.h
Labels: Extension: standard, SAPI: apache2handler

Adding PHP_FUNCTION apache_connection_stream to expose ap_get_conn_socket for CGI WebSockets
  sapi/apache2handler/php_functions.c
  sapi/apache2handler/php_functions_arginfo.h
Labels: SAPI: apache2handler

Added the apache_connection_stream() function for CGI WebSockets
  NEWS
Labels: none

Cleaning commit, removing import
  ext/standard/php_fopen_wrapper.c
  sapi/apache2handler/php_functions.c
Labels: Extension: standard, SAPI: apache2handler

updating branch name
  sapi/apache2handler/php_functions.c
Labels: SAPI: apache2handler

Fix one leak
  ext/odbc/php_odbc.c
Labels: Extension: odbc

Move instanceof check inside ZEND_DEBUG guard
  ext/odbc/php_odbc.c
Labels: Extension: odbc

Remove unused always-enabled extension headers
  ext/hash/hash.c
  ext/standard/array.c
  ext/standard/browscap.c
  main/SAPI.c
Labels: Extension: hash, Extension: standard

untracking .DS_Store
  ext/.DS_Store
Labels: none

untracking .DS_Store
  .DS_Store
  .gitignore
Labels: none

error handling
  sapi/apache2handler/php_functions.c
Labels: SAPI: apache2handler

order of ZEND_PARSE_PARAMETERS_NONE
  sapi/apache2handler/php_functions.c
Labels: SAPI: apache2handler

Update IR
  ext/opcache/jit/ir/ir.c
  ext/opcache/jit/ir/ir_aarch64.dasc
  ext/opcache/jit/ir/ir_cfg.c
  ext/opcache/jit/ir/ir_fold.h
  ext/opcache/jit/ir/ir_gcm.c
  ext/opcache/jit/ir/ir_private.h
  ext/opcache/jit/ir/ir_sccp.c
  ext/opcache/jit/ir/ir_x86.dasc
Labels: Extension: opcache

Hopefully fix all memleaks
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
  ext/odbc/tests/odbc_close_001.phpt
Labels: Extension: odbc

Add support for Curve25519 + Curve448 based keys
  ext/openssl/openssl.c
  ext/openssl/openssl.stub.php
  ext/openssl/tests/ed25519.phpt
  ext/openssl/tests/ed448.phpt
  ext/openssl/tests/openssl_pkey_derive-x25519.phpt
  ext/openssl/tests/openssl_pkey_derive-x448.phpt
Labels: Extension: openssl

Adjust zlog warning and error message in kqueue
  sapi/fpm/fpm/events/kqueue.c
Labels: SAPI: fpm

PHP CLISERVER apache_connection_stream function
  sapi/cli/php_cli_server.c
Labels: SAPI: cli

Update IR
  ext/opcache/jit/ir/ir_cfg.c
  ext/opcache/jit/ir/ir_private.h
  ext/opcache/jit/ir/ir_sccp.c
  ext/opcache/jit/ir/ir_x86.dasc
Labels: Extension: opcache

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*
