Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

Update IR
  ext/opcache/jit/ir/ir_sccp.c
Labels: Extension: opcache

ext/reflection: Add test for ReflectionParameter::getDeclaringFunction() with a ReflectionMethod creation from a Closure
  ext/reflection/tests/closures_bound_getDeclaringFunction.phpt
Labels: Extension: reflection

Make documentURI and URL not readonly (#13982)
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

Buffer size is now checked before memcmp
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/gh13991.phpt
Labels: Extension: pdo_sqlite

address comments
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

fixed test
  ext/pdo_sqlite/tests/gh13991.phpt
Labels: Extension: pdo_sqlite

remove `-1`
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

use strcmp
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

Add missing COMPILE_IGNORE_OTHER_FILES check for static calls
  Zend/zend_compile.c
Labels: Category: Engine

ext/reflection: Add test for ReflectionParameter::getDeclaringFunction() with a ReflectionMethod creation from a Closure (#13987)
  ext/reflection/tests/closures_bound_getDeclaringFunction.phpt
Labels: Extension: reflection

Add missing COMPILE_IGNORE_OTHER_FILES check for static calls
  NEWS
  Zend/zend_compile.c
Labels: Category: Engine

Implement reflection constant
  UPGRADING
  Zend/zend_constants.c
  Zend/zend_constants.h
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionConstant_double_construct.phpt
  ext/reflection/tests/ReflectionConstant_dump.phpt
  ext/reflection/tests/ReflectionConstant_getName.phpt
  ext/reflection/tests/ReflectionConstant_getValue.phpt
  ext/reflection/tests/ReflectionConstant_inexistent.phpt
  ext/reflection/tests/ReflectionConstant_isDeprecated.phpt
  ext/reflection/tests/ReflectionConstant_ns.phpt
  ext/reflection/tests/ReflectionExtension_getClasses_basic.phpt
  sapi/cli/tests/006.phpt
Labels: Category: Engine, Extension: reflection, SAPI: cli

Fix GH-13984: Buffer size is now checked before memcmp (#13991)
  NEWS
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/gh13991.phpt
Labels: Extension: pdo_sqlite

Make /ping of php-fpm work again
  sapi/fpm/fpm/fpm_conf.c
Labels: SAPI: fpm

Use AC_SUBST instead of PHP_SUBST_OLD where possible
  configure.ac
  ext/odbc/config.m4
  sapi/embed/config.m4
  sapi/fpm/config.m4
Labels: Category: Build System, Extension: odbc, SAPI: fpm

Substitute PEAR_INSTALLDIR only when enabling PEAR
  configure.ac
Labels: Category: Build System

rudimentary midipix port (#13896)
  Zend/asm/jump_x86_64_ms_pe_gas.S
  Zend/asm/make_x86_64_ms_pe_gas.S
  build/php.m4
  configure.ac
  ext/opcache/config.m4
  ext/random/csprng.c
Labels: Category: Build System, Extension: opcache, Extension: random

Describe what you need to ask systems@php.net for
  docs/release-process.md
Labels: none

Split out tasks from requested info, and fix typo
  docs/release-process.md
Labels: none

Resolve relative types at compile time when possible
  Zend/tests/magic_methods_021.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_relative_class_parent_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_relative_class_self_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_relative_class_static_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation1.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation2.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation3.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation4.phpt
  Zend/zend_compile.c
  Zend/zend_string.h
  Zend/zend_types.h
Labels: Category: Engine

Add tests for relative class types
  Zend/tests/type_declarations/relative_class_types/invalid_types/invalid_parent_type_outside_class.phpt
  Zend/tests/type_declarations/relative_class_types/invalid_types/invalid_self_type_outside_class.phpt
  Zend/tests/type_declarations/relative_class_types/invalid_types/invalid_static_type_outside_class.phpt
  Zend/tests/type_declarations/relative_class_types/relative_type_in_closures.phpt
Labels: none

Support for resolving self/parent/static in ReflectionType
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.h
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionExtension_getClasses_basic.phpt
  ext/reflection/tests/bug80190.phpt
  ext/reflection/tests/types/relative_class_types_in_classes.phpt
  ext/reflection/tests/types/relative_class_types_in_classes_parameters1.phpt
  ext/reflection/tests/types/relative_class_types_in_classes_parameters2.phpt
  ext/reflection/tests/types/relative_class_types_in_classes_parameters3.phpt
  ext/reflection/tests/types/relative_class_types_in_classes_parameters4.phpt
  ext/reflection/tests/types/relative_class_types_in_interfaces.phpt
  ext/reflection/tests/types/unresolved_relative_class_types.phpt
  ext/reflection/tests/types/unresolved_relative_class_types_union_type.phpt
Labels: Extension: reflection

Only allocate new arg_infos if types are being resolved
  Zend/zend_inheritance.c
Labels: Category: Engine

More tests
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/classes_return_type.phpt
  ext/reflection/tests/types/relative_class_types/classes_variadic_parameter1_simple.phpt
  ext/reflection/tests/types/relative_class_types/interfaces_return_type.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_return_type.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameter1_simple.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameters4_dnf.phpt
Labels: Extension: reflection

Resolve trait relative class types when added to a class
  Zend/tests/traits/bug80055.phpt
  Zend/tests/traits/trait_parent_type_in_class_no_parent.phpt
  Zend/tests/traits/trait_parent_type_in_class_no_parent_variation2.phpt
  Zend/tests/traits/trait_parent_type_in_class_no_parent_variation3.phpt
  Zend/tests/traits/trait_parent_type_in_class_no_parent_variation4.phpt
  Zend/zend_inheritance.c
  ext/reflection/tests/types/relative_class_types_in_classes_variadic_parameter1.phpt
  ext/reflection/tests/types/relative_class_types_in_trait_used_in_classes.phpt
  ext/reflection/tests/types/relative_class_types_in_trait_used_in_classes_parameters.phpt
  ext/reflection/tests/types/relative_class_types_in_trait_used_in_classes_parameters2.phpt
  ext/reflection/tests/types/relative_class_types_in_trait_used_in_classes_parameters3.phpt
  ext/reflection/tests/types/relative_class_types_in_trait_used_in_classes_parameters4.phpt
Labels: Category: Engine, Extension: reflection

Address minor review comments
  Zend/zend_compile.c
  Zend/zend_inheritance.c
  Zend/zend_types.h
  ext/reflection/php_reflection.c
Labels: Category: Engine, Extension: reflection

Add eval test
  ext/reflection/tests/types/relative_class_types/eval_trait_used_in_classes_parameters1_simple.phpt
Labels: Extension: reflection

Only allocate new zend_type_list if types are being resolved
  Zend/zend_inheritance.c
Labels: Category: Engine

Add test in multiple distinct unrelated classes
  ext/reflection/tests/types/relative_class_types/trait_used_in_2_classes_parameters1_simple.phpt
Labels: Extension: reflection

Change function name
  Zend/zend_inheritance.c
Labels: Category: Engine

Drop return for engine compiler error bail
  Zend/zend_inheritance.c
Labels: Category: Engine

Fix memory leak when calling constructor manually
  ext/reflection/php_reflection.c
  ext/reflection/tests/ReflectionFunction_construct_recall.phpt
Labels: Extension: reflection

Add tests and try to resolve bound closure
  ext/reflection/php_reflection.c
  ext/reflection/tests/types/relative_class_types/closure_bound_resolvable_relative_types.phpt
  ext/reflection/tests/types/relative_class_types/closure_unresolvable_relative_types.phpt
  ext/reflection/tests/types/relative_class_types/traits_unresolvable_relative_types.phpt
Labels: Extension: reflection

Fix resolution for closures by propagating Closure object
  ext/reflection/php_reflection.c
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/classes_by_ref_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/classes_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/classes_variadic_parameter1_simple.phpt
  ext/reflection/tests/types/relative_class_types/closure_bound_resolvable_relative_types.phpt
  ext/reflection/tests/types/relative_class_types/closure_bound_resolvable_relative_types_arnaud.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_2_classes_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_by_ref_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters1_simple.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_parameters4_dnf.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameter1_simple.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameters2_nullable.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameters3_union.phpt
  ext/reflection/tests/types/relative_class_types/trait_used_in_classes_variadic_parameters4_dnf.phpt
Labels: Extension: reflection

Solve bound closure
  ext/reflection/php_reflection.c
  ext/reflection/tests/types/relative_class_types/closure_bound_resolvable_relative_types.phpt
  ext/reflection/tests/types/relative_class_types/closure_bound_unresolvable_parent_type.phpt
Labels: Extension: reflection

Remove self/parent as known zend_strings
  Zend/zend_string.h
Labels: Category: Engine

Remove object copy which is not need anymore
  ext/reflection/php_reflection.c
Labels: Extension: reflection

Add test failing assertion about memory being freed
  Zend/tests/type_declarations/relative_class_types/relative_type_in_evaled_trait.phpt
Labels: none

Add more tests
  ext/reflection/php_reflection.c
  ext/reflection/tests/types/relative_class_types/closure_automatic_bound_class.phpt
  ext/reflection/tests/types/relative_class_types/closures_bound_getDeclaringFunction_type_resolution.phpt
Labels: Extension: reflection

Address review comments
  Zend/tests/type_declarations/intersection_types/resolved_relative_type_valid.phpt
  ext/reflection/php_reflection.c
  ext/reflection/tests/types/relative_class_types/closure_bound_resolvable_relative_types_002.phpt
  ext/reflection/tests/types/relative_class_types/closure_unresolvable_relative_types.phpt
  ext/reflection/tests/types/unresolved_relative_class_types.phpt
  ext/reflection/tests/types/unresolved_relative_class_types_union_type.phpt
Labels: Extension: reflection
