Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

ext/posix: changing helpers return to zend_result.
  ext/posix/posix.c
Labels: Extension: posix

rudimentary midipix port
  Zend/asm/jump_x86_64_ms_pe_gas.S
  Zend/asm/make_x86_64_ms_pe_gas.S
  build/php.m4
  configure.ac
  ext/opcache/config.m4
  ext/random/csprng.c
Labels: Category: Build System, Extension: opcache, Extension: random

ext/posix: changing helpers return to zend_result. (#13957)
  ext/posix/posix.c
Labels: Extension: posix

Changed 1.1 case to 1.0 for session_start_read_and_close.phpt
  ext/session/tests/session_start_read_and_close.phpt
Labels: Extension: session

[ci skip] UPGRADING
  UPGRADING
Labels: none

ext/session: Add test for session_start with read_and_close option (#13799)
  ext/session/tests/session_start_read_and_close.phpt
Labels: Extension: session

Implement HTMLCollection::namedItem()
  ext/dom/attr.c
  ext/dom/config.m4
  ext/dom/config.w32
  ext/dom/html_collection.c
  ext/dom/php_dom.h
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/modern/html/interactions/HTMLCollection_named_reads.phpt
Labels: Category: Build System, Extension: dom

Refactor dom_modern_nodelist_get_index()
  ext/dom/nodelist.c
Labels: Extension: dom

Split off nodelist header components to nodelist.h
  ext/dom/nodelist.c
  ext/dom/nodelist.h
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

Move node list dimension handling to a separate file
  ext/dom/nodelist.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

Support named items in dimension handling for HTMLCollection
  ext/dom/html_collection.c
  ext/dom/html_collection.h
  ext/dom/nodelist.c
  ext/dom/php_dom.c
  ext/dom/tests/modern/html/interactions/HTMLCollection_dimension_errors.phpt
  ext/dom/tests/modern/html/interactions/HTMLCollection_named_reads.phpt
Labels: Extension: dom

Factor out reading an attribute value
  ext/dom/attr.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

Implement HTMLCollection::namedItem()
  ext/dom/attr.c
  ext/dom/config.m4
  ext/dom/config.w32
  ext/dom/html_collection.c
  ext/dom/php_dom.h
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/modern/html/interactions/HTMLCollection_named_reads.phpt
Labels: Category: Build System, Extension: dom

Move node list dimension handling to a separate file
  ext/dom/nodelist.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

Refactor dom_modern_nodelist_get_index()
  ext/dom/nodelist.c
Labels: Extension: dom

Split off nodelist header components to nodelist.h
  ext/dom/nodelist.c
  ext/dom/nodelist.h
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

Support named items in dimension handling for HTMLCollection
  ext/dom/html_collection.c
  ext/dom/html_collection.h
  ext/dom/nodelist.c
  ext/dom/php_dom.c
  ext/dom/tests/modern/html/interactions/HTMLCollection_dimension_errors.phpt
  ext/dom/tests/modern/html/interactions/HTMLCollection_named_reads.phpt
Labels: Extension: dom

Fix file_get_contents() on Windows fails with "errno=22 Invalid argument"
  NEWS
  ext/standard/tests/file/file_get_contents_file_put_contents_5gb.phpt
  main/streams/plain_wrapper.c
Labels: Extension: standard

RFC: Add bcfloor, bcceil and bcround to BCMath
  Zend/Optimizer/zend_func_infos.h
  ext/bcmath/bcmath.c
  ext/bcmath/bcmath.stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/bcmath/config.m4
  ext/bcmath/config.w32
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/floor_or_ceil.c
  ext/bcmath/libbcmath/src/round.c
  ext/bcmath/php_bcmath.h
  ext/bcmath/tests/bcceil.phpt
  ext/bcmath/tests/bcfloor.phpt
  ext/bcmath/tests/bcround.phpt
Labels: Category: Optimizer, Category: Build System, Extension: bcmath

Address review comments
  ext/bcmath/libbcmath/src/floor_or_ceil.c
  ext/bcmath/libbcmath/src/round.c
  ext/bcmath/tests/bcround.phpt
Labels: Extension: bcmath

add value error case to tests
  ext/bcmath/tests/bcceil.phpt
  ext/bcmath/tests/bcfloor.phpt
  ext/bcmath/tests/bcround.phpt
Labels: Extension: bcmath

Address comments 1
  ext/bcmath/libbcmath/src/floor_or_ceil.c
  ext/bcmath/libbcmath/src/round.c
Labels: Extension: bcmath

splitted the test
  ext/bcmath/tests/bcceil.phpt
  ext/bcmath/tests/bcceil_error.phpt
  ext/bcmath/tests/bcfloor.phpt
  ext/bcmath/tests/bcfloor_error.phpt
  ext/bcmath/tests/bcround.phpt
  ext/bcmath/tests/bcround_away_from_zero.phpt
  ext/bcmath/tests/bcround_ceiling.phpt
  ext/bcmath/tests/bcround_early_return.phpt
  ext/bcmath/tests/bcround_error.phpt
  ext/bcmath/tests/bcround_floor.phpt
  ext/bcmath/tests/bcround_half_down.phpt
  ext/bcmath/tests/bcround_half_even.phpt
  ext/bcmath/tests/bcround_half_odd.phpt
  ext/bcmath/tests/bcround_half_up.phpt
  ext/bcmath/tests/bcround_test_helper.inc
  ext/bcmath/tests/bcround_toward_zero.phpt
Labels: Extension: bcmath

Fixed test expectations
  ext/bcmath/tests/bcceil.phpt
  ext/bcmath/tests/bcfloor.phpt
Labels: Extension: bcmath

Fixed forgetting to correct the test
  ext/bcmath/tests/bcround_toward_zero.phpt
Labels: Extension: bcmath

Fixed the comment
  ext/bcmath/libbcmath/src/round.c
Labels: Extension: bcmath

Changed expected value to STR_PAD_LEFT
  ext/bcmath/tests/bcceil.phpt
  ext/bcmath/tests/bcfloor.phpt
  ext/bcmath/tests/bcround_away_from_zero.phpt
  ext/bcmath/tests/bcround_ceiling.phpt
  ext/bcmath/tests/bcround_early_return.phpt
  ext/bcmath/tests/bcround_floor.phpt
  ext/bcmath/tests/bcround_half_down.phpt
  ext/bcmath/tests/bcround_half_even.phpt
  ext/bcmath/tests/bcround_half_odd.phpt
  ext/bcmath/tests/bcround_half_up.phpt
  ext/bcmath/tests/bcround_test_helper.inc
Labels: Extension: bcmath

Changed to PHP license
  ext/bcmath/libbcmath/src/floor_or_ceil.c
  ext/bcmath/libbcmath/src/round.c
Labels: Extension: bcmath

address comment
  ext/bcmath/libbcmath/src/floor_or_ceil.c
  ext/bcmath/libbcmath/src/round.c
Labels: Extension: bcmath

add pad
  ext/bcmath/tests/bcround_early_return.phpt
Labels: Extension: bcmath

Separated round mode into separate header file
  ext/standard/php_math.h
  ext/standard/php_math_round_mode.h
Labels: Extension: standard

Set streams NEWS category for file_get_contents fix
  NEWS
Labels: none

fixed config.w32
  ext/bcmath/config.w32
Labels: Category: Build System, Extension: bcmath

Add test for performing special operations on XSLTProcessor properties
  ext/xsl/tests/special_operations_with_properties.phpt
Labels: Extension: xsl

Make (DOM)XPath::quote only accept strings without NULL bytes
  ext/dom/xpath.c
Labels: Extension: dom

Add test for performing special operations on XSLTProcessor properties (#13959)
  ext/xsl/tests/special_operations_with_properties.phpt
Labels: Extension: xsl

ext/pcntl: pcntl_getqos_class/pcntl_setqos_class addition.
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_qosclass.phpt
Labels: Category: Build System, Extension: pcntl

Fix GH-13806: openssl_x509_parse_basic test fails with OpenSSL 3.2+
  ext/openssl/tests/openssl_x509_parse_basic_openssl32.phpt
Labels: Extension: openssl

Add test
  ext/dom/tests/gh13960.phpt
Labels: Extension: dom

Make (DOM)XPath::quote only accept strings without NULL bytes (#13960)
  ext/dom/tests/gh13960.phpt
  ext/dom/xpath.c
Labels: Extension: dom

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*
