Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

Fix some typos on the reference counting docs page
  docs/source/core/data-structures/reference-counting.rst
Labels: none

Use fast ZPP in nodelist.c
  ext/dom/nodelist.c
Labels: Extension: dom

Fix narrowing warning
  ext/dom/nodelist.c
  ext/dom/nodelist.h
Labels: Extension: dom

Fix crashes when entity declaration is removed while still having entity references
  NEWS
  ext/dom/dom_properties.h
  ext/dom/entityreference.c
  ext/dom/nodelist.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/entity_reference_stale_01.phpt
  ext/dom/tests/entity_reference_stale_02.phpt
Labels: Extension: dom

Fix references not handled correctly in C14N
  NEWS
  ext/dom/node.c
  ext/dom/tests/DOMNode_C14N_references.phpt
Labels: Extension: dom

Add GC_PERSISTENT_LOCAL flag for ODBC structures (#14094)
  ext/odbc/php_odbc.c
Labels: Extension: odbc

Fix crash when calling childNodes next() when iterator is exhausted
  NEWS
  ext/dom/dom_iterators.c
  ext/dom/tests/childNodes_current_crash.phpt
Labels: Extension: dom

ext/sqlite3: Use new F ZPP modifier
  ext/sqlite3/sqlite3.c
  ext/sqlite3/tests/sqlite3_trampoline_create_aggregate_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createcollation_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createfunction_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_setauthorizer_no_leak.phpt
Labels: Extension: sqlite3

Add extra test for stale entity references
  ext/dom/tests/entity_reference_stale_03.phpt
Labels: Extension: dom

Initialize FCI/FCC
  ext/sqlite3/sqlite3.c
  ext/sqlite3/tests/sqlite3_trampoline_create_aggregate_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createcollation_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createfunction_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_setauthorizer_null.phpt
Labels: Extension: sqlite3

Fix DOM property handler return types
  ext/dom/dom_properties.h
  ext/dom/entityreference.c
Labels: Extension: dom

Fix Windows failure
  ext/dom/dom_properties.h
  ext/dom/entityreference.c
Labels: Extension: dom

[ci skip] Fix typo in NEWS
  NEWS
Labels: none

Fix tests for glibc 2.39
  ext/standard/tests/strings/setlocale_variation3.phpt
  ext/standard/tests/strings/setlocale_variation4.phpt
  ext/standard/tests/strings/setlocale_variation5.phpt
Labels: Extension: standard

Fix Windows failure (#14096)
  ext/dom/dom_properties.h
  ext/dom/entityreference.c
Labels: Extension: dom

ext/curl: Convert handlers.sshhostkey to just be a FCC
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/tests/curl_setopt_callables.phpt
Labels: Extension: curl

ext/curl: Convert handlers.xferinfo to just be a FCC
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/tests/curl_copy_handle_xferinfo.phpt
  ext/curl/tests/curl_setopt_callables.phpt
Labels: Extension: curl

ext/curl: Convert handlers.progress to just be a FCC
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/tests/curl_copy_handle_basic_008.phpt
  ext/curl/tests/curl_progress.phpt
  ext/curl/tests/curl_setopt_callables.phpt
Labels: Extension: curl

ext/curl: Convert handlers.server_push to just be a FCC
  ext/curl/curl_private.h
  ext/curl/multi.c
  ext/curl/tests/curl_multi_setopt_callables.phpt
  ext/curl/tests/curl_pushfunction_nonexistent_callback.phpt
Labels: Extension: curl

ext/curl: Remove workaround for old libcurl
  ext/curl/interface.c
Labels: Extension: curl

Fix test due to unavailable SSH_HOSTKEY option
  ext/curl/tests/curl_setopt_SSH_HOSTKEY_callable.phpt
  ext/curl/tests/curl_setopt_callables.phpt
Labels: Extension: curl

ext/curl: Convert php_curl_read to just use FCC without a function name zval
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/tests/curl_setopt_callables.phpt
Labels: Extension: curl

ext/curl: Convert php_curl_write to just use FCC without a function name zval
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/tests/curl_setopt_callables.phpt
Labels: Extension: curl

ext/curl: Convert handlers.fnmatch to just be a FCC
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/tests/curl_setopt_callables.phpt
Labels: Extension: curl

ext/curl: Create macros to codegen the handling of callable options
  ext/curl/interface.c
Labels: Extension: curl

Add trampoline tests
  ext/curl/tests/curl_fnmatch_trampoline.phpt
  ext/curl/tests/curl_progress_trampoline.phpt
  ext/curl/tests/curl_pushfunction_trampoline.phpt
  ext/curl/tests/curl_read_callback.phpt
  ext/curl/tests/curl_read_trampoline.phpt
  ext/curl/tests/curl_ssh_hostkey_invalid_callable.phpt
  ext/curl/tests/curl_ssh_hostkey_trampoline.phpt
  ext/curl/tests/curl_write_trampoline.phpt
  ext/curl/tests/curl_writeheader_tranpoline.phpt
  ext/curl/tests/curl_xferinfo_trampoline.phpt
Labels: Extension: curl

Address review comments about missing empty FCC assignment
  ext/curl/multi.c
Labels: Extension: curl

Remove XFAIL
  ext/curl/tests/curl_pushfunction_trampoline.phpt
Labels: Extension: curl

Address review comments
  ext/curl/interface.c
  ext/curl/multi.c
Labels: Extension: curl

Remove unnecessary set to NULL/empty FCC
  ext/curl/interface.c
  ext/curl/multi.c
Labels: Extension: curl

Reorder structure members to account for alignment
  ext/bcmath/libbcmath/src/bcmath.h
Labels: Extension: bcmath

refactor bc_str2num
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

Specify mysql_native_password as the default authentication method
  .circleci/config.yml
Labels: none

Address comments
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

added tests
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createafunction_arg_error.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createaggregate_arg_error.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createcollation_arg_error.phpt
Labels: Extension: pdo_sqlite

fixed comment
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

address comments
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

Refactor BCMath (#14076)
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

sapi/cgi: fix buffer limit on windows.
  NEWS
  main/fastcgi.c
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

NEWS/UPGRADING
  NEWS
  UPGRADING
Labels: none

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*
