Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

[skip-ci] W.I.P. changes to try and fix test
  Zend/zend_inheritance.c
Labels: Category: Engine

[skip-ci] More test and assertion to try to figure out wth is going on
  Zend/tests/type_declarations/relative_class_types/relative_type_in_evaled_class_using_trait.phpt
  Zend/zend_opcode.c
Labels: Category: Engine

main/output.c: Refine int return type to bool or zend_result
  ext/iconv/iconv.c
  ext/tidy/tidy.c
  ext/zlib/zlib.c
  main/output.c
  main/php_output.h
Labels: Extension: iconv, Extension: tidy, Extension: zlib

Use AC_SUBST instead of PHP_SUBST_OLD where possible (#13993)
  configure.ac
  ext/odbc/config.m4
  sapi/embed/config.m4
  sapi/fpm/config.m4
Labels: Category: Build System, Extension: odbc, SAPI: fpm

Substitute PEAR_INSTALLDIR only when enabling PEAR (#13994)
  configure.ac
Labels: Category: Build System

Print location on class redeclaration
  Zend/tests/class_alias_002.phpt
  Zend/tests/class_alias_004.phpt
  Zend/tests/class_alias_010.phpt
  Zend/tests/class_alias_019.phpt
  Zend/tests/declare_already_in_use.phpt
  Zend/tests/delayed_early_binding_redeclaration.phpt
  Zend/tests/errmsg_026.phpt
  Zend/tests/inter_06.phpt
  Zend/tests/name_collision_01.phpt
  Zend/tests/name_collision_02.phpt
  Zend/tests/name_collision_03.phpt
  Zend/tests/name_collision_04.phpt
  Zend/tests/name_collision_05.phpt
  Zend/tests/name_collision_06.phpt
  Zend/tests/name_collision_07.phpt
  Zend/tests/name_collision_08.phpt
  Zend/tests/ns_029.phpt
  Zend/tests/use_function/define_imported.phpt
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_inheritance.c
  ext/opcache/tests/bug67215.phpt
  ext/opcache/tests/gh8846.phpt
  ext/opcache/zend_accelerator_util_funcs.c
  scripts/dev/bless_tests.php
Labels: Category: Engine, Category: Build System, Extension: opcache

Improve error messages
  Zend/tests/class_alias_002.phpt
  Zend/tests/class_alias_004.phpt
  Zend/tests/class_alias_010.phpt
  Zend/tests/class_alias_019.phpt
  Zend/tests/declare_already_in_use.phpt
  Zend/tests/delayed_early_binding_redeclaration.phpt
  Zend/tests/errmsg_026.phpt
  Zend/tests/inter_06.phpt
  Zend/tests/name_collision_01.phpt
  Zend/tests/name_collision_02.phpt
  Zend/tests/name_collision_03.phpt
  Zend/tests/name_collision_04.phpt
  Zend/tests/name_collision_05.phpt
  Zend/tests/name_collision_06.phpt
  Zend/tests/name_collision_07.phpt
  Zend/tests/ns_029.phpt
  Zend/zend_API.c
  Zend/zend_compile.c
  ext/opcache/tests/bug67215.phpt
  ext/opcache/tests/gh8846.phpt
  ext/opcache/zend_accelerator_util_funcs.c
Labels: Category: Engine, Extension: opcache

Migrate ext/odbc resources to opaque objects
  Zend/Optimizer/zend_func_infos.h
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
  ext/odbc/tests/bug78473.phpt
Labels: Category: Optimizer, Extension: odbc

Fixes
  ext/odbc/php_odbc.c
  ext/odbc/tests/bug78470.phpt
  ext/odbc/tests/odbc_close_all_001.phpt
  ext/odbc/tests/odbc_columnprivileges_001.phpt
  ext/odbc/tests/odbc_free_result_001.phpt
  ext/odbc/tests/odbc_tables_001.phpt
Labels: Extension: odbc

Fix some of the code review comments
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

Address code review comments
  ext/odbc/php_odbc.c
Labels: Extension: odbc

fix(intl): ICU now requires C++ 17
  ext/intl/config.m4
Labels: Category: Build System, Extension: intl

reflection: Fix ReflectionFunction::getShortName() for Closures
  Zend/tests/closure_067.phpt
  ext/reflection/php_reflection.c
Labels: Extension: reflection

ext/intl: level up c++ runtime std for icu 74 and onwards.
  ext/intl/config.m4
Labels: Category: Build System, Extension: intl

ext/intl: level up c++ runtime std for icu 74 and onwards.
  NEWS
  ext/intl/config.m4
Labels: Category: Build System, Extension: intl

main/output.c: Refine int return type to bool or zend_result (#13997)
  ext/iconv/iconv.c
  ext/tidy/tidy.c
  ext/zlib/zlib.c
  main/output.c
  main/php_output.h
Labels: Extension: iconv, Extension: tidy, Extension: zlib

reflection: Fix ReflectionFunction::getShortName() for Closures (#14001)
  Zend/tests/closure_067.phpt
  ext/reflection/php_reflection.c
Labels: Extension: reflection

Revert php_output_stack_* signature change
  main/output.c
Labels: none

Add test first
  ext/pdo_sqlite/tests/gh13998.phpt
Labels: Extension: pdo_sqlite

Fix GH-13806: openssl_x509_parse_basic test fails with OpenSSL 3.2+ (#13961)
  ext/openssl/tests/openssl_x509_parse_basic_openssl32.phpt
Labels: Extension: openssl

Fix missing handling of CALLABLE_CONVERT in cleanup_unfinished_calls()
  Zend/tests/gh14003.phpt
  Zend/zend_execute.c
Labels: Category: Engine

Manage refcount of agg_context->val correctly
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

CI: Skip building docs if GitHub repository is not php-src
  .github/workflows/docs.yml
Labels: none

Fixed bug #14007
  ext/standard/password.c
  ext/standard/tests/password/password_bcrypt_cve2024_3096.phpt
  ext/standard/tests/password/password_bcrypt_errors.phpt
Labels: Extension: standard

CI: Skip building docs if GitHub repository is not php-src (#14006)
  .github/workflows/docs.yml
Labels: none

Fix missing handling of CALLABLE_CONVERT in cleanup_unfinished_calls()
  NEWS
  Zend/tests/gh14003.phpt
  Zend/zend_execute.c
Labels: Category: Engine

ext/pcntl: signals list update for dragonflybsd related to checkpoint.
  UPGRADING
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
Labels: Extension: pcntl

Remove unused ext/spl SPL_API code (#13985)
  ext/spl/php_spl.c
  ext/spl/php_spl.h
  ext/spl/spl_fixedarray.c
Labels: Extension: spl

[ci skip] Fix typo in release-process.md
  docs/release-process.md
Labels: none

Fix erroneous dnl appended in configure
  build/php_cxx_compile_stdcxx.m4
Labels: Category: Build System

Add generic pack test for 64bit.
  ext/standard/tests/strings/pack.phpt
  ext/standard/tests/strings/pack_int.phpt
  ext/standard/tests/strings/pack_int_64bit.phpt
Labels: Extension: standard

Add missing test cases for generic pack() test.
  ext/standard/tests/strings/pack.phpt
Labels: Extension: standard

Add headers to generic pack test.
  ext/standard/tests/strings/pack.phpt
Labels: Extension: standard

Add headers to generic pack test.
  ext/standard/tests/strings/pack.phpt
Labels: Extension: standard

Add missing test cases for generic pack() test.
  ext/standard/tests/strings/pack.phpt
Labels: Extension: standard

Add generic pack test for 64bit.
  ext/standard/tests/strings/pack.phpt
  ext/standard/tests/strings/pack_int.phpt
  ext/standard/tests/strings/pack_int_64bit.phpt
Labels: Extension: standard

[ci skip] Fix typo in release-process.md (#14012)
  docs/release-process.md
Labels: none

Fix GH-13998: Manage refcount of agg_context->val correctly (#14004)
  NEWS
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/gh13998.phpt
Labels: Extension: pdo_sqlite

ext/session: fix _read/_write buffer limit.
  ext/session/mod_files.c
Labels: Extension: session

ext/session: fix _read/_write buffer limit.
  NEWS
  ext/session/mod_files.c
Labels: Extension: session
