Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

Update NEWS
  NEWS
Labels: none

Fix bug GHSA-q6x7-frmf-grcw: password_verify can erroneously return true
  ext/standard/password.c
  ext/standard/tests/password/password_bcrypt_errors.phpt
Labels: Extension: standard

Update NEWS
  NEWS
Labels: none

Add proc_open escaping for cmd file execution
  ext/standard/proc_open.c
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_1.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_2.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_3.phpt
Labels: Extension: standard

Fix GHSA-wpj3-hf5j-x4v4: __Host-/__Secure- cookie bypass due to partial CVE-2022-31629 fix
  ext/standard/tests/ghsa-wpj3-hf5j-x4v4.phpt
  main/php_variables.c
Labels: Extension: standard

Update versions for PHP 8.1.28
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

PHP-8.1 is now for PHP 8.1.29-dev
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

Fix false positive test failure
  ext/pcntl/tests/pcntl_getcpu.phpt
Labels: Extension: pcntl

Fix GH-13932: Attempt to fix mbstring on windows build (msvc).
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

Fix GH-13932: Attempt to fix mbstring on windows build (msvc).
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

Add grapheme_str_split function
  ext/intl/grapheme/grapheme_string.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/grapheme_str_split.phpt
Labels: Extension: intl

ext/mysqlnd: support ER_CLIENT_INTERACTION_TIMEOUT
  NEWS
  ext/mysqli/tests/bug81335.phpt
  ext/mysqlnd/mysqlnd_enum_n_def.h
  ext/mysqlnd/mysqlnd_result.c
  ext/mysqlnd/mysqlnd_wireprotocol.c
Labels: Extension: mysqli, Extension: mysqlnd

Factor out dom_fetch_first_iteration_item()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Fix key data for NodeList iterations
  ext/dom/dom_iterators.c
Labels: Extension: dom

Fix GH-13863: Removal during NodeList iteration breaks loop
  ext/dom/dom_iterators.c
  ext/dom/php_dom.h
  ext/dom/tests/gh13863.phpt
Labels: Extension: dom

Fix GH-13932: Attempt to fix mbstring on windows build (msvc).
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

Update NEWS
  NEWS
Labels: none

Update versions for PHP 8.3.6
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

Factor out reading an attribute value
  ext/dom/attr.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

PHP-8.3 is now for PHP 8.3.7-dev
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

Fix exception IP in JIT
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

ext/sockets: socket_create_listen update.
  UPGRADING
  ext/sockets/sockets.c
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

Fix key data for NodeList iterations
  ext/dom/dom_iterators.c
Labels: Extension: dom

Factor out dom_fetch_first_iteration_item()
  ext/dom/dom_iterators.c
Labels: Extension: dom

Fix GH-13863: Removal during NodeList iteration breaks loop
  ext/dom/dom_iterators.c
  ext/dom/php_dom.h
  ext/dom/tests/gh13863.phpt
Labels: Extension: dom

Add grapheme_str_split function
  NEWS
  UPGRADING
  ext/intl/grapheme/grapheme_string.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/grapheme_str_split.phpt
Labels: Extension: intl

ext/sockets: socket_create_listen update.
  NEWS
  UPGRADING
  ext/sockets/sockets.c
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

ext/posix: adding posix_mkfifoat/posix_mknodat.
  ext/posix/config.m4
  ext/posix/posix.c
  ext/posix/posix.stub.php
  ext/posix/posix_arginfo.h
  ext/posix/tests/posix_mknodat_mkfifoat.phpt
Labels: Category: Build System, Extension: posix

Fix GH-13931: Applying zero offset to null pointer in Zend/zend_opcode.c
  Zend/zend.c
Labels: Category: Engine

Fix exception IP in JIT (#13929)
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

Add tests
  Zend/tests/gh13931.phpt
  sapi/phpdbg/tests/gh13931.phpt
Labels: SAPI: phpdbg

Improve check for broken iconv //IGNORE (#13898)
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

Make ext/odbc default value handling more consistent (#13910)
  UPGRADING
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/tests/odbc_fetch_row_001.phpt
Labels: Extension: odbc

sapi/fcgi: update listen queue size handling.
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Use a link test to check for GNU libiconv
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

ext/fileinfo/tests/bug78987.phpt: increase a memory limit
  ext/fileinfo/tests/bug78987.phpt
Labels: Extension: fileinfo

ext/standard/tests: pass TEST_PHP_EXTRA_ARGS to some proc_open() tests
  ext/standard/tests/general_functions/proc_open_null.phpt
  ext/standard/tests/general_functions/proc_open_redirect.phpt
  ext/standard/tests/general_functions/proc_open_sockets1.phpt
  ext/standard/tests/general_functions/proc_open_sockets2.phpt
  ext/standard/tests/general_functions/proc_open_sockets3.phpt
Labels: Extension: standard

{ext/standard,sapi/cli}/tests: pass TEST_PHP_EXTRA_ARGS to php
  ext/standard/tests/file/bug60120.phpt
  ext/standard/tests/ini_info/php_ini_loaded_file.phpt
  sapi/cli/tests/016.phpt
  sapi/cli/tests/bug65275.phpt
  sapi/cli/tests/bug74600.phpt
  sapi/cli/tests/bug78323.phpt
Labels: Extension: standard, SAPI: cli

sapi/cli/tests/023.phpt: support TEST_PHP_EXTRA_ARGS
  sapi/cli/tests/023.phpt
Labels: SAPI: cli

.github/scripts/windows: pass an extension_dir to the test runner.
  .github/scripts/windows/test_task.bat
Labels: none

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*
