Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

Avoid double allocation in _bc_new_num_ex
  ext/bcmath/libbcmath/src/init.c
Labels: Extension: bcmath

Merge n_value and n_ptr
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/init.c
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

Use an unsigned number for the refcount of bcmath objects
  ext/bcmath/libbcmath/src/bcmath.h
Labels: Extension: bcmath

[skip ci] NEWS
  NEWS
Labels: none

Use bulk conversion in BCMath of BCD/CHAR where possible
  ext/bcmath/config.m4
  ext/bcmath/config.w32
  ext/bcmath/libbcmath/src/convert.c
  ext/bcmath/libbcmath/src/convert.h
  ext/bcmath/libbcmath/src/num2str.c
  ext/bcmath/libbcmath/src/str2num.c
Labels: Category: Build System, Extension: bcmath

ext/curl: Refactor cURL to only use FCC (#13291)
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/multi.c
  ext/curl/tests/curl_copy_handle_basic_008.phpt
  ext/curl/tests/curl_fnmatch_trampoline.phpt
  ext/curl/tests/curl_multi_setopt_callables.phpt
  ext/curl/tests/curl_progress.phpt
  ext/curl/tests/curl_progress_trampoline.phpt
  ext/curl/tests/curl_pushfunction_trampoline.phpt
  ext/curl/tests/curl_read_callback.phpt
  ext/curl/tests/curl_read_trampoline.phpt
  ext/curl/tests/curl_setopt_callables.phpt
  ext/curl/tests/curl_ssh_hostkey_invalid_callable.phpt
  ext/curl/tests/curl_ssh_hostkey_trampoline.phpt
  ext/curl/tests/curl_write_trampoline.phpt
  ext/curl/tests/curl_writeheader_tranpoline.phpt
  ext/curl/tests/curl_xferinfo_trampoline.phpt
Labels: Extension: curl

Avoid double allocation in _bc_new_num_ex
  ext/bcmath/libbcmath/src/init.c
Labels: Extension: bcmath

Merge n_value and n_ptr
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/init.c
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

Use an unsigned number for the refcount of bcmath objects
  ext/bcmath/libbcmath/src/bcmath.h
Labels: Extension: bcmath

ext/sqlite3: Use new F ZPP modifier (#14040)
  ext/sqlite3/sqlite3.c
  ext/sqlite3/tests/sqlite3_trampoline_create_aggregate_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createcollation_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createfunction_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_setauthorizer_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_setauthorizer_null.phpt
Labels: Extension: sqlite3

ext/pdo_sqlite: Use new F ZPP (#14059)
  ext/pdo_sqlite/pdo_sqlite.c
  ext/pdo_sqlite/php_pdo_sqlite_int.h
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createafunction_arg_error.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createaggregate_arg_error.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createcollation_arg_error.phpt
Labels: Extension: pdo_sqlite

Review comments
  ext/bcmath/libbcmath/src/convert.c
  ext/bcmath/libbcmath/src/convert.h
Labels: Extension: bcmath

Use bulk conversion in BCMath of BCD/CHAR where possible (#14103)
  ext/bcmath/config.m4
  ext/bcmath/config.w32
  ext/bcmath/libbcmath/src/convert.c
  ext/bcmath/libbcmath/src/convert.h
  ext/bcmath/libbcmath/src/num2str.c
  ext/bcmath/libbcmath/src/str2num.c
Labels: Category: Build System, Extension: bcmath

[ci skip] NEWS and UPGRADING
  NEWS
  UPGRADING
Labels: none

Avoid unnecessary number initializations in BCMath
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

Avoid unnecessary number initializations in BCMath (#14104)
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

Use RETVAL_NEW_STR
  ext/bcmath/bcmath.c
Labels: Extension: bcmath

Move bc_copy_num to header to allow inlining
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/init.c
Labels: Extension: bcmath

Use SSE2 in bc_copy_and_shift_numbers() if possible
  ext/bcmath/libbcmath/src/convert.c
Labels: Extension: bcmath

Fix tests for glibc 2.39 (#14097)
  ext/standard/tests/strings/setlocale_variation3.phpt
  ext/standard/tests/strings/setlocale_variation4.phpt
  ext/standard/tests/strings/setlocale_variation5.phpt
Labels: Extension: standard

Avoid unnecessary destruction in bc_add()
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/sqrt.c
Labels: Extension: bcmath

Avoid unnecessary destruction in bc_sub()
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/divmod.c
  ext/bcmath/libbcmath/src/output.c
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/libbcmath/src/sqrt.c
  ext/bcmath/libbcmath/src/sub.c
Labels: Extension: bcmath

Avoid unnecessary destruction in bc_mul()
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/divmod.c
  ext/bcmath/libbcmath/src/output.c
  ext/bcmath/libbcmath/src/raise.c
  ext/bcmath/libbcmath/src/raisemod.c
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/libbcmath/src/sqrt.c
Labels: Extension: bcmath

Avoid extra inits while flooring or ceiling
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/floor_or_ceil.c
Labels: Extension: bcmath

Adding UNEXPECTED
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

memset is now used when there are many 0 pads at the end.
  ext/bcmath/libbcmath/src/num2str.c
Labels: Extension: bcmath
