Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg, ABI break

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

"ABI break":
  - changed-files:
    - any-glob-to-any-file:
      - 'TSRM/*.h'
      - 'Zend/*.h'
      - 'Zend/Optimizer/zend_call_graph.h'
      - 'Zend/Optimizer/zend_cfg.h'
      - 'Zend/Optimizer/zend_dfg.h'
      - 'Zend/Optimizer/zend_dump.h'
      - 'Zend/Optimizer/zend_func_info.h'
      - 'Zend/Optimizer/zend_inference.h'
      - 'Zend/Optimizer/zend_optimizer.h'
      - 'Zend/Optimizer/zend_ssa.h'
      - 'Zend/Optimizer/zend_worklist.h'
      - 'ext/curl/php_curl.h'
      - 'ext/date/lib/timelib.h'
      - 'ext/date/lib/timelib_config.h'
      - 'ext/date/php_date.h'
      - 'ext/dom/dom_ce.h'
      - 'ext/dom/namespace_compat.h'
      - 'ext/dom/xml_common.h'
      - 'ext/dom/xpath_callbacks.h'
      - 'ext/filter/php_filter.h'
      - 'ext/gd/libgd/*.h'
      - 'ext/gd/php_gd.h'
      - 'ext/gmp/php_gmp_int.h'
      - 'ext/hash/php_hash.h'
      - 'ext/hash/php_hash_adler32.h'
      - 'ext/hash/php_hash_crc32.h'
      - 'ext/hash/php_hash_fnv.h'
      - 'ext/hash/php_hash_gost.h'
      - 'ext/hash/php_hash_haval.h'
      - 'ext/hash/php_hash_joaat.h'
      - 'ext/hash/php_hash_md.h'
      - 'ext/hash/php_hash_murmur.h'
      - 'ext/hash/php_hash_ripemd.h'
      - 'ext/hash/php_hash_sha.h'
      - 'ext/hash/php_hash_sha3.h'
      - 'ext/hash/php_hash_snefru.h'
      - 'ext/hash/php_hash_tiger.h'
      - 'ext/hash/php_hash_whirlpool.h'
      - 'ext/hash/php_hash_xxhash.h'
      - 'ext/hash/xxhash/xxhash.h'
      - 'ext/iconv/php_iconv.h'
      - 'ext/json/php_json.h'
      - 'ext/json/php_json_parser.h'
      - 'ext/json/php_json_scanner.h'
      - 'ext/libxml/php_libxml.h'
      - 'ext/mbstring/libmbfl/config.h'
      - 'ext/mbstring/libmbfl/mbfl/eaw_table.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfilter.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfilter_8bit.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfilter_pass.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfilter_wchar.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_consts.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_convert.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_defs.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_encoding.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_filter_output.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_language.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_memory_device.h'
      - 'ext/mbstring/libmbfl/mbfl/mbfl_string.h'
      - 'ext/mbstring/mbstring.h'
      - 'ext/mbstring/php_mbregex.h'
      - 'ext/mbstring/php_onig_compat.h'
      - 'ext/mysqli/mysqli_mysqlnd.h'
      - 'ext/mysqli/php_mysqli_structs.h'
      - 'ext/mysqlnd/*.h'
      - 'ext/pcre/pcre2lib/*.h'
      - 'ext/pcre/php_pcre.h'
      - 'ext/pdo/pdo_sql_parser.h'
      - 'ext/pdo/php_pdo.h'
      - 'ext/pdo/php_pdo_driver.h'
      - 'ext/pdo/php_pdo_error.h'
      - 'ext/phar/php_phar.h'
      - 'ext/random/php_random.h'
      - 'ext/random/php_random_csprng.h'
      - 'ext/random/php_random_uint128.h'
      - 'ext/session/mod_files.h'
      - 'ext/session/mod_mm.h'
      - 'ext/session/mod_user.h'
      - 'ext/session/php_session.h'
      - 'ext/simplexml/php_simplexml.h'
      - 'ext/simplexml/php_simplexml_exports.h'
      - 'ext/sockets/php_sockets.h'
      - 'ext/sockets/windows_common.h'
      - 'ext/sodium/php_libsodium.h'
      - 'ext/spl/php_spl.h'
      - 'ext/spl/spl_array.h'
      - 'ext/spl/spl_directory.h'
      - 'ext/spl/spl_dllist.h'
      - 'ext/spl/spl_exceptions.h'
      - 'ext/spl/spl_fixedarray.h'
      - 'ext/spl/spl_functions.h'
      - 'ext/spl/spl_heap.h'
      - 'ext/spl/spl_iterators.h'
      - 'ext/spl/spl_observer.h'
      - 'ext/standard/*.h'
      - 'ext/xml/expat_compat.h'
      - 'ext/xml/php_xml.h'
      - 'main/*.h'
      - 'main/streams/*.h'
      - 'sapi/cli/cli.h'
      - 'sapi/embed/php_embed.h'
      - 'win32/*.h'

Cast big endian byte shuffling to uint
  ext/phar/phar.c
Labels: Extension: phar

Fix GH-15980: Signed integer overflow in main/streams/streams.c
  ext/standard/tests/streams/gh15980.phpt
  main/streams/streams.c
Labels: Extension: standard

Zend/tests/traits/trait_underscore_as_name.phpt: fix file name
  Zend/tests/traits/trait_underscore_as_name.phpt
Labels: none

`zend_assert_valid_class_name()`: use double quotes around names
  Zend/tests/errmsg_028.phpt
  Zend/tests/errmsg_029.phpt
  Zend/tests/gh15976/alias-names.phpt
  Zend/tests/gh15976/class-names.phpt
  Zend/tests/gh15976/enum-names.phpt
  Zend/tests/gh15976/interface-names.phpt
  Zend/tests/gh15976/trait-names.phpt
  Zend/tests/lazy_objects/unclean_shutdown.phpt
  Zend/tests/restore_error_reporting.phpt
  Zend/tests/special_name_error3.phpt
  Zend/tests/type_declarations/mixed/syntax/mixed_class_error.phpt
  Zend/tests/type_declarations/scalar_relative_typehint_disallowed.phpt
  Zend/tests/type_declarations/scalar_reserved2.phpt
  Zend/tests/type_declarations/scalar_reserved2_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved3.phpt
  Zend/tests/type_declarations/scalar_reserved3_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved4.phpt
  Zend/tests/type_declarations/scalar_reserved4_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved6.phpt
  Zend/tests/type_declarations/scalar_reserved6_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved7.phpt
  Zend/zend_compile.c
  ext/spl/tests/RecursiveIteratorIterator_dtor_order.phpt
Labels: Category: Engine, Extension: spl

Fix GH-15986: Double-free due to Pdo\Pgsql::setNoticeCallback()
  NEWS
  ext/pdo_pgsql/pdo_pgsql.c
Labels: Extension: pdo_pgsql

Added bcdivmod() and Number::divmod()
  Zend/Optimizer/zend_func_infos.h
  ext/bcmath/bcmath.c
  ext/bcmath/bcmath.stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/bcmath/tests/bcdivmod.phpt
  ext/bcmath/tests/bcdivmod_by_zero.phpt
  ext/bcmath/tests/number/methods/div_mod_by_zero.phpt
  ext/bcmath/tests/number/methods/divmod.phpt
  ext/bcmath/tests/number/methods/divmod_with_scale.phpt
Labels: Category: Optimizer, Extension: bcmath

Address comment
  ext/bcmath/bcmath.c
Labels: Extension: bcmath

Address comments
  ext/bcmath/bcmath.c
Labels: Extension: bcmath

[skip ci] NEWS/UPGRADING
  NEWS
  UPGRADING
Labels: none

[RFC] ext/bcmath: Added `bcdivmod` (#15740)
  NEWS
  UPGRADING
  Zend/Optimizer/zend_func_infos.h
  ext/bcmath/bcmath.c
  ext/bcmath/bcmath.stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/bcmath/tests/bcdivmod.phpt
  ext/bcmath/tests/bcdivmod_by_zero.phpt
  ext/bcmath/tests/number/methods/div_mod_by_zero.phpt
  ext/bcmath/tests/number/methods/divmod.phpt
  ext/bcmath/tests/number/methods/divmod_with_scale.phpt
Labels: Category: Optimizer, Extension: bcmath

GH-15992: fix error message for single abstract method not implemented
  Zend/tests/bug69084.phpt
  Zend/tests/errmsg_018.phpt
  Zend/tests/property_hooks/abstract_get_set_readonly.phpt
  Zend/tests/property_hooks/abstract_hook_in_non_abstract_class.phpt
  Zend/tests/property_hooks/abstract_hook_not_implemented.phpt
  Zend/tests/property_hooks/invalid_abstract_indirect.phpt
  Zend/tests/property_hooks/invalid_abstract_indirect_2.phpt
  Zend/tests/traits/bugs/abstract-methods01.phpt
  Zend/tests/traits/interface_002.phpt
  Zend/zend_inheritance.c
  tests/classes/abstract_by_interface_001.phpt
  tests/classes/abstract_by_interface_002.phpt
  tests/classes/abstract_derived.phpt
  tests/classes/abstract_not_declared.phpt
  tests/classes/abstract_redeclare.phpt
  tests/classes/abstract_static.phpt
  tests/classes/interface_must_be_implemented.phpt
  tests/classes/interfaces_002.phpt
Labels: Category: Engine

Fix GH-15980: Signed integer overflow in main/streams/streams.c
  NEWS
  ext/standard/tests/streams/gh15980.phpt
  main/streams/streams.c
Labels: Extension: standard

Revert "Fix GH-15980: Signed integer overflow in main/streams/streams.c"
  NEWS
  ext/standard/tests/streams/gh15980.phpt
  main/streams/streams.c
Labels: Extension: standard

Inlines the behaviour of php_mkdir_ex() into plain wrapper mkdir handler (#15520)
  UPGRADING.INTERNALS
  ext/standard/file.c
  ext/standard/file.h
  main/streams/plain_wrapper.c
Labels: Extension: standard, ABI break

[skip ci] Zend/tests/traits/trait_underscore_as_name.phpt: fix file name (#15991)
  Zend/tests/traits/trait_underscore_as_name.phpt
Labels: none

`zend_assert_valid_class_name()`: use double quotes around names (#15990)
  Zend/tests/errmsg_028.phpt
  Zend/tests/errmsg_029.phpt
  Zend/tests/gh15976/alias-names.phpt
  Zend/tests/gh15976/class-names.phpt
  Zend/tests/gh15976/enum-names.phpt
  Zend/tests/gh15976/interface-names.phpt
  Zend/tests/gh15976/trait-names.phpt
  Zend/tests/lazy_objects/unclean_shutdown.phpt
  Zend/tests/restore_error_reporting.phpt
  Zend/tests/special_name_error3.phpt
  Zend/tests/type_declarations/mixed/syntax/mixed_class_error.phpt
  Zend/tests/type_declarations/scalar_relative_typehint_disallowed.phpt
  Zend/tests/type_declarations/scalar_reserved2.phpt
  Zend/tests/type_declarations/scalar_reserved2_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved3.phpt
  Zend/tests/type_declarations/scalar_reserved3_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved4.phpt
  Zend/tests/type_declarations/scalar_reserved4_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved6.phpt
  Zend/tests/type_declarations/scalar_reserved6_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved7.phpt
  Zend/zend_compile.c
  ext/spl/tests/RecursiveIteratorIterator_dtor_order.phpt
Labels: Category: Engine, Extension: spl

GH-15976: don't say "type alias"
  Zend/tests/gh15976/alias-names.phpt
  Zend/tests/type_declarations/scalar_reserved2_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved3_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved4_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved6_class_alias.phpt
  Zend/zend_API.c
Labels: Category: Engine

`zend_resolve_const_class_name_reference()`: use double quotes around names
  Zend/tests/class_uses_static.phpt
  Zend/tests/errmsg_030.phpt
  Zend/tests/errmsg_031.phpt
  Zend/tests/errmsg_035.phpt
  Zend/tests/errmsg_036.phpt
  Zend/tests/interface_extends_static.phpt
  Zend/tests/lsb_006.phpt
  Zend/tests/lsb_007.phpt
  Zend/tests/static_in_trait_insteadof_list.phpt
  Zend/tests/static_in_trait_insteadof_reference.phpt
  Zend/zend_compile.c
Labels: Category: Engine

GH-15976: don't say "type alias" (#15996)
  Zend/tests/gh15976/alias-names.phpt
  Zend/tests/type_declarations/scalar_reserved2_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved3_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved4_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved6_class_alias.phpt
  Zend/zend_API.c
Labels: Category: Engine

`zend_resolve_const_class_name_reference()`: use double quotes around names (#15998)
  Zend/tests/class_uses_static.phpt
  Zend/tests/errmsg_030.phpt
  Zend/tests/errmsg_031.phpt
  Zend/tests/errmsg_035.phpt
  Zend/tests/errmsg_036.phpt
  Zend/tests/interface_extends_static.phpt
  Zend/tests/lsb_006.phpt
  Zend/tests/lsb_007.phpt
  Zend/tests/static_in_trait_insteadof_list.phpt
  Zend/tests/static_in_trait_insteadof_reference.phpt
  Zend/zend_compile.c
Labels: Category: Engine

BCMath operator overloading issues
  ext/bcmath/bcmath.c
  ext/bcmath/tests/number/operators/calc_non_numeric_string.phpt
  ext/bcmath/tests/number/operators/calc_null.phpt
  ext/bcmath/tests/number/operators/compare_with_invalid_types.phpt
Labels: Extension: bcmath

see what actually happens
  ext/standard/tests/streams/gh15980.phpt
Labels: Extension: standard

Fix GH-15972: Assertion failure in ext/opcache/jit/zend_jit_vm_helpers.c with function JIT
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/opcache/tests/jit/gh15972.phpt
Labels: Extension: opcache

ext/gmp: Use zend_result for type instead of int
  ext/gmp/gmp.c
Labels: Extension: gmp

Adapt test case to our findings
  ext/standard/tests/streams/gh15980.phpt
Labels: Extension: standard

Fix GHSA-9pqp-7h25-4f32
  main/rfc1867.c
  tests/basic/GHSA-9pqp-7h25-4f32.inc
  tests/basic/GHSA-9pqp-7h25-4f32.phpt
Labels: none

Fix GHSA-p99j-rfp4-xqvq
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Fix GHSA-94p6-54jq-9mwp
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Fix GHSA-865w-9rf3-2wh5: FPM: Logs from childrens may be altered
  sapi/fpm/fpm/fpm_stdio.c
  sapi/fpm/tests/log-bwp-msg-flush-split-sep-pos-end.phpt
  sapi/fpm/tests/log-bwp-msg-flush-split-sep-pos-start.phpt
Labels: SAPI: fpm

Fix GHSA-9pqp-7h25-4f32
  main/rfc1867.c
  tests/basic/GHSA-9pqp-7h25-4f32.inc
  tests/basic/GHSA-9pqp-7h25-4f32.phpt
Labels: none

Fix GHSA-p99j-rfp4-xqvq
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Fix GHSA-94p6-54jq-9mwp
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Fix GHSA-865w-9rf3-2wh5: FPM: Logs from childrens may be altered
  sapi/fpm/fpm/fpm_stdio.c
  sapi/fpm/tests/log-bwp-msg-flush-split-sep-pos-end.phpt
  sapi/fpm/tests/log-bwp-msg-flush-split-sep-pos-start.phpt
Labels: SAPI: fpm

Fix GHSA-9pqp-7h25-4f32
  main/rfc1867.c
  tests/basic/GHSA-9pqp-7h25-4f32.inc
  tests/basic/GHSA-9pqp-7h25-4f32.phpt
Labels: none

Fix GHSA-p99j-rfp4-xqvq
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Fix GHSA-94p6-54jq-9mwp
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

Fix GHSA-865w-9rf3-2wh5: FPM: Logs from childrens may be altered
  sapi/fpm/fpm/fpm_stdio.c
  sapi/fpm/tests/log-bwp-msg-flush-split-sep-pos-end.phpt
  sapi/fpm/tests/log-bwp-msg-flush-split-sep-pos-start.phpt
Labels: SAPI: fpm

Mark failing curl test on macOS x64 as xfail
  ext/curl/tests/bug48203_multi.phpt
  ext/curl/tests/bug71523.phpt
  ext/curl/tests/curl_basic_018.phpt
  ext/curl/tests/curl_multi_getcontent_basic3.phpt
Labels: Extension: curl

ext/bcmath: `null` should not be supported for operator overloading & fix some comparison issues (#15875)
  ext/bcmath/bcmath.c
  ext/bcmath/tests/number/operators/calc_non_numeric_string.phpt
  ext/bcmath/tests/number/operators/calc_null.phpt
  ext/bcmath/tests/number/operators/compare_with_invalid_types.phpt
Labels: Extension: bcmath

Update NEWS with security fixes info
  NEWS
Labels: none
