Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

Fix #13865 Improve parameter and return value related deprecation messages (#13913)
  Zend/tests/bug71428.3.phpt
  Zend/tests/call_user_func_005.phpt
  Zend/tests/gh11488.phpt
  Zend/tests/ns_073.phpt
  Zend/tests/required_param_after_optional.phpt
  Zend/tests/required_param_after_optional_named_args.phpt
  Zend/tests/return_by_ref_from_void_function.phpt
  Zend/tests/traits/bug60717.phpt
  Zend/tests/type_declarations/callable_003.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type_error.phpt
  Zend/tests/type_declarations/iterable/iterable_002.phpt
  Zend/tests/type_declarations/literal_types/false_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/literal_types/true_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/nullable_null.phpt
  Zend/zend_compile.c
  ext/reflection/tests/ReflectionClass_export_basic1.phpt
  ext/reflection/tests/bug62715.phpt
  ext/reflection/tests/parameters_002.phpt
  ext/reflection/tests/types/ReflectionType_001.phpt
  ext/reflection/tests/types/pure_intersection_type_implicitly_nullable.phpt
  tests/classes/type_hinting_003.phpt
  tests/classes/type_hinting_004.phpt
  tests/lang/type_hints_002.phpt
Labels: Category: Engine, Extension: reflection

Add some error messages + TODOs
  ext/odbc/php_odbc.c
Labels: Extension: odbc

ext/posix: posix_isatty set errno for it too.
  ext/posix/posix.c
  ext/posix/tests/posix_isatty_value_errors.phpt
Labels: Extension: posix

Remove unused os/signpost.h header check
  configure.ac
Labels: Category: Build System

Fix usage of reentrant functions in ext/posix
  ext/posix/posix.c
Labels: Extension: posix

Fix tests when stdout is unbuffered
  ext/opcache/tests/issue0115.phpt
  ext/opcache/tests/issue0149.phpt
Labels: Extension: opcache

Fix GCC warning when using getThis() in a conditional
  Zend/zend_API.h
  ext/intl/calendar/calendar_methods.cpp
  ext/intl/calendar/gregoriancalendar_methods.cpp
  ext/intl/formatter/formatter_format.c
  ext/intl/formatter/formatter_parse.c
  ext/mysqli/mysqli.c
  ext/mysqli/mysqli_api.c
  ext/mysqli/mysqli_nonapi.c
  ext/tidy/tidy.c
Labels: Category: Engine, Extension: intl, Extension: mysqli, Extension: tidy

ext/posix: posix_isatty set errno for it too.
  NEWS
  UPGRADING
  ext/posix/posix.c
  ext/posix/tests/posix_isatty_value_errors.phpt
Labels: Extension: posix

Fix GCC warning when using getThis() in a conditional (#13923)
  Zend/zend_API.h
  ext/intl/calendar/calendar_methods.cpp
  ext/intl/calendar/gregoriancalendar_methods.cpp
  ext/intl/formatter/formatter_format.c
  ext/intl/formatter/formatter_parse.c
  ext/mysqli/mysqli.c
  ext/mysqli/mysqli_api.c
  ext/mysqli/mysqli_nonapi.c
  ext/tidy/tidy.c
Labels: Category: Engine, Extension: intl, Extension: mysqli, Extension: tidy

Add proc_open escaping for cmd file execution
  ext/standard/proc_open.c
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_1.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_2.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_3.phpt
Labels: Extension: standard

Fix GHSA-wpj3-hf5j-x4v4: __Host-/__Secure- cookie bypass due to partial CVE-2022-31629 fix
  ext/standard/tests/ghsa-wpj3-hf5j-x4v4.phpt
  main/php_variables.c
Labels: Extension: standard

Fix bug GHSA-q6x7-frmf-grcw: password_verify can erroneously return true
  ext/standard/password.c
  ext/standard/tests/password/password_bcrypt_errors.phpt
Labels: Extension: standard

Update NEWS file
  NEWS
Labels: none

Update versions for PHP 8.2.18
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

Add proc_open escaping for cmd file execution
  ext/standard/proc_open.c
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_1.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_2.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_3.phpt
Labels: Extension: standard

Fix GHSA-wpj3-hf5j-x4v4: __Host-/__Secure- cookie bypass due to partial CVE-2022-31629 fix
  ext/standard/tests/ghsa-wpj3-hf5j-x4v4.phpt
  main/php_variables.c
Labels: Extension: standard

Fix bug GHSA-q6x7-frmf-grcw: password_verify can erroneously return true
  ext/standard/password.c
  ext/standard/tests/password/password_bcrypt_errors.phpt
Labels: Extension: standard

Fix infinite loop in mb_encode_mimeheader
  ext/mbstring/mbstring.c
  ext/mbstring/tests/mb_encode_mimeheader_basic4.phpt
Labels: Extension: mbstring

Adapt regression test
  ext/mbstring/tests/mb_encode_mimeheader_basic4.phpt
Labels: Extension: mbstring

Fix TLS access in JIT with Musl
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

Update IR
  ext/opcache/jit/ir/ir_aarch64.dasc
  ext/opcache/jit/ir/ir_emit.c
  ext/opcache/jit/ir/ir_private.h
  ext/opcache/jit/ir/ir_ra.c
  ext/opcache/jit/ir/ir_x86.dasc
Labels: Extension: opcache

Improve error cases + add upgrading note
  UPGRADING
  ext/odbc/php_odbc.c
  ext/odbc/tests/odbc_fetch_row_001.phpt
Labels: Extension: odbc

Fix more "Applying non-zero offset XX to null pointer" warnings (See GH-13834)
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

ext/sockets: adding solaris/illumos SO_EXCLBIND constant.
  UPGRADING
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

Add dedicated StreamBucket class
  ext/reflection/tests/ReflectionExtension_getClassNames_basic.phpt
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/file/bug39551.phpt
  ext/standard/user_filters.c
  ext/standard/user_filters.stub.php
  ext/standard/user_filters_arginfo.h
Labels: Extension: reflection, Extension: standard

Use the zend_update_property_*() API instead of a add_property_*()
  ext/standard/user_filters.c
Labels: Extension: standard

Add $dataLength property
  ext/standard/tests/file/bug39551.phpt
  ext/standard/user_filters.c
  ext/standard/user_filters.stub.php
  ext/standard/user_filters_arginfo.h
Labels: Extension: standard

ext/sockets: adding solaris/illumos SO_EXCLBIND constant.
  NEWS
  UPGRADING
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

Update NEWS file
  NEWS
Labels: none

Update versions for PHP 8.3.5
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine, Category: Build System

Remove unused os/signpost.h header check (#13920)
  configure.ac
Labels: Category: Build System

Add zend_test.observer.enabled=0 to more tests
  ext/opcache/tests/opt/type_inference_class_consts1.phpt
  ext/opcache/tests/opt/type_inference_class_consts2.phpt
  ext/opcache/tests/opt/type_inference_class_consts3.phpt
  ext/opcache/tests/opt/type_inference_class_consts4.phpt
Labels: Extension: opcache

NEWS: remove ZWSP
  NEWS
Labels: none

remove ZWSP
  UPGRADING
  ext/pdo_firebird/firebird_driver.c
Labels: Extension: pdo_firebird

Add proc_open escaping for cmd file execution
  ext/standard/proc_open.c
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_1.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_2.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_3.phpt
Labels: Extension: standard

Fix GHSA-wpj3-hf5j-x4v4: __Host-/__Secure- cookie bypass due to partial CVE-2022-31629 fix
  ext/standard/tests/ghsa-wpj3-hf5j-x4v4.phpt
  main/php_variables.c
Labels: Extension: standard

Fix bug GHSA-q6x7-frmf-grcw: password_verify can erroneously return true
  ext/standard/password.c
  ext/standard/tests/password/password_bcrypt_errors.phpt
Labels: Extension: standard

Update NEWS
  NEWS
Labels: none

Fix infinite loop in mb_encode_mimeheader
  ext/mbstring/mbstring.c
  ext/mbstring/tests/mb_encode_mimeheader_basic4.phpt
Labels: Extension: mbstring

Adapt regression test
  ext/mbstring/tests/mb_encode_mimeheader_basic4.phpt
Labels: Extension: mbstring
