Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

When rounding to a precision finer than num, add 0 at the end
  ext/bcmath/libbcmath/src/round.c
  ext/bcmath/tests/bcround_early_return.phpt
Labels: Extension: bcmath

ext/gettext: update arguments handling.
  ext/gettext/gettext.c
  ext/gettext/gettext.stub.php
  ext/gettext/gettext_arginfo.h
  ext/gettext/tests/gettext_textdomain-retval.phpt
Labels: Extension: gettext

ext/intl: IntlDateFormatter::parseToCalendar addition.
  NEWS
  UPGRADING
  ext/intl/dateformat/dateformat.stub.php
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/dateformat/dateformat_parse.c
  ext/intl/tests/gh13766.phpt
Labels: Extension: intl

Use fast ZPP in very commonly used DOM functions
  ext/dom/document.c
  ext/dom/node.c
Labels: Extension: dom

Cleanup php_libxml_unregister_node()
  ext/libxml/libxml.c
Labels: Extension: libxml

Cleanup php_libxml_streams_IO_open_wrapper()
  ext/libxml/libxml.c
Labels: Extension: libxml

Remove bogus entity reference cleanup code
  ext/libxml/libxml.c
Labels: Extension: libxml

Cleanup php_libxml_internal_error_handler_ex()
  ext/libxml/libxml.c
Labels: Extension: libxml

Simplify property check in php_libxml_node_free_resource()
  ext/libxml/libxml.c
Labels: Extension: libxml

Respect constness in casting in dom/entity.c
  ext/dom/entity.c
Labels: Extension: dom

Remove unused PARSE_SESSION and PARSE_REQUEST
  ext/filter/filter.c
  main/php_variables.h
Labels: Extension: filter

[skip ci] Fix intl test on 32-bit machines
  ext/intl/tests/gh13766.phpt
Labels: Extension: intl

Skip online tests by default
  UPGRADING
  run-tests.php
Labels: none

Replace xhtml image with base64 data
  sapi/fpm/status.html.in
Labels: SAPI: fpm

Print location on class redeclaration
  Zend/tests/class_alias_002.phpt
  Zend/tests/class_alias_004.phpt
  Zend/tests/class_alias_010.phpt
  Zend/tests/class_alias_019.phpt
  Zend/tests/declare_already_in_use.phpt
  Zend/tests/delayed_early_binding_redeclaration.phpt
  Zend/tests/errmsg_026.phpt
  Zend/tests/function_redecl.phpt
  Zend/tests/inter_06.phpt
  Zend/tests/name_collision_01.phpt
  Zend/tests/name_collision_02.phpt
  Zend/tests/name_collision_03.phpt
  Zend/tests/name_collision_04.phpt
  Zend/tests/name_collision_05.phpt
  Zend/tests/name_collision_06.phpt
  Zend/tests/name_collision_07.phpt
  Zend/tests/name_collision_08.phpt
  Zend/tests/ns_029.phpt
  Zend/tests/use_function/define_imported.phpt
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_inheritance.c
  ext/opcache/tests/bug67215.phpt
  ext/opcache/tests/bug73583.phpt
  ext/opcache/tests/gh8846.phpt
  ext/opcache/zend_accelerator_util_funcs.c
  ext/pcre/tests/preg_replace_callback_fatal_error_leak.phpt
  scripts/dev/bless_tests.php
Labels: Category: Engine, Category: Build System, Extension: opcache, Extension: pcre

Add ReflectionClassConstant::isDeprecated()
  UPGRADING
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/class_constant_deprecated.phpt
Labels: Extension: reflection, Extension: zend_test

reflection: Fix ReflectionFunction::getShortName() for first class callables
  Zend/tests/closure_068.phpt
  ext/reflection/php_reflection.c
Labels: Extension: reflection

Remove unused PARSE_SESSION and PARSE_REQUEST (#14081)
  ext/filter/filter.c
  main/php_variables.h
Labels: Extension: filter

Add ReflectionClassConstant::isDeprecated() (#14086)
  UPGRADING
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/class_constant_deprecated.phpt
Labels: Extension: reflection, Extension: zend_test

reflection: Fix ReflectionFunction::getShortName() for first class callables (#14087)
  Zend/tests/closure_068.phpt
  ext/reflection/php_reflection.c
Labels: Extension: reflection

Cleanup php_libxml_streams_IO_open_wrapper()
  ext/libxml/libxml.c
Labels: Extension: libxml

Cleanup php_libxml_internal_error_handler_ex()
  ext/libxml/libxml.c
Labels: Extension: libxml

Cleanup php_libxml_unregister_node()
  ext/libxml/libxml.c
Labels: Extension: libxml

Simplify property check in php_libxml_node_free_resource()
  ext/libxml/libxml.c
Labels: Extension: libxml

Remove bogus entity reference cleanup code
  ext/libxml/libxml.c
Labels: Extension: libxml

Use fast ZPP in very commonly used DOM functions (#14077)
  ext/dom/document.c
  ext/dom/node.c
Labels: Extension: dom

Respect constness in casting in dom/entity.c (#14080)
  ext/dom/entity.c
Labels: Extension: dom

[RFC] Add bcfloor, bcceil and bcround to BCMath (#13096)
  Zend/Optimizer/zend_func_infos.h
  ext/bcmath/bcmath.c
  ext/bcmath/bcmath.stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/bcmath/config.m4
  ext/bcmath/config.w32
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/floor_or_ceil.c
  ext/bcmath/libbcmath/src/round.c
  ext/bcmath/tests/bcceil.phpt
  ext/bcmath/tests/bcceil_error.phpt
  ext/bcmath/tests/bcfloor.phpt
  ext/bcmath/tests/bcfloor_error.phpt
  ext/bcmath/tests/bcround_away_from_zero.phpt
  ext/bcmath/tests/bcround_ceiling.phpt
  ext/bcmath/tests/bcround_early_return.phpt
  ext/bcmath/tests/bcround_error.phpt
  ext/bcmath/tests/bcround_floor.phpt
  ext/bcmath/tests/bcround_half_down.phpt
  ext/bcmath/tests/bcround_half_even.phpt
  ext/bcmath/tests/bcround_half_odd.phpt
  ext/bcmath/tests/bcround_half_up.phpt
  ext/bcmath/tests/bcround_test_helper.inc
  ext/bcmath/tests/bcround_toward_zero.phpt
  ext/standard/php_math.h
  ext/standard/php_math_round_mode.h
Labels: Category: Optimizer, Category: Build System, Extension: bcmath, Extension: standard

sapi/phpdbg: Update of userfaultfd workflow.
  sapi/phpdbg/phpdbg_watch.c
Labels: SAPI: phpdbg

random: Add PHPAPI to all `php_random_algo` definitions
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

Fix crashes when entity declaration is removed while still having entity references
  ext/dom/dom_properties.h
  ext/dom/entityreference.c
  ext/dom/nodelist.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/entity_reference_stale_01.phpt
  ext/dom/tests/entity_reference_stale_02.phpt
Labels: Extension: dom

sapi/phpdbg: Update of userfaultfd workflow. (#13955)
  sapi/phpdbg/phpdbg_watch.c
Labels: SAPI: phpdbg

Add test with wrong output
  ext/dom/tests/DOMNode_C14N_references.phpt
Labels: Extension: dom

Fix references not handled correctly in C14N
  ext/dom/node.c
  ext/dom/tests/DOMNode_C14N_references.phpt
Labels: Extension: dom

random: Add PHPAPI to all `php_random_algo` definitions (#14088)
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

Fix crash when calling childNodes next() when iterator is exhausted
  ext/dom/dom_iterators.c
  ext/dom/tests/childNodes_current_crash.phpt
Labels: Extension: dom

Use fast ZPP in nodelist.c
  ext/dom/nodelist.c
Labels: Extension: dom

Fix narrowing warning
  ext/dom/nodelist.c
  ext/dom/nodelist.h
Labels: Extension: dom

Add GC_PERSISTENT_LOCAL flag for ODBC structures
  ext/odbc/php_odbc.c
Labels: Extension: odbc

Fix casing of the ODBC namespace in error messages
  ext/odbc/php_odbc.c
Labels: Extension: odbc

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*
