Repository php/php-src, changes with the labels that .github/labeler.yml gives for each.
All labels: Category: Engine, Category: Optimizer, Category: Build System, Extension: bcmath, Extension: bz2, Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: ffi, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: intl, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: opcache, Extension: openssl, Extension: pcntl, Extension: pcre, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: posix, Extension: random, Extension: readline, Extension: reflection, Extension: session, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zend_test, Extension: zip, Extension: zlib, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fpm, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

.github/labeler.yml:

"Category: Engine":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/*

"Category: Optimizer":
  - changed-files:
      - any-glob-to-any-file:
        - Zend/Optimizer/**/*

"Category: Build System":
  - changed-files:
      - any-glob-to-any-file:
        - '**/*.m4'
        - '**/*.w32'
        - build/**/*
        - buildconf
        - buildconf.bat
        - configure.ac
        - scripts/**/*
        - win32/build/**/*

"Extension: bcmath":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bcmath/**/*

"Extension: bz2":
  - changed-files:
      - any-glob-to-any-file:
        - ext/bz2/**/*

"Extension: calendar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/calendar/**/*

"Extension: com_dotnet":
  - changed-files:
      - any-glob-to-any-file:
        - ext/com_dotnet/**/*

"Extension: ctype":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ctype/**/*

"Extension: curl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/curl/**/*

"Extension: date":
  - changed-files:
      - any-glob-to-any-file:
        - ext/date/**/*

"Extension: dba":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dba/**/*

"Extension: dom":
  - changed-files:
      - any-glob-to-any-file:
        - ext/dom/**/*

"Extension: enchant":
  - changed-files:
      - any-glob-to-any-file:
        - ext/enchant/**/*

"Extension: exif":
  - changed-files:
      - any-glob-to-any-file:
        - ext/exif/**/*

"Extension: ffi":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ffi/**/*

"Extension: fileinfo":
  - changed-files:
      - any-glob-to-any-file:
        - ext/fileinfo/**/*

"Extension: filter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/filter/**/*

"Extension: ftp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ftp/**/*

"Extension: gd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gd/**/*

"Extension: gettext":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gettext/**/*

"Extension: gmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/gmp/**/*

"Extension: hash":
  - changed-files:
      - any-glob-to-any-file:
        - ext/hash/**/*

"Extension: iconv":
  - changed-files:
      - any-glob-to-any-file:
        - ext/iconv/**/*

"Extension: intl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/intl/**/*

"Extension: json":
  - changed-files:
      - any-glob-to-any-file:
        - ext/json/**/*

"Extension: ldap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/ldap/**/*

"Extension: libxml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/libxml/**/*

"Extension: mbstring":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mbstring/**/*

"Extension: mysqli":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqli/**/*

"Extension: mysqlnd":
  - changed-files:
      - any-glob-to-any-file:
        - ext/mysqlnd/**/*

"Extension: odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/odbc/**/*

"Extension: opcache":
  - changed-files:
      - any-glob-to-any-file:
        - ext/opcache/**/*

"Extension: openssl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/openssl/**/*

"Extension: pcntl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcntl/**/*

"Extension: pcre":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pcre/**/*

"Extension: pdo (core)":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo/**/*

"Extension: pdo_dblib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_dblib/**/*

"Extension: pdo_firebird":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_firebird/**/*

"Extension: pdo_mysql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_mysql/**/*

"Extension: pdo_odbc":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_odbc/**/*

"Extension: pdo_pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_pgsql/**/*

"Extension: pdo_sqlite":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pdo_sqlite/**/*

"Extension: pgsql":
  - changed-files:
      - any-glob-to-any-file:
        - ext/pgsql/**/*

"Extension: phar":
  - changed-files:
      - any-glob-to-any-file:
        - ext/phar/**/*

"Extension: posix":
  - changed-files:
      - any-glob-to-any-file:
        - ext/posix/**/*

"Extension: random":
  - changed-files:
      - any-glob-to-any-file:
        - ext/random/**/*

"Extension: readline":
  - changed-files:
      - any-glob-to-any-file:
        - ext/readline/**/*

"Extension: reflection":
  - changed-files:
      - any-glob-to-any-file:
        - ext/reflection/**/*

"Extension: session":
  - changed-files:
      - any-glob-to-any-file:
        - ext/session/**/*

"Extension: shmop":
  - changed-files:
      - any-glob-to-any-file:
        - ext/shmop/**/*

"Extension: simplexml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/simplexml/**/*

"Extension: snmp":
  - changed-files:
      - any-glob-to-any-file:
        - ext/snmp/**/*

"Extension: soap":
  - changed-files:
      - any-glob-to-any-file:
        - ext/soap/**/*

"Extension: sockets":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sockets/**/*

"Extension: sodium":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sodium/**/*

"Extension: spl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/spl/**/*

"Extension: sqlite3":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sqlite3/**/*

"Extension: standard":
  - changed-files:
      - any-glob-to-any-file:
        - ext/standard/**/*

"Extension: sysvmsg":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvmsg/**/*

"Extension: sysvsem":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvsem/**/*

"Extension: sysvshm":
  - changed-files:
      - any-glob-to-any-file:
        - ext/sysvshm/**/*

"Extension: tidy":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tidy/**/*

"Extension: tokenizer":
  - changed-files:
      - any-glob-to-any-file:
        - ext/tokenizer/**/*

"Extension: xml":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xml/**/*

"Extension: xmlreader":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlreader/**/*

"Extension: xmlwriter":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xmlwriter/**/*

"Extension: xsl":
  - changed-files:
      - any-glob-to-any-file:
        - ext/xsl/**/*

"Extension: zend_test":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zend_test/**/*

"Extension: zip":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zip/**/*

"Extension: zlib":
  - changed-files:
      - any-glob-to-any-file:
        - ext/zlib/**/*

"SAPI: apache2handler":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/apache2handler/**/*

"SAPI: cgi":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cgi/**/*

"SAPI: cli":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/cli/**/*

"SAPI: fpm":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fpm/**/*

"SAPI: fuzzer":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/fuzzer/**/*

"SAPI: litespeed":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/litespeed/**/*

"SAPI: phpdbg":
  - changed-files:
      - any-glob-to-any-file:
        - sapi/phpdbg/**/*

using _SC_NPROCESSORS_CONF instead in case of cpu put offline.
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
Labels: Category: Build System, Extension: pcntl

ext/pcntl: cpu affinity api introduction.
  NEWS
  UPGRADING
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
Labels: Category: Build System, Extension: pcntl

Convert odbc_bindcols() function to void (#13900)
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

adding myself to ext/pcntl ext.
  .github/CODEOWNERS
Labels: none

adding myself to ext/pcntl ext. (#13901)
  .github/CODEOWNERS
Labels: none

Cleanup and optimize attribute value reading (#13897)
  ext/dom/attr.c
  ext/dom/php_dom.c
Labels: Extension: dom

ext/pcntl pcntl_signal_get_handler update.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

ext/pcntl: update php_signal_table initialisation.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

remove static qualifier for the var holder
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

Add next handler parameter to zend_observer_remove_begin/end_handler (#13807)
  UPGRADING.INTERNALS
  Zend/zend_observer.c
  Zend/zend_observer.h
  ext/zend_test/observer.c
Labels: Category: Engine, Extension: zend_test

ext/pcntl pcntl_signal_get_handler update.
  NEWS
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

Fix persistent local flag in session url updating
  ext/standard/url_scanner_ex.re
Labels: Extension: standard

Fix GH-13789 build failed mbstring_arginfo.h when Visual C++ on Windows
  ext/mbstring/config.w32
Labels: Category: Build System, Extension: mbstring

Fix persistent local flag in session url updating (#13905)
  ext/standard/url_scanner_ex.re
Labels: Extension: standard

ext/pcntl: pcntl affinity improves EINVAL handling in both cases.
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
Labels: Extension: pcntl

ext/pcntl: pcntl affinity improves EINVAL handling in both cases. (#13907)
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
Labels: Extension: pcntl

ext/pcntl: adding pcntl_getcpu.
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_getcpu.phpt
Labels: Category: Build System, Extension: pcntl

ext/pcntl: adding pcntl_getcpu.
  NEWS
  UPGRADING
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_getcpu.phpt
Labels: Category: Build System, Extension: pcntl

Fix GH-13860: Incorrect PHP_STREAM_OPTION_CHECK_LIVENESS case in ext/openssl/xp_ssl.c - causing use of dead socket
  NEWS
  ext/openssl/tests/gh13860.phpt
  ext/openssl/xp_ssl.c
Labels: Extension: openssl

Fix GH-13789: build failed mbstring_arginfo.h when Visual C++ on Windows (#13906)
  ext/mbstring/config.w32
Labels: Category: Build System, Extension: mbstring

Make ext/odbc default value handling more consistent
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/tests/odbc_fetch_row_001.phpt
Labels: Extension: odbc

Improve stability of test gh13860.phpt
  ext/openssl/tests/gh13860.phpt
Labels: Extension: openssl

Avoid call to php_socket_errno() if possible
  ext/openssl/xp_ssl.c
  main/streams/xp_socket.c
Labels: Extension: openssl

ext/pcntl: getpriority/setpriority `who` default value handling change.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

Fix #13865 Improve parameter and return value related deprecation messages
  Zend/tests/bug71428.3.phpt
  Zend/tests/call_user_func_005.phpt
  Zend/tests/gh11488.phpt
  Zend/tests/ns_073.phpt
  Zend/tests/required_param_after_optional.phpt
  Zend/tests/required_param_after_optional_named_args.phpt
  Zend/tests/return_by_ref_from_void_function.phpt
  Zend/tests/traits/bug60717.phpt
  Zend/tests/type_declarations/callable_003.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type_error.phpt
  Zend/tests/type_declarations/iterable/iterable_002.phpt
  Zend/tests/type_declarations/literal_types/false_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/literal_types/true_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/nullable_null.phpt
  Zend/zend_compile.c
  ext/reflection/tests/ReflectionClass_export_basic1.phpt
  ext/reflection/tests/bug62715.phpt
  ext/reflection/tests/parameters_002.phpt
  ext/reflection/tests/types/ReflectionType_001.phpt
  ext/reflection/tests/types/pure_intersection_type_implicitly_nullable.phpt
  tests/classes/type_hinting_003.phpt
  tests/classes/type_hinting_004.phpt
  tests/lang/type_hints_002.phpt
Labels: Category: Engine, Extension: reflection

ext/pcntl: getpriority/setpriority `who` default value handling change. (#13911)
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

Add test for ArrayAccess
  Zend/tests/data_classes/array_access.phpt
Labels: none

Fix potential NULL pointer dereference before calling EVP_SignInit
  ext/phar/util.c
Labels: Extension: phar

loongarch64 support for fibers
  Zend/asm/jump_loongarch64_sysv_elf_gas.S
  Zend/asm/make_loongarch64_sysv_elf_gas.S
  configure.ac
Labels: Category: Build System

Always load EX(opline) into the current frame in JIT when observers are enabled
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh13772.phpt
  ext/zend_test/observer.c
Labels: Extension: opcache, Extension: zend_test

Fix cookie_seek_function_t signature under musl (#13890)
  main/streams/cast.c
Labels: none

[ci skip] NEWS
  NEWS
Labels: none

[ci skip] NEWS
  NEWS
Labels: none

Always load EX(opline) into the current frame in JIT when observers are enabled
  NEWS
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh13772.phpt
  ext/zend_test/observer.c
Labels: Extension: opcache, Extension: zend_test

Fix potential NULL pointer dereference before calling EVP_SignInit
  NEWS
  ext/phar/util.c
Labels: Extension: phar

Avoid call to php_socket_errno() if possible (#13909)
  ext/openssl/xp_ssl.c
  main/streams/xp_socket.c
Labels: Extension: openssl

loongarch64 support for fibers
  NEWS
  Zend/asm/jump_loongarch64_sysv_elf_gas.S
  Zend/asm/make_loongarch64_sysv_elf_gas.S
  configure.ac
Labels: Category: Build System

Fix GH-13903: ASAN false positive underflow when executing copy()
  Zend/zend_fibers.c
Labels: Category: Engine

Add zend_test.observer.enabled=0 to opcache tests asserting specific TMP count
  ext/opcache/tests/match/001.phpt
  ext/opcache/tests/match/002.phpt
  ext/opcache/tests/match/003.phpt
  ext/opcache/tests/match/004.phpt
  ext/opcache/tests/opt/coalesce.phpt
  ext/opcache/tests/opt/dce_001.phpt
  ext/opcache/tests/opt/dce_002.phpt
  ext/opcache/tests/opt/dce_003.phpt
  ext/opcache/tests/opt/dce_004.phpt
  ext/opcache/tests/opt/dce_005.phpt
  ext/opcache/tests/opt/dce_006.phpt
  ext/opcache/tests/opt/dce_007.phpt
  ext/opcache/tests/opt/dce_008.phpt
  ext/opcache/tests/opt/dce_009.phpt
  ext/opcache/tests/opt/gh11245_1.phpt
  ext/opcache/tests/opt/gh11245_2.phpt
  ext/opcache/tests/opt/jmp_001.phpt
  ext/opcache/tests/opt/nullsafe_001.phpt
  ext/opcache/tests/opt/sccp_001.phpt
  ext/opcache/tests/opt/sccp_002.phpt
  ext/opcache/tests/opt/sccp_003.phpt
  ext/opcache/tests/opt/sccp_004.phpt
  ext/opcache/tests/opt/sccp_005.phpt
  ext/opcache/tests/opt/sccp_006.phpt
  ext/opcache/tests/opt/sccp_007.phpt
  ext/opcache/tests/opt/sccp_008.phpt
  ext/opcache/tests/opt/sccp_009.phpt
  ext/opcache/tests/opt/sccp_010.phpt
  ext/opcache/tests/opt/sccp_011.phpt
  ext/opcache/tests/opt/sccp_012.phpt
  ext/opcache/tests/opt/sccp_016.phpt
  ext/opcache/tests/opt/sccp_017.phpt
  ext/opcache/tests/opt/sccp_019.phpt
  ext/opcache/tests/opt/sccp_022.phpt
  ext/opcache/tests/opt/sccp_024.phpt
  ext/opcache/tests/opt/sccp_026.phpt
  ext/opcache/tests/opt/sccp_031.phpt
  ext/opcache/tests/opt/sccp_032.phpt
Labels: Extension: opcache

Fix GH-13903: ASAN false positive underflow when executing copy()
  NEWS
  Zend/zend_fibers.c
Labels: Category: Engine
