Repository php/php-src, pull requests merged in 2018-06, with the labels that each got.

#3304 Bump intl extension version to PHP release version
  ext/intl/php_intl.c
  ext/intl/php_intl.h
Labels: Quickfix, Waiting on Review

#3296 Bump fileinfo extension version to PHP release version
  ext/fileinfo/fileinfo.c
  ext/fileinfo/php_fileinfo.h
Labels: Quickfix, Waiting on Review

#3307 Bump snmp extension version to PHP version
  ext/snmp/php_snmp.h
  ext/snmp/snmp.c
Labels: Quickfix, Waiting on Review

#3295 Remove old and unused warnings when building apache
  configure.ac
Labels: Quickfix

#3268 Sync sysvsem and sysvshm versions in phpinfo
  ext/sysvsem/php_sysvsem.h
  ext/sysvsem/sysvsem.c
  ext/sysvshm/php_sysvshm.h
  ext/sysvshm/sysvshm.c
Labels: Quickfix, Waiting on Review

#3309 phar module, unsignedness check changes.
  ext/phar/phar.c
  ext/phar/phar_object.c
Labels: Quickfix

#3274 76363 add jsm support
  sapi/cli/generate_mime_type_map.php
  sapi/cli/mime_type_map.h
Labels: Enhancement

#3281 Run tests fixes
  run-tests.php
Labels: Tests, Waiting on Review
