Repository php/php-src, pull requests merged in 2021-05, with the labels that each got.

#6798 Implement mysqli_fetch_column
  UPGRADING
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/mysqli/mysqli_nonapi.c
  ext/mysqli/tests/mysqli_class_mysqli_result_interface.phpt
  ext/mysqli/tests/mysqli_fetch_column.phpt
Labels: RFC

#6935 Implement server type/version for PDO_ODBC getAttr
  ext/pdo_odbc/odbc_driver.c
  ext/pdo_odbc/tests/get_attribute_server.phpt
Labels: Enhancement

#6922 Expose libsodium's Ristretto255 API
  UPGRADING
  ext/sodium/libsodium.c
  ext/sodium/libsodium.stub.php
  ext/sodium/libsodium_arginfo.h
  ext/sodium/php_libsodium.h
  ext/sodium/tests/crypto_core_ristretto255.phpt
  ext/sodium/tests/crypto_scalarmult_ristretto255.phpt
Labels: Enhancement

#6838 Remove no longer used "log_errors_max_len" ini directive
  ext/ftp/tests/bug80901.phpt
  ext/oci8/tests/error3.phpt
  ext/standard/tests/dir/bug80960.phpt
  ext/standard/tests/file/parse_ini_file_variation3.phpt
  ext/standard/tests/strings/006.phpt
  ext/standard/tests/strings/007-win32.phpt
  ext/standard/tests/strings/007.phpt
  main/main.c
  main/php_globals.h
  php.ini-development
  php.ini-production
  run-tests.php
Labels: Bugfix

#2945 Add test for bug 75577: issue where RFC3339_EXTENDED could not be used via DateTime::createFromFormat
  ext/date/tests/bug75577.phpt
Labels: Tests

#6921 Check parameters on compact() and throw TypeError if not string or array of strings
  ext/standard/array.c
  ext/standard/tests/array/compact.phpt
  ext/standard/tests/array/compact_basic.phpt
Labels: Enhancement

#6958 optimize unpack() for named fields
  ext/standard/pack.c
  ext/standard/tests/strings/pack_arrays.phpt
Labels: Enhancement, Waiting on Author

#6917 Retain full path of files for directory uploads
  ext/session/tests/rfc1867.phpt
  ext/session/tests/rfc1867_cleanup.phpt
  ext/session/tests/rfc1867_disabled.phpt
  ext/session/tests/rfc1867_disabled_2.phpt
  ext/session/tests/rfc1867_inter.phpt
  ext/session/tests/rfc1867_no_name.phpt
  ext/session/tests/rfc1867_sid_cookie.phpt
  ext/session/tests/rfc1867_sid_get.phpt
  ext/session/tests/rfc1867_sid_get_2.phpt
  ext/session/tests/rfc1867_sid_invalid.phpt
  ext/session/tests/rfc1867_sid_only_cookie.phpt
  ext/session/tests/rfc1867_sid_only_cookie_2.phpt
  ext/session/tests/rfc1867_sid_post.phpt
  main/rfc1867.c
  sapi/cli/tests/php_cli_server_005.phpt
  tests/basic/021.phpt
  tests/basic/029.phpt
  tests/basic/bug55500.phpt
  tests/basic/rfc1867_anonymous_upload.phpt
  tests/basic/rfc1867_array_upload.phpt
  tests/basic/rfc1867_empty_upload.phpt
  tests/basic/rfc1867_max_file_size.phpt
  tests/basic/rfc1867_max_file_uploads_empty_files.phpt
  tests/basic/rfc1867_missing_boundary_2.phpt
  tests/basic/rfc1867_multiple_webkitdirectory.phpt
  tests/basic/rfc1867_post_max_filesize.phpt
Labels: Bugfix, Enhancement, Waiting on Author

#7051 Declare tentative return types for ext/json
  Zend/tests/enum/json_encode.phpt
  ext/json/json.stub.php
  ext/json/json_arginfo.h
  ext/json/tests/bug61978.phpt
  ext/json/tests/bug66025.phpt
  ext/json/tests/bug68992.phpt
  ext/json/tests/bug71835.phpt
  ext/json/tests/bug72069.phpt
  ext/json/tests/bug73113.phpt
  ext/json/tests/bug77843.phpt
  ext/json/tests/serialize.phpt
  ext/standard/tests/class_object/get_object_vars_variation_004.phpt
Labels: tentative returns

#7053 Declare tentative return types for ext/zip
  ext/zip/php_zip.stub.php
  ext/zip/php_zip_arginfo.h
Labels: tentative returns

#7057 Add zend_getpagesize() and reuse it in accelerator and fiber
  Zend/zend.c
  Zend/zend.h
  Zend/zend_fibers.c
  ext/opcache/ZendAccelerator.c
Labels: Enhancement

#7058 Improve memory allocation related code in zend_fibers
  Zend/zend_fibers.c
Labels: Enhancement, Fibers

#7005 Declare tentative return types for ext/session
  ext/session/session.stub.php
  ext/session/session_arginfo.h
  ext/session/tests/004.phpt
  ext/session/tests/005.phpt
  ext/session/tests/024.phpt
  ext/session/tests/025.phpt
  ext/session/tests/bug60634_error_3.phpt
  ext/session/tests/bug70133.phpt
  ext/session/tests/bug71162.phpt
  ext/session/tests/bug78624.phpt
  ext/session/tests/bug79091.phpt
  ext/session/tests/bug80889.phpt
  ext/session/tests/session_set_save_handler_class_001.phpt
  ext/session/tests/session_set_save_handler_class_002.phpt
  ext/session/tests/session_set_save_handler_class_003.phpt
  ext/session/tests/session_set_save_handler_class_005.phpt
  ext/session/tests/session_set_save_handler_class_006.phpt
  ext/session/tests/session_set_save_handler_class_007.phpt
  ext/session/tests/session_set_save_handler_class_008.phpt
  ext/session/tests/session_set_save_handler_class_009.phpt
  ext/session/tests/session_set_save_handler_class_010.phpt
  ext/session/tests/session_set_save_handler_class_011.phpt
  ext/session/tests/session_set_save_handler_class_012.phpt
  ext/session/tests/session_set_save_handler_class_013.phpt
  ext/session/tests/session_set_save_handler_class_016.phpt
  ext/session/tests/session_set_save_handler_class_017.phpt
  ext/session/tests/session_set_save_handler_class_018.phpt
  ext/session/tests/session_set_save_handler_iface_001.phpt
  ext/session/tests/session_set_save_handler_iface_002.phpt
  ext/session/tests/session_set_save_handler_iface_003.phpt
  ext/session/tests/session_set_save_handler_sid_001.phpt
  ext/session/tests/session_set_save_handler_sid_002.phpt
Labels: tentative returns

#7052 Declare tentative return types for ext/phar
  ext/phar/phar_object.c
  ext/phar/phar_object.stub.php
  ext/phar/phar_object_arginfo.h
Labels: tentative returns

#7070 Declare tentative return types for ext/oci8
  ext/oci8/oci8.stub.php
  ext/oci8/oci8_arginfo.h
Labels: tentative returns

#7065 Declare tentative return types for ext/standard
  Zend/tests/bug21478.phpt
  Zend/tests/bug78406.phpt
  ext/opcache/tests/bug64353.phpt
  ext/opcache/tests/bug74596.phpt
  ext/opcache/tests/jit/reg_alloc_001.phpt
  ext/standard/dir.stub.php
  ext/standard/dir_arginfo.h
  ext/standard/tests/directory/DirectoryClass_basic_001.phpt
  ext/standard/tests/file/bug39551.phpt
  ext/standard/tests/file/userfilters.phpt
  ext/standard/tests/filters/bug35916.phpt
  ext/standard/tests/filters/bug46164-1.phpt
  ext/standard/tests/filters/bug46164-2.phpt
  ext/standard/tests/filters/bug72941.phpt
  ext/standard/tests/filters/bug73586.phpt
  ext/standard/tests/filters/filter_errors_user.phpt
  ext/standard/tests/filters/php_user_filter_01.phpt
  ext/standard/tests/filters/php_user_filter_02.phpt
  ext/standard/tests/filters/php_user_filter_03.phpt
  ext/standard/tests/filters/php_user_filter_onCreate_failure.phpt
  ext/standard/tests/filters/read.phpt
  ext/standard/tests/streams/bug77069.phpt
  ext/standard/tests/streams/bug78506.phpt
  ext/standard/tests/streams/bug79984.phpt
  ext/standard/tests/streams/stream_filter_register.phpt
  ext/standard/tests/streams/stream_multi_filters_close.phpt
  ext/standard/tests/streams/user_streams_consumed_bug.phpt
  ext/standard/user_filters.stub.php
  ext/standard/user_filters_arginfo.h
Labels: tentative returns

#7042 JIT/AArch64: [macos][ZTS] Support fast path for tlv_get_addr
  TSRM/TSRM.c
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT

#7080 JIT/AArch64: Use D registers for floating-point operations
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT

#7071 Remove unnecessary inline define
  Zend/zend_config.w32.h
  main/php.h
  win32/build/confutils.js
Labels: Quickfix

#7074 Export ENV in .sh file generated by run-tests
  run-tests.php
Labels: Tests

#7081 JIT/AArch64: Use ZR directly to zero FP register
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT
