Repository php/php-src, pull requests merged in 2021-06, with the labels that each got.

#7082 JIT/AArch64: Code refactoring for macros
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT

#7094 Split fiber status and flags
  Zend/zend_fibers.c
  Zend/zend_fibers.h
  ext/reflection/php_reflection.c
  ext/zend_test/test.c
  ext/zend_test/tests/observer_fiber_05.phpt
Labels: Fibers

#7098 JIT/AArch64: [macos] Remove Clang warning due to -Wincompatible-point…
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT

#7101 Alternative Fiber Internals Refactoring
  Zend/zend_execute_API.c
  Zend/zend_fibers.c
  Zend/zend_fibers.h
  Zend/zend_globals.h
  Zend/zend_observer.c
  Zend/zend_observer.h
  ext/reflection/php_reflection.c
  ext/zend_test/test.c
  ext/zend_test/tests/observer_fiber_01.phpt
  ext/zend_test/tests/observer_fiber_02.phpt
  ext/zend_test/tests/observer_fiber_03.phpt
  ext/zend_test/tests/observer_fiber_04.phpt
  ext/zend_test/tests/observer_fiber_05.phpt
  ext/zend_test/tests/observer_fiber_06.phpt
Labels: Fibers

#7103 Fix undefined return value of fiber after bailout
  Zend/tests/fibers/get-return-after-bailout.phpt
  Zend/zend_fibers.c
Labels: Fibers

#7109 JIT/AArch64: Optimize add+ldr to ldr
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT

#7108 JIT/AArch64: Use 'shifted register' if available
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT

#7102 crc32 feature detection from auxiliary vectors on FreeBSD
  ext/standard/crc32.c
Labels: Enhancement

#7095 Update deprecation message for incompatible float to int conversion
  Zend/tests/array_offset.phpt
  Zend/tests/bug46701.phpt
  Zend/tests/bug72347.phpt
  Zend/tests/constant_expressions_dynamic.phpt
  Zend/tests/empty_str_offset.phpt
  Zend/tests/float_to_int/union_int_string_type_arg.phpt
  Zend/tests/float_to_int/warning_float_does_not_fit_zend_long_arrays.phpt
  Zend/tests/float_to_int/warnings_float_literals.phpt
  Zend/tests/float_to_int/warnings_float_literals_assignment_ops.phpt
  Zend/tests/float_to_int/warnings_float_vars.phpt
  Zend/tests/float_to_int/warnings_string_float_literals.phpt
  Zend/tests/float_to_int/warnings_string_float_literals_assignment_ops.phpt
  Zend/tests/float_to_int/warnings_string_float_vars.phpt
  Zend/tests/isset_array.phpt
  Zend/tests/isset_str_offset.phpt
  Zend/tests/list_keyed_conversions.phpt
  Zend/tests/not_001.phpt
  Zend/tests/offset_array.phpt
  Zend/tests/operator_unsupported_types.phpt
  Zend/tests/type_declarations/scalar_basic.phpt
  Zend/tests/type_declarations/scalar_return_basic.phpt
  Zend/tests/type_declarations/scalar_return_basic_64bit.phpt
  Zend/zend_operators.c
  ext/mbstring/tests/mb_substitute_character_variation_weak_types.phpt
  ext/opcache/tests/jit/reg_alloc_003_32bits.phpt
  ext/spl/tests/iterator_to_array_nonscalar_keys.phpt
  ext/standard/tests/array/array_column_basic.phpt
  ext/standard/tests/array/array_key_exists_variation3.phpt
  ext/standard/tests/array/bug68553.phpt
  ext/standard/tests/math/bug30695.phpt
  ext/standard/tests/math/decbin_basic.phpt
  ext/standard/tests/math/dechex_basic.phpt
  ext/standard/tests/math/decoct_basic.phpt
  ext/standard/tests/math/mt_srand_basic.phpt
  ext/standard/tests/math/round_basic.phpt
  ext/standard/tests/math/srand_basic.phpt
  ext/standard/tests/streams/bug72075.phpt
  ext/standard/tests/strings/chr_variation1.phpt
  tests/lang/bug27354.phpt
  tests/lang/operators/bitwiseNot_basiclong_64bit.phpt
Labels: Quickfix

#7105 Add fiber type to better support custom fiber APIs
  Zend/zend_fibers.c
  Zend/zend_fibers.h
Labels: Fibers

#7106 Merge fiber switching functions
  Zend/tests/fibers/fiber-status.phpt
  Zend/tests/fibers/resume-previous-fiber.phpt
  Zend/zend_fibers.c
  Zend/zend_fibers.h
  ext/zend_test/test.c
Labels: Fibers

#7125 JIT/AArch64: Fix codestyle issues
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Enhancement, JIT

#3999 Litespeed sapi OpenBSD build fix
  sapi/litespeed/lsapilib.c
Labels: Quickfix

#7123 JIT/AArch64: Use 'tbnz/tbz' to check the signedness
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Enhancement, JIT

#7120 Unify control & data transfer between fibers
  Zend/zend_fibers.c
  Zend/zend_fibers.h
Labels: Fibers

#6857 [Bug #77120] Handle OCI_SUCCESS_WITH_INFO returned from OCISessionBegin
  ext/pdo_oci/oci_driver.c
  ext/pdo_oci/tests/oci_success_with_info.phpt
Labels: Bugfix

#6771 Proposal: add IntlDatePatternGenerator
  UPGRADING
  ext/intl/config.m4
  ext/intl/config.w32
  ext/intl/dateformat/datepatterngenerator.stub.php
  ext/intl/dateformat/datepatterngenerator_arginfo.h
  ext/intl/dateformat/datepatterngenerator_class.cpp
  ext/intl/dateformat/datepatterngenerator_class.h
  ext/intl/dateformat/datepatterngenerator_methods.cpp
  ext/intl/php_intl.c
  ext/intl/tests/datepatterngenerator_clone.phpt
  ext/intl/tests/datepatterngenerator_error.phpt
  ext/intl/tests/datepatterngenerator_get_best_pattern.phpt
Labels: RFC

#7128 Improve fiber interoperability
  Zend/zend.c
  Zend/zend_fibers.c
  Zend/zend_fibers.h
  Zend/zend_globals.h
  ext/reflection/php_reflection.c
Labels: Enhancement, Fibers

#7133 Add tests for FILTER_NULL_ON_FAILURE
  ext/filter/tests/filter_null_on_failure.phpt 
Labels: Tests

#7137 Reorganize zend_test and add custom fiber implementation tests
  ext/zend_test/config.m4
  ext/zend_test/config.w32
  ext/zend_test/fiber.c
  ext/zend_test/fiber.h
  ext/zend_test/fiber.stub.php
  ext/zend_test/fiber_arginfo.h
  ext/zend_test/observer.c
  ext/zend_test/observer.h
  ext/zend_test/php_test.h
  ext/zend_test/test.c
  ext/zend_test/tests/fiber_test_01.phpt
  ext/zend_test/tests/fiber_test_02.phpt
  ext/zend_test/tests/fiber_test_03.phpt
  ext/zend_test/tests/fiber_test_04.phpt
  ext/zend_test/tests/fiber_test_05.phpt
  ext/zend_test/tests/fiber_test_06.phpt
Labels: Tests

#7143 Bugfix: Ensure previous fiber context can be destroyed in fiber trampoline
  Zend/zend_fibers.c
Labels: Fibers

#7157 Test ARM64 JIT on Travis
  .travis.yml
  travis/test.sh
Labels: Tests

#7156 remove specialized printing from phpdbg
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg.h
  sapi/phpdbg/phpdbg_bp.c
  sapi/phpdbg/phpdbg_bp.h
  sapi/phpdbg/phpdbg_cmd.c
  sapi/phpdbg/phpdbg_cmd.h
  sapi/phpdbg/phpdbg_frame.c
  sapi/phpdbg/phpdbg_help.c
  sapi/phpdbg/phpdbg_info.c
  sapi/phpdbg/phpdbg_opcode.c
  sapi/phpdbg/phpdbg_out.c
  sapi/phpdbg/phpdbg_out.h
  sapi/phpdbg/phpdbg_prompt.c
  sapi/phpdbg/phpdbg_set.c
  sapi/phpdbg/phpdbg_utils.c
  sapi/phpdbg/phpdbg_utils.h
Labels: Enhancement

#7170 Do not expose fiber VM state management
  Zend/zend_fibers.c
  Zend/zend_fibers.h
Labels: Fibers

#7172 Convert some recently introduced zend_bool to bool
  Zend/Optimizer/dce.c
  Zend/zend_gc.c
  Zend/zend_hash.h
  Zend/zend_inheritance.c
  ext/imap/php_imap.c
  scripts/dev/check_parameters.php
  win32/sendmail.c
Labels: Quickfix

#7168 Refactor SplFixedArray
  ext/spl/config.m4
  ext/spl/config.w32
  ext/spl/spl_engine.c
  ext/spl/spl_engine.h
  ext/spl/spl_fixedarray.c
  ext/spl/tests/fixedarray_001.phpt
  ext/spl/tests/fixedarray_002.phpt
  ext/spl/tests/fixedarray_003.phpt
  ext/spl/tests/fixedarray_004.phpt
  ext/spl/tests/fixedarray_005.phpt
  ext/spl/tests/fixedarray_006.phpt
  ext/spl/tests/fixedarray_009.phpt
  ext/spl/tests/fixedarray_012.phpt
  ext/spl/tests/fixedarray_013.phpt
  ext/spl/tests/fixedarray_015.phpt
Labels: Bugfix, Enhancement

#7163 Flexible fiber bailout handling
  Zend/zend_fibers.c
  Zend/zend_fibers.h
  ext/zend_test/fiber.c
  ext/zend_test/fiber.h
  ext/zend_test/observer.c
Labels: Fibers

#7155 Rename Fiber::this() to Fiber::getCurrent()
  Zend/tests/fibers/fiber-get-current.phpt
  Zend/tests/fibers/fiber-status.phpt
  Zend/tests/fibers/resume-previous-fiber.phpt
  Zend/tests/fibers/resume-running-fiber.phpt
  Zend/zend_fibers.c
  Zend/zend_fibers.stub.php
  Zend/zend_fibers_arginfo.h
  ext/reflection/tests/ReflectionFiber_basic.phpt
Labels: Fibers, Waiting on Author

#6099 phar: use crc32 bulk method instead.
  ext/phar/phar.c
  ext/phar/zip.c
  ext/standard/crc32.c
  ext/standard/crc32.h
Labels: Enhancement, Waiting on Author

#7130 exposing few macOS socket options to give hints how to handle data,
  ext/sockets/sockets.c
Labels: Enhancement

#7165 JIT/AArch64: Support shifted immediate
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/tests/jit/add_007.phpt
  ext/opcache/tests/jit/cmp_005.phpt
Labels: Enhancement, JIT

#7174 Allow creating Graceful/UnwindExit and use when destroying a fiber
  Zend/zend_exceptions.c
  Zend/zend_exceptions.h
  Zend/zend_fibers.c
Labels: Enhancement
