Repository php/php-src, pull requests merged in 2021-07, with the labels that each got.

#6790 Deprecate implicit default PGSQL connection
  UPGRADING
  ext/pgsql/pgsql.c
  ext/pgsql/tests/01createdb.phpt
  ext/pgsql/tests/05large_object.phpt
  ext/pgsql/tests/07optional.phpt
  ext/pgsql/tests/08escape.phpt
  ext/pgsql/tests/09notice.phpt
  ext/pgsql/tests/13pg_select_9.phpt
  ext/pgsql/tests/18pg_escape_bytea_before.phpt
  ext/pgsql/tests/18pg_escape_bytea_esc.phpt
  ext/pgsql/tests/18pg_escape_bytea_hex.phpt
  ext/pgsql/tests/27large_object_oid.phpt
  ext/pgsql/tests/28large_object_import_oid.phpt
  ext/pgsql/tests/80_bug24499.phpt
  ext/pgsql/tests/80_bug27597.phpt
  ext/pgsql/tests/80_bug32223.phpt
  ext/pgsql/tests/80_bug32223b.phpt
  ext/pgsql/tests/80_bug39971.phpt
  ext/pgsql/tests/80_bug42783.phpt
  ext/pgsql/tests/98old_api.phpt
  ext/pgsql/tests/bug37100_9.phpt
  ext/pgsql/tests/bug46408.phpt
  ext/pgsql/tests/bug47199.phpt
  ext/pgsql/tests/bug60244.phpt
  ext/pgsql/tests/bug64609.phpt
  ext/pgsql/tests/bug65119.phpt
  ext/pgsql/tests/bug68638.phpt
  ext/pgsql/tests/bug71998.phpt
  ext/pgsql/tests/bug72028.phpt
  ext/pgsql/tests/bug72197.phpt
  ext/pgsql/tests/bug75419.phpt
  ext/pgsql/tests/close_default_link.phpt
  ext/pgsql/tests/connect_after_close.phpt
  ext/pgsql/tests/deprecated_implicit_default_link.phpt
  ext/pgsql/tests/lcmess.inc
  ext/pgsql/tests/no_link_open.phpt
  ext/pgsql/tests/pg_delete_001.phpt
  ext/pgsql/tests/pg_insert_001.phpt
  ext/pgsql/tests/pg_meta_data_001.phpt
  ext/pgsql/tests/pg_select_001.phpt
  ext/pgsql/tests/pg_update_001.phpt
  ext/pgsql/tests/skipif.inc
Labels: RFC

#7226 Fiber ucontext support
  NEWS
  Zend/zend_fibers.c
  Zend/zend_fibers.h
  configure.ac
Labels: Bugfix, Fibers

#7227 replace custom opcode dumper with O+ dump
  Zend/Optimizer/zend_dump.c
  Zend/Optimizer/zend_dump.h
  sapi/phpdbg/config.m4
  sapi/phpdbg/config.w32
  sapi/phpdbg/phpdbg.1.in
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg.h
  sapi/phpdbg/phpdbg_bp.c
  sapi/phpdbg/phpdbg_break.c
  sapi/phpdbg/phpdbg_help.c
  sapi/phpdbg/phpdbg_opcode.c
  sapi/phpdbg/phpdbg_opcode.h
  sapi/phpdbg/phpdbg_print.c
  sapi/phpdbg/phpdbg_print.h
  sapi/phpdbg/phpdbg_prompt.c
  sapi/phpdbg/phpdbg_set.c
  sapi/phpdbg/phpdbg_set.h
  sapi/phpdbg/phpdbg_utils.c
  sapi/phpdbg/tests/exceptions_003.phpt
  sapi/phpdbg/tests/next_001.phpt
  sapi/phpdbg/tests/print_001.phpt
  sapi/phpdbg/tests/print_002.phpt
  sapi/phpdbg/tests/stepping_001.phpt
Labels: Enhancement

#7202 sockets enabling SO_MARK socket option which is relatively similar
  ext/sockets/sockets.c
Labels: Enhancement

#6408 getrandom support for DragonFlyBSD too.
  ext/standard/random.c
Labels: Enhancement, Waiting on Review

#6985 Declare tentative return types for ext/dom
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: tentative returns

#7293 more fiber notifications
  Zend/zend_fibers.c
  Zend/zend_observer.c
  Zend/zend_observer.h
  ext/zend_test/observer.c
  ext/zend_test/php_test.h
  ext/zend_test/tests/observer_fiber_01.phpt
Labels: Fibers

#7292 Extend resource reservation to Fibers
  Zend/zend_fibers.h
Labels: Fibers

#7291 Sync the FPM openmetrics status with php-fpm_exporter
  sapi/fpm/fpm/fpm_status.c
  sapi/fpm/tests/status.inc
Labels: FPM

#7311 Preload unlinked classes, remove preload autoload
  Zend/zend.c
  Zend/zend.h
  Zend/zend_compile.c
  Zend/zend_inheritance.c
  Zend/zend_opcode.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/ZendAccelerator.c
Labels: Enhancement
