Repository php/php-src, pull requests merged in 2021-08, with the labels that each got.

#7002 minimal fix for openssl 3.0
  ext/openssl/openssl.c
Labels: Quickfix, OpenSSL

#7330 Remove special self/parent handling in get_class_name_map_ptr()
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
Labels: Enhancement

#7350 dns resolv fix linkage issue on haiku
  ext/standard/dns.c
Labels: Build System

#7336 Always use CE_CACHE, remove TYPE_HAS_CE
  Zend/Optimizer/zend_inference.c
  Zend/tests/objects_008.phpt
  Zend/zend.c
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_inheritance.c
  Zend/zend_map_ptr.h
  Zend/zend_types.h
  ext/opcache/ZendAccelerator.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/reflection/php_reflection.c
  ext/reflection/tests/intersection_types.phpt
  ext/reflection/tests/union_types.phpt
Labels: Zend

#7347 Require sqlite >= 3.7.7 for URI in DSN
  ext/pdo_sqlite/config.m4
  ext/sqlite3/config0.m4
Labels: Build System

#7255 Refactor proc_open() implementation
  ext/standard/proc_open.c
  ext/standard/proc_open.h
Labels: Enhancement

#7340 Add support for replacing class synopses based on stubs
  build/gen_stub.php
Labels: Build System, Waiting on Review

#7338 AIX/XCOFF support for fibers
  Zend/asm/jump_ppc32_sysv_xcoff_gas.S
  Zend/asm/jump_ppc64_sysv_xcoff_gas.S
  Zend/asm/make_ppc32_sysv_xcoff_gas.S
  Zend/asm/make_ppc64_sysv_xcoff_gas.S
  configure.ac
Labels: Fibers

#7392 SQLite3 fetchArray - faster argument parsing
  ext/sqlite3/sqlite3.c
Labels: Enhancement, Waiting on Author

#7400 Generate &Properties; entity in xpointer for inherited properties in class synopses
  build/gen_stub.php
Labels: Build System, Waiting on Review

#7429 Fix default value of $flags in oci_fetch_all()
  ext/oci8/oci8.stub.php
  ext/oci8/oci8_arginfo.h
  ext/oci8/oci8_interface.c
Labels: Quickfix

#7418 [gen_stub] fix nested namespaced typed property in gen_stub.php
  build/gen_stub.php
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/gen_stub_test_01.phpt
Labels: Waiting on Review, Stubs
