Repository php/php-src, pull requests merged in 2022-08, with the labels that each got.

#9075 Declare ext/pcntl constants in stubs
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/php_pcntl.h
Labels: Extension: pcntl

#9148 Declare ext/tokenizer constants in stubs
  .github/actions/verify-generated-files/action.yml
  ext/tokenizer/php_tokenizer.h
  ext/tokenizer/tokenizer.c
  ext/tokenizer/tokenizer.stub.php
  ext/tokenizer/tokenizer_arginfo.h
  ext/tokenizer/tokenizer_data.c
  ext/tokenizer/tokenizer_data.stub.php
  ext/tokenizer/tokenizer_data_arginfo.h
  ext/tokenizer/tokenizer_data_gen.php
Labels: Extension: tokenizer

#9213 PcgOneseq128XslRr64::jump(): Throw ValueError for negative $advance
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/tests/02_engine/pcgoneseq128xslrr64_jump_error.phpt
Labels: Extension: random

#9217 Use new improved function to check a line is empty instead of the old one
  ext/spl/spl_directory.c
Labels: Extension: spl

#9188 Extend map_ptr before copying class table
  Zend/zend_types.h
  ext/opcache/tests/gh9164.phpt
  ext/opcache/zend_accelerator_util_funcs.c
Labels: Category: Engine, Extension: opcache

#9185 Unify ext/random unserialize errors with ext/date
  ext/random/engine_mt19937.c
  ext/random/randomizer.c
  ext/random/tests/02_engine/all_serialize_error.phpt
Labels: Extension: random

#9225 Declare ext/sodium constants in stubs
  ext/sodium/libsodium.c
  ext/sodium/libsodium.stub.php
  ext/sodium/libsodium_arginfo.h
  ext/sodium/php_libsodium.h
Labels: Extension: sodium

#9226 Declare ext/spl constants in stubs
  ext/spl/spl_array.c
  ext/spl/spl_array.h
  ext/spl/spl_array.stub.php
  ext/spl/spl_array_arginfo.h
  ext/spl/spl_directory.c
  ext/spl/spl_directory.h
  ext/spl/spl_directory.stub.php
  ext/spl/spl_directory_arginfo.h
  ext/spl/spl_dllist.c
  ext/spl/spl_dllist.h
  ext/spl/spl_dllist.stub.php
  ext/spl/spl_dllist_arginfo.h
  ext/spl/spl_functions.h
  ext/spl/spl_heap.c
  ext/spl/spl_heap.h
  ext/spl/spl_heap.stub.php
  ext/spl/spl_heap_arginfo.h
  ext/spl/spl_iterators.c
  ext/spl/spl_iterators.h
  ext/spl/spl_iterators.stub.php
  ext/spl/spl_iterators_arginfo.h
  ext/spl/spl_observer.c
  ext/spl/spl_observer.h
  ext/spl/spl_observer.stub.php
  ext/spl/spl_observer_arginfo.h
Labels: Extension: spl

#9219 Declare ext/intl constants in stubs - part 2
  ext/intl/collator/collator.c
  ext/intl/collator/collator.h
  ext/intl/collator/collator.stub.php
  ext/intl/collator/collator_arginfo.h
  ext/intl/collator/collator_class.c
  ext/intl/collator/collator_class.h
  ext/intl/config.m4
  ext/intl/config.w32
  ext/intl/php_intl.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
Labels: Extension: intl

#9211 Clean up nested exceptions without value-add in ext/random
  NEWS
  ext/random/engine_mt19937.c
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/user_throws.phpt
  ext/random/tests/03_randomizer/user_unsafe.phpt
Labels: Extension: random

#9222 Clean up the implementation of Randomizer::__construct()
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/construct_twice.phpt
Labels: Extension: random

#9235 Fix PcgOneseq128XslRr64::__construct() definition in random.stub.php
  NEWS
  ext/random/random.stub.php
  ext/random/random_arginfo.h
Labels: Extension: random

#9220 Add ext/random Exception hierarchy
  NEWS
  UPGRADING
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
  ext/random/php_random.h
  ext/random/random.c
  ext/random/random.stub.php
  ext/random/random_arginfo.h
  ext/random/tests/03_randomizer/user_unsafe.phpt
Labels: Extension: random

#9197 Fix undefined behavior of MT_RAND_PHP if range exceeds ZEND_LONG_MAX
  NEWS
  ext/random/engine_mt19937.c
Labels: Extension: random

#8288 Convert some macros to inline functions
  Zend/zend.h
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_hash.c
  Zend/zend_hash.h
  Zend/zend_inheritance.h
  Zend/zend_interfaces.h
  Zend/zend_llist.h
  Zend/zend_operators.h
  Zend/zend_smart_str.h
Labels: Category: Engine

#9215 Remove ZEND_DVAL_TO_LVAL_CAST_OK
  NEWS
  Zend/Zend.m4
  Zend/zend_operators.c
  Zend/zend_operators.h
Labels: Category: Engine

#8888 [RFC] Implement constants in traits
  Zend/Optimizer/pass1.c
  Zend/tests/enum/traits-constants.phpt
  Zend/tests/traits/constant_001.phpt
  Zend/tests/traits/constant_002.phpt
  Zend/tests/traits/constant_003.phpt
  Zend/tests/traits/constant_004.phpt
  Zend/tests/traits/constant_005.phpt
  Zend/tests/traits/constant_006.phpt
  Zend/tests/traits/constant_007.phpt
  Zend/tests/traits/constant_008.phpt
  Zend/tests/traits/constant_009.phpt
  Zend/tests/traits/constant_010.phpt
  Zend/tests/traits/constant_011.phpt
  Zend/tests/traits/constant_012.phpt
  Zend/tests/traits/constant_013.phpt
  Zend/tests/traits/constant_014.phpt
  Zend/tests/traits/constant_015.phpt
  Zend/tests/traits/constant_016.phpt
  Zend/tests/traits/constant_017.phpt
  Zend/tests/traits/constant_018.phpt
  Zend/tests/traits/constant_019.phpt
  Zend/tests/traits/constant_020.phpt
  Zend/tests/traits/constant_021.phpt
  Zend/tests/traits/error_016.phpt
  Zend/zend_compile.c
  Zend/zend_constants.c
  Zend/zend_inheritance.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: RFC, Waiting on Review, Category: Engine, Category: Optimizer

#9184 Fix unstable sapi output, fix GH-9140
  sapi/cgi/cgi_main.c
  sapi/cgi/tests/005-win32.phpt
  sapi/cgi/tests/005.phpt
Labels: SAPI: cgi

#9253 zend allocators adding __declspec allocator for windows.
  Zend/zend_portability.h
Labels: Category: Engine

#9250 Handle zero seed in Xoshiro256**
  NEWS
  ext/random/engine_xoshiro256starstar.c
  ext/random/tests/02_engine/xoshiro256starstar_seed.phpt
Labels: Extension: random

#9233 Declare ext/intl constants in stubs - part 3
  ext/intl/config.m4
  ext/intl/config.w32
  ext/intl/formatter/formatter.c
  ext/intl/formatter/formatter.h
  ext/intl/formatter/formatter.stub.php
  ext/intl/formatter/formatter_arginfo.h
  ext/intl/php_intl.c
Labels: Extension: intl

#9234 Declare ext/intl constants in stubs - part 4
  ext/intl/dateformat/dateformat.c
  ext/intl/dateformat/dateformat.h
  ext/intl/dateformat/dateformat.stub.php
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/dateformat/dateformat_create.h
  ext/intl/php_intl.c
Labels: Extension: intl

#9267 Declare ext/intl constants in stubs - part 5
  ext/intl/config.m4
  ext/intl/config.w32
  ext/intl/normalizer/normalizer.c
  ext/intl/normalizer/normalizer.h
  ext/intl/normalizer/normalizer.stub.php
  ext/intl/normalizer/normalizer_arginfo.h
  ext/intl/normalizer/normalizer_class.c
  ext/intl/php_intl.c
Labels: Extension: intl

#9268 Declare ext/intl constants in stubs - part 6
  ext/intl/config.m4
  ext/intl/config.w32
  ext/intl/php_intl.c
  ext/intl/spoofchecker/spoofchecker.c
  ext/intl/spoofchecker/spoofchecker.h
  ext/intl/spoofchecker/spoofchecker.stub.php
  ext/intl/spoofchecker/spoofchecker_arginfo.h
Labels: Extension: intl

#9264 Make `"{$g{'h'}}"` emit fatal error and no incorrect deprecation notice in 8.2
  NEWS
  Zend/tests/alternative_offset_syntax_in_encaps_string.phpt
  Zend/zend_compile.c
  Zend/zend_compile.h
Labels: Category: Engine

#9280 Declare ext/intl constants in stubs - part 10
  ext/intl/breakiterator/breakiterator.stub.php
  ext/intl/breakiterator/breakiterator_arginfo.h
  ext/intl/breakiterator/breakiterator_class.cpp
  ext/intl/breakiterator/breakiterator_iterators.cpp
  ext/intl/breakiterator/breakiterator_iterators.stub.php
  ext/intl/breakiterator/breakiterator_iterators_arginfo.h
Labels: Extension: intl

#9282 Declare ext/intl constants in stubs - part 12
  ext/intl/timezone/timezone.stub.php
  ext/intl/timezone/timezone_arginfo.h
  ext/intl/timezone/timezone_class.cpp
Labels: Extension: intl

#9281 Declare ext/intl constants in stubs - part 11
  ext/intl/calendar/calendar.stub.php
  ext/intl/calendar/calendar_arginfo.h
  ext/intl/calendar/calendar_class.cpp
Labels: Extension: intl

#9275 Declare ext/intl constants in stubs - part 8
  ext/intl/uchar/ublockcode-enum.h
  ext/intl/uchar/uchar.c
  ext/intl/uchar/uchar.stub.php
  ext/intl/uchar/uchar_arginfo.h
  ext/intl/uchar/ucharcategory-enum.h
  ext/intl/uchar/uchardirection-enum.h
  ext/intl/uchar/uother-enum.h
  ext/intl/uchar/uproperty-enum.h
Labels: Extension: intl

#9276 Declare ext/intl constants in stubs - part 9
  ext/intl/converter/converter.c
  ext/intl/converter/converter.stub.php
  ext/intl/converter/converter_arginfo.h
Labels: Extension: intl

#9295 Make pestr[n]dup infallible
  UPGRADING.INTERNALS
  Zend/zend_alloc.c
  Zend/zend_alloc.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/syslog.c
  sapi/cli/php_cli_server.c
Labels: Category: Engine, Extension: standard, SAPI: cli

#9306 Show function name when dumping fake closure
  Zend/tests/bug75290.phpt
  Zend/tests/first_class_callable_optimization.phpt
  Zend/tests/gh8083.phpt
  Zend/tests/gh8962.phpt
  Zend/zend_closures.c
Labels: Category: Engine

#9304 Update expires format for session cookie
  NEWS
  ext/session/session.c
  ext/session/tests/gh9200.phpt
Labels: Extension: session

#9305 Replace RuntimeException in Randomizer::nextInt() by RandomException
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/basic.phpt
  ext/random/tests/03_randomizer/compatibility_user.phpt
  ext/random/tests/03_randomizer/nextint_error.phpt
Labels: Extension: random

#9329 Remove useless UNEXPECTED around RETURN_VALUE_USED in specialized RETVAL handler
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#9324 Fix unexpected deprecated dynamic property warning
  Zend/tests/throw/exit_in_finally.phpt
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#9346 random left rotates annotating as const.
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

#9146 Declare ext/zip constants in stubs
  ext/zip/php_zip.c
  ext/zip/php_zip.h
  ext/zip/php_zip.stub.php
  ext/zip/php_zip_arginfo.h
Labels: Extension: zip

#9349 Declare ext/sockets constants in stubs
  ext/sockets/php_sockets.h
  ext/sockets/sendrecvmsg.c
  ext/sockets/sendrecvmsg.h
  ext/sockets/sockets.c
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
  ext/sockets/unix_socket_constants.h
  ext/sockets/win32_socket_constants.h
Labels: Extension: sockets

#9384 Declare ext/curl constants in stubs
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/interface.c
Labels: Extension: curl

#9383 Declare ext/tidy constants in stubs
  ext/tidy/tidy.c
  ext/tidy/tidy.stub.php
  ext/tidy/tidy_arginfo.h
Labels: Extension: tidy

#9385 Declare ext/intl constants in stubs - part 13
  ext/intl/common/common.stub.php
  ext/intl/common/common_arginfo.h
  ext/intl/common/common_enum.cpp
  ext/intl/common/common_enum.h
  ext/intl/common/common_error.c
  ext/intl/common/common_error.h
  ext/intl/php_intl.c
Labels: Extension: intl

#9391 Fix curl/sync_constants.php
  ext/curl/interface.c
  ext/curl/sync-constants.php
Labels: Extension: curl

#9392 Declare phpdbg constants in stubs
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg.stub.php
  sapi/phpdbg/phpdbg_arginfo.h
Labels: SAPI: phpdbg

#9387 Declare ext/intl constants in stubs - part 14
  ext/intl/grapheme/grapheme.h
  ext/intl/grapheme/grapheme_string.c
  ext/intl/idn/idn.c
  ext/intl/idn/idn.h
  ext/intl/php_intl.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
Labels: Extension: intl

#9375 Add a new zend API to check that strings don't have NUL bytes
  UPGRADING.INTERNALS
  Zend/zend_API.h
Labels: Category: Engine

#9350 Enum error message consistency
  Zend/tests/enum/__clone.phpt
  Zend/tests/enum/__debugInfo.phpt
  Zend/tests/enum/__get.phpt
  Zend/tests/enum/__isset.phpt
  Zend/tests/enum/__serialize.phpt
  Zend/tests/enum/__set.phpt
  Zend/tests/enum/__set_state.phpt
  Zend/tests/enum/__sleep.phpt
  Zend/tests/enum/__toString.phpt
  Zend/tests/enum/__unserialize.phpt
  Zend/tests/enum/__unset.phpt
  Zend/tests/enum/__wakeup.phpt
  Zend/tests/enum/backed-from-invalid-int.phpt
  Zend/tests/enum/backed-from-invalid-string.phpt
  Zend/tests/enum/backed-from-invalid-type.phpt
  Zend/tests/enum/internal_enums.phpt
  Zend/tests/enum/no-constructors.phpt
  Zend/tests/enum/no-destruct.phpt
  Zend/tests/enum/no-implement-serializable-indirect.phpt
  Zend/tests/enum/no-implement-serializable.phpt
  Zend/tests/enum/no-name-property.phpt
  Zend/tests/enum/no-properties.phpt
  Zend/tests/enum/no-static-properties.phpt
  Zend/tests/enum/no-value-property.phpt
  Zend/tests/enum/traits-no-__construct.phpt
  Zend/tests/enum/traits-no-forbidden-methods.phpt
  Zend/tests/enum/traits-no-properties.phpt
  Zend/zend_compile.c
  Zend/zend_enum.c
Labels: Category: Engine

#9402 Check at compile time that a built-in class is not being aliased
  Zend/tests/use_statement/aliasing_builtin_types.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#9321 Unify structure for ext/random's engine tests
  ext/random/tests/02_engine/all_serialize_error.phpt
  ext/random/tests/02_engine/all_serialize_native.phpt
  ext/random/tests/02_engine/all_serialize_user.phpt
  ext/random/tests/02_engine/mt19937_error.phpt
  ext/random/tests/02_engine/mt19937_serialize.phpt
  ext/random/tests/02_engine/mt19937_value.phpt
  ext/random/tests/02_engine/pcgoneseq128xslrr64_jump_error.phpt
  ext/random/tests/02_engine/pcgoneseq128xslrr64_seed.phpt
  ext/random/tests/02_engine/pcgoneseq128xslrr64_serialize.phpt
  ext/random/tests/02_engine/pcgoneseq128xslrr64_value.phpt
  ext/random/tests/02_engine/user_compatibility.phpt
  ext/random/tests/02_engine/user_xoshiro128plusplus.phpt
  ext/random/tests/02_engine/xoshiro256starstar_seed.phpt
  ext/random/tests/02_engine/xoshiro256starstar_serialize.phpt
  ext/random/tests/02_engine/xoshiro256starstar_value.phpt
Labels: Extension: random

#9343 Stop JIT hot spot counting
  ext/opcache/jit/zend_jit_trace.c
Labels: Waiting on Review, Extension: opcache

#9416 Fix rand_range32() for umax = UINT32_MAX
  NEWS
  ext/random/random.c
  ext/random/tests/03_randomizer/gh9415.phpt
Labels: Extension: random

#9404 Declare ext/standard constants in stubs - part 1
  ext/spl/spl_observer.c
  ext/standard/array.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/php_array.h
Labels: Extension: spl, Extension: standard

#9419 Declare ext/oci8 constants in stubs
  ext/oci8/oci8.c
  ext/oci8/oci8.stub.php
  ext/oci8/oci8_arginfo.h
Labels: Extension: oci8

#9418 Select `rand_rangeXX()` variant only based on the requested range
  NEWS
  ext/random/random.c
Labels: Extension: random

#9413 Reduce observer overhead when restoring script from opcache
  ext/opcache/zend_accelerator_util_funcs.c
Labels: Extension: opcache

#9426 Declare ext/standard constants in stubs - part 2
  ext/standard/file.c
  ext/standard/file.stub.php
  ext/standard/file_arginfo.h
Labels: Extension: standard

#9427 Declare ext/standard constants in stubs - part 3
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Extension: standard

#9439 Do not generate CONST_CS when registering constants
  Zend/zend_constants_arginfo.h
  build/gen_stub.php
  ext/calendar/calendar_arginfo.h
  ext/com_dotnet/com_extension_arginfo.h
  ext/curl/curl_arginfo.h
  ext/date/php_date_arginfo.h
  ext/dba/dba_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/enchant/enchant_arginfo.h
  ext/exif/exif_arginfo.h
  ext/fileinfo/fileinfo_arginfo.h
  ext/filter/filter_arginfo.h
  ext/ftp/ftp_arginfo.h
  ext/gd/gd_arginfo.h
  ext/gmp/gmp_arginfo.h
  ext/hash/hash_arginfo.h
  ext/iconv/iconv_arginfo.h
  ext/imap/php_imap_arginfo.h
  ext/intl/collator/collator_arginfo.h
  ext/intl/common/common_arginfo.h
  ext/intl/php_intl_arginfo.h
  ext/json/json_arginfo.h
  ext/ldap/ldap_arginfo.h
  ext/libxml/libxml_arginfo.h
  ext/mbstring/mbstring_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/oci8/oci8_arginfo.h
  ext/odbc/odbc_arginfo.h
  ext/openssl/openssl_arginfo.h
  ext/pcntl/pcntl_arginfo.h
  ext/pcre/php_pcre_arginfo.h
  ext/pgsql/pgsql_arginfo.h
  ext/posix/posix_arginfo.h
  ext/pspell/pspell_arginfo.h
  ext/random/random_arginfo.h
  ext/readline/readline_arginfo.h
  ext/session/session_arginfo.h
  ext/snmp/snmp_arginfo.h
  ext/soap/soap_arginfo.h
  ext/sockets/sockets_arginfo.h
  ext/sodium/libsodium_arginfo.h
  ext/sqlite3/sqlite3_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/standard/file_arginfo.h
  ext/sysvmsg/sysvmsg_arginfo.h
  ext/tidy/tidy_arginfo.h
  ext/tokenizer/tokenizer_arginfo.h
  ext/tokenizer/tokenizer_data_arginfo.h
  ext/xml/xml_arginfo.h
  ext/xsl/php_xsl_arginfo.h
  ext/zend_test/test_arginfo.h
  ext/zlib/zlib_arginfo.h
  sapi/phpdbg/phpdbg_arginfo.h
Labels: Category: Build System, Extension: openssl, Category: Engine, Extension: intl, Extension: calendar, Extension: com_dotnet, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: exif, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gd, Extension: gmp, Extension: hash, Extension: iconv, Extension: imap, Extension: json, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: oci8, Extension: odbc, Extension: pcntl, Extension: pcre, Extension: pgsql, Extension: posix, Extension: pspell, Extension: readline, Extension: session, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: tidy, Extension: tokenizer, Extension: xml, Extension: xsl, Extension: zend_test, Extension: zlib, SAPI: phpdbg, Extension: random

#9433 Add a bit of verbosity in FPM logs
  sapi/fpm/fpm/fpm_stdio.c
Labels: SAPI: fpm

#9435 Delay fiber VM stack cleanup until after observer has been called
  Zend/zend_fibers.c
  Zend/zend_fibers.h
Labels: Category: Engine

#9354 Fix GH-9186 @strict-properties can be bypassed using unserialization
  NEWS
  Zend/tests/gc_043.phpt
  Zend/tests/readonly_classes/readonly_class_unserialize_error.phpt
  Zend/zend_API.c
  ext/gmp/tests/gmp_dynamic_property.phpt
  ext/gmp/tests/serialize.phpt
  ext/random/engine_mt19937.c
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/gh_9186_unserialize.phpt
  ext/session/tests/003.phpt
  ext/session/tests/004.phpt
  ext/session/tests/005.phpt
  ext/session/tests/023.phpt
  ext/session/tests/024.phpt
  ext/session/tests/025.phpt
  ext/soap/tests/bug70388.phpt
  ext/soap/tests/bugs/bug69085.phpt
  ext/spl/spl_array.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_fixedarray.stub.php
  ext/spl/spl_fixedarray_arginfo.h
  ext/spl/tests/SplFixedArray_serialize.phpt
  ext/spl/tests/bug70155.phpt
  ext/spl/tests/bug74669.phpt
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/serialize/bug49649.phpt
  ext/standard/tests/serialize/bug49649_1.phpt
  ext/standard/tests/serialize/bug49649_2.phpt
  ext/standard/tests/serialize/bug62836_1.phpt
  ext/standard/tests/serialize/bug62836_2.phpt
  ext/standard/tests/serialize/bug72663.phpt
  ext/standard/tests/serialize/serialization_objects_incomplete.phpt
  ext/standard/tests/serialize/unserialize_overwrite_undeclared_protected.phpt
  ext/standard/tests/serialize/unserialize_ref_to_overwritten_declared_prop.phpt
  ext/standard/var_unserializer.re
Labels: Category: Engine, Extension: gmp, Extension: session, Extension: soap, Extension: spl, Extension: standard, Extension: random

#9448 Make var_export/debug_zval_dump check for infinite recursion on the *object*
  ext/spl/tests/gh8044.phpt
  ext/standard/var.c
Labels: Extension: spl, Extension: standard

#9410 Unify structure for ext/random's randomizer tests
  ext/random/tests/02_engine/all_serialize_native.phpt
  ext/random/tests/02_engine/all_serialize_user.phpt
  ext/random/tests/02_engine/pcgoneseq128xslrr64_jump_error.phpt
  ext/random/tests/02_engine/user_compatibility.phpt
  ext/random/tests/02_engine/xoshiro256starstar_seed.phpt
  ext/random/tests/03_randomizer/basic.phpt
  ext/random/tests/03_randomizer/compatibility_array_rand.phpt
  ext/random/tests/03_randomizer/compatibility_mt.phpt
  ext/random/tests/03_randomizer/compatibility_mt_rand.phpt
  ext/random/tests/03_randomizer/compatibility_user.phpt
  ext/random/tests/03_randomizer/construct_twice.phpt
  ext/random/tests/03_randomizer/engine_unsafe_biased.phpt
  ext/random/tests/03_randomizer/engine_unsafe_empty_string.phpt
  ext/random/tests/03_randomizer/engine_unsafe_exits.phpt
  ext/random/tests/03_randomizer/engine_unsafe_throws.phpt
  ext/random/tests/03_randomizer/get_bytes.phpt
  ext/random/tests/03_randomizer/get_int_user.phpt
  ext/random/tests/03_randomizer/methods/getBytes.phpt
  ext/random/tests/03_randomizer/methods/getBytes_expansion.phpt
  ext/random/tests/03_randomizer/methods/getInt.phpt
  ext/random/tests/03_randomizer/methods/getInt_expansion_32.phpt
  ext/random/tests/03_randomizer/methods/getInt_expansion_64.phpt
  ext/random/tests/03_randomizer/methods/getInt_gh9415.phpt
  ext/random/tests/03_randomizer/methods/nextInt.phpt
  ext/random/tests/03_randomizer/methods/nextInt_64_engine_on_32_platform.phpt
  ext/random/tests/03_randomizer/methods/pickArrayKeys.phpt
  ext/random/tests/03_randomizer/methods/pickArrayKeys_error.phpt
  ext/random/tests/03_randomizer/methods/shuffleArray.phpt
  ext/random/tests/03_randomizer/methods/shuffleBytes.phpt
  ext/random/tests/03_randomizer/nextint_error.phpt
  ext/random/tests/03_randomizer/pick_array_keys_error.phpt
  ext/random/tests/03_randomizer/readonly.phpt
  ext/random/tests/03_randomizer/serialize.phpt
  ext/random/tests/03_randomizer/serialize_disallowed.phpt
  ext/random/tests/03_randomizer/user_exits.phpt
  ext/random/tests/03_randomizer/user_throws.phpt
  ext/random/tests/03_randomizer/user_unsafe.phpt
  ext/random/tests/engines.inc
Labels: Extension: random
