Repository php/php-src, pull requests merged in 2022-10, with the labels that each got.

#9602 Return immediately when FD_SETSIZE is exceeded
  ext/mysqli/tests/gh9590.phpt
  ext/mysqlnd/mysqlnd_connection.c
  ext/sockets/sockets.c
  ext/standard/streamsfuncs.c
  ext/standard/tests/streams/gh9590-001.phpt
  ext/standard/tests/streams/gh9590-002.phpt
  main/network.c
  main/php_network.h
Labels: Extension: mysqli, Extension: mysqlnd, Extension: sockets, Extension: standard

#9651 porting ZEND_ASSUME for clang for the optimiser with
  Zend/zend_portability.h
Labels: Category: Engine

#9658 Use function HT_IS_PACKED where it's missing
  Zend/zend_hash.c
  Zend/zend_hash.h
  ext/standard/var_unserializer.re
Labels: Category: Engine, Extension: standard

#9336 Add four extra fields to gc_status()
  Zend/Optimizer/zend_func_infos.h
  Zend/tests/gc_037.phpt
  Zend/tests/gc_045.phpt
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
  Zend/zend_gc.c
  Zend/zend_gc.h
Labels: Category: Engine, Category: Optimizer

#9684 Do not overwrite the zobj variable in ASSIGN_OBJ opcode
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#9399 RFC - json_validate()
  ext/json/json.c
  ext/json/json.stub.php
  ext/json/json_arginfo.h
  ext/json/json_parser.y
  ext/json/php_json.h
  ext/json/php_json_parser.h
  ext/json/tests/json_validate_001.phpt
  ext/json/tests/json_validate_002.phpt
  ext/json/tests/json_validate_003.phpt
  ext/json/tests/json_validate_004.phpt
  ext/json/tests/json_validate_005.phpt
  ext/json/tests/json_validate_requires.inc
Labels: RFC, Extension: json

#9696 Fix json_validate double free in parser when discarding lookahead
  ext/json/json_parser.y
Labels: Extension: json

#9719 Declare ext/standard constants in stubs - part 10
  ext/standard/assert.c
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/php_assert.h
Labels: Extension: standard

#9728 Declare ext/standard constants in stubs - part 11
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/crypt.c
  ext/standard/php_crypt.h
Labels: Extension: standard

#9729 Declare ext/standard constants in stubs - part 12
  ext/standard/user_filters.c
  ext/standard/user_filters.stub.php
  ext/standard/user_filters_arginfo.h
Labels: Extension: standard

#9730 Declare remaining Zend constants in stubs
  Zend/zend_constants.c
  Zend/zend_constants.stub.php
  Zend/zend_constants_arginfo.h
Labels: Category: Engine

#9717 Declare ext/standard constants in stubs - part 9
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/php_string.h
  ext/standard/string.c
Labels: Extension: standard

#9755 opcache: add FrankenPHP to the allow list
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#9753 Restore extra_named_params when restoring frozen call stack
  Zend/tests/generators/gh9752.phpt
  Zend/zend_generators.c
Labels: Category: Engine

#9785 opcache: add FrankenPHP to the allow list for PHP 8.2
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#9797 [skip ci] Amend coding style
  CODING_STANDARDS.md
Labels: Category: Documentation

#9802 Fix crash when memory limit is exceeded during generator initialization
  Zend/tests/generators/gh9801.phpt
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#9766 fix: no-op when signal handlers are called on threads not managed by …
  NEWS
  TSRM/TSRM.c
  TSRM/TSRM.h
  Zend/zend_execute_API.c
  Zend/zend_signal.c
Labels: Category: Engine

#9757 Make inspecting SplFixedArray instances more memory efficient/consistent, change print_r null props handling
  Zend/tests/function_arguments/sensitive_parameter_value.phpt
  Zend/zend.c
  ext/spl/spl_fixedarray.c
  ext/spl/tests/ArrayObject_overloaded_SplFixedArray.phpt
  ext/spl/tests/ArrayObject_overloaded_object_incompatible.phpt
  ext/spl/tests/SplFixedArray_get_properties_for.phpt
  ext/spl/tests/SplFixedArray_immediate_gc.phpt
  ext/spl/tests/SplFixedArray_setSize_destruct.phpt
Labels: Category: Engine, Extension: spl

#9821 opcache: fix syntax error introduced in zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Extension: opcache

#9796 Optimize spread operator for packed arrays (fix GH-9794)
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#9835 Add a temporary fix for insufficient buffer size in mysqlnd
  ext/mysqlnd/mysqlnd_wireprotocol.c
Labels: Extension: mysqlnd

#9839 Fix pre-PHP 8.2 compatibility for php_mt_rand_range() with MT_RAND_PHP
  NEWS
  ext/random/engine_mt19937.c
  ext/random/random.c
  ext/random/randomizer.c
  ext/random/tests/01_functions/array_rand_mt_rand_php.phpt
Labels: Extension: random

#9843 Do not display the value of UNKNOWN constants in the manual
  build/gen_stub.php
Labels: Category: Build System

#9860 Use zend_call_known_function() in ext-pgsql instead of building FCI/FCC
  ext/pgsql/pgsql.c
Labels: Extension: pgsql

#9861 Use zend_call_known_function() in ext-mysqli instead of building FCI/FCC
  ext/mysqli/mysqli.c
Labels: Extension: mysqli
