Repository php/php-src, pull requests merged in 2022-09, with the labels that each got.

#9260 Fix high opcache.interned_strings_buffer causing shm corruption
  ext/opcache/ZendAccelerator.c
  ext/opcache/tests/gh9259_001.phpt
  ext/opcache/tests/gh9259_002.phpt
  ext/opcache/tests/gh9259_003.phpt
  ext/opcache/zend_accelerator_module.c
  ext/opcache/zend_shared_alloc.c
Labels: Extension: opcache

#9258 Log error cause when opcache cannot write to file cache
  ext/opcache/tests/file_cache_error.phpt
  ext/opcache/zend_file_cache.c
Labels: Extension: opcache

#9482 Remove obsolete checks for random-related functionality from ext/standard/config.m4
  ext/standard/config.m4
Labels: Extension: standard

#9472 Warn about missing class synopses when running gen_stub.php --replace-classsynopses
  build/gen_stub.php
  ext/pdo_pgsql/pgsql_driver.stub.php
  ext/pdo_pgsql/pgsql_driver_arginfo.h
  ext/pdo_sqlite/sqlite_driver.stub.php
  ext/pdo_sqlite/sqlite_driver_arginfo.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/zend_test/fiber.stub.php
  ext/zend_test/fiber_arginfo.h
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: standard, Extension: zend_test

#9485 Use php_info_print_table_header for actual column headers only
  ext/com_dotnet/com_extension.c
  ext/dl_test/dl_test.c
  ext/ffi/ffi.c
  ext/intl/php_intl.c
  ext/mysqli/mysqli.c
  ext/mysqlnd/php_mysqlnd.c
  ext/odbc/php_odbc.c
  ext/pcntl/pcntl.c
  ext/pdo/pdo.c
  ext/pdo_dblib/pdo_dblib.c
  ext/pdo_firebird/pdo_firebird.c
  ext/pdo_mysql/pdo_mysql.c
  ext/pdo_oci/pdo_oci.c
  ext/pdo_odbc/pdo_odbc.c
  ext/pdo_sqlite/pdo_sqlite.c
  ext/pgsql/pgsql.c
  ext/phar/phar.c
  ext/readline/readline_cli.c
  ext/skeleton/skeleton.c
  ext/sodium/libsodium.c
  ext/spl/php_spl.c
  ext/sqlite3/sqlite3.c
  ext/zend_test/test.c
  ext/zlib/zlib.c
Labels: Extension: intl, Extension: com_dotnet, Extension: ffi, Extension: mysqli, Extension: mysqlnd, Extension: odbc, Extension: pcntl, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_oci, Extension: pdo_odbc, Extension: pdo_sqlite, Extension: pgsql, Extension: phar, Extension: readline, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: zend_test, Extension: zlib

#9478 intl: use uspoof_check2UTF8 call when available.
  ext/intl/spoofchecker/spoofchecker_class.c
  ext/intl/spoofchecker/spoofchecker_class.h
  ext/intl/spoofchecker/spoofchecker_create.c
  ext/intl/spoofchecker/spoofchecker_main.c
Labels: Extension: intl

#9491 Add support for validation of missing method synopses
  build/gen_stub.php
  ext/dl_test/dl_test.stub.php
  ext/dl_test/dl_test_arginfo.h
  ext/skeleton/skeleton.stub.php
  ext/skeleton/skeleton_arginfo.h
  ext/zlib/zlib.stub.php
  ext/zlib/zlib_arginfo.h
Labels: Category: Build System, Extension: zlib

#9496 Fix GH-9493: fix ancillary data build for FreeBSD prior to the 13 rel…
  ext/sockets/conversions.h
Labels: Extension: sockets

#9505 Declare ext/standard constants in stubs - part 7
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/php_string.h
  ext/standard/string.c
Labels: Extension: standard

#9499 Fixed MemorySanitizer: use-of-uninitialized-value warning
  ext/date/php_date.c
Labels: Extension: date

#9473 Fix GH-9139: Allow FFI in opcache.preload when opcache.preload_user=root
  ext/ffi/tests/300.phpt
  ext/ffi/tests/bug78761.phpt
  ext/opcache/ZendAccelerator.c
Labels: Extension: ffi, Extension: opcache

#9510 Validate if the refpurpose and the description is in sync
  build/gen_stub.php
Labels: Category: Build System

#9519 Require PHP 7.4 at least for running the build system
  UPGRADING.INTERNALS
  build/php.m4
Labels: Category: Build System

#9563 Remove superfluous helper variable in `Randomizer::getBytes()`
  ext/random/randomizer.c
Labels: Extension: random

#9593 Replace reallocarray with safe_perealloc
  configure.ac
  main/php.h
  main/reallocarray.c
  sapi/fpm/fpm/fpm_arrays.h
Labels: SAPI: fpm

#9597 Set SA_ONSTACK in zend_sigaction
  NEWS
  Zend/zend_signal.c
Labels: Category: Engine

#8761 Fix debug backtrace frameno
  Zend/zend_builtin_functions.c
Labels: Category: Engine

#9615 Declare ext/standard constants in stubs - part 8
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/html.c
  ext/standard/html.h
  ext/standard/info.c
Labels: Extension: standard
