Repository php/php-src, pull requests merged in 2022-05, with the labels that each got.

#8464 Add DatePeriod's __serialize and __unserialize methods
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/DatePeriod_serialize-001.phpt
  ext/date/tests/DatePeriod_serialize-002.phpt
  ext/date/tests/DatePeriod_serialize-003.phpt
  ext/date/tests/DatePeriod_serialize-004.phpt
  ext/date/tests/bug53437_var0.phpt
  ext/date/tests/bug53437_var1.phpt
Labels: Waiting on Review

#8497 Fixed GH-8471: Segmentation fault when converting immutable and mutable DateTime instances created using reflection
  ext/date/php_date.c
  ext/date/tests/bug-gh8471.phpt
Labels: Extension: date

#7305 Add support for readonly classes
  Zend/tests/readonly_classes/readonly_class_duplicated_modifier.phpt
  Zend/tests/readonly_classes/readonly_class_dynamic_property.phpt
  Zend/tests/readonly_classes/readonly_class_dynamic_property_attribute.phpt
  Zend/tests/readonly_classes/readonly_class_final_modifier.phpt
  Zend/tests/readonly_classes/readonly_class_inheritance_error1.phpt
  Zend/tests/readonly_classes/readonly_class_inheritance_error2.phpt
  Zend/tests/readonly_classes/readonly_class_inheritance_success.phpt
  Zend/tests/readonly_classes/readonly_class_missing_type1.phpt
  Zend/tests/readonly_classes/readonly_class_missing_type2.phpt
  Zend/tests/readonly_classes/readonly_class_property1.phpt
  Zend/tests/readonly_classes/readonly_class_property2.phpt
  Zend/tests/readonly_classes/readonly_class_property3.phpt
  Zend/tests/readonly_classes/readonly_enum.phpt
  Zend/tests/readonly_classes/readonly_interface.phpt
  Zend/tests/readonly_classes/readonly_trait.phpt
  Zend/zend_ast.c
  Zend/zend_attributes.c
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_inheritance.c
  Zend/zend_language_parser.y
  build/gen_stub.php
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionClass_modifiers_001.phpt
  ext/reflection/tests/ReflectionClass_toString_001.phpt
  ext/reflection/tests/ReflectionClass_toString_005.phpt
  ext/reflection/tests/readonly_class.phpt
Labels: RFC

#8574 Emit EXT_STMT for each 'elseif' clause
  Zend/zend_compile.c
Labels: Category: Engine

#8550 Fixed bug #52015: Allow including end date in DatePeriod iterations
  ext/date/php_date.c
  ext/date/php_date.h
  ext/date/tests/DatePeriod_serialize-001.phpt
  ext/date/tests/DatePeriod_serialize-002.phpt
  ext/date/tests/DatePeriod_serialize-003.phpt
  ext/date/tests/DatePeriod_serialize-004.phpt
  ext/date/tests/DatePeriod_set_state.phpt
  ext/date/tests/bug52113.phpt
  ext/date/tests/bug53437_var0.phpt
  ext/date/tests/date_period_exclude_start_and_include_end.phpt
  ext/date/tests/date_period_include_end.phpt
Labels: Extension: date

#8482 Remove XFAIL from sibling method call test
  Zend/tests/access_modifiers_008.phpt
  Zend/tests/access_modifiers_009.phpt
Labels: Category: Tests

#7434 Add support for constants in stubs
  Zend/zend_constants.c
  Zend/zend_constants.stub.php
  Zend/zend_constants_arginfo.h
  Zend/zend_exceptions.c
  Zend/zend_exceptions_arginfo.h
  build/gen_stub.php
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/soap/soap_arginfo.h
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Waiting on Review

#8611 Drop remaining usage of u_char type in favour of standard C99 uint8_t type
  ext/snmp/snmp.c
  ext/standard/dns.c
  ext/standard/dns_win32.c
  win32/glob.c
Labels: Refactoring

#8608 Minor refactoring of main/main.c and TSRM
  TSRM/TSRM.c
  TSRM/TSRM.h
  main/main.c
  main/php.h
  main/php_main.h
  sapi/cgi/cgi_main.c
  sapi/cli/php_cli.c
Labels: Category: Engine, Refactoring

#8606 Disable zend_rc_debug during dtor of dl()'ed module
  Zend/zend_API.c
  ext/standard/dl.c
Labels: Category: Engine

#8630 Declare ext/calendar constants in stubs
  ext/calendar/calendar.c
  ext/calendar/calendar.stub.php
  ext/calendar/calendar_arginfo.h
Labels: Stubs

#8629 mb_detect_encoding recognizes all letters in Hungarian alphabet
  ext/mbstring/common_codepoints.txt
  ext/mbstring/rare_cp_bitvec.h
  ext/mbstring/tests/mb_detect_encoding.phpt
Labels: Extension: mbstring

#8515 Declare ext/tidy properties
  ext/tidy/tests/010.phpt
  ext/tidy/tests/012.phpt
  ext/tidy/tests/036.phpt
  ext/tidy/tidy.c
  ext/tidy/tidy.stub.php
  ext/tidy/tidy_arginfo.h
Labels: Extension: tidy

#8513 Remove custom alloca
  Zend/Optimizer/dce.c
  Zend/Optimizer/dfa_pass.c
  Zend/Optimizer/zend_optimizer_internal.h
  Zend/zend_portability.h
  configure.ac
  ext/standard/crypt_sha256.c
  ext/standard/crypt_sha512.c
  main/alloca.c
Labels: Waiting on Review, Category: Optimizer

#8600 Add JIT guards for INIT_METHOD_CALL when the method may be modified
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh8591-001.inc
  ext/opcache/tests/jit/gh8591-001.phpt
  ext/opcache/tests/jit/gh8591-002.inc
  ext/opcache/tests/jit/gh8591-002.phpt
  ext/opcache/tests/jit/gh8591-003.phpt
  ext/opcache/tests/jit/gh8591-004.inc
  ext/opcache/tests/jit/gh8591-004.phpt
  ext/opcache/tests/jit/gh8591-005.inc
  ext/opcache/tests/jit/gh8591-005.phpt
  ext/opcache/tests/jit/gh8591-006.inc
  ext/opcache/tests/jit/gh8591-006.phpt
Labels: Category: JIT, Extension: opcache

#8473 sockets add TCP_KEEPALIVE from macOs to set idle time for SO_KEEPALIVE.
  ext/sockets/sockets.c
Labels: Extension: sockets

#8440 sockets add openbsd's SO_RTABLE option, equivalent of Linux's SO_MARK.
  ext/sockets/sockets.c
Labels: Waiting on Review, Extension: sockets

#8596 Fixed bug #78139 (timezone_open accepts invalid timezone string argument).
  NEWS
  ext/date/php_date.c
  ext/date/tests/bug78139.phpt
Labels: Extension: date

#8534 Declare DatePeriod properties
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/DatePeriod_properties2.phpt
  ext/opcache/tests/jit/bug80634.phpt
  ext/opcache/tests/jit/preload_bug80634.inc
Labels: Waiting on Review, Extension: date

#8613 Replace php_stdint.h header with standard headers
  TSRM/TSRM.h
  UPGRADING.INTERNALS
  Zend/zend_long.h
  ext/date/config.w32
  ext/date/config0.m4
  ext/fileinfo/libmagic.patch
  ext/fileinfo/libmagic/strcasestr.c
  ext/mysqlnd/mysqlnd_portability.h
  ext/session/mod_mm.c
  main/php.h
  main/php_stdint.h
  sapi/cli/php_http_parser.h
  sapi/phpdbg/phpdbg.h
Labels: Category: Engine, Refactoring

#8605 Refactor (again) CLI SAPI server_client struct to use zend_string*
  sapi/cli/php_cli_server.c
  sapi/cli/tests/cli_server_persistent_string001.phpt
  sapi/cli/tests/cli_server_persistent_string002.phpt
  sapi/cli/tests/php_cli_server.inc
  sapi/cli/tests/php_cli_server_022.phpt
Labels: Refactoring, SAPI: cli_server

#8638 fpm sockets set listen back queue size to negative which trim down
  sapi/fpm/fpm/fpm_sockets.h
Labels: Waiting on Review, SAPI: fpm

#8636 JIT: Add IBT support
  ext/opcache/jit/dynasm/dasm_x86.lua
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Waiting on Review, Category: JIT, Extension: opcache

#8664 Revert "[skip-ci] Drop libmysql build from nightly" as PDO still accepts libmysql
  azure-pipelines.yml
  azure/libmysqlclient_job.yml
  azure/libmysqlclient_test.yml
Labels: Category: Build System, Waiting on Review
