Repository php/php-src, pull requests merged in 2022-07, with the labels that each got.

#8660 Implement mysqli_execute_query()
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_api.c
  ext/mysqli/mysqli_arginfo.h
  ext/mysqli/tests/mysqli_class_mysqli_interface.phpt
  ext/mysqli/tests/mysqli_execute_query.phpt
Labels: RFC, Waiting on Review, Extension: mysqli

#8725 Add support for Disjoint Normal Form (DNF) types
  Zend/Optimizer/dfa_pass.c
  Zend/tests/type_declarations/dnf_types/dnf_2_intersection.phpt
  Zend/tests/type_declarations/dnf_types/dnf_intersection_and_null.phpt
  Zend/tests/type_declarations/dnf_types/dnf_intersection_and_single.phpt
  Zend/tests/type_declarations/dnf_types/redundant_types/duplicate_class_alias_type.phpt
  Zend/tests/type_declarations/dnf_types/redundant_types/duplicate_class_alias_type_runtime.phpt
  Zend/tests/type_declarations/dnf_types/redundant_types/inheritence.phpt
  Zend/tests/type_declarations/dnf_types/redundant_types/less_restrive_type_constraint_already_present001.phpt
  Zend/tests/type_declarations/dnf_types/redundant_types/less_restrive_type_constraint_already_present002.phpt
  Zend/tests/type_declarations/dnf_types/redundant_types/less_restrive_type_constraint_already_present003.phpt
  Zend/tests/type_declarations/dnf_types/redundant_types/less_restrive_type_constraint_already_present004.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid1.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid_covariance_drop_type1.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid_covariance_drop_type2.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid_covariance_intersection_to_union1.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid_covariance_intersection_to_union2.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid_covariance_intersection_to_union3.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid_invariance1.phpt
  Zend/tests/type_declarations/dnf_types/variance/invalid_invariance2.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid1.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid2.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid4.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid5.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid6.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid7.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid8.phpt
  Zend/tests/type_declarations/dnf_types/variance/valid9.phpt
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_inheritance.c
  Zend/zend_language_parser.y
  ext/opcache/ZendAccelerator.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
  ext/reflection/tests/types/ReflectionType_001.phpt
  ext/reflection/tests/types/ReflectionType_002.phpt
  ext/reflection/tests/types/ReflectionType_possible_types.phpt
  ext/reflection/tests/types/dnf_types.phpt
  ext/reflection/tests/types/dnf_types_with_null.phpt
  ext/reflection/tests/types/intersection_types.phpt
  ext/reflection/tests/types/mixed_type.phpt
  ext/reflection/tests/types/union_types.phpt
Labels: RFC, Category: Engine, Extension: opcache, Extension: reflection, Category: Optimizer

#8902 Reduce memory allocated by var_export, json_encode, serialize, and other
  NEWS
  UPGRADING.INTERNALS
  Zend/zend.c
  Zend/zend_smart_str.h
  Zend/zend_smart_str_public.h
  ext/dom/documenttype.c
  ext/filter/sanitizing_filters.c
  ext/iconv/iconv.c
  ext/json/json.c
  ext/mbstring/php_mbregex.c
  ext/session/session.c
  ext/soap/php_sdl.c
  ext/spl/spl_array.c
  ext/spl/spl_dllist.c
  ext/spl/spl_observer.c
  ext/standard/http.c
  ext/standard/string.c
  ext/standard/var.c
Labels: Waiting on Review, Category: Engine, Extension: dom, Extension: filter, Extension: iconv, Extension: json, Extension: mbstring, Extension: session, Extension: soap, Extension: spl, Extension: standard

#8953 Fix #8952: std streams can not be deliberately closed
  sapi/cli/php_cli.c
  sapi/cli/tests/gh8827-001.phpt
  sapi/cli/tests/gh8827-002.phpt
  sapi/cli/tests/gh8827-003.phpt
Labels: Waiting on Review, SAPI: cli

#8454 Add ini_parse_quantity to convert ini directive "byte" shorthand to int
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  tests/basic/ini_parse_quantity_basic.phpt
  tests/basic/ini_parse_quantity_warnings.phpt
Labels: Feature, Waiting on Author, Extension: standard

#8956 QA - Test Cov - ext:pcntl - pcntl_signal() - max signal allowed
  ext/pcntl/tests/pcntl_signal_001.phpt
Labels: Extension: pcntl

#8976 Add `zend_array_to_list()`
  Zend/zend_hash.c
  Zend/zend_hash.h
  ext/standard/array.c
Labels: Category: Engine, Extension: standard

#8931 Make the ABI compatibility of generated arginfo files configurable
  build/gen_stub.php
Labels: Category: Build System, Stubs

#8836 Support the actual `#[\SensitiveParameter]` attribute in stubs
  Zend/zend_attributes.h
  build/gen_stub.php
  ext/ftp/ftp.stub.php
  ext/ftp/ftp_arginfo.h
  ext/hash/hash.stub.php
  ext/hash/hash_arginfo.h
  ext/imap/php_imap.stub.php
  ext/imap/php_imap_arginfo.h
  ext/ldap/ldap.stub.php
  ext/ldap/ldap_arginfo.h
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/oci8/oci8.stub.php
  ext/oci8/oci8_arginfo.h
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/openssl/openssl.stub.php
  ext/openssl/openssl_arginfo.h
  ext/pdo/pdo_dbh.stub.php
  ext/pdo/pdo_dbh_arginfo.h
  ext/sodium/libsodium.stub.php
  ext/sodium/libsodium_arginfo.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/zip/php_zip.stub.php
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Waiting on Review, Stubs, Extension: openssl, Category: Engine, Extension: ftp, Extension: hash, Extension: imap, Extension: ldap, Extension: mysqli, Extension: oci8, Extension: odbc, Extension: pdo (core), Extension: sodium, Extension: standard, Extension: zip

#8990 QA - pcntl_exec - check stringable parameters error
  ext/pcntl/tests/pcntl_exec_004.phpt
Labels: Extension: pcntl

#9001 QA - pcntl_signal - error when handler is int and not SIG_DFL or SIG_IGN
  ext/pcntl/tests/pcntl_signal_002.phpt
Labels: Extension: pcntl

#9002 QA - ftp_connect - error behavior when connection fails
  ext/ftp/tests/ftp_connect_001.phpt
Labels: Extension: ftp

#9016 Fix RC func info of str_split
  Zend/Optimizer/zend_func_infos.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Extension: standard, Category: Optimizer

#9028 Prevent fiber switching in tick function and signal handlers
  Zend/tests/fibers/signal-async.phpt
  Zend/tests/fibers/signal-dispatch.phpt
  Zend/tests/fibers/ticks.phpt
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/pcntl/pcntl.c
Labels: Category: Engine, Extension: pcntl

#8833 Allow to not close stream on rscr dtor in php cli sapi
  NEWS
  UPGRADING
  ext/zend_test/tests/gh8575.phpt
  main/php_streams.h
  main/streams/streams.c
  sapi/cli/php_cli.c
  sapi/cli/tests/gh8827-001.phpt
  sapi/cli/tests/gh8827-002.phpt
  sapi/cli/tests/gh8827-003.phpt
Labels: Extension: zend_test, SAPI: cli, Category: Streams

#8961 Fix JIT crash with large number of match/switch arms
  .editorconfig
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh8030-001.phpt
  ext/opcache/tests/jit/gh8030-002.phpt
Labels: Extension: opcache

#8811 Declare ext/mysqli constants in stubs
  ext/mysqli/mysqli.c
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
Labels: Stubs, Extension: mysqli

#9039 Do not send X-Powered-By if headers sent
  main/main.c
  sapi/cgi/tests/bug69487.phpt
  tests/basic/025.phpt
Labels: SAPI: cgi

#9022 Fixed memory leaks with DatePeriod::__unserialise
  ext/date/php_date.c
Labels: Extension: date

#9013 DatePeriod properties cannot be made readonly
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/date_period_set_state1.phpt
  ext/date/tests/date_period_set_state2.phpt
  ext/date/tests/date_period_unserialize1.phpt
  ext/date/tests/date_period_unserialize2.phpt
  ext/date/tests/date_period_unserialize3.phpt
Labels: Extension: date

#8819 RFC: Make the `iterator_*()` family accept all `iterable`s
  NEWS
  UPGRADING
  ext/spl/php_spl.stub.php
  ext/spl/php_spl_arginfo.h
  ext/spl/spl_iterators.c
  ext/spl/tests/iterator_count.phpt
  ext/spl/tests/iterator_count_array.phpt
  ext/spl/tests/iterator_count_exception.phpt
  ext/spl/tests/iterator_to_array.phpt
  ext/spl/tests/iterator_to_array_array.phpt
Labels: RFC, Extension: spl

#9045 Declare ext/odbc constants in stubs
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

#9056 Fix byte expansion in rand_rangeXX()
  ext/random/random.c
  ext/random/tests/03_randomizer/get_int_user.phpt
Labels: Extension: random

#9077 Declare ext/pcre constants in stubs
  ext/pcre/php_pcre.c
  ext/pcre/php_pcre.stub.php
  ext/pcre/php_pcre_arginfo.h
Labels: Extension: pcre

#9080 Fix rc info of iterator_to_array
  Zend/Optimizer/zend_func_infos.h
  ext/spl/php_spl.stub.php
  ext/spl/php_spl_arginfo.h
Labels: Extension: spl, Category: Optimizer

#9082 Fix RC debug of stub attribute
  Zend/zend_attributes_arginfo.h
  Zend/zend_builtin_functions_arginfo.h
  build/gen_stub.php
  ext/oci8/oci8_arginfo.h
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Category: Engine, Extension: oci8, Extension: zend_test

#8977 Assert all test files are cleaned up in CI
  .github/actions/verify-generated-files/action.yml
  ext/spl/tests/SplFileObject/fileobject_005.phpt
Labels: Extension: spl

#9074 Update EXTENSIONS and Author(s) in ext/random
  EXTENSIONS
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
  ext/random/php_random.h
  ext/random/random.c
  ext/random/randomizer.c
Labels: Extension: random

#9066 Avoid signed integer overflow in php_random_range()
  NEWS
  ext/random/php_random.h
  ext/random/random.c
Labels: Extension: random

#9086 Convert client->request.request_uri to zend_string
  sapi/cli/php_cli_server.c
Labels: SAPI: cli

#9088 Fix shift in rand_rangeXX()
  ext/random/random.c
  ext/random/tests/03_randomizer/get_int_user.phpt
Labels: Extension: random

#9096 Declare ext/pspell constants in stubs
  ext/pspell/pspell.c
  ext/pspell/pspell.stub.php
  ext/pspell/pspell_arginfo.h
Labels: Extension: pspell

#9095 Declare ext/posix constants in stubs
  ext/posix/posix.c
  ext/posix/posix.stub.php
  ext/posix/posix_arginfo.h
Labels: Extension: posix

#9094 Declare ext/phar constants in stubs
  ext/phar/phar_object.c
  ext/phar/phar_object.stub.php
  ext/phar/phar_object_arginfo.h
Labels: Extension: phar

#8751 Add support for stubs to declare intersection type class properties
  Zend/tests/type_declarations/typed_properties_095.phpt
  Zend/zend_types.h
  build/gen_stub.php
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/zend_internal_class_prop_intersection.phpt
Labels: Category: Build System, Stubs, Category: Engine, Extension: zend_test

#9098 Fix memory leak in fiber constructor
  Zend/tests/fibers/call-to-ctor-of-terminated-fiber.phpt
  Zend/tests/fibers/multiple-calls-to-ctor.phpt
  Zend/zend_fibers.c
Labels: Category: Fibers

#9099 Fix typo in oci8 lob_prefetch_ini.phpt test
  ext/oci8/tests/lob_prefetch_ini.phpt
Labels: Extension: oci8

#9109 Declare ext/random constants in stubs
  ext/random/random.c
  ext/random/random.stub.php
  ext/random/random_arginfo.h
Labels: Extension: random

#9112 Declare ext/session constants in stubs
  ext/session/session.c
  ext/session/session.stub.php
  ext/session/session_arginfo.h
Labels: Extension: session

#9110 Declare ext/readline constants in stubs
  ext/readline/php_readline.h
  ext/readline/readline.c
  ext/readline/readline.stub.php
  ext/readline/readline_arginfo.h
  ext/readline/readline_cli.c
Labels: Extension: readline

#9111 Declare ext/reflection constants in stubs
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
Labels: Extension: reflection

#9114 Remove dead code in ext/random/random.c
  ext/random/random.c
Labels: Extension: random

#9091 Fix memory leak on Randomizer::__construct() call twice
  NEWS
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/construct_twice.phpt
Labels: Extension: random

#9071 Improve error reporting in random extension
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/random.c
  ext/random/tests/03_randomizer/user_unsafe.phpt
Labels: Extension: random

#9125 Declare ext/sysvmsg constants in stubs
  ext/sysvmsg/php_sysvmsg.h
  ext/sysvmsg/sysvmsg.c
  ext/sysvmsg/sysvmsg.stub.php
  ext/sysvmsg/sysvmsg_arginfo.h
Labels: Extension: sysvmsg

#9124 Declare ext/soap constants in stubs
  ext/soap/soap.c
  ext/soap/soap.stub.php
  ext/soap/soap_arginfo.h
Labels: Extension: soap

#9135 Declare ext/zend_test constants in stubs
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Extension: zend_test

#9131 Declare ext/xml constants in stubs
  ext/xml/php_xml.h
  ext/xml/xml.c
  ext/xml/xml.stub.php
  ext/xml/xml_arginfo.h
Labels: Extension: xml

#9134 Declare ext/xsl constants in stubs
  ext/xsl/php_xsl.c
  ext/xsl/php_xsl.stub.php
  ext/xsl/php_xsl_arginfo.h
Labels: Extension: xsl

#9141 Skip locale tests /w musl libc
  ext/ctype/tests/lc_ctype_inheritance.phpt
  ext/fileinfo/tests/bug74170.phpt
  ext/iconv/tests/iconv_basic_001.phpt
  ext/pcre/tests/ctype_back_to_c.phpt
  ext/pcre/tests/locales.phpt
  ext/standard/tests/array/locale_sort.phpt
  ext/standard/tests/strings/locale_independent_float_to_string.phpt
  ext/standard/tests/strings/printf_h_H.phpt
  ext/standard/tests/strings/setlocale_basic1.phpt
  ext/standard/tests/strings/setlocale_basic2.phpt
  ext/standard/tests/strings/setlocale_basic3.phpt
  ext/standard/tests/strings/setlocale_error.phpt
  ext/standard/tests/strings/setlocale_variation1.phpt
  ext/standard/tests/strings/setlocale_variation3.phpt
  ext/standard/tests/strings/setlocale_variation4.phpt
  ext/standard/tests/strings/setlocale_variation5.phpt
  ext/standard/tests/strings/sprintf_f_3.phpt
  tests/basic/consistent_float_string_casts.phpt
  tests/lang/bug30638.phpt
Labels: Extension: ctype, Extension: fileinfo, Extension: iconv, Extension: pcre, Extension: standard

#9133 Declare ext/xmlreader constants in stubs
  ext/xmlreader/php_xmlreader.c
  ext/xmlreader/php_xmlreader.h
  ext/xmlreader/php_xmlreader.stub.php
  ext/xmlreader/php_xmlreader_arginfo.h
Labels: Extension: xmlreader

#9132 Remove `->last_unsafe` from php_random_status
  ext/random/engine_mt19937.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/php_random.h
  ext/random/random.c
  ext/random/randomizer.c
  ext/standard/array.c
  ext/standard/string.c
Labels: Extension: standard, Extension: random

#9113 Declare ext/snmp constants in stubs
  ext/snmp/php_snmp.h
  ext/snmp/snmp.c
  ext/snmp/snmp.stub.php
  ext/snmp/snmp_arginfo.h
Labels: Extension: snmp

#9147 Declare ext/zlib constants in stubs
  ext/zlib/zlib.c
  ext/zlib/zlib.stub.php
  ext/zlib/zlib_arginfo.h
Labels: Extension: zlib

#9092 Declare ext/pgsql constants in stubs
  ext/pgsql/pgsql.c
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
Labels: Extension: pgsql

#9159 Use ValueError if an invalid mode is passed to Mt19937
  NEWS
  ext/random/engine_mt19937.c
  ext/random/tests/02_engine/mt19937_error.phpt
Labels: Extension: random

#9079 Avoid using a stack allocated zend_function in Closure::call, to avoid prevent crashes on bailout
  Zend/zend_closures.c
Labels: Category: Engine

#9181 Declare ext/sqlite3 constants in stubs
  ext/sqlite3/sqlite3.c
  ext/sqlite3/sqlite3.stub.php
  ext/sqlite3/sqlite3_arginfo.h
Labels: Extension: sqlite3

#9169 Improve error messages in php_random_bytes()
  ext/random/random.c
Labels: Extension: random

#8934 Refactor code handling file.current_zval
  ext/spl/spl_directory.c
  ext/spl/tests/SplFileObject/fgetcsv_blank_file.phpt
Labels: Extension: spl

#9152 Change fetch_type from int to uint32_t for fetch_class functions
  Zend/zend_execute.h
  Zend/zend_execute_API.c
Labels: Category: Engine

#9062 Add an API to manipulate observers at runtime
  Zend/zend_observer.c
  Zend/zend_observer.h
  ext/zend_test/observer.c
  ext/zend_test/tests/observer_basic_06.phpt
Labels: Category: Engine, Extension: zend_test

#9180 Declare ext/gd constants in stubs
  ext/gd/gd.c
  ext/gd/gd.stub.php
  ext/gd/gd_arginfo.h
  ext/gd/php_gd.h
Labels: Extension: gd

#9160 Improve error message of an engine fails to seed from the CSPRNG
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

#9203 Fix GH-9183 Get rid of unnecessary PHPDoc param and return type checks
  build/gen_stub.php
Labels: Category: Build System

#9205 Declare ext/intl constants in stubs - part 1
  ext/intl/locale/locale.c
  ext/intl/locale/locale.h
  ext/intl/locale/locale.stub.php
  ext/intl/locale/locale_arginfo.h
  ext/intl/php_intl.c
Labels: Extension: intl

#9024 Add Internal observers
  UPGRADING.INTERNALS
  Zend/zend.c
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_enum.c
  Zend/zend_execute.c
  Zend/zend_execute_API.c
  Zend/zend_extensions.c
  Zend/zend_extensions.h
  Zend/zend_observer.c
  Zend/zend_observer.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_handlers.h
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
  ext/pdo/pdo_dbh.c
  ext/zend_test/observer.c
  ext/zend_test/tests/observer_backtrace_01.phpt
  ext/zend_test/tests/observer_basic_01.phpt
  ext/zend_test/tests/observer_basic_02.phpt
  ext/zend_test/tests/observer_basic_06.phpt
  ext/zend_test/tests/observer_bug81430_1.phpt
  ext/zend_test/tests/observer_bug81430_2.phpt
  ext/zend_test/tests/observer_bug81435.phpt
  ext/zend_test/tests/observer_call_user_func_03.phpt
  ext/zend_test/tests/observer_call_user_func_04.phpt
  ext/zend_test/tests/observer_closure_01.phpt
  ext/zend_test/tests/observer_closure_02.phpt
  ext/zend_test/tests/observer_error_01.phpt
  ext/zend_test/tests/observer_error_02.phpt
  ext/zend_test/tests/observer_error_04.phpt
  ext/zend_test/tests/observer_error_05.phpt
  ext/zend_test/tests/observer_exception_01.phpt
  ext/zend_test/tests/observer_fiber_01.phpt
  ext/zend_test/tests/observer_fiber_02.phpt
  ext/zend_test/tests/observer_fiber_03.phpt
  ext/zend_test/tests/observer_fiber_04.phpt
  ext/zend_test/tests/observer_fiber_05.phpt
  ext/zend_test/tests/observer_fiber_06.phpt
  ext/zend_test/tests/observer_generator_02.phpt
  ext/zend_test/tests/observer_generator_04.phpt
  ext/zend_test/tests/observer_generator_05.phpt
  ext/zend_test/tests/observer_opline_01.phpt
  ext/zend_test/tests/observer_retval_02.phpt
  ext/zend_test/tests/observer_shutdown_01.phpt
  ext/zend_test/tests/observer_types_01.phpt
  ext/zend_test/tests/observer_zend_call_function_01.phpt
Labels: Category: Engine, Extension: opcache, Extension: pdo (core), Extension: zend_test

#9206 Improve phrasing in argument value errors in ext/random
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_xoshiro256starstar.c
  ext/random/tests/02_engine/mt19937_error.phpt
  ext/random/tests/02_engine/pcgoneseq128xslrr64_seed.phpt
  ext/random/tests/02_engine/xoshiro256starstar_seed.phpt
Labels: Extension: random
