Repository php/php-src, pull requests merged in 2022-12, with the labels that each got.

#10030 Fix incorrect short-circuiting in constant expressions
  Zend/tests/gh10014.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_execute_API.c
Labels: Category: Engine

#10012 Fix zend_fcc_equals() with trampolines
  Zend/zend_API.h
Labels: Category: Engine

#10003 Fix null pointer dereference in zend_get_executed_lineno()
  Zend/zend_execute_API.c
Labels: Waiting on Review, Category: Engine

#10065 Rename PHP_STREAM_TO_ZVAL to PHP_STREAM_FROM_ZVAL
  ext/standard/file.c
Labels: Extension: standard

#10069 standard/basic_functions.c remove x bit on this file
  ext/standard/basic_functions.c
Labels: Extension: standard

#9664 Add `Randomizer::getBytesFromString()` method
  NEWS
  UPGRADING
  ext/random/php_random.h
  ext/random/random.c
  ext/random/random.stub.php
  ext/random/random_arginfo.h
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/engine_unsafe_biased.phpt
  ext/random/tests/03_randomizer/engine_unsafe_empty_string.phpt
  ext/random/tests/03_randomizer/methods/getBytesFromString.phpt
  ext/random/tests/03_randomizer/methods/getBytesFromString_error.phpt
Labels: RFC, Extension: random

#4512 main/php_ini.c: remove dead code
  main/php_ini.c
Labels: Waiting on Review

#10081 Add CLEAN section to some IO tests
  ext/standard/tests/file/file_get_contents_basic.phpt
  ext/standard/tests/file/file_get_contents_variation1.phpt
  ext/standard/tests/file/file_get_contents_variation2.phpt
  ext/standard/tests/file/file_get_contents_variation7-win32-mb.phpt
  ext/standard/tests/file/file_get_contents_variation7-win32.phpt
  ext/standard/tests/file/file_get_contents_variation7.phpt
  ext/standard/tests/file/file_get_contents_variation9.phpt
  ext/standard/tests/file/file_put_contents.phpt
  ext/standard/tests/file/file_put_contents_variation1.phpt
  ext/standard/tests/file/file_put_contents_variation2.phpt
  ext/standard/tests/file/file_put_contents_variation4.phpt
  ext/standard/tests/file/file_put_contents_variation5.phpt
  ext/standard/tests/file/file_put_contents_variation6.phpt
  ext/standard/tests/file/file_put_contents_variation7-win32.phpt
  ext/standard/tests/file/file_put_contents_variation7.phpt
  ext/standard/tests/file/file_put_contents_variation8.phpt
  ext/standard/tests/file/file_put_contents_variation9.phpt
  ext/standard/tests/file/file_variation5-win32-mb.phpt
  ext/standard/tests/file/file_variation5-win32.phpt
  ext/standard/tests/file/file_variation5.phpt
  ext/standard/tests/file/file_variation6.phpt
  ext/standard/tests/file/file_variation7.phpt
  ext/standard/tests/file/file_variation8-win32.phpt
  ext/standard/tests/file/file_variation8.phpt
  ext/standard/tests/file/file_variation9.phpt
Labels: Extension: standard

#10090 Move stack->next assignment within if (stack) check
  sapi/phpdbg/phpdbg_cmd.c
Labels: SAPI: phpdbg

#9679 Add Randomizer::nextFloat() and Randomizer::getFloat()
  NEWS
  UPGRADING
  ext/random/config.m4
  ext/random/config.w32
  ext/random/gammasection.c
  ext/random/php_random.h
  ext/random/random.c
  ext/random/random.stub.php
  ext/random/random_arginfo.h
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/methods/getFloat.phpt
  ext/random/tests/03_randomizer/methods/getFloat_error.phpt
  ext/random/tests/03_randomizer/methods/nextFloat.phpt
Labels: RFC, Extension: random

#10098 Fixes and improvements for class synopsis generation
  build/gen_stub.php
Labels: Category: Build System

#9104 Limit stack size
  .appveyor.yml
  .cirrus.yml
  .github/actions/test-linux/action.yml
  .github/actions/test-macos/action.yml
  Zend/Zend.m4
  Zend/tests/stack_limit/stack_limit_001.phpt
  Zend/tests/stack_limit/stack_limit_002.phpt
  Zend/tests/stack_limit/stack_limit_003.phpt
  Zend/tests/stack_limit/stack_limit_004.phpt
  Zend/tests/stack_limit/stack_limit_005.phpt
  Zend/tests/stack_limit/stack_limit_006.phpt
  Zend/tests/stack_limit/stack_limit_007.phpt
  Zend/tests/stack_limit/stack_limit_008.phpt
  Zend/tests/stack_limit/stack_limit_009.phpt
  Zend/tests/stack_limit/stack_limit_010.phpt
  Zend/tests/stack_limit/stack_limit_011.phpt
  Zend/tests/stack_limit/stack_limit_012.inc
  Zend/tests/stack_limit/stack_limit_012.phpt
  Zend/zend.c
  Zend/zend_call_stack.c
  Zend/zend_call_stack.h
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_execute_API.c
  Zend/zend_fibers.c
  Zend/zend_fibers.h
  Zend/zend_globals.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_execute.skl
  build/php.m4
  configure.ac
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/zend_test/fiber.c
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  sapi/phpdbg/phpdbg_utils.c
  win32/build/config.w32
  win32/build/config.w32.h.in
Labels: Category: Build System, Category: Engine, Extension: opcache, Extension: zend_test, SAPI: phpdbg

#10122 Remove unnecessary check of p in phpdbg_trim
  sapi/phpdbg/phpdbg_utils.c
Labels: SAPI: phpdbg

#10150 Cleanup redundant lookups in phar_object.c
  ext/phar/phar_object.c
Labels: Extension: phar

#10046 Remove _zend_ast_decl->lex_pos
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_language_parser.y
Labels: Category: Engine

#10162 Use proper int|float union type instead of number
  Zend/zend_API.c
Labels: Category: Engine

#10183 Register parameter attributes via stub in ext/zend_test
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Extension: zend_test
