Repository php/php-src, pull requests merged in 2022-11, with the labels that each got.

#9849 Don’t reset func in zend_closure_internal_handler
  Zend/zend_closures.c
  Zend/zend_observer.c
  ext/zend_test/tests/observer_closure_03.phpt
Labels: Category: Engine, Extension: zend_test

#9834 Tidy up buffer preparation in mysqlnd
  ext/mysqlnd/mysqlnd_driver.c
  ext/mysqlnd/mysqlnd_wireprotocol.c
Labels: Extension: mysqlnd

#9908 PHP-8.2 is now for PHP 8.2.1-dev and prepare NEWS for 8.2.0
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Labels: Category: Engine

#9901 Make the usage of the role attribute more clear
  build/gen_stub.php
Labels: Category: Build System

#9922 No more need to cater to mime_magic extension
  sapi/fpm/fpm/fpm_php.h
Labels: SAPI: fpm

#9937 Remove unused PHP 8.1 BC layer in JIT
  ext/opcache/jit/zend_jit_disasm.c
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

#9939 Skip tests if extension or SAPI is not included.
  ext/libxml/tests/libxml_entity_loading_disabled_by_default.phpt
  sapi/cgi/tests/005.phpt
Labels: Extension: libxml, SAPI: cgi

#9952 Escape the role attribute of namespaced classes
  build/gen_stub.php
Labels: Category: Build System

#9629 Promote unserialize() notices to warning
  NEWS
  UPGRADING
  Zend/tests/bug70253.phpt
  Zend/tests/enum/unserialize-const.phpt
  Zend/tests/enum/unserialize-missing-colon.phpt
  Zend/tests/enum/unserialize-non-enum.phpt
  Zend/tests/enum/unserialize-non-existent-case.phpt
  ext/gmp/tests/bug74670.phpt
  ext/phar/tests/phar_metadata_write3.phpt
  ext/session/tests/bug72562.phpt
  ext/standard/tests/serialize/005.phpt
  ext/standard/tests/serialize/__serialize_006.phpt
  ext/standard/tests/serialize/bug25378.phpt
  ext/standard/tests/serialize/bug68044.phpt
  ext/standard/tests/serialize/bug68545.phpt
  ext/standard/tests/serialize/bug70213.phpt
  ext/standard/tests/serialize/bug70219.phpt
  ext/standard/tests/serialize/bug70436.phpt
  ext/standard/tests/serialize/bug71840.phpt
  ext/standard/tests/serialize/bug71995.phpt
  ext/standard/tests/serialize/bug72663.phpt
  ext/standard/tests/serialize/bug72663_2.phpt
  ext/standard/tests/serialize/bug72663_3.phpt
  ext/standard/tests/serialize/bug73052.phpt
  ext/standard/tests/serialize/bug73341.phpt
  ext/standard/tests/serialize/bug73825.phpt
  ext/standard/tests/serialize/bug74101.phpt
  ext/standard/tests/serialize/bug74103.phpt
  ext/standard/tests/serialize/bug74111.phpt
  ext/standard/tests/serialize/bug74300.phpt
  ext/standard/tests/serialize/bug74614.phpt
  ext/standard/tests/serialize/bug75054.phpt
  ext/standard/tests/serialize/bug81111.phpt
  ext/standard/tests/serialize/invalid_signs_in_lengths.phpt
  ext/standard/tests/serialize/max_depth.phpt
  ext/standard/tests/serialize/serialization_error_002.phpt
  ext/standard/tests/serialize/sleep_mangled_name_clash.phpt
  ext/standard/tests/serialize/typed_property_ref_assignment_failure.phpt
  ext/standard/tests/serialize/unserialize_large.phpt
  ext/standard/tests/serialize/unserialize_leak.phpt
  ext/standard/tests/serialize/unserialize_mem_leak.phpt
  ext/standard/tests/serialize/unserialize_ref_to_overwritten_declared_prop.phpt
  ext/standard/tests/strings/bug72433.phpt
  ext/standard/tests/strings/bug72663.phpt
  ext/standard/tests/strings/bug72663_2.phpt
  ext/standard/tests/strings/bug72663_3.phpt
  ext/standard/var.c
  ext/standard/var_unserializer.re
Labels: RFC, Extension: gmp, Extension: phar, Extension: session, Extension: standard

#7997 Use __atomic_test_and_set() instead of __sync_test_and_set() for lsapi
  sapi/litespeed/lsapilib.c
Labels: Waiting on Review, SAPI: litespeed

#9982 Fix a memory leak in tracig JIT when the same closure is called through Closure::call() and natively
  Zend/zend_closures.c
  ext/opcache/tests/jit/closure_001.phpt
Labels: Category: Engine, Extension: opcache

#9685 Remove unnecessary usage of CONST_CS
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  docs/input-filter.md
  ext/com_dotnet/com_com.c
  ext/com_dotnet/com_extension.c
  ext/hash/hash.c
  ext/opcache/zend_accelerator_util_funcs.c
  ext/sodium/sodium_pwhash.c
  ext/standard/dir.c
  ext/standard/password.c
  main/main.c
  main/php_streams.h
  sapi/cli/php_cli.c
  sapi/phpdbg/phpdbg.c
  win32/signal.c
Labels: Category: Engine, Extension: com_dotnet, Extension: hash, Extension: opcache, Extension: sodium, Extension: standard, SAPI: cli, SAPI: phpdbg
