Repository php/php-src, pull requests merged in 2022-04, with the labels that each got.

#6981 Refactor definition of ZEND_MM_ALIGNMENT
  Zend/Zend.m4
  Zend/zend_alloc.h
  ext/opcache/ZendAccelerator.c
  win32/build/config.w32.h.in
Labels: Feature, Category: Engine

#8297 Fix "Opcache breaks autoloading after E_COMPILE_ERROR"
  Zend/zend_inheritance.c
  ext/opcache/tests/gh8063-001.phpt
  ext/opcache/tests/gh8063-002.phpt
  ext/opcache/tests/gh8063-003.phpt
  ext/opcache/tests/gh8063/BadClass.inc
  ext/opcache/tests/gh8063/BadClass2.inc
  ext/opcache/tests/gh8063/Bar.inc
  ext/opcache/tests/gh8063/Baz.inc
  ext/opcache/tests/gh8063/Foo.inc
Labels: Waiting on Review, Extension: opcache

#8387 Fix bug #77023: FPM cannot shutdown processes
  NEWS
  sapi/fpm/fpm/fpm_process_ctl.c
  sapi/fpm/fpm/fpm_process_ctl.h
  sapi/fpm/tests/bug77023-pm-dynamic-blocking-sigquit.phpt
Labels: SAPI: fpm

#8196 Refactor std string extension
  ext/standard/php_string.h
  ext/standard/string.c
  ext/standard/strnatcmp.c
Labels: Waiting on Review

#8403 Fix leak introduced by GH-8241
  sapi/fpm/fpm/fpm_main.c
Labels: Waiting on Review

#8422 Fixes GH-8152: add __serialise and __unserialise methods to DateTime and DateTimeZone
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/DateTimeImmutable_serialisation.phpt
  ext/date/tests/DateTimeZone_serialisation.phpt
  ext/date/tests/DateTimeZone_serialize_errors.phpt
  ext/date/tests/DateTime_serialisation.phpt
  ext/date/tests/bug55397.phpt
  ext/date/tests/bug62852.phpt
  ext/date/tests/bug62852_var2.phpt
  ext/date/tests/bug62852_var3.phpt
  ext/date/tests/bug66721.phpt
  ext/date/tests/bug68942.phpt
  ext/date/tests/bug68942_2.phpt
Labels: Waiting on Review, Extension: date

#8412 main: set IP_BIND_ADDRESS_NO_PORT if available when connecting to remote host
  main/network.c
Labels: Waiting on Review
