Repository php/php-src, pull requests merged in 2022-06, with the labels that each got.

#8327 Make vm_interrupt and timed_out atomic
  Zend/zend_atomic.c
  Zend/zend_atomic.h
  Zend/zend_execute.c
  Zend/zend_execute_API.c
  Zend/zend_globals.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  configure.ac
  ext/opcache/jit/zend_jit_trace.c
  ext/pcntl/pcntl.c
  sapi/phpdbg/phpdbg_prompt.c
  win32/build/config.w32
  win32/signal.c
Labels: Waiting on Review, Category: Engine

#8594 Fixed bug #73239 (DateTime shows strange error message with invalid timezone)
  ext/date/php_date.c
  ext/date/php_date.h
  ext/date/tests/bug73239.phpt
  ext/date/tests/date_default_timezone_get-1.phpt
  ext/date/tests/date_default_timezone_get-2.phpt
  ext/date/tests/date_default_timezone_get-4.phpt
  ext/date/tests/date_default_timezone_set-1.phpt
  ext/date/tests/ini_set_incorrect-002.phpt
  ext/date/tests/ini_set_incorrect.phpt
  ext/intl/tests/dateformat_invalid_timezone.phpt
  sapi/cli/tests/006.phpt
Labels: Extension: date

#8687 Better return types for `getBackingType`
  NEWS
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
Labels: Waiting on Review, Stubs, Extension: reflection

#8695 Declare ext/ffi constants in stubs
  ext/ffi/ffi.c
  ext/ffi/ffi.stub.php
  ext/ffi/ffi_arginfo.h
Labels: Stubs

#8701 Declare ext/fileinfo constants in stubs
  ext/fileinfo/fileinfo.c
  ext/fileinfo/fileinfo.stub.php
  ext/fileinfo/fileinfo_arginfo.h
Labels: Stubs

#8702 Declare ext/filter constants in stubs
  ext/filter/filter.c
  ext/filter/filter.stub.php
  ext/filter/filter_arginfo.h
Labels: Stubs

#8703 Declare ext/ftp constants in stubs
  ext/ftp/ftp.stub.php
  ext/ftp/ftp_arginfo.h
  ext/ftp/php_ftp.c
Labels: Stubs

#8716 Declare ext/json constants in stubs
  ext/json/json.c
  ext/json/json.stub.php
  ext/json/json_arginfo.h
Labels: Stubs, Extension: json

#8715 Declare ext/imap constants in stubs
  ext/imap/php_imap.c
  ext/imap/php_imap.stub.php
  ext/imap/php_imap_arginfo.h
Labels: Stubs, Extension: imap

#8714 Declare ext/iconv constants in stubs
  ext/iconv/iconv.c
  ext/iconv/iconv.stub.php
  ext/iconv/iconv_arginfo.h
Labels: Stubs, Extension: iconv

#8704 Declare ext/gmp constants in stubs
  ext/gmp/gmp.c
  ext/gmp/gmp.stub.php
  ext/gmp/gmp_arginfo.h
Labels: Waiting on Review, Stubs, Extension: gmp

#8675 Declare ext/com_dotnet constants in stubs
  ext/com_dotnet/com_extension.c
  ext/com_dotnet/com_extension.stub.php
  ext/com_dotnet/com_extension_arginfo.h
Labels: Stubs, Extension: com_dotnet

#8717 Declare ext/ldap constants in stubs
  ext/ldap/ldap.c
  ext/ldap/ldap.stub.php
  ext/ldap/ldap_arginfo.h
Labels: Stubs, Extension: ldap

#8657 Drop ability to send QA reports by email
  run-tests.php
Labels: Category: Tests

#7309 Convert iterable into an internal alias for Traversable|array
  Zend/Optimizer/zend_inference.c
  Zend/tests/return_types/generators001.phpt
  Zend/tests/type_declarations/intersection_types/invalid_types/invalid_iterable_type.phpt
  Zend/tests/type_declarations/intersection_types/variance/invalid5.phpt
  Zend/tests/type_declarations/iterable/iterable_001.phpt
  Zend/tests/type_declarations/iterable/iterable_002.phpt
  Zend/tests/type_declarations/iterable/iterable_003.phpt
  Zend/tests/type_declarations/iterable/iterable_004.phpt
  Zend/tests/type_declarations/iterable/iterable_005.phpt
  Zend/tests/type_declarations/iterable/or_null.phpt
  Zend/tests/type_declarations/union_types/redundant_types/iterable_and_Traversable.phpt
  Zend/tests/type_declarations/union_types/redundant_types/iterable_and_Traversable_2.phpt
  Zend/tests/type_declarations/union_types/redundant_types/iterable_and_array.phpt
  Zend/tests/typehints/or_null.phpt
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_inheritance.c
  Zend/zend_string.h
  Zend/zend_type_info.h
  Zend/zend_types.h
  build/gen_stub.php
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/iterable_type_optimization.phpt
  ext/reflection/php_reflection.c
  ext/reflection/tests/ReflectionType_001.phpt
  ext/reflection/tests/ReflectionType_possible_types.phpt
  ext/reflection/tests/bug72661.phpt
  ext/reflection/tests/iterable_Reflection.phpt
  ext/reflection/tests/union_types.phpt
  ext/zend_test/test.c
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/zend_legacy_iterable.phpt
  ext/zend_test/tests/zend_weakmap.phpt
Labels: Feature

#8669 Avoid accessing undefined variables in run-tests.php
  run-tests.php
Labels: Category: Tests

#8693 Auto labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Waiting on Review

#8359 Add function exposing HAVE_GCC_GLOBAL_REGS
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_vm.h
Labels: Waiting on Review, Category: Engine

#8220 Zend/zend_operators: fix casting underflowed unsigned to signed
  Zend/tests/006.phpt
  Zend/zend_operators.c
  Zend/zend_portability.h
  ext/standard/tests/strings/bug40754.phpt
  ext/standard/tests/strings/bug54454.phpt
  ext/standard/tests/strings/strncasecmp_variation7.phpt
  ext/standard/tests/strings/strncasecmp_variation9.phpt
  ext/standard/tests/strings/strncmp_variation7.phpt
Labels: Feature, Waiting on Author, Category: Engine

#8721 Declare ext/libxml constants in stubs
  ext/libxml/libxml.c
  ext/libxml/libxml.stub.php
  ext/libxml/libxml_arginfo.h
Labels: Stubs, Extension: libxml

#8318 Deprecate internal SplFileInfo::_bad_state_ex() method
  UPGRADING
  ext/spl/spl_directory.c
  ext/spl/spl_directory.stub.php
  ext/spl/spl_directory_arginfo.h
  ext/spl/tests/gh8318.phpt
Labels: Extension: spl

#8301 Remove SIZEOF_OFF_T undef in PDO PGSQL driver
  ext/pdo_pgsql/pgsql_driver.c
Labels: Waiting on Author, Extension: pdo_pgsql

#8741 Fix LONG_CHECK_VALID_INT in socket extension
  ext/sockets/sendrecvmsg.c
Labels: Extension: sockets

#8667 Fix bug #50293 and #81713: file path checking in OpenSSL functions
  NEWS
  Zend/zend_API.c
  Zend/zend_API.h
  ext/openssl/openssl.c
  ext/openssl/tests/bug50293.phpt
  ext/openssl/tests/bug81713.phpt
  ext/openssl/tests/openssl_pkcs12_export_to_file_error.phpt
Labels: Extension: openssl

#8743 Fix bad integer promotion in mysqlnd big5 charset
  ext/mysqlnd/mysqlnd_charset.c
Labels: Extension: mysqlnd

#8754 Collapse more generated files in PRs
  .gitattributes
  .github/actions/verify-generated-files/action.yml
  Zend/zend_vm_gen.php
  ext/tokenizer/.gitattributes
  ext/tokenizer/tokenizer_data_gen.php
Labels: Category: Engine, Extension: tokenizer

#8753 Fix redundant ZSTR_VAL condition in php_date.c
  ext/date/php_date.c
Labels: Extension: date

#8326 Add true as a type
  Zend/tests/type_declarations/intersection_types/invalid_types/invalid_true_type.phpt
  Zend/tests/type_declarations/literal_types/false_no_coercion.phpt
  Zend/tests/type_declarations/literal_types/false_no_coercion_on_overload.phpt
  Zend/tests/type_declarations/literal_types/false_standalone.phpt
  Zend/tests/type_declarations/literal_types/false_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/literal_types/true_no_coercion.phpt
  Zend/tests/type_declarations/literal_types/true_no_coercion_on_overload.phpt
  Zend/tests/type_declarations/literal_types/true_standalone.phpt
  Zend/tests/type_declarations/literal_types/true_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/typed_properties_112.phpt
  Zend/tests/type_declarations/union_types/redundant_types/bool_and_true.phpt
  Zend/tests/type_declarations/union_types/redundant_types/bool_instead_false_and_true.phpt
  Zend/tests/type_declarations/union_types/redundant_types/bool_instead_true_and_false.phpt
  Zend/tests/type_declarations/union_types/standalone_false.phpt
  Zend/zend_compile.c
  Zend/zend_string.h
  ext/reflection/php_reflection.c
  ext/reflection/tests/ReflectionType_possible_types.phpt
  ext/reflection/tests/union_types.phpt
Labels: RFC, Category: Engine, Extension: reflection

#8765 Indent with TAB in .h files generated by gen_stub
  Zend/zend_constants_arginfo.h
  build/gen_stub.php
  ext/calendar/calendar_arginfo.h
  ext/com_dotnet/com_extension_arginfo.h
  ext/date/php_date_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/enchant/enchant_arginfo.h
  ext/exif/exif_arginfo.h
  ext/fileinfo/fileinfo_arginfo.h
  ext/filter/filter_arginfo.h
  ext/ftp/ftp_arginfo.h
  ext/gmp/gmp_arginfo.h
  ext/hash/hash_arginfo.h
  ext/iconv/iconv_arginfo.h
  ext/imap/php_imap_arginfo.h
  ext/json/json_arginfo.h
  ext/ldap/ldap_arginfo.h
  ext/libxml/libxml_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/oci8/oci8_arginfo.h
  ext/odbc/odbc_arginfo.h
  ext/openssl/openssl_arginfo.h
  ext/pdo/pdo_dbh_arginfo.h
  ext/sodium/libsodium_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Extension: openssl, Category: Engine, Extension: calendar, Extension: com_dotnet, Extension: date, Extension: dom, Extension: enchant, Extension: exif, Extension: fileinfo, Extension: filter, Extension: ftp, Extension: gmp, Extension: hash, Extension: iconv, Extension: imap, Extension: json, Extension: ldap, Extension: libxml, Extension: mysqli, Extension: oci8, Extension: odbc, Extension: pdo (core), Extension: sodium, Extension: standard, Extension: zip

#8736 Update gen_stub to support #if around classes
  build/gen_stub.php
  ext/com_dotnet/com_extension_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/mysqli/mysqli.c
  ext/mysqli/mysqli_arginfo.h
  ext/pdo/pdo_dbh.c
  ext/pdo/pdo_dbh_arginfo.h
  ext/spl/spl_directory_arginfo.h
  ext/zip/php_zip.c
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Waiting on Review, Stubs, Extension: com_dotnet, Extension: dom, Extension: mysqli, Extension: pdo (core), Extension: spl, Extension: zip

#8762 Use get_active_function_or_method_name() for zend_forbid_dynamic_call()
  Zend/zend_API.h
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/zend_forbid_dynamic_call.phpt
Labels: Category: Engine, Extension: zend_test

#8790 check_parameters.php: Make the script's retval reflect errors
  scripts/dev/check_parameters.php
Labels: Category: Build System

#8807 Fix phpize to include _GNU_SOURCE by default
  scripts/phpize.m4
Labels: Category: Build System

#7951 Deprecate zend_atol() / add zend_ini_parse_quantity()
  UPGRADING
  UPGRADING.INTERNALS
  Zend/tests/zend_ini_parse_quantity.phpt
  Zend/tests/zend_ini_parse_quantity_error.phpt
  Zend/tests/zend_ini_parse_quantity_ini_set_error.phpt
  Zend/tests/zend_ini_parse_quantity_ini_setting_error.phpt
  Zend/tests/zend_ini_parse_quantity_overflow.phpt
  Zend/tests/zend_ini_parse_uquantity_overflow.phpt
  Zend/zend.c
  Zend/zend_ini.c
  Zend/zend_ini.h
  Zend/zend_operators.c
  Zend/zend_operators.h
  ext/bcmath/bcmath.c
  ext/opcache/tests/bug71843.phpt
  ext/opcache/tests/bug74431.phpt
  ext/opcache/zend_accelerator_module.c
  ext/standard/basic_functions.c
  ext/standard/tests/general_functions/parse_ini_numeric_entry_name.phpt
  ext/zend_test/php_test.h
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zlib/zlib.c
  main/main.c
Labels: Feature, Waiting on Review, Category: Engine, Extension: bcmath, Extension: opcache, Extension: standard, Extension: zend_test, Extension: zlib

#8763 Add clean_module_functions()
  Zend/zend_API.c
  ext/dl_test/dl_test.c
  ext/standard/tests/general_functions/dl-use_register_functions_directly.phpt
Labels: Category: Engine, Extension: standard

#8759 Declare true return types
  Zend/Optimizer/zend_func_infos.h
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
  build/gen_stub.php
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/sodium/libsodium.stub.php
  ext/sodium/libsodium_arginfo.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  sapi/cli/tests/004.phpt
Labels: Category: Build System, Stubs, Category: Engine, Extension: mysqli, Extension: sodium, Extension: standard, Category: Optimizer

#8780 Fix bug #67764: fpm: syslog.ident does not work
  NEWS
  ext/standard/syslog.c
  main/php_syslog.c
  main/php_syslog.h
  sapi/fpm/fpm/fpm_stdio.c
Labels: Extension: standard

#8234 Zend, ext/opcache: use PR_SET_VMA_ANON_NAME (Linux 5.17)
  Zend/zend_alloc.c
  Zend/zend_fibers.c
  Zend/zend_mmap.h
  ext/opcache/ZendAccelerator.c
  ext/opcache/jit/zend_jit_perf_dump.c
Labels: Waiting on Review, Category: Engine, Extension: opcache

#8650 intl ICU C++ code modernisation, making it closer to C++11
  ext/intl/breakiterator/codepointiterator_internal.h
  ext/intl/breakiterator/rulebasedbreakiterator_methods.cpp
  ext/intl/calendar/calendar_methods.cpp
Labels: Waiting on Review, Refactoring, Extension: intl

#7920 [SPL] Prevent fclose on underlying SplFileObject file stream.
  ext/spl/spl_directory.c
  ext/spl/tests/bug81691.phpt
Labels: Waiting on Review, Extension: spl

#8776 Support the `#[\AllowDynamicProperties]` attribute in stubs
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
  build/gen_stub.php
Labels: Category: Build System, Stubs, Category: Engine

#8820 Specify unit in out of memory error
  Zend/zend_alloc.c
Labels: Category: Engine

#8838 Use same type error wording for alias iterable in ZPP
  Zend/tests/iterable_or_null.phpt
  Zend/zend_API.h
Labels: Category: Engine

#8837 Refactoring part of SPL Directory.c
  ext/phar/phar_object.c
  ext/spl/spl_directory.c
  ext/spl/spl_directory.h
Labels: Extension: phar, Extension: spl

#8798 Declare ext/mbstring constants in stubs
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.stub.php
  ext/mbstring/mbstring_arginfo.h
  ext/mbstring/php_mbregex.c
  ext/mbstring/php_mbregex.h
Labels: Stubs, Extension: mbstring

#8852 Remove zend_shared_alloc_pages declaration that was never implemented
  ext/opcache/zend_shared_alloc.h
Labels: Extension: opcache

#8853 Get rid of duplicated rotr3 implementation
  ext/opcache/zend_shared_alloc.c
Labels: Extension: opcache

#8854 Use the passed 'this' ptr instead of ZEND_THIS
  ext/spl/spl_directory.c
Labels: Extension: spl

#8161 Add test coverage job
  .github/workflows/nightly.yml
  azure-pipelines.yml
  azure/coverage_job.yml
Labels: Category: Tests, Category: Build System

#8859 Fix enum preloading again
  Zend/zend.h
  Zend/zend_API.h
  Zend/zend_enum.c
  Zend/zend_opcode.c
Labels: Category: Engine

#8755 Convert return type of various object handlers from int to zend_result
  UPGRADING.INTERNALS
  Zend/zend_closures.c
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
  Zend/zend_weakrefs.c
  ext/com_dotnet/com_handlers.c
  ext/com_dotnet/com_saproxy.c
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/ffi/ffi.c
  ext/gmp/gmp.c
  ext/intl/resourcebundle/resourcebundle_class.c
  ext/simplexml/simplexml.c
  ext/spl/spl_array.c
  ext/spl/spl_directory.c
  ext/spl/spl_dllist.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
  ext/tidy/tidy.c
Labels: Category: Engine, Extension: intl, Extension: com_dotnet, Extension: curl, Extension: ffi, Extension: gmp, Extension: simplexml, Extension: spl, Extension: tidy

#8774 JIT: Add IBT support
  ext/opcache/jit/dynasm/dasm_x86.lua
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

#8801 Fix zend_atomic_bool_exchange_ex() in HAVE_NO_ATOMICS case
  Zend/zend_atomic.h
Labels: Category: Engine

#8890 Allocate JIT bufer close to PHP .text segment to allow using direct IP-relative calls and jumps
  ext/opcache/shared_alloc_mmap.c
Labels: Extension: opcache
