Repository php/php-src, pull requests merged in 2023-07, with the labels that each got.

#11546 Add support for typed class constants in stubs
  Zend/zend_attributes.stub.php
  Zend/zend_attributes_arginfo.h
  Zend/zend_exceptions_arginfo.h
  build/gen_stub.php
  ext/date/php_date_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/random/random_arginfo.h
  ext/soap/soap_arginfo.h
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Category: Engine, Extension: date, Extension: dom, Extension: soap, Extension: zend_test, Extension: random

#11575 ext/intl: intl_CharFromString using zend_string_truncate to adjust th…
  ext/intl/intl_convertcpp.cpp
Labels: Extension: intl

#11563 Extend tests of bcmath extension
  ext/bcmath/tests/bcadd.phpt
  ext/bcmath/tests/bcadd_large_numbers.phpt
  ext/bcmath/tests/bcadd_variation001.phpt
  ext/bcmath/tests/bcadd_zero.phpt
  ext/bcmath/tests/bccomp.phpt
  ext/bcmath/tests/bccomp_variation001.phpt
  ext/bcmath/tests/bccomp_variation002.phpt
  ext/bcmath/tests/bcdiv.phpt
  ext/bcmath/tests/bcdiv_error1.phpt
  ext/bcmath/tests/bcdiv_large_numbers.phpt
  ext/bcmath/tests/bcdiv_zero.phpt
  ext/bcmath/tests/bcmod.phpt
  ext/bcmath/tests/bcmod_error2.phpt
  ext/bcmath/tests/bcmod_large_numbers.phpt
  ext/bcmath/tests/bcmod_zero.phpt
  ext/bcmath/tests/bcmul.phpt
  ext/bcmath/tests/bcmul_large_numbers.phpt
  ext/bcmath/tests/bcmul_zero.phpt
  ext/bcmath/tests/bcpow.phpt
  ext/bcmath/tests/bcpow_error1.phpt
  ext/bcmath/tests/bcpow_error2.phpt
  ext/bcmath/tests/bcpow_large_numbers.phpt
  ext/bcmath/tests/bcpow_variation001.phpt
  ext/bcmath/tests/bcsqrt.phpt
  ext/bcmath/tests/bcsqrt_variation001.phpt
  ext/bcmath/tests/bcsub.phpt
  ext/bcmath/tests/bcsub_large_numbers.phpt
  ext/bcmath/tests/bcsub_zero.phpt
  ext/bcmath/tests/bug66364.phpt
  ext/bcmath/tests/run_bcmath_tests_function.inc
Labels: Extension: bcmath

#11605 Fix GH-11603: Set LDFLAGS
  configure.ac
Labels: Category: Build System

#11560 Deprecate MT_RAND_PHP
  NEWS
  UPGRADING
  ext/random/engine_mt19937.c
  ext/random/random.c
  ext/random/random.stub.php
  ext/random/random_arginfo.h
  ext/random/tests/01_functions/array_rand_mt_rand_php.phpt
  ext/random/tests/01_functions/bug75514.phpt
  ext/random/tests/01_functions/mt_rand_value.phpt
  ext/random/tests/03_randomizer/compatibility_mt_rand.phpt
  ext/random/tests/03_randomizer/methods/getBytes.phpt
  ext/random/tests/03_randomizer/methods/getBytesFromString.phpt
  ext/random/tests/03_randomizer/methods/getFloat.phpt
  ext/random/tests/03_randomizer/methods/getInt.phpt
  ext/random/tests/03_randomizer/methods/nextFloat.phpt
  ext/random/tests/03_randomizer/methods/nextInt.phpt
  ext/random/tests/03_randomizer/methods/pickArrayKeys.phpt
  ext/random/tests/03_randomizer/methods/shuffleArray.phpt
  ext/random/tests/03_randomizer/methods/shuffleBytes.phpt
  ext/random/tests/03_randomizer/serialize.phpt
Labels: RFC, Extension: random

#11424 Add stack limit check in zend_eval_const_expr()
  Zend/tests/stack_limit/stack_limit_013.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#11578 zend stack: prepare zend_call_stack_get implementation for OpenBSD.
  Zend/Zend.m4
  Zend/zend_call_stack.c
Labels: Category: Build System, Category: Engine

#11631 ext/session/tests: more lenient expected output checks
  ext/session/tests/bug74514.phpt
  ext/session/tests/bug74936.phpt
  ext/session/tests/user_session_module/gh7787.phpt
Labels: Extension: session

#11654 ext/imap/tests/*mutf7*.phpt: update for missing utf8_to_mutf7()
  ext/imap/tests/imap_mutf7_to_utf8.phpt
  ext/imap/tests/imap_utf8_to_mutf7_basic.phpt
Labels: Extension: imap

#11650 Update type inference for ZEND_GET_CLASS and ZEND_GET_CALLED_CLASS
  Zend/Optimizer/zend_inference.c
Labels: Category: Optimizer

#11652 Update type inference for ZEND_STRLEN
  Zend/Optimizer/zend_inference.c
Labels: Category: Optimizer

#11651 ext/sockets/tests/mcast_ipv6_*.phpt: suppress no-ipv6 warning
  ext/sockets/tests/mcast_ipv6_recv.phpt
  ext/sockets/tests/mcast_ipv6_recv_limited.phpt
  ext/sockets/tests/mcast_ipv6_send.phpt
Labels: Extension: sockets

#11676 ext/posix: posix_isatty() fix use-of-uninitialized-value
  ext/posix/posix.c
  ext/posix/tests/posix_isatty_manual_zpp.phpt
Labels: Extension: posix

#11684 Fix bug-gh11600.phpt to work with different ICU versions
  ext/date/tests/bug-gh11600.phpt
Labels: Extension: date

#11681 Implement DOMNode::contains()
  NEWS
  UPGRADING
  ext/dom/node.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/DOMNode_contains.phpt
Labels: Extension: dom

#11683 refactor: Reorder list construction in the function php_intpow10
  ext/standard/math.c
Labels: Extension: standard

#11697 Avoid some allocations in ext/dom
  ext/dom/element.c
Labels: Extension: dom

#11523 Expose time spent collecting cycles in gc_status()
  UPGRADING
  UPGRADING.INTERNALS
  Zend/tests/gc_037.phpt
  Zend/tests/gc_045.phpt
  Zend/zend.c
  Zend/zend_builtin_functions.c
  Zend/zend_gc.c
  Zend/zend_gc.h
  Zend/zend_hrtime.c
  Zend/zend_hrtime.h
  configure.ac
  ext/standard/basic_functions.c
  ext/standard/hrtime.c
  ext/standard/hrtime.h
  ext/standard/php_standard.h
  win32/build/config.w32
Labels: Category: Build System, Category: Engine, Extension: standard, Category: GC

#10932 Remove WeakMap entries whose key is only reachable through the entry value
  Zend/tests/weakrefs/gh10043-001.phpt
  Zend/tests/weakrefs/gh10043-002.phpt
  Zend/tests/weakrefs/gh10043-003.phpt
  Zend/tests/weakrefs/gh10043-004.phpt
  Zend/tests/weakrefs/gh10043-005.phpt
  Zend/tests/weakrefs/gh10043-006.phpt
  Zend/tests/weakrefs/gh10043-007.phpt
  Zend/tests/weakrefs/gh10043-008.phpt
  Zend/tests/weakrefs/gh10043-009.phpt
  Zend/tests/weakrefs/gh10043-010.phpt
  Zend/tests/weakrefs/gh10043-011.phpt
  Zend/tests/weakrefs/gh10043-012.phpt
  Zend/tests/weakrefs/gh10043-014.phpt
  Zend/tests/weakrefs/gh10043-015.phpt
  Zend/tests/weakrefs/gh10043-016.phpt
  Zend/zend_gc.c
  Zend/zend_gc.h
  Zend/zend_types.h
  Zend/zend_weakrefs.c
  Zend/zend_weakrefs.h
Labels: Category: Engine, Category: GC

#11711 Update config.guess to 2023-06-23 and config.sub to 2023-06-26
  build/config.guess
  build/config.sub
Labels: Category: Build System

#11700 Implement DOMElement::insertAdjacent{Element,Text}
  NEWS
  UPGRADING
  ext/dom/document.c
  ext/dom/element.c
  ext/dom/php_dom.h
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/DOMElement_insertAdjacentElement.phpt
  ext/dom/tests/DOMElement_insertAdjacentText.phpt
Labels: Extension: dom

#10459 Add new curl constants from curl > 7.80
  NEWS
  UPGRADING
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/tests/curl_basic_026.phpt
  ext/curl/tests/curl_basic_027.phpt
  ext/curl/tests/curl_basic_028.phpt
  ext/curl/tests/curl_basic_029.phpt
  ext/curl/tests/curl_basic_030.phpt
Labels: Extension: curl

#11733 Get rid of some unnecessary string conversion
  ext/dom/attr.c
  ext/dom/characterdata.c
  ext/dom/node.c
  ext/dom/processinginstruction.c
Labels: Extension: dom

#10639 Fix misleading pass by reference error message
  Zend/tests/bug72038.phpt
  Zend/tests/bug73663_2.phpt
  Zend/tests/bug78154.phpt
  Zend/tests/bug79783.phpt
  Zend/tests/closure_019.phpt
  Zend/tests/errmsg_022.phpt
  Zend/tests/match/027.phpt
  Zend/tests/match/028.phpt
  Zend/tests/named_params/cannot_pass_by_ref.phpt
  Zend/tests/nullsafe_operator/016.phpt
  Zend/tests/restrict_globals/invalid_pass_by_ref.phpt
  Zend/tests/variadic/by_ref_error.phpt
  Zend/zend_execute.c
  ext/opcache/tests/optimize_func_calls.phpt
  ext/pcre/tests/preg_match_all_error3.phpt
  ext/pdo_mysql/tests/bug_37445.phpt
  ext/standard/tests/array/array_next_error2.phpt
  ext/standard/tests/array/bug31158.phpt
  ext/standard/tests/array/prev_error3.phpt
  tests/classes/constants_error_003.phpt
  tests/lang/passByReference_002.phpt
  tests/lang/passByReference_010.phpt
Labels: Category: Engine, Extension: opcache, Extension: pcre, Extension: pdo_mysql, Extension: standard

#11653 Remove unused PHP_HASH variable
  ext/hash/config.m4
Labels: Quickfix, Category: Build System, Extension: hash

#11742 Fix warning crc32.c on function declaration without a prototype.
  ext/standard/crc32.c
Labels: Extension: standard

#11726 Remove check for time.h and HAVE_TIME_H
  Zend/zend_hrtime.h
  configure.ac
Labels: Category: Build System, Category: Engine

#11728 ext/libxml: Add test to attempt to trigger a specific code path
  ext/libxml/tests/libxml_get_external_entity_loader_error_callback_name.phpt
Labels: Extension: libxml

#11766 zend call stack fix freebsd code path.
  Zend/zend_call_stack.c
Labels: Category: Engine

#11773 zend vm savee registers support for riscv 64.
  Zend/Zend.m4
  Zend/zend_execute.c
Labels: Category: Build System, Category: Engine

#11767 More ext/dom cleanup
  ext/dom/element.c
Labels: Extension: dom

#11778 Simplify configuration getters
  ext/dom/document.c
Labels: Extension: dom

#10774 Refactor BCMath bundledlib and extension
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/compare.c
  ext/bcmath/libbcmath/src/config.h
  ext/bcmath/libbcmath/src/debug.c
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/divmod.c
  ext/bcmath/libbcmath/src/doaddsub.c
  ext/bcmath/libbcmath/src/init.c
  ext/bcmath/libbcmath/src/int2num.c
  ext/bcmath/libbcmath/src/nearzero.c
  ext/bcmath/libbcmath/src/neg.c
  ext/bcmath/libbcmath/src/num2long.c
  ext/bcmath/libbcmath/src/num2str.c
  ext/bcmath/libbcmath/src/output.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/raise.c
  ext/bcmath/libbcmath/src/raisemod.c
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/libbcmath/src/rmzero.c
  ext/bcmath/libbcmath/src/sqrt.c
  ext/bcmath/libbcmath/src/str2num.c
  ext/bcmath/libbcmath/src/sub.c
  ext/bcmath/libbcmath/src/zero.c
  ext/bcmath/php_bcmath.h
Labels: Refactoring, Extension: bcmath

#11748 Create from iso string immutable
  ext/date/php_date.c
  ext/date/tests/DatePeriod_createFromISO8601String_static_return.phpt
  ext/date/tests/DatePeriod_serialize-001.phpt
Labels: Extension: date

#11798 Fix GH-11761: Bcmath numbers with trailing zeros
  NEWS
  ext/bcmath/libbcmath/src/str2num.c
  ext/bcmath/tests/bcpow.phpt
  ext/bcmath/tests/bcpow_large_numbers.phpt
  ext/bcmath/tests/bcpow_zero.phpt
Labels: Extension: bcmath

#11809 Generate the new class synopsis markup
  build/gen_stub.php
Labels: Category: Build System, Stubs

#11796 Fix '++nothing+crc' is not a recognized feature for target when compiling M1 / M2 macOS
  ext/standard/crc32.c
Labels: Extension: standard

#11803 Corrections to return type of loading DOM documents
  UPGRADING
  ext/dom/document.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#11824 XLEAK XML_SAVE_NO_DECL test for old libxml2 versions
  ext/dom/tests/DOMDocument_saveXML_XML_SAVE_NO_DECL.phpt
Labels: Extension: dom

#11827 Move --enable/--disable-fiber-asm help output
  configure.ac
Labels: Category: Build System
