Repository php/php-src, pull requests merged in 2023-10, with the labels that each got.

#12325 zend call stack for DragonFlyBSD.
  Zend/zend_call_stack.c
  Zend/zend_call_stack.h
Labels: Category: Engine

#12328 fix -Wreturn-type and -Wstrict-prototypes in gd configure
  ext/gd/config.m4
Labels: Category: Build System, Extension: gd

#12332 Improve error messages for XSLTProcessor::transformToDoc()
  ext/xsl/tests/transformToDoc_class_exceptions.phpt
  ext/xsl/xsltprocessor.c
Labels: Extension: xsl

#12327 fix mbstring.c -Wsingle-bit-bitfield-constant-conversion
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

#12367 password_hash: Increase PHP_PASSWORD_BCRYPT_COST to 12
  NEWS
  UPGRADING
  ext/standard/php_password.h
  ext/standard/tests/password/password_hash.phpt
  ext/standard/tests/password/password_removed_salt_option.phpt
Labels: Extension: standard

#12334 Add missing properties to xsl stub
  UPGRADING
  ext/xsl/php_xsl.stub.php
  ext/xsl/php_xsl_arginfo.h
  ext/xsl/tests/cloneDocument.phpt
  ext/xsl/tests/xinclude/data.xml
  ext/xsl/tests/xinclude/xinclude.phpt
  ext/xsl/tests/xinclude/xincluded.xml
  ext/xsl/xsltprocessor.c
Labels: Extension: xsl

#12355 pcre: Stop special-casing /e
  ext/pcre/php_pcre.c
  ext/pcre/tests/002.phpt
  ext/pcre/tests/null_bytes.phpt
Labels: Extension: pcre

#12358 Typed constants in SPL extension
  UPGRADING
  ext/spl/spl_array.stub.php
  ext/spl/spl_array_arginfo.h
  ext/spl/spl_directory.stub.php
  ext/spl/spl_directory_arginfo.h
  ext/spl/spl_dllist.stub.php
  ext/spl/spl_dllist_arginfo.h
  ext/spl/spl_heap.stub.php
  ext/spl/spl_heap_arginfo.h
  ext/spl/spl_iterators.stub.php
  ext/spl/spl_iterators_arginfo.h
  ext/spl/spl_observer.stub.php
  ext/spl/spl_observer_arginfo.h
Labels: Extension: spl

#12374 random: Remove RAND_RANGE_BADSCALING
  UPGRADING.INTERNALS
  ext/random/php_random.h
Labels: Extension: random

#12383 Convert bounds exception in SplFixedArray to OutOfBoundsException instead of RuntimeException
  UPGRADING
  ext/spl/spl_fixedarray.c
  ext/spl/tests/fixedarray_001.phpt
  ext/spl/tests/fixedarray_002.phpt
Labels: Extension: spl

#10331 add file path in opcache lock file error
  ext/opcache/zend_shared_alloc.c
Labels: Extension: opcache

#8634 opcache: Use O_TMPFILE file lock if available
  ext/opcache/zend_shared_alloc.c
Labels: Waiting on Review, Extension: opcache

#12384 Remove redundant code in ext/mysqlnd build
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: mysqlnd

#8671 Add some const qualifiers in HashTable foreach macros
  Zend/zend_hash.h
Labels: Category: Engine

#12394 Fix GH-12364: JIT leak in Symfony TranslationDebugCommandTest
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

#12419 Introduce Z_PARAM_FUNC_EX2 to maintain compatibility
  UPGRADING.INTERNALS
  Zend/zend_API.h
Labels: Category: Engine

#12402 random: Fix γ-section implementation for Randomizer::getFloat()
  NEWS
  ext/random/gammasection.c
  ext/random/tests/03_randomizer/methods/getFloat_extreme_range.phpt
  ext/random/tests/03_randomizer/methods/getFloat_opposite_signs.phpt
Labels: Extension: random

#12436 random: Add additional test for Randomizer::getFloat()
  ext/random/tests/02_engine/all_serialize_user.phpt
  ext/random/tests/03_randomizer/methods/getFloat_equal_steps.phpt
  ext/random/tests/engines.inc
Labels: Extension: random

#12438 Remove unused variable 'error'
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

#12446 Fix 12424 PDO_PGSQL unit test unexistent variables
  ext/pdo_pgsql/tests/gh12423.phpt
Labels: Extension: pdo_pgsql

#12448 Fixed regular expression to get password from dsn
  ext/pdo_pgsql/tests/gh12423.phpt
Labels: Extension: pdo_pgsql

#12447 Refactor some ext/pcre code for performance
  ext/pcre/php_pcre.c
Labels: Extension: pcre

#12463 Cleanup unused variable in php_dom.c
  ext/dom/php_dom.c
Labels: Extension: dom

#12465 ext/pgsql: cleanup the 3rd protocol is supported since circa 2010.
  ext/pgsql/pgsql.c
  ext/pgsql/tests/23sync_query_params.phpt
  ext/pgsql/tests/24sync_query_prepared.phpt
  ext/pgsql/tests/25async_query_params.phpt
  ext/pgsql/tests/26async_query_prepared.phpt
  ext/pgsql/tests/30nb_async_query_params.phpt
  ext/pgsql/tests/31nb_async_query_prepared.phpt
  ext/pgsql/tests/32nb_async_query.phpt
Labels: Extension: pgsql

#12464 ext/pdo_pgsql: cleanup the 3rd protocol is supported since circa 2010.
  ext/pdo_pgsql/pgsql_driver.c
  ext/pdo_pgsql/tests/bug48764.phpt
Labels: Extension: pdo_pgsql

#12474 Avoid refcounted copy in _object_properties_init() for internal classes
  Zend/zend_API.c
  Zend/zend_inheritance.c
Labels: Category: Engine

#12340 ext/xml: Refactor extension to use FCC instead of zvals for handlers
  UPGRADING
  ext/xml/tests/bug30266.phpt
  ext/xml/tests/bug32001.phpt
  ext/xml/tests/bug72085.phpt
  ext/xml/tests/bug73135.phpt
  ext/xml/tests/set_element_handler_trampoline.phpt
  ext/xml/tests/set_element_handler_trampoline_errors.phpt
  ext/xml/tests/set_handler_errors.phpt
  ext/xml/tests/set_handler_trampoline.phpt
  ext/xml/tests/xml_set_element_handler_errors.phpt
  ext/xml/tests/xml_set_object_multiple_times.phpt
  ext/xml/tests/xml_set_object_multiple_times_errors.phpt
  ext/xml/xml.c
  ext/xml/xml.stub.php
  ext/xml/xml_arginfo.h
Labels: Extension: xml

#12492 Remove php_xsl_create_object()
  UPGRADING.INTERNALS
  ext/xsl/php_xsl.c
  ext/xsl/php_xsl.h
Labels: Extension: xsl

#12256 Implement request #68325: parse huge option for xml_parser_create
  UPGRADING
  ext/xml/php_xml.h
  ext/xml/tests/XML_OPTION_PARSE_HUGE.phpt
  ext/xml/tests/XML_OPTION_PARSE_HUGE_during_parsing.phpt
  ext/xml/xml.c
  ext/xml/xml.stub.php
  ext/xml/xml_arginfo.h
Labels: RFC, Extension: xml

#12497 Convert ext/xml fields from int to bool
  ext/xml/xml.c
Labels: Extension: xml

#12079 A new PHP JIT implementation based on IR JIT framework
  Zend/zend_vm_execute.h
  Zend/zend_vm_execute.skl
  Zend/zend_vm_gen.php
  Zend/zend_vm_opcodes.h
  build/Makefile.global
  ext/opcache/config.m4
  ext/opcache/config.w32
  ext/opcache/jit/Makefile.frag
  ext/opcache/jit/Makefile.frag.w32
  ext/opcache/jit/README-IR.md
  ext/opcache/jit/ir/.gitignore
  ext/opcache/jit/ir/LICENSE
  ext/opcache/jit/ir/README
  ext/opcache/jit/ir/dynasm/dasm_arm.h
  ext/opcache/jit/ir/dynasm/dasm_arm.lua
  ext/opcache/jit/ir/dynasm/dasm_arm64.h
  ext/opcache/jit/ir/dynasm/dasm_arm64.lua
  ext/opcache/jit/ir/dynasm/dasm_mips.h
  ext/opcache/jit/ir/dynasm/dasm_mips.lua
  ext/opcache/jit/ir/dynasm/dasm_mips64.lua
  ext/opcache/jit/ir/dynasm/dasm_ppc.h
  ext/opcache/jit/ir/dynasm/dasm_ppc.lua
  ext/opcache/jit/ir/dynasm/dasm_proto.h
  ext/opcache/jit/ir/dynasm/dasm_x64.lua
  ext/opcache/jit/ir/dynasm/dasm_x86.h
  ext/opcache/jit/ir/dynasm/dasm_x86.lua
  ext/opcache/jit/ir/dynasm/dynasm.lua
  ext/opcache/jit/ir/dynasm/minilua.c
  ext/opcache/jit/ir/gen_ir_fold_hash.c
  ext/opcache/jit/ir/ir.c
  ext/opcache/jit/ir/ir.h
  ext/opcache/jit/ir/ir_aarch64.dasc
  ext/opcache/jit/ir/ir_aarch64.h
  ext/opcache/jit/ir/ir_builder.h
  ext/opcache/jit/ir/ir_cfg.c
  ext/opcache/jit/ir/ir_check.c
  ext/opcache/jit/ir/ir_disasm.c
  ext/opcache/jit/ir/ir_dump.c
  ext/opcache/jit/ir/ir_elf.h
  ext/opcache/jit/ir/ir_emit.c
  ext/opcache/jit/ir/ir_fold.h
  ext/opcache/jit/ir/ir_gcm.c
  ext/opcache/jit/ir/ir_gdb.c
  ext/opcache/jit/ir/ir_patch.c
  ext/opcache/jit/ir/ir_perf.c
  ext/opcache/jit/ir/ir_php.h
  ext/opcache/jit/ir/ir_private.h
  ext/opcache/jit/ir/ir_ra.c
  ext/opcache/jit/ir/ir_save.c
  ext/opcache/jit/ir/ir_sccp.c
  ext/opcache/jit/ir/ir_strtab.c
  ext/opcache/jit/ir/ir_x86.dasc
  ext/opcache/jit/ir/ir_x86.h
  ext/opcache/jit/ir/y.txt
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit.h
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_vm_helpers.c
Labels: Category: Build System, Category: Engine, Extension: opcache

#12454 Fix: pdo pgsql test 12423
  ext/pdo_pgsql/tests/gh12423.phpt
Labels: Extension: pdo_pgsql

#12498 Remove old JIT implementation
  build/Makefile.global
  ext/opcache/config.m4
  ext/opcache/config.w32
  ext/opcache/jit/Makefile.frag
  ext/opcache/jit/Makefile.frag.w32
  ext/opcache/jit/README-IR.md
  ext/opcache/jit/README.md
  ext/opcache/jit/dynasm/dasm_arm.h
  ext/opcache/jit/dynasm/dasm_arm.lua
  ext/opcache/jit/dynasm/dasm_arm64.h
  ext/opcache/jit/dynasm/dasm_arm64.lua
  ext/opcache/jit/dynasm/dasm_mips.h
  ext/opcache/jit/dynasm/dasm_mips.lua
  ext/opcache/jit/dynasm/dasm_mips64.lua
  ext/opcache/jit/dynasm/dasm_ppc.h
  ext/opcache/jit/dynasm/dasm_ppc.lua
  ext/opcache/jit/dynasm/dasm_proto.h
  ext/opcache/jit/dynasm/dasm_x64.lua
  ext/opcache/jit/dynasm/dasm_x86.h
  ext/opcache/jit/dynasm/dasm_x86.lua
  ext/opcache/jit/dynasm/dynasm.lua
  ext/opcache/jit/dynasm/minilua.c
  ext/opcache/jit/libudis86/LICENSE
  ext/opcache/jit/libudis86/decode.c
  ext/opcache/jit/libudis86/decode.h
  ext/opcache/jit/libudis86/extern.h
  ext/opcache/jit/libudis86/itab.c
  ext/opcache/jit/libudis86/itab.h
  ext/opcache/jit/libudis86/syn-att.c
  ext/opcache/jit/libudis86/syn-intel.c
  ext/opcache/jit/libudis86/syn.c
  ext/opcache/jit/libudis86/syn.h
  ext/opcache/jit/libudis86/types.h
  ext/opcache/jit/libudis86/udint.h
  ext/opcache/jit/libudis86/udis86.c
  ext/opcache/jit/vtune/ittnotify_config.h
  ext/opcache/jit/vtune/ittnotify_types.h
  ext/opcache/jit/vtune/jitprofiling.c
  ext/opcache/jit/vtune/jitprofiling.h
  ext/opcache/jit/zend_elf.c
  ext/opcache/jit/zend_elf.h
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit.h
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_arm64.h
  ext/opcache/jit/zend_jit_disasm.c
  ext/opcache/jit/zend_jit_gdb.c
  ext/opcache/jit/zend_jit_gdb.h
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_perf_dump.c
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/opcache/jit/zend_jit_vtune.c
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/jit/zend_jit_x86.h
Labels: Category: Build System, Extension: opcache

#12514 Fix soap crash with ZEND_RC_DEBUG
  ext/soap/php_sdl.c
Labels: Extension: soap

#12528 Implement iterative Pearce's SCC finding algoritm
  Zend/Optimizer/zend_inference.c
Labels: Category: Optimizer

#12535 Remove unused DBA_CDB_MAKE constant
  ext/dba/config.m4
  ext/dba/config.w32
Labels: Category: Build System, Extension: dba

#12378 Typed constants in reflection extension
  UPGRADING
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
Labels: Extension: reflection

#12544 curl: sync-constants.php regex and URL improvements
  ext/curl/sync-constants.php
Labels: Extension: curl

#12488 Fix segfault caused by weak references to FFI objects
  ext/ffi/ffi.c
  ext/ffi/tests/weak_reference_001.phpt
  ext/ffi/tests/weak_reference_002.phpt
  ext/ffi/tests/weak_reference_003.phpt
  ext/ffi/tests/weak_reference_004.phpt
Labels: Extension: ffi

#12362 Typed constants in PDO extension
  UPGRADING
  ext/pdo/pdo_dbh.stub.php
  ext/pdo/pdo_dbh_arginfo.h
Labels: Extension: pdo (core)

#12360 Typed constants in Intl extenstion
  UPGRADING
  ext/intl/breakiterator/breakiterator.stub.php
  ext/intl/breakiterator/breakiterator_arginfo.h
  ext/intl/breakiterator/breakiterator_iterators.stub.php
  ext/intl/breakiterator/breakiterator_iterators_arginfo.h
  ext/intl/calendar/calendar.stub.php
  ext/intl/calendar/calendar_arginfo.h
  ext/intl/collator/collator.stub.php
  ext/intl/collator/collator_arginfo.h
  ext/intl/converter/converter.stub.php
  ext/intl/converter/converter_arginfo.h
  ext/intl/dateformat/dateformat.stub.php
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/formatter/formatter.stub.php
  ext/intl/formatter/formatter_arginfo.h
  ext/intl/locale/locale.stub.php
  ext/intl/locale/locale_arginfo.h
  ext/intl/normalizer/normalizer.stub.php
  ext/intl/normalizer/normalizer_arginfo.h
  ext/intl/spoofchecker/spoofchecker.stub.php
  ext/intl/spoofchecker/spoofchecker_arginfo.h
  ext/intl/timezone/timezone.stub.php
  ext/intl/timezone/timezone_arginfo.h
  ext/intl/transliterator/transliterator.stub.php
  ext/intl/transliterator/transliterator_arginfo.h
  ext/intl/uchar/uchar.stub.php
  ext/intl/uchar/uchar_arginfo.h
Labels: Extension: intl

#12379 Typed constants in sqlite extension
  UPGRADING
  ext/sqlite3/sqlite3.stub.php
  ext/sqlite3/sqlite3_arginfo.h
Labels: Extension: sqlite3

#12537 fix: don't delete an unitialized timer
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

#12550 Remove dead stores from ext/spl
  ext/spl/spl_fixedarray.c
  ext/spl/spl_iterators.c
Labels: Extension: spl

#12552 PDO: Fix parrallel conflicts?
  ext/pdo/tests/bug_43139.phpt
  ext/pdo/tests/bug_43663.phpt
  ext/pdo/tests/bug_44861.phpt
  ext/pdo/tests/bug_60665.phpt
  ext/pdo/tests/bug_69356.phpt
  ext/pdo/tests/bug_72788.phpt
  ext/pdo/tests/pdo_011.phpt
  ext/pdo/tests/pdo_012.phpt
  ext/pdo/tests/pdo_013.phpt
  ext/pdo/tests/pdo_014.phpt
  ext/pdo/tests/pdo_023.phpt
  ext/pdo_firebird/tests/bug_76449.phpt
  ext/pdo_firebird/tests/bug_76452.phpt
  ext/pdo_mysql/tests/bug_41698.phpt
  ext/pdo_sqlite/tests/bug46139.phpt
  ext/pdo_sqlite/tests/bug_47769.phpt
  ext/pdo_sqlite/tests/pdo_fetch_func_001.phpt
Labels: Extension: pdo (core), Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_sqlite

#12563 Attempt to fix pdo_mysql conflict on CircleCI
  ext/pdo_mysql/tests/last_insert_id.phpt
Labels: Extension: pdo_mysql

#12575 Fix unused variable in phpdbg_cmd.c
  sapi/phpdbg/phpdbg_cmd.c
Labels: SAPI: phpdbg

#12562 Fix GH-12558 Escape \N and \n in generated stubs
  NEWS
  build/gen_stub.php
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/gen_stub_test_01.phpt
Labels: Category: Build System, Extension: zend_test

#12330 gen_stub: Generate useful methodsynopsises
  build/gen_stub.php
Labels: Category: Build System
