Repository php/php-src, pull requests merged in 2023-09, with the labels that each got.

#12105 Preallocate result array size in xpath
  ext/dom/xpath.c
Labels: Extension: dom

#12113 Use zend_result as return for properties in ext/dom
  UPGRADING.INTERNALS
  ext/dom/attr.c
  ext/dom/characterdata.c
  ext/dom/document.c
  ext/dom/documenttype.c
  ext/dom/dom_properties.h
  ext/dom/element.c
  ext/dom/entity.c
  ext/dom/namednodemap.c
  ext/dom/node.c
  ext/dom/nodelist.c
  ext/dom/notation.c
  ext/dom/parentnode.c
  ext/dom/php_dom.c
  ext/dom/processinginstruction.c
  ext/dom/text.c
  ext/dom/xpath.c
Labels: Extension: dom

#12142 ext/pdo: Refactor pdo_stmt_construct() to use newer FCI/FCC API
  ext/pdo/pdo_dbh.c
Labels: Extension: pdo (core)

#12147 Remove DOM_NO_ARGS() and DOM_NOT_IMPLEMENTED()
  UPGRADING.INTERNALS
  ext/dom/domimplementation.c
  ext/dom/php_dom.h
Labels: Extension: dom

#12156 Fixed tracing JIT support for CALLABLE_CONVERT
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#12146 Add DOMNode::compareDocumentPosition()
  NEWS
  UPGRADING
  ext/dom/node.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/compareDocumentPosition/attribute_child_order.phpt
  ext/dom/tests/compareDocumentPosition/attribute_order_different_element.phpt
  ext/dom/tests/compareDocumentPosition/attribute_order_same_element.phpt
  ext/dom/tests/compareDocumentPosition/contains_attribute_direct_descendent.phpt
  ext/dom/tests/compareDocumentPosition/contains_attribute_freestanding.phpt
  ext/dom/tests/compareDocumentPosition/contains_attribute_longer_descendent.phpt
  ext/dom/tests/compareDocumentPosition/contains_element_direct_descendent.phpt
  ext/dom/tests/compareDocumentPosition/contains_element_longer_descendent.phpt
  ext/dom/tests/compareDocumentPosition/disconnected.phpt
  ext/dom/tests/compareDocumentPosition/element_order_different_depth.phpt
  ext/dom/tests/compareDocumentPosition/element_order_direct_root_children.phpt
  ext/dom/tests/compareDocumentPosition/element_order_same_depth.phpt
  ext/dom/tests/compareDocumentPosition/entity.phpt
  ext/dom/tests/compareDocumentPosition/equal.phpt
Labels: Extension: dom

#12164 Remove useless SKIP_TEXT() invokes
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#12166 Zend: Remove dependency on zend.h for certain headers
  Zend/zend_alloc.h
  Zend/zend_ast.h
  Zend/zend_compile.h
  Zend/zend_hash.h
  Zend/zend_objects_API.h
  Zend/zend_string.h
  Zend/zend_variables.h
Labels: Category: Engine

#12194 Small optimization in php_sxe_get_first_node() by avoiding unwrapping iterator data
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#12178 Remove unneeded zend_language_parser.h patch
  win32/build/Makefile
Labels: Category: Build System

#12201 Show the integer size in phpinfo()
  NEWS
  ext/standard/info.c
  ext/standard/tests/general_functions/phpinfo.phpt
Labels: Extension: standard

#12205 Fix #[Override] on traits overriding a parent method without a matching interface
  NEWS
  Zend/tests/attributes/override/gh12189.phpt
  Zend/tests/attributes/override/gh12189_2.phpt
  Zend/tests/attributes/override/gh12189_3.phpt
  Zend/tests/attributes/override/gh12189_4.phpt
  Zend/tests/attributes/override/gh12189_5.phpt
  Zend/tests/attributes/override/gh12189_6.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#12230 Remove unnecessary _IS_BOOL case
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#12228 Fix typos discovered by codespell
  .gitattributes
  docs/release-process.md
  ext/mbstring/tests/data/JISX0212.txt
  ext/mbstring/tests/data/KSX1001.txt
  ext/reflection/tests/bug46064.phpt
  ext/reflection/tests/bug46064_2.phpt
  ext/session/tests/user_session_module/session_set_save_handler_class_012.phpt
  main/streams/xp_socket.c
  sapi/cli/tests/php_cli_server_014.phpt
  sapi/fpm/fpm/fpm_events.h
  sapi/fpm/tests/response.inc
  sapi/fpm/www.conf.in
  win32/build/confutils.js
  win32/build/mkdist.php
Labels: Category: Build System, SAPI: fpm, Extension: mbstring, Extension: reflection, Extension: session, SAPI: cli

#12239 Move static property check to assert
  Zend/zend_API.c
Labels: Category: Engine

#12242 Fix too many arguments in FPM ACL compile check
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#12266 Use autoconf for recognizing __builtin_unreachable()
  Zend/zend_portability.h
  build/php.m4
  configure.ac
Labels: Category: Build System, Category: Engine

#12252 round(): Validate the rounding mode
  NEWS
  UPGRADING
  ext/standard/math.c
  ext/standard/tests/math/round_valid_rounding_mode.phpt
Labels: Extension: standard

#12279 random: Perform fewer iterations if SKIP_SLOW_TESTS is set
  ext/random/tests/02_engine/all_serialize_user.phpt
  ext/random/tests/03_randomizer/compatibility_user.phpt
  ext/random/tests/03_randomizer/methods/getBytes.phpt
  ext/random/tests/03_randomizer/methods/getBytesFromString.phpt
  ext/random/tests/03_randomizer/methods/getFloat.phpt
  ext/random/tests/03_randomizer/methods/getInt.phpt
  ext/random/tests/03_randomizer/methods/nextFloat.phpt
  ext/random/tests/03_randomizer/methods/pickArrayKeys.phpt
  ext/random/tests/03_randomizer/methods/shuffleArray.phpt
  ext/random/tests/03_randomizer/methods/shuffleBytes.phpt
  ext/random/tests/03_randomizer/serialize.phpt
Labels: Extension: random

#12286 Unify type juggling in math.c
  ext/standard/math.c
Labels: Extension: standard

#12293 Extend C14N fast path to HTML documents too
  ext/dom/node.c
Labels: Extension: dom

#12275 Set func pointer to null in Closure __invoke
  Zend/zend_closures.c
Labels: Category: Engine

#12272 Make sure core module has number 0
  Zend/zend_API.c
  Zend/zend_builtin_functions.c
  sapi/cli/tests/025.phpt
Labels: Category: Engine, SAPI: cli

#12103 zend call stack support for haiku w/o using posix pthread api but the
  Zend/zend_call_stack.c
  Zend/zend_call_stack.h
Labels: Category: Engine
