Repository php/php-src, pull requests merged in 2023-05, with the labels that each got.

#9630 RFC: Make unserialize() emit a warning for trailing bytes
  NEWS
  UPGRADING
  ext/standard/tests/serialize/typed_property_ref_overwrite.phpt
  ext/standard/tests/serialize/unserialize_extra_data_001.phpt
  ext/standard/tests/serialize/unserialize_extra_data_002.phpt
  ext/standard/tests/serialize/unserialize_extra_data_003.phpt
  ext/standard/var.c
Labels: RFC, Extension: standard

#11149 JIT: Align JIT stubs
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

#11114 Remove unused macro PHP_FNV1_32A_INIT and PHP_FNV1A_64_INIT
  UPGRADING.INTERNALS
  ext/hash/php_hash_fnv.h
Labels: Extension: hash

#11161 Implement NEON-accelerated version of BLOCKCONV for lowercasing and uppercasing strings
  Zend/zend_operators.c
Labels: Category: Engine

#11184 Add new test for array_fill() to cover the case when the parameter count is too large
  ext/standard/tests/array/array_fill_error2.phpt
Labels: Extension: standard

#11159 ext/pgsql: pg_lo_read addressing the todo.
  ext/pgsql/pgsql.c
Labels: Extension: pgsql

#11093 Make SERVER_SOFTWARE compliant with RFC3875
  UPGRADING
  sapi/cli/php_cli_server.c
  sapi/cli/tests/php_cli_server_002.phpt
Labels: SAPI: cli

#11191 ext/pgsql: fix pg_trace test when trace mode is supported.
  ext/pgsql/tests/pg_trace.phpt
Labels: Extension: pgsql

#11203 Correctly copy lineno for zval asts
  Zend/zend_ast.c
Labels: Category: Engine

#11031 Prevent unnecessary string duplication in assert()
  ext/standard/assert.c
  ext/standard/tests/assert/assert_closures_multiple.phpt
Labels: Extension: standard

#11101 Cacheline demote to improve performance
  Zend/zend_cpuinfo.h
  ext/opcache/jit/zend_jit.c
Labels: Category: Engine, Extension: opcache

#11277 Fix -Wstrict-prototypes warnings in fuzzer SAPI
  sapi/fuzzer/fuzzer-sapi.c
Labels: SAPI: fuzzer

#11051 FPM: refactor fpm_php_get_string_from_table() to better match usage
  sapi/fpm/fpm/fpm_php.c
  sapi/fpm/fpm/fpm_php.h
  sapi/fpm/fpm/fpm_status.c
Labels: SAPI: fpm

#11285 Remove unused variable err in mb_send_mail()
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

#11286 Correctly handle multiple constants in typed declaration
  Zend/tests/type_declarations/typed_class_constants_ast_print.phpt
  Zend/tests/type_declarations/typed_class_constants_multiple_constants.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  Zend/zend_language_parser.y
Labels: Category: Engine

#11297 Fix concat_function use-after-free on out-of-memory error
  Zend/tests/bug79836_4.phpt
  Zend/zend_operators.c
Labels: Category: Engine

#11294 ext/session: pass ini options to extra processes in tests
  ext/session/tests/session_regenerate_id_cookie.phpt
Labels: Extension: session

#11261 Use zend_ast_apply in zend_eval_const_expr
  Zend/zend_compile.c
Labels: Category: Engine

#11326 Shrink libxml_doc_props struct
  ext/libxml/php_libxml.h
Labels: Extension: libxml

#11337 Add string output escaping into zend dump (phpdbg + opcache debug)
  Zend/Optimizer/zend_dump.c
  sapi/phpdbg/tests/print_001.phpt
Labels: SAPI: phpdbg, Category: Optimizer
