Repository php/php-src, pull requests merged in 2023-04, with the labels that each got.

#10954 Remove name field from the zend_constant struct
  UPGRADING.INTERNALS
  Zend/zend_builtin_functions.c
  Zend/zend_constants.c
  Zend/zend_constants.h
  Zend/zend_execute.c
  Zend/zend_execute_API.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/com_dotnet/com_typeinfo.c
  ext/opcache/ZendAccelerator.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/reflection/php_reflection.c
  sapi/cli/php_cli.c
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg_info.c
Labels: Category: Engine, Extension: com_dotnet, Extension: opcache, Extension: reflection, SAPI: cli, SAPI: phpdbg

#11009 Cleanup pubkey checks in ext/phar
  ext/phar/util.c
Labels: Extension: phar

#10988 [Zend]: Fix unnecessary alignment in ZEND_CALL_FRAME_SLOT macro
  Zend/zend_compile.h
  Zend/zend_execute.h
  Zend/zend_portability.h
Labels: Category: Engine

#11013 Add ngx-php to opcache supported sapis
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#9955 Do not build unnecessary FCI or FCC structures
  ext/standard/var.c
Labels: Extension: standard

#11019 Phar refactor char* + size_t pair to zend_string*
  ext/phar/func_interceptors.c
  ext/phar/phar.c
  ext/phar/phar_internal.h
  ext/phar/util.c
Labels: Extension: phar

#11022 Fix number of elements after packed hash filling
  Zend/zend_hash.h
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/hash_fill_packed_nr_elements.phpt
Labels: Category: Engine, Extension: zend_test

#11021 Fix GH-11016: Heap buffer overflow in ZEND_ADD_ARRAY_UNPACK_SPEC_HANDLER
  Zend/tests/gh11016.phpt
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#10698 Use zend_string for DBA path
  ext/dba/dba.c
  ext/dba/dba_cdb.c
  ext/dba/dba_db1.c
  ext/dba/dba_db2.c
  ext/dba/dba_db3.c
  ext/dba/dba_db4.c
  ext/dba/dba_dbm.c
  ext/dba/dba_gdbm.c
  ext/dba/dba_lmdb.c
  ext/dba/dba_ndbm.c
  ext/dba/dba_qdbm.c
  ext/dba/dba_tcadb.c
  ext/dba/php_dba.h
Labels: Extension: dba

#11032 Add case insensitive versions of the zend_string_starts_with_* APIs
  Zend/zend_string.h
Labels: Category: Engine

#11047 Fix unevaluated rhs of class constant fetch in constant expression
  Zend/tests/oss_fuzz_57821.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#11052 ext/curl: Protocol should be a case insensitive check
  ext/curl/interface.c
Labels: Extension: curl

#11065 ext/phar: Fix recently introduced potential NULL dereferencement segfaults
  ext/phar/func_interceptors.c
  ext/phar/phar.c
  ext/phar/phar_object.c
  ext/phar/util.c
Labels: Extension: phar

#11059 Optimize HT_HASH_RESET
  Zend/zend_types.h
Labels: Category: Engine

#10963 Remove unnecessary memory clearing in virtual_file_ex()
  Zend/zend_virtual_cwd.c
Labels: Category: Engine

#11061 Micro-optimize double comparison
  Zend/zend_operators.c
  ext/spl/spl_heap.c
  ext/standard/array.c
Labels: Category: Engine, Extension: spl, Extension: standard

#11085 Benchmarking mean
  .github/workflows/push.yml
  benchmark/benchmark.php
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

#11074 fpm: remove 2 unneeded newlines from zlog calls
  sapi/fpm/fpm/fpm_conf.c
  sapi/fpm/fpm/fpm_sockets.c
Labels: SAPI: fpm

#10444 Typed class constants
  UPGRADING
  Zend/tests/type_declarations/typed_class_constants_diamond_error1.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_error1.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_error2.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_error3.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_error4.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_error5.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_success1.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_success2.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_success3.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_success4.phpt
  Zend/tests/type_declarations/typed_class_constants_inheritance_success5.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error1.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error10.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error11.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error12.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error2.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error3.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error4.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error5.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error6.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error7.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error8.phpt
  Zend/tests/type_declarations/typed_class_constants_type_error9.phpt
  Zend/tests/type_declarations/typed_class_constants_type_success1.phpt
  Zend/tests/type_declarations/typed_class_constants_type_success2.phpt
  Zend/tests/type_declarations/typed_class_constants_type_success3.phpt
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_ast.h
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_constants.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_inheritance.c
  Zend/zend_language_parser.y
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/ZendAccelerator.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionClassConstant_basic1.phpt
  ext/reflection/tests/ReflectionClassConstant_getValue_typed.phpt
  ext/reflection/tests/ReflectionClass_getConstant_typed.phpt
  ext/reflection/tests/ReflectionClass_toString_006.phpt
  ext/reflection/tests/ReflectionClass_toString_007.phpt
  ext/reflection/tests/static_properties_with_typed_class_constants1.phpt
  ext/standard/tests/constant_with_typed_class_constant.phpt
Labels: RFC, Category: Engine, Extension: opcache, Extension: reflection, Extension: standard

#11004 ext/openssl: pass ini options to extra processes in tests
  ext/openssl/tests/ServerClientTestCase.inc
Labels: Extension: openssl

#11096 Fix datetime diff around dst transition
  ext/date/lib/interval.c
  ext/date/lib/timelib.h
  ext/date/tests/DateTime_diff-fall-type3-type3.phpt
  ext/date/tests/rfc-datetime_and_daylight_saving_time-type3-bd2.phpt
Labels: Extension: date

#10842 Allow CTE on basic type/math functions
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Extension: standard

#11060 Allow some array functions to operate in-place using a peep-hole optimization
  Zend/zend_types.h
  ext/standard/array.c
Labels: Category: Engine, Extension: standard

#11143 [skip ci] Fix various typos and grammar issues
  ext/calendar/calendar.c
  ext/gd/libgd/gd_bmp.c
  ext/hash/hash_fnv.c
  ext/hash/hash_md.c
  ext/intl/collator/collator_convert.c
  ext/mbstring/libmbfl/filters/mbfilter_base64.c
  ext/mbstring/libmbfl/filters/mbfilter_big5.c
  ext/mbstring/libmbfl/filters/mbfilter_cp936.c
  ext/mbstring/libmbfl/filters/mbfilter_euc_cn.c
  ext/mbstring/libmbfl/filters/mbfilter_euc_jp.c
  ext/mbstring/libmbfl/filters/mbfilter_euc_jp_win.c
  ext/mbstring/libmbfl/filters/mbfilter_gb18030.c
  ext/mbstring/libmbfl/filters/mbfilter_iso2022jp_mobile.c
  ext/mbstring/libmbfl/filters/mbfilter_qprint.c
  ext/mbstring/libmbfl/filters/mbfilter_sjis.c
  ext/mbstring/libmbfl/filters/mbfilter_ucs4.c
  ext/mbstring/libmbfl/filters/mbfilter_utf16.c
  ext/mbstring/libmbfl/filters/mbfilter_utf32.c
  ext/mbstring/libmbfl/filters/mbfilter_utf7.c
  ext/mbstring/libmbfl/filters/mbfilter_utf7imap.c
  ext/mbstring/libmbfl/filters/mbfilter_utf8_mobile.c
  ext/mbstring/libmbfl/mbfl/mbfilter_wchar.c
  ext/mbstring/libmbfl/mbfl/mbfl_filter_output.c
  ext/mbstring/libmbfl/mbfl/mbfl_language.c
  ext/mbstring/libmbfl/mbfl/mbfl_string.c
  ext/mbstring/mbstring.c
  ext/mysqlnd/mysqlnd_ps_codec.c
  ext/mysqlnd/mysqlnd_result.c
  ext/openssl/xp_ssl.c
  ext/pdo_dblib/dblib_stmt.c
  ext/sockets/sockets.c
  ext/standard/file.c
  ext/standard/filters.c
  ext/standard/html.c
  ext/standard/http_fopen_wrapper.c
  main/fopen_wrappers.c
  main/main.c
  main/network.c
  main/output.c
  main/php_network.h
  main/php_streams.h
  main/php_variables.c
  main/snprintf.c
  main/streams/plain_wrapper.c
  main/streams/streams.c
  main/streams/transports.c
Labels: Extension: openssl, Extension: intl, Extension: calendar, Extension: gd, Extension: hash, Extension: mbstring, Extension: mysqlnd, Extension: pdo_dblib, Extension: sockets, Extension: standard
