Repository php/php-src, pull requests merged in 2023-02, with the labels that each got.

#10503 touched up some misspellings
  Zend/Optimizer/zend_inference.c
  Zend/zend_inheritance.c
  Zend/zend_object_handlers.c
  ext/exif/exif.c
  ext/ffi/ffi.c
Labels: Category: Engine, Extension: exif, Extension: ffi, Category: Optimizer

#10498 ext/snmp: use memcpy() instead of memmove()
  ext/snmp/snmp.c
Labels: Extension: snmp

#10507 Implement an SSE2 accelerated version of zend_adler32 to speedup startup time for the file cache
  ext/opcache/zend_accelerator_util_funcs.c
Labels: Extension: opcache

#10501 Metaphone performance improvement
  ext/standard/metaphone.c
Labels: Extension: standard

#10539 Cleanup dead code in array_slice
  ext/standard/array.c
Labels: Extension: standard

#10522 random: Use branchless implementation for mask generation in Randomizer::getBytesFromString()
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/methods/getBytesFromString_fast_path.phpt
Labels: Extension: random

#10440 Fix GH-10370: File corruption in _php_stream_copy_to_stream_ex when using copy_file_range
  ext/zend_test/php_test.h
  ext/zend_test/test.c
  ext/zend_test/tests/gh10370.tar
  ext/zend_test/tests/gh10370_1.phpt
  ext/zend_test/tests/gh10370_2.phpt
  ext/zend_test/tests/gh10370_3.phpt
  ext/zend_test/tests/gh10370_4.phpt
  main/streams/streams.c
Labels: Extension: zend_test

#10534 Fixed OSS fuzz issues #55589, #55599, and #55727
  .gitattributes
  ext/date/php_date.c
  ext/date/tests/ossfuzz-55589.txt
  ext/date/tests/ossfuzz-55599.txt
  ext/date/tests/ossfuzz-55727.txt
  ext/date/tests/unserialize-test.phpt
Labels: Extension: date

#10536 Simplify php_reflection.c, class name cannot start with backslash
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#6361 base64: add avx512 and vbmi version.
  Zend/zend_cpuinfo.h
  Zend/zend_portability.h
  build/php.m4
  configure.ac
  ext/standard/base64.c
  ext/standard/base64.h
  ext/standard/tests/url/base64_decode_basic_002.phpt
  ext/standard/tests/url/base64_encode_basic_001.phpt
  ext/standard/tests/url/base64_encode_basic_002.phpt
  ext/standard/tests/url/base64_loop_001.phpt
Labels: Feature, Category: Build System, Waiting on Review, Category: Engine, Extension: standard

#10517 Stop copying internal functions into each thread
  Zend/zend.c
  Zend/zend_globals.h
Labels: Category: Engine

#10568 Fix assertion failure when var_dump'ing void FFI result
  ext/ffi/ffi.c
  ext/ffi/tests/gh10568.phpt
Labels: Extension: ffi

#10579 Make C functions returning "void" to return PHP "null"
  ext/ffi/ffi.c
  ext/ffi/tests/gh10568.phpt
Labels: Extension: ffi

#10458 Fix updating SSA object type for *_ASSIGN_OP
  Zend/Optimizer/zend_inference.c
Labels: Extension: opcache, Category: Optimizer

#8632 Add a SECURITY.md community health file to the repo
  SECURITY.md
Labels: Waiting on Review, Category: Documentation

#10613 makedist: Use fixed owner/group in generated tarball
  scripts/dev/makedist
Labels: Category: Build System

#10559 proc_open: reject array with empty command name
  UPGRADING
  ext/standard/proc_open.c
  ext/standard/tests/general_functions/proc_open_array.phpt
Labels: Extension: standard

#10597 Zend/zend_types.h: deprecate zend_bool, zend_intptr_t, zend_uintptr_t
  .gdbinit
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_alloc.c
  Zend/zend_compile.h
  Zend/zend_execute.c
  Zend/zend_execute_API.c
  Zend/zend_hash.h
  Zend/zend_inheritance.c
  Zend/zend_object_handlers.c
  Zend/zend_objects_API.h
  Zend/zend_portability.h
  Zend/zend_types.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_execute.skl
  docs/parameter-parsing-api.md
  ext/date/php_date.c
  ext/opcache/ZendAccelerator.c
  ext/opcache/jit/zend_jit_disasm.c
  ext/opcache/jit/zend_jit_oprofile.c
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_shared_alloc.c
  ext/opcache/zend_shared_alloc.h
  ext/standard/base64.c
  ext/standard/proc_open.c
  ext/standard/var.c
  ext/standard/var_unserializer.re
  main/SAPI.c
  main/main.c
  main/php.h
  main/streams/plain_wrapper.c
  win32/build/cppcheck_x64.cfg
  win32/build/cppcheck_x86.cfg
  win32/select.c
Labels: Category: Engine, Extension: date, Extension: opcache, Extension: standard

#10587 Zend/zend_alloc: make stderr_last_error() static
  Zend/zend_alloc.c
Labels: Category: Engine

#10610 Make globals const (part 2)
  Zend/zend_enum.c
  ext/bcmath/libbcmath/src/output.c
  ext/ffi/ffi.c
  ext/phar/phar.c
  ext/phar/phar_object.c
  main/php_syslog.c
  sapi/cli/php_cli_server.c
  sapi/fpm/fpm/fpm_conf.c
  sapi/fpm/fpm/fpm_signals.c
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg_help.c
  sapi/phpdbg/phpdbg_help.h
Labels: SAPI: fpm, Category: Engine, Extension: bcmath, Extension: ffi, Extension: phar, SAPI: cli, SAPI: phpdbg

#10619 Zend/zend_globals: convert fiber_stack_size to `size_t`
  Zend/zend.c
  Zend/zend_globals.h
Labels: Category: Fibers, Category: Engine

#10608 Add `const` to lots of pointers
  Zend/Optimizer/sccp.c
  Zend/Optimizer/scdf.h
  Zend/Optimizer/zend_optimizer.c
  Zend/Optimizer/zend_optimizer_internal.h
  Zend/Optimizer/zend_worklist.h
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_operators.c
  Zend/zend_operators.h
Labels: Category: Engine, Category: Optimizer

#10467 Improve the optimizer's check if a function is a prototype or not
  Zend/Optimizer/zend_optimizer.c
  ext/opcache/tests/opt/type_inference_final_class.phpt
Labels: Extension: opcache, Category: Optimizer

#10646 Make lots of string pointers `const`
  ext/curl/curl_file.c
  ext/curl/interface.c
  ext/date/php_date.c
  ext/dba/dba.c
  ext/dba/libcdb/cdb.c
  ext/dba/libcdb/cdb.h
  ext/dba/libcdb/cdb_make.c
  ext/dba/libcdb/cdb_make.h
  ext/dba/libflatfile/flatfile.c
  ext/dba/libflatfile/flatfile.h
  ext/dba/libinifile/inifile.c
  ext/dba/libinifile/inifile.h
  ext/dba/php_dba.h
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
  ext/opcache/shared_alloc_mmap.c
  ext/opcache/shared_alloc_posix.c
  ext/opcache/shared_alloc_shm.c
  ext/opcache/shared_alloc_win32.c
  ext/opcache/zend_shared_alloc.c
  ext/opcache/zend_shared_alloc.h
  ext/sqlite3/sqlite3.c
Labels: Extension: curl, Extension: date, Extension: dba, Extension: opcache, Extension: sqlite3

#10617 Two `enum`s instead of preprocessor macros
  Zend/zend_compile.c
  Zend/zend_globals.h
  Zend/zend_stack.c
  Zend/zend_stack.h
Labels: Category: Engine

#10650 ext: make lots of internal functions static
  ext/curl/multi.c
  ext/date/php_date.c
  ext/dba/dba.c
  ext/libxml/libxml.c
  ext/sqlite3/sqlite3.c
Labels: Extension: curl, Extension: date, Extension: dba, Extension: libxml, Extension: sqlite3

#10483 Implement GH-9826: Make class_alias() work with internal classes
  UPGRADING
  UPGRADING.INTERNALS
  Zend/Optimizer/zend_optimizer.c
  Zend/tests/class_alias_006.phpt
  Zend/zend_API.c
  Zend/zend_builtin_functions.c
  Zend/zend_opcode.c
  ext/opcache/zend_accelerator_module.c
Labels: Category: Engine, Extension: opcache, Category: Optimizer

#10615 makedist: Use fixed sort in generated tarball
  scripts/dev/makedist
Labels: Category: Build System, Waiting on RM

#10569 Declare proper parameter default values for imagegd2
  ext/gd/gd.c
  ext/gd/gd.stub.php
  ext/gd/gd_arginfo.h
Labels: Stubs, Extension: gd

#10655 Zend/zend_variables: use C99 designated initializers
  Zend/zend_variables.c
Labels: Category: Engine

#10621 zend_compiler, ...: use `uint8_t` instead of `zend_uchar`
  Zend/Optimizer/block_pass.c
  Zend/Optimizer/dce.c
  Zend/Optimizer/dfa_pass.c
  Zend/Optimizer/sccp.c
  Zend/Optimizer/ssa_integrity.c
  Zend/Optimizer/zend_cfg.c
  Zend/Optimizer/zend_dump.c
  Zend/Optimizer/zend_dump.h
  Zend/Optimizer/zend_inference.c
  Zend/Optimizer/zend_inference.h
  Zend/Optimizer/zend_optimizer.c
  Zend/Optimizer/zend_optimizer_internal.h
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_enum.c
  Zend/zend_enum.h
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_generators.h
  Zend/zend_globals.h
  Zend/zend_ini_scanner.l
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
  Zend/zend_opcode.c
  Zend/zend_operators.c
  Zend/zend_operators.h
  Zend/zend_stream.h
  Zend/zend_system_id.c
  Zend/zend_types.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_gen.php
  Zend/zend_vm_opcodes.c
  Zend/zend_vm_opcodes.h
  ext/com_dotnet/com_variant.c
  ext/ffi/ffi.c
  ext/gmp/gmp.c
  ext/intl/collator/collator_convert.c
  ext/intl/collator/collator_is_numeric.c
  ext/intl/collator/collator_is_numeric.h
  ext/mysqli/mysqli_api.c
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_x86.dasc
  ext/zend_test/observer.c
  main/main.c
  main/php_globals.h
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg_bp.c
  sapi/phpdbg/phpdbg_bp.h
Labels: Category: Engine, Extension: intl, Extension: com_dotnet, Extension: ffi, Extension: gmp, Extension: mysqli, Extension: opcache, Extension: zend_test, SAPI: phpdbg, Category: Optimizer

#10668 random: Move the CSPRNG implementation into a separate C file
  ext/random/config.m4
  ext/random/config.w32
  ext/random/csprng.c
  ext/random/random.c
Labels: Extension: random

#10688 Use an explicit failure check for zend_result functions in the scanner
  Zend/zend_language_scanner.l
Labels: Category: Engine

#10687 random: Fix return type of php_random_(bytes|int)
  ext/random/csprng.c
  ext/random/php_random.h
Labels: Extension: random

#10690 Change DOMCharacterData::appendData return type to true
  UPGRADING
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#10703 Change implicit enum return value checks to explicit checks
  ext/opcache/ZendAccelerator.c
  ext/standard/filters.c
Labels: Extension: opcache, Extension: standard

#10700 Fix UBSAN warning about applying zero offset to null pointer
  sapi/cli/php_cli_server.c
Labels: SAPI: cli

#10701 Simplify checks and returns in ext/xmlwriter
  ext/xmlwriter/php_xmlwriter.c
Labels: Extension: xmlwriter

#10708 ext/spl: standardize the visibility of functions
  ext/spl/spl_array.c
  ext/spl/spl_directory.c
  ext/spl/spl_dllist.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
  ext/spl/spl_iterators.c
  ext/spl/spl_observer.c
Labels: Extension: spl

#10711 Remove unnecessary checks in ftp_fopen_wrapper.c
  ext/standard/ftp_fopen_wrapper.c
Labels: Extension: standard

#10722 3 minor cleanups in ext/session
  ext/session/mod_files.c
  ext/session/session.c
Labels: Extension: session

#10713 Fix GCC 12 compiler warnings
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/compare.c
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/divmod.c
  ext/bcmath/libbcmath/src/doaddsub.c
  ext/bcmath/libbcmath/src/init.c
  ext/bcmath/libbcmath/src/int2num.c
  ext/bcmath/libbcmath/src/nearzero.c
  ext/bcmath/libbcmath/src/neg.c
  ext/bcmath/libbcmath/src/num2long.c
  ext/bcmath/libbcmath/src/num2str.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/libbcmath/src/rmzero.c
  ext/bcmath/libbcmath/src/sqrt.c
  ext/bcmath/libbcmath/src/sub.c
  ext/dba/libcdb/cdb.c
  ext/dba/libflatfile/flatfile.c
  ext/dba/libinifile/inifile.c
  ext/exif/exif.c
  ext/mysqli/mysqli_nonapi.c
  ext/mysqlnd/mysqlnd_ps.c
  ext/mysqlnd/mysqlnd_ps_codec.c
  ext/openssl/openssl.c
  ext/soap/php_encoding.c
Labels: Extension: openssl, Extension: bcmath, Extension: dba, Extension: exif, Extension: mysqli, Extension: mysqlnd, Extension: soap

#10389 Allow readonly properties to be reinitialized once during cloning
  Zend/tests/readonly_props/readonly_clone_error1.phpt
  Zend/tests/readonly_props/readonly_clone_error2.phpt
  Zend/tests/readonly_props/readonly_clone_error3.phpt
  Zend/tests/readonly_props/readonly_clone_success1.phpt
  Zend/tests/readonly_props/readonly_clone_success2.phpt
  Zend/tests/readonly_props/readonly_clone_success3.phpt
  Zend/tests/readonly_props/readonly_clone_success4.phpt
  Zend/tests/readonly_props/readonly_coercion_type_error.phpt
  Zend/zend_API.c
  Zend/zend_compile.h
  Zend/zend_enum.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_inheritance.c
  Zend/zend_object_handlers.c
  Zend/zend_objects.c
  Zend/zend_types.h
Labels: RFC, Category: Engine
