Repository php/php-src, pull requests merged in 2023-06, with the labels that each got.

#11352 Fix [-Wenum-int-mismatch] compiler warnings
  ext/bcmath/libbcmath/src/bcmath.h
  ext/ffi/ffi_parser.c
Labels: Extension: bcmath, Extension: ffi

#11356 Use zval_ptr_dtor_nogc() for callable in ext/xslt
  ext/xsl/xsltprocessor.c
Labels: Extension: xsl

#11330 Implement iteration cache, item cache and length cache for node list iteration
  NEWS
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/dom/documenttype.c
  ext/dom/dom_iterators.c
  ext/dom/element.c
  ext/dom/node.c
  ext/dom/nodelist.c
  ext/dom/parentnode.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/processinginstruction.c
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_simplexml.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_tree_walk.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_write_properties.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_xinclude.phpt
  ext/dom/tests/DOMDocument_item_cache_invalidation.phpt
  ext/dom/tests/DOMDocument_length_cache_invalidation.phpt
  ext/dom/tests/DOMDocument_liveness_caching_invalidation.phpt
  ext/dom/tests/DOMElement_getElementsByTagName_without_document.phpt
  ext/libxml/libxml.c
  ext/libxml/php_libxml.h
  ext/simplexml/simplexml.c
Labels: Extension: dom, Extension: libxml, Extension: simplexml

#11367 Struct-pack spl_dllist_object
  ext/spl/spl_dllist.c
Labels: Extension: spl

#11360 Some ext/simplexml cleanups
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#11361 Switch DOMNodeList::item() and DOMNamedNodeMap::item() to fast ZPP
  ext/dom/namednodemap.c
  ext/dom/nodelist.c
Labels: Extension: dom

#11371 Use uint32_t for the number of nodes
  UPGRADING.INTERNALS
  ext/dom/characterdata.c
  ext/dom/document.c
  ext/dom/documentfragment.c
  ext/dom/element.c
  ext/dom/parentnode.c
  ext/dom/php_dom.h
Labels: Extension: dom

#10544 Use common function for TypeError on illegal offset access
  Zend/tests/036.phpt
  Zend/tests/038.phpt
  Zend/tests/assign_dim_obj_null_return.phpt
  Zend/tests/bug24773.phpt
  Zend/tests/gh8821.phpt
  Zend/tests/illegal_offset_unset_isset_empty.phpt
  Zend/tests/init_array_illegal_offset_type.phpt
  Zend/tests/isset_array.phpt
  Zend/tests/offset_array.phpt
  Zend/zend.c
  Zend/zend.h
  Zend/zend_API.c
  Zend/zend_execute.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/tests/jit/assign_dim_002.phpt
  ext/spl/spl_array.c
  ext/spl/spl_fixedarray.c
  ext/spl/tests/ArrayObject_illegal_offset.phpt
  ext/spl/tests/fixedarray_001.phpt
  ext/spl/tests/fixedarray_002.phpt
  ext/spl/tests/fixedarray_003.phpt
  ext/standard/tests/array/array_key_exists_variation1.phpt
  ext/standard/tests/array/bug68553.phpt
  tests/classes/tostring_001.phpt
Labels: Category: Engine, Extension: opcache, Extension: spl, Extension: standard

#11393 Fix initial array size in `gc_status()`
  Zend/zend_builtin_functions.c
Labels: Category: Engine

#11394 Allow final modifier when using a method from a trait
  NEWS
  UPGRADING
  Zend/tests/traits/language019.phpt
  Zend/tests/traits/language020.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#11380 Keep consistent EG(current_execute_data) after return from generator
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#11381 More usage of known zend_str instead of C string
  Zend/zend_API.c
  Zend/zend_ast.c
  Zend/zend_attributes.c
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_constants.c
  Zend/zend_enum.c
  Zend/zend_interfaces.c
  ext/curl/interface.c
  ext/dom/node.c
  ext/ftp/ftp.c
  ext/iconv/iconv.c
  ext/ldap/ldap.c
  ext/opcache/jit/zend_jit.c
  ext/opcache/zend_persist.c
  ext/pdo_sqlite/sqlite_statement.c
  ext/pgsql/pgsql.c
  ext/reflection/php_reflection.c
  ext/session/session.c
  ext/simplexml/simplexml.c
  ext/soap/soap.c
  ext/sodium/libsodium.c
  ext/spl/spl_array.c
  ext/spl/spl_dllist.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
  ext/standard/array.c
  ext/standard/filestat.c
  ext/standard/proc_open.c
  ext/standard/type.c
  ext/xml/xml.c
  main/main.c
  sapi/cli/php_cli.c
  sapi/cli/php_cli_server.c
  sapi/fpm/fpm/fpm_conf.c
  sapi/phpdbg/phpdbg_frame.c
  sapi/phpdbg/phpdbg_prompt.c
  sapi/phpdbg/phpdbg_watch.c
Labels: SAPI: fpm, Category: Engine, Extension: curl, Extension: dom, Extension: ftp, Extension: iconv, Extension: ldap, Extension: opcache, Extension: pdo_sqlite, Extension: pgsql, Extension: reflection, Extension: session, Extension: simplexml, Extension: soap, Extension: sodium, Extension: spl, Extension: standard, Extension: xml, SAPI: cli, SAPI: phpdbg

#11415 ext/imap: Refactor + Update to modern property write API
  ext/imap/php_imap.c
Labels: Extension: imap

#10175 Expose zendi_try_get_long() function via a public API
  Zend/zend_operators.c
  Zend/zend_operators.h
Labels: Category: Engine

#10826 [RFC] Define proper semantics for range() function
  UPGRADING
  ext/standard/array.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/array/range/bug32021.phpt
  ext/standard/tests/array/range/range.phpt
  ext/standard/tests/array/range/range_bug70239_0.phpt
  ext/standard/tests/array/range/range_bug70239_1.phpt
  ext/standard/tests/array/range/range_bug70239_2.phpt
  ext/standard/tests/array/range/range_bug70239_3.phpt
  ext/standard/tests/array/range/range_errors.phpt
  ext/standard/tests/array/range/range_inputs_float_NAN_values.phpt
  ext/standard/tests/array/range/range_inputs_float_basic.phpt
  ext/standard/tests/array/range/range_inputs_float_small_step_exhaustion.phpt
  ext/standard/tests/array/range/range_inputs_int_basic.phpt
  ext/standard/tests/array/range/range_inputs_int_with_float_step.phpt
  ext/standard/tests/array/range/range_inputs_null_variations.phpt
  ext/standard/tests/array/range/range_inputs_numeric_basic.phpt
  ext/standard/tests/array/range/range_inputs_string_basic.phpt
  ext/standard/tests/array/range/range_inputs_string_digits.phpt
  ext/standard/tests/array/range/range_inputs_string_digits_float_step.phpt
  ext/standard/tests/array/range/range_inputs_string_invalid.phpt
  ext/standard/tests/array/range/range_inputs_string_numeric.phpt
  ext/standard/tests/array/range/range_inputs_string_variations.phpt
  ext/standard/tests/array/range/range_negative_step_decreasing_ranges.phpt
  ext/standard/tests/array/range/range_step_errors.phpt
  ext/standard/tests/array/range/range_variation.phpt
Labels: RFC, Extension: standard, Category: Arrays

#11479 SKIP_(SLOW|ONLINE)_TESTS
  ext/sockets/tests/socket_shutdown-win32.phpt
Labels: Extension: sockets

#11284 [RFC] Implement mb_str_pad()
  NEWS
  UPGRADING
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.stub.php
  ext/mbstring/mbstring_arginfo.h
  ext/mbstring/tests/mb_str_pad.phpt
Labels: RFC, Extension: mbstring

#11458 Fix assertion violation for invalid class const objects in const expressions
  Zend/tests/oss_fuzz_59764.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#11481 support running testsuite with negative niceness
  ext/standard/tests/general_functions/proc_nice_basic.phpt
Labels: Extension: standard

#11537 Fixed comment for SimpleXml function getName
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#11541 Two tiny ext/dom cleanups
  ext/dom/documentfragment.c
  ext/dom/php_dom.c
Labels: Extension: dom

#11554 Fix DBG_ENTER name typo
  ext/mysqlnd/mysqlnd_ext_plugin.c
  ext/mysqlnd/mysqlnd_ps.c
  ext/mysqlnd/mysqlnd_result_meta.c
Labels: Extension: mysqlnd

#9836 RFC: Add #[Override] attribute
  NEWS
  UPGRADING
  Zend/tests/attributes/override/001.phpt
  Zend/tests/attributes/override/002.phpt
  Zend/tests/attributes/override/003.phpt
  Zend/tests/attributes/override/004.phpt
  Zend/tests/attributes/override/005.phpt
  Zend/tests/attributes/override/006.phpt
  Zend/tests/attributes/override/007.phpt
  Zend/tests/attributes/override/008.phpt
  Zend/tests/attributes/override/009.phpt
  Zend/tests/attributes/override/010.phpt
  Zend/tests/attributes/override/011.phpt
  Zend/tests/attributes/override/012.phpt
  Zend/tests/attributes/override/013.phpt
  Zend/tests/attributes/override/014.phpt
  Zend/tests/attributes/override/015.phpt
  Zend/tests/attributes/override/016.phpt
  Zend/tests/attributes/override/017.phpt
  Zend/tests/attributes/override/018.phpt
  Zend/tests/attributes/override/019.phpt
  Zend/tests/attributes/override/020.phpt
  Zend/tests/attributes/override/021.phpt
  Zend/tests/attributes/override/022.phpt
  Zend/tests/attributes/override/023.phpt
  Zend/zend_attributes.c
  Zend/zend_attributes.h
  Zend/zend_attributes.stub.php
  Zend/zend_attributes_arginfo.h
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_inheritance.c
  Zend/zend_inheritance.h
Labels: RFC, Category: Engine
