Repository php/php-src, pull requests merged in 2023-12, with the labels that each got.

#12683 Fixing incorrect error message when passing null to join/implode's array parameter
  ext/standard/string.c
  ext/standard/tests/strings/implode_basic.phpt
  ext/standard/tests/strings/implode_error.phpt
  ext/standard/tests/strings/implode_variation.phpt
  ext/standard/tests/strings/join_error.phpt
  ext/standard/tests/strings/join_error1.phpt
Labels: Extension: standard

#12846 Remove ODBCRouter artifacts
  ext/pdo_odbc/config.m4
  ext/pdo_odbc/php_pdo_odbc_int.h
Labels: Category: Build System, Extension: pdo_odbc

#12839 Remove duplicated socket check
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#12793 [pdo] Fixed setAttribute and getAttribute
  NEWS
  UPGRADING
  ext/pdo/pdo_dbh.c
  ext/pdo_dblib/dblib_driver.c
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/tests/autocommit_change_mode.phpt
  ext/pdo_mysql/mysql_driver.c
  ext/pdo_mysql/tests/bug68371.phpt
  ext/pdo_mysql/tests/pdo_mysql___construct_options.phpt
  ext/pdo_mysql/tests/pdo_mysql_attr_autocommit.phpt
  ext/pdo_mysql/tests/pdo_mysql_attr_fetch_table_names.phpt
  ext/pdo_mysql/tests/pdo_mysql_begintransaction.phpt
  ext/pdo_mysql/tests/pdo_mysql_commit.phpt
  ext/pdo_mysql/tests/pdo_mysql_get_attribute.phpt
  ext/pdo_mysql/tests/pdo_mysql_rollback.phpt
  ext/pdo_odbc/odbc_driver.c
  ext/pdo_pgsql/tests/bug68371.phpt
Labels: Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql

#11927 Handle libxml2 OOM more consistently
  NEWS
  UPGRADING
  ext/dom/document.c
  ext/dom/domimplementation.c
  ext/dom/node.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/text.c
Labels: Extension: dom

#12869 Use ZSTR_IS_VALID_UTF8 where possible
  ext/mbstring/mbstring.c
  ext/pcre/php_pcre.c
Labels: Extension: mbstring, Extension: pcre

#12813 An attempt to fix GH-12596: Segmentation fault on AArch64 release build with opcache.jit=1112
  Zend/zend_vm_execute.h
  Zend/zend_vm_execute.skl
  Zend/zend_vm_gen.php
Labels: Category: Engine

#12877 Struct-pack stream-related data in ftpbuf
  ext/ftp/ftp.c
  ext/ftp/ftp.h
Labels: Extension: ftp

#12867 [sodium] Add AEGIS-128L and AEGIS-256
  NEWS
  UPGRADING
  ext/sodium/libsodium.c
  ext/sodium/libsodium.stub.php
  ext/sodium/libsodium_arginfo.h
  ext/sodium/tests/crypto_aead.phpt
Labels: Extension: sodium

#12815 Feature: Add transaction isolation level and mode settings to `pdo_firebird`
  NEWS
  UPGRADING
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/pdo_firebird.c
  ext/pdo_firebird/php_pdo_firebird_int.h
  ext/pdo_firebird/tests/transaction_access_mode.phpt
  ext/pdo_firebird/tests/transaction_isolation_level_attr.phpt
  ext/pdo_firebird/tests/transaction_isolation_level_behavior.phpt
Labels: Extension: pdo_firebird

#12891 ext/mbstring: move unsigned 32 bit integer tests to a new test
  ext/mbstring/tests/mb_decode_numericentity.phpt
  ext/mbstring/tests/mb_decode_numericentity_large_ints.phpt
  ext/mbstring/tests/mb_encode_numericentity.phpt
  ext/mbstring/tests/mb_encode_numericentity_large_ints.phpt
Labels: Extension: mbstring

#12862 zend_call_stack support proposal for solaris/illumos.
  Zend/zend_call_stack.c
  Zend/zend_call_stack.h
  configure.ac
Labels: Category: Build System, Category: Engine

#12779 Fix GH-12643: Stack limit tests failing on ppc64le
  Zend/tests/stack_limit/stack_limit_001.phpt
  Zend/tests/stack_limit/stack_limit_002.phpt
  Zend/tests/stack_limit/stack_limit_003.phpt
  Zend/tests/stack_limit/stack_limit_005.phpt
  Zend/tests/stack_limit/stack_limit_006.phpt
  Zend/tests/stack_limit/stack_limit_007.phpt
  Zend/tests/stack_limit/stack_limit_008.phpt
  Zend/tests/stack_limit/stack_limit_011.phpt
  Zend/tests/stack_limit/stack_limit_012.phpt
  Zend/tests/stack_limit/stack_limit_013.phpt
  Zend/zend_compile.c
  Zend/zend_execute.c
Labels: Category: Engine

#12920 Remove obsolete SVN files excluding when packaging phar
  ext/phar/Makefile.frag
Labels: Extension: phar

#12922 Sync ODBC version
  ext/odbc/config.m4
Labels: Category: Build System, Extension: odbc

#12923 Minor pcre optimizations
  UPGRADING.INTERNALS
  ext/fileinfo/libmagic/softmagic.c
  ext/imap/php_imap.c
  ext/pcre/php_pcre.c
  ext/pcre/php_pcre.h
  ext/spl/spl_iterators.c
Labels: Extension: fileinfo, Extension: imap, Extension: pcre, Extension: spl

#12935 More testing of mime_sniff and fix off-by-one causing trailing whitespace to not be always stripped
  ext/dom/tests/modern/html/encoding/HTMLDocument_createFromFile_http_header.phpt
  ext/libxml/mime_sniff.c
Labels: Extension: dom, Extension: libxml

#12946 Fix pcre out-of-bounds when using closing symbols as opening delimiter
  ext/pcre/php_pcre.c
  ext/pcre/tests/oss-fuzz-65021.phpt
Labels: Extension: pcre

#12933 Some more DOM testing and code style updates
  ext/dom/document.c
  ext/dom/tests/DOMDocument_recover_write.phpt
  ext/dom/tests/DOMDocument_version_write.phpt
Labels: Extension: dom

#12948 Use strcspn() to optimize dom_html5_escape_string()
  ext/dom/html5_serializer.c
Labels: Extension: dom

#12960 Change return type of registerNodeClass to true
  UPGRADING
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#12968 Use precomputed length for phpdbg_try_file_init()
  sapi/phpdbg/phpdbg_prompt.c
Labels: SAPI: phpdbg

#12257 Use a single version of mempcpy(3)
  Zend/zend_operators.h
  Zend/zend_virtual_cwd.c
  configure.ac
  ext/ffi/ffi.c
  ext/hash/hash_sha3.c
  ext/intl/converter/converter.c
  ext/mbstring/mbstring.c
  ext/mysqlnd/mysqlnd_wireprotocol.c
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/shared_alloc_win32.c
  ext/pcre/php_pcre.c
  ext/standard/crypt_sha256.c
  ext/standard/crypt_sha512.c
  ext/standard/file.c
  ext/standard/filters.c
  ext/standard/proc_open.c
  ext/standard/string.c
  ext/standard/var.c
  main/SAPI.c
  main/fastcgi.c
  sapi/fuzzer/fuzzer-sapi.c
  sapi/phpdbg/phpdbg_help.c
Labels: Category: Build System, Category: Engine, Extension: intl, Extension: ffi, Extension: hash, Extension: mbstring, Extension: mysqlnd, Extension: opcache, Extension: pcre, Extension: standard, SAPI: fuzzer, SAPI: phpdbg

#12757 [pdo_firebird] Added `pdo_firebird_check_liveness`
  UPGRADING
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/tests/persistent_connect.phpt
Labels: Extension: pdo_firebird

#12983 Fix bug in mb_get_substr_slow (sometimes outputs wrong number of characters)
  ext/mbstring/mbstring.c
  ext/mbstring/tests/mb_substr.phpt
Labels: Extension: mbstring

#12056 RFC: Add 4 new rounding modes to round() function
  NEWS
  UPGRADING
  ext/intl/formatter/formatter.stub.php
  ext/intl/formatter/formatter_arginfo.h
  ext/intl/tests/formatter/rounding_modes.phpt
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/math.c
  ext/standard/php_math.h
  ext/standard/tests/math/round_modes.phpt
  ext/standard/tests/math/round_modes_ceiling_and_floor.phpt
  ext/standard/tests/math/round_modes_zeros.phpt
Labels: RFC, Extension: intl, Extension: standard

#12998 macOs CI update.
  .github/workflows/nightly.yml
  .github/workflows/push.yml
  ext/pcre/pcre2lib/sljit/sljitExecAllocator.c
  sapi/fpm/fpm/events/kqueue.c
Labels: SAPI: fpm, Extension: pcre, Category: CI

#13003 Add test for openssl_csr_new multi dn entry
  ext/openssl/tests/openssl_csr_new_array_dn_entry.phpt
Labels: Extension: openssl

#13005 Improve pow function tests
  ext/standard/tests/math/pow_variation1.phpt
  ext/standard/tests/math/pow_variation1_64bit.phpt
  ext/standard/tests/math/pow_variation2.phpt
Labels: Extension: standard

#13042 Check host_alias on one place
  TSRM/threads.m4
  build/php.m4
Labels: Category: Build System

#13034 Remove unused SIZEOF_SHORT
  build/php.m4
  win32/build/config.w32.h.in
Labels: Category: Build System

#13049 Remove obsolete UNIX System V 4.0
  sapi/cgi/config9.m4
Labels: Category: Build System, SAPI: cgi
