Repository php/php-src, pull requests merged in 2023-01, with the labels that each got.

#10127 Better document constructors
  build/gen_stub.php
Labels: Category: Build System

#10205 ext/opcache/zend_shared_alloc: add assertions on "locked" flag
  ext/opcache/zend_shared_alloc.c
Labels: Extension: opcache

#10216 #include cleanup
  Zend/zend_alloc.c
  Zend/zend_alloc.h
  Zend/zend_hash.c
  Zend/zend_hash.h
  Zend/zend_portability.h
  Zend/zend_sort.c
  Zend/zend_sort.h
  Zend/zend_string.c
  Zend/zend_string.h
Labels: Category: Engine

#10111 Enforce literals in certain macros
  Zend/zend_string.h
Labels: Category: Engine

#10243 follow-up on GH-10238.
  ext/posix/posix.c
Labels: Extension: posix

#10247 random: Fix check before closing `random_fd`
  NEWS
  ext/random/random.c
Labels: Extension: random

#10256 Remove unnecessary NULL-checks on ctx
  ext/gd/gd.c
Labels: Extension: gd

#10185 random: Randomizer::getFloat(): Fix check for empty open intervals
  ext/random/gammasection.c
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/methods/getFloat_error.phpt
Labels: Extension: random

#10255 posix_pathconf throwing ValueError on empty path
  ext/posix/posix.c
  ext/posix/tests/posix_pathconf.phpt
Labels: Extension: posix

#10246 random: Rely on `free(NULL)` being safe for random status freeing
  ext/random/random.c
Labels: Extension: random

#10214 unserialize: Strictly check for `:{` at object start
  NEWS
  UPGRADING
  ext/gmp/tests/bug74670.phpt
  ext/spl/tests/bug73029.phpt
  ext/standard/tests/serialize/bug73341.phpt
  ext/standard/tests/serialize/bug74111.phpt
  ext/standard/tests/serialize/serialization_objects_017.phpt
  ext/standard/tests/serialize/serialization_objects_018.phpt
  ext/standard/var_unserializer.re
Labels: Extension: gmp, Extension: spl, Extension: standard

#10276 ext/opcache: use C11 atomics for "restart_in"
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
  ext/opcache/config.m4
Labels: Extension: opcache

#10242 Reduce HT_MAX_SIZE to account for the max load factor of 0.5
  Zend/zend_hash.c
  Zend/zend_types.h
Labels: Category: Engine

#10304 build/php.m4: remove test for integer types
  UPGRADING.INTERNALS
  Zend/zend_strtod_int.h
  build/php.m4
  ext/date/lib/timelib.h
  ext/mysqlnd/config-win.h
Labels: Category: Build System, Category: Engine, Extension: date, Extension: mysqlnd

#10244 zend_hash_check_size: allow nSize <= HT_MAX_SIZE
  Zend/zend_hash.c
Labels: Waiting on Review, Category: Engine

#9931 Fix run-tests.php hanging when a worker process dies without notice
  run-tests.php
Labels: Waiting on Review

#10044 intl extension couple of micro optimisations for error edge cases.
  ext/intl/breakiterator/breakiterator_methods.cpp
  ext/intl/calendar/calendar_class.cpp
  ext/intl/calendar/calendar_methods.cpp
  ext/intl/calendar/gregoriancalendar_methods.cpp
  ext/intl/dateformat/dateformat_attrcpp.cpp
  ext/intl/dateformat/dateformat_format_object.cpp
  ext/intl/intl_convertcpp.cpp
  ext/intl/msgformat/msgformat_helpers.cpp
  ext/intl/timezone/timezone_class.cpp
  ext/intl/timezone/timezone_methods.cpp
Labels: Extension: intl

#10149 Make array_pad's $length warning less confusing
  ext/standard/array.c
  ext/standard/tests/array/array_pad.phpt
  ext/standard/tests/array/array_pad_too_large_padding.phpt
Labels: Extension: standard

#10310 Fix missing PHP_ prefix in HAVE_ macro
  Zend/zend_call_stack.h
Labels: Category: Engine

#10322 Remove useless check, search_str is always true here
  ext/standard/string.c
Labels: Extension: standard

#10325 Mark constant static arrays in function bodies actually as const
  Zend/zend_strtod.c
  ext/hash/hash_snefru.c
  ext/iconv/iconv.c
Labels: Category: Engine, Extension: hash, Extension: iconv

#10333 Remove dead cleanup code
  ext/standard/filters.c
Labels: Extension: standard

#10321 Remove main() from mysqli warning
  ext/mysqli/mysqli_result_iterator.c
  ext/mysqli/tests/mysqli_query_iterators.phpt
Labels: Extension: mysqli

#10320 MYSQL_ATTR_USE_BUFFERED_QUERY is a bool attribute
  ext/pdo_mysql/mysql_driver.c
  ext/pdo_mysql/tests/bug68371.phpt
  ext/pdo_mysql/tests/pdo_mysql___construct_options.phpt
Labels: Extension: pdo_mysql

#10330 Add some const qualifiers and better return types to zend_object_handlers.h
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
Labels: Category: Engine

#10355 Remove mysqlnd_shutdown()
  UPGRADING.INTERNALS
  ext/mysqlnd/mysqlnd.h
  ext/mysqlnd/mysqlnd_commands.c
  ext/mysqlnd/mysqlnd_connection.c
  ext/mysqlnd/mysqlnd_structs.h
Labels: Extension: mysqlnd

#10354 Remove pcre_get_compiled_regex_ex()
  UPGRADING.INTERNALS
  ext/pcre/php_pcre.c
  ext/pcre/php_pcre.h
Labels: Extension: pcre

#10361 Customize the link of some constants in the manual
  ext/ffi/ffi.stub.php
  ext/ffi/ffi_arginfo.h
  ext/snmp/snmp.stub.php
  ext/snmp/snmp_arginfo.h
  ext/sqlite3/sqlite3.stub.php
  ext/sqlite3/sqlite3_arginfo.h
  ext/zip/php_zip.stub.php
  ext/zip/php_zip_arginfo.h
Labels: Stubs, Extension: ffi, Extension: snmp, Extension: sqlite3, Extension: zip

#10374 Update year to 2023
  LICENSE
  ext/oci8/LICENSE
  ext/phar/phar.1.in
  sapi/cli/php.1.in
  sapi/fpm/php-fpm.8.in
  sapi/phpdbg/phpdbg.1.in
  scripts/man1/php-config.1.in
  scripts/man1/phpize.1.in
Labels: Quickfix, Category: Build System, SAPI: fpm, Extension: oci8, Extension: phar, SAPI: cli, SAPI: phpdbg

#10339 Revert "ext/opcache: use C11 atomics for "restart_in" (#10276)"
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
  ext/opcache/config.m4
Labels: Extension: opcache

#10380 Fix GH-10292 make the default value of the first parame of srand() and mt_srand() nullable
  NEWS
  UPGRADING
  ext/random/random.c
  ext/random/random.stub.php
  ext/random/random_arginfo.h
Labels: Extension: random

#10420 Remove unbalanced parentheses in an error message
  ext/standard/link.c
  ext/standard/tests/file/readlink_realpath_error-win32.phpt
  ext/standard/tests/file/readlink_realpath_variation2-win32.phpt
  ext/standard/tests/file/rename_variation7-win32.phpt
Labels: Extension: standard

#10408 Make stripslashes() only dependent on SSE2 configuration.
  ext/standard/string.c
Labels: Extension: standard

#10394 session: Remove PS_EXTRA_RAND_BYTES
  ext/session/session.c
Labels: Extension: session

#10303 Make globals const
  Zend/zend_signal.c
  ext/dba/dba.c
  ext/dba/php_dba.h
  ext/exif/exif.c
  ext/intl/grapheme/grapheme_string.c
  ext/mbstring/gen_rare_cp_bitvec.php
  ext/mbstring/rare_cp_bitvec.h
  ext/opcache/shared_alloc_mmap.c
  ext/opcache/shared_alloc_posix.c
  ext/opcache/shared_alloc_shm.c
  ext/opcache/shared_alloc_win32.c
  ext/opcache/zend_accelerator_hash.c
  ext/opcache/zend_shared_alloc.h
  ext/snmp/snmp.c
Labels: Category: Engine, Extension: intl, Extension: dba, Extension: exif, Extension: mbstring, Extension: opcache, Extension: snmp

#10390 random: Do not trust arc4random_buf() on glibc
  NEWS
  ext/random/random.c
Labels: Extension: random

#10392 random: Simplify control flow for handling /dev/urandom errors
  ext/random/random.c
Labels: Extension: random

#10393 password: Use `php_random_bytes_throw` in `php_password_make_salt`
  NEWS
  UPGRADING
  ext/standard/password.c
Labels: Extension: standard

#10403 Fix incorrect bitshifting and masking in ffi bitfield
  ext/ffi/ffi.c
  ext/ffi/tests/gh10403.phpt
Labels: Extension: ffi

#10425 Fix incorrect check condition in type inference
  Zend/Optimizer/zend_inference.c
Labels: Category: Optimizer

#10418 Fix GH-10259 ReflectionClass::getStaticProperties doesn't need null return type
  NEWS
  UPGRADING
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionClass_toString_001.phpt
Labels: Stubs, Extension: reflection

#10426 random: Reduce variable scopes in CSPRNG
  ext/random/random.c
Labels: Extension: random

#8922 gnu compilers remove hot attribute proposal.
  Zend/zend_portability.h
Labels: Waiting on Review, Category: Engine

#10449 random: Fix off-by-one in fast path selection of Randomizer::getBytesFromString()
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/methods/getBytesFromString_fast_path.phpt
  ext/random/tests/engines.inc
Labels: Extension: random

#10386 Handle non-INDIRECT symbol table entries in zend_fiber_object_gc()
  Zend/tests/fibers/gh10340-001.phpt
  Zend/tests/fibers/gh10340-002.phpt
  Zend/tests/fibers/gh10340-003.phpt
  Zend/zend_fibers.c
Labels: Category: Engine

#10462 Prevent dtor of generator in suspended fiber
  Zend/tests/gh9916-001.phpt
  Zend/tests/gh9916-002.phpt
  Zend/tests/gh9916-003.phpt
  Zend/tests/gh9916-004.phpt
  Zend/tests/gh9916-005.phpt
  Zend/tests/gh9916-006.phpt
  Zend/tests/gh9916-007.phpt
  Zend/tests/gh9916-008.phpt
  Zend/tests/gh9916-009.phpt
  Zend/tests/gh9916-010.phpt
  Zend/tests/gh9916-011.phpt
  Zend/zend_generators.c
  Zend/zend_generators.h
Labels: Category: Engine

#10456 Fix overflow check in OnUpdateMemoryConsumption
  ext/opcache/zend_accelerator_module.c
Labels: Bug, Quickfix, Extension: opcache

#10405 Fix missing zend_shared_alloc_unlock()
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#10443 Fix GH-10437: Set active fiber to null on bailout
  NEWS
  Zend/tests/fibers/gh10437.phpt
  Zend/zend_fibers.c
Labels: Category: Fibers
