Repository php/php-src, pull requests merged in 2023-11, with the labels that each got.

#12583 Split strtr zpp
  ext/standard/string.c
  ext/standard/tests/strings/strtr_variation6.phpt
  ext/standard/tests/strings/strtr_variation8.phpt
Labels: Extension: standard

#12586 Add deprecation notice when enabling mhash
  ext/hash/config.m4
  ext/hash/config.w32
Labels: Category: Build System, Extension: hash

#12591 Fixed HASH/PACKED array inference through MAY_BE_ARRAY_EMPTY flag
  Zend/Optimizer/ssa_integrity.c
  Zend/Optimizer/zend_dump.c
  Zend/Optimizer/zend_func_info.c
  Zend/Optimizer/zend_inference.c
  Zend/Optimizer/zend_inference.h
  Zend/zend_type_info.h
  ext/opcache/tests/jit/gh12527.phpt
Labels: Category: Engine, Extension: opcache, Category: Optimizer

#12306 Fix GH-12296: [odbc] [pdo_odbc] Optimized odbc connection string creating
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/tests/odbc_connect_001.phpt
  ext/pdo_odbc/odbc_driver.c
  ext/pdo_odbc/tests/basic_connection.phpt
Labels: Extension: odbc, Extension: pdo_odbc

#12594 Optimize strcspn
  UPGRADING
  ext/standard/string.c
  ext/standard/tests/strings/bug39032.phpt
  ext/standard/tests/strings/strcspn_variation10.phpt
  ext/standard/tests/strings/strcspn_variation11.phpt
  ext/standard/tests/strings/strcspn_variation12.phpt
  ext/standard/tests/strings/strcspn_variation6.phpt
Labels: Extension: standard

#12607 Clean header checks
  configure.ac
  ext/sockets/config.m4
Labels: Category: Build System, Extension: sockets

#12606 Fix check for sigsetjmp
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#12610 Cleanup arguments of _php_dom_insert_fragment()
  ext/dom/node.c
Labels: Extension: dom

#12612 Use GitHub issue tracker link for reporting bugs
  sapi/fpm/fpm/fpm_events.c
  sapi/phpdbg/phpdbg.h
Labels: SAPI: fpm, SAPI: phpdbg

#12611 Remove check for dnet_addr in dnet_stub library
  ext/pdo_dblib/config.m4
Labels: Category: Build System, Extension: pdo_dblib

#12615 [Tests] Avoid memory leak bug with msodbcsql
  ext/odbc/tests/odbc_connect_001.phpt
  ext/pdo_odbc/tests/basic_connection.phpt
Labels: Extension: odbc, Extension: pdo_odbc

#12651 Improve browscap get_browser performance
  UPGRADING
  ext/standard/browscap.c
Labels: Extension: standard

#12650 zend: introducing ZEND_ELEMENT_COUNT for struct's dynamic arrays.
  Zend/Optimizer/zend_call_graph.h
  Zend/zend.h
  Zend/zend_ast.h
  Zend/zend_attributes.h
  Zend/zend_portability.h
  Zend/zend_types.h
  ext/ffi/ffi.c
  ext/fileinfo/libmagic/cdf.h
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_ir.c
  sapi/fpm/fpm/fpm_scoreboard.h
  sapi/phpdbg/phpdbg_list.h
Labels: SAPI: fpm, Category: Engine, Extension: ffi, Extension: fileinfo, Extension: opcache, SAPI: phpdbg, Category: Optimizer

#12671 Fix building ext/dom in directory other than src
  ext/dom/config.m4
Labels: Category: Build System, Extension: dom

#12519 Improve JIT config in fuzzer SAPI
  sapi/fuzzer/fuzzer-function-jit.c
  sapi/fuzzer/fuzzer-tracing-jit.c
Labels: SAPI: fuzzer

#12674 Intercept strlcpy and strlcat for msan on Clang 17
  Zend/zend_string.c
Labels: Category: Engine

#11860 Refactor pcntl_sigprocmask()/pcntl_sigwaitinfo()/pcntl_sigtimedwait()
  UPGRADING
  ext/pcntl/pcntl.c
  ext/pcntl/tests/002.phpt
  ext/pcntl/tests/003.phpt
  ext/pcntl/tests/pcntl_alarm.phpt
  ext/pcntl/tests/pcntl_sigprocmask_errors.phpt
  ext/pcntl/tests/pcntl_sigtimedwait_errors.phpt
  ext/pcntl/tests/pcntl_sigwaitinfo_errors.phpt
Labels: Extension: pcntl

#12687 JIT/AArch64: Fix an undefined symbol issue
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#12699 Enable `pdo-firebird` nightly testing
  .github/workflows/nightly.yml
  ext/pdo_firebird/firebird_statement.c
  ext/pdo_firebird/tests/bug_47415.phpt
  ext/pdo_firebird/tests/bug_48877.phpt
  ext/pdo_firebird/tests/bug_53280.phpt
  ext/pdo_firebird/tests/bug_62024.phpt
  ext/pdo_firebird/tests/bug_64037.phpt
  ext/pdo_firebird/tests/bug_72583.phpt
  ext/pdo_firebird/tests/bug_72931.phpt
  ext/pdo_firebird/tests/bug_73087.phpt
  ext/pdo_firebird/tests/bug_74462.phpt
  ext/pdo_firebird/tests/bug_76448.phpt
  ext/pdo_firebird/tests/bug_76449.phpt
  ext/pdo_firebird/tests/bug_76450.phpt
  ext/pdo_firebird/tests/bug_76452.phpt
  ext/pdo_firebird/tests/bug_76488.phpt
  ext/pdo_firebird/tests/bug_77863.phpt
  ext/pdo_firebird/tests/bug_80521.phpt
  ext/pdo_firebird/tests/bug_aaa.phpt
  ext/pdo_firebird/tests/common.phpt
  ext/pdo_firebird/tests/connect.phpt
  ext/pdo_firebird/tests/ddl.phpt
  ext/pdo_firebird/tests/dialect_1.phpt
  ext/pdo_firebird/tests/execute.phpt
  ext/pdo_firebird/tests/execute_block.phpt
  ext/pdo_firebird/tests/gh10908.phpt
  ext/pdo_firebird/tests/gh8576.phpt
  ext/pdo_firebird/tests/ignore_parammarks.phpt
  ext/pdo_firebird/tests/payload_test.phpt
  ext/pdo_firebird/tests/rowCount.phpt
Labels: Extension: pdo_firebird

#12700 inet_ntop requirement check at configure time instead
  Zend/Optimizer/zend_func_infos.h
  configure.ac
  ext/ftp/ftp.c
  ext/snmp/snmp.c
  ext/sockets/sockets.c
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/dns.c
  ext/standard/net.c
  main/network.c
Labels: Category: Build System, Extension: ftp, Extension: snmp, Extension: sockets, Extension: standard, Category: Optimizer

#12707 Improve performance of mbfl_name2encoding() by using perfect hashing
  UPGRADING
  ext/mbstring/libmbfl/mbfl/mbfl_encoding.c
Labels: Extension: mbstring

#12711 Remove unused PDO_MYSQL_MODULE_TYPE variable
  ext/pdo_mysql/config.m4
Labels: Category: Build System, Extension: pdo_mysql

#12713 Remove obsolete DG/UX check
  configure.ac
Labels: Category: Build System

#12710 Clean duplicate headers check
  configure.ac
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#12714 Avoid temporary string allocations in php_mb_parse_encoding_list()
  ext/mbstring/libmbfl/mbfl/mbfl_encoding.c
  ext/mbstring/libmbfl/mbfl/mbfl_encoding.h
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

#12712 Use binary search for cp932ext*_ucs_table lookups
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/unicode_table_cp932_ext.h
Labels: Extension: mbstring

#12719 Remove obsolescent AC_TYPE_SIZE_T
  configure.ac
Labels: Category: Build System

#12720 Make the return type of some stream context related functions true
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/streamsfuncs.c
  ext/standard/tests/streams/stream_context_create_error.phpt
Labels: Extension: standard

#12738 Remove redundant PHP_SUBST_OLD(INCLUDE_PATH)
  configure.ac
Labels: Category: Build System

#12737 Remove obsolete IRIX checks
  TSRM/threads.m4
  ext/odbc/config.m4
  sapi/cgi/config9.m4
Labels: Category: Build System, Extension: odbc, SAPI: cgi

#12746 Remove unused build variables
  configure.ac
  scripts/phpize.m4
Labels: Category: Build System

#12709 Sync YFLAGS in scripts/dev/genfiles with PHP_PROG_BISON macro defaults
  Zend/Makefile.frag
  scripts/dev/genfiles
Labels: Category: Build System, Category: Engine

#12760 Remove unused PHP_COMPILE and CXX_PHP_COMPILE variables
  configure.ac
Labels: Category: Build System

#12766 Fix date createFromTimestamp test
  ext/date/tests/createFromTimestamp.phpt
Labels: Extension: date

#12786 Remove unused gcov artifacts
  .gitignore
  build/Makefile.gcov
  configure.ac
Labels: Category: Build System

#12741 Feature: [pdo_firebird] Transaction management optimization
  ext/pdo/tests/pdo_017.phpt
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/firebird_statement.c
  ext/pdo_firebird/php_pdo_firebird_int.h
  ext/pdo_firebird/tests/autocommit.phpt
  ext/pdo_firebird/tests/autocommit_change_mode.phpt
  ext/pdo_firebird/tests/bug_47415.phpt
  ext/pdo_firebird/tests/bug_48877.phpt
  ext/pdo_firebird/tests/bug_53280.phpt
  ext/pdo_firebird/tests/bug_62024.phpt
  ext/pdo_firebird/tests/bug_64037.phpt
  ext/pdo_firebird/tests/ddl2.phpt
  ext/pdo_firebird/tests/payload_test.phpt
  ext/pdo_firebird/tests/rowCount.phpt
Labels: Extension: pdo (core), Extension: pdo_firebird

#12799 Align error messages between normal VM and JIT for RW when using object as array
  Zend/zend_execute.c
Labels: Category: Engine

#12817 Fixed GH-12812: Integer string in variable used as offset produces wrong undefined array key warning
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_disasm.c
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh12812.phpt
Labels: Extension: opcache

#12803 Optimizations for mb_trim
  ext/mbstring/mbstring.c
  ext/mbstring/tests/mb_trim.phpt
Labels: Extension: mbstring

#12808 Use size_t for string lengths in ext/xml compat layer
  ext/xml/compat.c
Labels: Extension: xml

#12820 Fixed GH-8251: Narrowing occurred during type inference of ZEND_FETCH_DIM_W
  Zend/Optimizer/zend_inference.c
  ext/opcache/tests/opt/inference_023.phpt
Labels: Extension: opcache, Category: Optimizer

#12806 Enhance moving PHP code pages into huge pages
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#12830 Optimize size of ext/dom
  ext/dom/lexbor/lexbor/core/sbst.h
  ext/dom/lexbor/lexbor/html/tokenizer/res.h
  ext/dom/lexbor/lexbor/html/tokenizer/state.c
  ext/dom/lexbor/lexbor/tag/res.h
  ext/dom/lexbor/lexbor/tag/tag.c
  ext/dom/lexbor/patches/README.md
Labels: Extension: dom
