Repository php/php-src, pull requests merged in 2023-08, with the labels that each got.

#11852 ext/zend_test: Move object handler test objects to their own file
  ext/zend_test/config.m4
  ext/zend_test/config.w32
  ext/zend_test/object_handlers.c
  ext/zend_test/object_handlers.h
  ext/zend_test/object_handlers.stub.php
  ext/zend_test/object_handlers_arginfo.h
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Extension: zend_test

#11856 Add block size support for tracked_malloc
  Zend/zend_alloc.c
Labels: Category: Engine

#11825 Add typed specialization for ZEND_COUNT
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_handlers.h
Labels: Category: Engine

#11872 Improve database naming in `ext/pdo_pgsql` for better para-tests
  ext/pdo_pgsql/tests/bug46274.phpt
  ext/pdo_pgsql/tests/bug46274_2.phpt
  ext/pdo_pgsql/tests/bug70861.phpt
  ext/pdo_pgsql/tests/bug72633.phpt
  ext/pdo_pgsql/tests/bug_33876.phpt
  ext/pdo_pgsql/tests/bug_49985.phpt
  ext/pdo_pgsql/tests/copy_from.phpt
  ext/pdo_pgsql/tests/copy_to.phpt
  ext/pdo_pgsql/tests/is_in_transaction.phpt
  ext/pdo_pgsql/tests/large_objects.phpt
Labels: Extension: pdo_pgsql

#11862 ext/calendar: Allow easter_date to process years after 2037 on 64bit systems
  UPGRADING
  ext/calendar/easter.c
  ext/calendar/tests/easter_date_32bit.phpt
  ext/calendar/tests/easter_date_64bit.phpt
  ext/calendar/tests/easter_date_checks_upper_bound_32bit.phpt
  ext/calendar/tests/easter_date_checks_upper_bound_64bit.phpt
Labels: Extension: calendar

#11855 Improve `ext/pdo_pgsql` tests cleanup
  ext/pdo_pgsql/tests/bug46274.phpt
  ext/pdo_pgsql/tests/bug46274_2.phpt
  ext/pdo_pgsql/tests/bug66584.phpt
  ext/pdo_pgsql/tests/bug67462.phpt
  ext/pdo_pgsql/tests/bug70861.phpt
  ext/pdo_pgsql/tests/bug72633.phpt
  ext/pdo_pgsql/tests/bug75402.phpt
  ext/pdo_pgsql/tests/bug_33876.phpt
  ext/pdo_pgsql/tests/bug_49985.phpt
  ext/pdo_pgsql/tests/copy_from.phpt
  ext/pdo_pgsql/tests/copy_to.phpt
  ext/pdo_pgsql/tests/is_in_transaction.phpt
  ext/pdo_pgsql/tests/large_objects.phpt
Labels: Extension: pdo_pgsql

#11889 Make DOMChildNode::remove() run in O(1) performance
  UPGRADING
  ext/dom/parentnode.c
Labels: Extension: dom

#11893 Remove useless hashmap check
  ext/libxml/libxml.c
Labels: Extension: libxml

#11877 Remove unused HAVE_GCC_GLOBAL_REGS shell variable
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#11900 Improve `ext/pdo_sqlite` tests cleanup
  ext/pdo_sqlite/tests/bug33841.phpt
  ext/pdo_sqlite/tests/bug35336.phpt
  ext/pdo_sqlite/tests/bug38334.phpt
  ext/pdo_sqlite/tests/bug70862.phpt
  ext/pdo_sqlite/tests/bug_42589.phpt
  ext/pdo_sqlite/tests/pdo_035.phpt
  ext/pdo_sqlite/tests/pdo_fetch_func_001.phpt
  ext/pdo_sqlite/tests/pdo_sqlite_empty_filename.phpt
  ext/pdo_sqlite/tests/pdo_sqlite_filename_uri.phpt
  ext/pdo_sqlite/tests/pdo_sqlite_open_basedir.phpt
  ext/pdo_sqlite/tests/pdo_sqlite_open_flags.phpt
  ext/pdo_sqlite/tests/pdo_sqlite_statement_getattribute.phpt
Labels: Extension: pdo_sqlite

#11909 Make the $enable parameter of odbc_autocommit() nullable
  UPGRADING
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/tests/odbc_autocommit_001.phpt
Labels: Extension: odbc

#11911 Move opnum_start for goto for clarification
  Zend/zend_compile.c
Labels: Category: Engine

#11896 BCmath extension code reformatting
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/compare.c
  ext/bcmath/libbcmath/src/debug.c
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/divmod.c
  ext/bcmath/libbcmath/src/doaddsub.c
  ext/bcmath/libbcmath/src/init.c
  ext/bcmath/libbcmath/src/int2num.c
  ext/bcmath/libbcmath/src/nearzero.c
  ext/bcmath/libbcmath/src/num2long.c
  ext/bcmath/libbcmath/src/num2str.c
  ext/bcmath/libbcmath/src/output.c
  ext/bcmath/libbcmath/src/raise.c
  ext/bcmath/libbcmath/src/raisemod.c
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/libbcmath/src/rmzero.c
  ext/bcmath/libbcmath/src/sqrt.c
  ext/bcmath/libbcmath/src/str2num.c
  ext/bcmath/libbcmath/src/sub.c
  ext/bcmath/libbcmath/src/zero.c
Labels: Extension: bcmath

#11955 Use zend_ast_size consistenly
  Zend/zend_ast.h
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
Labels: Category: Engine, Extension: opcache

#11965 GH-11964: In ext/date/php_date.stub.php, DateRangeError extends itself
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
Labels: Extension: date

#11970 Fix DateTime exception hierarchy for DateInvalidTimeZoneException
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
Labels: Extension: date

#11948 mysqli_field_seek return type changed to true
  UPGRADING
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
Labels: Extension: mysqli

#11973 Fix various bugs related to DNF types
  NEWS
  Zend/tests/type_declarations/dnf_types/variance/invalid_invariance1_var.phpt
  Zend/tests/type_declarations/union_types/internal_trait_use_typed_union.phpt
  Zend/zend_inheritance.c
  Zend/zend_opcode.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Engine, Extension: zend_test

#11983 Add test for SimpleXMLElement::asXML() with a fragment and a filename
  ext/simplexml/tests/SimpleXMLElement_asXML_fragment_filename.phpt
Labels: Extension: simplexml

#11969 adds support for DNF types in internal functions and properties
  Zend/tests/type_declarations/typed_properties_095.phpt
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_types.h
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/internal_dnf_arguments.phpt
Labels: Category: Engine, Extension: zend_test

#12004 gen_stub: fix regexps with unintentional range due to `-` character placement
  build/gen_stub.php
Labels: Category: Build System

#11826 Add class constant types to Phar extension
  UPGRADING
  ext/phar/phar_object.stub.php
  ext/phar/phar_object_arginfo.h
Labels: Extension: phar

#12006 Sync --enable-mysqlnd-compression-support option
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: mysqlnd

#12013 Fix configure phpdbg help output
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#12015 Use a single version of strnlen
  Zend/zend_compile.c
  Zend/zend_operators.h
  ext/exif/exif.c
  ext/phar/tar.c
  main/spprintf.c
Labels: Category: Engine, Extension: exif, Extension: phar

#12018 [skip ci] Mark test as XFAIL due to LSAN bug on Clang 14
  sapi/cli/tests/ext_loading.phpt
Labels: SAPI: cli

#12026 Update DOM test to work around libxml2 bug
  ext/dom/tests/DOMDocument_saveXML_XML_SAVE_NO_DECL.phpt
Labels: Extension: dom

#11996 Tests improvement for round() modes
  ext/standard/tests/math/round_modes.phpt
Labels: Extension: standard

#11980 releases property attributes of internal classes
  Zend/zend_opcode.c
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/attribute-internal-property.phpt
Labels: Category: Engine, Extension: zend_test

#12049 Fix round() tests for different modes
  ext/standard/tests/math/round_modes.phpt
Labels: Extension: standard

#12054 libxml set error structure simplification proposal
  ext/libxml/libxml.c
Labels: Extension: libxml

#12051 zend_call_stack_default_size update BSD values.
  Zend/zend_call_stack.h
Labels: Category: Engine

#11764 FPM tester FastCGI client transport
  sapi/fpm/tests/fcgi.inc
  sapi/fpm/tests/tester.inc
Labels: SAPI: fpm

#12068 Expand file path in file stat only for wrapper path
  ext/standard/filestat.c
Labels: Extension: standard

#12078 Prepare for PHP 8.4
  CONTRIBUTING.md
  UPGRADING
  UPGRADING.INTERNALS
  Zend/zend_extensions.h
  Zend/zend_modules.h
  main/php.h
  win32/build/confutils.js
Labels: Category: Build System, Category: Engine

#12085 Use version of PHP SDK binary tools that uses PHP downloads
  .github/workflows/push.yml
Labels: Category: CI
