Repository php/php-src, pull requests merged in 2023-03, with the labels that each got.

#10738 Temporarily disable failing zlib tests on travis
  ext/zlib/tests/gzcompress_basic1.phpt
  ext/zlib/tests/gzdeflate_basic1.phpt
  ext/zlib/tests/gzencode_basic1.phpt
Labels: Extension: zlib

#10734 Use zend_result in ext/spl where appropriate
  UPGRADING.INTERNALS
  ext/spl/spl_heap.c
  ext/spl/spl_iterators.c
  ext/spl/spl_iterators.h
Labels: Extension: spl

#10757 Do not allow sideeffects when readonly property modification fails
  Zend/tests/readonly_props/readonly_assign_no_sideeffect.phpt
  Zend/zend_execute.c
  Zend/zend_object_handlers.c
Labels: Category: Engine

#10763 random: Convert `php_random_(bytes|int)_(silent|throw)` into inline functions
  ext/random/php_random.h
Labels: Extension: random

#10789 Ignore -Warray-bounds compiler warning in JIT
  ext/opcache/jit/dynasm/dasm_x86.h
Labels: Extension: opcache

#10786 Fix gcc warnings in zend_API.c with --disable-debug
  Zend/zend_API.c
Labels: Category: Engine

#10764 random: Add missing `php.h` include to php_random.h
  ext/random/php_random.h
Labels: Extension: random

#10161 Saner array_(sum|product)()
  UPGRADING.INTERNALS
  Zend/zend_operators.h
  ext/standard/array.c
  ext/standard/tests/array/003.phpt
  ext/standard/tests/array/array_product_empty_array.phpt
  ext/standard/tests/array/array_product_objects_operation_no_cast.phpt
  ext/standard/tests/array/array_product_variation1.phpt
  ext/standard/tests/array/array_product_variation5.phpt
  ext/standard/tests/array/array_product_variation6.phpt
  ext/standard/tests/array/array_sum_empty_array.phpt
  ext/standard/tests/array/array_sum_objects_operation_no_cast.phpt
  ext/standard/tests/array/array_sum_objects_operation_no_cast_FFI.phpt
  ext/standard/tests/array/array_sum_variation7.phpt
  ext/standard/tests/array/array_sum_variation8.phpt
  ext/standard/tests/array/array_sum_variation9.phpt
  ext/standard/tests/array/bug35014.phpt
  ext/standard/tests/array/bug35014_64bit.phpt
  ext/standard/tests/array/bug48484.phpt
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/do_operation_not_cast.phpt
Labels: RFC, Category: Engine, Extension: standard, Extension: zend_test

#10780 Imply UTF8 validity in implode function
  ext/standard/string.c
  ext/zend_test/tests/strings_marked_as_utf8.phpt
Labels: Extension: standard, Extension: zend_test

#10803 Suppress -Wstrict-prototypes in GD extension
  ext/gd/config.m4
Labels: Extension: gd

#10823 Fix GC_BENCH flag
  Zend/zend.c
  Zend/zend_gc.c
  Zend/zend_gc.h
Labels: Category: Engine

#10816 Fix GH-10747: Private and protected properties in serialized Date* objects throw
  NEWS
  ext/date/php_date.c
  ext/date/tests/gh10152.phpt
  ext/date/tests/gh10747-1.phpt
  ext/date/tests/gh10747-2.phpt
  ext/date/tests/gh10747-3.phpt
  ext/date/tests/gh10747-4.phpt
  ext/date/tests/gh10747-error.phpt
Labels: Extension: date

#10778 feat: enable Zend Max Execution Timers by default in 8.3
  .github/lsan-suppressions.txt
  NEWS
  UPGRADING
  Zend/Zend.m4
Labels: Category: Engine

#10841 Fixed oss-fuzz #56931
  ext/date/php_date.c
  ext/date/tests/ossfuzz-56931.txt
  ext/date/tests/unserialize-test.phpt
Labels: Extension: date

#10860 pgsql_insert fix unit tests
  UPGRADING
  ext/pgsql/pgsql.c
  ext/pgsql/tests/pg_insert_002.phpt
Labels: Extension: pgsql

#10858 [zend_hash]: Use AVX2 instructions for better performance
  Zend/zend_hash.c
Labels: Category: Engine

#10867 Implement GH-10854: TSRM should set a smarter value for expected_threads
  main/main.c
  main/php_main.h
  sapi/apache2handler/sapi_apache2.c
Labels: SAPI: apache2handler

#10866 Fix GH-10634: Lexing memory corruption
  Zend/tests/gh10634.phpt
  Zend/zend_language_scanner.l
Labels: Category: Engine

#10871 Remove xfail from tests that do not fail anymore
  ext/opcache/tests/bug78175_2.phpt
  ext/opcache/tests/bug78376.phpt
  ext/opcache/tests/preload_method_static_vars.phpt
  ext/opcache/tests/preload_trait_static.phpt
Labels: Extension: opcache

#10906 [Zend]: Remove unused code in MAKE_NOP macro
  Zend/zend_compile.h
Labels: Category: Engine

#10880 Shrink some commonly used structs by reordering members
  UPGRADING.INTERNALS
  Zend/Optimizer/zend_ssa.h
  Zend/zend_compile.h
  Zend/zend_execute.c
  Zend/zend_globals.h
  main/php_globals.h
Labels: Category: Engine, Category: Optimizer

#10910 ext/pdo_sqlite: simplifying sqlite3_exec usage.
  ext/pdo_sqlite/sqlite_driver.c
Labels: Extension: pdo_sqlite

#10918 Use capstone explicitly, drop oprofile (GH 10876)
  ext/opcache/config.m4
  ext/opcache/jit/Makefile.frag
  ext/opcache/jit/Makefile.frag.w32
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit.h
  ext/opcache/jit/zend_jit_oprofile.c
Labels: Extension: opcache

#10915 Propagate UTF-8 flag during Rope operations
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit_helpers.c
  ext/zend_test/tests/strings_marked_as_utf8.phpt
  ext/zend_test/tests/strings_not_marked_as_utf8.phpt
Labels: Category: Engine, Extension: opcache, Extension: zend_test

#10944 Use php_random_bytes_silent() where possible in gmp_init_random()
  ext/gmp/gmp.c
Labels: Extension: gmp

#10949 Improve the warning message for unpack() in case not enough values were provided
  NEWS
  ext/standard/pack.c
  ext/standard/tests/strings/bug61038.phpt
  ext/standard/tests/strings/pack_Z.phpt
Labels: Extension: standard

#10952 Rename --with-opcache-capstone to --with-capstone
  ext/opcache/config.m4
Labels: Extension: opcache

#10736 Note where a session was already started
  ext/session/php_session.h
  ext/session/session.c
  ext/session/tests/session_start_variation1.phpt
  ext/session/tests/session_start_variation9.phpt
Labels: Extension: session

#10965 ext/posix: posix_eaccess little update and forgotten UPGRADING entry.
  UPGRADING
  ext/posix/posix.c
  ext/posix/tests/posix_eaccess.phpt
Labels: Extension: posix

#10974 Silence compiler warnings in ext/sockets/conversions.c
  ext/sockets/conversions.c
Labels: Extension: sockets
