Repository php/php-src, pull requests merged in 2024-11, with the labels that each got.

#16663 Fix bug77578.phpt
  ext/com_dotnet/tests/bug77578.phpt
Labels: Category: Engine, Extension: com_dotnet

#16661 Fix ICU version specific skip reasons of intl tests
  ext/intl/tests/breakiter_getPartsIterator_basic2.phpt
  ext/intl/tests/breakiter_preceding_basic2.phpt
  ext/intl/tests/bug69374.phpt
  ext/intl/tests/bug69398.phpt
  ext/intl/tests/collator_get_sort_key_variant4.phpt
  ext/intl/tests/collator_get_sort_key_variant5.phpt
  ext/intl/tests/dateformat_create_cal_arg_variant4.phpt
  ext/intl/tests/dateformat_formatObject_datetime_variant_icu72-1.phpt
  ext/intl/tests/dateformat_get_set_calendar_variant4.phpt
  ext/intl/tests/formatter_format2.phpt
  ext/intl/tests/formatter_format5.phpt
  ext/intl/tests/formatter_format6.phpt
  ext/intl/tests/locale_get_display_region2.phpt
  ext/intl/tests/rbbiter_getBinaryRules_basic2.phpt
  ext/intl/tests/spoofchecker_001.phpt
  ext/intl/tests/spoofchecker_006.phpt
  ext/intl/tests/timezone_IDforWindowsID_basic.phpt
  ext/intl/tests/timezone_windowsID_basic.phpt
  ext/intl/tests/uconverter_oop_callback.phpt
Labels: Extension: intl

#16698 Document --repeat flag as internal
  sapi/cli/php_cli.c
Labels: SAPI: cli

#16369 Fix GH-16314 "Pdo\Mysql object is uninitialized" when opening a persistent connection
  NEWS
  ext/pdo/pdo_dbh.c
  ext/pdo/tests/pdo_test.inc
  ext/pdo_mysql/tests/gh16314.phpt
  ext/pdo_mysql/tests/inc/mysql_pdo_test.inc
  ext/pdo_pgsql/tests/gh16314.phpt
Labels: Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, ABI break

#16705 Fix test with shared zend_test
  sapi/fpm/tests/gh16628.phpt
Labels: SAPI: fpm

#16706 Use unsigned int for the reference count APIs in ext/libxml
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/libxml/libxml.c
  ext/libxml/php_libxml.h
Labels: Extension: dom, Extension: libxml, ABI break

#16707 Get rid of reserved name usage in ext/libxml
  ext/libxml/libxml.c
Labels: Extension: libxml

#16721 Fix incorrect filename of dl()'d internal consts
  Zend/zend_constants.c
  ext/dl_test/dl_test.c
  ext/dl_test/dl_test.stub.php
  ext/dl_test/dl_test_arginfo.h
Labels: Category: Engine

#16614 Add Dom\Element::insertAdjacentHTML()
  NEWS
  UPGRADING
  ext/dom/element.c
  ext/dom/inner_outer_html_mixin.c
  ext/dom/php_dom.h
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/modern/html/interactions/Dom_Element_insertAdjacentHTML.phpt
  ext/dom/tests/modern/html/interactions/Dom_Element_insertAdjacentHTML_edge_case.phpt
  ext/dom/tests/modern/html/interactions/Dom_Element_insertAdjacentHTML_errors.phpt
  ext/dom/tests/modern/xml/Element_insertAdjacentHTML.phpt
  ext/dom/tests/modern/xml/Element_insertAdjacentHTML_errors.phpt
Labels: Extension: dom

#16603 Add `ReflectionConstant::getExtension()` and `::getExtensionName()`
  UPGRADING
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionConstant_getExtension.phpt
  ext/reflection/tests/ReflectionConstant_getExtensionName.phpt
Labels: Extension: reflection

#16684 Minor refactorings to zend_exceptions()
  Zend/zend_exceptions.c
  Zend/zend_exceptions.h
Labels: Category: Engine, ABI break

#16754 Remove unused global and space indentation from ODBC header
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

#16757 Change dom_node_is_read_only() to return bool
  ext/dom/documentfragment.c
  ext/dom/node.c
  ext/dom/parentnode/tree.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

#16764 Fix para tag in build/gen_stub.php
  build/gen_stub.php
Labels: Category: Build System

#16778 Fix incorrect handling of ZEND_ACC_FINAL flag in JIT
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/tests/jit/assign_obj_005.phpt
Labels: Extension: opcache

#16767 Get rid of HASH_OF() in ext/dom
  ext/dom/dom_iterators.c
  ext/dom/nodelist.c
Labels: Extension: dom

#16787 Remove superfluous determination of cURL version
  ext/curl/config.w32
Labels: Category: Build System, Extension: curl

#16782 Simplify WBMP imagecreatefromstring() detection
  ext/gd/gd.c
  ext/gd/tests/imagecreatefromstring.wbmp
  ext/gd/tests/imagecreatefromstring_wbmp.phpt
Labels: Extension: gd

#16801 Drop bogus ext/libxml dependency on ext/iconv
  ext/libxml/config.w32
Labels: Category: Build System, OS: Windows, Extension: libxml

#16806 [skip ci] Document HASH_ constants
  Zend/zend_hash.h
Labels: Category: Engine, ABI break

#16858 Backport JIT fix: set valid EX(opline) before calling gc_possible_root()
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

#16861 Use the immutable twin of temporary op_array
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#16866 Improve error message when overriding untyped property with typed property
  Zend/tests/type_declarations/mixed/inheritance/mixed_property_inheritance_error7.phpt
  Zend/tests/type_declarations/typed_properties_035.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#16874 Simplify duplicate member flag check
  Zend/zend_compile.c
Labels: Category: Engine

#16848 Drop duplicate macro definitions
  ext/standard/dns_win32.c
Labels: Extension: standard

#16936 Remove disable_native_prepares
  ext/pdo_pgsql/pgsql_driver.c
  ext/pdo_pgsql/php_pdo_pgsql_int.h
Labels: Extension: pdo_pgsql

#16940 Remove useless code in ext-enchant
  ext/enchant/enchant.c
Labels: Extension: enchant

#16926 Add support for non-parameter attribute rendering in stubs
  build/gen_stub.php
Labels: Category: Build System

#16943 Fix GH-16913: 8.4 function JIT memory corruption
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#16947 Avoid possible spill conflict (one of the problem that caused GH-16821)
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#16949 Extract call_level conditions out to separate functions
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#16951 Fix GH-16821: runtime error: member access within misaligned address when running phpseclib tests
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#16963 ext/gmp: Some follow-up refactorings
  ext/gmp/gmp.c
Labels: Extension: gmp

#16972 Use specialised zend_new_pair() function to return array pairs in gmp
  ext/gmp/gmp.c
Labels: Extension: gmp

#16973 Finish reverting gmp_pow overflow check
  ext/gmp/gmp.c
Labels: Extension: gmp

#16977 pcntl: remove unneeded module shutdown function
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

#16966 ext/gmp: Check for valid bit index/start consistently
  ext/gmp/gmp.c
  ext/gmp/tests/gmp_clrbit.phpt
  ext/gmp/tests/gmp_scan0.phpt
  ext/gmp/tests/gmp_scan1.phpt
  ext/gmp/tests/gmp_setbit.phpt
  ext/gmp/tests/gmp_setbit_long.phpt
  ext/gmp/tests/gmp_testbit.phpt
Labels: Extension: gmp

#16505 gen_stub: drop support for `@refcount 0` with scalar return
  build/gen_stub.php
Labels: Category: Build System
