Repository php/php-src, pull requests merged in 2024-02, with the labels that each got.

#13298 Improve static inference in final class
  Zend/Optimizer/zend_optimizer.c
Labels: Category: Optimizer

#13277 Remove HAVE_JSON symbol
  UPGRADING.INTERNALS
  ext/json/config.m4
Labels: Category: Build System, Extension: json

#13299 Add macos-14 to the push and nightly workflows
  .github/actions/brew/action.yml
  .github/actions/configure-macos/action.yml
  .github/actions/verify-generated-files/action.yml
  .github/nightly_matrix.php
  .github/workflows/nightly.yml
  .github/workflows/push.yml
Labels: OS: macOS, Category: CI

#13026 cgi: tidy up fastcgi_cleanup signal handler
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

#13308 random: Do not hardcode the target type when invoking the CSPRNG
  ext/random/engine_mt19937.c
  ext/random/engine_secure.c
Labels: Extension: random

#13314 Remove superfluous ext/hash/murmur include on Windows
  ext/hash/config.w32
Labels: Category: Build System, Extension: hash

#13321 Fix zend_test extension name
  ext/zend_test/config.m4
  ext/zend_test/test.c
  ext/zend_test/tests/gh8575.phpt
Labels: Category: Build System, Extension: zend_test

#13324 ZEND_ELEMENT_COUNT usage reduction.
  Zend/Optimizer/zend_call_graph.h
  Zend/zend.h
  Zend/zend_ast.h
  Zend/zend_attributes.h
  Zend/zend_types.h
  ext/fileinfo/libmagic/cdf.h
  ext/opcache/jit/zend_jit_internal.h
  sapi/phpdbg/phpdbg_list.h
Labels: Category: Engine, Extension: fileinfo, Extension: opcache, SAPI: phpdbg, Category: Optimizer

#13322 phpdbg: remove dead code and sillyness
  sapi/phpdbg/phpdbg_watch.c
  sapi/phpdbg/phpdbg_watch.h
Labels: SAPI: phpdbg

#12557 Added DateTime[Immutable]::[get|set]Microseconds
  NEWS
  UPGRADING
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/getSetMicroseconds.phpt
Labels: Extension: date

#13311 random: Reuse the seed128/seed256 helpers when seeding using the CSPRNG
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

#13336 Refactor utsname.domainname struct member Autoconf check
  UPGRADING.INTERNALS
  ext/posix/config.m4
  ext/posix/posix.c
Labels: Category: Build System, Extension: posix

#13346 Remove DARWIN symbol
  UPGRADING.INTERNALS
  Zend/Zend.m4
  Zend/zend_portability.h
  ext/standard/dns.c
  sapi/cli/ps_title.c
Labels: Category: Build System, Category: Engine, Extension: standard, SAPI: cli

#13358 Fix undefined symbol pthread_attr_get_np on Solaris
  Zend/zend_call_stack.c
Labels: Category: Engine

#13360 Remove obsolete check for missing fclose declaration
  UPGRADING.INTERNALS
  build/php.m4
  configure.ac
  ext/standard/file.c
Labels: Category: Build System, Extension: standard

#13361 Remove unused <extension>_SHARED_LIBADD variables
  ext/filter/config.m4
  ext/mysqli/config.m4
Labels: Category: Build System, Extension: filter, Extension: mysqli

#13366 Minor DOM improvements
  ext/dom/php_dom.c
Labels: Extension: dom

#13365 Simplify strcasestr check in fileinfo
  ext/fileinfo/config.m4
Labels: Category: Build System, Extension: fileinfo

#13367 Remove PHP 4 PDO headers installation
  ext/pdo/Makefile.frag
Labels: Extension: pdo (core)

#13364 Remove redundant libbcmath include definition
  ext/bcmath/config.m4
  ext/bcmath/config.w32
Labels: Category: Build System, Extension: bcmath

#13371 ext/standard: Minor improvements to phpinfo() output
  Zend/zend_ini.c
  ext/standard/info.c
Labels: Category: Engine, Extension: standard

#13261 Add missing --ini-path and --ini-dir php-config options to man page
  scripts/man1/php-config.1.in
Labels: Category: Build System

#13373 Remove unused symbol HAVE_BSD_ICONV
  UPGRADING.INTERNALS
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

#13372 Remove PHP atomic includes and PHP_DEFINE M4 macro
  .gitignore
  UPGRADING.INTERNALS
  build/Makefile.global
  build/php.m4
  configure.ac
  docs/unix-build-system.md
Labels: Category: Build System

#13329 Fix TLS access in JIT with MUSL
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

#13349 Move PASSWORD constants to stubs
  ext/sodium/php_libsodium.h
  ext/sodium/sodium_pwhash.c
  ext/sodium/sodium_pwhash.stub.php
  ext/sodium/sodium_pwhash_arginfo.h
  ext/standard/password.c
  ext/standard/password.stub.php
  ext/standard/password_arginfo.h
Labels: Extension: sodium, Extension: standard

#13380 Remove obsolete PHP_WITH_SHARED M4 macro
  UPGRADING.INTERNALS
  build/php.m4
Labels: Category: Build System

#13381 Fix ZTS crashes with persistent resources in modules
  TSRM/TSRM.c
  TSRM/TSRM.h
  Zend/zend.c
  ext/odbc/php_odbc.c
  ext/pgsql/pgsql.c
Labels: Category: Engine, Extension: odbc, Extension: pgsql

#13387 zend_ssa minor struct changes.
  Zend/Optimizer/zend_ssa.h
Labels: Category: Optimizer

#13262 Fix linking ext/curl against OpenSSL
  ext/curl/config.m4
Labels: Category: Build System, Extension: curl

#13389 Use Autoconf AC_CHECK_TYPE for checking siginfo_t
  ext/pcntl/config.m4
Labels: Category: Build System, Extension: pcntl

#13397 Use AC_CHECK_TYPES for checking struct flock
  UPGRADING.INTERNALS
  build/php.m4
  configure.ac
Labels: Category: Build System

#13404 Fix 32-bit fileinfo
  ext/fileinfo/libmagic.patch
  ext/fileinfo/libmagic/file.h
Labels: Extension: fileinfo

#13393 add support for Zend Max Exeuction Timers on FreeBSD
  Zend/Zend.m4
  Zend/zend_max_execution_timer.c
Labels: Category: Build System, Category: Engine

#13406 Refactor PHP_SOCKADDR_CHECKS
  UPGRADING.INTERNALS
  build/php.m4
  configure.ac
  ext/sockets/multicast.c
  main/php_network.h
Labels: Category: Build System, Extension: sockets

#13368 zend_call_stack sort of GH-13358 follow-up.
  Zend/tests/stack_limit/stack_limit_010.phpt
  Zend/zend_call_stack.c
Labels: Category: Engine

#13395 Change long2ip return type
  Zend/Optimizer/zend_func_infos.h
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/network/ip_x86_64.phpt
Labels: Extension: standard, Category: Optimizer

#13399 Test Round: Added tests to check operation with existing implementation
  ext/standard/tests/math/round_gh12143_expand-rounding-target.phpt
Labels: Extension: standard

#13384 Fixed GH-13167 Fixed the behavior of `bindValue` and `bindParam`.
  ext/pdo_mysql/mysql_statement.c
  ext/pdo_mysql/tests/gh13384.phpt
Labels: Extension: pdo_mysql

#13424 Fixed tests for libmysql
  ext/pdo_mysql/tests/pdo_mysql_attr_max_buffer_size.phpt
Labels: Extension: pdo_mysql

#13421 Update error handling when node cannot be added
  ext/dom/node.c
Labels: Extension: dom

#13423 sapi/fpm: little simplification for the kqueue backend.
  sapi/fpm/fpm/events/kqueue.c
Labels: SAPI: fpm

#13426 Rename HAVE_PHP_SOAP symbol on Windows ext/soap
  UPGRADING.INTERNALS
  ext/soap/config.w32
Labels: Category: Build System, Extension: soap

#13425 Update tidy.php excludes
  scripts/dev/tidy.php
Labels: Category: Build System

#13429 Remove obsolescent AC_C_INLINE Autoconf macro
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#13436 Remove malloc.h
  configure.ac
  ext/gd/libgd/gdcache.h
Labels: Category: Build System, Extension: gd

#13444 Remove Autoconf check for C99 header stdint.h
  configure.ac
Labels: Category: Build System

#13439 ext/curl: Add `feature_info` assoc array to `curl_version()`
  NEWS
  UPGRADING
  ext/curl/interface.c
  ext/curl/tests/curl_version_features-array.phpt
Labels: Extension: curl

#13450 Simplify prctl and procctl Autoconf checks
  build/php.m4
  configure.ac
  ext/opcache/shared_alloc_mmap.c
Labels: Category: Build System, Extension: opcache

#13454 Remove redundant getpid call
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

#13465 ext/intl: IntlDateFormatter class removing redundant error message info.
  NEWS
  UPGRADING
  ext/intl/tests/timezone_IDforWindowsID_basic2.phpt
  ext/intl/tests/timezone_countEquivalentIDs_error.phpt
  ext/intl/tests/timezone_createEnumeration_error.phpt
  ext/intl/tests/timezone_createTimeZoneIDEnumeration_error.phpt
  ext/intl/tests/timezone_createTimeZone_error.phpt
  ext/intl/tests/timezone_getCanonicalID_error.phpt
  ext/intl/tests/timezone_getCanonicalID_variant1_2.phpt
  ext/intl/tests/timezone_getDisplayName_error.phpt
  ext/intl/tests/timezone_getEquivalentID_error.phpt
  ext/intl/tests/timezone_getErrorCodeMessage_basic.phpt
  ext/intl/tests/timezone_getOffset_error.phpt
  ext/intl/tests/timezone_getRegion_error.phpt
  ext/intl/tests/timezone_windowsID_basic2.phpt
  ext/intl/timezone/timezone_methods.cpp
  ext/intl/uchar/uchar.stub.php
  ext/intl/uchar/uchar_arginfo.h
Labels: Extension: intl

#13467 Remove unused symbol ZEND_FIBER_ASM
  UPGRADING.INTERNALS
  configure.ac
Labels: Category: Build System

#13473 Refactor union semun in ext/sysvsem
  ext/sysvsem/config.m4
  ext/sysvsem/sysvsem.c
Labels: Category: Build System, Extension: sysvsem

#13474 Remove HAVE_SYSCONF check
  sapi/fpm/config.m4
  sapi/fpm/fpm/fpm_scoreboard.c
Labels: Category: Build System, SAPI: fpm

#13478 Remove nsl library check in sapi/fpm
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#13481 Find and link math library as needed with AC_SEARCH_LIBS
  UPGRADING.INTERNALS
  configure.ac
  win32/build/config.w32.h.in
Labels: Category: Build System

#13464 Simplify times Autoconf check
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#13499 Display class constant and property doc comments via reflection
  ext/reflection/php_reflection.c
  ext/reflection/tests/ReflectionClassConstant_basic1.phpt
  ext/reflection/tests/constructor_promotion.phpt
Labels: Extension: reflection

#13490 Simplify nanosleep Autoconf check
  configure.ac
Labels: Category: Build System

#13350 random: Pass algorithm and state together as `php_random_algo_with_state`
  UPGRADING.INTERNALS
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
  ext/random/gammasection.c
  ext/random/php_random.h
  ext/random/random.c
  ext/random/randomizer.c
  ext/standard/array.c
  ext/standard/php_array.h
  ext/standard/php_string.h
  ext/standard/string.c
Labels: Extension: standard, Extension: random

#13504 Add LIBXML_RECOVER
  NEWS
  UPGRADING
  ext/dom/document.c
  ext/dom/tests/modern/xml/XMLDocument_fromString_03.phpt
  ext/dom/tests/xml_parsing_LIBXML_RECOVER.phpt
  ext/dom/xml_document.c
  ext/libxml/libxml.stub.php
  ext/libxml/libxml_arginfo.h
  ext/simplexml/tests/xml_parsing_LIBXML_RECOVER.phpt
Labels: Extension: dom, Extension: libxml, Extension: simplexml

#13507 Check for struct cmsgcred with AC_CHECK_TYPES
  ext/sockets/config.m4
  ext/sockets/conversions.c
Labels: Category: Build System, Extension: sockets

#13510 Check for struct ucred with AC_CHECK_TYPES
  ext/sockets/config.m4
  ext/sockets/sendrecvmsg.c
Labels: Category: Build System, Extension: sockets

#13457 Drop `zend_mm_set_custom_debug_handlers()`
  UPGRADING.INTERNALS
  Zend/zend_alloc.c
  Zend/zend_alloc.h
  ext/zend_test/test.c
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg.h
  sapi/phpdbg/phpdbg_watch.c
  sapi/phpdbg/phpdbg_watch.h
Labels: Category: Engine, Extension: zend_test, SAPI: phpdbg

#13513 Use preprocessor to check for AI_V4MAPPED, AI_ALL and AI_IDN
  ext/sockets/config.m4
  ext/sockets/sockaddr_conv.c
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Category: Build System, Extension: sockets

#13503 ext/intl: Refactor ResourceBundle get and dimension access
  NEWS
  UPGRADING
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/resourcebundle/resourcebundle.c
  ext/intl/resourcebundle/resourcebundle.stub.php
  ext/intl/resourcebundle/resourcebundle_arginfo.h
  ext/intl/resourcebundle/resourcebundle_class.c
  ext/intl/tests/resourcebundle_arrayaccess.phpt
  ext/intl/tests/resourcebundle_dimension_errors.phpt
Labels: Extension: intl

#13521 random: Adjust `status` to `state`
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
  ext/random/php_random.h
  ext/random/random.c
  ext/random/randomizer.c
  ext/standard/array.c
  ext/standard/string.c
Labels: Extension: standard, Extension: random

#12775 Fixed int32 underflow on DateTime::createFromTimestamp
  ext/date/php_date.c
  ext/date/php_date.h
  ext/date/tests/createFromTimestamp.phpt
  ext/date/tests/createFromTimestamp_32bit.phpt
Labels: Extension: date

#13525 Remove PHP_CHECK_GCC_ARG
  UPGRADING.INTERNALS
  build/php.m4
Labels: Category: Build System

#13537 Simplify clock_gettime Autoconf check
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#13547 ext/spl: mark all zend_object_handlers as static
  ext/spl/spl_array.c
  ext/spl/spl_dllist.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
  ext/spl/spl_observer.c
Labels: Extension: spl

#13488 Simplify Pgrab and proc library Autoconf check
  configure.ac
Labels: Category: Build System

#13494 Simplify openpty Autoconf check
  configure.ac
Labels: Category: Build System

#13540 random: Clean up seeding API
  UPGRADING.INTERNALS
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
  ext/random/php_random.h
  ext/random/random.c
Labels: Extension: random

#13544 random: Fix unknown `mt_srand()` compatibility for unknown modes
  NEWS
  ext/random/random.c
  ext/random/tests/01_functions/mt_srand_unknown_mode.phpt
Labels: Extension: random

#13553 Find and link network library as needed with AC_SEARCH_LIBS
  configure.ac
Labels: Category: Build System
