Repository php/php-src, pull requests merged in 2024-01, with the labels that each got.

#13048 Use AC_CHECK_MEMBERS instead of AC_EGREP_HEADER
  main/fastcgi.c
  sapi/cgi/config9.m4
Labels: Category: Build System, SAPI: cgi

#12994 Remove unused in_addr_t type alias
  build/php.m4
  configure.ac
  main/fastcgi.c
Labels: Category: Build System

#13065 Remove unused php.sym files
  sapi/apache2handler/php.sym
  sapi/cgi/php.sym
Labels: SAPI: apache2handler, SAPI: cgi

#13062 Remove properties field from php_libxml_node_object
  UPGRADING.INTERNALS
  ext/libxml/libxml.c
  ext/libxml/php_libxml.h
Labels: Extension: libxml

#13069 Fix failing 32-bit mbstring tests
  ext/mbstring/tests/euc_tw_encoding.phpt
  ext/mbstring/tests/gb18030_2022_encoding.phpt
Labels: Extension: mbstring

#12991 Remove libbind from build system
  configure.ac
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#13027 Fix signal leak in max execution timers
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

#13073 Omit HAVE_INET_NTOP definition with AC_CHECK_FUNC
  configure.ac
Labels: Category: Build System

#13078 Remove unused phpdbg build variables
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#13086 Remove root library check for dlopen() and dlsym()
  configure.ac
Labels: Category: Build System

#13079 Change PHP_ZTS and PHP_DEBUG to bool to match their ZEND equivalents
  NEWS
  UPGRADING
  ext/zip/tests/bug72660.phpt
  main/main.stub.php
  main/main_arginfo.h
Labels: Extension: zip

#13068 Improve preg_* functions warnings for NUL byte
  ext/pcre/php_pcre.c
  ext/pcre/tests/bug73392.phpt
  ext/pcre/tests/delimiters.phpt
  ext/pcre/tests/null_bytes.phpt
  ext/pcre/tests/preg_grep_error1.phpt
  ext/pcre/tests/preg_match_all_error1.phpt
  ext/pcre/tests/preg_match_all_error2.phpt
  ext/pcre/tests/preg_match_error1.phpt
  ext/pcre/tests/preg_match_error2.phpt
  ext/pcre/tests/preg_replace_callback_array_error.phpt
  ext/pcre/tests/preg_replace_callback_error1.phpt
  ext/pcre/tests/preg_replace_error1.phpt
  ext/pcre/tests/preg_replace_error2.phpt
  ext/pcre/tests/preg_split_error1.phpt
Labels: Extension: pcre

#13085 Fix DragonFly build
  ext/opcache/jit/Makefile.frag
Labels: Extension: opcache

#13088 Remove unused symbol HAVE_ODBC2
  ext/odbc/config.m4
Labels: Category: Build System, Extension: odbc

#13092 Add X-Powered-By header to builtin 404 page
  sapi/cli/php_cli_server.c
  sapi/cli/tests/php_cli_server_013.phpt
  sapi/cli/tests/php_cli_server_014.phpt
Labels: SAPI: cli

#13099 Disable inlining and inter-procedure-analyses for zend_string_equal_val() function that may be overriden for valgrind
  Zend/zend_string.c
Labels: Category: Engine

#13043 random: Optimize data flow for the `generate` function of native engines
  UPGRADING.INTERNALS
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
  ext/random/php_random.h
  ext/random/random.c
  ext/random/randomizer.c
Labels: Extension: random

#13103 Mark ob_start() callback parameter nullable
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Extension: standard

#13112 nitpick re2c "or newer"
  build/php.m4
Labels: Category: Build System

#13122 general signatures discrepencies
  UPGRADING.INTERNALS
  Zend/zend_generators.c
  Zend/zend_interfaces.c
  Zend/zend_iterators.h
  Zend/zend_multibyte.c
  Zend/zend_weakrefs.c
  ext/com_dotnet/com_iterator.c
  ext/com_dotnet/com_saproxy.c
  ext/date/php_date.c
  ext/dom/dom_iterators.c
  ext/ffi/ffi.c
  ext/gd/gd.c
  ext/intl/common/common_enum.cpp
  ext/intl/common/common_enum.h
  ext/intl/resourcebundle/resourcebundle_iterator.c
  ext/mysqli/mysqli_result_iterator.c
  ext/pdo/pdo_stmt.c
  ext/simplexml/simplexml.c
  ext/spl/spl_array.c
  ext/spl/spl_directory.c
  ext/spl/spl_dllist.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
  ext/spl/spl_iterators.c
  ext/zend_test/iterators.c
Labels: Category: Engine, Extension: intl, Extension: com_dotnet, Extension: date, Extension: dom, Extension: ffi, Extension: gd, Extension: mysqli, Extension: pdo (core), Extension: simplexml, Extension: spl, Extension: zend_test

#13106 random: Clean up implementation of PCG's and Xoshiro's constructor
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

#13035 Remove obsolete _XPG_IV preprocessor directive
  configure.ac
Labels: Category: Build System

#13098 Add bison -Wall flag to Windows build
  ext/json/Makefile.frag.w32
  win32/build/Makefile
  win32/build/confutils.js
Labels: Category: Build System, Extension: json

#12641 ext/standard: make debug_zval_dump() output whether the array is packed
  NEWS
  UPGRADING
  ext/mysqli/tests/mysqli_result_references.phpt
  ext/mysqli/tests/mysqli_result_references_mysqlnd.phpt
  ext/standard/tests/general_functions/debug_zval_dump_b.phpt
  ext/standard/tests/general_functions/debug_zval_dump_b_64bit.phpt
  ext/standard/tests/general_functions/debug_zval_dump_refs.phpt
  ext/standard/var.c
Labels: Extension: mysqli, Extension: standard

#13108 Remove ext/random backwards-compatibility headers
  UPGRADING.INTERNALS
  ext/standard/php_lcg.h
  ext/standard/php_mt_rand.h
  ext/standard/php_rand.h
  ext/standard/php_random.h
Labels: Extension: standard

#13131 Remove unused includes of php_random.h
  ext/dom/php_dom.c
  ext/standard/basic_functions.h
  ext/standard/crypt.c
  main/internal_functions_win32.c
  main/reentrancy.c
Labels: Extension: dom, Extension: standard

#12627 [RFC] Improve callbacks in ext/dom and ext/xsl
  NEWS
  UPGRADING
  UPGRADING.INTERNALS
  ext/dom/config.m4
  ext/dom/config.w32
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/DOMXPath_callables.phpt
  ext/dom/tests/DOMXPath_callables_errors.phpt
  ext/dom/tests/domxpath.phpt
  ext/dom/tests/registerPhpFunctionNS.phpt
  ext/dom/tests/registerPhpFunctionNS_errors.phpt
  ext/dom/xpath.c
  ext/dom/xpath_callbacks.c
  ext/dom/xpath_callbacks.h
  ext/xsl/php_xsl.c
  ext/xsl/php_xsl.h
  ext/xsl/php_xsl.stub.php
  ext/xsl/php_xsl_arginfo.h
  ext/xsl/tests/XSLTProcessor_callables.phpt
  ext/xsl/tests/XSLTProcessor_callables_errors.phpt
  ext/xsl/tests/php_function_edge_cases.phpt
  ext/xsl/tests/registerPHPFunctionNS.phpt
  ext/xsl/tests/registerPHPFunctionNS_errors.phpt
  ext/xsl/tests/throw_in_autoload.phpt
  ext/xsl/tests/xpath_callables.inc
  ext/xsl/tests/xslt011.phpt
  ext/xsl/tests/xslt011.xsl
  ext/xsl/tests/xslt_non_dom_node.phpt
  ext/xsl/tests/xslt_non_dom_node.xsl
  ext/xsl/tests/xsltprocessor_exsl_registerPhpFunctionNs.phpt
  ext/xsl/tests/xsltprocessor_registerPHPFunctions-array-notallowed.phpt
  ext/xsl/tests/xsltprocessor_registerPHPFunctions-funcnostring.phpt
  ext/xsl/tests/xsltprocessor_registerPHPFunctions-funcundef.phpt
  ext/xsl/tests/xsltprocessor_registerPHPFunctions-string-notallowed.phpt
  ext/xsl/xsltprocessor.c
Labels: RFC, Category: Build System, Extension: dom, Extension: xsl

#13135 Give anonymous dom structs a name
  ext/dom/element.c
  ext/dom/html5_parser.c
  ext/dom/html5_parser.h
  ext/dom/html_document.c
Labels: Extension: dom

#13141 Minor sqlite3 cleanups
  ext/sqlite3/sqlite3.c
Labels: Extension: sqlite3

#13138 random/standard: Correctly handle broken engines in php_array_pick_keys
  NEWS
  ext/random/tests/03_randomizer/engine_unsafe_biased.phpt
  ext/random/tests/03_randomizer/engine_unsafe_empty_string.phpt
  ext/random/tests/03_randomizer/engine_unsafe_nul.phpt
  ext/standard/array.c
Labels: Extension: standard, Extension: random

#13146 Explicitly initialize object variables passed to Z_PARAM_OBJ_OF_CLASS_OR_LONG
  ext/intl/dateformat/dateformat_attrcpp.cpp
Labels: Extension: intl

#13137 Improve error messages related to void/never return types of methods
  Zend/tests/return_types/never_disallowed1.phpt
  Zend/tests/return_types/never_disallowed2.phpt
  Zend/tests/return_types/never_disallowed3.phpt
  Zend/tests/return_types/never_disallowed4.phpt
  Zend/tests/return_types/never_disallowed5.phpt
  Zend/tests/return_types/void_disallowed1.phpt
  Zend/tests/return_types/void_disallowed2.phpt
  Zend/tests/return_types/void_disallowed3.phpt
  Zend/zend_compile.c
  Zend/zend_execute.c
Labels: Category: Engine

#13089 Fix the SO_LISTENQLEN check in FPM
  sapi/fpm/config.m4
  sapi/fpm/fpm/fpm_sockets.c
Labels: Category: Build System, SAPI: fpm

#13152 Remove unused symbols in ext/mbstring/libmbfl/config.h.w32
  ext/mbstring/libmbfl/config.h.w32
Labels: Category: Build System, Extension: mbstring

#13147 Use true as return types for SplHeap
  UPGRADING
  ext/spl/spl_heap.stub.php
  ext/spl/spl_heap_arginfo.h
Labels: Extension: spl

#13168 Introduce %S modifier and use it
  Zend/zend_exceptions.c
  main/main.c
  main/spprintf.c
Labels: Category: Engine

#13158 accidentally used print() instead of die()
  ext/pcntl/tests/async_signals_2.phpt
Labels: Extension: pcntl

#13160 add missing keywords to parser fuzzer dict from PHP 7.4 to 8.3
  sapi/fuzzer/dict/parser
Labels: SAPI: fuzzer

#13156 missing SKIP_SLOW_TESTS
  ext/standard/tests/general_functions/proc_open_sockets1.phpt
Labels: Extension: standard

#13155 missing SKIP_ONLINE_TESTS
  ext/curl/tests/curl_error_basic.phpt
Labels: Extension: curl

#13132 random: Split the uint128 implementation into its own header
  ext/random/config.m4
  ext/random/config.w32
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/php_random.h
  ext/random/php_random_uint128.h
Labels: Category: Build System, Extension: random

#13169 Make return type of trigger_error() and user_error() true
  UPGRADING
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
Labels: Category: Engine

#13182 Field cleanups in xsl_object
  ext/xsl/php_xsl.h
  ext/xsl/xsltprocessor.c
Labels: Extension: xsl

#13170 Fix argument type of simplexml_import_dom
  NEWS
  UPGRADING
  ext/simplexml/simplexml.c
  ext/simplexml/simplexml.stub.php
  ext/simplexml/simplexml_arginfo.h
  ext/xsl/tests/xsltprocessor_importStylesheet-invalidparam.phpt
  ext/xsl/xsltprocessor.c
Labels: Extension: simplexml, Extension: xsl

#13201 Sync Zend/Optimizer headers installation
  win32/build/config.w32
Labels: Category: Build System

#13209 ext/curl: Fix `sync-constants` script
  ext/curl/sync-constants.php
Labels: Extension: curl

#13116 prevents using resource as a zend_type
  Zend/zend_API.c
Labels: Category: Engine

#13227 Fix "warning: conflicting types for ‘zend_multibyte_set_script_encoding’ due to enum/integer mismatch;"
  Zend/zend_multibyte.h
Labels: Category: Engine

#12723 Zend: Add tests for offsets and containers
  Zend/tests/offsets/ArrayAccess_container_offset_behaviour.phpt
  Zend/tests/offsets/ArrayObject_container_offset_behaviour.phpt
  Zend/tests/offsets/appending_containers.phpt
  Zend/tests/offsets/appending_containers_in_fetch.phpt
  Zend/tests/offsets/array_container_offset_behaviour.phpt
  Zend/tests/offsets/false_container_offset_behaviour.phpt
  Zend/tests/offsets/internal_handlers.phpt
  Zend/tests/offsets/internal_handlers_extended.phpt
  Zend/tests/offsets/invalid_container_offset_behaviour.phpt
  Zend/tests/offsets/null_container_offset_behaviour.phpt
  Zend/tests/offsets/object_container_offset_behaviour.phpt
  Zend/tests/offsets/runtime_compile_time_offset_access.phpt
  Zend/tests/offsets/string_container_offset_behaviour.phpt
  Zend/tests/offsets/test_offset_helpers.inc
  Zend/tests/offsets/test_variable_offsets.inc
  ext/zend_test/object_handlers.c
  ext/zend_test/object_handlers.stub.php
  ext/zend_test/object_handlers_arginfo.h
Labels: Extension: zend_test

#13238 Improve is_instanceof inference
  Zend/Optimizer/zend_inference.c
Labels: Category: Optimizer

#13265 Fix GH-13193: Significant performance degradation in 'foreach' starting from PHP 8.2.13 (caused by garbage collection)
  Zend/zend_gc.c
Labels: Category: Engine

#13240 ext/sockets: enabling multicast group for ipv4 on freebsd.
  NEWS
  ext/sockets/multicast.h
  ext/sockets/tests/bug63000.phpt
Labels: Extension: sockets

#13271 random: Clean up integer seeding when constructing engines
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

#13282 ext/curl: Update `sync_constants.php` const matching to uncover more constants
  ext/curl/sync-constants.php
Labels: Extension: curl

#13259 ext/curl: Bump minimum Curl version to >= 7.61.0
  NEWS
  UPGRADING
  ext/curl/config.m4
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/multi.c
  ext/curl/sync-constants.php
  ext/curl/tests/curl_basic_023.phpt
  ext/curl/tests/curl_basic_024.phpt
  ext/curl/tests/curl_file_upload_stream.phpt
Labels: Category: Build System, Extension: curl
