Repository php/php-src, pull requests merged in 2024-08, with the labels that each got.

#15188 Autotools: Update php.m4 CPP macros help texts
  build/php.m4
Labels: Category: Build System

#15197 Autotools: Fix ffi checks
  ext/ffi/config.m4
Labels: Category: Build System, Extension: ffi

#15191 Sync CPP macros in ext/iconv
  build/php.m4
  ext/iconv/config.m4
  ext/iconv/config.w32
Labels: Category: Build System, Extension: iconv

#15189 Autotools: Update configure.ac CPP macros help texts
  configure.ac
Labels: Category: Build System

#15185 Autotools: Remove obsolete config.status invocations
  scripts/Makefile.frag
Labels: Category: Build System

#15021 Allow optimizer to depend on preloaded symbols
  Zend/Optimizer/zend_optimizer.c
  ext/opcache/tests/gh15021.phpt
  ext/opcache/tests/gh15021_a.inc
  ext/opcache/tests/gh15021_b.inc
  ext/opcache/tests/gh15021_preload.inc
  ext/opcache/tests/gh15021_required.inc
  ext/opcache/tests/preload_optimizer.inc
  ext/opcache/tests/preload_optimizer.phpt
  ext/zend_test/tests/observer_preload.phpt
Labels: Extension: opcache, Extension: zend_test, Category: Optimizer

#15204 Add a test for setting the innerHTML on a prefixed XML element
  ext/dom/tests/modern/xml/Element_innerHTML_prefixed_writing.phpt
Labels: Extension: dom

#15190 Autotools: Update config.guess to 2024-07-27 and config.sub to 2024-05-27
  NEWS
  build/config.guess
  build/config.sub
Labels: Category: Build System

#15207 Sync AC_DEFINE help texts
  ext/date/config.w32
  ext/date/config0.m4
  ext/hash/config.m4
  ext/hash/config.w32
  ext/mbstring/config.m4
  ext/mbstring/config.w32
  ext/opcache/config.m4
  ext/opcache/config.w32
  ext/openssl/config0.m4
  ext/pcntl/config.m4
  ext/posix/config.m4
  ext/session/config.m4
  ext/standard/config.m4
  ext/standard/config.w32
  ext/xsl/config.m4
  ext/xsl/config.w32
  sapi/cgi/config9.m4
  sapi/phpdbg/config.m4
Labels: Category: Build System, Extension: openssl, Extension: date, Extension: hash, Extension: mbstring, Extension: opcache, Extension: pcntl, Extension: posix, Extension: session, Extension: standard, Extension: xsl, SAPI: cgi, SAPI: phpdbg

#15186 Replace PHP_OUTPUT with AC_CONFIG_FILES
  UPGRADING.INTERNALS
  build/php.m4
  configure.ac
  ext/phar/config.m4
  sapi/cgi/config9.m4
  sapi/cli/config.m4
  sapi/fpm/config.m4
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: fpm, Extension: phar, SAPI: cgi, SAPI: cli, SAPI: phpdbg

#15164 Autotools: Improve ftp and mysqlnd SSL configure options
  ext/ftp/config.m4
  ext/ftp/config.w32
  ext/mysqlnd/config.w32
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: ftp, Extension: mysqlnd

#15209 Autotools: Replace AC_MSG_ERROR with AC_MSG_FAILURE
  Zend/Zend.m4
  build/php.m4
  configure.ac
  ext/bz2/config.m4
  ext/curl/config.m4
  ext/gd/config.m4
  ext/gettext/config.m4
  ext/gmp/config.m4
  ext/iconv/config.m4
  ext/ldap/config.m4
  ext/odbc/config.m4
  ext/opcache/config.m4
  ext/pcntl/config.m4
  ext/pdo_dblib/config.m4
  ext/pdo_firebird/config.m4
  ext/pdo_odbc/config.m4
  ext/readline/config.m4
  ext/skeleton/config.m4.in
  ext/snmp/config.m4
  ext/standard/config.m4
  ext/sysvmsg/config.m4
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm, Category: Engine, Extension: bz2, Extension: curl, Extension: gd, Extension: gettext, Extension: gmp, Extension: iconv, Extension: ldap, Extension: odbc, Extension: opcache, Extension: pcntl, Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_odbc, Extension: readline, Extension: snmp, Extension: standard, Extension: sysvmsg

#15222 Refactor HAVE_SQLDATASOURCES check
  ext/odbc/config.m4
  ext/odbc/config.w32
  win32/build/config.w32.h.in
Labels: Category: Build System, Extension: odbc

#15218 Sync preprocessor macros help texts
  Zend/Zend.m4
  ext/ffi/config.w32
  ext/ldap/config.m4
  ext/ldap/config.w32
  ext/opcache/config.m4
  ext/pcre/config.w32
  ext/pcre/config0.m4
  ext/pdo_mysql/config.m4
  ext/pdo_mysql/config.w32
  ext/readline/config.m4
  ext/standard/config.w32
Labels: Category: Build System, Category: Engine, Extension: ffi, Extension: ldap, Extension: opcache, Extension: pcre, Extension: pdo_mysql, Extension: readline, Extension: standard

#12309 unserialize: Deprecate the 'S' tag
  NEWS
  UPGRADING
  ext/standard/tests/serialize/unserialize_uppercase_s.phpt
  ext/standard/var_unserializer.re
Labels: RFC, Extension: standard

#15211 random: Deprecate `lcg_value()`
  NEWS
  UPGRADING
  ext/random/random.c
  ext/random/random.stub.php
  ext/random/random_arginfo.h
  ext/random/tests/01_functions/lcg_value_basic.phpt
  ext/random/tests/01_functions/lcg_value_deprecation.phpt
Labels: RFC, Extension: random

#15213 session: Deprecate `session.sid_length` and `session.sid_bits_per_character`
  NEWS
  UPGRADING
  ext/session/session.c
  ext/session/tests/bug68063.phpt
  ext/session/tests/session_id_basic2.phpt
  php.ini-development
  php.ini-production
Labels: RFC, Extension: session

#15216 random: Remove engine_combinedlcg.c
  UPGRADING.INTERNALS
  ext/random/config.m4
  ext/random/config.w32
  ext/random/engine_combinedlcg.c
  ext/random/php_random.h
  ext/random/random.c
Labels: Category: Build System, Extension: random

#15217 standard: Stop using `php_combined_lcg()` in `uniqid()`
  ext/standard/uniqid.c
Labels: Extension: standard

#12978 RFC: Deprecate date_sunrise and date_sunset constants
  NEWS
  UPGRADING
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/date_sunrise_and_sunset_basic.phpt
  ext/reflection/tests/internal_parameter_default_value/check_all.phpt
Labels: RFC, Extension: date, Extension: reflection

#15212 Autotools: Improve --with-mm configure option check
  ext/session/config.m4
Labels: Category: Build System, Extension: session

#15215 Autotools: Refactor debug checks
  Zend/Zend.m4
  configure.ac
  scripts/phpize.m4
Labels: Category: Build System, Category: Engine

#15234 Deprecate DOM_PHP_ERR
  NEWS
  UPGRADING
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/DOM_PHP_ERR_deprecated.phpt
Labels: RFC, Extension: dom

#15221 Add and update ext/dba preprocessor macros help texts
  ext/dba/config.m4
  ext/dba/config.w32
Labels: Category: Build System, Extension: dba

#15233 Remove DOMImplementation::getFeature()
  NEWS
  UPGRADING
  ext/dom/domimplementation.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: RFC, Extension: dom

#15238 Autotools: Check for cross_compiling=yes
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#15226 Fix HAVE_LIBGD usage
  ext/gd/config.m4
  ext/gd/config.w32
Labels: Category: Build System, Extension: gd

#15223 Add and update ext/odbc preprocessor macros help texts
  ext/odbc/config.m4
  ext/odbc/config.w32
Labels: Category: Build System, Extension: odbc

#15227 Remove IS_STATIC_VAR_UNINITIALIZED
  UPGRADING.INTERNALS
  Zend/tests/static_variables_throwing_initializer.phpt
  Zend/zend_compile.c
  Zend/zend_types.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#15245 Fix zend_function.prop_info pointer for trait hooks
  NEWS
  Zend/tests/gh15240.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#15242 Fix bug #51558: shared readline build fails
  NEWS
  ext/readline/config.m4
Labels: Category: Build System, Extension: readline

#15157 Fix missing variance check for abstract set with asymmetric type
  NEWS
  Zend/tests/property_hooks/gh15140.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#15228 random: Optimize Randomizer::getBytes()
  ext/random/php_random.h
  ext/random/randomizer.c
Labels: Extension: random

#15247 Use unsigned int instead of int for refcount for libxml objects
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/libxml/php_libxml.h
Labels: Extension: dom, Extension: libxml

#15214 Autotools: Refactor thread safety checks
  Zend/Zend.m4
  configure.ac
  scripts/phpize.m4
  win32/php_win32_globals.h
Labels: Category: Build System, Category: Engine

#15241 Autotools: Add ext/readline preprocessor macros help texts
  ext/readline/config.m4
Labels: Category: Build System, Extension: readline

#15166 Autotools: Add pkg-config for GMP library
  UPGRADING.INTERNALS
  ext/gmp/config.m4
Labels: Category: Build System, Extension: gmp

#15200 ext/standard: disable one ipv2long test.
  ext/standard/tests/network/ip2long_variation2_x64.phpt
Labels: Extension: standard

#15236 Deprecate passing incorrect data types for options to ext/hash functions
  NEWS
  UPGRADING
  ext/hash/hash_murmur.c
  ext/hash/hash_xxhash.c
  ext/hash/tests/murmur_seed_deprecation.phpt
  ext/hash/tests/xxh3_convert_secret_to_string.phpt
  ext/hash/tests/xxhash_secret.phpt
  ext/hash/tests/xxhash_seed_deprecation.phpt
Labels: RFC, Extension: hash

#15251 Autotools: Add phpized configure log and help separators
  build/php.m4
  configure.ac
  scripts/phpize.m4
Labels: Category: Build System

#15255 Update preprocessor macros help texts for enchant and snmp extensions
  ext/enchant/config.m4
  ext/enchant/config.w32
  ext/snmp/config.m4
Labels: Category: Build System, Extension: enchant, Extension: snmp

#15271 Update ext/zip preprocessor macros help texts
  ext/zip/config.m4
Labels: Category: Build System, Extension: zip

#15270 Update ext/sodium preprocessor macro help texts
  ext/sodium/config.m4
  ext/sodium/config.w32
Labels: Category: Build System, Extension: sodium

#15269 Update ext/tidy preprocessor macros help texts
  ext/tidy/config.m4
  ext/tidy/config.w32
Labels: Category: Build System, Extension: tidy

#15290 Update pgsql extensions preprocessor macros help texts
  ext/pdo_pgsql/config.m4
  ext/pgsql/config.m4
Labels: Category: Build System, Extension: pdo_pgsql, Extension: pgsql

#15278 Access long value directly for call to count() in simplexml
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#15297 ext/dba: Deprecate passing null|false to dba_key_split()
  NEWS
  UPGRADING
  ext/dba/dba.c
  ext/dba/tests/dba_split.phpt
Labels: Extension: dba

#15295 ext/spl: Follow-up on GH-9704
  NEWS
  UPGRADING
  ext/spl/spl_fixedarray.c
  ext/spl/spl_fixedarray.stub.php
  ext/spl/spl_fixedarray_arginfo.h
Labels: Extension: spl

#15298 Update and sync PHP build preprocessor macros help texts
  configure.ac
  win32/build/confutils.js
Labels: Category: Build System

#15152 hash: Add SHA-NI implementation of SHA-256
  NEWS
  README.REDIST.BINS
  UPGRADING
  Zend/zend_cpuinfo.h
  ext/hash/config.m4
  ext/hash/config.w32
  ext/hash/hash_sha.c
  ext/hash/hash_sha_ni.c
  ext/hash/hash_sha_sse2.c
  ext/hash/php_hash_sha.h
Labels: Category: Build System, Category: Engine, Extension: hash

#15293 ext/xml: Deprecate xml_set_object() and passing non-callable strings to handlers
  NEWS
  UPGRADING
  Zend/tests/bug34617.phpt
  ext/xml/tests/bug30266.phpt
  ext/xml/tests/bug32001.phpt
  ext/xml/tests/bug72793.phpt
  ext/xml/tests/set_element_handler_trampoline.phpt
  ext/xml/tests/set_handler_errors.phpt
  ext/xml/tests/xml_set_element_handler_errors.phpt
  ext/xml/tests/xml_set_notation_decl_handler_basic.phpt
  ext/xml/tests/xml_set_object_multiple_times.phpt
  ext/xml/tests/xml_set_object_multiple_times_errors.phpt
  ext/xml/tests/xml_set_processing_instruction_handler_basic.phpt
  ext/xml/xml.c
  ext/xml/xml.stub.php
  ext/xml/xml_arginfo.h
Labels: Extension: xml

#15300 Autotools: Remove DEBUG_CFLAGS
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#15304 Autotools: Sync CS in Zend.m4
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#15302 Autotools: Sync CS in hash extension
  ext/hash/config.m4
Labels: Category: Build System, Extension: hash

#15306 Autotools: Normalize phpdbg list of source files
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#15260 [JIT] Avoid generating fast property assign path for readonly properties
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#15012 Disallow indirect modification on readonly properties within __clone()
  UPGRADING
  Zend/tests/readonly_props/readonly_clone_error5.phpt
  Zend/tests/readonly_props/readonly_clone_error7.phpt
  Zend/tests/readonly_props/readonly_clone_success3.phpt
  Zend/zend_execute.c
  Zend/zend_object_handlers.c
  ext/opcache/jit/zend_jit_ir.c
Labels: Category: Engine, Extension: opcache

#15291 Update sqlite3 and pdo_sqlite preprocessor macros help texts
  ext/pdo_sqlite/config.m4
  ext/pdo_sqlite/config.w32
  ext/pdo_sqlite/pdo_sqlite.stub.php
  ext/pdo_sqlite/pdo_sqlite_arginfo.h
  ext/sqlite3/config.w32
  ext/sqlite3/config0.m4
Labels: Category: Build System, Extension: pdo_sqlite, Extension: sqlite3

#11929 Deprecate mysqli_refresh
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
Labels: Extension: mysqli

#15308 ext/core: Deprecate passing E_USER_ERROR to trigger_error()
  NEWS
  UPGRADING
  Zend/tests/bug33802.phpt
  Zend/tests/fibers/fatal-error-in-fiber.phpt
  Zend/tests/fibers/fatal-error-in-nested-fiber.phpt
  Zend/tests/fibers/fatal-error-with-multiple-fibers.phpt
  Zend/tests/fibers/gh10437.phpt
  Zend/tests/gh10695_7.phpt
  Zend/tests/gh13097_a.phpt
  Zend/tests/nowdoc_015.phpt
  Zend/zend_builtin_functions.c
  ext/standard/tests/streams/gh8409.phpt
  ext/zend_test/tests/observer_error_02.phpt
  ext/zend_test/tests/observer_error_05.phpt
  tests/lang/error_2_exception_001.phpt
Labels: Category: Engine, Extension: standard, Extension: zend_test

#15296 Update gd extension preprocessor macros help texts
  ext/gd/config.m4
  ext/gd/config.w32
Labels: Category: Build System, Extension: gd

#15288 Update mysql preprocessor macros help texts
  ext/mysqli/config.m4
  ext/pdo_mysql/config.m4
  ext/pdo_mysql/pdo_mysql.c
Labels: Category: Build System, Extension: mysqli, Extension: pdo_mysql

#15261 Autotools: Add pkg-config support for NET-SNMP library
  UPGRADING.INTERNALS
  ext/snmp/config.m4
Labels: Category: Build System, Extension: snmp

#11945 Deprecate mysqli_ping
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/mysqli/tests/070.phpt
  ext/mysqli/tests/071.phpt
  ext/mysqli/tests/mysqli_insert_id_variation.phpt
  ext/mysqli/tests/mysqli_max_links.phpt
  ext/mysqli/tests/mysqli_ping.phpt
  ext/mysqli/tests/mysqli_report.phpt
  ext/mysqli/tests/mysqli_report_wo_ps.phpt
Labels: Extension: mysqli

#15310 ext/soap: Deprecate passing an int to SoapServer::addFunction()
  NEWS
  UPGRADING
  ext/soap/soap.c
  ext/soap/soap.stub.php
  ext/soap/soap_arginfo.h
  ext/soap/tests/server003.phpt
Labels: Extension: soap

#11926 Deprecate mysqli_kill
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/mysqli/tests/071.phpt
  ext/mysqli/tests/mysqli_kill.phpt
  ext/mysqli/tests/mysqli_poll_kill.phpt
  ext/mysqli/tests/mysqli_report.phpt
  ext/mysqli/tests/mysqli_stmt_close.phpt
  ext/mysqli/tests/mysqli_stmt_errno.phpt
  ext/mysqli/tests/mysqli_stmt_error.phpt
  ext/mysqli/tests/mysqli_stmt_execute.phpt
  ext/mysqli/tests/mysqli_stmt_fetch.phpt
  ext/mysqli/tests/mysqli_stmt_get_result.phpt
  ext/mysqli/tests/mysqli_thread_id.phpt
Labels: Extension: mysqli, Extension: spl

#15263 Autotools: Fix SNMP checks
  ext/snmp/config.m4
Labels: Category: Build System, Extension: snmp

#15323 Autotools: Refactor mysqli extension checks
  ext/mysqli/config.m4
Labels: Category: Build System, Extension: mysqli

#15326 Fix comments in win32/sendmail.c
  win32/sendmail.c
Labels: OS: Windows

#15327 Fix violation of the one definition rule in ext/com_dotnet
  ext/com_dotnet/php_com_dotnet_internal.h
Labels: OS: Windows, Extension: com_dotnet

#15320 Simplify document standalone setter
  ext/dom/document.c
Labels: Extension: dom

#15275 Fix crash during GC of suspended generator delegate
  Zend/tests/gh15275-001.phpt
  Zend/tests/gh15275-002.phpt
  Zend/tests/gh15275-003.phpt
  Zend/tests/gh15275-004.phpt
  Zend/tests/gh15275-005.phpt
  Zend/tests/gh15275-006.phpt
  Zend/zend_execute.c
  Zend/zend_generators.c
Labels: Category: Engine

#15325 Fix some -Wimplicit-function-declaration errors on Windows
  ext/standard/proc_open.c
  sapi/cli/php_cli_server.c
Labels: OS: Windows, Extension: standard, SAPI: cli

#15329 Declare gdImageGetInterpolationMethod() for bundled GD
  ext/gd/libgd/gd.h
Labels: Extension: gd

#15324 Support somewhat recent clang versions on Windows
  win32/build/confutils.js
Labels: Category: Build System, OS: Windows

#15321 ext/standard: Minor refactoring to URL scanner code
  ext/standard/url_scanner_ex.h
  ext/standard/url_scanner_ex.re
Labels: Extension: standard

#15334 Autotools: Refactor pdo_mysql checks
  ext/pdo_mysql/config.m4
Labels: Category: Build System, Extension: pdo_mysql

#15332 Autotools: Sync CS across the configure.ac
  configure.ac
Labels: Category: Build System

#15336 Autotools: Refactor mysql_config checks in pdo_mysql
  ext/pdo_mysql/config.m4
Labels: Category: Build System, Extension: pdo_mysql

#15286 ValueError on null byte in session_name()
  ext/session/session.c
  ext/session/tests/session_name_variation1.phpt
  ext/session/tests/session_name_variation_null_byte.phpt
Labels: Extension: session

#15340 Autotools: Sync CS in opcache extension
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#15341 Autotools: Sync CS in ext/pcntl
  ext/pcntl/config.m4
Labels: Category: Build System, Extension: pcntl

#15337 session.save_handler - add two uncovered cases
  ext/session/tests/user_session_module/session_set_save_handler_error5.phpt
  ext/session/tests/user_session_module/session_set_save_handler_error6.phpt
Labels: Extension: session

#15342 ext/mysqli: Mark function pointer as returning zend_result
  ext/mysqli/mysqli_driver.c
  ext/mysqli/mysqli_prop.c
  ext/mysqli/mysqli_warning.c
  ext/mysqli/php_mysqli_structs.h
Labels: Extension: mysqli

#15344 Autotools: Remove dependency related errors
  ext/dom/config.m4
  ext/xsl/config.m4
Labels: Category: Build System, Extension: dom, Extension: xsl

#15343 Autotools: Sync CS in extensions
  ext/gettext/config.m4
  ext/iconv/config.m4
  ext/ldap/config.m4
  ext/libxml/config0.m4
  ext/mbstring/config.m4
  ext/odbc/config.m4
  ext/pdo/config.m4
  ext/pdo_dblib/config.m4
  ext/pdo_firebird/config.m4
  ext/readline/config.m4
  ext/sockets/config.m4
  ext/sodium/config.m4
  ext/standard/config.m4
  ext/sysvsem/config.m4
Labels: Category: Build System, Extension: gettext, Extension: iconv, Extension: ldap, Extension: libxml, Extension: mbstring, Extension: odbc, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: readline, Extension: sockets, Extension: sodium, Extension: standard, Extension: sysvsem

#15345 ext/mysqli: Minor refactorings
  ext/mysqli/mysqli.c
  ext/mysqli/mysqli_nonapi.c
Labels: Extension: mysqli

#15347 Autotools: Remove PDO dependency related errors
  ext/pdo_dblib/config.m4
  ext/pdo_firebird/config.m4
  ext/pdo_mysql/config.m4
  ext/pdo_odbc/config.m4
  ext/pdo_pgsql/config.m4
  ext/pdo_sqlite/config.m4
Labels: Category: Build System, Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite

#15349 Add pcre as a configure step dependency to fileinfo
  ext/fileinfo/config.m4
  ext/fileinfo/config.w32
Labels: Category: Build System, Extension: fileinfo

#15356 Update arginfo for mysqli and spl_fixedarray
  ext/mysqli/mysqli_arginfo.h
  ext/spl/spl_fixedarray_arginfo.h
Labels: Extension: mysqli, Extension: spl

#15355 Autotools: Use AS_CASE in ext/pdo_odbc
  ext/pdo_odbc/config.m4
Labels: Category: Build System, Extension: pdo_odbc

#15358 Deprecate MYSQLI_REFRESH_* constants
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
Labels: Extension: mysqli

#15357 Autotools: Refactor iconv implementation checks
  build/php.m4
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

#15350 ext/curl: Add HTTP/3 constants
  NEWS
  UPGRADING
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
Labels: Extension: curl

#15362 ext/(standard|spl): Deprecate passing a non-empty string as the $enclosure parameter
  NEWS
  UPGRADING
  ext/spl/spl_directory.c
  ext/spl/tests/SplFileObject/SplFileObject_fgetcsv_escape_basic.phpt
  ext/spl/tests/SplFileObject/SplFileObject_setCsvControl_basic.phpt
  ext/standard/file.c
  ext/standard/string.c
  ext/standard/tests/file/bug40501.phpt
  ext/standard/tests/file/bug72330.phpt
  ext/standard/tests/file/fputcsv_variation15.phpt
  ext/standard/tests/file/fputcsv_variation17.phpt
  ext/standard/tests/file/fputcsv_variation18.phpt
  ext/standard/tests/strings/gh12151.phpt
  ext/standard/tests/strings/str_getcsv_001.phpt
  ext/standard/tests/strings/str_getcsv_errors.phpt
Labels: Extension: spl, Extension: standard

#15360 Deprecate using "_" as a class name
  NEWS
  UPGRADING
  Zend/tests/class_underscore_as_name.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#15365 ext/standard: Throw ValueErrors in str_getcsv() for invalid inputs
  NEWS
  UPGRADING
  ext/standard/string.c
  ext/standard/tests/strings/gh12151.phpt
  ext/standard/tests/strings/str_getcsv_001.phpt
  ext/standard/tests/strings/str_getcsv_errors.phpt
Labels: Extension: standard

#15364 Autotools: Sync CS in gd extension
  ext/gd/config.m4
Labels: Category: Build System, Extension: gd

#15359 Ensure proper alignment of zend_accel_shared_globals.interned_strings
  ext/opcache/ZendAccelerator.h
Labels: Extension: opcache

#15354 Skip fb4_datatypes*.phpt for Firebird server < 4.0.0
  ext/pdo_firebird/tests/fb4_datatypes.phpt
  ext/pdo_firebird/tests/fb4_datatypes_params.phpt
Labels: Extension: pdo_firebird

#14657 Show build provider and unify version information printing
  main/main.c
  main/php_main.h
  sapi/cgi/cgi_main.c
  sapi/cgi/tests/001.phpt
  sapi/cli/php_cli.c
  sapi/cli/tests/001.phpt
  sapi/fpm/fpm/fpm_main.c
  sapi/litespeed/lsapi_main.c
  sapi/phpdbg/phpdbg.c
Labels: SAPI: fpm, SAPI: cgi, SAPI: cli, SAPI: litespeed, SAPI: phpdbg

#15368 Autotools: Wrap long texts with m4_text_wrap
  build/php.m4
  configure.ac
  ext/opcache/config.m4
  ext/sysvmsg/config.m4
  sapi/apache2handler/config.m4
  sapi/fuzzer/config.m4
Labels: Category: Build System, Extension: opcache, Extension: sysvmsg, SAPI: apache2handler, SAPI: fuzzer

#15370 Autotools: Check cli SAPI configure checks conditionally
  sapi/cli/config.m4
Labels: Category: Build System, SAPI: cli

#15373 Autotools: Fix phpdbg build
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#15371 Autotools: Fix pdo_firebird shared build
  ext/pdo_firebird/config.m4
Labels: Category: Build System, Extension: pdo_firebird

#15369 Deprecate Soft-deprecated DOMDocument and DOMEntity properties
  UPGRADING
  ext/dom/document.c
  ext/dom/dom_properties.h
  ext/dom/entity.c
  ext/dom/php_dom.c
  ext/dom/tests/DOMDocument_config_basic.phpt
  ext/dom/tests/DOMEntity_fields.phpt
  ext/dom/tests/domobject_debug_handler.phpt
Labels: Extension: dom

#15244 Reset seen symbols when ending namespace
  NEWS
  UPGRADING
  Zend/tests/use_function/ns_end_resets_seen_symbols_1.phpt
  Zend/tests/use_function/ns_end_resets_seen_symbols_2.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#15366 ext/standard/info.c: Various refactoring
  ext/standard/info.c
Labels: Extension: standard

#15382 Completely remove session.sid_length and session.sid_bits_per_character from INI files
  php.ini-development
  php.ini-production
Labels: Extension: session

#15389 Drop FASTCALL on variadic functions
  Zend/zend_ast.c
  Zend/zend_ast.h
Labels: Category: Engine

#15383 Fix test expectation for "Built by..."
  sapi/fpm/tests/main-version.phpt
Labels: SAPI: fpm

#15387 Autotools: Use AS_* macros in embed SAPI
  sapi/embed/config.m4
Labels: Category: Build System

#15380 Add configure phase dependencies to mysqlnd extension
  ext/mysqlnd/config.w32
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: mysqlnd

#14562 Disable LSAN for crashing SOAP tests
  ext/soap/tests/bugs/bug27722.phpt
  ext/soap/tests/bugs/bug27742.phpt
  ext/soap/tests/server011.phpt
  ext/soap/tests/server012.phpt
Labels: Extension: soap

#15393 Replace uses of php_dirname() with zend_dirname()
  ext/spl/spl_directory.c
  ext/standard/link.c
  ext/xmlwriter/php_xmlwriter.c
  ext/zip/php_zip.c
  sapi/cli/php_cli_server.c
Labels: Extension: spl, Extension: standard, Extension: xmlwriter, Extension: zip, SAPI: cli

#13483 [RFC] Convert exit (and die) from language constructs to functions
  Zend/Optimizer/block_pass.c
  Zend/Optimizer/pass1.c
  Zend/Optimizer/pass3.c
  Zend/Optimizer/zend_call_graph.c
  Zend/Optimizer/zend_cfg.c
  Zend/tests/arginfo_zpp_mismatch.inc
  Zend/tests/die_string_cast_exception.phpt
  Zend/tests/exit/ast_print_assert_die_const.phpt
  Zend/tests/exit/ast_print_assert_die_function.phpt
  Zend/tests/exit/ast_print_assert_exit_const.phpt
  Zend/tests/exit/ast_print_assert_exit_function.phpt
  Zend/tests/exit/define_class_members_exit_die.phpt
  Zend/tests/exit/define_die_constant.phpt
  Zend/tests/exit/define_die_constant_namespace.phpt
  Zend/tests/exit/define_die_function.phpt
  Zend/tests/exit/define_die_function_namespace.phpt
  Zend/tests/exit/define_exit_constant.phpt
  Zend/tests/exit/define_exit_constant_namespace.phpt
  Zend/tests/exit/define_exit_function.phpt
  Zend/tests/exit/define_exit_function_namespace.phpt
  Zend/tests/exit/define_goto_label_die.phpt
  Zend/tests/exit/define_goto_label_die_with_jump.phpt
  Zend/tests/exit/define_goto_label_exit.phpt
  Zend/tests/exit/define_goto_label_exit_with_jump.phpt
  Zend/tests/exit/die_string_cast_exception.phpt
  Zend/tests/exit/disabling_die.phpt
  Zend/tests/exit/disabling_exit.phpt
  Zend/tests/exit/exit_as_function.phpt
  Zend/tests/exit/exit_statements.phpt
  Zend/tests/exit/exit_string_with_buffer_output.phpt
  Zend/tests/exit/exit_values.phpt
  Zend/zend_API.c
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
  Zend/zend_compile.c
  Zend/zend_language_parser.y
  Zend/zend_string.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_handlers.h
  Zend/zend_vm_opcodes.c
  Zend/zend_vm_opcodes.h
  build/gen_stub.php
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/tests/jit/ignored_opcodes.phpt
  ext/standard/tests/array/array_filter_variation9.phpt
  ext/standard/tests/array/array_map_variation16.phpt
  sapi/phpdbg/phpdbg_prompt.c
Labels: RFC, Category: Build System, Category: Engine, Extension: ftp, Extension: opcache, Extension: standard, Extension: tokenizer, SAPI: phpdbg, Category: Optimizer

#15404 hash: Consistently check for PHP_HASH_INTRIN_SHA_* to guard compilation of SHA256_Transform_shani
  NEWS
  ext/hash/hash_sha_ni.c
  ext/hash/php_hash_sha.h
Labels: Extension: hash

#15396 Autotools: Substitute PHP_EMBED_TYPE conditionally
  sapi/embed/config.m4
Labels: Category: Build System

#15399 Remove detection of unsupported Windows versions
  ext/standard/info.c
Labels: Extension: standard

#15411 Autotools: Fix typo in FPM TCP_CONNECTION_INFO check
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#15402 ext/standard/php_string.h: Remove declarations that have no implementation
  ext/standard/php_string.h
Labels: Extension: standard

#15401 ext/dba: Remove arg num check prior to ZPP checks
  ext/dba/dba.c
Labels: Extension: dba

#15409 Autotools: Sync CS in sapi/litespeed
  sapi/litespeed/config.m4
Labels: Category: Build System, SAPI: litespeed

#15410 Autotools: Sync CS in sapi/cli
  sapi/cli/config.m4
Labels: Category: Build System, SAPI: cli

#15398 Fix format specifiers and arguments in com_dotnet
  ext/com_dotnet/com_com.c
  ext/com_dotnet/com_dotnet.c
  ext/com_dotnet/com_typeinfo.c
  ext/com_dotnet/com_wrapper.c
  ext/com_dotnet/tests/lookup_error.phpt
Labels: Extension: com_dotnet

#15417 Autotools: Sync CS in sapi/fuzzer
  sapi/fuzzer/config.m4
Labels: Category: Build System, SAPI: fuzzer

#15412 Autotools: Sync CS in fpm SAPI
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#15414 Autotools: Fix PHP_EMBED_TYPE variable substitution
  sapi/embed/config.m4
Labels: Category: Build System

#15338 session_create_id - error message for large prefix
  ext/session/session.c
  ext/session/tests/session_create_id_invalid_prefix.phpt
Labels: Extension: session

#15418 ext/opcache/ZendAccelerator.c: Restrict MD5 header include to Windows
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#15415 Explicitly drop support for old clang versions on Windows
  win32/build/confutils.js
Labels: Category: Build System

#15441 libtool: Don't remove gcov *.gcno file
  build/ltmain.sh
Labels: Category: Build System

#15407 Autotools: Sync CS in sapi/cgi
  sapi/cgi/config9.m4
Labels: Category: Build System, SAPI: cgi

#15423 Autotools: Use AS_* macros in apache2handler SAPI
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#15430 Autotools: Fix external PCRE JIT check
  ext/pcre/config0.m4
Labels: Category: Build System, Extension: pcre

#15408 Fix MSan false-positive in zend_max_execution_timer
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

#15446 GH-15440: adding CURLOPT_TCP_KEEPCNT constant (8.9.0)
  NEWS
  UPGRADING
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/interface.c
Labels: Extension: curl

#15447 Fix broken GCC compatibility
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

#15433 PHP 8.4 | Exit as function: fix incorrect parameter name
  Zend/tests/exit/die_string_cast_exception.phpt
  Zend/tests/exit/exit_as_function.phpt
  Zend/tests/exit/exit_named_arg.phpt
  Zend/tests/exit/exit_values.phpt
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
Labels: Category: Engine

#15444 Autotools: Simplify PHP_SELECT_SAPI in apache2handler SAPI
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#15449 Add hash extension to soap dependencies
  ext/soap/config.m4
  ext/soap/config.w32
Labels: Category: Build System, Extension: soap

#15453 Autotools: Remove redundant SAPI_SHARED assignment
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#15454 Autotools: Replace obsolete backticks with $(...) in apache2handler
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#15461 Drop support for MYSQL_TEST_SKIP_CONNECT_FAILURE
  ext/mysqli/tests/connect.inc
  ext/mysqli/tests/skipifconnectfailure.inc
Labels: Extension: mysqli

#15464 Remove PHP 6 leftovers and fix mysqli tests
  ext/mysqli/tests/mysqli_fetch_all_oo.phpt
  ext/mysqli/tests/mysqli_fetch_array.phpt
  ext/mysqli/tests/mysqli_fetch_array_oo.phpt
  ext/mysqli/tests/mysqli_get_charset.phpt
  ext/mysqli/tests/mysqli_get_client_stats.phpt
  ext/mysqli/tests/mysqli_stmt_bind_result.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_types.phpt
Labels: Extension: mysqli

#15466 Autotools: Sync CS in pdo_odbc
  ext/pdo_odbc/config.m4
Labels: Category: Build System, Extension: pdo_odbc

#15463 Autotools: Remove PHP_LIBDIR adjustment in pdo_dblib
  ext/pdo_dblib/config.m4
Labels: Category: Build System, Extension: pdo_dblib

#15469 Update ext/mbstring and ext/snmp dependencies
  ext/mbstring/config.m4
  ext/mbstring/config.w32
  ext/snmp/config.m4
  ext/snmp/config.w32
Labels: Category: Build System, Extension: mbstring, Extension: snmp

#14660 ext/bcmath: Optimize `bcdiv` processing
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/div.c
Labels: Extension: bcmath

#15467 Drop support for MYSQL_TEST_EXPERIMENTAL
  ext/mysqli/tests/connect.inc
  ext/mysqli/tests/mysqli_class_mysqli_result_interface.phpt
  ext/mysqli/tests/mysqli_get_warnings.phpt
  ext/mysqli/tests/mysqli_warning_unclonable.phpt
  ext/mysqli/tests/test_setup/test_helpers.inc
Labels: Extension: mysqli
