Repository php/php-src, pull requests merged in 2024-07, with the labels that each got.

#14740 Remove unused defined CPP macros in fpm SAPI
  UPGRADING.INTERNALS
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14743 Autotools: Quote AC_SUBST arguments
  configure.ac
Labels: Category: Build System

#14746 Sync PHP_SUBST_OLD
  build/php.m4
  configure.ac
Labels: Category: Build System

#14752 Update include declaration in Dom css selectors
  ext/dom/lexbor/lexbor/selectors-adapted/selectors.c
  ext/dom/xpath_callbacks.h
Labels: Category: Build System, Extension: dom

#14751 Autotools: Sync PHP_SUBST in ext/gd
  ext/gd/config.m4
Labels: Category: Build System, Extension: gd

#14753 Autotools: Sync PHP_SUBST in sapi
  sapi/apache2handler/config.m4
  sapi/cgi/config9.m4
  sapi/cli/config.m4
  sapi/embed/config.m4
  sapi/fpm/config.m4
  sapi/fuzzer/config.m4
  sapi/litespeed/config.m4
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: fpm, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

#14749 Autotools: Sync PHP_SUBST in ext/odbc
  ext/odbc/config.m4
Labels: Category: Build System, Extension: odbc

#14755 Use pattern tags for NDBM ext/dba/tests
  ext/dba/tests/dba_ndbm.phpt
Labels: Extension: dba

#14756 Sync PHP_SUBST in phpize.m4
  scripts/phpize.m4
Labels: Category: Build System

#14759 Remove unused PTHREADS CPP macro definition
  TSRM/tsrm.m4
  UPGRADING.INTERNALS
Labels: Category: Build System

#14737 Autotools: Move openpty check to libraries section
  configure.ac
Labels: Category: Build System

#14758 Autotools: Quote PHP_SUBST arguments in php.m4
  build/php.m4
Labels: Category: Build System

#14757 Autotools: Quote PHP_SUBST arguments in configure.ac
  configure.ac
Labels: Category: Build System

#14748 Autotools: Quote PHP_SUBST arguments in extensions
  ext/bz2/config.m4
  ext/curl/config.m4
  ext/dba/config.m4
  ext/dom/config.m4
  ext/enchant/config.m4
  ext/ffi/config.m4
  ext/ftp/config.m4
  ext/gettext/config.m4
  ext/gmp/config.m4
  ext/iconv/config.m4
  ext/intl/config.m4
  ext/ldap/config.m4
  ext/mbstring/config.m4
  ext/opcache/config.m4
  ext/openssl/config0.m4
  ext/pdo_dblib/config.m4
  ext/pdo_firebird/config.m4
  ext/pdo_mysql/config.m4
  ext/pdo_odbc/config.m4
  ext/pdo_sqlite/config.m4
  ext/readline/config.m4
  ext/session/config.m4
  ext/simplexml/config.m4
  ext/skeleton/config.m4.in
  ext/snmp/config.m4
  ext/soap/config.m4
  ext/sodium/config.m4
  ext/sqlite3/config0.m4
  ext/tidy/config.m4
  ext/xml/config.m4
  ext/xmlreader/config.m4
  ext/xmlwriter/config.m4
  ext/xsl/config.m4
  ext/zip/config.m4
Labels: Category: Build System, Extension: openssl, Extension: intl, Extension: bz2, Extension: curl, Extension: dba, Extension: dom, Extension: enchant, Extension: ffi, Extension: ftp, Extension: gettext, Extension: gmp, Extension: iconv, Extension: ldap, Extension: mbstring, Extension: opcache, Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_sqlite, Extension: readline, Extension: session, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sodium, Extension: sqlite3, Extension: tidy, Extension: xml, Extension: xmlreader, Extension: xmlwriter, Extension: xsl, Extension: zip

#14762 Autotools: Remove unused PHPDBG_SHARED compile definition
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#14764 Autotools: Simplify SAPI configure log check messages
  sapi/apache2handler/config.m4
  sapi/cgi/config9.m4
  sapi/cli/config.m4
  sapi/embed/config.m4
  sapi/fpm/config.m4
  sapi/litespeed/config.m4
Labels: Category: Build System, SAPI: fpm, SAPI: apache2handler, SAPI: cgi, SAPI: cli, SAPI: litespeed

#14760 Remove unused ZEND_JIT_IR
  ext/opcache/config.m4
  ext/opcache/config.w32
Labels: Category: Build System, Extension: opcache

#11293 RFC: Add `#[\Deprecated]` Attribute
  NEWS
  UPGRADING
  Zend/Optimizer/optimize_func_calls.c
  Zend/tests/attributes/deprecated/class_constants/001.phpt
  Zend/tests/attributes/deprecated/class_constants/101.phpt
  Zend/tests/attributes/deprecated/class_constants/deprecated_constant_as_message_001.phpt
  Zend/tests/attributes/deprecated/class_constants/deprecated_constant_as_message_002.phpt
  Zend/tests/attributes/deprecated/class_constants/deprecated_constant_as_message_003.phpt
  Zend/tests/attributes/deprecated/class_constants/error_code_001.phpt
  Zend/tests/attributes/deprecated/class_constants/value_unknown_at_compile_time_001.phpt
  Zend/tests/attributes/deprecated/functions/001.phpt
  Zend/tests/attributes/deprecated/functions/deprecated_handler_001.phpt
  Zend/tests/attributes/deprecated/functions/deprecated_handler_002.phpt
  Zend/tests/attributes/deprecated/functions/deprecated_handler_003.phpt
  Zend/tests/attributes/deprecated/functions/error_code_001.phpt
  Zend/tests/attributes/deprecated/functions/message_004.phpt
  Zend/tests/attributes/deprecated/functions/message_005.phpt
  Zend/tests/attributes/deprecated/functions/throwing_error_handler_001.phpt
  Zend/tests/attributes/deprecated/functions/throwing_error_handler_002.phpt
  Zend/tests/attributes/deprecated/functions/throwing_error_handler_003.phpt
  Zend/tests/attributes/deprecated/message_001.phpt
  Zend/tests/attributes/deprecated/message_002.phpt
  Zend/tests/attributes/deprecated/message_003.phpt
  Zend/tests/attributes/deprecated/message_004.phpt
  Zend/tests/attributes/deprecated/property_readonly_001.phpt
  Zend/tests/attributes/deprecated/property_readonly_002.phpt
  Zend/tests/attributes/deprecated/property_readonly_003.phpt
  Zend/tests/attributes/deprecated/type_validation_001.phpt
  Zend/tests/attributes/deprecated/type_validation_002.phpt
  Zend/tests/attributes/deprecated/type_validation_003.phpt
  Zend/tests/attributes/deprecated/type_validation_004.phpt
  Zend/zend_attributes.c
  Zend/zend_attributes.h
  Zend/zend_attributes.stub.php
  Zend/zend_attributes_arginfo.h
  Zend/zend_compile.c
  Zend/zend_constants.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_string.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  build/gen_stub.php
  ext/opcache/jit/zend_jit_ir.c
  ext/reflection/tests/ReflectionAttribute_newInstance_deprecated.phpt
  ext/reflection/tests/ReflectionClassConstant_isDeprecated_userland.phpt
  ext/reflection/tests/ReflectionFunction_isDeprecated_userland.phpt
  ext/reflection/tests/ReflectionMethod_isDeprecated_interface.phpt
  ext/reflection/tests/ReflectionMethod_isDeprecated_parent.phpt
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/attribute-deprecated.phpt
Labels: RFC, Category: Build System, Category: Engine, Extension: opcache, Extension: reflection, Extension: zend_test, Category: Optimizer

#14763 Autotools: Refactor PS_STRINGS check in cli
  sapi/cli/config.m4
Labels: Category: Build System, SAPI: cli

#14765 Autotools: Refactor PEAR check
  configure.ac
Labels: Category: Build System

#14767 sapi/cli: setting process name little optimisation.
  sapi/cli/ps_title.c
Labels: SAPI: cli

#14770 Add zend_hash_get_current_pos_ex()
  UPGRADING.INTERNALS
  Zend/zend_hash.c
  Zend/zend_hash.h
Labels: Category: Engine

#13664 [part of RFC] Add Dom\TokenList
  ext/dom/config.m4
  ext/dom/config.w32
  ext/dom/dom_ce.h
  ext/dom/dom_properties.h
  ext/dom/element.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/modern/token_list/add.phpt
  ext/dom/tests/modern/token_list/add_errors.phpt
  ext/dom/tests/modern/token_list/attlist.phpt
  ext/dom/tests/modern/token_list/change_attribute.phpt
  ext/dom/tests/modern/token_list/clone.phpt
  ext/dom/tests/modern/token_list/contains.phpt
  ext/dom/tests/modern/token_list/contains_empty.phpt
  ext/dom/tests/modern/token_list/contains_error.phpt
  ext/dom/tests/modern/token_list/count.phpt
  ext/dom/tests/modern/token_list/debug.phpt
  ext/dom/tests/modern/token_list/dimensions.phpt
  ext/dom/tests/modern/token_list/dimensions_error.phpt
  ext/dom/tests/modern/token_list/entities.phpt
  ext/dom/tests/modern/token_list/equality.phpt
  ext/dom/tests/modern/token_list/foreach_by_ref.phpt
  ext/dom/tests/modern/token_list/getIterator.phpt
  ext/dom/tests/modern/token_list/item.phpt
  ext/dom/tests/modern/token_list/iteration_01.phpt
  ext/dom/tests/modern/token_list/iteration_02.phpt
  ext/dom/tests/modern/token_list/iterator_modification_invalidation.phpt
  ext/dom/tests/modern/token_list/remove.phpt
  ext/dom/tests/modern/token_list/remove_errors.phpt
  ext/dom/tests/modern/token_list/removed_element.phpt
  ext/dom/tests/modern/token_list/replace.phpt
  ext/dom/tests/modern/token_list/replace_error.phpt
  ext/dom/tests/modern/token_list/supports.phpt
  ext/dom/tests/modern/token_list/toggle.phpt
  ext/dom/tests/modern/token_list/toggle_error.phpt
  ext/dom/tests/modern/token_list/value_edge_cases.phpt
  ext/dom/token_list.c
  ext/dom/token_list.h
  ext/libxml/libxml.c
  ext/libxml/php_libxml.h
Labels: RFC, Category: Build System, Extension: dom, Extension: libxml

#14766 Autotools: Sync PHP_ADD_MAKEFILE_FRAGMENT
  build/php.m4
  configure.ac
  ext/json/config.m4
  ext/opcache/config.m4
  sapi/cgi/config9.m4
  sapi/cli/config.m4
  sapi/fuzzer/config.m4
  sapi/litespeed/config.m4
  sapi/phpdbg/config.m4
Labels: Category: Build System, Extension: json, Extension: opcache, SAPI: cgi, SAPI: cli, SAPI: fuzzer, SAPI: litespeed, SAPI: phpdbg

#14781 Autotools: Refactor PCRE JIT checks
  ext/pcre/config0.m4
Labels: Category: Build System, Extension: pcre

#14782 Autotools: Refactor IPv6 check
  configure.ac
Labels: Category: Build System

#14771 Fix stack limit on ASAN/MSAN
  Zend/Zend.m4
  Zend/tests/stack_limit/stack_limit_001.phpt
  Zend/tests/stack_limit/stack_limit_002.phpt
  Zend/tests/stack_limit/stack_limit_003.phpt
  Zend/tests/stack_limit/stack_limit_004.phpt
  Zend/tests/stack_limit/stack_limit_006.phpt
  Zend/tests/stack_limit/stack_limit_007.phpt
  Zend/tests/stack_limit/stack_limit_008.phpt
  Zend/tests/stack_limit/stack_limit_009.phpt
  Zend/tests/stack_limit/stack_limit_011.phpt
  Zend/tests/stack_limit/stack_limit_012.phpt
  Zend/tests/stack_limit/stack_limit_013.inc
  Zend/tests/stack_limit/stack_limit_014.inc
  Zend/tests/stack_limit/stack_limit_014.phpt
  Zend/zend.c
  Zend/zend_call_stack.c
  Zend/zend_compile.c
  Zend/zend_execute.c
Labels: Category: Build System, Category: Engine

#14783 Autotools: Refactor getaddrinfo check
  configure.ac
Labels: Category: Build System

#14784 Autotools: Refactor cache variables in configure.ac and ext/ldap
  configure.ac
  ext/ldap/config.m4
Labels: Category: Build System, Extension: ldap

#14804 Minor cleanups in ext/xml
  ext/xml/compat.c
Labels: Extension: xml

#14812 Fix uninitialized (dummy) memory in php_strtr_array()
  ext/standard/string.c
Labels: Extension: standard

#14754 [part of RFC] Implement PHP-specific extensions to Dom
  ext/dom/dom_ce.h
  ext/dom/dom_properties.h
  ext/dom/element.c
  ext/dom/php_dom.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/tests/modern/extensions/Element_getDescendantNamespaces.phpt
  ext/dom/tests/modern/extensions/Element_getInScopeNamespaces.phpt
  ext/dom/tests/modern/extensions/Element_renaming_html_ns_01.phpt
  ext/dom/tests/modern/extensions/Element_renaming_html_ns_02.phpt
  ext/dom/tests/modern/extensions/Element_substitutedNodeValue.phpt
  ext/dom/tests/modern/extensions/attribute_renaming_conflict.phpt
  ext/dom/tests/modern/extensions/node_renaming.phpt
  ext/dom/tests/modern/extensions/node_renaming_validation_errors.phpt
Labels: RFC, Extension: dom

#14799 Autotools: Refactor ext/standard cache variables
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14800 Autotools: Refactor ext/standard strptime check
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14797 Fix GH-14792: Compilation failure on pdo_* extensions
  NEWS
  ext/pdo/config.m4
  ext/pdo/config.w32
Labels: Category: Build System, Extension: pdo (core)

#13693 Fix GH-13688: Test curl_basic_008 can fail
  ext/curl/tests/curl_basic_008.phpt
Labels: Extension: curl

#14819 Autotools: Refactor PHP_TEST_WRITE_STDOUT check
  build/php.m4
Labels: Category: Build System

#14820 Autotools: Refactor crypt_r style check
  build/php.m4
Labels: Category: Build System

#14821 Remove HAVE_STRPTIME_DECL_FAILS
  UPGRADING.INTERNALS
  ext/standard/config.m4
  ext/standard/datetime.c
Labels: Category: Build System, Extension: standard

#14829 Fix stack limit on MSAN
  Zend/zend.c
Labels: Category: Engine

#14828 Autotools: Refactor PHP_FPM_LQ checks
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14825 Autotools: Refactor PHP_FPM_BUILTIN_ATOMIC
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14823 Autotools: Refactor PHP_TIME_R_TYPE check
  build/php.m4
Labels: Category: Build System

#14824 Autotools: Refactor PHP_BROKEN_GCC_STRLEN_OPT
  build/php.m4
  configure.ac
Labels: Category: Build System

#14810 Update MSVC compiler version detection
  win32/build/confutils.js
Labels: Category: Build System

#14826 Fix GH-14798: Valgrind and address sanitizer are not compatible
  configure.ac
Labels: Category: Build System

#14832 Autotools: Move crypt_r check
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14831 Autotools: Refactor AVX-512 checks
  UPGRADING.INTERNALS
  Zend/zend_cpuinfo.h
  Zend/zend_portability.h
  build/php.m4
Labels: Category: Build System, Category: Engine

#14830 Autotools: Refactor mach_vm_read check in FPM
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14818 Fix stack limit under valgrind
  Zend/zend_call_stack.c
Labels: Category: Engine

#14838 Autotools: Sync CS in phpize and configure.ac
  configure.ac
  scripts/phpize.m4
Labels: Category: Build System

#14840 ext/xml: Use zend_hash_find_ptr_lc() to avoid allocation in some cases
  ext/xml/xml.c
Labels: Extension: xml

#14801 Fix build for armv7
  main/debug_gdb_scripts.c
  scripts/gdb/debug_gdb_scripts_gen.php
Labels: Category: Build System

#14844 Add LIBXML_NO_XXE constant
  NEWS
  UPGRADING
  ext/dom/tests/modern/xml/XMLDocument_fromString_03.phpt
  ext/dom/tests/xml_parsing_LIBXML_NO_XXE.phpt
  ext/dom/xml_document.c
  ext/libxml/libxml.stub.php
  ext/libxml/libxml_arginfo.h
  ext/simplexml/tests/xml_parsing_LIBXML_NO_XXE.phpt
Labels: Extension: dom, Extension: libxml, Extension: simplexml

#14845 Fix bug #81481 (xml_get_current_byte_index limited to 32-bit numbers on 64-bit builds)
  NEWS
  UPGRADING.INTERNALS
  ext/xml/compat.c
  ext/xml/expat_compat.h
  ext/xml/tests/bug81481.phpt
Labels: Extension: xml

#14728 Check session_create_id() input for null byte
  ext/session/session.c
  ext/session/tests/session_create_id_basic.phpt
  ext/session/tests/session_create_id_invalid_prefix.phpt
Labels: Extension: session

#14850 Fix some Clang-tidy warnings in simplexml
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#14848 Remove unused SMART_STR_PREALLOC
  ext/curl/interface.c
  ext/mysqlnd/mysqlnd_alloc.c
  ext/pgsql/pgsql.c
Labels: Extension: curl, Extension: mysqlnd, Extension: pgsql

#14854 Update http links to https and sync www.php.net URLs
  README.md
  Zend/Zend.m4
  ext/intl/dateformat/datepatterngenerator_class.cpp
  ext/intl/dateformat/datepatterngenerator_class.h
  ext/intl/dateformat/datepatterngenerator_methods.cpp
  ext/pdo/pdo_sql_parser.h
  ext/pdo_pgsql/pgsql_sql_parser.re
  ext/phar/phar.1.in
  ext/phar/phar.c
  ext/session/mod_files.sh
  main/safe_bcmp.c
  run-tests.php
  sapi/cgi/cgi_main.c
  sapi/cli/php.1.in
  sapi/fpm/php-fpm.8.in
  sapi/fpm/status.html.in
  sapi/phpdbg/phpdbg.1.in
  scripts/dev/genfiles
  win32/build/config.w32
  win32/build/config.w32.phpize.in
Labels: Category: Build System, SAPI: fpm, Category: Engine, Extension: intl, Extension: pdo (core), Extension: pdo_pgsql, Extension: phar, Extension: session, SAPI: cgi, SAPI: cli, SAPI: phpdbg

#14526 Enable erase_empty_line in ext/readline
  ext/readline/config.m4
  ext/readline/readline.c
  ext/readline/tests/libedit_info_001.phpt
  ext/readline/tests/readline_info_001.phpt
Labels: Category: Build System, Extension: readline

#14858 ext/sockets: socket_get_option/socket_set_option SO_LINGER_SEC.
  ext/sockets/sockets.c
Labels: Extension: sockets

#14857 Autotools: Sync HAVE_ERASE_EMPTY_LINE help text
  ext/readline/config.m4
Labels: Category: Build System, Extension: readline

#14856 Autotools: Refactor crypt check in ext/standard
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14855 Autotools: Simplify POSIX Threads check
  TSRM/tsrm.m4
  UPGRADING.INTERNALS
  build/php.m4
  configure.ac
Labels: Category: Build System

#14726 Autotools: Refactor dmalloc check
  configure.ac
Labels: Category: Build System

#14664 Remove support for EOL Apache 2.0 and 2.2 in favor of 2.4+
  UPGRADING
  UPGRADING.INTERNALS
  configure.ac
  ext/standard/credits_sapi.h
  sapi/apache2handler/CREDITS
  sapi/apache2handler/config.m4
  sapi/apache2handler/config.w32
  sapi/apache2handler/php_apache.h
  sapi/apache2handler/php_functions.c
  sapi/apache2handler/sapi_apache2.c
Labels: Category: Build System, Extension: standard, SAPI: apache2handler

#14864 Remove unused HAVE_PHPDBG
  UPGRADING.INTERNALS
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#14865 Autotools: Refactor phpdbg POSIX Threads checks
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#14868 Fix AS_VAR_* checks
  configure.ac
  sapi/apache2handler/config.m4
  scripts/phpize.m4
Labels: Category: Build System, SAPI: apache2handler

#14853 Add link to FPM docs in FPM man page
  sapi/fpm/php-fpm.8.in
Labels: SAPI: fpm

#14870 Improve error message for too long file in ext/tidy
  ext/tidy/tests/parsing_file_too_large.phpt
  ext/tidy/tidy.c
Labels: Extension: tidy

#14871 Throw an exception when using the namespace axis in XPath in modern DOM
  ext/dom/tests/modern/xml/XMLDocument_xpath.phpt
  ext/dom/xpath.c
Labels: Extension: dom

#12659 Clean and sync debugging C flags
  Zend/Zend.m4
  configure.ac
Labels: Category: Build System, Category: Engine

#14173 Check Apache HTTP Server command-line utility
  build/php.m4
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#14690 Handle BSD checksum and file utilities
  scripts/dev/gen_verify_stub
  scripts/dev/makedist
Labels: Category: Build System

#14863 Autotools: Remove obsolete crypt link override due to OpenSSL
  configure.ac
Labels: Category: Build System

#14835 Autotools: Refactor builtin checks
  UPGRADING.INTERNALS
  Zend/zend_call_stack.h
  Zend/zend_cpuinfo.h
  Zend/zend_multiply.h
  Zend/zend_operators.h
  Zend/zend_portability.h
  build/php.m4
  configure.ac
  ext/mbstring/libmbfl/filters/mbfilter_utf16.c
  ext/opcache/jit/zend_jit_ir.c
Labels: Category: Build System, Category: Engine, Extension: mbstring, Extension: opcache

#14852 tsrm_realpath_r for win32 mountpoints copy little optimisations.
  Zend/zend_virtual_cwd.c
Labels: Category: Engine

#14880 Simplify a duplicate declaration
  Zend/zend_alloc.c
Labels: Category: Engine

#14881 Autotools: Use FPM_EXTRA_LIBS for ACL library
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14887 ext/gd minor corrections concerning image format id for errors.
  ext/gd/gd.c
Labels: Extension: gd

#14904 Autotools: Move php_shtool variable initialization to PHP_INIT_BUILD_SYSTEM
  build/php.m4
  configure.ac
  scripts/phpize.m4
Labels: Category: Build System

#14907 Autotools: Refactor ptrace check for PHP-FPM
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14802 ext/bcmath: Added scale to bc_compare argument
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/compare.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/raisemod.c
  ext/bcmath/libbcmath/src/sqrt.c
  ext/bcmath/libbcmath/src/sub.c
Labels: Extension: bcmath

#14898 Update config.guess to 2024-01-01 and config.sub to 2024-01-01
  build/config.guess
  build/config.sub
Labels: Category: Build System

#14925 sapi/apache2handler: function using char * to const char *.
  sapi/apache2handler/php_functions.c
Labels: SAPI: apache2handler

#14929 Autotools: Fix config.status script syntax
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#14923 Autotools: Sync CS for PHP_EBCDIC and PHP_C_BIGENDIAN
  build/php.m4
Labels: Category: Build System

#14934 sapi/apache: AP_MPMQ_MAX_THREADS is always available.
  sapi/apache2handler/sapi_apache2.c
Labels: SAPI: apache2handler

#14921 Avoid reconciling when cloning into the same document
  ext/dom/php_dom.c
Labels: Extension: dom

#14928 Autotools: Refactor oniguruma invalid KOI8 check
  ext/mbstring/config.m4
Labels: Category: Build System, Extension: mbstring

#14924 Autotools: Enhance PHP_EVAL_LIBLINE M4 macro
  UPGRADING.INTERNALS
  build/php.m4
Labels: Category: Build System

#14883 Autotools: Use FPM_EXTRA_LIBS for systemd library
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14884 Autotools: Use FPM_EXTRA_LIBS for apparmor library
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14885 Autotools: Use FPM_EXTRA_LIBS for SELinux library
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14936 Autotools: Use LIBS for appending -lonig
  ext/mbstring/config.m4
Labels: Category: Build System, Extension: mbstring

#14935 Autotools: Refactor PDO_ODBC_CHECK_HEADER
  ext/pdo_odbc/config.m4
Labels: Category: Build System, Extension: pdo_odbc

#14941 Make ext/fileinfo/generate_patch.sh simpler to use
  .gitignore
  ext/fileinfo/generate_patch.sh
Labels: Extension: fileinfo

#14946 Autotools: Trim redundant newlines in PHP_ADD_BUILD_DIR
  build/php.m4
Labels: Category: Build System

#14948 Autotools: Refactor curl config.m4
  ext/curl/config.m4
  ext/curl/config.w32
Labels: Category: Build System, Extension: curl

#14947 Autotools: Quote all PHP_ADD_BUILD_DIR arguments
  build/php.m4
  docs-old/unix-build-system.md
  ext/bcmath/config.m4
  ext/date/config0.m4
  ext/dba/config.m4
  ext/dom/config.m4
  ext/fileinfo/config.m4
  ext/gd/config.m4
  ext/hash/config.m4
  ext/intl/config.m4
  ext/mbstring/config.m4
  ext/opcache/config.m4
  ext/pcre/config0.m4
  ext/standard/config.m4
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm, Extension: intl, Extension: bcmath, Extension: date, Extension: dba, Extension: dom, Extension: fileinfo, Extension: gd, Extension: hash, Extension: mbstring, Extension: opcache, Extension: pcre, Extension: standard

#14949 Autotools: Refactor PHP-FPM /proc/pid filename check
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14952 Add cachegrind support for php-cgi warmups
  configure.ac
  sapi/cgi/cgi_main.c
Labels: Category: Build System, SAPI: cgi

#14950 Autotools: Quote RE2C_FLAGS argument
  build/php.m4
Labels: Category: Build System

#14955 Fix #78757: Enhance sendmail log notice
  build/php.m4
Labels: Category: Build System

#14958 Update fuzzer parser dict for property hooks words
  sapi/fuzzer/dict/parser
Labels: SAPI: fuzzer

#14956 Autotools: Sync LIBS and LDFLAGS handling
  configure.ac
Labels: Category: Build System

#14959 ext/standard: change `highlight_string()`/`print_r` stub return type from `string|bool` to `string|true`
  UPGRADING
  Zend/Optimizer/zend_func_infos.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Extension: standard, Category: Optimizer

#14963 Check for iODBC and unixODBC with pkg-config in PDO_ODBC
  ext/pdo_odbc/config.m4
Labels: Category: Build System, Extension: pdo_odbc

#14965 [skip ci] Update PHP version in phpdbg help
  sapi/phpdbg/phpdbg_help.c
Labels: SAPI: phpdbg

#14967 Autotools: Add missing sigil in AC_CASE and fix Autoconf syntax
  build/php.m4
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#14966 Avoid duplicate code in zend_std_write_property()
  Zend/zend_object_handlers.c
Labels: Category: Engine

#14974 zend_compile: Fully remove `ZEND_DIM_ALTERNATIVE_SYNTAX`
  Zend/zend_compile.c
  Zend/zend_compile.h
Labels: Category: Engine

#14972 De-duplicate readonly property modification error message
  Zend/zend_execute.c
  Zend/zend_execute.h
  ext/date/php_date.c
  ext/dom/php_dom.c
  ext/xmlreader/php_xmlreader.c
Labels: Category: Engine, Extension: date, Extension: dom, Extension: xmlreader

#14912 CI: Updated firebird version to 4.x in windows ci
  .github/scripts/windows/test_task.bat
Labels: OS: Windows, Extension: pdo_firebird, Category: CI

#14981 Use fast ZPP for ParentNode manipulation methods
  ext/dom/element.c
Labels: Extension: dom

#14979 Fix indirect readonly error messages
  Zend/tests/enum/no-pass-properties-by-ref.phpt
  Zend/tests/enum/no-return-properties-by-ref.phpt
  Zend/tests/enum/no-write-properties-through-foreach-reference.phpt
  Zend/tests/enum/no-write-properties-through-references.phpt
  Zend/tests/readonly_props/cache_slot.phpt
  Zend/tests/readonly_props/readonly_clone_error5.phpt
  Zend/tests/readonly_props/readonly_modification.phpt
  Zend/tests/readonly_props/variation.phpt
  Zend/zend_execute.c
  Zend/zend_object_handlers.c
  ext/opcache/jit/zend_jit_ir.c
Labels: Category: Engine, Extension: opcache

#14982 Delete bug78987.phpt test
  ext/fileinfo/tests/bug78987.phpt
Labels: Extension: fileinfo

#14990 ext/pdo: Fixed parent class of subclass stubs
  ext/pdo_dblib/pdo_dblib.stub.php
  ext/pdo_dblib/pdo_dblib_arginfo.h
  ext/pdo_firebird/pdo_firebird.stub.php
  ext/pdo_firebird/pdo_firebird_arginfo.h
  ext/pdo_mysql/pdo_mysql.stub.php
  ext/pdo_mysql/pdo_mysql_arginfo.h
  ext/pdo_odbc/pdo_odbc.stub.php
  ext/pdo_odbc/pdo_odbc_arginfo.h
  ext/pdo_pgsql/pdo_pgsql.stub.php
  ext/pdo_pgsql/pdo_pgsql_arginfo.h
  ext/pdo_sqlite/pdo_sqlite.stub.php
  ext/pdo_sqlite/pdo_sqlite_arginfo.h
Labels: Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite

#14987 Autotools: Fix Autoconf syntax (erroneous dnl)
  build/php.m4
Labels: Category: Build System

#14988 [ci skip] Update release process for pre-GA
  docs/release-process.md
Labels: Category: Documentation

#14942 zend build making sigjmp_buf and api check as mandatory.
  Zend/Zend.m4
  Zend/zend_portability.h
Labels: Category: Build System, Category: Engine

#14999 Resolve TODOs in ext/dom around nullable content
  ext/dom/characterdata.c
  ext/dom/php_dom.h
  ext/dom/tests/null_text_content_manipulation.phpt
  ext/dom/text.c
Labels: Extension: dom

#14995 ext/pdo_firebird: Do not implement new constants in PDO core
  UPGRADING
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/pdo_firebird.c
  ext/pdo_firebird/tests/transaction_access_mode.phpt
  ext/pdo_firebird/tests/transaction_isolation_level_attr.phpt
  ext/pdo_firebird/tests/transaction_isolation_level_behavior.phpt
Labels: Extension: pdo_firebird

#15004 ext/pdo_firebird: Added `getApiVersion()` and removed from `getAttribute()`
  NEWS
  UPGRADING
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/pdo_firebird.c
  ext/pdo_firebird/pdo_firebird.stub.php
  ext/pdo_firebird/pdo_firebird_arginfo.h
  ext/pdo_firebird/php_pdo_firebird_int.h
  ext/pdo_firebird/tests/get_api_version.phpt
Labels: Extension: pdo_firebird

#15001 Optimize ext/dom $wholeText
  ext/dom/text.c
Labels: Extension: dom

#15005 ext/spl: Add ArrayObject test with property hooks
  ext/spl/tests/ArrayObject/property_hooks.phpt
Labels: Extension: spl

#15007 Don't open-code string value accesses in xpath
  ext/dom/xpath.c
Labels: Extension: dom

#15010 Avoid duplicating the filename string when profiling in XSL
  ext/xsl/php_xsl.h
  ext/xsl/xsltprocessor.c
Labels: Extension: xsl

#14833 RFC: Add the RoundingMode enum
  NEWS
  UPGRADING
  ext/bcmath/bcmath.c
  ext/bcmath/bcmath.stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/bcmath/tests/bcround_all.phpt
  ext/bcmath/tests/bcround_away_from_zero.phpt
  ext/bcmath/tests/bcround_ceiling.phpt
  ext/bcmath/tests/bcround_early_return.phpt
  ext/bcmath/tests/bcround_error.phpt
  ext/bcmath/tests/bcround_floor.phpt
  ext/bcmath/tests/bcround_half_down.phpt
  ext/bcmath/tests/bcround_half_even.phpt
  ext/bcmath/tests/bcround_half_odd.phpt
  ext/bcmath/tests/bcround_half_up.phpt
  ext/bcmath/tests/bcround_test_helper.inc
  ext/bcmath/tests/bcround_toward_zero.phpt
  ext/reflection/tests/ReflectionExtension_getClassNames_basic.phpt
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/math.c
  ext/standard/php_math_round_mode.h
  ext/standard/tests/math/round_RoundingMode.phpt
  ext/standard/tests/math/round_gh12143_expand-rounding-target.phpt
  ext/standard/tests/math/round_modes.phpt
  ext/standard/tests/math/round_modes_ceiling_and_floor.phpt
  ext/standard/tests/math/round_modes_zeros.phpt
  ext/standard/tests/math/round_valid_rounding_mode.phpt
Labels: RFC, Extension: bcmath, Extension: reflection, Extension: standard

#15016 Cleanup DOMAttr::isId()
  ext/dom/attr.c
Labels: Extension: dom

#15015 Deduplicate NULL checks in ext/dom
  ext/dom/attr.c
  ext/dom/document.c
  ext/dom/entityreference.c
  ext/dom/html_document.c
  ext/dom/node.c
  ext/dom/parentnode/tree.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Labels: Extension: dom

#15018 Autotools: Expand m4_normalize sooner
  build/php.m4
  configure.ac
  ext/bcmath/config.m4
  ext/dom/config.m4
  ext/intl/config.m4
  ext/mysqlnd/config9.m4
  ext/standard/config.m4
  sapi/apache2handler/config.m4
Labels: Category: Build System, Extension: intl, Extension: bcmath, Extension: dom, Extension: mysqlnd, Extension: standard, SAPI: apache2handler

#15031 Gate SOCK_DCCP behind its own ifdef
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

#15036 ext/pgsql: db metadata simplification for table names.
  ext/pgsql/pgsql.c
Labels: Extension: pgsql

#15033 Autotools: Quote M4 arguments
  build/php.m4
  ext/bz2/config.m4
  ext/dba/config.m4
  ext/enchant/config.m4
  ext/ffi/config.m4
  ext/gd/config.m4
  ext/gettext/config.m4
  ext/gmp/config.m4
  ext/ldap/config.m4
  ext/mbstring/config.m4
  ext/odbc/config.m4
  ext/opcache/config.m4
  ext/pcre/config0.m4
  ext/pdo_dblib/config.m4
  ext/pdo_firebird/config.m4
  ext/pdo_mysql/config.m4
  ext/readline/config.m4
  ext/session/config.m4
  ext/skeleton/config.m4.in
  ext/snmp/config.m4
  ext/sodium/config.m4
  ext/standard/config.m4
  ext/tidy/config.m4
  ext/xsl/config.m4
  ext/zip/config.m4
Labels: Category: Build System, Extension: bz2, Extension: dba, Extension: enchant, Extension: ffi, Extension: gd, Extension: gettext, Extension: gmp, Extension: ldap, Extension: mbstring, Extension: odbc, Extension: opcache, Extension: pcre, Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: readline, Extension: session, Extension: snmp, Extension: sodium, Extension: standard, Extension: tidy, Extension: xsl, Extension: zip

#14894 random: Optimize `Randomizer::getBytesFromString()`
  ext/random/randomizer.c
Labels: Extension: random

#15042 2 minor parentnode/tree.c cleanups
  ext/dom/parentnode/tree.c
Labels: Extension: dom

#15043 Convert more common methods in dom/node.c to fast ZPP
  ext/dom/node.c
Labels: Extension: dom

#15045 Autotools: Quote M4 arguments
  Zend/Zend.m4
  configure.ac
  ext/bz2/config.m4
  ext/dba/config.m4
  ext/fileinfo/config.m4
  ext/gettext/config.m4
  ext/gmp/config.m4
  ext/hash/config.m4
  ext/iconv/config.m4
  ext/ldap/config.m4
  ext/odbc/config.m4
  ext/pdo_dblib/config.m4
  ext/pdo_firebird/config.m4
  ext/pdo_mysql/config.m4
  ext/readline/config.m4
  ext/session/config.m4
  ext/skeleton/config.m4.in
  ext/tidy/config.m4
  ext/zip/config.m4
  sapi/fuzzer/config.m4
Labels: Category: Build System, Category: Engine, Extension: bz2, Extension: dba, Extension: fileinfo, Extension: gettext, Extension: gmp, Extension: hash, Extension: iconv, Extension: ldap, Extension: odbc, Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: readline, Extension: session, Extension: tidy, Extension: zip, SAPI: fuzzer

#15049 Autotools: Sync CS in ext/standard process check
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#15044 Remove bogus tree setting code from parentnode/tree.c
  ext/dom/parentnode/tree.c
Labels: Extension: dom

#15052 Use OBJ_RELEASE instead of ZVAL_OBJ + zval_ptr_dtor in php_dom.c
  ext/dom/php_dom.c
Labels: Extension: dom

#13331 Add -Wno-implicit-fallthrough flags conditionally
  NEWS
  ext/date/config0.m4
  ext/hash/config.m4
  ext/opcache/config.m4
  ext/pcre/config0.m4
Labels: Extension: date, Extension: hash, Extension: opcache, Extension: pcre

#15057 sapi/cli/php_cli.c: fix typo
  sapi/cli/php_cli.c
Labels: SAPI: cli

#14910 Zend: Add `ZEND_BYTES_SWAP32`/`ZEND_BYTES_SWAP64`
  Zend/zend_alloc.c
  Zend/zend_portability.h
  ext/bcmath/libbcmath/src/private.h
Labels: Category: Engine, Extension: bcmath

#14989 Throw error for recursive comparison, instead of fatal
  NEWS
  UPGRADING
  Zend/tests/bug63882.phpt
  Zend/tests/recursive_array_comparison.phpt
  Zend/zend_hash.c
  Zend/zend_object_handlers.c
Labels: Category: Engine

#15059 Autotools: Append rt library to FPM_EXTRA_LIBS
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#15065 ext/pdo_firebird: Fixed segmentation fault when attribute value was not set
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/tests/attr_datetime_format.phpt
Labels: Extension: pdo_firebird

#15062 Followup on GH-14996
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
Labels: Category: Engine
