Repository php/php-src, pull requests merged in 2024-10, with the labels that each got.

#16026 Fix reuse of dtor fiber during shutdown
  Zend/tests/fibers/destructors_011.phpt
  Zend/zend_gc.c
Labels: Category: Engine

#16004 Fix use-after-free during lazy object initialization
  Zend/tests/lazy_objects/gh15999_001.phpt
  Zend/tests/lazy_objects/gh15999_002.phpt
  Zend/zend_lazy_objects.c
  Zend/zend_object_handlers.c
Labels: Category: Engine

#16025 Fix assertion failure in generator dtor
  Zend/tests/gh15866.phpt
  Zend/zend_generators.c
  Zend/zend_generators.h
Labels: Category: Engine

#16061 Fix GH-16053: array_merge_recursive(): convert_to_array() may need separation
  ext/standard/array.c
  ext/standard/tests/array/gh16053.phpt
Labels: Extension: standard

#15860 ext/phar: Remove phar_resolve_alias()
  ext/phar/config.m4
  ext/phar/config.w32
  ext/phar/php_phar.h
  ext/phar/util.c
Labels: Category: Build System, Extension: phar

#16157 Implement JIT for ZEND_FETCH_STATIC_PROP_* and improve interpretation
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Category: Engine, Extension: opcache, ABI break

#16172 ext/ldap: Some minor refactorings to LDAP controls parsing
  ext/ldap/ldap.c
Labels: Extension: ldap

#16183 ext/reflection: fix some typos [skip ci]
  ext/reflection/php_reflection.c
  ext/reflection/tests/bug36434.phpt
  ext/reflection/tests/bug62384.phpt
Labels: Extension: reflection

#16180 Don't use recursion when transferring a DOM internal document pointer
  ext/dom/document.c
Labels: Extension: dom

#16098 Always exclude dl_test from test php.ini
  win32/build/confutils.js
Labels: Category: Build System

#16158 Fix GH-15893: Pdo\Pgsql backport fixes from GH-16124
  ext/pdo_pgsql/pgsql_driver.c
  ext/pdo_pgsql/tests/copy_from_iterator.phpt
Labels: Extension: pdo_pgsql

#16213 Stubs and generated arginfo: remove tentative returns from final methods
  build/gen_stub.php
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/spl/spl_directory.stub.php
  ext/spl/spl_directory_arginfo.h
Labels: Category: Build System, Extension: reflection, Extension: spl

#16222 ext/dba: Minor refactorings to save memory allocations
  ext/dba/dba.c
Labels: Extension: dba

#16211 sapi/phpdbg: Use HASH_FOREACH macro
  sapi/phpdbg/phpdbg_frame.c
Labels: SAPI: phpdbg

#10278 Prevent direct instantiation of com_safearray_proxy
  ext/com_dotnet/com_extension.c
  ext/com_dotnet/com_saproxy.c
  ext/com_dotnet/php_com_dotnet_internal.h
  ext/com_dotnet/tests/saproxy_instantiate.phpt
Labels: Extension: com_dotnet

#16206 JIT for INIT_STATIC_METHOD_CALL
  Zend/zend_execute.c
  Zend/zend_execute.h
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Category: Engine, Extension: opcache, ABI break

#16297 curl: Remove unnecessary dynamic allocation for HashTable in _php_curl_free
  ext/curl/curl_private.h
  ext/curl/interface.c
Labels: Extension: curl

#16285 Fix regression on platforms without `ZEND_CHECK_STACK_LIMIT` set (8.4)
  ext/standard/var.c
Labels: Extension: standard

#16288 Update Lexbor
  ext/dom/lexbor/lexbor/core/swar.h
  ext/dom/lexbor/lexbor/encoding/big5.c
  ext/dom/lexbor/lexbor/encoding/decode.c
  ext/dom/lexbor/lexbor/encoding/decode.h
  ext/dom/lexbor/lexbor/encoding/euc_kr.c
  ext/dom/lexbor/lexbor/encoding/gb18030.c
  ext/dom/lexbor/lexbor/encoding/iso_2022_jp_katakana.c
  ext/dom/lexbor/lexbor/encoding/jis0208.c
  ext/dom/lexbor/lexbor/encoding/jis0212.c
Labels: Extension: dom

#16302 curl: Prevent a CurlMultiHandle from holding onto a CurlHandle if `add_handle` fails
  NEWS
  ext/curl/multi.c
  ext/curl/tests/curl_multi_add_handle_lifecycle.phpt
Labels: Extension: curl

#15955 GDB: format output for class entries and class constants
  main/debug_gdb_scripts.c
  scripts/gdb/php_gdb.py
Labels: Category: Build System

#16298 ext/[cd]*: fix a bunch of typos
  ext/calendar/calendar.c
  ext/calendar/julian.c
  ext/com_dotnet/tests/gh8778.phpt
  ext/ctype/tests/ctype_xdigit_variation1.phpt
  ext/curl/interface.c
  ext/curl/tests/bug71144.phpt
  ext/curl/tests/curl_copy_handle_variation2.phpt
  ext/curl/tests/curl_multi_setopt_callables.phpt
  ext/curl/tests/curl_setopt_callables.phpt
  ext/date/php_date.c
  ext/date/tests/DateTimeZone_clone_basic1.phpt
  ext/date/tests/DateTimeZone_serialize_type_1.phpt
  ext/date/tests/DateTimeZone_serialize_type_2.phpt
  ext/date/tests/DateTimeZone_serialize_type_3.phpt
  ext/date/tests/DateTime_serialize.phpt
  ext/date/tests/ExtendDateTime.phpt
  ext/date/tests/bug36224.phpt
  ext/date/tests/date_isodate_set_basic1.phpt
  ext/date/tests/getdate_variation4.phpt
  ext/date/tests/getdate_variation5.phpt
  ext/dba/dba.c
  ext/dom/document.c
  ext/dom/dom_properties.h
  ext/dom/element.c
  ext/dom/infra.c
  ext/dom/php_dom.c
  ext/dom/tests/DOMDocument_saveHTML_variant2.phpt
  ext/dom/tests/bug69846.phpt
  ext/dom/tests/bug79968.phpt
  ext/dom/tests/modern/spec/gh11404_1.phpt
  ext/dom/tests/modern/spec/gh11404_2.phpt
  ext/dom/xpath.c
  ext/dom/xpath_callbacks.c
Labels: Extension: calendar, Extension: com_dotnet, Extension: ctype, Extension: curl, Extension: date, Extension: dba, Extension: dom

#16308 Remove special handling of exit/die in stubs
  build/gen_stub.php
Labels: Category: Build System

#16329 reflection: Use fast ZPP for ReflectionProperty::(get|set)Value()
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#16339 JIT support for ASSIGN_DIM[_OP] with IS_VAR op1
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#16311 ext/standard/html.c: clean up a bit
  ext/standard/html.c
Labels: Extension: standard

#16341 Drop fallback for `PathCchCanonicalizeEx()`
  win32/build/confutils.js
  win32/dllmain.c
  win32/ioutil.c
  win32/ioutil.h
Labels: Category: Build System, ABI break

#16352 XLEAK bug78270_2.phpt
  ext/ffi/tests/bug78270_2.phpt
  ext/ffi/tests/bug79576.phpt
Labels: Extension: ffi

#16364 Fix GH-16356: Segmentation fault with $outerHTML and next node
  ext/dom/inner_outer_html_mixin.c
  ext/dom/tests/gh16356.phpt
Labels: Extension: dom

#16215 RecursiveTreeIterator::__construct(): switch `@param` to typehint
  ext/spl/spl_iterators.stub.php
  ext/spl/spl_iterators_arginfo.h
Labels: Extension: spl

#16392 Fix GH-16389: Assertion failure in ext/ldap/ldap.c:2718
  ext/ldap/ldap.c
  ext/ldap/tests/gh16389.phpt
Labels: Extension: ldap

#16350 Use SWAR to seek for non-ASCII UTF-8 in DOM parsing
  ext/dom/html_document.c
Labels: Extension: dom

#16374 Fix potentially erroneous php_win32_crt_compatible()
  win32/build/confutils.js
  win32/winutil.c
Labels: Category: Build System

#16391 Move ARG_(WITH|ENABLE) to the toplevel
  ext/opcache/config.w32
  win32/build/config.w32
Labels: Category: Build System, Extension: opcache

#16439 zend_weakrefs: Add `zend_weakrefs_hash_(clean|destroy)()`
  Zend/zend_weakrefs.c
  Zend/zend_weakrefs.h
  ext/zend_test/test.c
Labels: Category: Engine, Extension: zend_test

#16401 Fix GH-16397: Segmentation fault when comparing FFI object
  NEWS
  ext/ffi/ffi.c
  ext/ffi/tests/gh16397.phpt
Labels: Extension: ffi

#16378 Mention where headers were already sent if session_start fails
  ext/session/session.c
  ext/session/tests/gh-16372.phpt
Labels: Extension: session

#16365 Allow JIT for passing arguments to trampolines and "bad" functions
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_vm_helpers.c
Labels: Extension: opcache

#16455 Stop trace recording only on ENTER to FAKE_CLOSURE (continue on EXIT)
  ext/opcache/jit/zend_jit_vm_helpers.c
Labels: Extension: opcache

#16407 Unify error handling of bad dictionary elements
  ext/zlib/zlib.c
Labels: Extension: zlib

#16363 curl: Add `curl_multi_get_handles()`
  NEWS
  UPGRADING
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/multi.c
  ext/curl/tests/curl_multi_get_handles.phpt
Labels: Extension: curl

#16485 sapi: Fix some variable shadowing
  sapi/cgi/cgi_main.c
  sapi/cli/php_cli.c
  sapi/cli/php_cli_server.c
  sapi/phpdbg/phpdbg.c
  sapi/phpdbg/phpdbg.h
  sapi/phpdbg/phpdbg_bp.c
  sapi/phpdbg/phpdbg_watch.c
Labels: SAPI: cgi, SAPI: cli, SAPI: phpdbg

#16460 ext/soap: Various small refactoring in php_sdl
  ext/soap/php_sdl.c
Labels: Extension: soap

#16457 Fix invalid target opline with jit->reuse_ip active
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/tests/jit/init_fcall_004.phpt
Labels: Extension: opcache

#16398 Move ARG_ENABLE() "macros" out of confutils.js
  win32/build/config.w32
  win32/build/config.w32.phpize.in
  win32/build/confutils.js
Labels: Category: Build System

#16343 Drop legacy fallback for `isc_get_client_version()`
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/php_pdo_firebird_int.h
Labels: Extension: pdo_firebird

#16517 Fix leak of accel_shared_globals for file_cache_only
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#16522 Drop useless retrieval of opened_path
  ext/dba/dba.c
Labels: Extension: dba

#16376 Optimize DOM HTML serialization for UTF-8
  ext/dom/html_document.c
Labels: Extension: dom

#16520 ext/standard: Change return value of array_multisort() to true
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Extension: standard, ABI break

#16069 GH-16067: prevent invalid `abstract` during compilation of methods
  Zend/tests/abstract_implicit.phpt
  Zend/tests/anon/gh16067.phpt
  Zend/tests/enum/no-abstract.phpt
  Zend/tests/errmsg/errmsg_018.phpt
  Zend/zend_compile.c
  tests/classes/abstract_derived.phpt
  tests/classes/abstract_not_declared.phpt
  tests/classes/abstract_redeclare.phpt
  tests/classes/abstract_static.phpt
  tests/classes/interface_method_private.phpt
Labels: Category: Engine, ABI break

#16550 Fix zend_max_execution_timer.h cannot be included by the C++ extension.
  Zend/zend_max_execution_timer.h
Labels: Category: Engine, ABI break

#16538 Add sanitity checks regarding num_args and arg_info
  Zend/zend_compile.c
  Zend/zend_execute.c
Labels: Category: Engine

#16545 ext/readline: update return typehints from `bool` to `true`
  UPGRADING
  ext/readline/readline.stub.php
  ext/readline/readline_arginfo.h
Labels: Extension: readline

#16605 ext/reflection: use `ZEND_PARSE_PARAMETERS_NONE();` macro
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#16511 Don't fiddle with NDEBUG in C code
  Zend/zend_portability.h
  configure.ac
  ext/zend_test/test.c
  main/php.h
  win32/build/confutils.js
Labels: Category: Build System, Category: Engine, Extension: zend_test, ABI break

#16621 ext/[ef]*: fix a bunch of typos
  ext/enchant/tests/broker_describe.phpt
  ext/exif/exif.c
  ext/exif/tests/filename_empty.phpt
  ext/ffi/tests/303.phpt
  ext/ffi/tests/ffi_load_error.phpt
  ext/filter/filter.c
  ext/filter/tests/049.phpt
  ext/ftp/tests/ftp_pasv.phpt
  ext/ftp/tests/server.inc
Labels: Extension: enchant, Extension: exif, Extension: ffi, Extension: filter, Extension: ftp

#16651 Update trace type inference and abstract stack to be consistent with #16339 (JIT support for ASSIGN_DIM[_OP] with IS_VAR op1)
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#16652 Add missing cache invalidation for innerHTML
  ext/dom/inner_html_mixin.c
  ext/dom/tests/modern/common/innerHTML_cache_invalidation.phpt
Labels: Extension: dom
