Repository php/php-src, pull requests merged in 2024-05, with the labels that each got.

#14040 ext/sqlite3: Use new F ZPP modifier
  ext/sqlite3/sqlite3.c
  ext/sqlite3/tests/sqlite3_trampoline_create_aggregate_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createcollation_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_createfunction_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_setauthorizer_no_leak.phpt
  ext/sqlite3/tests/sqlite3_trampoline_setauthorizer_null.phpt
Labels: Extension: sqlite3

#14097 Fix tests for glibc 2.39
  ext/standard/tests/strings/setlocale_variation3.phpt
  ext/standard/tests/strings/setlocale_variation4.phpt
  ext/standard/tests/strings/setlocale_variation5.phpt
Labels: Extension: standard

#14115 Faster validation logic in bc_str2num()
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

#14116 Use AC_SEARCH_LIBS for socketpair, gethostname and gethostbyaddr
  configure.ac
Labels: Category: Build System

#14126 Fix GH-14124: Segmentation fault on unknown address 0x0001ffff8041 with XML extension under certain memory limit
  ext/xml/tests/gh14124.phpt
  ext/xml/xml.c
Labels: Extension: xml

#14127 Try to use an interned local name in createElementNS
  ext/dom/document.c
Labels: Extension: dom

#14131 Increase test coverage of _bc_do_add()
  ext/bcmath/tests/bcadd.phpt
Labels: Extension: bcmath

#14130 Remove some dead code from BCMath
  ext/bcmath/config.m4
  ext/bcmath/config.w32
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/compare.c
  ext/bcmath/libbcmath/src/output.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/sub.c
Labels: Category: Build System, Extension: bcmath

#14134 ext/bcmath: Removed unnecessary zero padding
  ext/bcmath/libbcmath/src/doaddsub.c
Labels: Extension: bcmath

#14133 Avoid needless memsets by creating a variant of bc_new_num that doesn…
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/init.c
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/libbcmath/src/str2num.c
  ext/bcmath/libbcmath/src/sub.c
Labels: Extension: bcmath

#14136 Fix build on Clang 18
  ext/ffi/ffi.c
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: ffi, Extension: opcache

#14042 Remove unused always-available extension headers
  ext/hash/hash.c
  ext/standard/array.c
  ext/standard/browscap.c
  main/SAPI.c
Labels: Extension: hash, Extension: standard

#13665 Implement SeekableIterator for SplObjectStorage
  NEWS
  UPGRADING
  ext/spl/spl_observer.c
  ext/spl/spl_observer.stub.php
  ext/spl/spl_observer_arginfo.h
  ext/spl/tests/SplObjectStorage_seek.phpt
Labels: Extension: spl

#14137 Fix zend_string_starts_with_literal_ci
  Zend/zend_string.h
Labels: Category: Engine

#14146 Remove unused field from _phar_archive_data
  ext/phar/phar.c
  ext/phar/phar_internal.h
  ext/phar/tar.c
  ext/phar/zip.c
Labels: Extension: phar

#14148 Fix prototype for trait methods
  Zend/tests/gh14009_001.phpt
  Zend/tests/gh14009_002.phpt
  Zend/tests/gh14009_003.phpt
  Zend/tests/gh14009_004.phpt
  Zend/tests/interface_constructor_prototype_001.phpt
  Zend/tests/interface_constructor_prototype_002.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#14132 Refactor BCMath `_bc_do_sub`
  ext/bcmath/libbcmath/src/convert.c
  ext/bcmath/libbcmath/src/doaddsub.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

#14163 Fix incorrect inheritance of private trait methods
  Zend/tests/gh14009_005.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#14145 Improve error message in Phar::buildFromIterator()
  ext/phar/phar_object.c
  ext/phar/tests/phar_buildfromiterator5.phpt
  ext/phar/tests/tar/phar_buildfromiterator5.phpt
  ext/phar/tests/zip/phar_buildfromiterator5.phpt
Labels: Extension: phar

#14144 Remove unused fields from phar_entry_data
  ext/phar/phar_internal.h
  ext/phar/util.c
Labels: Extension: phar

#14157 Simplify conversion in BCMath
  ext/bcmath/libbcmath/src/convert.c
  ext/bcmath/libbcmath/src/convert.h
  ext/bcmath/libbcmath/src/num2str.c
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

#14170 BCMath: Avoid using the heap for temporary objects by using arena allocations
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/init.c
  ext/bcmath/php_bcmath.h
Labels: Extension: bcmath

#14169 Update CODING_STANDARDS for the acronym casing RFC
  CODING_STANDARDS.md
Labels: RFC

#14174 Migrate SOAP table resource to array
  UPGRADING
  ext/soap/soap.c
  ext/soap/soap.stub.php
  ext/soap/soap_arginfo.h
Labels: Extension: soap

#14182 Cleanup some repetition and macros in xml_serializer.c
  ext/dom/xml_serializer.c
Labels: Extension: dom

#14166 ext/bcmath: Use SIMD for trailing zero counts during conversion
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

#14179 ext/bcmath: Fixed an issue where macros may become undefined
  ext/bcmath/libbcmath/src/private.h
Labels: Extension: bcmath

#14186 Fix check for newer versions of ICU
  build/php.m4
  ext/intl/config.m4
Labels: Category: Build System, Extension: intl

#14203 Fix missing deref in C14N
  ext/dom/node.c
  ext/dom/tests/DOMNode_C14N_references.phpt
Labels: Extension: dom

#14204 Optimize and reduce memory usage of XML serialization
  UPGRADING
  ext/dom/xml_document.c
  ext/libxml/libxml.c
Labels: Extension: dom, Extension: libxml

#14196 ext/bcmath: Made the same changes to `_bc_do_add` as `_bc_do_sub`
  ext/bcmath/libbcmath/src/doaddsub.c
Labels: Extension: bcmath

#14209 Add support for LIBXML_NOXMLDECL for modern documents
  ext/dom/tests/modern/xml/serialize_LIBXML_NOXMLDECL.phpt
  ext/dom/xml_document.c
Labels: Extension: dom

#14217 Update AX_CHECK_COMPILE_FLAG to serial 7
  build/ax_check_compile_flag.m4
Labels: Category: Build System

#14220 Change calls to setmode to _setmode
  sapi/cgi/cgi_main.c
  sapi/cli/php_cli.c
  sapi/embed/php_embed.c
  sapi/phpdbg/phpdbg.c
Labels: SAPI: cgi, SAPI: cli, SAPI: phpdbg

#14028 Replace configure option --with-openssl-dir
  UPGRADING.INTERNALS
  ext/ftp/config.m4
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: ftp, Extension: mysqlnd

#14222 JIT: Improve CPU register usage in DETCH_DIM_R, FETCH_DIM_IS and FETCH_LIST_R
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14161 Add `zend_get_attribute_object()`
  Zend/zend_attributes.c
  Zend/zend_attributes.h
  ext/reflection/php_reflection.c
  ext/reflection/tests/ReflectionAttribute_newInstance_exception.phpt
Labels: Category: Engine, Extension: reflection

#14224 JIT: Implement CPU register usage for ASSIGN_DIM
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14227 JIT: JIT: Implement CPU register usage for ISSET_ISEMPTY_DIM
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14235 JIT: Implement CPU register usage for ASSIGN_OP
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14236 JIT: Implement CPU register usage for ASSIGN_DIM_OP
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14246 JIT: Improve x86_64 code generated for PHP Array Bounds Checks
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14238 Remove forgotten obsolete session INI directives
  ext/session/mod_files.bat
  ext/session/tests/031.phpt
  ext/session/tests/session_basic2.phpt
  ext/session/tests/session_basic3.phpt
  ext/session/tests/session_basic4.phpt
  ext/session/tests/session_basic5.phpt
Labels: Extension: session

#14247 JIT: Avoid useless EG(exception) check in ASSIGN_DIM_OP
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14099 ext/pgsql: using ZPP api for calls.
  ext/pgsql/pgsql.c
Labels: Extension: pgsql

#14199 ext/pcntl: cpu affinity support for solaris/illumos.
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
Labels: Category: Build System, Extension: pcntl

#14251 Fix nightly test failure
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_1.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_2.phpt
  ext/standard/tests/general_functions/ghsa-pc52-254m-w9w7_3.phpt
Labels: Extension: standard

#14254 Use `zend_call_known_function()` to call `#[\SensitiveParameter]`’s constructor
  Zend/zend_builtin_functions.c
Labels: Category: Engine

#14180 ext/bcmath: Avoid unnecessary `memset`
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/doaddsub.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/sub.c
Labels: Extension: bcmath

#14239 Migrate ext/dba resources to objects
  Zend/Optimizer/zend_func_infos.h
  ext/dba/dba.c
  ext/dba/dba.stub.php
  ext/dba/dba_arginfo.h
  ext/dba/php_dba.h
  ext/dba/tests/bug36436.phpt
  ext/dba/tests/dba015.phpt
  ext/dba/tests/dba_db4_018.phpt
  ext/dba/tests/default_handler_ini.phpt
  ext/dba/tests/gh9155.phpt
  ext/dba/tests/value_errors_open.phpt
  ext/libxml/tests/libxml_get_external_entity_loader_error_callback_name.phpt
Labels: Extension: dba, Extension: libxml, Category: Optimizer

#14228 Add missing MYSQLND_SHARED_LIBADD substitution
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: mysqlnd

#14259 Make the `fcc` parameter `const` in `zend_call_known_fcc`
  Zend/zend_API.h
Labels: Category: Engine

#14249 Fix class constant and property ID generation for the manual
  build/gen_stub.php
  ext/ffi/ffi.stub.php
  ext/ffi/ffi_arginfo.h
  ext/snmp/snmp.stub.php
  ext/snmp/snmp_arginfo.h
  ext/sqlite3/sqlite3.stub.php
  ext/sqlite3/sqlite3_arginfo.h
Labels: Category: Build System, Extension: ffi, Extension: snmp, Extension: sqlite3

#14257 ext/bcmath: Avoid unnecessary `memset` from `_bc_do_add`
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/doaddsub.c
  ext/bcmath/libbcmath/src/floor_or_ceil.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/round.c
  ext/bcmath/libbcmath/src/sub.c
Labels: Extension: bcmath

#14263 ext/pdo_pgsql: fix typo
  ext/pdo_pgsql/pdo_pgsql.c
Labels: Extension: pdo_pgsql

#14233 Sync HAVE_* symbols for extensions
  ext/intl/config.w32
  ext/pdo_dblib/config.m4
  ext/pdo_firebird/config.m4
  ext/tokenizer/config.w32
Labels: Category: Build System, Extension: intl, Extension: pdo_dblib, Extension: pdo_firebird, Extension: tokenizer

#14265 Remove XML_GLOBAL_NAMESPACE
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#14264 Reduce unused variable warnings in config.log
  Zend/Zend.m4
  configure.ac
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm, Category: Engine

#14211 Fix the aligned variable attribute check
  build/php.m4
  configure.ac
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14253 JIT: Add CPU registers support for FETCH_OBJ_R
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14213 ext/bcmath: Changed the bcmul calculation method
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#14268 Fix bug #81227: PDO::inTransaction reports false when in transaction
  NEWS
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/bug81227.phpt
Labels: Extension: pdo_sqlite

#14273 Emit error when building fuzzer with ZTS
  sapi/fuzzer/config.m4
Labels: Category: Build System, SAPI: fuzzer

#14277 Avoid code duplication for error instance creation in ext/libxml
  ext/libxml/libxml.c
Labels: Extension: libxml

#14279 Throw early when a non-stream-context resource is passed to libxml_set_streams_context()
  NEWS
  UPGRADING
  ext/libxml/libxml.c
  ext/libxml/tests/bug63389.phpt
Labels: Extension: libxml

#14278 Fix fuzzer result message in configure log
  sapi/fuzzer/config.m4
Labels: Category: Build System, SAPI: fuzzer

#14270 Add support for generating parameter attributes for the manual
  build/gen_stub.php
Labels: Category: Build System

#14272 Fix header errors when parsed standalone
  Zend/zend_alloc.h
  Zend/zend_attributes.h
  Zend/zend_builtin_functions.h
  Zend/zend_closures.h
  Zend/zend_enum.h
  Zend/zend_exceptions.h
  Zend/zend_float.h
  Zend/zend_generators.h
  Zend/zend_globals_macros.h
  Zend/zend_highlight.h
  Zend/zend_ini.h
  Zend/zend_ini_scanner.h
  Zend/zend_iterators.h
  Zend/zend_language_scanner.h
  Zend/zend_llist.h
  Zend/zend_map_ptr.h
  Zend/zend_multibyte.h
  Zend/zend_object_handlers.h
  Zend/zend_ptr_stack.h
  Zend/zend_signal.h
  Zend/zend_smart_str_public.h
  Zend/zend_sort.h
  Zend/zend_stack.h
  Zend/zend_stream.h
  Zend/zend_system_id.c
  Zend/zend_system_id.h
  Zend/zend_virtual_cwd.h
  Zend/zend_vm.h
Labels: Category: Engine

#14281 Skip .NET tests if mscoree is not available
  ext/com_dotnet/tests/bug73679.phpt
  ext/com_dotnet/tests/bug77177.phpt
Labels: Extension: com_dotnet

#14167 Make `ReflectionGenerator::getFunction()` legal after generator termination
  NEWS
  UPGRADING
  Zend/tests/generators/debugInfo_001.phpt
  Zend/tests/generators/gc_with_yield_from.phpt
  Zend/tests/generators/generator_closure_collection.phpt
  Zend/tests/generators/generator_return_without_value.phpt
  Zend/tests/return_types/generators001.phpt
  Zend/tests/return_types/generators005.phpt
  Zend/tests/type_declarations/iterable/iterable_001.phpt
  Zend/tests/type_declarations/iterable/iterable_003.phpt
  Zend/tests/type_declarations/union_types/generator_return_containing_extra_types.phpt
  Zend/zend_generators.c
  Zend/zend_generators.h
  Zend/zend_generators.stub.php
  Zend/zend_generators_arginfo.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/reflection/php_reflection.c
  ext/reflection/tests/028.phpt
  ext/reflection/tests/ReflectionGenerator_after_termination.phpt
  ext/reflection/tests/ReflectionGenerator_basic.phpt
  ext/reflection/tests/ReflectionGenerator_getFunction.phpt
  ext/reflection/tests/ReflectionGenerator_in_Generator.phpt
  ext/zend_test/tests/zend_legacy_iterable.phpt
Labels: Category: Engine, Extension: reflection, Extension: zend_test

#14287 nit: bool "must" be used instead.
  Zend/tests/type_declarations/union_types/redundant_types/bool_instead_false_and_true.phpt
  Zend/tests/type_declarations/union_types/redundant_types/bool_instead_true_and_false.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#14285 Add missing ext/libxml dependency to ext/soap
  ext/soap/config.m4
  ext/soap/soap.c
Labels: Category: Build System, Extension: soap

#13864 Mark multple functions as static
  Zend/Optimizer/zend_inference.c
  Zend/zend_ast.c
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_generators.c
  Zend/zend_inheritance.c
  Zend/zend_ini_parser.y
  Zend/zend_observer.c
  Zend/zend_signal.c
  Zend/zend_weakrefs.c
  ext/date/php_date.c
  ext/hash/hash.c
  ext/iconv/iconv.c
  ext/opcache/ZendAccelerator.c
  ext/openssl/openssl.c
  ext/openssl/xp_ssl.c
  ext/phar/dirstream.c
  ext/phar/stream.c
  ext/spl/spl_iterators.c
  ext/spl/spl_observer.c
  ext/sqlite3/sqlite3.c
  ext/standard/ftp_fopen_wrapper.c
  ext/standard/mail.c
  ext/standard/php_fopen_wrapper.c
  ext/standard/user_filters.c
  ext/tokenizer/tokenizer.c
  ext/xml/xml.c
  main/network.c
  main/php_variables.c
  main/streams/xp_socket.c
  sapi/cli/php_cli.c
  sapi/cli/php_cli_server.c
  sapi/embed/php_embed.c
  sapi/fpm/fpm/fpm_conf.c
  sapi/fpm/fpm/fpm_main.c
  sapi/fuzzer/fuzzer-sapi.c
  sapi/phpdbg/phpdbg.c
Labels: SAPI: fpm, Extension: openssl, Category: Engine, Extension: date, Extension: hash, Extension: iconv, Extension: opcache, Extension: phar, Extension: spl, Extension: sqlite3, Extension: standard, Extension: tokenizer, Extension: xml, SAPI: cli, SAPI: fuzzer, SAPI: phpdbg, Category: Optimizer

#12361 Typed constants in date extension
  UPGRADING
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
Labels: Extension: date

#9647 Discard known '-O' flags, including just '-O', but do not remove only '-O' in '-Ounknown'
  configure.ac
  scripts/phpize.m4
Labels: Category: Build System, Waiting on Review

#14298 JIT: Avoid IS_UNDEF check for ZEND_FETCH_DIM/OBJ_IS with a result type guard
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14297 ext/bcmath: Prevent overflow of uint32_t/uint64_t
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/tests/bcmul_check_overflow.phpt
Labels: Extension: bcmath

#14303 JIT: Add CPU registers support for ASSIGN_OBJ and ASSIGN_OBJ_OP
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14276 Bcmath multiply speedup
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#14301 refactor: change `zend_is_true` to return `bool`
  UPGRADING.INTERNALS
  Zend/Optimizer/pass1.c
  Zend/zend_object_handlers.c
  Zend/zend_operators.c
  Zend/zend_operators.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_weakrefs.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/pdo/pdo_stmt.c
  ext/spl/spl_directory.c
  ext/spl/spl_iterators.c
  ext/spl/spl_observer.c
  ext/standard/array.c
  ext/standard/filters.c
  ext/standard/http_fopen_wrapper.c
  ext/xsl/xsltprocessor.c
  ext/zip/php_zip.c
  sapi/phpdbg/phpdbg.c
Labels: Category: Engine, Extension: dom, Extension: pdo (core), Extension: spl, Extension: standard, Extension: xsl, Extension: zip, SAPI: phpdbg, Category: Optimizer

#14317 Include HRESULT error code if native .NET initialization fails
  ext/com_dotnet/com_dotnet.c
Labels: Extension: com_dotnet

#14313 Fix typo in LDAP stub
  ext/ldap/ldap.stub.php
  ext/ldap/ldap_arginfo.h
Labels: Extension: ldap

#14316 Fix undefined flags in base64
  ext/standard/base64.c
  ext/standard/base64.h
Labels: Extension: standard

#14326 Fix tempnam() path in test when running from out-of-source
  ext/standard/tests/file/002.phpt
Labels: Extension: standard

#14330 Cleanup DOM exception throwing parameters
  ext/dom/domexception.c
  ext/dom/php_dom.h
Labels: Extension: dom

#14329 Update OOM error for DOMImplementation::createDocumentType
  ext/dom/domimplementation.c
Labels: Extension: dom

#14331 Use a ROL for mangling the pointer key in namespace_compat.c
  ext/dom/namespace_compat.c
Labels: Extension: dom

#14327 Add missing ext/libxml dependency to ext/xmlwriter
  ext/xmlwriter/config.m4
  ext/xmlwriter/php_xmlwriter.c
Labels: Category: Build System, Extension: xmlwriter

#14314 random: Remove internal aliases for the global Mt19937 functionality
  UPGRADING.INTERNALS
  ext/random/php_random.h
  ext/random/random.c
Labels: Extension: random

#14336 Wrap sched_getcpu AC_RUN_IFELSE check in AC_CACHE_CHECK
  ext/pcntl/config.m4
Labels: Category: Build System, Extension: pcntl

#14322 Move regression tests of SOAP to bugs directory
  ext/soap/tests/bugs/bug46760.phpt
  ext/soap/tests/bugs/bug47021.phpt
  ext/soap/tests/bugs/bug48557.phpt
  ext/soap/tests/bugs/bug48557.wsdl
  ext/soap/tests/bugs/bug49898.phpt
  ext/soap/tests/bugs/bug68361.phpt
  ext/soap/tests/bugs/bug68996.phpt
  ext/soap/tests/bugs/bug69137.phpt
  ext/soap/tests/bugs/bug69668.phpt
  ext/soap/tests/bugs/bug69668.wsdl
  ext/soap/tests/bugs/bug70211.phpt
  ext/soap/tests/bugs/bug70388.phpt
  ext/soap/tests/bugs/bug70875.phpt
  ext/soap/tests/bugs/bug70875.wsdl
  ext/soap/tests/bugs/bug71610.phpt
  ext/soap/tests/bugs/bug71711.phpt
  ext/soap/tests/bugs/bug71996.phpt
  ext/soap/tests/bugs/bug73037.phpt
  ext/soap/tests/bugs/bug73452.phpt
  ext/soap/tests/bugs/bug75306.phpt
  ext/soap/tests/bugs/bug77088.phpt
  ext/soap/tests/bugs/bug77410.phpt
  ext/soap/tests/bugs/bug77410.wsdl
  ext/soap/tests/bugs/bug79357.phpt
  ext/soap/tests/bugs/bug79357.wsdl
  ext/soap/tests/bugs/bug79536.phpt
  ext/soap/tests/bugs/bug80672.phpt
  ext/soap/tests/bugs/bug80672.xml
Labels: Extension: soap

#14340 Sync HAVE_ENCHANT_BROKER_SET_PARAM definitions
  ext/enchant/config.w32
  ext/enchant/enchant.c
Labels: Category: Build System, Extension: enchant

#14335 Fix gen_stub.php errors
  build/gen_stub.php
Labels: Category: Build System

#14341 Sync HAVE_IPV6 and HAVE_GETADDRINFO in #if/ifdef/defined
  ext/sockets/conversions.c
  ext/sockets/sendrecvmsg.c
  ext/sockets/sockaddr_conv.c
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
  main/network.c
  sapi/cli/php_cli_server.c
Labels: Extension: sockets, SAPI: cli

#14350 Remove useless RETURN_NULLs()
  ext/dom/element.c
Labels: Extension: dom

#13363 Add PHP_SBINDIR
  UPGRADING
  main/main.stub.php
  main/main_arginfo.h
  win32/build/config.w32.h.in
Labels: Category: Build System

#14354 Sync HAVE_BUNDLED_PCRE #if/ifdef/defined
  ext/pcre/php_pcre.c
  ext/zend_test/test.c
Labels: Extension: pcre, Extension: zend_test

#14353 ext/standard: Refactor exec.c public APIs to use zend_string pointers
  UPGRADING.INTERNALS
  ext/mbstring/mbstring.c
  ext/standard/exec.c
  ext/standard/exec.h
  ext/standard/mail.c
  ext/standard/tests/general_functions/escapeshellarg_bug71270.phpt
  ext/standard/tests/general_functions/escapeshellcmd_bug71270.phpt
  main/main.c
Labels: Extension: mbstring, Extension: standard

#13677 Document stubs
  docs/source/index.rst
  docs/source/miscellaneous/stubs.rst
Labels: Category: Documentation

#14352 Use helper macro in ext/exif
  ext/exif/exif.c
Labels: Extension: exif

#14347 Fix GH-14343: Memory leak in xml and dom
  NEWS
  ext/dom/document.c
  ext/dom/tests/gh14343.phpt
Labels: Extension: dom

#14348 Fix bug #47925 again
  ext/soap/php_http.c
  ext/soap/tests/bugs/bug47925.phpt
Labels: Extension: soap

#14363 Move more common code into php_dom_next_in_tree_order()
  ext/dom/element.c
  ext/dom/namespace_compat.c
  ext/dom/php_dom.c
  ext/dom/xml_common.h
  ext/dom/xml_document.c
  ext/xsl/xsltprocessor.c
Labels: Extension: dom, Extension: xsl

#14362 Fix bug GH-11941: soap with session persistence will silently fails when "seession" built as a shared object
  NEWS
  UPGRADING
  UPGRADING.INTERNALS
  ext/session/php_session.h
  ext/session/session.c
  ext/soap/config.m4
  ext/soap/config.w32
  ext/soap/soap.c
  ext/soap/tests/bugs/gh11941_errors.phpt
Labels: Category: Build System, Extension: session, Extension: soap

#14355 Remove PROG_SENDMAIL from Makefile
  build/php.m4
Labels: Category: Build System

#13734 Remove obsolete Makefile .NOEXPORT target
  build/Makefile.global
Labels: Category: Build System

#14242 Add zend_atomic_int
  Zend/zend_atomic.c
  Zend/zend_atomic.h
Labels: Category: Engine

#14360 ext/intl: Various refactoring
  ext/intl/breakiterator/breakiterator_class.cpp
  ext/intl/calendar/calendar_class.cpp
  ext/intl/collator/collator_class.c
  ext/intl/converter/converter.c
  ext/intl/dateformat/dateformat_class.c
  ext/intl/dateformat/datepatterngenerator_class.cpp
  ext/intl/formatter/formatter_class.c
  ext/intl/grapheme/grapheme_util.c
  ext/intl/idn/idn.c
  ext/intl/msgformat/msgformat_class.c
  ext/intl/resourcebundle/resourcebundle_iterator.c
  ext/intl/spoofchecker/spoofchecker_class.c
  ext/intl/tests/bug62915.phpt
  ext/intl/tests/collator_get_error_code.phpt
  ext/intl/tests/dateformat_clone_bad_obj.phpt
  ext/intl/tests/formatter_clone_bad_obj.phpt
  ext/intl/tests/idn_uts46_errors.phpt
  ext/intl/tests/intl_get_error_code.phpt
  ext/intl/tests/intl_get_error_message.phpt
  ext/intl/tests/locale_compose_locale.phpt
  ext/intl/tests/msgfmt_clone_bad_obj.phpt
  ext/intl/tests/timezone_clone_error.phpt
  ext/intl/timezone/timezone_class.cpp
  ext/intl/transliterator/transliterator.h
  ext/intl/transliterator/transliterator_class.c
Labels: Extension: intl

#14346 Refactor fopencookie check
  build/php.m4
Labels: Category: Build System

#14375 Fixed rounding error with new DateTime[Immutable]::createFromTimestamp method
  ext/date/php_date.c
  ext/date/tests/createFromTimestamp.phpt
Labels: Extension: date

#14291 random: Make `php_random_bytes()` useable early during engine startup
  Zend/zend_portability.h
  ext/random/csprng.c
  ext/random/php_random.h
  ext/random/php_random_csprng.h
  ext/random/random.c
Labels: Category: Engine, Extension: random

#14372 Join SQLite library setup M4 macros to PHP_SETUP_SQLITE
  build/php.m4
  ext/pdo_sqlite/config.m4
  ext/sqlite3/config0.m4
Labels: Category: Build System, Extension: pdo_sqlite, Extension: sqlite3

#14374 ext/bcmath: Use an enum for comparison result
  ext/bcmath/libbcmath/src/add.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/compare.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/raisemod.c
  ext/bcmath/libbcmath/src/sqrt.c
  ext/bcmath/libbcmath/src/sub.c
Labels: Extension: bcmath

#14069 Amend PDO driver-specific class names
  ext/pdo_dblib/pdo_dblib.c
  ext/pdo_dblib/pdo_dblib.stub.php
  ext/pdo_dblib/pdo_dblib_arginfo.h
  ext/pdo_dblib/tests/pdodblib_001.phpt
  ext/pdo_dblib/tests/pdodblib_002.phpt
  ext/pdo_firebird/pdo_firebird.c
  ext/pdo_firebird/pdo_firebird.stub.php
  ext/pdo_firebird/pdo_firebird_arginfo.h
  ext/pdo_firebird/tests/pdofirebird_002.phpt
  ext/pdo_firebird/tests/testdb.inc
  ext/pdo_mysql/pdo_mysql.c
  ext/pdo_mysql/pdo_mysql.stub.php
  ext/pdo_mysql/pdo_mysql_arginfo.h
  ext/pdo_mysql/tests/pdomysql_001.phpt
  ext/pdo_mysql/tests/pdomysql_002.phpt
  ext/pdo_mysql/tests/pdomysql_003.phpt
  ext/pdo_odbc/pdo_odbc.c
  ext/pdo_odbc/pdo_odbc.stub.php
  ext/pdo_odbc/pdo_odbc_arginfo.h
  ext/pdo_odbc/tests/pdoodbc_001.phpt
  ext/pdo_odbc/tests/pdoodbc_002.phpt
  ext/pdo_pgsql/pdo_pgsql.c
  ext/pdo_pgsql/pdo_pgsql.stub.php
  ext/pdo_pgsql/pdo_pgsql_arginfo.h
  ext/pdo_pgsql/tests/pdopgsql_001.phpt
  ext/pdo_pgsql/tests/pdopgsql_002.phpt
  ext/pdo_pgsql/tests/pdopgsql_003.phpt
  ext/pdo_sqlite/pdo_sqlite.c
  ext/pdo_sqlite/pdo_sqlite.stub.php
  ext/pdo_sqlite/pdo_sqlite_arginfo.h
  ext/pdo_sqlite/tests/subclasses/gc.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_constants.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createafunction_arg_error.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createafunction_trampoline.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createaggregate.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createaggregate_002.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createaggregate_arg_error.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createaggregate_trampoline.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createcollation.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createcollation_arg_error.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createcollation_trampoline.phpt
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_createfunction_with_flags.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_001.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_002.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_003.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_004_blobopen.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_005.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_006.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_007.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_load_extension_failure.phpt
Labels: Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite

#14377 Use AC_DEFINE_UNQUOTED where variables are present
  ext/ffi/config.m4
Labels: Category: Build System, Extension: ffi

#14378 Fix GH-14368: Test failure in ext/session/tests/gh13856.phpt
  ext/session/tests/gh13856.phpt
Labels: Extension: session

#14379 Fix missing error restore code in ext-soap
  NEWS
  ext/soap/soap.c
Labels: Extension: soap

#14108 RFC: array_find
  NEWS
  UPGRADING
  ext/standard/array.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/array/array_all_basic.phpt
  ext/standard/tests/array/array_any_basic.phpt
  ext/standard/tests/array/array_find_basic.phpt
  ext/standard/tests/array/array_find_key_basic.phpt
  ext/standard/tests/array/array_find_types.phpt
Labels: RFC, Extension: standard

#14389 Fix signedness and argument order issues with argc handling in soap
  ext/soap/php_soap.h
  ext/soap/soap.c
Labels: Extension: soap

#14391 Avoid string duplication in Soap function response
  ext/soap/soap.c
Labels: Extension: soap

#14393 ext/sqlite: Sqlite3Stmt::bindParam/bindValue named parameters change.
  ext/sqlite3/sqlite3.c
Labels: Extension: sqlite3
