Repository php/php-src, pull requests merged in 2024-12, with the labels that each got.

#17009 Add missing backslash for TokenList interfaces in stub
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#17001 Refactor disp_invokeex() to avoid superfluous recheck
  ext/com_dotnet/com_wrapper.c
Labels: Extension: com_dotnet

#17015 Fix GH-16984: function JIT overflow bug
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/tests/jit/gh16984.phpt
Labels: Extension: opcache

#16458 RFC: Support Closures in constant expressions
  NEWS
  UPGRADING
  Zend/tests/closure_const_expr/attributes.phpt
  Zend/tests/closure_const_expr/attributes_ast_printing.phpt
  Zend/tests/closure_const_expr/attributes_scope_001.phpt
  Zend/tests/closure_const_expr/attributes_scope_002.phpt
  Zend/tests/closure_const_expr/basic.phpt
  Zend/tests/closure_const_expr/class_const.phpt
  Zend/tests/closure_const_expr/complex_array.phpt
  Zend/tests/closure_const_expr/complex_new.phpt
  Zend/tests/closure_const_expr/default_args.phpt
  Zend/tests/closure_const_expr/disallows_non_static.phpt
  Zend/tests/closure_const_expr/disallows_using_variables.phpt
  Zend/tests/closure_const_expr/property_initializer.phpt
  Zend/tests/closure_const_expr/property_initializer_scope_001.phpt
  Zend/tests/closure_const_expr/property_initializer_scope_002.phpt
  Zend/tests/closure_const_expr/static_initalizer.phpt
  Zend/tests/closure_const_expr/static_property_initializer.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
Labels: RFC, Category: Engine, Extension: opcache, ABI break

#17023 Fix GH-17017: OOB read when starting up file cache
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#17032 Fix GH-17003: Pecl 8.4 tracing JIT crash
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#17030 Fix GH-16996: 8.4 tracing JIT phpseclib failures
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#16965 Exclude further dependencies from dist
  win32/build/mkdist.php
Labels: Category: Build System

#17042 Fix GH-9011: Assertion failure with tracing JIT
  Zend/tests/traits/bugs/gh13177.phpt
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/tests/jit/gh9011.phpt
Labels: Extension: opcache

#17052 Backport fix for GH-9011
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh9011.phpt
Labels: Extension: opcache

#15791 ext/date: reduce duplication in __wakeup() methods
  ext/date/php_date.c
Labels: Extension: date

#17069 Fix typo in "private" function name (Windows configuration)
  win32/build/config.w32
  win32/build/config.w32.phpize.in
  win32/build/confutils.js
Labels: Category: Build System

#17021 Guard config.w32.h from multiple inclusion
  win32/build/confutils.js
Labels: Category: Build System

#17097 Fix duplicate pattern usage in Z_TRY_(ADD|DEL)REF_P
  Zend/zend_types.h
Labels: Category: Engine

#17089 zend_hrtime: Use `clock_gettime_nsec_np()` for macOS if available
  NEWS
  UPGRADING
  Zend/Zend.m4
  Zend/zend_hrtime.c
  Zend/zend_hrtime.h
Labels: Category: Build System, Category: Engine, ABI break

#17094 Simplify parsing of affine matrix arguments
  ext/gd/gd.c
Labels: Extension: gd

#17123 ext/sockets: socket_get_option/socket_set_option timeout type on win32.
  ext/sockets/sockets.c
Labels: Extension: sockets

#17128 Remove support for unsupported MSVC versions
  Zend/zend_config.w32.h
  Zend/zend_portability.h
  ext/openssl/openssl.c
  ext/soap/php_encoding.c
  ext/standard/string.c
  win32/time.h
Labels: Extension: openssl, Category: Engine, Extension: soap, Extension: standard

#17095 Preallocate space for Win64 shadow args
  Zend/tests/bug54268.phpt
  Zend/tests/gh16509.phpt
  Zend/tests/gh8841.phpt
  Zend/tests/gh9407.phpt
  Zend/tests/stack_limit/stack_limit_014.phpt
  Zend/tests/traits/bugs/gh13177.phpt
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/spl/tests/gh14639.phpt
  tests/lang/bug45392.phpt
Labels: Extension: opcache, Extension: spl

#17078 Fix curl_multi_exec() overflow message
  ext/curl/multi.c
  ext/curl/tests/gh15547.phpt
Labels: Extension: curl

#17100 Fail phpize early if config.w32 is missing
  win32/build/phpize.bat
  win32/build/phpize.js.in
Labels: Category: Build System

#17171 Merge readline tests for POSIX and Windows
  ext/readline/tests/libedit_info_001-win32.phpt
  ext/readline/tests/libedit_info_001.phpt
  ext/readline/tests/libedit_write_history_001-win32.phpt
  ext/readline/tests/libedit_write_history_001.phpt
Labels: Extension: readline

#17177 sapi/cli: Refactor process title setting code
  sapi/cli/php_cli_process_title.c
  sapi/cli/ps_title.c
  sapi/cli/ps_title.h
Labels: SAPI: cli

#17173 ext/pdo_firebird: Throw ValueError if cursor name is too long
  ext/pdo_firebird/firebird_statement.c
  ext/pdo_firebird/tests/setCursorAttribute.phpt
Labels: Extension: pdo_firebird

#17172 ext/pcntl: Refactor usage of strlcpy
  UPGRADING
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
  ext/pcntl/tests/pcntl_exec_strings_with_nul_bytes.phpt
Labels: Extension: pcntl

#17191 phpdbg: Call enums “Enum” and traits “Trait” in `info classes`
  sapi/phpdbg/phpdbg_info.c
Labels: SAPI: phpdbg

#17115 Avoid string duplications in sqlite drivers
  ext/pdo_sqlite/php_pdo_sqlite_int.h
  ext/pdo_sqlite/sqlite_driver.c
  ext/sqlite3/php_sqlite3_structs.h
  ext/sqlite3/sqlite3.c
Labels: Extension: pdo_sqlite, Extension: sqlite3

#17221 Fix GH-17190: Assertion failure ext/opcache/jit/ir/ir_gcm.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/tests/jit/gh17190.phpt
Labels: Extension: opcache

#17210 ext/sockets: further timeout handling changes.
  NEWS
  ext/sockets/sockets.c
Labels: Extension: sockets

#17229 ext/pdo_firebird: Fix label followed by declaration
  ext/pdo_firebird/firebird_statement.c
Labels: Extension: pdo_firebird

#17232 Implement cache slot optimization for XMLReader
  UPGRADING
  ext/xmlreader/php_xmlreader.c
  ext/xmlreader/tests/cache_slot.phpt
Labels: Extension: xmlreader

#17239 Introduce FPM_TEST_DEBUG_FILTER env var and extend multi request tracing
  sapi/fpm/tests/tester.inc
Labels: SAPI: fpm

#17242 SplFileObject::fwrite $length param nullable
  UPGRADING
  ext/spl/spl_directory.c
  ext/spl/spl_directory.stub.php
  ext/spl/spl_directory_arginfo.h
Labels: Extension: spl

#17192 Reintroduce proc_open_multiplex.phpt
  ext/standard/tests/general_functions/proc_open_multiplex.phpt
Labels: Extension: standard

#17265 Make imagebmp_basic.phpt more resilient
  ext/gd/tests/imagebmp_basic.phpt
  ext/gd/tests/imagebmp_basic.png
Labels: Extension: gd

#17272 Remove unused dummy_op_array
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#16935 Make PDO_MYSQL_ATTR_DIRECT_QUERY a proper alias
  ext/pdo_mysql/mysql_driver.c
  ext/pdo_mysql/pdo_mysql.c
  ext/pdo_mysql/pdo_mysql.stub.php
  ext/pdo_mysql/pdo_mysql_arginfo.h
  ext/pdo_mysql/php_pdo_mysql_int.h
  ext/pdo_mysql/tests/bug68371.phpt
Labels: Extension: pdo_mysql

#17285 Relax possible E_ERROR condition to an Error exception
  ext/spl/spl_directory.c
Labels: Extension: spl

#17284 Fix GH-17280: ldap_search() fails when $attributes array has holes
  ext/ldap/ldap.c
  ext/ldap/tests/gh17280.phpt
  ext/ldap/tests/ldap_add_modify_delete_programming_errors.phpt
  ext/ldap/tests/ldap_list_read_search_programming_errors.phpt
  ext/ldap/tests/ldap_modify_batch_programming_error.phpt
  ext/ldap/tests/ldap_search_error.phpt
Labels: Extension: ldap

#17185 ext/mysqlnd: Refactor usage of strlcpy()
  ext/mysqlnd/mysqlnd_loaddata.c
Labels: Extension: mysqlnd

#16291 gen_stub: various simplifications and clean up
  build/gen_stub.php
Labels: Category: Build System

#17292 ext/standard: Use zend_string_equals_literal API
  ext/standard/basic_functions.c
Labels: Extension: standard

#17186 ext/sockets: Additional refactorings to `socket_set_option()`
  ext/sockets/sockets.c
  ext/sockets/tests/socket_set_option_acf.phpt
  ext/sockets/tests/socket_set_option_invalid_value_for_SOL_FILTER_SO_ATTACH.phpt
  ext/sockets/tests/socket_set_option_invalid_value_for_SOL_SOCKET_SO_ACCEPTFILTER.phpt
  ext/sockets/tests/socket_set_option_invalid_value_for_SOL_SOCKET_SO_BINDTODEVICE.phpt
  ext/sockets/tests/socket_set_option_invalid_value_for_SOL_TCP_TCP_CONGESTION.phpt
  ext/sockets/tests/socket_set_option_invalid_value_for_SOL_TCP_TCP_FUNCTION_BLK.phpt
Labels: Extension: sockets

#17298 Minor simplexml cleanups
  ext/simplexml/simplexml.c
Labels: Extension: simplexml

#17294 ext/standard: Minor refactorings
  ext/standard/basic_functions.c
Labels: Extension: standard

#17301 Remove incorrect RC1 annotation for get_include_path()
  Zend/Optimizer/zend_func_infos.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Labels: Extension: standard, Category: Optimizer, ABI break

#17259 Fix FD getting code on big endian
  ext/posix/posix.c
Labels: Extension: posix

#16510 improve range array overflow error message
  ext/standard/array.c
  ext/standard/tests/array/range/range_bug70239_2.phpt
  ext/standard/tests/array/range/range_bug70239_3.phpt
  ext/standard/tests/array/range/range_inputs_float_small_step_exhaustion.phpt
Labels: Extension: standard
