Repository php/php-src, pull requests merged in 2024-06, with the labels that each got.

#14398 Fix bug #69280: SoapClient classmap doesn't support fully qualified class name
  NEWS
  ext/soap/php_encoding.c
  ext/soap/php_encoding.h
  ext/soap/php_soap.h
  ext/soap/soap.c
  ext/soap/tests/bug69280.phpt
  ext/soap/tests/bug69280.wsdl
Labels: Extension: soap

#14400 ext/exif: moving few instances from memmove to memcpy.
  ext/exif/exif.c
Labels: Extension: exif

#14403 Struct-pack some soap datatypes
  ext/soap/php_sdl.h
  ext/soap/php_soap.h
Labels: Extension: soap

#14408 Fix ZEND_DEBUG condition
  ext/soap/soap.c
Labels: Extension: soap

#14409 Remove hash dependency from session extension
  UPGRADING.INTERNALS
  ext/session/config.m4
  ext/session/php_session.h
  ext/session/session.c
Labels: Category: Build System, Extension: session

#14399 ext/odbc: Remove unused INI settings
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

#14365 Ext headers cleanup
  ext/bz2/bz2.c
  ext/dba/dba.c
  ext/fileinfo/php_libmagic.h
  ext/filter/filter.c
  ext/filter/php_filter.h
  ext/filter/sanitizing_filters.c
  ext/libxml/libxml.c
  ext/mbstring/mb_gpc.c
  ext/mbstring/mbstring.c
  ext/mysqli/mysqli.c
  ext/odbc/php_odbc.c
  ext/pcre/php_pcre.c
  ext/pdo_pgsql/pgsql_driver.c
  ext/posix/posix.c
  ext/standard/array.c
  ext/standard/browscap.c
  ext/standard/dir.c
  ext/standard/exec.c
  ext/standard/file.c
  ext/standard/filters.c
  ext/standard/formatted_print.c
  ext/standard/html.c
  ext/standard/levenshtein.c
  ext/standard/link.c
  ext/standard/mail.c
  ext/standard/pack.c
  ext/standard/proc_open.c
  ext/standard/soundex.c
  ext/standard/streamsfuncs.c
  ext/standard/string.c
  ext/zip/zip_stream.c
  ext/zlib/zlib.c
  main/SAPI.c
Labels: Extension: bz2, Extension: dba, Extension: fileinfo, Extension: filter, Extension: libxml, Extension: mbstring, Extension: mysqli, Extension: odbc, Extension: pcre, Extension: pdo_pgsql, Extension: posix, Extension: standard, Extension: zip, Extension: zlib

#14404 Add missing pcre dependency definition to zip extension
  ext/zip/config.m4
  ext/zip/config.w32
  ext/zip/php_zip.c
Labels: Category: Build System, Extension: zip

#14412 ext/intl: SpooChecker using fast ZPP.
  ext/intl/spoofchecker/spoofchecker_create.c
  ext/intl/spoofchecker/spoofchecker_main.c
Labels: Extension: intl

#14410 Update ext/session spl dependency
  ext/session/config.m4
  ext/session/config.w32
  ext/session/session.c
Labels: Category: Build System, Extension: session

#14397 Sync build system #if/ifdef/defined
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14415 ext/intl: timezone using fast ZPP and fixing SpoofChecker
  ext/intl/spoofchecker/spoofchecker_main.c
  ext/intl/timezone/timezone_methods.cpp
Labels: Extension: intl

#14413 ext/intl converter and formatter using fast ZPP
  ext/intl/converter/converter.c
  ext/intl/formatter/formatter_main.c
Labels: Extension: intl

#14419 ext/intl: further fast ZPP usage.
  ext/intl/dateformat/dateformat_format_object.cpp
  ext/intl/grapheme/grapheme_string.c
Labels: Extension: intl

#14417 Wrap ttyname_r check in AC_CACHE_CHECK
  ext/posix/config.m4
Labels: Category: Build System, Extension: posix

#14420 ext/int: UChar using fast ZPP
  ext/intl/uchar/uchar.c
Labels: Extension: intl

#14421 ext/intl: odn, collator, msgformat using fast ZPP
  ext/intl/collator/collator_create.c
  ext/intl/idn/idn.c
  ext/intl/msgformat/msgformat.c
  ext/intl/msgformat/msgformat_parse.c
Labels: Extension: intl

#14422 ext/intl: common use fast ZPP
  ext/intl/common/common_enum.cpp
  ext/intl/common/common_error.c
Labels: Extension: intl

#14425 ext/intl: calendar/locale use fast ZPP.
  ext/intl/calendar/calendar_methods.cpp
  ext/intl/calendar/gregoriancalendar_methods.cpp
  ext/intl/locale/locale_methods.c
Labels: Extension: intl

#14431 ext/intl last chunk of fast ZPP conversion
  ext/intl/breakiterator/breakiterator_iterators.cpp
  ext/intl/breakiterator/breakiterator_methods.cpp
  ext/intl/breakiterator/codepointiterator_methods.cpp
  ext/intl/breakiterator/rulebasedbreakiterator_methods.cpp
  ext/intl/normalizer/normalizer_normalize.c
  ext/intl/resourcebundle/resourcebundle_class.c
  ext/intl/transliterator/transliterator_methods.c
Labels: Extension: intl

#14435 Sync #if/ifdef/defined for LIBXML_EXPAT_COMPAT
  ext/xml/xml.c
Labels: Extension: xml

#14434 Wrap clock_get_time check in AC_CACHE_CHECK
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14436 Wrap ext/opcache AC_RUN_IFELSE checks in AC_CACHE_CHECK
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#14437 Wrap Zend stack limit check in AC_CACHE_CHECK
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14438 Wrap iconv errno check in AC_CACHE_CHECK
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

#14446 Update ext/simplexml dependencies
  ext/simplexml/config.m4
  ext/simplexml/config.w32
Labels: Category: Build System, Extension: simplexml

#14442 refactor: use `ZEND_PARSE_PARAMETERS_NONE` in `spl_iterators.c`
  ext/spl/spl_iterators.c
Labels: Refactoring, Extension: spl

#14443 Wrap gdImageCreateFrom* checks in AC_CACHE_CHECK
  ext/gd/config.m4
Labels: Category: Build System, Extension: gd

#14445 Use AC_SUBST for CONFIGURE_COMMAND and CONFIGURE_OPTIONS
  build/php.m4
Labels: Category: Build System

#14444 Simplify PDO include paths
  UPGRADING.INTERNALS
  ext/pdo_dblib/config.m4
  ext/pdo_dblib/dblib_driver.c
  ext/pdo_dblib/dblib_stmt.c
  ext/pdo_dblib/pdo_dblib.c
  ext/pdo_firebird/config.m4
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/firebird_statement.c
  ext/pdo_firebird/pdo_firebird.c
  ext/pdo_mysql/config.m4
  ext/pdo_mysql/mysql_driver.c
  ext/pdo_mysql/mysql_statement.c
  ext/pdo_mysql/pdo_mysql.c
  ext/pdo_odbc/config.m4
  ext/pdo_odbc/odbc_driver.c
  ext/pdo_odbc/odbc_stmt.c
  ext/pdo_odbc/pdo_odbc.c
  ext/pdo_pgsql/config.m4
  ext/pdo_pgsql/pdo_pgsql.c
  ext/pdo_pgsql/pgsql_driver.c
  ext/pdo_pgsql/pgsql_statement.c
  ext/pdo_sqlite/config.m4
  ext/pdo_sqlite/pdo_sqlite.c
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/sqlite_statement.c
Labels: Category: Build System, Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite

#14424 Cache pcre subpattern table
  UPGRADING
  ext/pcre/php_pcre.c
Labels: Extension: pcre

#14453 ext/sockets: using fast ZPP.
  ext/sockets/sockets.c
Labels: Extension: sockets

#14457 Remove use of SDWORD and SWORD in ODBC extensions (8.2)
  ext/pdo_odbc/odbc_stmt.c
  ext/pdo_odbc/php_pdo_odbc_int.h
Labels: Extension: pdo_odbc

#14459 Fix GH-11188: Error when building TSRM in ARM64 (for IR JIT)
  TSRM/TSRM.c
  TSRM/TSRM.h
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#14466 Replace `ZEND_ASSUME()` by `ZEND_ASSERT()` in `zend_hash_*_ptr` setters
  Zend/zend_hash.h
Labels: Category: Engine

#14478 Fix undefined behavior (left shift of negative number)
  ext/standard/image.c
Labels: Extension: standard

#14484 Fix GH-14480: Method visibility issue introduced in version 8.3.8
  Zend/tests/gh14480.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#14440 Zend: Add object_init_with_constructor() API
  Zend/zend_API.c
  Zend/zend_API.h
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/zend_object_init_with_constructor.phpt
  ext/zend_test/tests/zend_object_init_with_constructor_classes_without_constructor.phpt
Labels: Category: Engine, Extension: zend_test

#14302 Check ext/pcntl required functions with for loop
  UPGRADING.INTERNALS
  ext/pcntl/config.m4
Labels: Category: Build System, Extension: pcntl

#14458 Remove redundant _WIN32 compile definitions
  ext/enchant/config.w32
  ext/zip/config.w32
Labels: Category: Build System, Extension: enchant, Extension: zip

#14468 Remove WINDOWS symbol from ext/ldap/ldap.c
  ext/ldap/ldap.c
Labels: Extension: ldap

#14464 Replace WINDOWS with PHP_WIN32 in ext/standard/filestat.c
  ext/standard/filestat.c
Labels: Extension: standard

#14371 Sync #if/ifdef/defined
  ext/date/php_date.c
  ext/iconv/iconv.c
  ext/random/csprng.c
  ext/sockets/conversions.c
  ext/sockets/multicast.c
  ext/sockets/php_sockets.h
  ext/sockets/sockets.c
  main/streams/cast.c
  main/streams/userspace.c
  sapi/fuzzer/fuzzer-exif.c
Labels: Extension: date, Extension: iconv, Extension: sockets, SAPI: fuzzer, Extension: random

#14323 Remove PHP_SETUP_OPENSSL inactive 3rd argument
  UPGRADING.INTERNALS
  build/php.m4
  ext/openssl/config0.m4
Labels: Category: Build System, Extension: openssl

#14498 ext/pcre: update to PCRE2 v10.44
  NEWS
  UPGRADING
  ext/pcre/pcre2lib/pcre2.h
  ext/pcre/pcre2lib/pcre2_compile.c
  ext/pcre/pcre2lib/pcre2_context.c
  ext/pcre/pcre2lib/pcre2_error.c
  ext/pcre/pcre2lib/pcre2_extuni.c
  ext/pcre/pcre2lib/pcre2_intmodedep.h
  ext/pcre/pcre2lib/pcre2_jit_compile.c
  ext/pcre/pcre2lib/pcre2_jit_misc.c
  ext/pcre/pcre2lib/pcre2_jit_simd_inc.h
  ext/pcre/pcre2lib/pcre2_match.c
  ext/pcre/pcre2lib/pcre2_tables.c
  ext/pcre/pcre2lib/sljit/allocator_src/sljitExecAllocatorApple.c
  ext/pcre/pcre2lib/sljit/allocator_src/sljitExecAllocatorCore.c
  ext/pcre/pcre2lib/sljit/sljitConfigInternal.h
  ext/pcre/pcre2lib/sljit/sljitLir.c
  ext/pcre/pcre2lib/sljit/sljitLir.h
  ext/pcre/pcre2lib/sljit/sljitNativeARM_32.c
  ext/pcre/pcre2lib/sljit/sljitNativeARM_64.c
  ext/pcre/pcre2lib/sljit/sljitNativeARM_T2_32.c
  ext/pcre/pcre2lib/sljit/sljitNativeLOONGARCH_64.c
  ext/pcre/pcre2lib/sljit/sljitNativeMIPS_32.c
  ext/pcre/pcre2lib/sljit/sljitNativeMIPS_64.c
  ext/pcre/pcre2lib/sljit/sljitNativeMIPS_common.c
  ext/pcre/pcre2lib/sljit/sljitNativePPC_common.c
  ext/pcre/pcre2lib/sljit/sljitNativeRISCV_common.c
  ext/pcre/pcre2lib/sljit/sljitNativeS390X.c
  ext/pcre/pcre2lib/sljit/sljitNativeX86_32.c
  ext/pcre/pcre2lib/sljit/sljitNativeX86_64.c
  ext/pcre/pcre2lib/sljit/sljitNativeX86_common.c
  ext/pcre/pcre2lib/sljit/sljitSerialize.c
Labels: Extension: pcre

#14319 Refactor check for libcurl linkage with OpenSSL < 1.1
  ext/curl/config.m4
Labels: Category: Build System, Extension: curl

#14416 Clean-up some more headers
  ext/ctype/ctype.c
  ext/date/php_date.c
  ext/exif/exif.c
  ext/filter/php_filter.h
  ext/gmp/gmp.c
  ext/iconv/iconv.c
  ext/intl/idn/idn.c
  ext/json/json.c
  ext/json/json_encoder.c
  ext/mbstring/mb_gpc.c
  ext/mysqli/mysqli_api.c
  ext/mysqli/mysqli_driver.c
  ext/mysqli/mysqli_exception.c
  ext/mysqli/mysqli_nonapi.c
  ext/mysqli/mysqli_prop.c
  ext/mysqli/mysqli_report.c
  ext/mysqli/mysqli_result_iterator.c
  ext/mysqli/mysqli_warning.c
  ext/odbc/php_odbc.c
  ext/openssl/openssl.c
  ext/pcntl/pcntl.c
  ext/pgsql/pgsql.c
  ext/readline/readline_cli.c
  ext/session/session.c
  ext/shmop/shmop.c
  ext/simplexml/simplexml.c
  ext/soap/php_http.c
  ext/soap/php_sdl.c
  ext/soap/php_soap.h
  ext/sodium/libsodium.c
  ext/spl/php_spl.c
  ext/spl/php_spl.h
  ext/spl/spl_array.c
  ext/spl/spl_directory.c
  ext/spl/spl_dllist.c
  ext/spl/spl_exceptions.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_iterators.c
  ext/spl/spl_observer.c
  ext/sqlite3/sqlite3.c
  ext/sysvmsg/sysvmsg.c
  ext/sysvshm/sysvshm.c
  ext/tokenizer/tokenizer.c
  ext/tokenizer/tokenizer_data.c
  ext/tokenizer/tokenizer_data_gen.php
  ext/xml/xml.c
  ext/xmlwriter/php_xmlwriter.c
  ext/xsl/php_xsl.c
  ext/zip/php_zip.c
Labels: Extension: openssl, Extension: intl, Extension: ctype, Extension: date, Extension: exif, Extension: filter, Extension: gmp, Extension: iconv, Extension: json, Extension: mbstring, Extension: mysqli, Extension: odbc, Extension: pcntl, Extension: pgsql, Extension: readline, Extension: session, Extension: shmop, Extension: simplexml, Extension: soap, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: sysvmsg, Extension: sysvshm, Extension: tokenizer, Extension: xml, Extension: xmlwriter, Extension: xsl, Extension: zip

#14509 ext/pcre: update Config to match upstream
  ext/pcre/pcre2lib/config.h
Labels: Extension: pcre

#14418 ext/spl: Remove spl_engine.h header
  ext/phar/phar_internal.h
  ext/phar/phar_object.c
  ext/spl/config.m4
  ext/spl/config.w32
  ext/spl/php_spl.c
  ext/spl/spl_directory.c
  ext/spl/spl_dllist.c
  ext/spl/spl_engine.h
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
  ext/spl/spl_iterators.c
  ext/spl/spl_observer.c
Labels: Category: Build System, Extension: phar, Extension: spl

#14514 Sync HAVE_GRP_H definition
  ext/standard/filestat.c
  ext/standard/link.c
  ext/standard/pageinfo.c
  win32/build/config.w32.h.in
Labels: Category: Build System, Extension: standard

#14507 ext/bcmath: Renamed macros and variables
  ext/bcmath/libbcmath/src/doaddsub.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#14299 PdoPgsql::setNoticeCallback()
  NEWS
  UPGRADING
  ext/pdo/php_pdo.h
  ext/pdo_pgsql/pdo_pgsql.c
  ext/pdo_pgsql/pdo_pgsql.stub.php
  ext/pdo_pgsql/pdo_pgsql_arginfo.h
  ext/pdo_pgsql/pgsql_driver.c
  ext/pdo_pgsql/pgsql_driver.stub.php
  ext/pdo_pgsql/pgsql_driver_arginfo.h
  ext/pdo_pgsql/php_pdo_pgsql_int.h
  ext/pdo_pgsql/tests/issue78621.inc
  ext/pdo_pgsql/tests/issue78621.phpt
  ext/pdo_pgsql/tests/issue78621_closure.phpt
  ext/pdo_pgsql/tests/issue78621_method.phpt
  ext/pdo_pgsql/tests/pdopgsql_setNoticeCallback.phpt
  ext/pdo_pgsql/tests/pdopgsql_setNoticeCallback_trampoline_no_leak.phpt
Labels: Extension: pdo (core), Extension: pdo_pgsql

#14516 Fix typo s/PGVERSION_NUM/PG_VERSION_NUM
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
Labels: Extension: pgsql

#14511 Sync #if/ifdef/defined
  ext/hash/hash_crc32.c
  ext/standard/crc32.c
  ext/standard/crc32_x86.c
  ext/standard/crc32_x86.h
Labels: Extension: hash, Extension: standard

#14515 Add missing sodium.h header
  ext/sodium/php_libsodium.h
Labels: Extension: sodium

#14519 Check for PQERRORS_SQLSTATE in PGVerbosity enum
  ext/pgsql/config.m4
  ext/pgsql/pgsql.c
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
Labels: Category: Build System, Extension: pgsql

#14508 Sync #if/ifdef/defined
  Zend/zend_API.c
  Zend/zend_virtual_cwd.h
  ext/date/php_date.c
  ext/dba/libflatfile/flatfile.c
  ext/dba/libinifile/inifile.c
  ext/dom/html_document.c
  ext/dom/xml_document.c
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/zend_accelerator_module.c
  ext/opcache/zend_file_cache.c
  ext/random/csprng.c
  ext/random/random.c
  ext/sockets/php_sockets.h
  ext/standard/file.c
  ext/standard/streamsfuncs.c
  main/fopen_wrappers.c
  main/main.c
  main/network.c
  main/php.h
  main/php_ini.c
  main/php_open_temporary_file.c
  main/streams/php_stream_transport.h
  main/streams/plain_wrapper.c
  sapi/cgi/cgi_main.c
  sapi/cli/php_cli.c
  sapi/cli/php_cli_server.c
  sapi/litespeed/lsapi_main.c
  sapi/litespeed/lscriu.c
  win32/ioutil.h
Labels: Category: Engine, Extension: date, Extension: dba, Extension: dom, Extension: opcache, Extension: sockets, Extension: standard, SAPI: cgi, SAPI: cli, SAPI: litespeed, Extension: random

#14525 Sync PHP_FILEINFO_UNCOMPRESS #if/ifdef/defined
  ext/fileinfo/libmagic.patch
  ext/fileinfo/libmagic/funcs.c
Labels: Extension: fileinfo

#14512 Sync #if/ifdef/defined (readline and Zend max execution timers)
  Zend/zend_execute_API.c
  ext/readline/php_readline.h
  ext/readline/readline.c
  ext/readline/readline_cli.c
  sapi/cli/php_cli.c
Labels: Category: Engine, Extension: readline, SAPI: cli

#14479 Make the CLI mode available via the SAPI globals
  sapi/cli/cli.h
  sapi/cli/php_cli.c
Labels: SAPI: cli

#14531 cli: Clean up formatting in `do_cli()`
  sapi/cli/php_cli.c
Labels: SAPI: cli

#14530 Fix fall through warning in sapi/litespeed
  sapi/litespeed/lsapi_main.c
Labels: SAPI: litespeed

#14462 Replace WIN32 conditions with _WIN32 or PHP_WIN32
  TSRM/TSRM.h
  ext/gd/libgd/gd.h
  ext/gd/libgd/gdft.c
  ext/hash/xxhash/xxhash.h
  ext/mbstring/libmbfl/mbfl/mbfl_defs.h
  ext/random/random.c
  ext/sockets/php_sockets.h
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
  ext/standard/crc32.c
  sapi/cgi/cgi_main.c
Labels: Extension: gd, Extension: hash, Extension: mbstring, Extension: sockets, Extension: standard, SAPI: cgi, Extension: random

#14533 Remove redundant win32/unistd.h includes
  ext/fileinfo/php_libmagic.h
  ext/standard/array.c
Labels: Extension: fileinfo, Extension: standard

#14535 Update ext/spl as required dependency for ext/pdo
  ext/pdo/config.m4
  ext/pdo/config.w32
Labels: Category: Build System, Extension: pdo (core)

#14534 ext/gd using fast ZPP.
  ext/gd/gd.c
Labels: Extension: gd

#14463 Fixed GH-14383: Fixed usec was carry up
  ext/date/php_date.c
  ext/date/tests/gh14383.phpt
Labels: Extension: date

#14333 Sync HAVE_OPENSSL* symbols
  UPGRADING.INTERNALS
  ext/openssl/config.w32
  ext/openssl/config0.m4
  ext/openssl/php_openssl.h
  sapi/cgi/cgi_main.c
  sapi/cli/php_cli.c
  sapi/phpdbg/phpdbg.c
Labels: Category: Build System, Extension: openssl, SAPI: cgi, SAPI: cli, SAPI: phpdbg

#14536 random: Remove redundant assignments in `php_random_rangeX()`
  ext/random/random.c
Labels: Extension: random

#14520 Sync #if/ifdef/defined
  Zend/zend_compile.c
  Zend/zend_operators.c
  Zend/zend_virtual_cwd.c
  Zend/zend_virtual_cwd.h
  ext/iconv/iconv.c
  ext/odbc/php_odbc_includes.h
  ext/opcache/zend_accelerator_module.c
  ext/opcache/zend_file_cache.c
  ext/random/csprng.c
  ext/readline/readline.c
  ext/readline/readline.stub.php
  ext/readline/readline_arginfo.h
  ext/sockets/multicast.c
  main/streams/userspace.c
  sapi/cli/php_cli_server.c
Labels: Category: Engine, Extension: iconv, Extension: odbc, Extension: opcache, Extension: readline, Extension: sockets, SAPI: cli, Extension: random

#14541 Add missing ext/pcre dependency for ext/pgsql
  ext/pgsql/config.m4
  ext/pgsql/config.w32
  ext/pgsql/pgsql.c
Labels: Category: Build System, Extension: pgsql

#14542 ext/sockets: multicast simplification on ipv4 table retrieval and buf…
  ext/sockets/multicast.c
Labels: Extension: sockets

#14546 zend_compile: Optimize `sprintf()` into a rope
  Zend/zend_compile.c
  ext/standard/tests/strings/sprintf_rope_optimization_001.phpt
  ext/standard/tests/strings/sprintf_rope_optimization_002.phpt
Labels: Category: Engine, Extension: standard

#14523 ext/gd: de-factorize image output functions
  ext/gd/gd.c
Labels: Extension: gd

#14559 Remove conditional usage of PQfreemem
  ext/pgsql/config.w32
  ext/pgsql/pgsql.c
Labels: Category: Build System, Extension: pgsql

#14483 Fixed off-by-one error in checking length of abstract namespace Unix sockets
  ext/standard/tests/streams/bug60106-001.phpt
  ext/standard/tests/streams/bug60106-002.phpt
  main/streams/xp_socket.c
Labels: Extension: standard

#14564 ext/bcmath: Minor fixes to `bcmul()`
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#14565 Rename HAVE_DECL_ARC4RANDOM_BUF to HAVE_ARC4RANDOM_BUF
  ext/random/config.m4
  ext/random/csprng.c
Labels: Category: Build System, Extension: random

#14351 Generate DocBook 5.2 conformant class synopses pages
  build/gen_stub.php
Labels: Category: Build System

#14573 Remove redundant win32 include flag when building shared phpdbg
  sapi/phpdbg/config.w32
Labels: Category: Build System, SAPI: phpdbg

#14568 Add --enable-phpdbg-debug option on Windows
  UPGRADING.INTERNALS
  sapi/phpdbg/config.m4
  sapi/phpdbg/config.w32
  sapi/phpdbg/phpdbg_out.h
  win32/build/confutils.js
Labels: Category: Build System, SAPI: phpdbg

#13649 Optimize observers
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_frameless_function.h
  Zend/zend_globals.h
  Zend/zend_observer.c
  Zend/zend_observer.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_gen.php
  Zend/zend_vm_handlers.h
  ext/opcache/jit/zend_jit_ir.c
  ext/zend_test/tests/observer_bug81435.phpt
  ext/zend_test/tests/observer_frameless.phpt
  main/main.c
Labels: Category: Engine, Extension: opcache, Extension: standard, Extension: zend_test, Category: Optimizer

#14572 Update ext/xmlreader dependencies
  ext/xmlreader/config.m4
  ext/xmlreader/config.w32
  ext/xmlreader/php_xmlreader.c
Labels: Category: Build System, Extension: xmlreader

#14575 Refactor SHADOW_STACK_SYSCALL check
  configure.ac
Labels: Category: Build System

#14576 Remove redundant win32 include flag for apache2handler
  sapi/apache2handler/config.w32
Labels: Category: Build System, SAPI: apache2handler

#14577 Fix warnings function declaration isn't a prototype
  Zend/zend_portability.h
Labels: Category: Engine

#14521 Fix GH-14474: Better document remote user in PHP-FPM access.format
  sapi/fpm/www.conf.in
Labels: SAPI: fpm

#14585 ext/gd: iamgeresolution checks overflow.
  ext/gd/gd.c
  ext/gd/tests/imageresolution_basic.phpt
Labels: Extension: gd

#14558 Fix GH-14475: PHP 8.3.7 with JIT encounters infinite loop on specific paths
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#14588 Fix RAND_egd check
  ext/openssl/config0.m4
Labels: Category: Build System, Extension: openssl

#14561 zend_compile: Add support for `%d` to `sprintf()` optimization
  Zend/zend_compile.c
  ext/standard/tests/strings/sprintf_rope_optimization_001.phpt
  ext/standard/tests/strings/sprintf_rope_optimization_003.phpt
  ext/standard/tests/strings/sprintf_rope_optimization_004.phpt
Labels: Category: Engine, Extension: standard

#14035 Implemented PDO Driver specific SQL parsers
  .gitignore
  NEWS
  UPGRADING
  ext/pdo/pdo_sql_parser.h
  ext/pdo/pdo_sql_parser.re
  ext/pdo/php_pdo_driver.h
  ext/pdo_dblib/dblib_driver.c
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_mysql/Makefile.frag
  ext/pdo_mysql/Makefile.frag.w32
  ext/pdo_mysql/config.m4
  ext/pdo_mysql/config.w32
  ext/pdo_mysql/mysql_driver.c
  ext/pdo_mysql/mysql_sql_parser.re
  ext/pdo_mysql/php_pdo_mysql_int.h
  ext/pdo_mysql/tests/pdo_mysql_parser.phpt
  ext/pdo_odbc/odbc_driver.c
  ext/pdo_pgsql/Makefile.frag
  ext/pdo_pgsql/Makefile.frag.w32
  ext/pdo_pgsql/config.m4
  ext/pdo_pgsql/config.w32
  ext/pdo_pgsql/pgsql_driver.c
  ext/pdo_pgsql/pgsql_sql_parser.re
  ext/pdo_pgsql/php_pdo_pgsql_int.h
  ext/pdo_pgsql/tests/bug_14244.phpt
  ext/pdo_pgsql/tests/pdo_pgsql_parser.phpt
  ext/pdo_sqlite/Makefile.frag
  ext/pdo_sqlite/Makefile.frag.w32
  ext/pdo_sqlite/config.m4
  ext/pdo_sqlite/config.w32
  ext/pdo_sqlite/php_pdo_sqlite_int.h
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/sqlite_sql_parser.re
  ext/pdo_sqlite/tests/pdo_sqlite_parser.phpt
  scripts/dev/genfiles
Labels: RFC, Category: Build System, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite

#14600 Fix some ext/date return types
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
Labels: Extension: date

#14595 gen_stub: Intern the parameter name string for named arguments in internal attributes
  build/gen_stub.php
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/attribute-named-parameter.phpt
Labels: Category: Build System, Extension: zend_test

#13432 Add `gc` and `shutdown` callbacks to ZendMM custom handlers
  Zend/zend_alloc.c
  Zend/zend_alloc.h
  ext/zend_test/config.m4
  ext/zend_test/config.w32
  ext/zend_test/php_test.h
  ext/zend_test/test.c
  ext/zend_test/tests/zend_mm_custom_handlers_alloc_01.phpt
  ext/zend_test/tests/zend_mm_custom_handlers_free_01.phpt
  ext/zend_test/tests/zend_mm_custom_handlers_gc_01.phpt
  ext/zend_test/zend_mm_custom_handlers.c
  ext/zend_test/zend_mm_custom_handlers.h
Labels: Category: Build System, Category: Engine, Extension: zend_test, SAPI: phpdbg

#14597 Sync ext/dom and unistd.h include style
  ext/opcache/ZendAccelerator.h
  ext/xsl/php_xsl.h
Labels: Extension: opcache, Extension: xsl

#14591 Add PHP_SETUP_ZLIB M4 macro
  UPGRADING
  build/php.m4
  ext/gd/config.m4
  ext/mysqlnd/config.w32
  ext/mysqlnd/config9.m4
  ext/zlib/config.w32
  ext/zlib/config0.m4
Labels: Category: Build System, Extension: gd, Extension: mysqlnd, Extension: zlib

#14618 Define HAVE_VISIBILITY for fileinfo extension
  ext/fileinfo/config.m4
  ext/fileinfo/libmagic/config.h
Labels: Category: Build System, Extension: fileinfo

#14622 Remove unused PHP-8.3 generated JIT files
  .gitignore
  ext/opcache/jit/zend_jit_x86.c
  ext/opcache/minilua
Labels: Extension: opcache

#14540 Add optional pkg-config support for PostgreSQL
  UPGRADING.INTERNALS
  build/php.m4
  ext/pdo_pgsql/config.m4
  ext/pgsql/config.m4
Labels: Category: Build System, Extension: pdo_pgsql, Extension: pgsql

#14620 Fix PHP_DEBUG condition in cgi SAPI
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

#14629 Remove unused PHP_PGSQL_API_VERSION
  ext/pgsql/php_pgsql.h
Labels: Extension: pgsql

#14630 Fix unused variable warning when using libpq < 12
  ext/pdo_pgsql/pgsql_statement.c
Labels: Extension: pdo_pgsql

#14633 Update mysqli and pdo_mysql extension dependencies
  ext/mysqli/config.w32
  ext/pdo_mysql/config.w32
Labels: Category: Build System, Extension: mysqli, Extension: pdo_mysql

#14635 Check for library functions on one place in Zend.m4
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14634 Enable static tsrmls cache in pdo_mysql with mysqlnd
  ext/pdo_mysql/config.w32
Labels: Category: Build System, Extension: pdo_mysql

#14636 Remove obsolete enable_pear BC compatibility check
  UPGRADING.INTERNALS
  configure.ac
Labels: Category: Build System

#14641 Fix GH-14637: memory leak after failed heap allocation due to mem limit.
  ext/xml/compat.c
  ext/xml/tests/gh14637.phpt
Labels: Extension: xml

#14642 Sync spl extension dependency for mysqli extension
  ext/mysqli/config.m4
  ext/mysqli/config.w32
Labels: Category: Build System, Extension: mysqli

#14647 Use AC_DEFINE_UNQUOTED where variables are used
  ext/dba/config.m4
Labels: Category: Build System, Extension: dba

#14631 Remove outdated libs_version.txt file
  UPGRADING.INTERNALS
  win32/build/libs_version.txt
Labels: Category: Build System

#14648 Remove outdated code from mysqli Windows build
  ext/mysqli/config.w32
Labels: Category: Build System, Extension: mysqli

#14650 Compute the size of pages before allocating memory
  Zend/zend_alloc.c
Labels: Category: Engine

#14623 Sync #if/ifdef/defined (-Wundef)
  ext/dba/dba_cdb.c
  ext/dba/dba_dbm.c
  ext/opcache/ZendAccelerator.c
  ext/sockets/multicast.c
  ext/sockets/php_sockets.h
  ext/standard/basic_functions.c
  ext/standard/file.c
  ext/standard/proc_open.c
  ext/standard/proc_open.h
  sapi/cgi/cgi_main.c
  sapi/cli/php_cli_server.c
  sapi/litespeed/lsapilib.h
  scripts/phpize.m4
  win32/signal.c
Labels: Category: Build System, Extension: dba, Extension: opcache, Extension: sockets, Extension: standard, SAPI: cgi, SAPI: cli, SAPI: litespeed

#13922 Support sysconf(_SC_GETPW_R_SIZE_MAX) == -1
  ext/standard/filestat.c
  main/fopen_wrappers.c
  main/main.c
Labels: Extension: standard, OS: Alpine / Musl

#14615 Define default RE2C_FLAGS
  UPGRADING.INTERNALS
  Zend/Makefile.frag
  build/php.m4
  configure.ac
  ext/json/Makefile.frag
  ext/json/Makefile.frag.w32
  ext/pdo/Makefile.frag
  ext/pdo/Makefile.frag.w32
  ext/pdo_mysql/Makefile.frag
  ext/pdo_mysql/Makefile.frag.w32
  ext/pdo_pgsql/Makefile.frag
  ext/pdo_pgsql/Makefile.frag.w32
  ext/pdo_sqlite/Makefile.frag
  ext/pdo_sqlite/Makefile.frag.w32
  ext/phar/Makefile.frag
  ext/phar/Makefile.frag.w32
  ext/standard/Makefile.frag
  ext/standard/Makefile.frag.w32
  sapi/phpdbg/Makefile.frag
  scripts/dev/genfiles
  win32/build/Makefile
  win32/build/confutils.js
Labels: Category: Build System, Category: Engine, Extension: json, Extension: pdo (core), Extension: pdo_mysql, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: phar, Extension: standard, SAPI: phpdbg

#14655 Normalize bcmath extension sources
  ext/bcmath/config.m4
Labels: Category: Build System, Extension: bcmath

#14653 Fix GH-14652: segfault on node without document.
  ext/dom/php_dom.c
  ext/dom/tests/gh14652.phpt
Labels: Extension: dom

#14659 Fix CS for fnmatch check
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14626 Fix is_zend_ptr() for huge blocks
  Zend/tests/gh14626.phpt
  Zend/zend_alloc.c
  ext/ffi/tests/gh14626.phpt
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Engine, Extension: ffi, Extension: zend_test

#11928 Fix check for using computed goto flag for re2c
  NEWS
  configure.ac
Labels: Category: Build System

#14658 Fix configure log message when cross-compiling
  configure.ac
Labels: Category: Build System

#14654 Normalize mysqlnd extension sources
  ext/mysqlnd/config9.m4
Labels: Category: Build System, Extension: mysqlnd

#14628 Bump minimum libpq version to 10.0
  UPGRADING
  build/php.m4
  ext/pdo_pgsql/config.w32
  ext/pdo_pgsql/pgsql_driver.c
  ext/pgsql/config.m4
  ext/pgsql/config.w32
  ext/pgsql/pgsql.c
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
  ext/pgsql/tests/02connection.phpt
  ext/pgsql/tests/03sync_query.phpt
  ext/pgsql/tests/07optional.phpt
  ext/pgsql/tests/23sync_query_params.phpt
  ext/pgsql/tests/24sync_query_prepared.phpt
  ext/pgsql/tests/25async_query_params.phpt
  ext/pgsql/tests/26async_query_prepared.phpt
  ext/pgsql/tests/30nb_async_query_params.phpt
  ext/pgsql/tests/31nb_async_query_prepared.phpt
  ext/pgsql/tests/32nb_async_query.phpt
Labels: Category: Build System, Extension: pdo_pgsql, Extension: pgsql

#14656 Fix GH-14643 ext/standard: segfault on user shutdown function release.
  Zend/zend_hash.h
  ext/standard/tests/gh14643_longname.phpt
Labels: Category: Engine, Extension: standard

#14662 Fix negation in shell tests
  ext/odbc/config.m4
  scripts/dev/genfiles
Labels: Category: Build System, Extension: odbc

#14669 Emit opcode for frameless functions at line number where the function call starts
  Zend/zend_compile.c
Labels: Category: Engine

#14670 Rename AC_FPM_* M4 macros to PHP_FPM_*
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14674 Add SKIPIFs for upstream regression in libxslt
  ext/xsl/tests/auto_registration_namespaces_new_dom.phpt
  ext/xsl/tests/registerPHPFunctionNS.phpt
  ext/xsl/tests/skip_upstream_issue113.inc
  ext/xsl/tests/xslt010_gt10129.phpt
  ext/xsl/tests/xsltprocessor_exsl_registerPhpFunctionNs.phpt
Labels: Extension: xsl

#14676 Normalize Zend sources
  configure.ac
Labels: Category: Build System

#14671 Rename and refactor Zend.m4 macros
  Zend/Zend.m4
  configure.ac
Labels: Category: Build System, Category: Engine

#14679 ext/pdo_pgsql: object initialisation, using smart_str api instead.
  ext/pdo_pgsql/pgsql_driver.c
Labels: Extension: pdo_pgsql

#14682 Sync missing hash and pcre dependencies for opcache on Windows
  ext/opcache/ZendAccelerator.c
  ext/opcache/config.w32
Labels: Category: Build System, Extension: opcache

#14644 hash: Add simple HashContext::__debugInfo() implementation
  NEWS
  UPGRADING
  ext/hash/hash.c
  ext/hash/hash.stub.php
  ext/hash/hash_arginfo.h
  ext/hash/tests/HashContext_debugInfo.phpt
Labels: Extension: hash

#14683 Wrap global register variables check in M4 macro
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14692 Wrap __cpuid_count check into ZEND_CHECK_CPUID_COUNT M4 macro
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14677 Normalize ext/standard sources
  ext/standard/config.m4
Labels: Category: Build System, Extension: standard

#14681 Wrap FPM checks in AC_CACHE_CHECK and fix CS
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#14705 Follow-up on GH-13516: include config.h from build dir for new files in ext-dom
  ext/dom/html_collection.c
  ext/dom/infra.c
  ext/dom/xml_serializer.c
Labels: Extension: dom

#14700 Normalize AC_CHECK_FUNC* first argument
  build/php.m4
  configure.ac
  ext/date/config0.m4
  ext/ldap/config.m4
  ext/posix/config.m4
  ext/standard/config.m4
  sapi/cli/config.m4
Labels: Category: Build System, Extension: date, Extension: ldap, Extension: posix, Extension: standard, SAPI: cli

#14697 Rely on Autoconf's automatic removal of conftest* files
  build/php.m4
Labels: Category: Build System

#14693 Include Zend.m4 with m4_include
  configure.ac
Labels: Category: Build System

#14694 Wrap stack direction check in Zend M4 macro
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14678 Refactor Zend signal handling check
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14663 Use AC_CACHE_CHECK for float precision checks
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14717 Fix arginfo violation in removeChild()
  ext/dom/node.c
  ext/dom/tests/modern/xml/Node_removeChild_from_comment.phpt
Labels: Extension: dom

#14706 Remove nonsensical dom_node_children_valid() checks from parentnode.c
  ext/dom/parentnode.c
Labels: Extension: dom

#14720 Refactor ZEND_MM alignment check
  Zend/Zend.m4
Labels: Category: Build System, Category: Engine

#14721 Trim trailing whitespace
  Zend/tests/gh7771_2_definition.inc
  Zend/zend_extensions.c
  ext/calendar/easter.c
  ext/dom/parentnode.c
  ext/dom/php_dom.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
  ext/dom/xml_serializer.c
  ext/ftp/tests/server.inc
  ext/gd/libgd/gd_webp.c
  ext/intl/formatter/formatter_main.c
  ext/intl/grapheme/grapheme_util.c
  ext/json/json.c
  ext/mysqli/mysqli_api.c
  ext/mysqli/mysqli_exception.c
  ext/mysqli/tests/README.md
  ext/opcache/jit/zend_jit_ir.c
  ext/pcntl/pcntl.c
  sapi/embed/README.md
  tests/basic/errorlog_permission.phpt
Labels: Category: Engine, Extension: intl, Extension: calendar, Extension: dom, Extension: ftp, Extension: gd, Extension: json, Extension: mysqli, Extension: opcache, Extension: pcntl

#14722 Autotools: Move HAVE_DTRACE and PHP_DTRACE_OBJS to PHP_INIT_DTRACE
  build/php.m4
  configure.ac
Labels: Category: Build System
