Repository php/php-src, pull requests merged in 2024-09, with the labels that each got.

#15686 Autotools: Fix iconv shared build with external library
  NEWS
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

#15448 Add type indicator to array/arg unpack
  Zend/tests/arg_unpack/invalid_type.phpt
  Zend/tests/array_unpack/undef_var.phpt
  Zend/tests/array_unpack/unpack_invalid_type_compile_time.phpt
  Zend/zend_compile.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#15699 Remove redundant 'zobj->ce->__isset' check
  Zend/zend_object_handlers.c
Labels: Category: Engine

#15684 Autotools: Document PHP environment build configuration vars
  configure.ac
Labels: Category: Build System

#13635 Implement GH-13514 PASSWORD_ARGON2 from OpenSSL 3.2
  ext/openssl/config0.m4
  ext/openssl/openssl.c
  ext/openssl/openssl.stub.php
  ext/openssl/openssl_arginfo.h
  ext/openssl/openssl_pwhash.c
  ext/openssl/openssl_pwhash.stub.php
  ext/openssl/openssl_pwhash_arginfo.h
  ext/openssl/php_openssl.h
  ext/openssl/tests/openssl_password.phpt
  ext/openssl/tests/openssl_password_compat.phpt
  ext/openssl/tests/openssl_password_compat2.phpt
  ext/standard/php_password.h
Labels: Feature, Category: Build System, Extension: openssl, Extension: standard

#15706 Autotools: Sync CS in configure.ac
  configure.ac
Labels: Category: Build System

#15717 Fix GH-15652: Segmentation fault in the Zend engine when JIT enabled
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh15652.phpt
Labels: Extension: opcache

#15691 Fix GH-15690: ext-dba failures on 32-bit
  ext/dba/dba.c
Labels: Extension: dba

#15716 Fix dba tests wrt resource to object conversion
  ext/dba/tests/dba015.phpt
  ext/dba/tests/dba_db4_018.phpt
Labels: Extension: dba

#15705 Generated arginfo header files: remove empty zend_function_entry arrays
  Zend/zend_builtin_functions_arginfo.h
  Zend/zend_exceptions_arginfo.h
  Zend/zend_generators_arginfo.h
  Zend/zend_interfaces_arginfo.h
  build/gen_stub.php
  ext/com_dotnet/com_extension_arginfo.h
  ext/curl/curl_arginfo.h
  ext/date/php_date_arginfo.h
  ext/dba/dba_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/enchant/enchant_arginfo.h
  ext/ffi/ffi_arginfo.h
  ext/ftp/ftp_arginfo.h
  ext/gd/gd_arginfo.h
  ext/intl/php_intl_arginfo.h
  ext/json/json_arginfo.h
  ext/ldap/ldap_arginfo.h
  ext/libxml/libxml_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/odbc/odbc_arginfo.h
  ext/openssl/openssl_arginfo.h
  ext/pcntl/pcntl_arginfo.h
  ext/pdo/pdo_arginfo.h
  ext/pdo/pdo_stmt_arginfo.h
  ext/pdo_dblib/pdo_dblib_arginfo.h
  ext/pdo_odbc/pdo_odbc_arginfo.h
  ext/pgsql/pgsql_arginfo.h
  ext/phar/phar_object_arginfo.h
  ext/random/random_arginfo.h
  ext/reflection/php_reflection_arginfo.h
  ext/shmop/shmop_arginfo.h
  ext/simplexml/simplexml_arginfo.h
  ext/snmp/snmp_arginfo.h
  ext/soap/soap_arginfo.h
  ext/sockets/sockets_arginfo.h
  ext/sodium/libsodium_arginfo.h
  ext/spl/spl_dllist_arginfo.h
  ext/spl/spl_exceptions_arginfo.h
  ext/sqlite3/sqlite3_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/standard/user_filters_arginfo.h
  ext/sysvmsg/sysvmsg_arginfo.h
  ext/sysvsem/sysvsem_arginfo.h
  ext/sysvshm/sysvshm_arginfo.h
  ext/xml/xml_arginfo.h
  ext/zend_test/object_handlers_arginfo.h
  ext/zend_test/test_arginfo.h
  ext/zlib/zlib_arginfo.h
Labels: Category: Build System, Extension: openssl, Category: Engine, Extension: intl, Extension: com_dotnet, Extension: curl, Extension: date, Extension: dba, Extension: dom, Extension: enchant, Extension: ffi, Extension: ftp, Extension: gd, Extension: json, Extension: ldap, Extension: libxml, Extension: mysqli, Extension: odbc, Extension: pcntl, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_odbc, Extension: pgsql, Extension: phar, Extension: reflection, Extension: shmop, Extension: simplexml, Extension: snmp, Extension: soap, Extension: sockets, Extension: sodium, Extension: spl, Extension: sqlite3, Extension: standard, Extension: sysvmsg, Extension: sysvsem, Extension: sysvshm, Extension: xml, Extension: zend_test, Extension: zlib, Extension: random

#15719 Autotools: Enhance appending -lrt
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#15714 Remove 404 Travis image
  .github/workflows/push.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  docs/release-process.md
  ext/gmp/tests/gmp_setbit_long.phpt
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
  ext/pcntl/tests/pcntl_getcpu.phpt
  ext/standard/tests/file/disk_free_space_basic.phpt
  ext/zlib/tests/gzcompress_basic1.phpt
  ext/zlib/tests/gzdeflate_basic1.phpt
  ext/zlib/tests/gzencode_basic1.phpt
  run-tests.php
  sapi/cli/tests/upload_2G.phpt
  sapi/fpm/tests/tester.inc
  travis/compile.sh
  travis/setup-mysql.sh
  travis/setup-pgsql.sh
  travis/test.sh
Labels: SAPI: fpm, Extension: gmp, Extension: pcntl, Extension: standard, Extension: zlib, SAPI: cli

#15127 ext/curl: No-op `CURLOPT_DNS_USE_GLOBAL_CACHE` constant
  NEWS
  UPGRADING
  ext/curl/interface.c
  ext/curl/tests/bug71144.phpt
Labels: Extension: curl

#15736 Generated arginfo header files: combine preprocessor conditional blocks
  Zend/Optimizer/zend_func_infos.h
  build/gen_stub.php
  ext/dom/php_dom_arginfo.h
  ext/gd/gd_arginfo.h
  ext/hash/hash_arginfo.h
  ext/intl/php_intl_arginfo.h
  ext/intl/timezone/timezone_arginfo.h
  ext/ldap/ldap_arginfo.h
  ext/mbstring/mbstring_arginfo.h
  ext/odbc/odbc_arginfo.h
  ext/openssl/openssl_arginfo.h
  ext/pcntl/pcntl_arginfo.h
  ext/readline/readline_arginfo.h
  ext/sockets/sockets_arginfo.h
  ext/sodium/libsodium_arginfo.h
  ext/spl/spl_directory_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/zend_test/test_arginfo.h
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Extension: openssl, Extension: intl, Extension: dom, Extension: gd, Extension: hash, Extension: ldap, Extension: mbstring, Extension: odbc, Extension: pcntl, Extension: readline, Extension: sockets, Extension: sodium, Extension: spl, Extension: standard, Extension: zend_test, Extension: zip, Category: Optimizer

#15728 `zend_get_constant_ex()` - remove commented out handling of class constants
  Zend/zend_constants.c
Labels: Category: Engine

#15734 `#[AllowDynamicProperties]` validation: improve error messages
  Zend/tests/allow_dynamic_properties_on_interface.phpt
  Zend/tests/allow_dynamic_properties_on_trait.phpt
  Zend/zend_attributes.c
Labels: Category: Engine

#15743 Autotools: Document the EXTENSION_DIR environment variable
  configure.ac
Labels: Category: Build System

#15737 Autotools: Sync CS in PHP_EVAL_LIBLINE
  build/php.m4
Labels: Category: Build System

#15739 Autotools: Mark always-shared extensions with ext_shared variable
  ext/dl_test/config.m4
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#14627 Interrupt while internal frame is on the stack
  UPGRADING.INTERNALS
  Zend/tests/fibers/signal-async.phpt
  Zend/zend.h
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_system_id.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
Labels: Category: Engine, Extension: opcache

#15733 Fix GH-15731: Prevent `#[AllowDynamicProperties]` on enums
  Zend/tests/allow_dynamic_properties_on_enum.phpt
  Zend/zend_attributes.c
Labels: Category: Engine

#15764 zend_compile.h: `ZEND_ACC_FINAL` can be used for constants
  Zend/zend_compile.h
Labels: Category: Engine

#15768 Autotools: Sync CS for PHP_RUNPATH_SWITCH
  build/php.m4
Labels: Category: Build System

#15770 Autotools: Replace uname with host_alias for finding Solaris
  build/php.m4
  sapi/cgi/config9.m4
Labels: Category: Build System, SAPI: cgi

#15771 Autotools: Sync CS in php.m4
  build/php.m4
Labels: Category: Build System

#15772 Autotools: Sync CS in PHP_PROG_AWK
  build/php.m4
Labels: Category: Build System

#15040 Make internal run_time_cache a persistent allocation
  Zend/zend.c
  Zend/zend_API.c
  Zend/zend_enum.c
  Zend/zend_extensions.c
  Zend/zend_extensions.h
  Zend/zend_globals.h
  Zend/zend_map_ptr.h
  ext/ffi/ffi.c
  ext/opcache/jit/zend_jit_ir.c
  ext/xmlreader/php_xmlreader.c
  main/main.c
Labels: Category: Engine, Extension: ffi, Extension: opcache, Extension: xmlreader

#15786 Autotools: Fix gd extension -I flag for bundled libgd
  ext/gd/config.m4
Labels: Category: Build System, Extension: gd

#15774 Autotools: Sync CS for PHP_PWRITE_TEST and PHP_PREAD_TEST
  UPGRADING.INTERNALS
  build/php.m4
Labels: Category: Build System

#15781 Cleanup scale checks in bcmath a bit
  ext/bcmath/bcmath.c
Labels: Extension: bcmath

#15780 Fix typo
  win32/build/confutils.js
Labels: Category: Build System

#15777 Autotools: Enable adding a list of paths in PHP_ADD_INCLUDE
  UPGRADING.INTERNALS
  build/php.m4
Labels: Category: Build System

#15797 Autotools: Move extension setup to main check
  ext/mbstring/config.m4
Labels: Category: Build System, Extension: mbstring

#15689 Add comments about internal headers
  Zend/zend_strtod_int.h
  ext/gmp/php_gmp_int.h
  ext/pdo_dblib/php_pdo_dblib_int.h
  ext/pdo_firebird/php_pdo_firebird_int.h
  ext/pdo_mysql/php_pdo_mysql_int.h
  ext/pdo_odbc/php_pdo_odbc_int.h
  ext/pdo_pgsql/php_pdo_pgsql_int.h
  ext/standard/php_dir_int.h
  main/streams/php_streams_int.h
Labels: Category: Engine, Extension: gmp, Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: standard

#15568 gai_strerror() is not thread-safe on Windows
  main/network.c
  win32/build/config.w32
Labels: Category: Build System, OS: Windows

#15476 Autotools: Patch apache2handler version check
  UPGRADING.INTERNALS
  build/php.m4
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#15798 Autotools: Refactor PHP_TEST_BUILD checks
  ext/gd/config.m4
  ext/odbc/config.m4
Labels: Category: Build System, Extension: gd, Extension: odbc

#15802 Autotools: Obsolete PHP_TEST_BUILD, PHP_BUILD_THREAD_SAFE, and PHP_DEF_HAVE
  UPGRADING.INTERNALS
  build/php.m4
  sapi/apache2handler/config.m4
Labels: Category: Build System, SAPI: apache2handler

#15732 Fix GH-15656: php8.4beta4 JIT erronous results
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#15799 Deduplicate URI building code in soap schema code
  ext/soap/php_schema.c
  ext/soap/php_schema.h
  ext/soap/php_sdl.c
Labels: Extension: soap

#15818 Deduplicate Proxy-Authorization code from php_stream_url_wrap_http_ex()
  ext/standard/http_fopen_wrapper.c
Labels: Extension: standard

#15831 Rename `ZEND_STR_DEPRECATED` to `ZEND_STR_DEPRECATED_CAPITALIZED`
  Zend/zend_string.h
  build/gen_stub.php
  ext/date/php_date_arginfo.h
  ext/enchant/enchant_arginfo.h
  ext/hash/hash_arginfo.h
  ext/intl/formatter/formatter_arginfo.h
  ext/intl/php_intl_arginfo.h
  ext/libxml/libxml_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/odbc/odbc_arginfo.h
  ext/openssl/openssl_arginfo.h
  ext/pgsql/pgsql_arginfo.h
  ext/random/random_arginfo.h
  ext/reflection/php_reflection_arginfo.h
  ext/shmop/shmop_arginfo.h
  ext/spl/spl_directory_arginfo.h
  ext/spl/spl_fixedarray_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/xml/xml_arginfo.h
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Extension: openssl, Category: Engine, Extension: intl, Extension: date, Extension: enchant, Extension: hash, Extension: libxml, Extension: mysqli, Extension: odbc, Extension: pgsql, Extension: reflection, Extension: shmop, Extension: spl, Extension: standard, Extension: xml, Extension: zip, Extension: random

#15829 Fix GH-15824 mb_detect_encoding() invalid "UTF8"
  ext/mbstring/libmbfl/mbfl/mbfl_encoding.c
  ext/mbstring/tests/gh15824.phpt
Labels: Extension: mbstring

#15840 readline: inline `_readline_long_zval()` function
  ext/readline/readline.c
Labels: Extension: readline

#15843 Avoid allocating memory in soap get_function()
  ext/soap/soap.c
Labels: Extension: soap

#15846 Support building ext/gd without libxpm on Windows
  ext/gd/config.w32
Labels: Category: Build System, Extension: gd

#15848 zend_compile.h: `ZEND_ACC_DEPRECATED` can be used for class constants
  Zend/zend_compile.h
Labels: Category: Engine

#15852 Fix incorrect register allocation
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#15858 Autotools: Check copy_file_range with AC_COMPILE_IFELSE
  configure.ac
Labels: Category: Build System

#15861 ext/phar: Do some refactoring to phar.c
  ext/phar/phar.c
Labels: Extension: phar

#15839 Use APPLY_STOP in pcre_clean_cache()
  ext/pcre/php_pcre.c
Labels: Extension: pcre

#15862 Avoid copying the local name in SOAP's parse_namespace()
  ext/soap/php_encoding.c
  ext/soap/php_schema.c
  ext/soap/php_sdl.c
  ext/soap/php_xml.c
  ext/soap/php_xml.h
Labels: Extension: soap

#15853 Fix -Wundef/C4668 warnings
  Zend/zend_API.c
  Zend/zend_enum.c
  ext/ffi/ffi.c
  ext/opcache/jit/zend_jit_ir.c
  ext/readline/readline.c
  ext/xmlreader/php_xmlreader.c
  main/network.c
Labels: Category: Engine, Extension: ffi, Extension: opcache, Extension: readline, Extension: xmlreader

#15735 Add missing returns in ext/date for PHP 8.3+
  ext/date/php_date.c
  ext/date/tests/date_interval_set_state_error1.phpt
Labels: Extension: date

#15892 Autotools: Fix CS in undefined sanitizer check
  configure.ac
Labels: Category: Build System

#15713 Support --with-openssl-argon2 on Windows
  ext/openssl/config.w32
Labels: Category: Build System, Extension: openssl

#15855 Fix zend_get_property_info_for_slot() for lazy objects
  Zend/tests/lazy_objects/array_walk.phpt
  Zend/tests/lazy_objects/oss_fuzz_71446.phpt
  Zend/tests/lazy_objects/serialize___sleep.phpt
  Zend/tests/lazy_objects/typed_properties_001.phpt
  Zend/tests/lazy_objects/typed_properties_002.phpt
  Zend/tests/lazy_objects/typed_properties_003.phpt
  Zend/tests/lazy_objects/typed_properties_004.phpt
  Zend/zend_execute.c
  Zend/zend_lazy_objects.c
  Zend/zend_lazy_objects.h
  Zend/zend_objects.c
  Zend/zend_objects_API.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit_helpers.c
Labels: Category: Engine, Extension: opcache

#15926 Fix some misleading comments about `__clone()` never being executed
  Zend/zend_exceptions.c
  ext/reflection/php_reflection.c
Labels: Category: Engine, Extension: reflection

#15927 php_reflection.c: make a bunch of pointers `const`
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#15934 zend_inheritance.c: make a bunch of pointers `const`
  Zend/zend_inheritance.c
Labels: Category: Engine

#15932 zend_enum.c: make a bunch of pointers `const`
  Zend/zend_enum.c
  Zend/zend_enum.h
Labels: Category: Engine

#15854 Fix oss-fuzz #71382
  Zend/tests/lazy_objects/oss_fuzz_71382.phpt
  Zend/zend_property_hooks.c
Labels: Category: Engine

#15885 ext/standard/browscap.c: Minor refactorings
  ext/standard/browscap.c
Labels: Extension: standard

#15790 ext/bcmath: bcpow() performance improvement
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/raise.c
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#15941 Use cache slot for dom_property_exists()
  ext/dom/php_dom.c
Labels: Extension: dom

#15959 add ZipArchive::ER_TRUNCATED_ZIP added in libzip 1.11
  ext/zip/php_zip.stub.php
  ext/zip/php_zip_arginfo.h
Labels: Extension: zip

#15950 Small optimization in dom_local_name_compare_ex()
  ext/dom/serialize_common.h
Labels: Extension: dom

#15888 Fix ext/snmp for newer net-snmp versions on Windows
  ext/snmp/snmp.c
Labels: Extension: snmp

#15895 Support bug64159.phpt on Windows CI
  .github/scripts/windows/test_task.bat
  ext/snmp/tests/bigtest.js
  ext/snmp/tests/bug64159.phpt
Labels: Extension: snmp

#15741 ext/bcmath: Check for scale overflow
  NEWS
  ext/bcmath/bcmath.c
Labels: Extension: bcmath

#15985 Make ext/shmop/tests/gh14537.phpt more resilient
  ext/shmop/tests/gh14537.phpt
Labels: Extension: shmop

#15977 GH-15976: clarify error messages for enum/trait/interface/alias names
  Zend/tests/enum/enum_underscore_as_name.phpt
  Zend/tests/errmsg_028.phpt
  Zend/tests/errmsg_029.phpt
  Zend/tests/gh15976/alias-names.phpt
  Zend/tests/gh15976/class-names.phpt
  Zend/tests/gh15976/enum-names.phpt
  Zend/tests/gh15976/interface-names.phpt
  Zend/tests/gh15976/trait-names.phpt
  Zend/tests/interface_underscore_as_name.phpt
  Zend/tests/lazy_objects/unclean_shutdown.phpt
  Zend/tests/restore_error_reporting.phpt
  Zend/tests/special_name_error3.phpt
  Zend/tests/traits/enum_underscore_as_name.phpt
  Zend/tests/type_declarations/mixed/syntax/mixed_class_error.phpt
  Zend/tests/type_declarations/scalar_relative_typehint_disallowed.phpt
  Zend/tests/type_declarations/scalar_reserved2.phpt
  Zend/tests/type_declarations/scalar_reserved2_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved3.phpt
  Zend/tests/type_declarations/scalar_reserved3_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved4.phpt
  Zend/tests/type_declarations/scalar_reserved4_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved6.phpt
  Zend/tests/type_declarations/scalar_reserved6_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved7.phpt
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_compile.h
  ext/spl/tests/RecursiveIteratorIterator_dtor_order.phpt
Labels: Category: Engine, Extension: spl, ABI break

#15740 [RFC] ext/bcmath: Added `bcdivmod`
  NEWS
  UPGRADING
  Zend/Optimizer/zend_func_infos.h
  ext/bcmath/bcmath.c
  ext/bcmath/bcmath.stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/bcmath/tests/bcdivmod.phpt
  ext/bcmath/tests/bcdivmod_by_zero.phpt
  ext/bcmath/tests/number/methods/div_mod_by_zero.phpt
  ext/bcmath/tests/number/methods/divmod.phpt
  ext/bcmath/tests/number/methods/divmod_with_scale.phpt
Labels: Extension: bcmath, Category: Optimizer

#15520 Refactor plain wrapper to handle mkdir itself
  UPGRADING.INTERNALS
  ext/standard/file.c
  ext/standard/file.h
  main/streams/plain_wrapper.c
Labels: Extension: standard, ABI break

#15990 `zend_assert_valid_class_name()`: use double quotes around names
  Zend/tests/errmsg_028.phpt
  Zend/tests/errmsg_029.phpt
  Zend/tests/gh15976/alias-names.phpt
  Zend/tests/gh15976/class-names.phpt
  Zend/tests/gh15976/enum-names.phpt
  Zend/tests/gh15976/interface-names.phpt
  Zend/tests/gh15976/trait-names.phpt
  Zend/tests/lazy_objects/unclean_shutdown.phpt
  Zend/tests/restore_error_reporting.phpt
  Zend/tests/special_name_error3.phpt
  Zend/tests/type_declarations/mixed/syntax/mixed_class_error.phpt
  Zend/tests/type_declarations/scalar_relative_typehint_disallowed.phpt
  Zend/tests/type_declarations/scalar_reserved2.phpt
  Zend/tests/type_declarations/scalar_reserved2_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved3.phpt
  Zend/tests/type_declarations/scalar_reserved3_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved4.phpt
  Zend/tests/type_declarations/scalar_reserved4_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved6.phpt
  Zend/tests/type_declarations/scalar_reserved6_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved7.phpt
  Zend/zend_compile.c
  ext/spl/tests/RecursiveIteratorIterator_dtor_order.phpt
Labels: Category: Engine, Extension: spl

#15996 GH-15976: don't say "type alias"
  Zend/tests/gh15976/alias-names.phpt
  Zend/tests/type_declarations/scalar_reserved2_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved3_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved4_class_alias.phpt
  Zend/tests/type_declarations/scalar_reserved6_class_alias.phpt
  Zend/zend_API.c
Labels: Category: Engine

#15998 `zend_resolve_const_class_name_reference()`: use double quotes around names
  Zend/tests/class_uses_static.phpt
  Zend/tests/errmsg_030.phpt
  Zend/tests/errmsg_031.phpt
  Zend/tests/errmsg_035.phpt
  Zend/tests/errmsg_036.phpt
  Zend/tests/interface_extends_static.phpt
  Zend/tests/lsb_006.phpt
  Zend/tests/lsb_007.phpt
  Zend/tests/static_in_trait_insteadof_list.phpt
  Zend/tests/static_in_trait_insteadof_reference.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#16006 Fix GH-15973: Segmentation fault in JIT mode 1135
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
  ext/opcache/tests/jit/gh15973.phpt
Labels: Extension: opcache

#15988 Cast big endian byte shuffling to uint
  ext/phar/phar.c
Labels: Extension: phar

#16001 Fix GH-15972: Assertion failure in ext/opcache/jit/zend_jit_vm_helpers.c with function JIT
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/opcache/tests/jit/gh15972.phpt
Labels: Extension: opcache

#15849 ext/curl: Add `CURLINFO_POSTTRANSFER_TIME_T` support
  UPGRADING
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/interface.c
  ext/curl/tests/curl_getinfo_CURLINFO_POSTTRANSFER_TIME_T.phpt
Labels: Extension: curl

#16016 Port https://github.com/libgd/libgd/pull/711
  ext/gd/libgd/gd_tga.c
Labels: Extension: gd

#15559 Add API to exempt function from being traced in JIT
  NEWS
  UPGRADING
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit.h
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/opcache/opcache.stub.php
  ext/opcache/opcache_arginfo.h
  ext/opcache/tests/jit/opcache_jit_blacklist.phpt
  ext/opcache/zend_accelerator_module.c
Labels: Extension: opcache

#16021 Fix GH-15968: Avoid converting objects to strings in operator calculations.
  NEWS
  ext/bcmath/bcmath.c
  ext/bcmath/tests/gh15968.phpt
Labels: Extension: bcmath

#15590 Add OPcache restart hook
  Zend/zend.c
  Zend/zend.h
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
Labels: Category: Engine, Extension: opcache, ABI break

#16024 Fix regression on systems built without JIT
  ext/opcache/zend_accelerator_module.c
Labels: Extension: opcache

#16014 [ci skip] Clarify intention in phpdbg, removing one TODO comment
  sapi/phpdbg/phpdbg_watch.c
Labels: SAPI: phpdbg

#16020 Zend: Use a dedicated enum for the status of the result of a division
  Zend/zend_operators.c
Labels: Category: Engine

#16047 pdo: Use `zend_string_toupper` in pdo_stmt_describe_columns
  ext/pdo/pdo_stmt.c
Labels: Extension: pdo (core)

#16003 Zend/zend_hash.(c|h): Mark various parameters and variables const
  Zend/zend_hash.c
  Zend/zend_hash.h
Labels: Category: Engine

#15993 GH-15992: fix error message for single abstract method not implemented
  Zend/tests/bug69084.phpt
  Zend/tests/errmsg_018.phpt
  Zend/tests/property_hooks/abstract_get_set_readonly.phpt
  Zend/tests/property_hooks/abstract_hook_in_non_abstract_class.phpt
  Zend/tests/property_hooks/abstract_hook_not_implemented.phpt
  Zend/tests/property_hooks/invalid_abstract_indirect.phpt
  Zend/tests/property_hooks/invalid_abstract_indirect_2.phpt
  Zend/tests/traits/bugs/abstract-methods01.phpt
  Zend/tests/traits/interface_002.phpt
  Zend/zend_inheritance.c
  tests/classes/abstract_by_interface_001.phpt
  tests/classes/abstract_by_interface_002.phpt
  tests/classes/abstract_derived.phpt
  tests/classes/abstract_not_declared.phpt
  tests/classes/abstract_redeclare.phpt
  tests/classes/abstract_static.phpt
  tests/classes/interface_must_be_implemented.phpt
  tests/classes/interfaces_002.phpt
Labels: Category: Engine

#15995 GH-15994: fix suggestion that anonymous classes be made abstract
  Zend/tests/anon/gh15994.phpt
  Zend/tests/gh7792_1.phpt
  Zend/tests/traits/abstract_method_6.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#16062 Sync exif dependency on mbstring extension as optional
  ext/exif/config.m4
  ext/exif/config.w32
Labels: Category: Build System, Extension: exif

#16075 Fix FFI prototypes (these functions can't return NULL)
  ext/ffi/ffi.stub.php
  ext/ffi/ffi_arginfo.h
Labels: Extension: ffi

#16087 Reduce regex backtracking in phpinfo.phpt
  ext/standard/tests/general_functions/phpinfo.phpt
Labels: Extension: standard

#15667 Drop superfluous LONG_MAX/LONG_MIN fallback definitions
  Zend/zend_portability.h
  Zend/zend_strtod.c
  ext/bcmath/libbcmath/src/bcmath.h
  main/php.h
Labels: Category: Engine, Extension: bcmath

#15598 Reduce memory overhead of DatePeriod via virtual properties
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/date_period_is_property.phpt
  ext/date/tests/date_period_properties.phpt
  ext/date/tests/date_period_unserialize3.phpt
  ext/date/tests/date_period_unset_property.phpt
  ext/date/tests/gh10747-4.phpt
Labels: Extension: date

#16091 ext/ldap: Use "p" ZPP specifier for all strings that must be null terminated
  ext/ldap/ldap.c
  ext/ldap/tests/ldap_modify_batch_programming_error.phpt
Labels: Extension: ldap

#16072 random: Do not use `ZVAL_DUP` in `Randomizer::shuffleArray()`
  ext/random/randomizer.c
Labels: Extension: random

#16096 Fix pdoodbc_002.phpt to not try to load PDO_odbc
  ext/pdo_odbc/tests/pdoodbc_002.phpt
Labels: Extension: pdo_odbc

#16090 Remove dead code in fpm of redirect_status
  sapi/fpm/fpm/fpm_main.c
Labels: SAPI: fpm

#16079 Fix property_exists() for XMLReader
  ext/xmlreader/php_xmlreader.c
  ext/xmlreader/tests/virtual_properties2.phpt
  ext/xmlreader/tests/virtual_properties3.phpt
Labels: Extension: xmlreader

#16106 ext/odbc: There is no need to rely on ZEND_NUM_ARGS()
  ext/odbc/php_odbc.c
Labels: Extension: odbc

#16108 ext/bz2: Check int params of bzcompress() are correct
  UPGRADING
  ext/bz2/bz2.c
  ext/bz2/tests/005.phpt
  ext/bz2/tests/bzcompress_programming_errors.phpt
Labels: Extension: bz2

#16116 test(pdo_pgsql): Exclude `pdo` implicitly required by `pdo_pgsql` from `EXTENSIONS`
  ext/pdo_pgsql/tests/bug36727.phpt
  ext/pdo_pgsql/tests/bug43925.phpt
  ext/pdo_pgsql/tests/bug46274.phpt
  ext/pdo_pgsql/tests/bug46274_2.phpt
  ext/pdo_pgsql/tests/bug48764.phpt
  ext/pdo_pgsql/tests/bug61267.phpt
  ext/pdo_pgsql/tests/bug62479.phpt
  ext/pdo_pgsql/tests/bug62498-32bit.phpt
  ext/pdo_pgsql/tests/bug62498.phpt
  ext/pdo_pgsql/tests/bug62593.phpt
  ext/pdo_pgsql/tests/bug64953.phpt
  ext/pdo_pgsql/tests/bug66584.phpt
  ext/pdo_pgsql/tests/bug67462.phpt
  ext/pdo_pgsql/tests/bug68199.phpt
  ext/pdo_pgsql/tests/bug68371.phpt
  ext/pdo_pgsql/tests/bug69344.phpt
  ext/pdo_pgsql/tests/bug69362.phpt
  ext/pdo_pgsql/tests/bug69752.phpt
  ext/pdo_pgsql/tests/bug70313.phpt
  ext/pdo_pgsql/tests/bug70861.phpt
  ext/pdo_pgsql/tests/bug71573.phpt
  ext/pdo_pgsql/tests/bug71885.phpt
  ext/pdo_pgsql/tests/bug71885_2.phpt
  ext/pdo_pgsql/tests/bug72294.phpt
  ext/pdo_pgsql/tests/bug72570.phpt
  ext/pdo_pgsql/tests/bug72633.phpt
  ext/pdo_pgsql/tests/bug73959.phpt
  ext/pdo_pgsql/tests/bug75402.phpt
  ext/pdo_pgsql/tests/bug81343.phpt
  ext/pdo_pgsql/tests/bug_14244.phpt
  ext/pdo_pgsql/tests/bug_33876.phpt
  ext/pdo_pgsql/tests/bug_49985.phpt
  ext/pdo_pgsql/tests/copy_from.phpt
  ext/pdo_pgsql/tests/copy_to.phpt
  ext/pdo_pgsql/tests/disable_prepares.phpt
  ext/pdo_pgsql/tests/float.phpt
  ext/pdo_pgsql/tests/getnotify.phpt
  ext/pdo_pgsql/tests/gh12423.phpt
  ext/pdo_pgsql/tests/gh7723.phpt
  ext/pdo_pgsql/tests/gh9411.phpt
  ext/pdo_pgsql/tests/is_in_transaction.phpt
  ext/pdo_pgsql/tests/large_objects.phpt
  ext/pdo_pgsql/tests/pdo_pgsql_parser.phpt
  ext/pdo_pgsql/tests/pdopgsql_001.phpt
  ext/pdo_pgsql/tests/pdopgsql_002.phpt
  ext/pdo_pgsql/tests/pdopgsql_003.phpt
  ext/pdo_pgsql/tests/pdopgsql_setNoticeCallback.phpt
  ext/pdo_pgsql/tests/pdopgsql_setNoticeCallback_trampoline_no_leak.phpt
  ext/pdo_pgsql/tests/pg_debug_emulated_prepares.phpt
Labels: Extension: pdo_pgsql

#16114 Remove non-sensical checks from firebird
  ext/pdo_firebird/firebird_driver.c
Labels: Extension: pdo_firebird

#16115 test(pdo_firebird): Fix the dummy server running on localhost to IPv4
  ext/pdo_firebird/tests/payload_server.php
Labels: Extension: pdo_firebird

#16111 ext/exif: Minor refactoring of exif_thumbnail()
  ext/exif/exif.c
  ext/exif/tests/exif_thumbnail_streams.phpt
Labels: Extension: exif

#15751 Generated arginfo header files: use known strings for prop names when…
  Zend/zend_attributes_arginfo.h
  Zend/zend_exceptions_arginfo.h
  Zend/zend_string.h
  build/gen_stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/curl/curl_file_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/libxml/libxml_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/pdo/pdo_arginfo.h
  ext/reflection/php_reflection_arginfo.h
  ext/soap/soap_arginfo.h
  ext/standard/dir_arginfo.h
  ext/tidy/tidy_arginfo.h
  ext/tokenizer/tokenizer_arginfo.h
  ext/xmlreader/php_xmlreader_arginfo.h
Labels: Category: Build System, Category: Engine, Extension: bcmath, Extension: curl, Extension: dom, Extension: libxml, Extension: mysqli, Extension: pdo (core), Extension: reflection, Extension: soap, Extension: standard, Extension: tidy, Extension: tokenizer, Extension: xmlreader, ABI break

#16129 reflection: Fix the return value of ReflectionFunction::{getNamespaceName,inNamespace}() for closures
  NEWS
  Zend/tests/closure_067.phpt
  Zend/tests/closure_068.phpt
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#16143 sapi/apache2handler/php_functions.c: No need to rely on argnum
  sapi/apache2handler/php_functions.c
Labels: SAPI: apache2handler
