Repository php/php-src, pull requests merged in 2024-03, with the labels that each got.

#13561 Add missing memfd_create Autoconf check for bundled pcre2lib
  configure.ac
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#13552 Check FFI_* ABI with Autoconf AC_CHECK_DECL
  ext/ffi/config.m4
  ext/ffi/config.w32
Labels: Category: Build System, Extension: ffi

#13560 Sync logical operators in shell scripting code
  TSRM/threads.m4
  build/php.m4
  configure.ac
  ext/odbc/config.m4
  ext/pdo_pgsql/config.m4
  ext/pgsql/config.m4
  sapi/fpm/config.m4
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: fpm, Extension: odbc, Extension: pdo_pgsql, Extension: pgsql, SAPI: phpdbg

#13529 Simplify port_create Autoconf check
  sapi/fpm/config.m4
  sapi/fpm/fpm/events/port.c
Labels: Category: Build System, SAPI: fpm

#13568 session: Stop using php_combined_lcg()
  ext/session/php_session.h
  ext/session/session.c
Labels: Extension: session

#13564 Simplify UFFDIO_WRITEPROTECT_MODE_WP Autoconf check
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#13585 Remove duplicate phpdbg _GNU_SOURCE compile definition
  sapi/phpdbg/config.m4
Labels: Category: Build System, SAPI: phpdbg

#13584 Minor PDO conditions cleanup
  ext/pdo/pdo_dbh.c
  ext/pdo/pdo_stmt.c
Labels: Extension: pdo (core)

#13579 random: Embed the Mt19937 and CombinedLCG state within the module globals
  ext/random/php_random.h
  ext/random/random.c
Labels: Extension: random

#13577 random: Clean Up the Mt19937 state struct
  ext/random/engine_mt19937.c
  ext/random/php_random.h
Labels: Extension: random

#13575 random: Convert `RANDOM_SEED()` from a macro to a function
  ext/random/php_random.h
Labels: Extension: random

#13593 IR Update
  ext/opcache/jit/ir/gen_ir_fold_hash.c
  ext/opcache/jit/ir/ir.c
  ext/opcache/jit/ir/ir.h
  ext/opcache/jit/ir/ir_aarch64.dasc
  ext/opcache/jit/ir/ir_cfg.c
  ext/opcache/jit/ir/ir_dump.c
  ext/opcache/jit/ir/ir_fold.h
  ext/opcache/jit/ir/ir_private.h
  ext/opcache/jit/ir/ir_x86.dasc
Labels: Extension: opcache

#13306 Zend,fibers: Ensure fiber stack is not backed by THP.
  Zend/zend_fibers.c
Labels: Category: Engine

#13596 ext/xmlreader: Add class constant types to stub
  UPGRADING
  ext/xmlreader/php_xmlreader.stub.php
  ext/xmlreader/php_xmlreader_arginfo.h
Labels: Extension: xmlreader

#13583 ext/pcre: Add "/r" modifier
  UPGRADING
  UPGRADING.INTERNALS
  ext/pcre/php_pcre.c
  ext/pcre/tests/preg_match_caseless_restrict.phpt
Labels: Extension: pcre

#13558 Optimize strpbrk()
  ext/standard/string.c
Labels: Extension: standard

#13602 ext/gettext: reland GH-13555 but only for master.
  ext/gettext/gettext.c
  ext/gettext/tests/dcgettext_lcall.phpt
Labels: Extension: gettext

#13595 Refactor systemd library check for FPM
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#13486 Singular DateTime::[get|set]Microsecond & no tentative return type
  NEWS
  UPGRADING
  ext/date/php_date.c
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/date/tests/getSetMicroseconds.phpt
Labels: Extension: date

#13619 Fix class name in warning of frameless calls
  Zend/tests/frameless_bug_001.phpt
  Zend/zend_execute_API.c
Labels: Category: Engine

#13617 Remove unused config.w32.h.in symbols
  UPGRADING.INTERNALS
  win32/build/config.w32.h.in
Labels: Category: Build System

#13637 Remove unnecessary skip checks
  ext/mysqli/tests/bug46614.phpt
  ext/mysqli/tests/bug47050.phpt
  ext/mysqli/tests/bug73800.phpt
  ext/mysqli/tests/bug77597.phpt
  ext/mysqli/tests/bug79375.phpt
  ext/mysqli/tests/bug80837.phpt
  ext/mysqli/tests/deprecated_constants.phpt
  ext/mysqli/tests/mysqli_explain_metadata.phpt
  ext/mysqli/tests/mysqli_get_client_stats.phpt
  ext/mysqli/tests/mysqli_get_client_stats_implicit_free.phpt
  ext/mysqli/tests/mysqli_get_client_stats_off.phpt
  ext/mysqli/tests/mysqli_get_client_stats_ps.phpt
  ext/mysqli/tests/mysqli_get_client_stats_skipped.phpt
  ext/mysqli/tests/mysqli_get_connection_stats.phpt
  ext/mysqli/tests/mysqli_get_connection_stats_off.phpt
  ext/mysqli/tests/mysqli_stmt_execute_stored_proc.phpt
  ext/mysqli/tests/mysqli_stmt_get_result.phpt
  ext/mysqli/tests/mysqli_stmt_get_result2.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_bit.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_field_count.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_geom.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_metadata.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_metadata_fetch_field.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_non_select.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_seek.phpt
  ext/mysqli/tests/mysqli_stmt_get_result_types.phpt
  ext/mysqli/tests/mysqli_stmt_result_metadata_sqltests.phpt
  ext/mysqli/tests/mysqli_store_result_buffered_c.phpt
Labels: Extension: mysqli

#13621 Implement GH-13609: Dump wrapped object in WeakReference class
  NEWS
  UPGRADING
  Zend/tests/weakrefs/weakrefs_001.phpt
  Zend/tests/weakrefs/weakrefs_debug_dump.phpt
  Zend/zend_weakrefs.c
Labels: Category: Engine

#13624 Use fabsf() and floorf() unconditionally in bundled libgd
  ext/gd/config.m4
  ext/gd/libgd/gd.c
  ext/gd/libgd/gd_interpolation.c
Labels: Category: Build System, Extension: gd

#13626 Check sys/sdt.h with AC_CHECK_HEADER
  configure.ac
Labels: Category: Build System

#13627 Remove htonl() Autoconf check
  configure.ac
Labels: Category: Build System

#13604 Simplify FPM ACL check
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#13641 Change getThis() into ZEND_THIS where possible
  Zend/zend_closures.c
  Zend/zend_weakrefs.c
  ext/com_dotnet/com_com.c
  ext/com_dotnet/com_dotnet.c
  ext/com_dotnet/com_persist.c
  ext/com_dotnet/com_variant.c
  ext/reflection/php_reflection.c
  ext/sqlite3/sqlite3.c
  ext/zend_test/fiber.c
Labels: Category: Engine, Extension: com_dotnet, Extension: reflection, Extension: sqlite3, Extension: zend_test

#13435 round: Abolished the CPU rounding mode change and modified it to a different logic.
  ext/standard/math.c
Labels: Extension: standard

#13639 Minor cleanup in dom_node_concatenated_name_helper()
  ext/dom/node.c
Labels: Extension: dom

#13652 Change return type of hash_update() to true
  NEWS
  UPGRADING
  ext/hash/hash.stub.php
  ext/hash/hash_arginfo.h
Labels: Extension: hash

#13647 Use memmove() unconditionally in the code
  configure.ac
  ext/pcre/config.w32
  ext/pcre/config0.m4
  win32/build/config.w32.h.in
Labels: Category: Build System, Extension: pcre

#13654 ext/gmp: gmp_invert addressing todo.
  ext/gmp/gmp.c
  ext/gmp/tests/gmp_invert.phpt
Labels: Extension: gmp

#13642 Check library containing socket() with AC_SEARCH_LIBS
  configure.ac
Labels: Category: Build System

#13644 Find AppArmor library with pkgconf
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#13662 Fix external pcre2 build
  ext/pcre/php_pcre.c
  ext/pcre/tests/preg_match_caseless_restrict.phpt
Labels: Extension: pcre

#13645 Find SELinux library with pkgconf
  sapi/fpm/config.m4
Labels: Category: Build System, SAPI: fpm

#13565 Use default Autoconf's AC_LANG_PROGRAM
  build/php.m4
  configure.ac
Labels: Category: Build System

#13610 Fix JIT QM_ASSIGN may be optimized out when op1 is null
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/tests/jit/qm_assign_004.phpt
Labels: Extension: opcache

#13663 Fix 32-bit characterdata failures
  ext/dom/characterdata.c
  ext/dom/tests/modern/spec/CharacterData_insertData_negative_offset.phpt
  ext/dom/tests/modern/spec/CharacterData_insertData_negative_offset_mod32.phpt
  ext/dom/tests/modern/spec/CharacterData_replaceData_negative_count.phpt
  ext/dom/tests/modern/spec/CharacterData_replaceData_negative_count_mod32.phpt
  ext/dom/tests/modern/spec/CharacterData_substringData_negative_arguments.phpt
  ext/dom/tests/modern/spec/CharacterData_substringData_negative_arguments_mod32.phpt
Labels: Extension: dom

#13668 Mark sapi/embed as non experimental
  sapi/embed/EXPERIMENTAL
  sapi/embed/config.m4
Labels: Category: Build System

#13678 Fix defined but not used warnings
  sapi/litespeed/lscriu.c
Labels: SAPI: litespeed

#13684 ext/curl: Cleanup `config.w32` to remove superfluous checks and outdated comments
  ext/curl/config.w32
Labels: Category: Build System, Extension: curl

#13694 fix: typos
  ext/enchant/tests/bug13181.phpt
  ext/standard/tests/file/file_get_contents_with_large_length.phpt
Labels: Extension: enchant, Extension: standard

#13690 random: Initialize the `mode` field when seeding in `php_random_default_status()`
  NEWS
  ext/random/random.c
Labels: Extension: random

#12959 [RFC] Deprecate implicit nullable parameter types
  UPGRADING
  Zend/tests/bug63635.phpt
  Zend/tests/bug71428.1.phpt
  Zend/tests/bug71428.3.phpt
  Zend/tests/bug72119.phpt
  Zend/tests/gh11488.phpt
  Zend/tests/ns_070.phpt
  Zend/tests/ns_071.phpt
  Zend/tests/ns_072.phpt
  Zend/tests/ns_073.phpt
  Zend/tests/ns_074.phpt
  Zend/tests/required_param_after_optional.phpt
  Zend/tests/traits/bug60717.phpt
  Zend/tests/type_declarations/callable_003.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type_error.phpt
  Zend/tests/type_declarations/iterable/iterable_002.phpt
  Zend/tests/type_declarations/literal_types/false_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/literal_types/true_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/nullable_null.phpt
  Zend/tests/type_declarations/scalar_none.phpt
  Zend/tests/type_declarations/scalar_null.phpt
  Zend/tests/type_declarations/variance/internal_parent/unresolvable_inheritance_check_param.phpt
  Zend/tests/variadic/adding_additional_optional_parameter.phpt
  Zend/tests/variadic/adding_additional_optional_parameter_error.phpt
  Zend/zend_compile.c
  ext/date/tests/DateTime_extends_basic2.phpt
  ext/date/tests/bug55407.phpt
  ext/opcache/tests/bug73746.phpt
  ext/opcache/tests/bug74442.phpt
  ext/opcache/tests/invalid_array_key_type.phpt
  ext/opcache/tests/jit/cast_001.phpt
  ext/opcache/tests/jit/send_var_ex_002.phpt
  ext/opcache/tests/opt/assign_op_002.phpt
  ext/pdo_pgsql/tests/bug72294.phpt
  ext/reflection/tests/ReflectionClass_export_basic1.phpt
  ext/reflection/tests/bug62715.phpt
  ext/reflection/tests/parameters_002.phpt
  ext/reflection/tests/types/ReflectionType_001.phpt
  ext/reflection/tests/types/pure_intersection_type_implicitly_nullable.phpt
  ext/spl/tests/bug65328.phpt
  sapi/fpm/tests/logreader.inc
  sapi/fpm/tests/logtool.inc
  sapi/fpm/tests/tester.inc
  sapi/phpdbg/tests/phpdbg_get_executable_stream_wrapper.phpt
  tests/classes/type_hinting_003.phpt
  tests/classes/type_hinting_004.phpt
  tests/lang/type_hints_002.phpt
Labels: RFC, SAPI: fpm, Category: Engine, Extension: date, Extension: opcache, Extension: pdo_pgsql, Extension: reflection, Extension: spl, SAPI: phpdbg

#13701 Change return type of DOM\HTMLDocument::saveHTML()
  ext/dom/html_document.c
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#13682 Verify stub aliases in CI
  .github/actions/verify-generated-files/action.yml
  build/gen_stub.php
  ext/bz2/bz2.stub.php
  ext/bz2/bz2_arginfo.h
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/phar/phar_object.stub.php
  ext/phar/phar_object_arginfo.h
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/spl/spl_observer.stub.php
  ext/spl/spl_observer_arginfo.h
  ext/sqlite3/sqlite3.stub.php
  ext/sqlite3/sqlite3_arginfo.h
Labels: Category: Build System, Extension: bz2, Extension: mysqli, Extension: phar, Extension: reflection, Extension: spl, Extension: sqlite3

#13704 Fix parameter hints in php_xsl.stub.php
  ext/xsl/php_xsl.stub.php
  ext/xsl/php_xsl_arginfo.h
Labels: Extension: xsl

#13714 Fix implicitly marking parameter as nullable deprecation warning
  ext/phar/phar/pharcommand.inc
Labels: Extension: phar

#13716 Check asm goto support with AC_LINK_IFELSE
  configure.ac
Labels: Category: Build System

#13718 Fix unused variable warning in sapi/litespeed
  sapi/litespeed/lscriu.c
Labels: SAPI: litespeed

#13719 Remove HAVE_MYSQL
  UPGRADING.INTERNALS
  ext/pdo_mysql/config.m4
Labels: Category: Build System, Extension: pdo_mysql

#13706 Check major, minor and makedev with Autoconf's AC_HEADER_MAJOR
  configure.ac
  ext/fileinfo/config.m4
  ext/posix/config.m4
  ext/posix/posix.c
Labels: Category: Build System, Extension: fileinfo, Extension: posix

#13709 Declare the missing true return types
  ext/fileinfo/fileinfo.stub.php
  ext/fileinfo/fileinfo_arginfo.h
  ext/intl/calendar/calendar.stub.php
  ext/intl/calendar/calendar_arginfo.h
  ext/intl/collator/collator.stub.php
  ext/intl/collator/collator_arginfo.h
  ext/intl/locale/locale.stub.php
  ext/intl/locale/locale_arginfo.h
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/pdo/pdo_stmt.stub.php
  ext/pdo/pdo_stmt_arginfo.h
  ext/phar/phar_object.stub.php
  ext/phar/phar_object_arginfo.h
  ext/spl/spl_fixedarray.stub.php
  ext/spl/spl_fixedarray_arginfo.h
  ext/sqlite3/sqlite3.stub.php
  ext/sqlite3/sqlite3_arginfo.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/xmlreader/php_xmlreader.stub.php
  ext/xmlreader/php_xmlreader_arginfo.h
  ext/xsl/php_xsl.stub.php
  ext/xsl/php_xsl_arginfo.h
Labels: Extension: intl, Extension: fileinfo, Extension: mysqli, Extension: pdo (core), Extension: phar, Extension: spl, Extension: sqlite3, Extension: standard, Extension: xmlreader, Extension: xsl

#13288 Use ZEND_API in zend_hrtime
  Zend/zend_hrtime.c
  Zend/zend_hrtime.h
Labels: Category: Engine

#13736 Fix PdoSqlite::loadExtension() test
  .github/actions/apt-x64/action.yml
  ext/pdo_sqlite/tests/subclasses/pdosqlite_003.phpt
Labels: Extension: pdo_sqlite

#13740 Fix string concatenation in ZEND_JIT_SRC variable
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#13438 Improve optimizer support for class constants
  Zend/Optimizer/pass1.c
  Zend/Optimizer/zend_inference.c
  Zend/Optimizer/zend_optimizer.c
  Zend/Optimizer/zend_optimizer_internal.h
  ext/opcache/tests/opt/type_inference_class_consts1.phpt
  ext/opcache/tests/opt/type_inference_class_consts2.phpt
  ext/opcache/tests/opt/type_inference_class_consts3.phpt
  ext/opcache/tests/opt/type_inference_class_consts4.phpt
Labels: Extension: opcache, Category: Optimizer

#13730 random: Improve the output quality of RANDOM_SEED()
  UPGRADING.INTERNALS
  ext/gmp/gmp.c
  ext/random/engine_mt19937.c
  ext/random/php_random.h
  ext/random/random.c
  ext/session/session.c
Labels: Extension: gmp, Extension: session, Extension: random

#13492 An uninitialized DateTime is UNEXPECTED
  ext/date/php_date.c
Labels: Extension: date

#13735 Fix GH-13712: Segmentation fault for enabled observers when calling trait method of internal trait when opcache is loaded
  NEWS
  Zend/zend_inheritance.c
  ext/opcache/tests/gh13712.phpt
  ext/opcache/zend_persist.c
Labels: Category: Engine, Extension: opcache

#10219 Properly forward the signal to the original handler if TSRM is shutdown
  Zend/zend_signal.c
Labels: SAPI: fpm, Category: Engine

#13705 Improve BC support of arginfo files generated by gen_stub.php
  build/gen_stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Extension: zend_test

#13749 Fix GH-13745: fix header inclusion in pdo_pgsql.c
  ext/pdo_pgsql/pdo_pgsql.c
Labels: Extension: pdo_pgsql

#13751 Declare the last few remaining constants via stubs
  build/gen_stub.php
  ext/standard/dir.c
  ext/standard/dir.stub.php
  ext/standard/dir_arginfo.h
  ext/standard/php_dir_int.h
  main/main.c
  main/main.stub.php
  main/main_arginfo.h
Labels: Category: Build System, Extension: standard

#13676 Compress interned string table offsets and increase maximum supported buffer size
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
  ext/opcache/tests/gh9259_001.phpt
  ext/opcache/zend_accelerator_module.c
  ext/opcache/zend_shared_alloc.c
Labels: Extension: opcache

#13748 random: Use CSPRNG for CombinedLCG seeding
  ext/random/engine_combinedlcg.c
Labels: Extension: random

#13761 random: Simplify implementation of php_random_generate_fallback_seed()
  ext/random/random.c
Labels: Extension: random

#13770 Fix GH-13764: xsl cannot build on PHP 8.4
  UPGRADING.INTERNALS
  ext/dom/php_dom.h
  ext/dom/xml_common.h
  ext/xsl/xsltprocessor.c
Labels: Extension: dom, Extension: xsl

#13765 Remove outdated Zend/zend_istdiostream.h file
  UPGRADING.INTERNALS
  Zend/zend_config.w32.h
  Zend/zend_istdiostream.h
Labels: Category: Engine

#13411 Create modules directory in a centralized location
  build/php.m4
  configure.ac
  scripts/phpize.m4
Labels: Category: Build System

#13793 Remove obsolete OpenSSL code in ext/ftp MINIT
  ext/ftp/php_ftp.c
Labels: Extension: ftp

#13788 Cleanup dom_html_document_encoding_write()
  ext/dom/html_document.c
Labels: Extension: dom

#13797 Fix incorrect check in fpm_shm_free()
  sapi/fpm/fpm/fpm_shm.c
Labels: SAPI: fpm

#13796 Remove impossible paths from session_decode and session_encode
  ext/session/session.c
  ext/session/tests/session_decode_error3.phpt
Labels: Extension: session

#13801 DOM stubs: Reference interfaces from the global namespace correctly
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#13758 Adjust GC threshold if num_roots higher than threshold after collection
  Zend/tests/gh13670_001.phpt
  Zend/tests/gh13670_002.phpt
  Zend/tests/gh13670_003.phpt
  Zend/zend_gc.c
Labels: Category: Engine, Category: GC

#13814 Remove setlocale pragma that no longer is significant.
  ext/calendar/jewish.c
Labels: Extension: calendar

#13785 Refactor root build directories
  build/php.m4
  configure.ac
Labels: Category: Build System

#13822 Fix linking library for POSIX shared memory functions
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#13839 QA - finfo_open - increase coverage
  ext/fileinfo/tests/finfo_open_001.phpt
  ext/fileinfo/tests/finfo_open_003.phpt
  ext/fileinfo/tests/finfo_open_004.phpt
Labels: Extension: fileinfo

#13851 Remove redundant check in pdo_raise_impl_error
  ext/pdo/pdo_dbh.c
Labels: Extension: pdo (core)

#13850 Remove redundant check in mysqlnd_fetch_stmt_row_cursor
  ext/mysqlnd/mysqlnd_ps.c
Labels: Extension: mysqlnd

#13849 Remove redundant check in mysqlnd_conn_data::connect
  ext/mysqlnd/mysqlnd_connection.c
Labels: Extension: mysqlnd

#13731 Implement request #71571: XSLT processor should provide option to change maxDepth
  NEWS
  UPGRADING
  UPGRADING.INTERNALS
  ext/dom/xpath_callbacks.c
  ext/libxml/libxml.c
  ext/libxml/php_libxml.h
  ext/xsl/php_xsl.c
  ext/xsl/php_xsl.h
  ext/xsl/php_xsl.stub.php
  ext/xsl/php_xsl_arginfo.h
  ext/xsl/tests/bug71571_a.phpt
  ext/xsl/tests/bug71571_b.phpt
  ext/xsl/tests/maxTemplateDepth_errors.phpt
  ext/xsl/tests/maxTemplateDepth_modification_validation_bypass.phpt
  ext/xsl/tests/maxTemplateVars_errors.phpt
  ext/xsl/tests/maxTemplateVars_modification_validation_bypass.phpt
  ext/xsl/tests/new_without_constructor.phpt
  ext/xsl/xsltprocessor.c
Labels: Extension: dom, Extension: libxml, Extension: xsl
