Repository php/php-src, pull requests merged in 2024-04, with the labels that each got.

#13846 Fix GH-13834: Applying non-zero offset 36 to null pointer in zend_jit.c
  .github/workflows/push.yml
  Zend/Optimizer/zend_func_info.c
  Zend/Optimizer/zend_inference.c
  Zend/Optimizer/zend_inference.h
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache, Category: Optimizer

#13859 Fix potential NULL pointer argument to memcpy
  ext/dom/html5_parser.c
Labels: Extension: dom

#13861 adding const attribute to trailing/leading zeros helpers.
  Zend/zend_bitset.h
  sapi/phpdbg/phpdbg.c
Labels: Category: Engine, SAPI: phpdbg

#13853 Remove useless NULL-check in phpdbg_print
  sapi/phpdbg/phpdbg_print.c
Labels: SAPI: phpdbg

#13830 Optimize levenshtein a bit for memory usage
  ext/standard/levenshtein.c
Labels: Extension: standard

#13872 ext/pcntl: pcntl_unshare minor error message clarification (for EINVAL).
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_unshare_04.phpt
Labels: Extension: pcntl

#13874 zend_alloc trailing 1 calculation helper ZEND_ATTRIBUTE_CONST addition.
  Zend/zend_alloc.c
Labels: Category: Engine

#13852 Remove broken check in var_unserializer
  ext/standard/var_unserializer.re
Labels: Extension: standard

#10941 Fix shift out of bounds on 32-bit non-fast-path platforms
  ext/mysqlnd/mysqlnd_portability.h
Labels: Extension: mysqlnd

#13885 ext/pcntl: pcnt_setns few nitpicks changes.
  ext/pcntl/pcntl.c
  ext/pcntl/pcntl.stub.php
  ext/pcntl/pcntl_arginfo.h
Labels: Extension: pcntl

#13884 Fix serialization of entity references in attributes
  ext/dom/html5_serializer.c
  ext/dom/tests/modern/common/serialize_entity_reference_in_attribute.phpt
  ext/dom/xml_serializer.c
Labels: Extension: dom

#13892 Fix GH-13891: memleak and segfault when using ini_set with session.trans_sid_hosts
  ext/session/tests/gh13891.phpt
  ext/standard/url_scanner_ex.re
Labels: Extension: session, Extension: standard

#13804 QA - Bug fix - filter_input_array - solution 2
  ext/filter/filter.c
  ext/filter/tests/filter_input_array_001.phpt
Labels: Extension: filter

#13900 Convert odbc_bindcols() function to void
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc_includes.h
Labels: Extension: odbc

#13897 Cleanup and optimize attribute value reading
  ext/dom/attr.c
  ext/dom/php_dom.c
Labels: Extension: dom

#13807 Add next handler parameter to zend_observer_remove_begin/end_handler
  UPGRADING.INTERNALS
  Zend/zend_observer.c
  Zend/zend_observer.h
  ext/zend_test/observer.c
Labels: Category: Engine, Extension: zend_test

#13905 Fix persistent local flag in session url updating
  ext/standard/url_scanner_ex.re
Labels: Extension: standard

#13907 ext/pcntl: pcntl affinity improves EINVAL handling in both cases.
  ext/pcntl/pcntl.c
  ext/pcntl/tests/pcntl_cpuaffinity.phpt
Labels: Extension: pcntl

#13906 Fix GH-13789 build failed mbstring_arginfo.h when Visual C++ on Windows
  ext/mbstring/config.w32
Labels: Category: Build System, Extension: mbstring

#13911 ext/pcntl: getpriority/setpriority `who` default value handling change.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

#13909 Avoid call to php_socket_errno() if possible
  ext/openssl/xp_ssl.c
  main/streams/xp_socket.c
Labels: Extension: openssl

#13913 Fix #13865 Improve parameter and return value related deprecation mesages
  Zend/tests/bug71428.3.phpt
  Zend/tests/call_user_func_005.phpt
  Zend/tests/gh11488.phpt
  Zend/tests/ns_073.phpt
  Zend/tests/required_param_after_optional.phpt
  Zend/tests/required_param_after_optional_named_args.phpt
  Zend/tests/return_by_ref_from_void_function.phpt
  Zend/tests/traits/bug60717.phpt
  Zend/tests/type_declarations/callable_003.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type.phpt
  Zend/tests/type_declarations/intersection_types/implicit_nullable_intersection_type_error.phpt
  Zend/tests/type_declarations/iterable/iterable_002.phpt
  Zend/tests/type_declarations/literal_types/false_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/literal_types/true_standalone_implicit_nullability.phpt
  Zend/tests/type_declarations/nullable_null.phpt
  Zend/zend_compile.c
  ext/reflection/tests/ReflectionClass_export_basic1.phpt
  ext/reflection/tests/bug62715.phpt
  ext/reflection/tests/parameters_002.phpt
  ext/reflection/tests/types/ReflectionType_001.phpt
  ext/reflection/tests/types/pure_intersection_type_implicitly_nullable.phpt
  tests/classes/type_hinting_003.phpt
  tests/classes/type_hinting_004.phpt
  tests/lang/type_hints_002.phpt
Labels: Category: Engine, Extension: reflection

#13923 Fix GCC warning when using getThis() in a conditional
  Zend/zend_API.h
  ext/intl/calendar/calendar_methods.cpp
  ext/intl/calendar/gregoriancalendar_methods.cpp
  ext/intl/formatter/formatter_format.c
  ext/intl/formatter/formatter_parse.c
  ext/mysqli/mysqli.c
  ext/mysqli/mysqli_api.c
  ext/mysqli/mysqli_nonapi.c
  ext/tidy/tidy.c
Labels: Category: Engine, Extension: intl, Extension: mysqli, Extension: tidy

#13920 Remove unused os/signpost.h header check
  configure.ac
Labels: Category: Build System

#13929 Fix exception IP in JIT
  ext/opcache/jit/zend_jit_arm64.dasc
  ext/opcache/jit/zend_jit_x86.dasc
Labels: Extension: opcache

#13898 Improve check for broken iconv //IGNORE
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

#13910 Make ext/odbc default value handling more consistent
  UPGRADING
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/tests/odbc_fetch_row_001.phpt
Labels: Extension: odbc

#13939 sapi/fcgi: update listen queue size handling.
  sapi/cgi/cgi_main.c
Labels: SAPI: cgi

#13921 Fix usage of reentrant functions in ext/posix
  ext/posix/posix.c
Labels: Extension: posix, OS: Alpine / Musl

#13927 Fix TLS access in JIT with Musl
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache, OS: Alpine / Musl

#13111 Add dedicated StreamBucket class
  ext/reflection/tests/ReflectionExtension_getClassNames_basic.phpt
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/file/bug39551.phpt
  ext/standard/user_filters.c
  ext/standard/user_filters.stub.php
  ext/standard/user_filters_arginfo.h
Labels: RFC, Extension: reflection, Extension: standard, Category: Streams

#13894 Use a link test to check for GNU libiconv availability
  ext/iconv/config.m4
Labels: Category: Build System, Extension: iconv

#13946 Update ext/ldap sanity check
  ext/ldap/config.m4
Labels: Category: Build System, Extension: ldap

#13041 Fix bug #63937: Upload speed 10 times slower with PHP
  ext/ftp/ftp.c
  ext/ftp/tests/ftp_fput_ascii_over_4_kib.phpt
Labels: Extension: ftp

#13957 ext/posix: changing helpers return to zend_result.
  ext/posix/posix.c
Labels: Extension: posix

#13799 Add test for session_start with read_and_close option
  ext/session/tests/session_start_read_and_close.phpt
Labels: Extension: session

#13959 Add test for performing special operations on XSLTProcessor properties
  ext/xsl/tests/special_operations_with_properties.phpt
Labels: Extension: xsl

#13960 Make (DOM)XPath::quote only accept strings without NULL bytes
  ext/dom/tests/gh13960.phpt
  ext/dom/xpath.c
Labels: Extension: dom

#13967 tests: add php_history file check
  sapi/cli/tests/017.phpt
Labels: SAPI: cli

#13924 Fix tests when stdout is unbuffered
  ext/opcache/tests/issue0115.phpt
  ext/opcache/tests/issue0149.phpt
Labels: Extension: opcache, OS: Alpine / Musl

#13969 Use return value of getpwuid_r(), not errno
  ext/posix/posix.c
Labels: Extension: posix

#13942 fix: prevent C errors when using weird max_execution_time values
  Zend/zend_execute_API.c
  Zend/zend_max_execution_timer.c
Labels: Category: Engine

#13600 Inline GDB scripts in the PHP binary
  .gitattributes
  .github/actions/verify-generated-files/action.yml
  configure.ac
  main/debug_gdb_scripts.c
  scripts/gdb/debug_gdb_scripts_gen.php
  scripts/gdb/php_gdb.py
Labels: Category: Build System

#13963 Fix extension_dir variable quoting in php-config
  scripts/php-config.in
Labels: Category: Build System

#13983 Fix GH-13978: Fuzzer readme still mentions obsolete --enable-json flag
  sapi/fuzzer/README.md
Labels: SAPI: fuzzer

#13971 Fix GH-13968 Build failed when with --enable-mbregex on MSVC
  ext/mbstring/config.w32
Labels: Category: Build System, Extension: mbstring

#13982 Make documentURI and URL not readonly
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#13987 ext/reflection: Add test for ReflectionParameter::getDeclaringFunction() with a ReflectionMethod creation from a Closure
  ext/reflection/tests/closures_bound_getDeclaringFunction.phpt
Labels: Extension: reflection

#13896 rudimentary midipix port
  Zend/asm/jump_x86_64_ms_pe_gas.S
  Zend/asm/make_x86_64_ms_pe_gas.S
  build/php.m4
  configure.ac
  ext/opcache/config.m4
  ext/random/csprng.c
Labels: Category: Build System, Extension: iconv, Extension: opcache, Extension: random

#13994 Substitute PEAR_INSTALLDIR only when enabling PEAR
  configure.ac
Labels: Category: Build System

#13997 main/output.c: Refine int return type to bool or zend_result
  ext/iconv/iconv.c
  ext/tidy/tidy.c
  ext/zlib/zlib.c
  main/output.c
  main/php_output.h
Labels: Extension: iconv, Extension: tidy, Extension: zlib

#13985 Remove unused ext/spl SPL_API code
  ext/spl/php_spl.c
  ext/spl/php_spl.h
  ext/spl/spl_fixedarray.c
Labels: Extension: spl

#14021 ext/pcntl: pcntl_fork refining error handling.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

#14023 Simplify prop handler of XMLReader
  ext/xmlreader/php_xmlreader.c
  ext/xmlreader/php_xmlreader.h
Labels: Extension: xmlreader

#14013 Fix erroneous dnl appended in configure
  NEWS
  build/php_cxx_compile_stdcxx.m4
Labels: Category: Build System

#14029 Fix GH-13727: Building with -Werror=strict-prototypes
  NEWS
  build/libtool.m4
Labels: Category: Build System

#13943 Add two checks for zend_mm_heap's integrity
  Zend/zend_alloc.c
Labels: Category: Engine

#13974 Remove zend_strtod mutex
  Zend/zend.c
  Zend/zend_globals.h
  Zend/zend_strtod.c
  Zend/zend_strtod.h
  Zend/zend_strtod_int.h
Labels: Category: Engine

#13820 Fix GH-13815: mb_trim() inaccurate $characters default value
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.stub.php
  ext/mbstring/mbstring_arginfo.h
  ext/mbstring/tests/gh13815.phpt
Labels: Extension: mbstring

#14041 Get rid of remaining usages of zval_try_get_string() in ext/dom
  ext/dom/document.c
  ext/dom/node.c
Labels: Extension: dom

#14061 2 Minor improvements to HTML 5 parser
  ext/dom/html5_parser.c
Labels: Extension: dom

#14060 Be specific for the namespace of the id attribute
  ext/dom/html5_parser.c
Labels: Extension: dom

#14053 Adjust zlog warning and error message in FPM kqueue event
  sapi/fpm/fpm/events/kqueue.c
Labels: SAPI: fpm

#14071 Avoid additional allocation in Document\createElementNS
  ext/dom/document.c
Labels: Extension: dom

#14056 ext/pcntl: porting pcntl cpu affinity api to netbsd.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

#14081 Remove unused PARSE_SESSION and PARSE_REQUEST
  ext/filter/filter.c
  main/php_variables.h
Labels: Extension: filter

#14086 Add ReflectionClassConstant::isDeprecated()
  UPGRADING
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/class_constant_deprecated.phpt
Labels: Extension: reflection, Extension: zend_test

#14087 reflection: Fix ReflectionFunction::getShortName() for first class callables
  Zend/tests/closure_068.phpt
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#14079 Various ext/libxml cleanups
  ext/libxml/libxml.c
Labels: Extension: libxml

#14077 Use fast ZPP in very commonly used DOM functions
  ext/dom/document.c
  ext/dom/node.c
Labels: Extension: dom

#13955 sapi/phpdbg: Update of userfaultfd workflow.
  sapi/phpdbg/phpdbg_watch.c
Labels: SAPI: phpdbg

#14088 random: Add PHPAPI to all `php_random_algo` definitions
  ext/random/engine_combinedlcg.c
  ext/random/engine_mt19937.c
  ext/random/engine_pcgoneseq128xslrr64.c
  ext/random/engine_secure.c
  ext/random/engine_user.c
  ext/random/engine_xoshiro256starstar.c
Labels: Extension: random

#14092 Minor cleanups in dom/nodelist.c
  ext/dom/nodelist.c
  ext/dom/nodelist.h
Labels: Extension: dom

#14094 Add GC_PERSISTENT_LOCAL flag for ODBC structures
  ext/odbc/php_odbc.c
Labels: Extension: odbc

#14096 Fix Windows failure
  ext/dom/dom_properties.h
  ext/dom/entityreference.c
Labels: Extension: dom
