Repository php/php-src, pull requests merged in 2025-10, with the labels that each got.

#20020 soap: Switch to new XML parser option setting API
  ext/soap/php_xml.c
Labels: Extension: soap

#20016 Reduce code bloat in arginfo by using specialised string releases
  Zend/zend_attributes_arginfo.h
  Zend/zend_builtin_functions_arginfo.h
  build/gen_stub.php
  ext/bcmath/bcmath_arginfo.h
  ext/curl/curl_arginfo.h
  ext/curl/curl_file_arginfo.h
  ext/date/php_date_arginfo.h
  ext/dl_test/dl_test_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/ffi/ffi_arginfo.h
  ext/intl/breakiterator/breakiterator_arginfo.h
  ext/intl/breakiterator/breakiterator_iterators_arginfo.h
  ext/intl/calendar/calendar_arginfo.h
  ext/intl/collator/collator_arginfo.h
  ext/intl/converter/converter_arginfo.h
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/formatter/formatter_arginfo.h
  ext/intl/listformatter/listformatter_arginfo.h
  ext/intl/locale/locale_arginfo.h
  ext/intl/normalizer/normalizer_arginfo.h
  ext/intl/rangeformatter/rangeformatter_arginfo.h
  ext/intl/spoofchecker/spoofchecker_arginfo.h
  ext/intl/timezone/timezone_arginfo.h
  ext/intl/transliterator/transliterator_arginfo.h
  ext/intl/uchar/uchar_arginfo.h
  ext/libxml/libxml_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/pdo/pdo_arginfo.h
  ext/pdo/pdo_dbh_arginfo.h
  ext/pdo/pdo_stmt_arginfo.h
  ext/pdo_dblib/pdo_dblib_arginfo.h
  ext/pdo_firebird/pdo_firebird_arginfo.h
  ext/pdo_mysql/pdo_mysql_arginfo.h
  ext/pdo_odbc/pdo_odbc_arginfo.h
  ext/pdo_pgsql/pdo_pgsql_arginfo.h
  ext/pdo_sqlite/pdo_sqlite_arginfo.h
  ext/phar/phar_object_arginfo.h
  ext/random/random_arginfo.h
  ext/reflection/php_reflection_arginfo.h
  ext/snmp/snmp_arginfo.h
  ext/soap/soap_arginfo.h
  ext/spl/spl_array_arginfo.h
  ext/spl/spl_directory_arginfo.h
  ext/spl/spl_dllist_arginfo.h
  ext/spl/spl_heap_arginfo.h
  ext/spl/spl_iterators_arginfo.h
  ext/spl/spl_observer_arginfo.h
  ext/sqlite3/sqlite3_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/standard/dir_arginfo.h
  ext/standard/user_filters_arginfo.h
  ext/tidy/tidy_arginfo.h
  ext/tokenizer/tokenizer_arginfo.h
  ext/uri/php_uri_arginfo.h
  ext/xmlreader/php_xmlreader_arginfo.h
  ext/xsl/php_xsl_arginfo.h
  ext/zend_test/object_handlers_arginfo.h
  ext/zend_test/test_arginfo.h
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Category: Engine, Extension: intl, Extension: bcmath, Extension: curl, Extension: date, Extension: dom, Extension: ffi, Extension: libxml, Extension: mysqli, Extension: pdo (core), Extension: pdo_dblib, Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, Extension: pdo_sqlite, Extension: phar, Extension: reflection, Extension: snmp, Extension: soap, Extension: spl, Extension: sqlite3, Extension: standard, Extension: tidy, Extension: tokenizer, Extension: xmlreader, Extension: xsl, Extension: zend_test, Extension: zip, Extension: random, ABI break, Extension: uri

#20056 Fix uouv in recursive implicit bind computation
  Zend/zend_compile.c
Labels: Category: Engine

#19992 uri: Update to uriparser-0.9.9-21-g08df3b2
  NEWS
  ext/uri/config.m4
  ext/uri/uriparser/include/uriparser/Uri.h
  ext/uri/uriparser/include/uriparser/UriBase.h
  ext/uri/uriparser/src/UriCommon.c
  ext/uri/uriparser/src/UriMemory.c
Labels: Category: Build System, Extension: uri

#20096 Avoid hardcoding the offset for ErrorException specific properties
  Zend/zend_exceptions.c
Labels: Category: Engine

#20092 json: Improve performance of `php_json_encode_array()`
  UPGRADING
  ext/json/json_encoder.c
Labels: Extension: json

#20083 Drop LIBXML_HTML_ENABLED checks
  ext/dom/document.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Labels: Extension: dom

#20097 Allow by-ref assign to WeakMap even if object is not yet in the map
  NEWS
  UPGRADING
  Zend/tests/weakrefs/weakmap_by_ref_dimension_assign.phpt
  Zend/zend_weakrefs.c
Labels: Category: Engine
