Repository php/php-src, pull requests merged in 2025-08, with the labels that each got.

#19299 Remove zend_jit_vm_kind
  ext/opcache/jit/zend_jit.c
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#19348 Fix filtering of INI directives to respect leading whitespaces
  build/Makefile.global
Labels: Category: Build System

#19353 Fixed GH-19163 fix ext/intl build on midly older compilers but still …
  ext/intl/calendar/gregoriancalendar_methods.cpp
  ext/intl/dateformat/dateformat_format_object.cpp
  ext/intl/timezone/timezone_class.cpp
Labels: Extension: intl

#19382 Fixed GH-19381: posix_kill_pidoverflow test depends on pcntl too.
  ext/posix/tests/posix_kill_pidoverflow.phpt
Labels: Extension: posix

#19384 Fix Windows test for openssl-3.5 upgrade
  ext/openssl/tests/check_default_conf_path.phpt
Labels: Extension: openssl

#19357 ext/date: null bytes in timezones can only happen via HT initialization
  ext/date/php_date.c
Labels: Extension: date

#19396 ext/intl: prevent creation of invalid UConverter instance
  ext/intl/converter/converter.c
  ext/intl/tests/bug75317.phpt
  ext/intl/tests/uconverter___construct_error.phpt
  ext/intl/tests/uconverter_bug66873.phpt
Labels: Extension: intl

#19395 ext/intl: better errors for IntlTimeZone::createTimeZoneIDEnumeration
  ext/intl/tests/timezone_createTimeZoneIDEnumeration_error.phpt
  ext/intl/tests/timezone_createTimeZoneIDEnumeration_error_64bit.phpt
  ext/intl/timezone/timezone_methods.cpp
Labels: Extension: intl

#19408 ext/sockets: remove tests that leak memory
  ext/sockets/tests/socket_export_stream-5.phpt
  ext/sockets/tests/socket_import_stream-5.phpt
Labels: Extension: sockets

#19294 ext/intl: update C to C++ step2.
  ext/intl/config.m4
  ext/intl/config.w32
  ext/intl/locale/locale_methods.cpp
  ext/intl/msgformat/msgformat.cpp
  ext/intl/msgformat/msgformat_attr.cpp
  ext/intl/msgformat/msgformat_class.cpp
  ext/intl/msgformat/msgformat_data.cpp
  ext/intl/msgformat/msgformat_data.h
  ext/intl/msgformat/msgformat_format.cpp
  ext/intl/msgformat/msgformat_parse.cpp
  ext/intl/normalizer/normalizer_class.cpp
  ext/intl/normalizer/normalizer_class.h
  ext/intl/normalizer/normalizer_normalize.cpp
Labels: Category: Build System, Extension: intl

#19393 ext/intl: Use ZPP specifier for IntlTimeZone::createEnumeration()
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/timezone_createEnumeration_error.phpt
  ext/intl/timezone/timezone.stub.php
  ext/intl/timezone/timezone_arginfo.h
  ext/intl/timezone/timezone_methods.cpp
Labels: Extension: intl

#19394 Use stack allocation in timezone_initialize()
  ext/date/php_date.c
Labels: Extension: date

#19409 ext/intl: Refactor timezone parameter passing
  ext/intl/calendar/calendar.stub.php
  ext/intl/calendar/calendar_arginfo.h
  ext/intl/calendar/calendar_methods.cpp
  ext/intl/calendar/gregoriancalendar_methods.cpp
  ext/intl/dateformat/dateformat.stub.php
  ext/intl/dateformat/dateformat_arginfo.h
  ext/intl/dateformat/dateformat_attrcpp.cpp
  ext/intl/dateformat/dateformat_create.cpp
  ext/intl/msgformat/msgformat_helpers.cpp
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/dateformat_setTimeZone_error.phpt
  ext/intl/timezone/timezone_class.cpp
  ext/intl/timezone/timezone_class.h
Labels: Extension: intl

#19286 mysqli: Deprecate `mysqli_execute()`
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
Labels: RFC, Extension: mysqli

#19285 standard: Deprecate `socket_set_timeout()`
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/file/fread_socket_variation1.phpt
  ext/standard/tests/streams/stream_get_meta_data_socket_variation2.phpt
Labels: RFC, Extension: standard

#19274 pdo: Deprecate the `uri:` DSN scheme
  ext/pdo/pdo_dbh.c
  ext/pdo_mysql/tests/pdo_mysql___construct_uri.phpt
  ext/pdo_sqlite/tests/pdo_sqlite___construct_uri.phpt
Labels: RFC, Extension: pdo (core), Extension: pdo_mysql, Extension: pdo_sqlite

#19273 reflection: Deprecate `Reflection*::setAccessible()`
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionMethod_setAccessible.phpt
  ext/reflection/tests/ReflectionProperty_setAccessible.phpt
  ext/reflection/tests/bug79683.phpt
  ext/reflection/tests/property_hooks/basics.phpt
  ext/zend_test/tests/gh9871.phpt
Labels: RFC, Extension: reflection, Extension: zend_test

#19419 Make `spl_filesystem_dir_read()` return void
  ext/spl/spl_directory.c
Labels: Extension: spl

#19127 Autotools: Update ax_check_compile_flag.m4 to serial 11
  UPGRADING.INTERNALS
  Zend/Zend.m4
  build/ax_check_compile_flag.m4
  ext/date/config0.m4
  ext/hash/config.m4
  ext/pcre/config0.m4
  ext/sodium/config.m4
Labels: Category: Build System, Category: Engine, Extension: date, Extension: hash, Extension: pcre, Extension: sodium

#19425 Deprecate the parameter of get_defined_functions()
  Zend/tests/bug79668.phpt
  Zend/zend_builtin_functions.c
  tests/basic/bug31875.phpt
Labels: Category: Engine

#19422 ext/spl: Deprecate passing spl_autoload_call() to spl_autoload_unregister()
  ext/spl/php_spl.c
  ext/spl/tests/bug71204.phpt
  ext/spl/tests/spl_autoload_002.phpt
  ext/spl/tests/spl_autoload_unregister_without_registrations.phpt
Labels: Extension: spl

#19410 ext/intl: wrap DateTimeZone constructor exception in an IntlException
  ext/intl/tests/calendar_toDateTime_error.phpt
  ext/intl/tests/timezone_toDateTimeZone_error.phpt
  ext/intl/timezone/timezone_class.cpp
Labels: Extension: intl

#19424 ext/spl: Deprecate SplObjectStorage::contains(), SplObjectStorage::attach(), and SplObjectStorage::detach()
  Zend/tests/enum/spl-object-storage.phpt
  ext/spl/spl_observer.c
  ext/spl/spl_observer.stub.php
  ext/spl/spl_observer_arginfo.h
  ext/spl/tests/SplObjectStorage/SplObjectStorage_coalesce.phpt
  ext/spl/tests/SplObjectStorage/SplObjectStorage_removeAllExcept_basic.phpt
  ext/spl/tests/SplObjectStorage/SplObjectStorage_seek.phpt
  ext/spl/tests/SplObjectStorage/bug49263.phpt
  ext/spl/tests/SplObjectStorage/bug53071.phpt
  ext/spl/tests/SplObjectStorage/bug67582.phpt
  ext/spl/tests/SplObjectStorage/bug69108.phpt
  ext/spl/tests/SplObjectStorage/bug69227.phpt
  ext/spl/tests/SplObjectStorage/gh14639.phpt
  ext/spl/tests/SplObjectStorage/observer_001.phpt
  ext/spl/tests/SplObjectStorage/observer_002.phpt
  ext/spl/tests/SplObjectStorage/observer_003.phpt
  ext/spl/tests/SplObjectStorage/observer_004.phpt
  ext/spl/tests/SplObjectStorage/observer_005.phpt
  ext/spl/tests/SplObjectStorage/observer_006.phpt
  ext/spl/tests/SplObjectStorage/observer_007.phpt
  ext/spl/tests/SplObjectStorage/observer_008.phpt
  ext/spl/tests/SplObjectStorage/observer_009.phpt
  ext/spl/tests/SplObjectStorage/observer_010.phpt
Labels: Extension: spl

#19386 Use proper hash_spec_result enum for return values in ext/hash
  UPGRADING.INTERNALS
  ext/hash/hash.c
  ext/hash/hash_gost.c
  ext/hash/hash_md.c
  ext/hash/hash_sha3.c
  ext/hash/hash_snefru.c
  ext/hash/hash_tiger.c
  ext/hash/hash_whirlpool.c
  ext/hash/hash_xxhash.c
  ext/hash/php_hash.h
Labels: Extension: hash, ABI break

#13477 ext/int: IntlTimeZone converting few intl error to exceptions.
  ext/intl/tests/timezone_createTimeZoneIDEnumeration_error_64bit.phpt
  ext/intl/timezone/timezone_methods.cpp
Labels: Extension: intl

#19430 ext/intl: Deprecate intl.error_level INI setting
  ext/intl/php_intl.c
  ext/intl/tests/gh17469.phpt
  ext/intl/tests/ini_use_exceptions_basic.phpt
  ext/intl/tests/timezone_createTimeZoneIDEnumeration_variant2.phpt
  php.ini-development
  php.ini-production
Labels: Extension: intl

#19215 Deprecate terminating case statements with a semicolon
  NEWS
  UPGRADING
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_language_parser.y
  ext/opcache/tests/issue0057.phpt
  tests/lang/033.phpt
  tests/lang/bug26696.phpt
Labels: RFC, Category: Engine, Extension: opcache, ABI break

#19154 GH-19153: Validate `#[\Attribute]` targets
  NEWS
  Zend/tests/attributes/Attribute/Attribute_on_abstract.phpt
  Zend/tests/attributes/Attribute/Attribute_on_enum.phpt
  Zend/tests/attributes/Attribute/Attribute_on_interface.phpt
  Zend/tests/attributes/Attribute/Attribute_on_trait.phpt
  Zend/zend_attributes.c
Labels: Category: Engine

#19458 Fix Nightly workflow Symfony assertion (ir_ra.c:326: ir_fix_live_range: Assertion `ival && p->start == old_start' failed)
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#19377 Emit EXT_STMT after each pipe stage, and attach the TMP var that holds the intermediary result
  Zend/Optimizer/block_pass.c
  Zend/zend_compile.c
  Zend/zend_opcode.c
Labels: Category: Engine, Category: Optimizer

#19443 zend_compile: Deprecate backticks as an alias for `shell_exec()`
  NEWS
  UPGRADING
  Zend/tests/bug40236.phpt
  Zend/tests/bug55509.phpt
  Zend/tests/bug64677.phpt
  Zend/zend_compile.c
  ext/opcache/tests/revalidate_path_01.phpt
  ext/phar/phar/pharcommand.inc
  ext/session/tests/session_regenerate_id_cookie.phpt
  ext/standard/tests/dir/bug73877.phpt
  ext/standard/tests/file/mkdir-002.phpt
  sapi/cgi/tests/001.phpt
  sapi/cgi/tests/002.phpt
  sapi/cgi/tests/003.phpt
  sapi/cgi/tests/004.phpt
  sapi/cgi/tests/005.phpt
  sapi/cgi/tests/006.phpt
  sapi/cgi/tests/007.phpt
  sapi/cgi/tests/008.phpt
  sapi/cgi/tests/009.phpt
  sapi/cgi/tests/010.phpt
  sapi/cgi/tests/include.inc
  sapi/cli/tests/001.phpt
  sapi/cli/tests/002-unix.phpt
  sapi/cli/tests/002.phpt
  sapi/cli/tests/003-2.phpt
  sapi/cli/tests/003.phpt
  sapi/cli/tests/004.phpt
  sapi/cli/tests/005.phpt
  sapi/cli/tests/006.phpt
  sapi/cli/tests/007.phpt
  sapi/cli/tests/008.phpt
  sapi/cli/tests/009.phpt
  sapi/cli/tests/010-2.phpt
  sapi/cli/tests/010.phpt
  sapi/cli/tests/011.phpt
  sapi/cli/tests/012-2.phpt
  sapi/cli/tests/012.phpt
  sapi/cli/tests/013.phpt
  sapi/cli/tests/014.phpt
  sapi/cli/tests/015.phpt
  sapi/cli/tests/016.phpt
  sapi/cli/tests/018.phpt
  sapi/cli/tests/019.phpt
  sapi/cli/tests/020.phpt
  sapi/cli/tests/021.phpt
  sapi/cli/tests/025.phpt
  sapi/cli/tests/argv_mb.phpt
  sapi/cli/tests/argv_mb_bug77111.phpt
  sapi/cli/tests/bug71624.phpt
  sapi/cli/tests/gh14189.phpt
  sapi/fpm/tests/main-version.phpt
  sapi/phpdbg/tests/bug73615.phpt
  tests/run-test/extensions-shared.phpt
Labels: RFC, SAPI: fpm, Category: Engine, Extension: opcache, Extension: phar, Extension: session, Extension: standard, SAPI: cgi, SAPI: cli, SAPI: phpdbg

#19455 [RFC] Deprecate returning null from __debugInfo()
  Zend/tests/debug_info/debug_info.phpt
  Zend/tests/debug_info/recursion_return_null.phpt
  Zend/zend_object_handlers.c
Labels: RFC, Category: Engine

#19457 [RFC] Deprecate ReflectionProperty::getDefaultValue() without default
  Zend/tests/property_hooks/cpp.phpt
  ext/reflection/php_reflection.c
  ext/reflection/tests/ReflectionProperty_getDefaultValue.phpt
Labels: RFC, Extension: reflection

#19194 Remove dead error checks for php_stream_filter_alloc()
  ext/iconv/iconv.c
  ext/standard/filters.c
  ext/standard/user_filters.c
Labels: Extension: iconv, Extension: standard

#19478 Fix GH-19476: pipe operator fails to correctly handle returning by reference
  NEWS
  Zend/tests/pipe_operator_reference_context.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#19441 ext/standard: Deprecate passing integers outside the interval [0, 255] to chr()
  Zend/zend_compile.c
  ext/gd/tests/gh16232.phpt
  ext/standard/string.c
  ext/standard/tests/array/array_filter_variation9.phpt
  ext/standard/tests/strings/chr_out_of_range.phpt
  ext/standard/tests/strings/chr_variation1.phpt
  ext/standard/tests/strings/str_replace_variation2.phpt
  ext/standard/tests/strings/strcasecmp.phpt
  ext/standard/tests/strings/strcmp.phpt
  ext/standard/tests/strings/strlen.phpt
  ext/standard/tests/strings/strncasecmp_variation6.phpt
  ext/standard/tests/strings/strpos_variation1.phpt
  ext/standard/tests/strings/strstr_variation1.phpt
  ext/standard/tests/strings/substr_count_variation_001.phpt
  ext/standard/tests/strings/substr_count_variation_002.phpt
Labels: RFC, Category: Engine, Extension: gd, Extension: standard

#19495 gen_stub: Update to PHP-Parser 5.6.1
  build/gen_stub.php
Labels: Category: Build System

#19474 Deprecate constant redeclaration
  NEWS
  UPGRADING
  Zend/tests/attributes/constants/constant_redefined_addition.phpt
  Zend/tests/attributes/constants/constant_redefined_change.phpt
  Zend/tests/attributes/constants/constant_redefined_removal.phpt
  Zend/tests/bug29890.phpt
  Zend/tests/constants/008.phpt
  Zend/tests/constants/constants_001.phpt
  Zend/tests/constants/constants_004.phpt
  Zend/tests/constants/constants_008.phpt
  Zend/tests/constants/halt_compiler/bug53305.phpt
  Zend/tests/constants/halt_compiler/halt_compiler3.phpt
  Zend/tests/constants/halt_compiler/halt_compiler4.phpt
  Zend/zend_constants.c
  ext/opcache/tests/bug71127.phpt
Labels: RFC, Category: Engine, Extension: opcache, Extension: phar

#19540 uri: Improve return type of `uriparser_parse_uri_ex()`
  ext/uri/uri_parser_rfc3986.c
  ext/uri/uri_parser_rfc3986.h
Labels: Extension: uri

#19552 remove safe_mode leftovers
  ext/gd/php_gd.h
  ext/session/session.c
  main/fopen_wrappers.h
  main/main.c
Labels: Extension: gd, Extension: session, ABI break

#19510 Deprecate closure binding issues
  NEWS
  UPGRADING
  Zend/tests/bug70681.phpt
  Zend/tests/closures/bug70630.phpt
  Zend/tests/closures/bug70685.phpt
  Zend/tests/closures/closure_040.phpt
  Zend/tests/closures/closure_041.phpt
  Zend/tests/closures/closure_043.phpt
  Zend/tests/closures/closure_044.phpt
  Zend/tests/closures/closure_046.phpt
  Zend/tests/closures/closure_061.phpt
  Zend/tests/closures/closure_062.phpt
  Zend/tests/closures/closure_call.phpt
  Zend/tests/closures/closure_from_callable_rebinding.phpt
  Zend/zend_closures.c
Labels: RFC, Category: Engine

#19494 zend: optimisation for zend_page_size for macos.
  Zend/zend.c
Labels: Category: Engine

#19566 ext/session: Add #[\Deprecated] to SID constant
  ext/session/session.c
  ext/session/tests/015.phpt
  ext/session/tests/bug72940.phpt
  ext/session/tests/deprecations.phpt
Labels: Extension: session

#19567 ext/reflection: Align return types and values
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#19581 uri: Mark local pointers as `const` in URI parser implementations
  ext/uri/uri_parser_rfc3986.c
  ext/uri/uri_parser_whatwg.c
Labels: Extension: uri

#19554 uri: Properly prefix symbols in uri_parser_*.[ch]
  NEWS
  ext/uri/php_uri.c
  ext/uri/php_uri_common.h
  ext/uri/uri_parser_rfc3986.c
  ext/uri/uri_parser_rfc3986.h
  ext/uri/uri_parser_whatwg.c
  ext/uri/uri_parser_whatwg.h
Labels: Extension: uri

#18896 [RFC] FILTER_THROW_ON_FAILURE
  ext/filter/callback_filter.c
  ext/filter/filter.c
  ext/filter/filter.stub.php
  ext/filter/filter_arginfo.h
  ext/filter/filter_private.h
  ext/filter/logical_filters.c
  ext/filter/php_filter.h
  ext/filter/sanitizing_filters.c
  ext/filter/tests/throw-on-failure/filter_input_array_failure.phpt
  ext/filter/tests/throw-on-failure/filter_input_failure.phpt
  ext/filter/tests/throw-on-failure/filter_success.phpt
  ext/filter/tests/throw-on-failure/filter_var_array_failure.phpt
  ext/filter/tests/throw-on-failure/filter_var_failure.phpt
  ext/filter/tests/throw-on-failure/throw-and-null-error.phpt
Labels: RFC, Extension: filter, ABI break

#19592 uri: Stop touching the `lxb_url_parser_t.idna` field
  ext/uri/uri_parser_whatwg.c
Labels: Extension: uri

#19591 uri: Fix lexbor memory management in uri_parser_whatwg.c
  ext/uri/php_uri.c
  ext/uri/tests/056.phpt
  ext/uri/uri_parser_whatwg.c
  ext/uri/uri_parser_whatwg.h
Labels: Extension: uri

#19611 ext/standard: Fix GH-19610 (Deprecation warnings in functions taking as argument)
  NEWS
  Zend/zend_compile.c
  ext/standard/tests/http/http_response_header_deprecated_parameter.phpt
Labels: Category: Engine, Extension: standard

#19120 Mysqlnd: Removed useless precompiler cond
  ext/mysqlnd/mysqlnd_portability.h
Labels: Extension: mysqlnd, ABI break

#19632 zend_ast: Mark `zend_ast_list_add()` as `ZEND_ATTRIBUTE_NODISCARD`
  Zend/tests/attributes/constants/multiple_constants_error.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  Zend/zend_portability.h
Labels: Category: Engine, ABI break

#19634 Optimizer/zend_dump: Fix printing of the exception table
  Zend/Optimizer/zend_dump.c
  ext/opcache/tests/opt/gh18107_1.phpt
  ext/opcache/tests/opt/gh18107_2.phpt
Labels: Extension: opcache, Category: Optimizer

#19623 uri: Always use `const` pointers when referring to `uri_parser_t`
  ext/filter/logical_filters.c
  ext/openssl/xp_ssl.c
  ext/soap/php_http.c
  ext/standard/ftp_fopen_wrapper.c
  ext/standard/http_fopen_wrapper.c
  ext/uri/php_uri.c
  ext/uri/php_uri.h
  ext/zend_test/test.c
  main/streams/php_stream_context.h
  main/streams/streams.c
Labels: Extension: openssl, Extension: filter, Extension: soap, Extension: standard, Extension: zend_test, ABI break, Extension: uri

#19642 Use RETURN_EMPTY_ARRAY() on empty glob returns
  ext/standard/dir.c
Labels: Extension: standard

#19646 uri: Retrieve “raw” representation for `->getPort()`
  ext/uri/php_uri.c
Labels: Extension: uri

#19619 opcache: Improve error messages when “temporarily enabling OPcache”
  ext/opcache/tests/opcache_enable_noop_001.phpt
  ext/opcache/tests/opcache_enable_noop_002.phpt
  ext/opcache/zend_accelerator_module.c
  sapi/fpm/tests/opcache_enable_admin_value.phpt
Labels: SAPI: fpm, Extension: opcache

#19650 Remove include "sanity check" to get better error
  Zend/tests/require_directory.phpt
  Zend/tests/require_directory_windows.phpt
  ext/standard/tests/file/bug35740.phpt
  main/streams/plain_wrapper.c
Labels: Extension: standard
