Repository php/php-src, pull requests merged in 2025-01, with the labels that each got.

#17311 ext/sockets: conversions internal changes.
  ext/sockets/conversions.c
Labels: Extension: sockets

#17302 ext/pdo: Drop redundant mode check, and fix the first check
  ext/pdo/pdo_stmt.c
Labels: Extension: pdo (core)

#17290 ext/pdo: Use memcpy instead of strlcpy for copying default error code
  ext/pdo/php_pdo_error.h
Labels: Extension: pdo (core), ABI break

#17325 ext/pdo: Improve testing for FETCH_FUNC mode
  ext/pdo/tests/pdo_011.phpt
  ext/pdo/tests/pdo_fetch_func_001.phpt
  ext/pdo/tests/pdo_fetch_function_basic.phpt
  ext/pdo/tests/pdo_fetch_function_incorrect_call.phpt
  ext/pdo/tests/pdo_fetch_function_incorrect_callables.phpt
  ext/pdo/tests/pdo_fetch_function_overload_statement_class.phpt
  ext/pdo/tests/pdo_fetch_function_with_grouping.phpt
  ext/pdo/tests/pdo_fetch_function_with_unique.phpt
  ext/pdo/tests/pdo_fetch_function_with_unique_and_grouping.phpt
  ext/pdo/tests/pdo_test.inc
  ext/pdo_sqlite/tests/pdo_fetch_func_001.phpt
Labels: Extension: pdo (core), Extension: pdo_sqlite

#17328 Use zend_new_pair() for hrtime()
  ext/standard/hrtime.c
Labels: Extension: standard

#17320 Port fix for libgd bug 447
  ext/gd/libgd/gd_bmp.c
Labels: Extension: gd

#17340 Minor cleanups in namednodemap.c
  ext/dom/namednodemap.c
  ext/dom/php_dom.h
Labels: Extension: dom

#17341 Port clip_1d() clipping rectangle improvement of libgd 2.0.26
  ext/gd/libgd/gd.c
Labels: Extension: gd

#17342 Port insertion sort improvement of libgd 2.0.26
  ext/gd/libgd/gd.c
Labels: Extension: gd

#17353 Fix persistent local flag on filename zend_strings in phar
  ext/phar/phar.c
  ext/phar/tar.c
Labels: Extension: phar

#17354 Avoid copying request strings in phar_parse_pharfile()
  ext/phar/phar.c
Labels: Extension: phar

#17357 Convert more commonly used DOM element methods to use fast ZPP
  ext/dom/element.c
Labels: Extension: dom

#17358 Cleanup iterator instantiation code
  ext/dom/documenttype.c
  ext/dom/element.c
  ext/dom/node.c
  ext/dom/parentnode/css_selectors.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/xpath.c
Labels: Extension: dom

#17359 Fix wrong comment and use cheaper destruction macro
  ext/standard/user_filters.c
Labels: Extension: standard

#17361 Port "move pixelate filter to gd_filter.c" (sync with upstream)
  ext/gd/config.m4
  ext/gd/config.w32
  ext/gd/libgd/gd_filter.c
  ext/gd/libgd/gd_pixelate.c
Labels: Category: Build System, Extension: gd

#17306 Add support for using final properties in stubs
  Zend/tests/type_declarations/typed_properties_095.phpt
  build/gen_stub.php
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Extension: zend_test

#17308 Test stream_context_tcp_nodelay_server on Windows
  .github/scripts/windows/test_task.bat
  ext/standard/tests/streams/stream_context_tcp_nodelay_server.phpt
Labels: Extension: standard

#17367 Port "merged and expanded settings from gd.h and gdft.c"
  ext/gd/libgd/gd.h
  ext/gd/libgd/gdft.c
Labels: Extension: gd

#16937 RFC: Add `CurlSharePersistentHandle` objects
  NEWS
  UPGRADING
  Zend/Optimizer/zend_func_infos.h
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/curl_private.h
  ext/curl/interface.c
  ext/curl/php_curl.h
  ext/curl/share.c
  ext/curl/tests/curl_persistent_share_001.phpt
  ext/curl/tests/curl_persistent_share_002.phpt
  ext/curl/tests/curl_persistent_share_003.phpt
  ext/curl/tests/curl_persistent_share_004.phpt
  ext/curl/tests/curl_persistent_share_005.phpt
  ext/curl/tests/curl_persistent_share_006.phpt
  ext/curl/tests/skipif-nocaddy.inc
Labels: RFC, Extension: curl, Extension: standard, Category: Optimizer, ABI break

#17356 Port "improve _gdImageFillTiled() internal function"
  ext/gd/libgd/gd.c
Labels: Extension: gd

#17372 zend_closures.c: Call closure directly
  Zend/zend_closures.c
Labels: Category: Engine

#17392 Use zend_object_alloc() in ext/intl
  ext/intl/calendar/calendar_class.cpp
  ext/intl/common/common_enum.cpp
  ext/intl/timezone/timezone_class.cpp
Labels: Extension: intl

#17390 Add assertions verifying that zend_ast_decl AST nodes are not treated as regular zend_ast nodes
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
Labels: Category: Engine, Extension: opcache, ABI break

#17391 Add dedicated `zend_ast_op_array` struct
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
  main/debug_gdb_scripts.c
  scripts/gdb/php_gdb.py
Labels: Category: Build System, Category: Engine, Extension: opcache, ABI break

#17369 ext/ldap: Use FCC for rebind_proc callback
  ext/ldap/ldap.c
  ext/ldap/tests/ldap_set_rebind_proc_basic.phpt
  ext/ldap/tests/ldap_set_rebind_proc_error.phpt
  ext/ldap/tests/ldap_set_rebind_proc_trampoline.phpt
Labels: Extension: ldap

#17393 Add enchant_dict_remove_from_session()
  NEWS
  UPGRADING
  ext/enchant/enchant.c
  ext/enchant/enchant.stub.php
  ext/enchant/enchant_arginfo.h
  ext/enchant/tests/dict_remove_from_session.phpt
  ext/enchant/tests/null_bytes.phpt
Labels: Extension: enchant

#17418 ext/ldap: Fix FCC is initialized condition
  ext/ldap/ldap.c
Labels: Extension: ldap

#16948 Update OpenBSD glob implementation for Windows
  win32/charclass.h
  win32/glob.c
  win32/glob.h
Labels: Category: Build System, ABI break

#17425 ext/pdo: Add a test for PDO::FETCH_FUNC with a return by-ref callback
  ext/pdo/tests/pdo_fetch_function_return_by_ref.phpt
Labels: Extension: pdo (core)

#17456 Resolve -Wincompatible-pointer-types warnings
  ext/com_dotnet/com_com.c
  ext/com_dotnet/com_dotnet.c
  ext/com_dotnet/com_persist.c
  ext/com_dotnet/com_variant.c
  ext/opcache/shared_alloc_win32.c
  sapi/phpdbg/phpdbg_win.c
Labels: Extension: com_dotnet, Extension: opcache, SAPI: phpdbg

#17452 Fix printf style issues in Windows specific code
  Zend/zend_extensions.c
  ext/opcache/jit/zend_jit.c
  ext/opcache/shared_alloc_win32.c
  ext/standard/dl.c
  ext/standard/info.c
  ext/standard/link.c
  main/main.c
  main/php_ini.c
  win32/codepage.c
  win32/winutil.c
Labels: Category: Engine, Extension: opcache, Extension: standard

#17453 Fix `-Wpointer-type-mismatch` warning
  ext/ffi/ffi.c
Labels: Extension: ffi

#17460 ext/json: Refactor php_json_encode_serializable_object() to call method directly
  UPGRADING.INTERNALS
  ext/json/json_encoder.c
Labels: Extension: json

#17472 Use built-ins for addition and subtraction on Windows
  Zend/zend_config.w32.h
  Zend/zend_operators.h
  ext/pdo_firebird/php_pdo_firebird_int.h
  win32/build/config.w32
  win32/build/confutils.js
Labels: Category: Build System, Category: Engine, Extension: pdo_firebird, ABI break

#17432 ext/soap: Don't call readfile() userland function
  ext/soap/soap.c
  ext/soap/tests/SoapServer/handle_non_existing_WSDL_from_get_query.phpt
  ext/soap/tests/SoapServer/handle_non_existing_WSDL_from_get_query_disable_readfile.phpt
Labels: Extension: soap

#17479 main: Voidify php_startup_ticks()
  main/php_ticks.c
  main/php_ticks.h
Labels: ABI break

#17478 ext/pdo_odbc: Do not populate message if there is no driver error
  ext/pdo/tests/bug_38253.phpt
  ext/pdo_odbc/odbc_driver.c
Labels: Extension: pdo (core), Extension: pdo_odbc

#17477 Simplify ZEND_SIGNED_MULTIPLY_LONG() on Windows
  Zend/zend_multiply.h
  win32/build/config.w32
Labels: Category: Build System, Category: Engine, ABI break

#17482 Replace __forceinline with zend_always_inline in win32/
  win32/codepage.c
  win32/codepage.h
  win32/ioutil.h
Labels: ABI break

#17437 zend_hrtime: Fix build for macOS without `clock_gettime_nsec_np()`
  Zend/zend_hrtime.h
Labels: Category: Engine, ABI break

#17455 Drop superfluous enum forward declaration
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

#17457 Define PHP_HAVE_BUILTIN_EXPECT for Clang on Windows
  win32/build/config.w32
Labels: Category: Build System

#17454 Drop useless and not quite correct cast
  ext/standard/dns_win32.c
Labels: Extension: standard

#17475 Fix Clang sanitizers on Windows
  win32/build/confutils.js
Labels: Category: Build System

#17508 win32: switch handful of memmove over memcpy.
  win32/ioutil.c
  win32/ioutil.h
Labels: ABI break

#16080 Remove unused headers from link.c
  ext/standard/link.c
Labels: Extension: standard

#17487 ext/intl: Call DateTimeInterface::getTimestamp() directly
  ext/intl/common/common_date.cpp
  ext/intl/common/common_date.h
  ext/intl/dateformat/dateformat_format_object.cpp
  ext/intl/tests/dateformat_formatObject_error.phpt
Labels: Extension: intl

#17513 Ensure charset in tests
  ext/mysqli/tests/functions/mysqli_character_set_name.phpt
  ext/mysqli/tests/functions/mysqli_character_set_name_oo.phpt
Labels: Extension: mysqli

#17514 Improve bug74021 test
  ext/mysqli/tests/bug74021.phpt
Labels: Extension: mysqli

#17515 Improve mysqli_thread_id test
  ext/mysqli/tests/mysqli_stmt_get_result.phpt
  ext/mysqli/tests/mysqli_thread_id.phpt
Labels: Extension: mysqli

#17526 ext/pdo: Rename and add tests for PDO::FETCH_CLASS fetch mode
  ext/pdo/tests/pdo_fetch_class_basic.phpt
  ext/pdo/tests/pdo_fetch_class_by_ref_constructor.phpt
  ext/pdo/tests/pdo_fetch_class_ctor_with_named_arguments.phpt
  ext/pdo/tests/pdo_fetch_class_ctor_with_named_arguments_positional_after_named.phpt
  ext/pdo/tests/pdo_fetch_class_private_constructor.phpt
  ext/pdo/tests/pdo_fetch_class_with_classtype_flag.phpt
  ext/pdo/tests/pdo_fetch_class_with_serialize_flag.phpt
  ext/pdo/tests/pdo_stmt_class_ctor_errors.phpt
  ext/pdo/tests/pdo_stmt_class_ctor_errors_cannot_find_class.phpt
Labels: Extension: pdo (core)

#17528 ext/pdo: Throw an exception instead of fatal error if the class is not found
  ext/pdo/pdo_stmt.c
  ext/pdo/tests/pdo_stmt_class_ctor_errors_cannot_find_class.phpt
Labels: Extension: pdo (core)

#17521 Fix Clang builds regarding undefined function call
  Zend/zend_call_stack.h
Labels: Category: Engine, ABI break

#17530 zend_ini: Implement `zend_ini_string*()` in terms of `zend_ini_str*()`
  Zend/zend_ini.c
Labels: Category: Engine

#17536 array_find: Remove unnecessary refcounting
  ext/standard/array.c
Labels: Extension: standard

#17538 array_filter: Remove unnecessary refcounting
  ext/standard/array.c
Labels: Extension: standard

#17535 Remove always-true check in pdo_stmt.c
  ext/pdo/pdo_stmt.c
Labels: Extension: pdo (core)

#17506 Address more Clang warnings
  ext/com_dotnet/com_handlers.c
  ext/ffi/ffi.c
  ext/gd/libgd/gd_interpolation.c
  ext/libxml/libxml.c
  ext/mysqlnd/mysqlnd_auth.c
  ext/mysqlnd/mysqlnd_connection.c
  ext/openssl/xp_ssl.c
  ext/standard/streamsfuncs.c
  main/php_network.h
  win32/registry.c
  win32/wsyslog.c
Labels: Extension: openssl, Extension: com_dotnet, Extension: ffi, Extension: gd, Extension: libxml, Extension: mysqlnd, Extension: standard, ABI break

#17544 ext/pdo_firebird: Add LSAN suppression for isc_attach_database()
  .github/lsan-suppressions.txt
  ext/pdo_firebird/tests/attr_datetime_format.phpt
  ext/pdo_firebird/tests/autocommit.phpt
  ext/pdo_firebird/tests/autocommit_change_mode.phpt
  ext/pdo_firebird/tests/bug_15604.phpt
  ext/pdo_firebird/tests/bug_47415.phpt
  ext/pdo_firebird/tests/bug_48877.phpt
  ext/pdo_firebird/tests/bug_53280.phpt
  ext/pdo_firebird/tests/bug_62024.phpt
  ext/pdo_firebird/tests/bug_64037.phpt
  ext/pdo_firebird/tests/bug_72583.phpt
  ext/pdo_firebird/tests/bug_72931.phpt
  ext/pdo_firebird/tests/bug_73087.phpt
  ext/pdo_firebird/tests/bug_74462.phpt
  ext/pdo_firebird/tests/bug_76448.phpt
  ext/pdo_firebird/tests/bug_76449.phpt
  ext/pdo_firebird/tests/bug_76450.phpt
  ext/pdo_firebird/tests/bug_76452.phpt
  ext/pdo_firebird/tests/bug_76488.phpt
  ext/pdo_firebird/tests/bug_77863.phpt
  ext/pdo_firebird/tests/bug_80521.phpt
  ext/pdo_firebird/tests/bug_aaa.phpt
  ext/pdo_firebird/tests/common.phpt
  ext/pdo_firebird/tests/connect.phpt
  ext/pdo_firebird/tests/ddl.phpt
  ext/pdo_firebird/tests/ddl2.phpt
  ext/pdo_firebird/tests/dialect_1.phpt
  ext/pdo_firebird/tests/error_handle.phpt
  ext/pdo_firebird/tests/execute.phpt
  ext/pdo_firebird/tests/execute_block.phpt
  ext/pdo_firebird/tests/fb4_datatypes.phpt
  ext/pdo_firebird/tests/fb4_datatypes_params.phpt
  ext/pdo_firebird/tests/get_api_version.phpt
  ext/pdo_firebird/tests/gh10908.phpt
  ext/pdo_firebird/tests/gh13119.phpt
  ext/pdo_firebird/tests/gh8576.phpt
  ext/pdo_firebird/tests/ignore_parammarks.phpt
  ext/pdo_firebird/tests/payload_test.phpt
  ext/pdo_firebird/tests/pdofirebird_001.phpt
  ext/pdo_firebird/tests/pdofirebird_002.phpt
  ext/pdo_firebird/tests/persistent_connect.phpt
  ext/pdo_firebird/tests/rowCount.phpt
  ext/pdo_firebird/tests/setCursorAttribute.phpt
  ext/pdo_firebird/tests/transaction_access_mode.phpt
  ext/pdo_firebird/tests/transaction_isolation_level_attr.phpt
  ext/pdo_firebird/tests/transaction_isolation_level_behavior.phpt
Labels: Extension: pdo_firebird

#15492 Zend: Make Closure covariant to callable
  UPGRADING
  Zend/tests/type_declarations/callable/callable_001.phpt
  Zend/tests/type_declarations/callable/callable_002.phpt
  Zend/tests/type_declarations/callable/callable_003.phpt
  Zend/tests/type_declarations/callable/callable_variance_closure.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#17525 ext/pdo: Convert FETCH_INTO zval to a zend_object pointer
  ext/pdo/pdo_stmt.c
  ext/pdo/php_pdo_driver.h
Labels: Extension: pdo (core), ABI break

#17309 Overhaul GD test helpers and affected tests
  ext/gd/tests/avif_decode_encode.phpt
  ext/gd/tests/bug43475.phpt
  ext/gd/tests/bug43475.png
  ext/gd/tests/bug52070.phpt
  ext/gd/tests/bug52070.png
  ext/gd/tests/bug64641.phpt
  ext/gd/tests/bug72913.phpt
  ext/gd/tests/bug72913.png
  ext/gd/tests/func.inc
  ext/gd/tests/gd276.phpt
  ext/gd/tests/imagebmp_basic.phpt
  ext/gd/tests/imagebmp_basic.png
  ext/gd/tests/imagecolorset_basic.phpt
  ext/gd/tests/imagecolorset_basic.png
  ext/gd/tests/imagecreatefromstring_bmp.phpt
  ext/gd/tests/imagecreatefromstring_bmp.png
  ext/gd/tests/imagegammacorrect_variation1.phpt
  ext/gd/tests/imagegammacorrect_variation1.png
  ext/gd/tests/imagegammacorrect_variation2.phpt
  ext/gd/tests/imagetruecolortopalette_basic.phpt
  ext/gd/tests/imagetruecolortopalette_basic.png
  ext/gd/tests/similarity.inc
  ext/gd/tests/test_image_equals_file_palette.phpt
  ext/gd/tests/webp_basic.phpt
Labels: Extension: gd

#17553 Remove useless compiler options
  win32/build/confutils.js
Labels: Category: Build System

#17573 Remove unused variable
  Zend/zend_call_stack.c
Labels: Category: Engine

#17532 Drop misleading comments about undefined behavior
  Zend/zend_bitset.h
Labels: Category: Engine, ABI break

#17592 Fix `#[\Deprecated]` for `__call()` and `__callStatic()`
  NEWS
  Zend/tests/attributes/deprecated/functions/magic_call.phpt
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
Labels: Category: Engine, ABI break

#17586 Fix crash in PDO_ODBC statement dtor
  ext/pdo_odbc/odbc_stmt.c
Labels: Extension: pdo_odbc

#17596 Drop NetWare support from bundled libgd
  ext/gd/libgd/gdft.c
Labels: Extension: gd

#17603 Drop superfluous php_com_dotnet_object.ce
  ext/com_dotnet/com_handlers.c
  ext/com_dotnet/com_misc.c
  ext/com_dotnet/php_com_dotnet_internal.h
Labels: Extension: com_dotnet

#16086 Run curl_setopt_ssl.phpt on Windows
  ext/curl/tests/curl_setopt_ssl.phpt
Labels: Extension: openssl, Extension: curl

#17613 Fix callable variance check
  Zend/tests/type_declarations/callable/callable_004.phpt
  Zend/zend_inheritance.c
Labels: Category: Engine

#17608 zend_object_handlers: Use `zend_array_release()` in `zend_release_properties()` and `zend_free_trampoline()`
  Zend/zend_object_handlers.h
Labels: Category: Engine, ABI break

#17567 Introduce php_pdo_stmt_valid_db_obj_handle()
  UPGRADING.INTERNALS
  ext/pdo/pdo_dbh.c
  ext/pdo/php_pdo_driver.h
  ext/pdo_firebird/firebird_statement.c
  ext/pdo_mysql/mysql_statement.c
  ext/pdo_odbc/odbc_stmt.c
  ext/pdo_pgsql/pgsql_statement.c
Labels: Extension: pdo (core), Extension: pdo_firebird, Extension: pdo_mysql, Extension: pdo_odbc, Extension: pdo_pgsql, ABI break

#17056 RFC: Error Backtraces v2
  NEWS
  UPGRADING
  Zend/tests/fatal_error_backtraces_001.phpt
  Zend/tests/fatal_error_backtraces_002.phpt
  Zend/tests/fatal_error_backtraces_003.phpt
  Zend/tests/new_oom.phpt
  Zend/zend.c
  Zend/zend_exceptions.c
  Zend/zend_execute_API.c
  Zend/zend_globals.h
  ext/opcache/tests/gh8846.phpt
  ext/standard/basic_functions.c
  ext/standard/tests/general_functions/error_get_last_002.phpt
  main/main.c
  run-tests.php
Labels: RFC, Category: Engine, Extension: date, Extension: opcache, Extension: pcre, Extension: session, Extension: spl, Extension: standard, Extension: tokenizer, Extension: xml, SAPI: phpdbg, ABI break

#17606 ext/pdo: Fix zend_object std layout for _pdo_row_t
  ext/pdo/pdo_stmt.c
  ext/pdo/php_pdo_driver.h
Labels: Extension: pdo (core), ABI break

#17611 Fix snmp_session_error.phpt for 32bit machines
  ext/snmp/tests/snmp_session_error.phpt
Labels: Extension: snmp

#17622 ext/pdo: Remove refcount field from _pdo_stmt_t
  ext/pdo/php_pdo_driver.h
Labels: Extension: pdo (core), ABI break

#17621 ext/pdo: Use zend_object_alloc() for allocating PDORows
  ext/pdo/pdo_stmt.c
Labels: Extension: pdo (core)

#17227 GDB script improvements
  main/debug_gdb_scripts.c
  scripts/gdb/debug_gdb_scripts_gen.php
  scripts/gdb/php_gdb.py
Labels: Category: Build System

#17628 Fix potential read of uninitialized padding data in DOM
  ext/dom/html_document.c
  ext/dom/tests/modern/html/encoding/HTMLDocument_encoding_edge_case_08.phpt
Labels: Extension: dom

#17634 Add workflow to trigger windows builds
  .github/workflows/windows-builds.yml
Labels: OS: Windows, Category: CI

#17629 ext/pdo: Convert database_object_handle zval to zend_object*
  ext/pdo/pdo_dbh.c
  ext/pdo/pdo_stmt.c
  ext/pdo/php_pdo_driver.h
  ext/pdo_pgsql/pgsql_driver.c
  ext/pdo_pgsql/pgsql_statement.c
  ext/pdo_pgsql/php_pdo_pgsql_int.h
Labels: Extension: pdo (core), Extension: pdo_pgsql, ABI break

#17619 zend_execute: Suppress values in `UnhandledMatchError` for `zend.exception_ignore_args=1`
  NEWS
  Zend/tests/match/049.phpt
  Zend/zend_execute.c
Labels: Category: Engine

#17601 zend_execute: Fix misleading `UnhandledMatchError` messages when `exception_string_param_max_len=0`
  NEWS
  Zend/tests/match/048.phpt
  Zend/zend_execute.c
Labels: Category: Engine

#17291 Use ZEND_FCI_INITIALIZED() macro to check if an FCI is initialized
  Zend/zend_execute_API.c
Labels: Category: Engine, Extension: pdo (core)

#17639 Fix use-of-uninitialized-value of EG(last_fatal_error_backtrace) with ZTS
  Zend/zend.c
Labels: Category: Engine
