Repository php/php-src, pull requests merged in 2025-04, with the labels that each got.

#17599 RFC: Marking return values as important (#[\NoDiscard])
  NEWS
  UPGRADING
  Zend/Optimizer/optimize_func_calls.c
  Zend/tests/attributes/nodiscard/001.phpt
  Zend/tests/attributes/nodiscard/002.phpt
  Zend/tests/attributes/nodiscard/003.phpt
  Zend/tests/attributes/nodiscard/005.phpt
  Zend/tests/attributes/nodiscard/006.phpt
  Zend/tests/attributes/nodiscard/007.phpt
  Zend/tests/attributes/nodiscard/008.phpt
  Zend/tests/attributes/nodiscard/009.phpt
  Zend/tests/attributes/nodiscard/010.phpt
  Zend/tests/attributes/nodiscard/error_code_001.phpt
  Zend/tests/attributes/nodiscard/property_readonly_001.phpt
  Zend/tests/attributes/nodiscard/property_readonly_002.phpt
  Zend/tests/attributes/nodiscard/suppress_assign.phpt
  Zend/tests/attributes/nodiscard/suppress_cast.phpt
  Zend/tests/attributes/nodiscard/throwing_error_handler_001.phpt
  Zend/tests/attributes/nodiscard/type_validation_001.phpt
  Zend/tests/attributes/nodiscard/type_validation_002.phpt
  Zend/tests/attributes/nodiscard/type_validation_003.phpt
  Zend/tests/attributes/nodiscard/type_validation_004.phpt
  Zend/tests/attributes/nodiscard/unsupported_clone.phpt
  Zend/tests/attributes/nodiscard/unsupported_constructor.phpt
  Zend/tests/attributes/nodiscard/unsupported_never_function.phpt
  Zend/tests/attributes/nodiscard/unsupported_property_hook_get.phpt
  Zend/tests/attributes/nodiscard/unsupported_property_hook_set.phpt
  Zend/tests/attributes/nodiscard/unsupported_void_function.phpt
  Zend/zend_API.c
  Zend/zend_attributes.c
  Zend/zend_attributes.h
  Zend/zend_attributes.stub.php
  Zend/zend_attributes_arginfo.h
  Zend/zend_compile.c
  Zend/zend_compile.h
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_object_handlers.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  build/gen_stub.php
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/file/userstreams_004.phpt
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: RFC, Category: Build System, Category: Engine, Extension: date, Extension: opcache, Extension: standard, Extension: tokenizer, Extension: zend_test, Category: Optimizer, ABI break

#18229 zend_execute: Remove useless refcounting in `get_deprecation_suffix_from_attribute()`
  Zend/zend_execute.c
Labels: Category: Engine

#18226 replace match statements with if statements in gdb debug script
  main/debug_gdb_scripts.c
  scripts/gdb/php_gdb.py
Labels: Category: Build System

#18227 Simplify curl gc handlers
  ext/curl/interface.c
  ext/curl/multi.c
Labels: Extension: curl

#18197 ext/fileinfo: Various refactorings
  UPGRADING
  ext/fileinfo/fileinfo.c
  ext/fileinfo/tests/finfo_file_001.phpt
  ext/fileinfo/tests/finfo_file_basic.phpt
Labels: Extension: fileinfo

#18239 Avoid allocation in zend_enum_get_case_cstr()
  Zend/zend_enum.c
Labels: Category: Engine

#18246 mysqlnd: Make `st_mysqlnd_stats.values` a dynamic struct member
  ext/mysqlnd/mysqlnd_statistics.c
  ext/mysqlnd/mysqlnd_structs.h
Labels: Extension: mysqlnd, ABI break

#18256 Zend: Add MUTABLE zend_type foreach macros and const qualifiers
  Zend/Optimizer/compact_literals.c
  Zend/Optimizer/dfa_pass.c
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_inheritance.c
  Zend/zend_opcode.c
  Zend/zend_types.h
  ext/opcache/ZendAccelerator.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
  ext/reflection/php_reflection.c
Labels: Category: Engine, Extension: opcache, Extension: reflection, Category: Optimizer, ABI break

#18258 Remove cache slot from ZEND_VERIFY_RETURN_TYPE and arg RECV opcodes
  UPGRADING.INTERNALS
  Zend/Optimizer/compact_literals.c
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_opcodes.c
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/jit/zend_jit_ir.c
Labels: Category: Engine, Extension: opcache, Category: Optimizer, ABI break

#18269 Fixed GH-18267 finfo_file() crashing on invalid URL protocol.
  ext/fileinfo/fileinfo.c
  ext/fileinfo/tests/gh18267.phpt
Labels: Extension: fileinfo

#18007 ext/intl: Add `NumberFormatter::CURRENCY_ISO`, `PLURAL`, `STANDARD` and `CASH_CURRENCY`
  ext/intl/formatter/formatter.stub.php
  ext/intl/formatter/formatter_arginfo.h
  ext/intl/tests/formatter/currencies.phpt
Labels: Extension: intl

#18284 ext/bcmath: Use `const` qualifiers appropriately
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/compare.c
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/doaddsub.c
Labels: Extension: bcmath

#18264 Implement GH-18261: Allow cast to be used in constant expressions
  NEWS
  UPGRADING
  Zend/tests/constexpr/constant_expressions_cast.phpt
  Zend/tests/constexpr/constant_expressions_cast_object_property.phpt
  Zend/zend_ast.c
  Zend/zend_compile.c
  Zend/zend_execute.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine, ABI break

#18314 Fix GlobIterator without constructor breaks count()
  ext/spl/spl_directory.c
  ext/spl/tests/GlobIterator_constructor_count.phpt
Labels: Extension: spl

#18327 Fix GH-18108 gen_stub: Using $this when not in object context
  build/gen_stub.php
Labels: Category: Build System

#18273 Avoid useless initializations of fci/fcc in array functions
  ext/standard/array.c
Labels: Extension: standard

#18338 Fix use of magic const within const expr cast
  Zend/tests/oss_fuzz_410939023.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#17905 Implement GH-17321: Add setAuthorizer to Pdo\Sqlite
  NEWS
  UPGRADING
  ext/pdo_sqlite/pdo_sqlite.c
  ext/pdo_sqlite/pdo_sqlite.stub.php
  ext/pdo_sqlite/pdo_sqlite_arginfo.h
  ext/pdo_sqlite/php_pdo_sqlite_int.h
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/subclasses/pdosqlite_setauthorizer.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_setauthorizer_trampoline.phpt
  ext/pdo_sqlite/tests/subclasses/pdosqlite_setauthorizer_trampoline_no_leak.phpt
Labels: Extension: pdo_sqlite

#18265 Fix few build warnings.
  ext/standard/exec.c
  ext/standard/mail.c
  sapi/litespeed/lsapi_main.c
  sapi/litespeed/lscriu.c
Labels: Extension: standard, SAPI: litespeed

#18023 Drop unused variables
  ext/mysqlnd/mysqlnd_auth.c
  ext/mysqlnd/mysqlnd_commands.c
  ext/mysqlnd/mysqlnd_connection.c
  ext/mysqlnd/mysqlnd_structs.h
Labels: Extension: mysqlnd, ABI break

#18283 ext/gd: imagefilter* using overflow checks.
  ext/gd/gd.c
Labels: Extension: gd

#18355 Minor improvements to DOM XPath
  ext/dom/xpath.c
Labels: Extension: dom

#18360 Cleanup in intl/idn
  ext/intl/idn/idn.c
Labels: Extension: intl

#18359 Use pre-allocated array sizes and packed where possible in intl
  ext/intl/collator/collator_sort.c
  ext/intl/converter/converter.c
  ext/intl/msgformat/msgformat_parse.c
  ext/intl/resourcebundle/resourcebundle.c
Labels: Extension: intl

#18366 ext/gd: array supplied to user optimisations.
  ext/gd/gd.c
Labels: Extension: gd

#18367 ext/sockets: using array optimisations.
  ext/sockets/conversions.c
  ext/sockets/sockets.c
Labels: Extension: sockets

#18370 ext/posix: preallocate arrays and/or change to packed ones.
  ext/posix/posix.c
Labels: Extension: posix

#18369 ext/pcntl: pcntl_sigprocmask/pcntl_getcpuaffinity to packed arrays.
  ext/pcntl/pcntl.c
Labels: Extension: pcntl

#18374 ext/pgsql: pg_fetch_all_columns/pg_copy_to arrays optimisations.
  ext/pgsql/pgsql.c
Labels: Extension: pgsql

#18375 ext/tidy: array optimisations, children node arrays as packed.
  ext/tidy/tidy.c
Labels: Extension: tidy

#18385 ext/sqlite3: querySingle amd fetchArray methods optimisations.
  ext/sqlite3/sqlite3.c
Labels: Extension: sqlite3

#18389 ext/curl: curl_getinfo, curl_multi_get_handles and curl_multi_setopt …
  ext/curl/interface.c
  ext/curl/multi.c
Labels: Extension: curl

#18379 2 minor machine code bloat reductions in url.c
  ext/standard/url.c
Labels: Extension: standard

#18395 fileinfo: Change return type of `finfo_close()` to `true`
  NEWS
  UPGRADING
  ext/fileinfo/fileinfo.stub.php
  ext/fileinfo/fileinfo_arginfo.h
Labels: Extension: fileinfo

#18397 fileinfo: Fix cleanup in ext/fileinfo/tests/cve-2014-1943-mb.phpt
  ext/fileinfo/tests/cve-2014-1943-mb.phpt
  ext/fileinfo/tests/cve-2014-1943私はガラスを食べられます.data
  ext/fileinfo/tests/cve-2014-1943私はガラスを食べられます.magic
  ext/fileinfo/tests/cve-2014-3538私はガラスを食べられます.data
Labels: Extension: fileinfo

#18365 ext/intl: Locale::* methods using param as path whenever relevant.
  NEWS
  UPGRADING
  ext/intl/locale/locale_methods.c
  ext/intl/tests/locale_filter_matches_icu70.phpt
  ext/intl/tests/locale_get_all_variants.phpt
  ext/intl/tests/locale_get_display_language4.phpt
  ext/intl/tests/locale_get_display_script4.phpt
  ext/intl/tests/locale_get_region.phpt
  ext/intl/tests/locale_get_script.phpt
  ext/intl/tests/locale_is_right_to_left.phpt
  ext/intl/tests/locale_lookup_variant3.phpt
  ext/intl/tests/locale_set_default.phpt
Labels: Extension: intl

#18398 fileinfo: Remove `php_fileinfo` struct
  ext/fileinfo/fileinfo.c
  ext/fileinfo/tests/finfo_uninitialized.phpt
Labels: Extension: fileinfo

#18399 fileinfo: Show libmagic version with `.` in PHPInfo output
  ext/fileinfo/fileinfo.c
Labels: Extension: fileinfo

#18405 fileinfo: Stop calling `finfo_close()` in tests
  ext/fileinfo/tests/bug79756.phpt
  ext/fileinfo/tests/cve-2014-1943-mb.phpt
  ext/fileinfo/tests/cve-2014-1943.phpt
  ext/fileinfo/tests/cve-2014-3538-mb.phpt
  ext/fileinfo/tests/cve-2014-3538-nojit.phpt
  ext/fileinfo/tests/cve-2014-3538.phpt
  ext/fileinfo/tests/finfo_buffer_basic-mb.phpt
  ext/fileinfo/tests/finfo_buffer_basic.phpt
  ext/fileinfo/tests/finfo_set_flags_basic-mb.phpt
  ext/fileinfo/tests/finfo_set_flags_basic.phpt
  ext/fileinfo/tests/finfo_upstream.phpt
Labels: Extension: fileinfo

#18342 Update release process
  docs/release-process.md
Labels: Category: Documentation

#18414 Removed `<mmintrin.h>`
  Zend/zend_hash.c
  Zend/zend_types.h
Labels: Category: Engine, ABI break

#18425 random: Mark `mt_getrandmax()` as `@compile-time-eval`
  ext/random/random.stub.php
  ext/random/random_arginfo.h
Labels: Extension: random

#18433 Remove always-false intern checks
  ext/snmp/snmp.c
  ext/zip/php_zip.c
Labels: Extension: snmp, Extension: zip

#18439 Fix reference handling in cancel callback
  ext/zip/php_zip.c
  ext/zip/tests/gh18439.phpt
Labels: Extension: zip

#18087 Add grapheme_levenshtein function.
  NEWS
  UPGRADING
  ext/intl/grapheme/grapheme_string.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/grapheme_levenshtein.phpt
Labels: RFC, Extension: intl

#18453 Fix merge error
  ext/opcache/jit/zend_jit_trace.c
Labels: Extension: opcache

#18423 Optimize `match(true)`
  UPGRADING
  Zend/Optimizer/block_pass.c
  ext/opcache/tests/match/005.phpt
  ext/opcache/tests/opt/block_pass_007.phpt
Labels: Extension: opcache, Category: Optimizer

#18451 Use reverse-unwinding goto-style error-handling in grapheme_levenshtein
  ext/intl/grapheme/grapheme_string.c
Labels: Extension: intl

#18099 ext/bcmath: Improving `bcpow()` performance
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/raise.c
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#18457 Fix opcode length of ZEND_DECLARE_ATTRIBUTED_CONST in JIT-IR component
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#18462 zlib: use zend_string_{extend,truncate} over *_realloc
  ext/zlib/zlib.c
Labels: Extension: zlib
