Repository php/php-src, pull requests merged in 2025-09, with the labels that each got.

#19670 Improve accuracy of ext_stmt emits during pipe operations
  Zend/zend_compile.c
Labels: Category: Engine

#19673 Use ull integer suffix for bitwise logic
  sapi/phpdbg/phpdbg_bp.c
Labels: SAPI: phpdbg

#19568 gen_stub: Infer constants' types from values
  Zend/zend_constants.stub.php
  Zend/zend_constants_arginfo.h
  build/gen_stub.php
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/dba/dba.stub.php
  ext/dba/dba_arginfo.h
  ext/dl_test/dl_test.stub.php
  ext/dl_test/dl_test_arginfo.h
  ext/gd/gd.stub.php
  ext/gd/gd_arginfo.h
  ext/mysqli/mysqli.stub.php
  ext/mysqli/mysqli_arginfo.h
  ext/openssl/openssl.stub.php
  ext/openssl/openssl_arginfo.h
  ext/openssl/openssl_pwhash.stub.php
  ext/openssl/openssl_pwhash_arginfo.h
  ext/sodium/sodium_pwhash.stub.php
  ext/sodium/sodium_pwhash_arginfo.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/file.stub.php
  ext/standard/file_arginfo.h
  ext/standard/password.stub.php
  ext/standard/password_arginfo.h
  ext/xsl/php_xsl.stub.php
  ext/xsl/php_xsl_arginfo.h
Labels: Category: Build System, Extension: openssl, Category: Engine, Extension: date, Extension: dba, Extension: gd, Extension: mysqli, Extension: sodium, Extension: standard, Extension: xsl, ABI break

#19690 Fix disabling of InfiniteIterator in fuzzer (oss-fuzz #442870673)
  sapi/fuzzer/fuzzer-sapi.c
Labels: SAPI: fuzzer

#19695 fpm: Improve the error message when FPM is running as root
  sapi/fpm/fpm/fpm_conf.c
  sapi/fpm/tests/proc-user-not-set-when-root.phpt
  sapi/fpm/tests/tester.inc
Labels: SAPI: fpm

#19511 Deprecate using null as an array offset and when calling `array_key_exists()`
  Zend/tests/assign_dim_op_undef.phpt
  Zend/tests/bug72543_2.phpt
  Zend/tests/gc/bug67314.phpt
  Zend/tests/isset/isset_array.phpt
  Zend/tests/list/list_keyed_conversions.phpt
  Zend/tests/nullsafe_operator/013.phpt
  Zend/tests/offset_array.phpt
  Zend/tests/offsets/ArrayObject_container_offset_behaviour.phpt
  Zend/tests/offsets/array_container_offset_behaviour.phpt
  Zend/tests/offsets/false_container_offset_behaviour.phpt
  Zend/tests/offsets/null_container_offset_behaviour.phpt
  Zend/tests/offsets/null_offset_no_uaf.phpt
  Zend/tests/unset_empty_isset_comprehensive.phpt
  Zend/zend_execute.c
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/tests/jit/copy_tmp_001.phpt
  ext/opcache/tests/jit/fetch_dim_r_002.phpt
  ext/spl/spl_array.c
  ext/spl/tests/bug62978.phpt
  ext/spl/tests/bug70852.phpt
  ext/standard/array.c
  ext/standard/tests/array/array_key_exists.phpt
  ext/standard/tests/array/array_key_exists_variation1.phpt
  ext/standard/tests/array/array_key_exists_variation6.phpt
  ext/standard/tests/array/bug20865.phpt
  tests/basic/array_key_exists_null_deprecation.phpt
  tests/basic/array_null_offset_deprecation.phpt
Labels: RFC, Category: Engine, Extension: opcache, Extension: spl, Extension: standard

#19697 GH-19691: Add asymmetric visibility to `Reflection::getModifierNames()`
  NEWS
  ext/reflection/php_reflection.c
  ext/reflection/tests/Reflection_getModifierNames_001.phpt
Labels: Extension: reflection

#19462 Fix GH-19461: Improve error message on listening error with IPv6
  NEWS
  sapi/cli/php_cli_server.c
  sapi/cli/tests/php_cli_server_ipv4_error_message.phpt
  sapi/cli/tests/php_cli_server_ipv6_error_message.phpt
Labels: SAPI: cli

#19718 uri: Show the uriparser runtime version in PHPInfo
  ext/uri/php_uri.c
Labels: Extension: uri

#19045 [RFC] Allow `#[\Deprecated]` on traits
  Zend/tests/attributes/constants/constant_listed_as_target-internal.phpt
  Zend/tests/attributes/delayed_target_validation/validator_Deprecated.phpt
  Zend/tests/attributes/delayed_target_validation/with_Deprecated.phpt
  Zend/tests/attributes/deprecated/error_on_class.phpt
  Zend/tests/attributes/deprecated/error_on_enum.phpt
  Zend/tests/attributes/deprecated/error_on_interface.phpt
  Zend/tests/attributes/deprecated/traits/basic.phpt
  Zend/tests/attributes/deprecated/traits/inheritance.phpt
  Zend/tests/attributes/deprecated/traits/insteadof_unused_warnings.phpt
  Zend/tests/attributes/deprecated/traits/multiple_traits.phpt
  Zend/tests/attributes/deprecated/traits/throwing_error_handler.phpt
  Zend/tests/attributes/deprecated/traits/trait_using_trait.phpt
  Zend/tests/attributes/deprecated/traits/with_conflicts.phpt
  Zend/zend_attributes.c
  Zend/zend_attributes.stub.php
  Zend/zend_attributes_arginfo.h
  Zend/zend_compile.h
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_inheritance.c
Labels: RFC, Category: Engine, ABI break

#19645 uri: Fix handling of empty ports for uri_parser_rfc3986
  NEWS
  ext/uri/tests/059.phpt
  ext/uri/uri_parser_rfc3986.c
Labels: Extension: uri

#19649 uri: Call the proper `clone_obj` handler in `uri_write_component_ex()`
  ext/uri/php_uri.c
  ext/uri/php_uri_common.c
  ext/uri/php_uri_common.h
Labels: ABI break, Extension: uri

#19317 Implement GH-8967: Add PDO_SQLITE_ATTR_TRANSACTION_MODE
  NEWS
  UPGRADING
  ext/pdo_sqlite/pdo_sqlite.stub.php
  ext/pdo_sqlite/pdo_sqlite_arginfo.h
  ext/pdo_sqlite/php_pdo_sqlite.h
  ext/pdo_sqlite/php_pdo_sqlite_int.h
  ext/pdo_sqlite/sqlite_driver.c
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_transaction_mode.phpt
Labels: Extension: pdo_sqlite

#19636 Add support for Uri\Rfc3986\Uri withers
  NEWS
  ext/uri/php_uri.c
  ext/uri/php_uri.stub.php
  ext/uri/php_uri_arginfo.h
  ext/uri/tests/023.phpt
  ext/uri/tests/026.phpt
  ext/uri/tests/026_userinfo.phpt
  ext/uri/tests/027.phpt
  ext/uri/tests/028.phpt
  ext/uri/tests/029.phpt
  ext/uri/tests/030.phpt
  ext/uri/tests/035.phpt
  ext/uri/tests/057.phpt
  ext/uri/uri_parser_rfc3986.c
  ext/uri/uri_parser_rfc3986.h
Labels: Category: Build System, ABI break, Extension: uri

#18792 [RFC] Add a locale for grapheme case-insensitive functions
  NEWS
  UPGRADING
  ext/intl/grapheme/grapheme_string.c
  ext/intl/grapheme/grapheme_util.c
  ext/intl/grapheme/grapheme_util.h
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/grapheme_levenshtein.phpt
  ext/intl/tests/grapheme_stripos_locale_dependency.phpt
  ext/intl/tests/grapheme_stristr_locale_dependency.phpt
  ext/intl/tests/grapheme_strpos_locale_dependency.phpt
  ext/intl/tests/grapheme_strripos_locale_dependency.phpt
Labels: Extension: intl, Status: Requires RFC

#19593 Fix GH-11952: better locale strings canonicalization for IntlDateFormatter and NumberFormatter
  NEWS
  ext/intl/dateformat/dateformat_create.cpp
  ext/intl/formatter/formatter_main.c
  ext/intl/php_intl.c
  ext/intl/php_intl.h
  ext/intl/tests/gh11942_datefmt_locale_canonicalization.phpt
  ext/intl/tests/gh11942_numfmt_locale_canonicalization.phpt
Labels: Extension: intl

#15727 Remove driver specific support from ODBC
  NEWS
  UPGRADING
  ext/odbc/config.m4
  ext/odbc/config.w32
  ext/odbc/odbc.stub.php
  ext/odbc/odbc_arginfo.h
  ext/odbc/php_odbc.c
  ext/odbc/php_odbc.h
  ext/odbc/php_odbc_includes.h
Labels: Category: Build System, Extension: odbc

#19627 uri: Make the `.free_uri` handlers safe to call with `NULL`
  ext/uri/php_uri.c
  ext/uri/php_uri_common.h
  ext/uri/uri_parser_php_parse_url.c
  ext/uri/uri_parser_rfc3986.c
Labels: ABI break, Extension: uri

#19763 Fix intl tests naming
  ext/intl/tests/gh11942_datefmt_locale_canonicalization.phpt
  ext/intl/tests/gh11942_numfmt_locale_canonicalization.phpt
Labels: Extension: intl

#19764 Fix memory leak when providing an invalid locale to IntlDateFormatter
  ext/intl/dateformat/dateformat_create.cpp
Labels: Extension: intl

#19759 Use zend_string API for mail.cr_lf_mode validation
  ext/standard/mail.c
  main/main.c
  main/php_globals.h
Labels: Extension: standard, ABI break

#19767 zend_API: Do not overwrite `readonly` properties in `object_properties_load()`
  NEWS
  Zend/zend_API.c
  ext/random/tests/03_randomizer/gh_19765_unserialize.phpt
  ext/random/tests/03_randomizer/gh_9186_unserialize.phpt
Labels: Category: Engine, Extension: random

#19779 uri: Do not treat arbitrary error codes as syntax errors in uri_parser_rfc3986
  ext/uri/uri_parser_rfc3986.c
Labels: Extension: uri

#19781 Fix GH-19780: InvalidUrlException should check $errors argument
  NEWS
  ext/uri/php_uri.c
  ext/uri/tests/gh19780.phpt
Labels: Extension: uri

#19682 Zend: Deprecate __sleep()
  Zend/tests/enum/__sleep.phpt
  Zend/tests/lazy_objects/oss_fuzz_71446.phpt
  Zend/tests/lazy_objects/serialize___sleep.phpt
  Zend/tests/lazy_objects/serialize___sleep_initializes.phpt
  Zend/tests/lazy_objects/serialize___sleep_skip_flag.phpt
  Zend/tests/lazy_objects/serialize___sleep_skip_flag_may_initialize.phpt
  Zend/zend_compile.c
  ext/dom/tests/gh8996.phpt
  ext/pdo_mysql/tests/pdo_mysql_stmt_fetch_class.phpt
  ext/pdo_mysql/tests/pdo_mysql_stmt_fetch_serialize.phpt
  ext/pdo_mysql/tests/pdo_mysql_stmt_fetch_serialize_fetch_class.phpt
  ext/phar/tests/phar_metadata_write4.phpt
  ext/session/tests/bug53141.phpt
  ext/standard/tests/serialize/001.phpt
  ext/standard/tests/serialize/005.phpt
  ext/standard/tests/serialize/bug14293.phpt
  ext/standard/tests/serialize/bug21957.phpt
  ext/standard/tests/serialize/bug35895.phpt
  ext/standard/tests/serialize/bug64354_3.phpt
  ext/standard/tests/serialize/bug65806.phpt
  ext/standard/tests/serialize/bug69210.phpt
  ext/standard/tests/serialize/bug70172_2.phpt
  ext/standard/tests/serialize/bug71995.phpt
  ext/standard/tests/serialize/bug73154.phpt
  ext/standard/tests/serialize/bug79526.phpt
  ext/standard/tests/serialize/bug81163.phpt
  ext/standard/tests/serialize/sleep_deprecation_promoted_exception.phpt
  ext/standard/tests/serialize/sleep_deprecation_promoted_exception2.inc
  ext/standard/tests/serialize/sleep_deprecation_promoted_exception2.phpt
  ext/standard/tests/serialize/sleep_deref.phpt
  ext/standard/tests/serialize/sleep_mangled_name_clash.phpt
  ext/standard/tests/serialize/sleep_undefined_declared_properties.phpt
  ext/standard/tests/serialize/sleep_uninitialized_typed_prop.phpt
  tests/classes/bug26737.phpt
  tests/classes/private_members_serialization.phpt
Labels: Category: Engine, Extension: dom, Extension: pdo_mysql, Extension: phar, Extension: session, Extension: standard

#19830 Fix missing OpenSSL libctx name fetch conversions
  ext/openssl/openssl.c
  ext/openssl/openssl_backend_common.c
Labels: Extension: openssl

#19440 ext/standard: Deprecate passing string which are not one byte long to ord()
  Zend/tests/constants/class_constants_005.phpt
  Zend/tests/nullsafe_operator/013.phpt
  Zend/zend_compile.c
  ext/mbstring/tests/gb18030_2022_encoding.phpt
  ext/mbstring/tests/gb18030_encoding.phpt
  ext/standard/string.c
  ext/standard/tests/strings/get_html_translation_table_basic6.phpt
  ext/standard/tests/strings/ord_basic.phpt
  ext/standard/tests/strings/ord_not_1_byte.phpt
Labels: RFC, Category: Engine, Extension: mbstring, Extension: standard

#19843 zend_hash: Assert that the `interned` parameter is not a lie
  Zend/zend_hash.h
Labels: Category: Engine, ABI break

#19846 [fuzzer][skip ci] Wrap php_request_shutdown() in zend_try
  sapi/fuzzer/fuzzer-sapi.c
Labels: SAPI: fuzzer

#19837 Fix GH-19801: address leak when calling var_dump() with recursion in __debugInfo()
  NEWS
  ext/standard/tests/general_functions/debug_zval_dump_gh19801_memory_leak.phpt
  ext/standard/tests/general_functions/var_dump_gh19801_memory_leak.phpt
  ext/standard/var.c
Labels: Extension: standard

#19850 uri: Throw `UriError` for unexpected failures
  NEWS
  ext/uri/php_uri.c
  ext/uri/php_uri.stub.php
  ext/uri/php_uri_arginfo.h
  ext/uri/php_uri_common.c
  ext/uri/php_uri_common.h
  ext/uri/uri_parser_rfc3986.c
Labels: ABI break, Extension: uri

#19890 Make the call VM read the opline back after interrupts
  Zend/zend_vm_execute.h
  Zend/zend_vm_gen.php
Labels: Category: Engine, ABI break

#19854 uri: Pass `uri_object_t` instead of `zend_object` where possible
  ext/uri/php_uri.c
  ext/uri/php_uri.h
Labels: ABI break, Extension: uri

#19900 set[raw]cookie: No format call needed for constant expires
  ext/standard/head.c
Labels: Extension: standard

#19908 Fix refcounting on zend_empty_array in ext-uri
  NEWS
  Zend/zend_API.h
  ext/uri/php_uri.c
  ext/uri/tests/gh19892.phpt
Labels: Category: Engine, ABI break, Extension: uri

#19903 uri: Clean up logic in `uri_unserialize()`
  ext/uri/php_uri.c
Labels: Extension: uri

#19905 uri: Fix handling of large port numbers in URI struct
  NEWS
  ext/standard/ftp_fopen_wrapper.c
  ext/standard/http_fopen_wrapper.c
  ext/uri/php_uri.h
  ext/uri/tests/100.phpt
  ext/uri/tests/102.phpt
  ext/zend_test/test.c
Labels: Extension: standard, Extension: zend_test, ABI break, Extension: uri

#19906 uri: Inline `parser` and `uri` into `uri_object_t`
  ext/uri/php_uri.c
  ext/uri/php_uri_common.c
  ext/uri/php_uri_common.h
Labels: ABI break, Extension: uri

#19947 opcache: Fix segfault in function JIT due to NAN to bool warning
  ext/opcache/jit/zend_jit_ir.c
  ext/opcache/tests/jit/nan_001.phpt
  ext/opcache/tests/jit/nan_002.phpt
Labels: Extension: opcache

#19949 Zend: add const qualifier for scope in reap property functions
  Zend/zend_API.c
  Zend/zend_API.h
Labels: Category: Engine, ABI break

#19582 zend_string: Support NUL bytes in `ZSTR_*_LITERAL()` and `zend_string_*literal*()`
  UPGRADING.INTERNALS
  Zend/zend_string.h
  ext/dom/element.c
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/zstr_init_literal.phpt
Labels: Category: Engine, Extension: dom, Extension: zend_test, ABI break

#19976 Add stream filter convert.* tests
  ext/standard/tests/filters/convert.phpt
Labels: Extension: standard

#19980 Intl: Remove unumberrangeformatter.h include in IntlNumberRangeFormatter
  ext/intl/rangeformatter/rangeformatter_class.cpp
Labels: Extension: intl

#19982 Change master branch check to 8.6 in `find-target-branch.bat`
  .github/scripts/windows/find-target-branch.bat
Labels: OS: Windows

#19986 zend_API: Remove `ZVAL_IS_NULL()`
  UPGRADING.INTERNALS
  Zend/zend_API.h
Labels: Category: Engine, ABI break

#20005 Use faster string construction in ext/dom in some places
  ext/dom/attr.c
  ext/dom/documenttype.c
  ext/dom/dom_iterators.c
  ext/dom/element.c
  ext/dom/node.c
Labels: Extension: dom
