Repository php/php-src, pull requests merged in 2025-06, with the labels that each got.

#18727 Fix test failures in engine_unsafe_empty_string.phpt
  ext/random/tests/03_randomizer/engine_unsafe_empty_string.phpt
Labels: Extension: random

#18732 Fix line assignment in zend_ast_create_va()
  Zend/zend_ast.c
Labels: Category: Engine

#18716 Fix out of tree build
  ext/uri/config.m4
Labels: Category: Build System, Extension: uri

#18663 ext/mysqlnd/mysqlnd_auth.c: Add error handling for invalid public key…
  ext/mysqlnd/mysqlnd_auth.c
Labels: Extension: mysqlnd

#18748 tree-wide: Remove stacktraces from tests testing throwing clones
  Zend/tests/generators/clone.phpt
  ext/dom/tests/modern/token_list/clone.phpt
  ext/gd/tests/gdimage_prevent_cloning.phpt
  ext/mysqli/tests/mysqli_driver_unclonable.phpt
  ext/mysqli/tests/mysqli_result_unclonable.phpt
  ext/mysqli/tests/mysqli_stmt_unclonable.phpt
  ext/mysqli/tests/mysqli_unclonable.phpt
  ext/pdo/tests/bug_77849.phpt
  ext/pdo/tests/bug_77849_2.phpt
  ext/reflection/tests/ReflectionClass_CannotClone_basic.phpt
  ext/reflection/tests/ReflectionClass_isCloneable_001.phpt
  ext/xml/tests/bug78563.phpt
  ext/xmlreader/tests/bug51936.phpt
  tests/classes/factory_and_singleton_007.phpt
  tests/classes/factory_and_singleton_008.phpt
Labels: Extension: dom, Extension: gd, Extension: mysqli, Extension: pdo (core), Extension: reflection, Extension: xml, Extension: xmlreader

#17992 Fix stubs of DateTimeZone->getTransitions
  Zend/tests/parameter_default_values/internal_declaration_error_const.phpt
  ext/date/php_date.stub.php
  ext/date/php_date_arginfo.h
  ext/reflection/tests/internal_parameter_default_value/ReflectionParameter_getDefaultValueConstantName_Internal.phpt
Labels: Extension: date, Extension: reflection

#18769 Use cheaper functions to get member name in PDO
  ext/pdo/pdo_stmt.c
Labels: Extension: pdo (core)

#18775 Skip OpenSSL proxy test for bug #74796 on Windows
  ext/openssl/tests/bug74796.phpt
Labels: Extension: openssl

#18770 ext/bcmath: use XSSE
  ext/bcmath/libbcmath/src/convert.c
  ext/bcmath/libbcmath/src/simd.h
  ext/bcmath/libbcmath/src/str2num.c
  ext/bcmath/libbcmath/src/xsse.h
Labels: Extension: bcmath

#18746 zend_vm_gen: Fix GET_OP*_OBJ_ZVAL_PTR_DEREF for ANY
  Zend/zend_execute.c
  Zend/zend_vm_gen.php
Labels: Category: Engine

#18795 Optimize php_filter_encode_html()
  ext/filter/sanitizing_filters.c
Labels: Extension: filter

#18808 zend_alloc: Fix compilation with ZEND_MM_CUSTOM=0
  Zend/zend_alloc.c
Labels: Category: Engine

#17118 RFC: Pipe operator
  NEWS
  UPGRADING
  Zend/tests/pipe_operator/ast.phpt
  Zend/tests/pipe_operator/call_by_ref.phpt
  Zend/tests/pipe_operator/call_prefer_by_ref.phpt
  Zend/tests/pipe_operator/complex_ordering.phpt
  Zend/tests/pipe_operator/compound_userland_calls.phpt
  Zend/tests/pipe_operator/exception_interruption.phpt
  Zend/tests/pipe_operator/function_not_found.phpt
  Zend/tests/pipe_operator/generators.phpt
  Zend/tests/pipe_operator/mixed_callable_call.phpt
  Zend/tests/pipe_operator/namespaced_functions.phpt
  Zend/tests/pipe_operator/optimizations.phpt
  Zend/tests/pipe_operator/optional_parameters.phpt
  Zend/tests/pipe_operator/precedence_addition.phpt
  Zend/tests/pipe_operator/precedence_coalesce.phpt
  Zend/tests/pipe_operator/precedence_comparison.phpt
  Zend/tests/pipe_operator/precedence_ternary.phpt
  Zend/tests/pipe_operator/simple_builtin_call.phpt
  Zend/tests/pipe_operator/simple_userland_call.phpt
  Zend/tests/pipe_operator/too_many_parameters.phpt
  Zend/tests/pipe_operator/type_mismatch.phpt
  Zend/tests/pipe_operator/void_return.phpt
  Zend/tests/pipe_operator/wrapped_chains.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  Zend/zend_language_parser.y
  Zend/zend_language_scanner.l
  ext/tokenizer/tokenizer_data.c
  ext/tokenizer/tokenizer_data.stub.php
  ext/tokenizer/tokenizer_data_arginfo.h
Labels: RFC, Category: Engine, Extension: tokenizer, ABI break

#18815 Use zval_try_get_string_func() in concat_function()
  Zend/zend_operators.c
Labels: Category: Engine

#18803 Improve performance of unpack() with nameless repetitions
  UPGRADING
  ext/standard/pack.c
Labels: Extension: standard

#18752 Remove dead code from openssl_spki_new() implementation
  ext/openssl/openssl.c
Labels: Extension: openssl

#18822 ext/standard/pack: minor refactoring
  ext/standard/pack.c
Labels: Extension: standard

#18830 Simplify callers of zval_try_get_long()
  ext/curl/share.c
  ext/zip/php_zip.c
Labels: Extension: curl, Extension: zip

#18846 ext/pdo_sqlite: explain statement prefixing with its class for errors.
  ext/pdo_sqlite/sqlite_statement.c
  ext/pdo_sqlite/tests/subclasses/pdo_sqlite_getsetattr_explain.phpt
Labels: Extension: pdo_sqlite

#18851 Fix unused variable in pdo_sqlite_stmt_set_attribute()
  ext/pdo_sqlite/sqlite_statement.c
Labels: Extension: pdo_sqlite

#18865 Remove HAVE_GETLOGIN from win32/config.w32.h.in template
  win32/build/config.w32.h.in
Labels: Category: Build System

#18859 ext/bcmath: use vector in compare
  ext/bcmath/libbcmath/src/compare.c
Labels: Extension: bcmath

#18892 Refactor implementation of DOM nodelists, named maps, and iterators
  ext/dom/config.m4
  ext/dom/config.w32
  ext/dom/documenttype.c
  ext/dom/dom_iterators.c
  ext/dom/element.c
  ext/dom/namednodemap.c
  ext/dom/node.c
  ext/dom/nodelist.c
  ext/dom/obj_map.c
  ext/dom/obj_map.h
  ext/dom/parentnode/css_selectors.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/modern/spec/Document_importLegacyNode.phpt
  ext/dom/tests/modern/spec/NamedNodeMap_dimensions.phpt
  ext/dom/xpath.c
Labels: Category: Build System, Extension: dom

#18895 Don't use the obj_map cache for attributes
  ext/dom/obj_map.c
  ext/dom/tests/modern/common/attr_named_node_map_cache.phpt
Labels: Extension: dom

#15303 Autotools: Enable tsrmls cache in hash extension on big endian
  ext/hash/config.m4
Labels: Category: Build System, Extension: hash

#17861 [RFC] Final Property Promotion
  NEWS
  UPGRADING
  Zend/tests/property_hooks/final_prop_promoted_1.phpt
  Zend/tests/property_hooks/final_prop_promoted_2.phpt
  Zend/tests/property_hooks/final_prop_promoted_3.phpt
  Zend/tests/property_hooks/final_prop_promoted_4.phpt
  Zend/tests/property_hooks/final_prop_promoted_5.phpt
  Zend/tests/property_hooks/final_prop_promoted_ast.phpt
  Zend/zend_ast.c
  Zend/zend_compile.c
  ext/reflection/tests/ReflectionProperty_isFinal.phpt
Labels: RFC, Category: Engine, Extension: reflection

#18855 uri: Improve exceptions for Uri\WhatWg\Url
  ext/uri/php_lexbor.c
  ext/uri/tests/004.phpt
  ext/uri/tests/007.phpt
  ext/uri/tests/023.phpt
  ext/uri/tests/026.phpt
  ext/uri/tests/051.phpt
Labels: Extension: uri

#18920 ext/random: Remove ZPP tests and make the those tests a bit useful
  ext/random/tests/01_functions/mt_srand_basic.phpt
  ext/random/tests/01_functions/srand_basic.phpt
Labels: Extension: random

#18612 Do not use RTLD_DEEPBIND if dlmopen is available
  NEWS
  UPGRADING.INTERNALS
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_portability.h
  sapi/apache2handler/sapi_apache2.c
Labels: Category: Build System, Category: Engine, Extension: ffi, Extension: standard, SAPI: apache2handler, SAPI: litespeed, SAPI: phpdbg, ABI break

#18914 Autotools: Remove obsole Autoconf macros
  UPGRADING.INTERNALS
  build/php.m4
Labels: Category: Build System

#18909 Remove non-existing INI directive detect_unicode
  ext/phar/tests/zip/notphar.phpt
  pear/Makefile.frag
Labels: Extension: phar

#18925 php_gdb: Print some numeric fields as hexadecimal
  main/debug_gdb_scripts.c
  scripts/gdb/php_gdb.py
Labels: Category: Build System

#18912 Fix GH-18897: printf: empty precision is interpreted as precision 6, not as precision 0
  NEWS
  UPGRADING
  ext/standard/formatted_print.c
  ext/standard/tests/strings/gh18897.phpt
Labels: Extension: standard

#18919 RFC: Turn `clone()` into a function
  NEWS
  UPGRADING
  Zend/Optimizer/zend_func_infos.h
  Zend/tests/assert/expect_015.phpt
  Zend/tests/clone/ast.phpt
  Zend/tests/clone/bug36071.phpt
  Zend/tests/clone/bug42817.phpt
  Zend/tests/clone/bug42818.phpt
  Zend/tests/clone/clone_001.phpt
  Zend/tests/clone/clone_003.phpt
  Zend/tests/clone/clone_005.phpt
  Zend/tests/magic_methods/bug73288.phpt
  Zend/zend_API.c
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
  Zend/zend_compile.c
  Zend/zend_language_parser.y
  Zend/zend_string.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  build/gen_stub.php
  ext/opcache/tests/func_info.phpt
Labels: RFC, Category: Build System, Category: Engine, Extension: opcache, Category: Optimizer, ABI break

#18931 ext/pcntl: following up #15921 rework SYS_pidfd_open configure detect…
  ext/pcntl/config.m4
  ext/pcntl/pcntl.c
Labels: Category: Build System, Extension: pcntl

#18924 `gen_stub.php`: Allowed the use of formats like `@param array<>`
  build/gen_stub.php
Labels: Category: Build System

#18891 ext/date: Remove implicit bool type coercions in tests
  ext/date/tests/bug33536.phpt
  ext/date/tests/bug44780.phpt
  ext/date/tests/date_sun_info_003.phpt
Labels: Extension: date

#18966 ext/intl: Use zval_get_tmp_string where possible
  ext/intl/listformatter/listformatter_class.c
Labels: Extension: intl

#18967 Use hasThis() where appropriate
  ext/intl/formatter/formatter_format.c
  ext/intl/formatter/formatter_parse.c
  ext/mysqli/mysqli_api.c
Labels: Extension: intl, Extension: mysqli

#18968 Remove HAVE_PTRDIFF_T and SIZEOF_PTRDIFF_T
  UPGRADING.INTERNALS
  configure.ac
  ext/intl/collator/collator_sort.c
  main/snprintf.c
  main/snprintf.h
  main/spprintf.c
  win32/build/config.w32.h.in
Labels: Category: Build System, Extension: intl, ABI break

#18713 Implement GH-15483: Use C23 memset_explicit() for ZEND_SECURE_ZERO() if available
  Zend/zend_portability.h
  configure.ac
  main/explicit_bzero.c
Labels: Category: Build System, Category: Engine, ABI break

#18949 ext/sqlite3: relax sqlite3 explain test conditions
  ext/sqlite3/tests/sqlite3_explain.phpt
Labels: Extension: sqlite3

#18971 Remove HAVE_INTMAX_T and SIZEOF_INTMAX_T
  UPGRADING.INTERNALS
  configure.ac
  main/snprintf.c
  main/snprintf.h
  main/spprintf.c
  win32/build/config.w32.h.in
Labels: Category: Build System, ABI break

#18969 Fix OSS-Fuzz #428053935
  UPGRADING.INTERNALS
  Zend/tests/attributes/constants/oss_fuzz_428053935.phpt
  Zend/zend_builtin_functions.c
  Zend/zend_constants.c
  Zend/zend_constants.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine, ABI break
