Repository php/php-src, pull requests merged in 2025-03, with the labels that each got.

#17890 Avoid unnecessary string refcounting in ext/date
  ext/date/php_date.c
Labels: Extension: date

#17958 Fix GH-17938: UAF with zend_test opline observer and magic_quotes_gpc=1
  ext/zend_test/test.c
Labels: Extension: zend_test

#17762 sapi/cli: Print non-default INI settings for `--ini=diff`
  NEWS
  UPGRADING
  sapi/cli/cli.h
  sapi/cli/php_cli.c
Labels: SAPI: cli, ABI break

#17969 ext/pdo: Add tests for PDO::ATTR_STATEMENT_CLASS attribute
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_basic.phpt
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_ctor_arg_gc.phpt
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_ctor_arg_no-gc_var_modified.phpt
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_ctor_arg_no-gc_var_unset.phpt
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_ctor_arg_no_gc.phpt
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_cyclic_ctor_args.phpt
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_errors.phpt
  ext/pdo/tests/attr_statement_class/pdo_ATTR_STATEMENT_CLASS_with_abstract_class.phpt
  ext/pdo/tests/attr_statement_class/pdo_prepare_ATTR_STATEMENT_CLASS_ctor_arg_gc.phpt
  ext/pdo/tests/attr_statement_class/pdo_prepare_ATTR_STATEMENT_CLASS_ctor_arg_no-gc.phpt
  ext/pdo/tests/pdo_test.inc
Labels: Extension: pdo (core)

#17741 ext/pdo: Pack _pdo_dbh_t struct
  ext/pdo/php_pdo_driver.h
Labels: Extension: pdo (core), ABI break

#17978 Simplify array_any(), array_all(), array_find(), array_find_key()
  ext/standard/array.c
Labels: Extension: standard

#17994 Fix register allocarion for result of ASSIGN_OBJ
  ext/opcache/jit/zend_jit_ir.c
Labels: Extension: opcache

#17979 Fix bug and add test for dba_open same file twice
  ext/dba/dba.c
  ext/dba/tests/dba_duplicateopen.phpt
Labels: Extension: dba

#17954 ext/sockets: adding SO_BUSY_POLL socket option for Linux.
  NEWS
  UPGRADING
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
Labels: Extension: sockets

#18032 Remove OpenSSL 1.0.2 specific code
  ext/openssl/openssl_backend_v1.c
  ext/openssl/php_openssl.h
Labels: Extension: openssl

#17987 ext/bcmath: Simplify `bc_divide()` code
  NEWS
  ext/bcmath/libbcmath/src/convert.h
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/private.h
Labels: Extension: bcmath

#18056 ext/bcmath: If the result is `0`, `n_scale` is set to `0`.
  NEWS
  ext/bcmath/bcmath.c
  ext/bcmath/libbcmath/src/bcmath.h
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/divmod.c
  ext/bcmath/libbcmath/src/recmul.c
  ext/bcmath/libbcmath/src/round.c
Labels: Extension: bcmath

#18060 ext/bcmath: `bc_divide()` small fix
  ext/bcmath/libbcmath/src/div.c
Labels: Extension: bcmath

#18065 ext/bcmath: If size of `BC_VECTOR` array is within 64 bytes, stack area is now used
  NEWS
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#18071 Minor improvements to ext/xml memory management
  ext/xml/xml.c
Labels: Extension: xml

#17886 gen_stub: various simplifications and clean up (3)
  build/gen_stub.php
Labels: Category: Build System

#18063 zend_get_callable_name: Return underlying callable’s name for fake closures
  NEWS
  UPGRADING.INTERNALS
  Zend/tests/first_class_callable/gh18062.phpt
  Zend/zend_API.c
Labels: Category: Engine

#18093 Merge JMP_FRAMELESS cache slots in Optimizer/compact_literals
  Zend/Optimizer/compact_literals.c
Labels: Category: Optimizer

#18084 Zend/hash: Add yet more const qualifiers
  Zend/zend_hash.h
Labels: Category: Engine, ABI break

#18103 ext/bcmath: Extracted common logic into function and macro
  ext/bcmath/libbcmath/src/convert.h
  ext/bcmath/libbcmath/src/div.c
  ext/bcmath/libbcmath/src/private.h
  ext/bcmath/libbcmath/src/recmul.c
Labels: Extension: bcmath

#18025 ext/pgsql: get_field_name helper, remove precaution for pg_type request.
  ext/pgsql/pgsql.c
Labels: Extension: pgsql

#18116 Fix GH-18114: pdo lazy object crash
  ext/pdo/pdo_stmt.c
  ext/pdo_sqlite/tests/gh18114.phpt
Labels: Extension: pdo (core), Extension: pdo_sqlite

#18083 ext/standard: Use usual not empty error for proc_open()
  ext/standard/proc_open.c
  ext/standard/tests/general_functions/proc_open_array.phpt
Labels: Extension: standard

#18125 Fix intl tests for icu 77
  ext/intl/tests/locale_get_display_name8.phpt
  ext/intl/tests/locale_get_display_variant2.phpt
Labels: Extension: intl

#17050 Remove unused strcasecmp definition
  ext/mbstring/libmbfl/mbfl/mbfl_encoding.c
Labels: Extension: mbstring

#18131 zend_vm_def: Use `FREE_OP1()` in ZEND_FREE handler
  Zend/zend_vm_def.h
Labels: Category: Engine, ABI break

#16287 Avoid allocating temporaries on the call frame for property hook trampolines
  Zend/zend_object_handlers.c
Labels: Category: Engine

#18130 ext/bcmath: In the arm processor environment, NEON is used to use SIMD.
  ext/bcmath/libbcmath/src/convert.c
  ext/bcmath/libbcmath/src/simd.h
  ext/bcmath/libbcmath/src/str2num.c
Labels: Extension: bcmath

#15956 ReflectionClass: show enums differently from classes, test output
  ext/reflection/php_reflection.c
  ext/reflection/tests/ReflectionEnumUnitCase_getEnum.phpt
  ext/reflection/tests/ReflectionEnum_toString.phpt
  ext/reflection/tests/ReflectionEnum_toString_backed_int.phpt
  ext/reflection/tests/ReflectionEnum_toString_backed_string.phpt
  ext/reflection/tests/ReflectionEnum_toString_unbacked.phpt
Labels: Extension: reflection

#18155 Reflection: optimize smart_str building
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#18160 zend_smart_string: Add `smart_string_append_printf()`
  UPGRADING.INTERNALS
  Zend/zend_smart_str.c
  Zend/zend_smart_string.h
Labels: Category: Engine

#18157 Improve performance of array_find() etc
  ext/standard/array.c
Labels: Extension: standard

#18158 Improve performance of array_map()
  ext/standard/array.c
Labels: Extension: standard

#18175 ext/pdo_pgsql: updating copy from according to pgsql extension workflow.
  ext/pdo_pgsql/pgsql_driver.c
Labels: Extension: pdo_pgsql

#18142 ext/exif: Various minor refactorings
  ext/exif/exif.c
Labels: Extension: exif

#18166 Improve performance of user-callbacked sort functions
  ext/standard/array.c
Labels: Extension: standard

#18168 Add `php_build_provider()`
  UPGRADING.INTERNALS
  ext/standard/info.c
  main/main.c
  main/php_main.h
Labels: Extension: standard, ABI break

#18180 Avoid pointless refcounting in array_reduce
  ext/standard/array.c
Labels: Extension: standard

#18181 Get rid of temporary in array_push
  ext/standard/array.c
Labels: Extension: standard

#18182 Remove useless operations in namespace_compat
  ext/dom/namespace_compat.c
Labels: Extension: dom

#18188 Remove pointless operations from zend_user_serialize()
  Zend/zend_interfaces.c
Labels: Category: Engine

#18187 Remove pointless ZVAL_UNDEF() in isset path
  Zend/zend_object_handlers.c
Labels: Category: Engine

#18184 Optimize SplFixedArray dimension performance
  ext/spl/spl_fixedarray.c
Labels: Extension: spl

#18194 ext/pgsql: fix pg_close_stmt() signature.
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
Labels: Extension: pgsql

#18190 Optimize SplFixedArray::toArray()
  ext/spl/spl_fixedarray.c
Labels: Extension: spl

#18191 Make SplFixedArray::jsonSerialize() an implementation alias of SplFixedArray::toArray()
  ext/spl/spl_fixedarray.c
  ext/spl/spl_fixedarray.stub.php
  ext/spl/spl_fixedarray_arginfo.h
Labels: Extension: spl

#18195 Avoid rebuilding the property table when possible in SplFixedArray's gc handler
  ext/spl/spl_fixedarray.c
Labels: Extension: spl

#18196 Optimize SplFixedArray::fromArray() for packed arrays
  ext/spl/spl_fixedarray.c
Labels: Extension: spl

#18172 Add runtime-enabled heap debugging capabilities
  Zend/zend_alloc.c
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/opline_dangling.phpt
  ext/zend_test/tests/opline_dangling_02.phpt
Labels: Category: Engine, Extension: zend_test

#18206 Fix typo in `ReflectionParameter::getName()` description [skip ci]
  ext/reflection/php_reflection.c
Labels: Extension: reflection
