Repository php/php-src, pull requests merged in 2025-02, with the labels that each got.

#17558 Reuse EG(windows_version_info) in php_get_uname()
  ext/standard/info.c
Labels: Extension: standard

#17574 Refactor uncompress() loop in php_handle_swc()
  ext/standard/image.c
Labels: Extension: standard

#17667 Fix condition to check for config.w32 in phpize
  win32/build/phpize.js.in
Labels: Category: Build System, OS: Windows

#17671 Add non-NULL assertion to zend_get_gc_buffer_add_obj()
  Zend/zend_gc.h
Labels: Category: Engine

#17507 Add enchant_dict_remove()
  NEWS
  UPGRADING
  ext/enchant/enchant.c
  ext/enchant/enchant.stub.php
  ext/enchant/enchant_arginfo.h
  ext/enchant/tests/dict_remove.phpt
Labels: Extension: enchant

#17651 ext/pdo: Rearrange struct to pack and group related fields together
  ext/pdo/php_pdo_driver.h
Labels: Extension: pdo (core), ABI break

#17688 Remove more unused local variables
  ext/com_dotnet/com_handlers.c
  ext/pdo_odbc/odbc_stmt.c
  sapi/phpdbg/phpdbg_win.c
Labels: Extension: com_dotnet, Extension: pdo_odbc, SAPI: phpdbg

#17680 Fix MSVC C4267 warnings in gd.c
  ext/gd/gd.c
Labels: Extension: gd

#17697 ext/pdo: Pass argument number to pdo_dbh_attribute_set()
  ext/pdo/pdo_dbh.c
  ext/pdo/tests/bug_44159.phpt
  ext/pdo_mysql/tests/pdo_mysql_attr_errmode.phpt
  ext/pdo_mysql/tests/pdo_mysql_attr_statement_class.phpt
Labels: Extension: pdo (core), Extension: pdo_mysql

#17685 Fix Clang style nits
  Zend/zend_hrtime.h
  ext/opcache/zend_file_cache.c
  ext/openssl/xp_ssl.c
  ext/standard/basic_functions.c
  ext/standard/flock_compat.c
  main/fopen_wrappers.c
  sapi/cli/php_cli.c
  win32/fnmatch.c
  win32/readdir.c
  win32/winutil.c
Labels: Extension: openssl, Category: Engine, Extension: opcache, Extension: standard, SAPI: cli

#17459 sapi/cli: Extend `--ini` to print INI settings changed from the builtin default
  NEWS
  UPGRADING
  Zend/zend_ini.c
  Zend/zend_ini.h
  sapi/cli/php_cli.c
Labels: Category: Engine, SAPI: cli, ABI break

#16918 Introduce openssl backend for v1 and v3 API separation
  ext/openssl/config.w32
  ext/openssl/config0.m4
  ext/openssl/openssl.c
  ext/openssl/openssl_backend_common.c
  ext/openssl/openssl_backend_v1.c
  ext/openssl/openssl_backend_v3.c
  ext/openssl/php_openssl.h
  ext/openssl/php_openssl_backend.h
Labels: Category: Build System, Extension: openssl

#17721 ext/openssl: Use zend_result return type instead of int where applicable
  ext/openssl/openssl_backend_common.c
  ext/openssl/php_openssl_backend.h
Labels: Extension: openssl

#17719 Disallow calls to abstract `__call()` / `__callStatic()`
  NEWS
  Zend/tests/gh_17718_001.phpt
  Zend/tests/gh_17718_002.phpt
  Zend/zend_object_handlers.c
Labels: Category: Engine

#17729 Free the trampoline when deprecation on materializing `__callStatic()` of trait throws
  Zend/tests/gh_17728.phpt
  Zend/zend_object_handlers.c
Labels: Category: Engine

#17742 ext/pdo: Convert _pdo_dbh_t query_stmt_zval to a zend_object pointer
  ext/pdo/pdo_dbh.c
  ext/pdo/php_pdo_driver.h
  ext/pdo/php_pdo_error.h
Labels: Extension: pdo (core), ABI break

#17743 ext/pdo: Use zend_strpprintf() instead of spprintf()
  ext/pdo/pdo_dbh.c
Labels: Extension: pdo (core)

#17699 ext/pdo: Refactor validation of fetch mode in PDO statement
  UPGRADING
  ext/pdo/pdo_stmt.c
  ext/pdo/php_pdo_driver.h
  ext/pdo/tests/bug_38253.phpt
  ext/pdo/tests/pdo_set_fetch_mode_errors.phpt
Labels: Extension: pdo (core), ABI break

#17744 ext/pdo_{odbc|pgsql}: Use precomputed data_source_len
  ext/pdo_odbc/odbc_driver.c
  ext/pdo_pgsql/pgsql_driver.c
Labels: Extension: pdo_odbc, Extension: pdo_pgsql

#17678 Prevent unsigned overflow in php_handle_swc()
  ext/standard/image.c
Labels: Extension: standard

#17659 Fix GH-17658: COMPersistHelper::LoadFromStream() can segfault
  .github/scripts/windows/build_task.bat
  .github/scripts/windows/test_task.bat
  ext/com_dotnet/Makefile.frag.w32
  ext/com_dotnet/com_persist.c
  ext/com_dotnet/config.w32
  ext/com_dotnet/tests/comtest/comtest.cpp
  ext/com_dotnet/tests/comtest/comtest.def
  ext/com_dotnet/tests/comtest/comtest.idl
  ext/com_dotnet/tests/gh17658.phpt
Labels: Category: Build System, Extension: com_dotnet

#17394 ext/pdo: Refactor do_fetch() when fetch mode is PDO::FETCH_COLUMN
  ext/pdo/tests/pdo_015.phpt
Labels: Extension: pdo (core)

#17755 Zend: Resolve self and parent types at compile time
  Zend/tests/magic_methods/magic_methods_021.phpt
  Zend/tests/type_declarations/intersection_types/relative_types/relative_parent_type_is_allow_when_compile_time_resolve.phpt
  Zend/tests/type_declarations/intersection_types/relative_types/relative_parent_type_is_not_allow_if_not_compile_time_resolve.phpt
  Zend/tests/type_declarations/intersection_types/relative_types/relative_parent_type_is_not_allow_if_not_compile_time_resolve2.phpt
  Zend/tests/type_declarations/intersection_types/relative_types/relative_self_type_is_allow_when_compile_time_resolve.phpt
  Zend/tests/type_declarations/intersection_types/relative_types/relative_self_type_is_not_allow_if_not_compile_time_resolve.phpt
  Zend/tests/type_declarations/intersection_types/relative_types/relative_self_type_is_not_allow_if_not_compile_time_resolve2.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_case_sensitive_relative_class_parent_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_case_sensitive_relative_class_self_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_relative_class_parent_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_relative_class_self_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_relative_class_static_type.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation1.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation2.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation3.phpt
  Zend/tests/type_declarations/union_types/redundant_types/duplicate_resolved_relative_class_type_variation4.phpt
  Zend/zend_compile.c
  Zend/zend_string.h
  ext/reflection/tests/types/ReflectionType_001.phpt
  ext/reflection/tests/types/bug80190.phpt
Labels: Category: Engine, Extension: reflection, ABI break

#17774 Fix typo in PHPDoc: $attribute to $attributes
  build/gen_stub.php
Labels: Category: Build System

#17766 Use new known "self" and "parent" zend_strings
  Zend/zend.c
  Zend/zend_API.c
  Zend/zend_ast.c
  Zend/zend_compile.c
  Zend/zend_constants.c
  Zend/zend_execute.c
  Zend/zend_inheritance.c
  ext/opcache/zend_persist.c
  ext/reflection/php_reflection.c
  ext/standard/browscap.c
Labels: Category: Engine, Extension: opcache, Extension: reflection, Extension: standard

#17780 gen_stub: set up PHP 8.5 support
  build/gen_stub.php
Labels: Category: Build System

#17786 php_gdb: Fix missing casts in `ZendAstPrettyPrinter`
  main/debug_gdb_scripts.c
  scripts/gdb/php_gdb.py
Labels: Category: Build System

#17779 gen_stub: fix `PropertyInfo::getString()` version compatibility
  build/gen_stub.php
Labels: Category: Build System

#17790 zend: gcc 15 will support counted_by(x) instead.
  Zend/zend_portability.h
Labels: Category: Engine, ABI break

#17795 `ReflectionClass::isCloneable()`: reduce duplication
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#17791 Fix: Remove unused code and improve regex patterns in mail_util.inc
  ext/standard/tests/mail/mail_util.inc
Labels: Extension: standard

#17679 Implement zend_safe_address() for MSVC 64bit
  Zend/zend_multiply.h
Labels: Category: Engine, OS: Windows

#17673 Improve COM ctor exception code for failing ProgIDs
  ext/com_dotnet/com_com.c
Labels: Extension: com_dotnet

#17810 zend_test: zend_test_compile_string converting script argument to path.
  ext/zend_test/test.c
  ext/zend_test/tests/zend_test_compile_string.phpt
Labels: Extension: zend_test

#17814 Reduce number of string duplications in phar
  ext/phar/phar_internal.h
  ext/phar/phar_object.c
  ext/phar/phar_path_check.re
  ext/phar/stream.c
  ext/phar/util.c
Labels: Extension: phar

#17819 Fix Windows build for GH-17814 and add extension dependency
  ext/phar/tests/gh17808.phpt
  ext/phar/util.c
Labels: Extension: phar

#17822 ext/gmp: use zend_object_alloc instead to initialize GMP instances.
  ext/gmp/gmp.c
Labels: Extension: gmp

#17824 ext/spl: use zend_object_alloc to create SplObjectStorage instances.
  ext/spl/spl_observer.c
Labels: Extension: spl

#17823 Gd upd
  ext/gd/gd.c
  ext/gd/libgd/gd.c
Labels: Extension: gd

#17828 basic_functions: update error_log documentation [skip ci]
  ext/standard/basic_functions.c
Labels: Extension: standard

#17832 Fix GH-17831: zend_test_compile_string crash on nul bytes check.
  ext/zend_test/test.c
  ext/zend_test/tests/zend_test_compile_string.phpt
Labels: Extension: zend_test

#17821 Reduce memory allocations in querySelector resolution
  ext/dom/lexbor/lexbor/selectors-adapted/selectors.c
Labels: Extension: dom

#17794 Fix FFI Parsing of Pointer Declaration Lists
  ext/ffi/ffi.g
  ext/ffi/ffi_parser.c
  ext/ffi/tests/ptr_declaration_list.phpt
Labels: Extension: ffi

#17816 ext/curl: Add `CURLINFO_{USED_PROXY,HTTPAUTH_USED,PROXYAUTH_USED}`
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/interface.c
  ext/curl/tests/Caddyfile
  ext/curl/tests/curl_getinfo_CURLINFO_HTTPAUTH_USED-caddy.phpt
  ext/curl/tests/curl_getinfo_CURLINFO_HTTPAUTH_USED.phpt
  ext/curl/tests/curl_getinfo_CURLINFO_USED_PROXY.phpt
Labels: Extension: curl

#17698 Use new ZPP and inline caches in ReflectionProperty::getValue() and variants
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#17213 Support first-class callables in const-expressions
  NEWS
  UPGRADING
  Zend/tests/first_class_callable/constexpr/attributes.phpt
  Zend/tests/first_class_callable/constexpr/attributes_ast_printing.phpt
  Zend/tests/first_class_callable/constexpr/attributes_ast_printing_runtime.phpt
  Zend/tests/first_class_callable/constexpr/attributes_scope_001.phpt
  Zend/tests/first_class_callable/constexpr/attributes_scope_002.phpt
  Zend/tests/first_class_callable/constexpr/autoload.phpt
  Zend/tests/first_class_callable/constexpr/basic.phpt
  Zend/tests/first_class_callable/constexpr/case_insensitive.phpt
  Zend/tests/first_class_callable/constexpr/class_const.phpt
  Zend/tests/first_class_callable/constexpr/complex_array.phpt
  Zend/tests/first_class_callable/constexpr/default_args.phpt
  Zend/tests/first_class_callable/constexpr/error_abstract.phpt
  Zend/tests/first_class_callable/constexpr/error_dynamic_001.phpt
  Zend/tests/first_class_callable/constexpr/error_dynamic_002.phpt
  Zend/tests/first_class_callable/constexpr/error_dynamic_003.phpt
  Zend/tests/first_class_callable/constexpr/error_dynamic_004.phpt
  Zend/tests/first_class_callable/constexpr/error_dynamic_005.phpt
  Zend/tests/first_class_callable/constexpr/error_instance_call.phpt
  Zend/tests/first_class_callable/constexpr/error_magic_callStatic.phpt
  Zend/tests/first_class_callable/constexpr/error_namespace_no_fallback_001.phpt
  Zend/tests/first_class_callable/constexpr/error_namespace_no_fallback_002.phpt
  Zend/tests/first_class_callable/constexpr/error_static_call_instance_method.phpt
  Zend/tests/first_class_callable/constexpr/error_static_call_trait_method_001.phpt
  Zend/tests/first_class_callable/constexpr/error_static_call_trait_method_002.phpt
  Zend/tests/first_class_callable/constexpr/error_unknown_class.phpt
  Zend/tests/first_class_callable/constexpr/error_unknown_function.phpt
  Zend/tests/first_class_callable/constexpr/error_unknown_method.phpt
  Zend/tests/first_class_callable/constexpr/namespace_001.phpt
  Zend/tests/first_class_callable/constexpr/namespace_002.phpt
  Zend/tests/first_class_callable/constexpr/namespace_003.phpt
  Zend/tests/first_class_callable/constexpr/namespace_004.phpt
  Zend/tests/first_class_callable/constexpr/property_initializer.phpt
  Zend/tests/first_class_callable/constexpr/property_initializer_scope_001.phpt
  Zend/tests/first_class_callable/constexpr/property_initializer_scope_002.phpt
  Zend/tests/first_class_callable/constexpr/property_initializer_scope_003.phpt
  Zend/tests/first_class_callable/constexpr/static_call.phpt
  Zend/tests/first_class_callable/constexpr/static_call_self.phpt
  Zend/tests/first_class_callable/constexpr/static_property_initializer.phpt
  Zend/tests/first_class_callable/constexpr/userland.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_language_parser.y
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/zend_file_cache.c
  ext/opcache/zend_persist.c
  ext/opcache/zend_persist_calc.c
Labels: RFC, Category: Engine, Extension: opcache, ABI break

#17845 ext/sockets: php_set_inet*_addr using zend_string instead.
  ext/sockets/conversions.c
  ext/sockets/multicast.c
  ext/sockets/sockaddr_conv.c
  ext/sockets/sockaddr_conv.h
  ext/sockets/sockets.c
Labels: Extension: sockets

#17871 ext/sockets: multicast socket option helper change to zval_try_get_tm…
  ext/sockets/multicast.c
Labels: Extension: sockets

#17889 Avoid unnecessary string refcounting in ext/dom
  ext/dom/document.c
  ext/dom/node.c
  ext/dom/xpath_callbacks.c
Labels: Extension: dom

#17893 Avoid unnecessary string refcounting in ext/pcre
  ext/pcre/php_pcre.c
Labels: Extension: pcre

#17892 Avoid unnecessary string refcounting in ext/mbstring
  ext/mbstring/mbstring.c
Labels: Extension: mbstring

#17887 ext/bz2: bzcompress/bzdecompress check inputs lengths beforehand.
  ext/bz2/bz2_filter.c
Labels: Extension: bz2

#17902 Avoid string copies for date/time format in firebird
  ext/pdo_firebird/firebird_driver.c
  ext/pdo_firebird/firebird_statement.c
  ext/pdo_firebird/php_pdo_firebird_int.h
Labels: Extension: pdo_firebird

#17906 Remove pointless call to zval_ptr_dtor() in sqlite3
  ext/sqlite3/sqlite3.c
Labels: Extension: sqlite3

#17835 Fix GH-17715: Handle preloaded internal function runtime cache
  NEWS
  Zend/zend_enum.c
  Zend/zend_map_ptr.h
  ext/opcache/ZendAccelerator.c
  ext/opcache/ZendAccelerator.h
  ext/opcache/tests/preload_enum_observed.phpt
  ext/opcache/zend_accelerator_module.c
  ext/opcache/zend_persist.c
Labels: Category: Engine, Extension: opcache, ABI break

#17924 Revert "ext/sockets: follow-up on AF_PACKET support."
  NEWS
  ext/sockets/config.m4
  ext/sockets/php_sockets.h
  ext/sockets/sockets.c
  ext/sockets/sockets.stub.php
  ext/sockets/sockets_arginfo.h
  ext/sockets/tests/socket_afpacket.phpt
Labels: Category: Build System, Extension: sockets, ABI break

#17884 GDB: apply ast pretty printing to specialized structures
  main/debug_gdb_scripts.c
  scripts/gdb/php_gdb.py
Labels: Category: Build System

#17914 Fix `ReflectionFunction::isDeprecated()` for materialized `__call()`
  NEWS
  Zend/zend_closures.c
  ext/reflection/tests/ReflectionFunction_isDeprecated_magic_call.phpt
Labels: Category: Engine, Extension: reflection

#17949 Fix branch target in zend_jit_push_call_frame()
  ext/opcache/jit/zend_jit_arm64.dasc
Labels: Extension: opcache

#17882 Change openssl_x509_verify test to use cert generator
  ext/openssl/tests/CertificateGenerator.inc
  ext/openssl/tests/openssl_x509_verify.phpt
Labels: Extension: openssl

#17441 Use pkg-config for ext/ldap without a directory
  ext/ldap/config.m4
Labels: Category: Build System, Extension: ldap
