Repository php/php-src, pull requests merged in 2025-05, with the labels that each got.

#18470 Update return types of transliterator_get_error_code(), transliterator_get_error_message(), TransLiterator::getErrorCode(), and TransLiterator::getErrorMessage()
  UPGRADING
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/transliterator/transliterator.stub.php
  ext/intl/transliterator/transliterator_arginfo.h
  ext/intl/transliterator/transliterator_methods.c
Labels: Extension: intl

#18477 ext/intl: Fix for the issue where strlen could potentially become negative
  ext/intl/grapheme/grapheme_string.c
Labels: Extension: intl

#18487 GH-18344 add Locale::addLikelySubtags/Locale::minimizeSubtags support.
  NEWS
  UPGRADING
  ext/intl/locale/locale.stub.php
  ext/intl/locale/locale_arginfo.h
  ext/intl/locale/locale_methods.c
  ext/intl/php_intl.stub.php
  ext/intl/php_intl_arginfo.h
  ext/intl/tests/locale_subtags.phpt
Labels: Extension: intl

#18491 Fix fuzzer support after CALL VM changes
  sapi/fuzzer/fuzzer-execute-common.h
Labels: SAPI: fuzzer

#18501 ext/intl: use RETURN_NEW_STR for intl_get*id_windows_id().
  ext/intl/timezone/timezone_methods.cpp
Labels: Extension: intl

#18465 gen_stub: ZEND_ACC_NODISCARD is for PHP 8.5+
  build/gen_stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Extension: zend_test

#18498 Drop name from mysqli_prop_handler
  ext/mysqli/mysqli.c
Labels: Extension: mysqli

#18502 ext/standard: gethostbyaddr/gethostbyname using *NEW_STR flavor.
  ext/standard/dns.c
Labels: Extension: standard

#18503 ext/pgsql: globals data struct rework/size reduction
  ext/pgsql/php_pgsql.h
Labels: Extension: pgsql

#18499 Use specialized functions/macros to reduce code size in ext/random
  ext/random/randomizer.c
Labels: Extension: random

#18282 Init OpenSSL libctx and use it for pkey
  ext/openssl/openssl.c
  ext/openssl/openssl_backend_common.c
  ext/openssl/openssl_backend_v1.c
  ext/openssl/openssl_backend_v3.c
  ext/openssl/php_openssl.h
  ext/openssl/php_openssl_backend.h
Labels: Extension: openssl

#18210 [RFC] Implement array_first() and array_last()
  NEWS
  UPGRADING
  ext/standard/array.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/tests/array/array_first_last.phpt
  ext/standard/tests/array/array_first_last_errors.phpt
Labels: RFC, Extension: standard, ABI break

#18518 ext/standard/md5: Improve types
  ext/standard/md5.c
  ext/standard/md5.h
Labels: Extension: standard, ABI break

#18109 gen_stub: various simplifications and clean up (4)
  build/gen_stub.php
Labels: Category: Build System

#18507 gen_stub: Fix `ce_flags` generation for compatibility mode
  build/gen_stub.php
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
Labels: Category: Build System, Extension: zend_test

#18525 ext/hash: tests for md5 and sha1 compatibility
  ext/hash/tests/md5.phpt
  ext/hash/tests/sha1.phpt
Labels: Extension: hash

#18527 Fix visibility of whitespace in config output
  sapi/cli/php_cli.c
Labels: SAPI: cli

#18521 standard: Take `zend.assertions` into account for dynamic calls to `assert()`
  NEWS
  ext/standard/assert.c
  ext/standard/tests/assert/gh18509.phpt
Labels: Extension: standard

#18522 standard: Remove `php_std_date()` C API
  UPGRADING.INTERNALS
  ext/standard/datetime.c
  ext/standard/datetime.h
  ext/standard/php_standard.h
Labels: Extension: standard, ABI break

#18537 Fix OSS-Fuzz #416302790
  Zend/tests/constants/oss_fuzz_416302790.phpt
  Zend/zend_language_parser.y
Labels: Category: Engine

#18382 ext/date: various array optimisations.
  ext/date/php_date.c
Labels: Extension: date

#18413 Added `zend_simd.h`
  Zend/zend_simd.h
  ext/opcache/ZendAccelerator.c
  ext/standard/string.c
  ext/standard/url.c
Labels: Category: Engine, Extension: bcmath, Extension: opcache, Extension: standard, ABI break

#18574 Backport lexbor/lexbor@814e0bce970eb95d553ae1a4ba88b26ba8102d12
  ext/dom/lexbor/lexbor/dom/interfaces/element.c
Labels: Extension: dom

#18587 Remove ZEND_ACC_USE_GUARDS from hooks
  Zend/zend_inheritance.c
Labels: Category: Engine

#18571 zend_vm: Add OPcode specialization for `=== []`
  UPGRADING
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  Zend/zend_vm_handlers.h
Labels: Category: Engine, ABI break

#18578 fix: dangling opline in ZEND_INIT_ARRAY
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Labels: Category: Engine

#18594 Fix deprecation warning for libxml SAX header
  ext/dom/document.c
Labels: Extension: dom

#18442 Improve performance of instantiating exceptions/errors
  UPGRADING
  Zend/zend_exceptions.c
Labels: Category: Engine

#18164 Use win32 glob implementation on all platforms
  Zend/Optimizer/zend_func_infos.h
  configure.ac
  ext/ffi/ffi.c
  ext/opcache/zend_accelerator_blacklist.c
  ext/spl/spl_directory.c
  ext/spl/spl_directory.stub.php
  ext/spl/spl_directory_arginfo.h
  ext/standard/basic_functions.c
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/standard/dir.c
  ext/standard/dir.stub.php
  ext/standard/dir_arginfo.h
  ext/standard/php_dir_int.h
  ext/zip/php_zip.c
  main/charclass.h
  main/php_glob.c
  main/php_glob.h
  main/streams/glob_wrapper.c
  main/streams/plain_wrapper.c
  sapi/fpm/fpm/fpm_conf.c
  win32/build/config.w32
  win32/build/config.w32.h.in
  win32/glob.h
Labels: Category: Build System, SAPI: fpm, Extension: ffi, Extension: opcache, Extension: spl, Extension: standard, Extension: zip, Category: Optimizer, ABI break

#18629 Fix build on Apple Clang 17+
  Zend/zend_cpuinfo.h
Labels: Category: Engine, ABI break

#18647 ext/tidy: simplify tidy_instantiate
  ext/tidy/tidy.c
Labels: Extension: tidy

#18646 ext/mbstring: mb_ereg*_replace fix leak on failed callback.
  ext/mbstring/php_mbregex.c
Labels: Extension: mbstring

#18636 Avoid string copies in ext/intl after string conversion
  UPGRADING
  ext/intl/collator/collator_convert.c
  ext/intl/intl_convert.c
  ext/intl/intl_convert.h
Labels: Extension: intl

#18650 Pass hash table directly in tokenizer
  ext/tokenizer/tokenizer.c
Labels: Extension: tokenizer

#18657 ext/soap: SoapServer::handle() reduce retval scope.
  ext/soap/soap.c
Labels: Extension: soap

#18464 Reapply GH-17712 with a fix for internal class constants
  NEWS
  Zend/tests/attributes/deprecated/class_constants/gh17711.phpt
  Zend/tests/constants/gh18463-class-constant.phpt
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_constants.c
  Zend/zend_constants.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/ZendAccelerator.c
Labels: Category: Engine, Extension: opcache, ABI break

#18626 Small change SIMD codes
  ext/mbstring/mbstring.c
  ext/opcache/zend_accelerator_util_funcs.c
Labels: Extension: mbstring, Extension: opcache

#18653 Fix GH-18634: Show warning when saving session if a pipe character is used in one of the $_SESSION keys
  UPGRADING
  ext/session/session.c
  ext/session/tests/gh18634.phpt
  ext/session/tests/gh18634_2.phpt
Labels: Extension: session

#18679 ext/sockets: socket_create_pair() simplify workflow.
  ext/sockets/sockets.c
Labels: Extension: sockets

#18684 Use zend_array_is_list() in soap instead of own is_map()
  ext/soap/php_encoding.c
Labels: Extension: soap

#18687 Minor improvements in SOAP __doRequest dispatch
  ext/soap/soap.c
Labels: Extension: soap

#18681 ext/sockets: Use zval_is_true() instead of converting to boolean
  ext/sockets/multicast.c
Labels: Extension: sockets

#18688 zend_ast: Add parentheses around IIFE in zend_ast_export()
  NEWS
  Zend/tests/arrow_functions/007.phpt
  Zend/tests/enum/ast-dumper.phpt
  Zend/tests/functions/007.phpt
  Zend/tests/match/009_ast_export.phpt
  Zend/zend_ast.c
Labels: Category: Engine

#18698 ext/soap: Replace single usage of CHECK_XML_NULL with FIND_XML_NULL
  ext/soap/php_encoding.c
Labels: Extension: soap

#18683 ext/pgsql: Stop using useless convert_to_boolean() API
  ext/pgsql/pgsql.c
Labels: Extension: pgsql

#18703 zend_ast.c: use `smart_str_appendc` for appending single characters
  Zend/zend_ast.c
Labels: Category: Engine

#18702 Get rid of redundant SOAP globals
  ext/soap/php_encoding.c
  ext/soap/php_sdl.c
  ext/soap/php_soap.h
  ext/soap/soap.c
Labels: Extension: soap

#18699 Fix GH-18695: float numbers zero fraction is now preserved in zend_ast_export()
  NEWS
  Zend/tests/ast/ast_serialize_floats.phpt
  Zend/zend_ast.c
Labels: Category: Engine

#18719 Fix Exception constructor optimization after https://github.com/php/php-src/pull/18442
  Zend/tests/exceptions/exception_027.phpt
  Zend/tests/exceptions/exception_028.phpt
  Zend/zend_exceptions.c
Labels: Category: Engine
