Repository php/php-src, pull requests merged in 2025-07, with the labels that each got.

#19009 uri: Do not create new `UrlValidationErrorType` objects
  NEWS
  ext/uri/php_lexbor.c
  ext/uri/tests/054.phpt
Labels: Extension: uri

#19008 random: Fix error message formatting for `Randomizer::getFloat()`
  ext/random/randomizer.c
  ext/random/tests/03_randomizer/methods/getFloat_error.phpt
Labels: Extension: random

#19011 Zend: Fix anonymous closure names
  Zend/tests/closures/closure_016.phpt
  Zend/zend_API.c
  tests/output/ob_013.phpt
Labels: Category: Engine

#19005 fix ldap.h detection without pkgconfig
  ext/ldap/config.m4
Labels: Category: Build System, Extension: ldap

#19019 Zend: `const`ify various parameters in zend_object_handlers and zend_lazy_objects
  Zend/zend_lazy_objects.c
  Zend/zend_lazy_objects.h
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
Labels: Category: Engine, ABI break

#19015 Minor soap compressed response cleanups
  ext/soap/php_http.c
Labels: Extension: soap

#18992 avoid false failure for long path
  sapi/fpm/tests/socket-uds-too-long-filename-start.phpt
Labels: Category: Tests, SAPI: fpm

#19033 ext/standard/string.c: don't use `STR_EMPTY_ALLOC()`
  ext/standard/string.c
Labels: Extension: standard

#18836 Add the Uri\Rfc3986\Uri class to ext/uri without wither support
  ext/uri/config.m4
  ext/uri/config.w32
  ext/uri/php_uri.c
  ext/uri/php_uri.stub.php
  ext/uri/php_uri_arginfo.h
  ext/uri/php_uri_common.c
  ext/uri/php_uri_common.h
  ext/uri/php_uriparser.c
  ext/uri/php_uriparser.h
  ext/uri/tests/003.phpt
  ext/uri/tests/004.phpt
  ext/uri/tests/005.phpt
  ext/uri/tests/006.phpt
  ext/uri/tests/007.phpt
  ext/uri/tests/008.phpt
  ext/uri/tests/009.phpt
  ext/uri/tests/010.phpt
  ext/uri/tests/011.phpt
  ext/uri/tests/012.phpt
  ext/uri/tests/013.phpt
  ext/uri/tests/014.phpt
  ext/uri/tests/015.phpt
  ext/uri/tests/018.phpt
  ext/uri/tests/019.phpt
  ext/uri/tests/021.phpt
  ext/uri/tests/031.phpt
  ext/uri/tests/032.phpt
  ext/uri/tests/033.phpt
  ext/uri/tests/034.phpt
  ext/uri/tests/035.phpt
  ext/uri/tests/036.phpt
  ext/uri/tests/038.phpt
  ext/uri/tests/039.phpt
  ext/uri/tests/040.phpt
  ext/uri/tests/041.phpt
  ext/uri/tests/042.phpt
  ext/uri/tests/043.phpt
  ext/uri/tests/045.phpt
  ext/uri/tests/046.phpt
  ext/uri/tests/047.phpt
  ext/uri/tests/048.phpt
  ext/uri/tests/049.phpt
  ext/uri/tests/050.phpt
  ext/uri/tests/051.phpt
  ext/uri/tests/055.phpt
Labels: Category: Build System, Category: Engine, ABI break, Extension: uri

#19030 sapi/fuzzer: Fetch function and call it directly instead of using a zval to hold the name
  sapi/fuzzer/fuzzer-execute-common.h
  sapi/fuzzer/fuzzer-sapi.c
Labels: SAPI: fuzzer

#19041 ext/session: Various refactorings
  ext/session/php_session.h
  ext/session/session.c
Labels: Extension: session, ABI break

#19039 Update re2c minimum versions in Windows checks and docs
  docs/release-process.md
  win32/build/confutils.js
Labels: Category: Build System

#19058 Autoconf: Move getlogin check for HAVE_GETLOGIN to ext/posix
  configure.ac
  ext/posix/config.m4
Labels: Category: Build System, Extension: posix

#19029 Make `zend_register_*_constant()` functions return pointers, use them
  UPGRADING.INTERNALS
  Zend/zend_constants.c
  Zend/zend_constants.h
  Zend/zend_constants_arginfo.h
  build/gen_stub.php
  ext/curl/curl_arginfo.h
  ext/date/php_date_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/enchant/enchant_arginfo.h
  ext/filter/filter_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/pgsql/pgsql_arginfo.h
  ext/random/random_arginfo.h
  ext/soap/soap_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/standard/file_arginfo.h
Labels: Category: Build System, Category: Engine, Extension: curl, Extension: date, Extension: dom, Extension: enchant, Extension: filter, Extension: mysqli, Extension: pgsql, Extension: soap, Extension: standard, Extension: random, ABI break

#19034 Remove old zend_string compatibility aliases
  UPGRADING.INTERNALS
  Zend/zend_string.h
Labels: Category: Engine, ABI break

#19077 Use C23 unreachable() when possible
  Zend/zend_portability.h
Labels: Category: Engine, ABI break

#10809 pdo_odbc: Don't fetch 256 byte blocks for long columns
  NEWS
  UPGRADING
  ext/pdo_odbc/odbc_stmt.c
Labels: Extension: pdo_odbc

#19096 Remove unnecessary semicolon in match rule
  Zend/zend_language_parser.y
Labels: Category: Engine

#19112 Refactor newline handling in zend_scan_escape_string to use HANDLE_NEWLINE macro
  Zend/zend_language_scanner.l
Labels: Category: Engine

#19105 ext/gd: Make TGA always available
  ext/gd/config.m4
  ext/gd/config.w32
  ext/gd/gd.c
  ext/gd/gd.stub.php
  ext/gd/gd_arginfo.h
  ext/gd/tests/imagecreatefromtga_basic.phpt
  ext/gd/tests/imagecreatefromtga_variation.phpt
Labels: Category: Build System, Extension: gd

#19115 ext/gd: Make BMP always available
  Zend/Optimizer/zend_func_infos.h
  ext/gd/config.m4
  ext/gd/config.w32
  ext/gd/gd.c
  ext/gd/gd.stub.php
  ext/gd/gd_arginfo.h
  ext/gd/tests/bug77391.phpt
  ext/gd/tests/imagebmp_basic.phpt
  ext/gd/tests/imagecreatefrombmp_basic.phpt
  ext/gd/tests/imagecreatefromstring_bmp.phpt
Labels: Category: Build System, Extension: gd, Category: Optimizer

#19116 Autotools, ext/gd: Ensure test program compiles without warnings
  ext/gd/config.m4
Labels: Category: Build System, Extension: gd

#19109 Fix missing strnlen symbol on Solaris 10
  Zend/Zend.m4
  configure.ac
  main/php_glob.c
Labels: Category: Build System, Category: Engine

#19075 Arginfo: add and use known strings for attributes
  Zend/zend_constants_arginfo.h
  Zend/zend_string.h
  build/gen_stub.php
  ext/curl/curl_arginfo.h
  ext/date/php_date_arginfo.h
  ext/dom/php_dom_arginfo.h
  ext/enchant/enchant_arginfo.h
  ext/filter/filter_arginfo.h
  ext/hash/hash_arginfo.h
  ext/intl/formatter/formatter_arginfo.h
  ext/intl/php_intl_arginfo.h
  ext/libxml/libxml_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/odbc/odbc_arginfo.h
  ext/openssl/openssl_arginfo.h
  ext/pgsql/pgsql_arginfo.h
  ext/random/random_arginfo.h
  ext/reflection/php_reflection_arginfo.h
  ext/shmop/shmop_arginfo.h
  ext/soap/soap_arginfo.h
  ext/spl/spl_directory_arginfo.h
  ext/spl/spl_fixedarray_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/standard/file_arginfo.h
  ext/xml/xml_arginfo.h
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Extension: openssl, Category: Engine, Extension: intl, Extension: curl, Extension: date, Extension: dom, Extension: enchant, Extension: filter, Extension: hash, Extension: libxml, Extension: mysqli, Extension: odbc, Extension: pgsql, Extension: reflection, Extension: shmop, Extension: soap, Extension: spl, Extension: standard, Extension: xml, Extension: zip, Extension: random, ABI break

#19131 ext/xml: Suppress libxml deprecation for `_xmlParserCtxt.inState`
  ext/xml/compat.c
Labels: Extension: xml

#19137 hash: Use zend_string_efree() where possible
  ext/hash/hash.c
Labels: Extension: hash

#18984 Add support for CURLINFO_CONN_ID in curl_getinfo()
  UPGRADING
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/interface.c
  ext/curl/tests/curl_getinfo_CURLINFO_CONN_ID.phpt
Labels: Extension: curl

#19145 zend_objects: Remove unnecessary refcounting when calling `__clone()`
  Zend/zend_objects.c
Labels: Category: Engine

#19147 Add support for CURLINFO_QUEUE_TIME_T in curl_getinfo()
  UPGRADING
  ext/curl/curl.stub.php
  ext/curl/curl_arginfo.h
  ext/curl/interface.c
  ext/curl/tests/curl_getinfo_CURLINFO_QUEUE_TIME_T.phpt
Labels: Extension: curl

#19150 ext/standard/password: Use zend_string_efree() where possible
  ext/standard/password.c
Labels: Extension: standard

#19149 Deduplicate error-handling code in finfo_open
  ext/fileinfo/fileinfo.c
Labels: Extension: fileinfo

#18747 RFC: Clone with v2
  NEWS
  UPGRADING
  Zend/tests/clone/clone_with_001.phpt
  Zend/tests/clone/clone_with_002.phpt
  Zend/tests/clone/clone_with_003.phpt
  Zend/tests/clone/clone_with_004.phpt
  Zend/tests/clone/clone_with_005.phpt
  Zend/tests/clone/clone_with_006.phpt
  Zend/tests/clone/clone_with_007.phpt
  Zend/tests/clone/clone_with_008.phpt
  Zend/tests/clone/clone_with_009.phpt
  Zend/tests/clone/clone_with_010.phpt
  Zend/tests/clone/clone_with_011.phpt
  Zend/tests/clone/clone_with_012.phpt
  Zend/tests/clone/clone_with_013.phpt
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
  Zend/zend_iterators.c
  Zend/zend_object_handlers.c
  Zend/zend_object_handlers.h
  Zend/zend_objects.c
  Zend/zend_objects.h
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/com_dotnet/com_handlers.c
  ext/com_dotnet/com_saproxy.c
Labels: RFC, Category: Engine, Extension: com_dotnet, ABI break

#19156 zend_API: Make `scope` a `const zend_class_entry*` for `zend_update_property_*()`
  Zend/zend_API.c
  Zend/zend_API.h
Labels: Category: Engine, ABI break

#19158 streams: Re-add support for arbitrary metadata for stream notifier functions
  NEWS
  UPGRADING.INTERNALS
  ext/standard/streamsfuncs.c
  main/streams/php_stream_context.h
Labels: Extension: standard, ABI break

#19164 ext/intl: Refactor IntlRuleBasedBreakIterator::__construct()
  ext/intl/breakiterator/rulebasedbreakiterator_methods.cpp
Labels: Extension: intl

#19163 ext/intl: using a bit more modern c++ memory management features.
  ext/intl/dateformat/dateformat_format_object.cpp
Labels: Extension: intl

#19159 RM docs: Update social media annoncement process
  docs/release-process.md
Labels: Category: Documentation

#19183 Disable set_error_handler in fuzzer
  sapi/fuzzer/fuzzer-sapi.c
Labels: SAPI: fuzzer

#19179 ext/intl: reducing raw pointer usage in C++ part, using smart ones in…
  ext/intl/calendar/gregoriancalendar_methods.cpp
Labels: Extension: intl

#19193 zend: ZEND_NONSTRING for clang >= 20 support
  Zend/zend_portability.h
Labels: Category: Engine, ABI break

#19198 Fix GH-19197: session build fails on system with memcpy as macro.
  ext/session/session.c
Labels: Extension: session

#19046 Fix GH-19044: Protected properties are not scoped according to their prototype
  NEWS
  Zend/tests/asymmetric_visibility/gh19044.phpt
  Zend/tests/gh19044.phpt
  Zend/tests/property_hooks/gh19044-1.phpt
  Zend/tests/property_hooks/gh19044-2.phpt
  Zend/tests/property_hooks/gh19044-3.phpt
  Zend/tests/property_hooks/gh19044-4.phpt
  Zend/tests/property_hooks/gh19044-5.phpt
  Zend/tests/property_hooks/gh19044-6.phpt
  Zend/tests/property_hooks/gh19044-8.phpt
  Zend/zend_object_handlers.c
Labels: Category: Engine

#18980 Add `ReflectionProperty::getMangledName()`
  NEWS
  UPGRADING
  ext/reflection/php_reflection.c
  ext/reflection/php_reflection.stub.php
  ext/reflection/php_reflection_arginfo.h
  ext/reflection/tests/ReflectionProperty_getMangledName_basic.phpt
  ext/reflection/tests/ReflectionProperty_getMangledName_dynamic.phpt
  ext/reflection/tests/ReflectionProperty_getMangledName_hooks.phpt
  ext/reflection/tests/ReflectionProperty_getMangledName_inheritance.phpt
  ext/reflection/tests/ReflectionProperty_getMangledName_instance.phpt
  ext/reflection/tests/ReflectionProperty_getMangledName_override.phpt
Labels: Waiting on Author, Extension: reflection

#19192 Fix unterminated string GCC warnings in mbstring
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/mbfilter_utf8.c
Labels: Extension: mbstring

#19216 ext/intl: GregorianCalendar using C++ upcasting operator.
  ext/intl/calendar/calendar_class.cpp
  ext/intl/calendar/gregoriancalendar_methods.cpp
Labels: Extension: intl

#18514 Add macos 15 to push GH action
  .github/workflows/push.yml
  ext/ctype/tests/lc_ctype_inheritance.phpt
Labels: Extension: ctype

#19234 ext/reflection: voidify `format_default_value()`
  ext/reflection/php_reflection.c
Labels: Extension: reflection

#19254 ext/sockets: cmsg data array elements using uint32_t type instead.
  ext/sockets/conversions.c
Labels: Extension: sockets

#19266 ext/intl: Split error tests out and stop relying on ut_common() testing
  ext/intl/tests/bug67397.phpt
  ext/intl/tests/bug72533.phpt
  ext/intl/tests/collator_create.phpt
  ext/intl/tests/collator_create_errors.phpt
  ext/intl/tests/collator_customization.phpt
  ext/intl/tests/collator_get_error_message.phpt
  ext/intl/tests/collator_get_invalid_attribute.phpt
  ext/intl/tests/dateformat_calendars_variant.phpt
  ext/intl/tests/dateformat_calendars_variant_icu72-1.phpt
  ext/intl/tests/dateformat_errors.phpt
  ext/intl/tests/dateformat_formatObject_error.phpt
  ext/intl/tests/dateformat_format_error.phpt
  ext/intl/tests/dateformat_format_variant3.phpt
  ext/intl/tests/dateformat_set_timezone_id3.phpt
  ext/intl/tests/dateformat_set_timezone_id_icu72-1.phpt
  ext/intl/tests/formatter_get_error.phpt
  ext/intl/tests/formatter_get_set_pattern2.phpt
  ext/intl/tests/formatter_set_invalid_pattern.phpt
  ext/intl/tests/gh17469.phpt
  ext/intl/tests/locale_compose_locale.phpt
  ext/intl/tests/locale_compose_locale_errors.phpt
  ext/intl/tests/msgfmt_errors.phpt
  ext/intl/tests/msgfmt_format.phpt
  ext/intl/tests/msgfmt_format_error1.phpt
  ext/intl/tests/msgfmt_format_error2.phpt
  ext/intl/tests/msgfmt_format_error3.phpt
  ext/intl/tests/msgfmt_format_error4.phpt
  ext/intl/tests/msgfmt_format_error5.phpt
  ext/intl/tests/msgfmt_format_error6.phpt
  ext/intl/tests/msgfmt_format_message_errors.phpt
  ext/intl/tests/msgfmt_get_set_pattern.phpt
  ext/intl/tests/msgfmt_parse.phpt
  ext/intl/tests/msgfmt_parse_message_errors.phpt
  ext/intl/tests/msgfmt_set_pattern_syntax_error.phpt
  ext/intl/tests/normalizer_get_raw_decomposition.phpt
  ext/intl/tests/resourcebundle_create.phpt
  ext/intl/tests/resourcebundle_create_error.phpt
  ext/intl/tests/resourcebundle_get_errors.phpt
  ext/intl/tests/resourcebundle_individual.phpt
  ext/intl/tests/timezone_IDforWindowsID_basic.phpt
  ext/intl/tests/timezone_IDforWindowsID_basic_icu58_1.phpt
  ext/intl/tests/timezone_IDforWindowsID_basic_icu76_1.phpt
  ext/intl/tests/timezone_IDforWindowsID_error.phpt
Labels: Extension: intl

#19241 Arginfo: reuse zend_string objects for initializing attribute values
  build/gen_stub.php
  ext/date/php_date_arginfo.h
  ext/enchant/enchant_arginfo.h
  ext/filter/filter_arginfo.h
  ext/mysqli/mysqli_arginfo.h
  ext/openssl/openssl_arginfo.h
  ext/reflection/php_reflection_arginfo.h
  ext/standard/basic_functions_arginfo.h
  ext/standard/file_arginfo.h
  ext/zend_test/test_arginfo.h
  ext/zip/php_zip_arginfo.h
Labels: Category: Build System, Extension: openssl, Extension: date, Extension: enchant, Extension: filter, Extension: mysqli, Extension: reflection, Extension: standard, Extension: zend_test, Extension: zip, ABI break

#19278 Fix error recording with file cache only
  ext/opcache/ZendAccelerator.c
Labels: Extension: opcache

#19283 Fix out of tree builds
  ext/opcache/config.m4
Labels: Category: Build System, Extension: opcache

#19236 Integrate OpenSSL libctx to pwhash
  ext/openssl/config0.m4
  ext/openssl/openssl.c
  ext/openssl/openssl_pwhash.c
  ext/openssl/tests/openssl_libctx_with_zts_argon.phpt
  ext/openssl/tests/openssl_libctx_without_zts_argon.phpt
Labels: Category: Build System, Extension: openssl

#19233 ext/standard: drop old smart_string headers
  UPGRADING.INTERNALS
  ext/standard/php_smart_string.h
  ext/standard/php_smart_string_public.h
Labels: Extension: standard, ABI break

#19279 Fix exception handling in shm_put_var()
  ext/sysvshm/sysvshm.c
  ext/sysvshm/tests/serialize_exception.phpt
Labels: Extension: sysvshm

#19282 Intl: IntlListFormatter - update exception message
  ext/intl/listformatter/listformatter_class.c
  ext/intl/tests/listformatter/listformatter_error.phpt
Labels: Extension: intl

#19292 Fix fuzzer after opcache became mandatory
  sapi/fuzzer/fuzzer-execute-common.h
  sapi/fuzzer/fuzzer-function-jit.c
  sapi/fuzzer/fuzzer-tracing-jit.c
Labels: SAPI: fuzzer

#19293 ext/standard/tests/file/bug81145.phpt: unlink file before exit
  ext/standard/tests/file/bug81145.phpt
Labels: Extension: standard

#19296 #[\AllowDynamicProperties]: use fully qualified name in validation errors
  Zend/tests/attributes/allow_dynamic_properties_on_enum.phpt
  Zend/tests/attributes/allow_dynamic_properties_on_interface.phpt
  Zend/tests/attributes/allow_dynamic_properties_on_trait.phpt
  Zend/tests/readonly_classes/gh10377_1.phpt
  Zend/tests/readonly_classes/readonly_class_dynamic_property_attribute.phpt
  Zend/zend_attributes.c
Labels: Category: Engine

#19325 ensure no blacklist configured in test
  ext/opcache/tests/zzz_basic_logging.phpt
Labels: Category: Tests, Extension: opcache

#19316 Fix incorrect anonymous class type name assertion
  Zend/tests/gh19304.phpt
  Zend/zend_compile.c
Labels: Category: Engine

#19337 ext/odbc: various minor refactorings
  ext/odbc/php_odbc.c
Labels: Extension: odbc

#19336 tree: use zend_str_has_nul_byte() API
  Zend/zend_API.h
  Zend/zend_execute.c
  ext/mbstring/mbstring.c
  ext/odbc/php_odbc.c
  ext/standard/exec.c
  ext/standard/filestat.c
  ext/standard/image.c
  ext/standard/mail.c
  ext/xsl/xsltprocessor.c
  main/main.c
Labels: Category: Engine, Extension: dom, Extension: mbstring, Extension: odbc, Extension: standard, Extension: xsl, ABI break
