Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

ext/session: pass ini options to extra processes in tests
  ext/session/tests/session_regenerate_id_cookie.phpt
Owners: @Girgias

Fix preg_replace_callback_array() pattern validation
  ext/pcre/php_pcre.c
  ext/pcre/tests/preg_replace_callback_array_numeric_index_error.phpt
Owners: none

Fix exception handling in array_multisort()
  Zend/tests/array_multisort_exception.phpt
  ext/standard/array.c
Owners: @iluuu1994, @bukka

Fix access on NULL pointer in array_merge_recursive()
  Zend/tests/array_merge_recursive_next_key_overflow.phpt
  Zend/zend_execute.c
  Zend/zend_execute.h
  ext/standard/array.c
Owners: @iluuu1994, @dstogov, @bukka

Access violation while ALLOC_FALLBACK fixed
  ext/opcache/zend_shared_alloc.c
Owners: @dstogov, @iluuu1994

serialize: Fixed handling of nested object references
  ext/standard/tests/serialize/serialization_objects_019.phpt
  ext/standard/var.c
Owners: @bukka

Fix GH-11281: DateTimeZone::getName() does not include seconds in offset
  NEWS
  ext/date/php_date.c
  ext/date/tests/bug81097.phpt
  ext/date/tests/bug81565.phpt
  ext/date/tests/gh11281.phpt
Owners: @derickr

Fix loop in zend_shared_alloc_startup
  ext/opcache/zend_shared_alloc.c
Owners: @dstogov, @iluuu1994

Update versions for PHP 8.2.7RC1
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Owners: @dstogov, @bukka

PHP-8.2 is now for PHP 8.2.8-dev
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Owners: @dstogov, @bukka

Update versions for PHP 8.1.20RC1
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Owners: @dstogov, @bukka

PHP-8.1 is now for PHP 8.1.21-dev
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Owners: @dstogov, @bukka

Remove Unicode mappings files with redistribution restriction
  ext/mbstring/tests/data/BIG5.txt
  ext/mbstring/tests/data/JISX0201.txt
  ext/mbstring/tests/data/JISX0212.txt
  ext/mbstring/tests/data/KSX1001.txt
Owners: @alexdowad

Add Unicode mappings files without restriction on redistribution
  ext/mbstring/tests/data/BIG5.txt
  ext/mbstring/tests/data/JISX0201.txt
  ext/mbstring/tests/data/JISX0212.txt
  ext/mbstring/tests/data/KSX1001.txt
Owners: @alexdowad

Fix Travis failure due to different formatting (?)
  ext/dom/tests/gh11288.phpt
  ext/dom/tests/gh11289.phpt
  ext/dom/tests/gh11290.phpt
Owners: none

ext/session: pass ini options to extra processes in tests (#11294)
  ext/session/tests/session_regenerate_id_cookie.phpt
Owners: @Girgias

Fix access on NULL pointer in array_merge_recursive()
  NEWS
  Zend/tests/array_merge_recursive_next_key_overflow.phpt
  Zend/zend_execute.c
  Zend/zend_execute.h
  ext/standard/array.c
Owners: @iluuu1994, @dstogov, @bukka

Fix preg_replace_callback_array() pattern validation
  NEWS
  ext/pcre/php_pcre.c
  ext/pcre/tests/preg_replace_callback_array_numeric_index_error.phpt
Owners: none

Fix exception handling in array_multisort()
  NEWS
  Zend/tests/array_multisort_exception.phpt
  ext/standard/array.c
Owners: @iluuu1994, @bukka

Use single allocation for indirect values in array_multisort
  ext/standard/array.c
Owners: @bukka

Use zend_ast_apply in zend_eval_const_expr (#11261)
  Zend/zend_compile.c
Owners: @iluuu1994

Access violation when ALLOC_FALLBACK fixed
  ext/opcache/zend_shared_alloc.c
Owners: @dstogov, @iluuu1994

Make Clang on Windows less broken
  win32/build/confutils.js
Owners: none

Fix allocation loop in zend_shared_alloc_startup()
  NEWS
  ext/opcache/zend_shared_alloc.c
Owners: @dstogov, @iluuu1994

[skip ci] Fix linguist-generated for zend_vm_opcodes files
  .gitattributes
Owners: none

Use single allocation for indirect values in array_multisort
  ext/standard/array.c
Owners: @bukka

[skip ci] Fix release date of PHP 8.2.7
  NEWS
Owners: none

Access violation when ALLOC_FALLBACK fixed
  NEWS
  ext/opcache/zend_shared_alloc.c
Owners: @dstogov, @iluuu1994

sapi/fpm: add "pcntl" when running test depending pcntl_sigprocmask()
  sapi/fpm/tests/reload-uses-sigkill-as-last-measure.phpt
Owners: @bukka

Forward shutdown exceptions to user error handlers
  Zend/Optimizer/zend_func_infos.h
  Zend/tests/gh10695_1.phpt
  Zend/tests/gh10695_2.phpt
  Zend/tests/gh10695_3.phpt
  Zend/tests/gh10695_4.phpt
  Zend/tests/gh10695_5.phpt
  Zend/tests/gh10695_6.phpt
  Zend/tests/gh10695_7.phpt
  Zend/zend.c
  Zend/zend_execute_API.c
  ext/zend_test/test.c
  ext/zend_test/test.stub.php
  ext/zend_test/test_arginfo.h
  ext/zend_test/tests/gh10695_1.phpt
Owners: @dstogov, @iluuu1994, @kocsismate

Fix GCC 12 compilation on riscv64
  configure.ac
Owners: none

Fixup spec step 2
  ext/dom/parentnode.c
Owners: none

Fix GH-11288 and GH-11289 and GH-11290 and GH-9142: DOMExceptions and segfaults with replaceWith
  NEWS
  ext/dom/parentnode.c
  ext/dom/tests/bug80602.phpt
  ext/dom/tests/bug80602_2.phpt
  ext/dom/tests/bug80602_3.phpt
  ext/dom/tests/bug80602_4.phpt
  ext/dom/tests/gh11288.phpt
  ext/dom/tests/gh11289.phpt
  ext/dom/tests/gh11290.phpt
  ext/dom/tests/gh9142.phpt
Owners: none

Fix zend_jit_stop_counter_handlers() performance issues with protect_memory=1
  ext/opcache/jit/zend_jit_trace.c
Owners: @dstogov, @iluuu1994

Add tests for list() in assignment in array literals
  Zend/tests/gh11320_1.phpt
  Zend/tests/gh11320_2.phpt
  Zend/tests/gh11320_3.phpt
Owners: @iluuu1994

Revert "Use zend_ast_apply in zend_eval_const_expr (#11261)"
  Zend/zend_compile.c
Owners: @iluuu1994

Fix zend_jit_stop_counter_handlers() performance issues with protect_memory=1
  ext/opcache/jit/zend_jit_trace.c
Owners: @dstogov, @iluuu1994

[skip ci] Fix race condition in readline test
  ext/readline/tests/bug77812-readline.phpt
Owners: none

Implement flaky test section
  ext/standard/tests/hrtime/hrtime.phpt
  run-tests.php
Owners: @bukka

Add tests for list() in assignment in array literals
  Zend/tests/gh11320_1.phpt
  Zend/tests/gh11320_2.phpt
  Zend/tests/gh11320_3.phpt
Owners: @iluuu1994

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov
