Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov

Use known zend_string instead of C string
  ext/soap/soap.c
  ext/standard/filestat.c
  ext/standard/proc_open.c
  sapi/cli/php_cli.c
  sapi/phpdbg/phpdbg_frame.c
  sapi/phpdbg/phpdbg_prompt.c
Owners: @bukka

Use known zend_string type names instead of C string
  ext/pdo_sqlite/sqlite_statement.c
  ext/pgsql/pgsql.c
  ext/standard/proc_open.c
  ext/standard/type.c
  sapi/phpdbg/phpdbg_prompt.c
Owners: @devnexen, @bukka

Update versions for PHP 8.3.0alpha1
  NEWS
  configure.ac
  main/php_version.h
Owners: @bukka

Use known zend_string instead of C string
  Zend/zend_API.c
  Zend/zend_ast.c
  Zend/zend_attributes.c
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_enum.c
  Zend/zend_interfaces.c
  ext/curl/interface.c
  ext/dom/node.c
  ext/ftp/ftp.c
  ext/ldap/ldap.c
  ext/opcache/jit/zend_jit.c
  ext/opcache/zend_persist.c
  ext/reflection/php_reflection.c
  ext/session/session.c
  ext/soap/soap.c
  ext/sodium/libsodium.c
  ext/xml/xml.c
  main/main.c
  sapi/cli/php_cli_server.c
  sapi/phpdbg/phpdbg_frame.c
Owners: @dstogov, @iluuu1994, @adoy, @Girgias, @bukka

Fix GH-11382 add missing hash header for bin2hex
  ext/soap/php_http.c
Owners: none

Use knozn static and this zstr
  Zend/zend_API.c
  Zend/zend_compile.c
  Zend/zend_constants.c
  ext/reflection/php_reflection.c
  ext/standard/array.c
  sapi/fpm/fpm/fpm_conf.c
  sapi/phpdbg/phpdbg_watch.c
Owners: @dstogov, @iluuu1994, @bukka

Fix compile
  sapi/phpdbg/phpdbg_prompt.c
Owners: none

ensure session.sid_length have proper value for test
  ext/session/tests/session_regenerate_id_cookie.phpt
Owners: @Girgias

Disable old libxml2 hack if the version does not suffer from the bug (#11379)
  ext/dom/documentfragment.c
Owners: none

Update NEWS for PHP 8.3.0alpha1
  NEWS
Owners: none

Fix test failure for init_fcall_003.phpt without opcache
  ext/opcache/tests/jit/init_fcall_003.phpt
Owners: @dstogov, @iluuu1994

small fixes
  Zend/zend_ini_scanner.l
  ext/standard/tests/general_functions/parse_ini_string_error.phpt
Owners: @iluuu1994, @bukka

Fix GH-11382 add missing hash header for bin2hex
  ext/soap/php_http.c
Owners: none

Prepare PHP 8.2.7
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Owners: @dstogov, @bukka

Fix missing randomness check and insufficient random bytes for SOAP HTTP Digest
  ext/soap/php_http.c
Owners: none

Fix GH-11382 add missing hash header for bin2hex
  ext/soap/php_http.c
Owners: none

Update NEWS
  NEWS
Owners: none

Update NEWS
  NEWS
Owners: none

Update NEWS
  NEWS
Owners: none

Fix missing randomness check and insufficient random bytes for SOAP HTTP Digest
  NEWS
  ext/soap/php_http.c
Owners: none

Fix wrong backporting of previous soap patch
  ext/soap/php_http.c
Owners: none

Update versions for PHP 8.1.20
  NEWS
  Zend/zend.h
  configure.ac
  main/php_version.h
Owners: @dstogov, @bukka

Add example commit message to release process doc
  docs/release-process.md
Owners: none

Add PHP 8.3 to release process doc; remove 7.4
  docs/release-process.md
Owners: none

ensure session.sid_length have proper value for test
  ext/session/tests/session_regenerate_id_cookie.phpt
Owners: @Girgias

Fix initial array size in `gc_status()`
  Zend/zend_builtin_functions.c
Owners: @iluuu1994

Remove redundant assignment on nodep->ns
  ext/dom/document.c
Owners: none

[ci skip] Fix inaccurate comment
  ext/dom/parentnode.c
Owners: none

Update NEWS for PHP 8.0.29
  NEWS
Owners: none

Update versions for PHP 8.0.29
  Zend/zend.h
  configure.ac
  main/php_version.h
Owners: @dstogov, @bukka

Fix headers for release
  NEWS
Owners: none

Use a prepending strategy instead of appending in dom_set_old_ns()
  ext/dom/php_dom.c
Owners: none

Reuse namespaces from doc->oldNs if possible in dom_get_ns()
  ext/dom/php_dom.c
Owners: none

Add a test for reconciling a reused namespace
  ext/dom/tests/reconcile_reused_namespace.phpt
Owners: none

Explain why there can't be a cycle between oldNs and nsDef
  ext/dom/php_dom.c
Owners: none

ext/pgsql: adding pg_set_error_context_visibility.
  ext/pgsql/pgsql.c
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
  ext/pgsql/tests/07optional.phpt
Owners: @devnexen

Get rid of return value for php_libxml_unregister_node()
  ext/libxml/libxml.c
Owners: none

Allow final modifier when using a method from a trait
  NEWS
  UPGRADING
  Zend/tests/traits/language019.phpt
  Zend/tests/traits/language020.phpt
  Zend/zend_compile.c
Owners: @iluuu1994

Fix initial array size in `gc_status()` (#11393)
  Zend/zend_builtin_functions.c
Owners: @iluuu1994

Allow final modifier when using a method from a trait (#11394)
  NEWS
  UPGRADING
  Zend/tests/traits/language019.phpt
  Zend/tests/traits/language020.phpt
  Zend/zend_compile.c
Owners: @iluuu1994
