Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov

Remove unused non_contiguous_area variable
  sapi/cli/ps_title.c
Owners: none

Introduce zend_lookup_function()
  Zend/zend_API.c
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_execute_API.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @dstogov

Implementation of function autoloading
  Zend/tests/autoloading/function/autoload_call_basic.phpt
  Zend/tests/autoloading/function/autoload_call_invalid_name.phpt
  Zend/tests/autoloading/function/autoload_called_scope.phpt
  Zend/tests/autoloading/function/autoload_invalid_name_variable.phpt
  Zend/tests/autoloading/function/autoloader_with_closures_and_invocables.phpt
  Zend/tests/autoloading/function/destructor_call.phpt
  Zend/tests/autoloading/function/emit-parse-error-in-autoloader.phpt
  Zend/tests/autoloading/function/exceptions_during_autoloading001.phpt
  Zend/tests/autoloading/function/exceptions_during_autoloading002.phpt
  Zend/tests/autoloading/function/exceptions_during_autoloading003.phpt
  Zend/tests/autoloading/function/exceptions_during_autoloading004.phpt
  Zend/tests/autoloading/function/innacessible_methods.phpt
  Zend/tests/autoloading/function/methods.phpt
  Zend/tests/autoloading/function/missing_function_in_namespace.phpt
  Zend/tests/autoloading/function/namespaces_basic.phpt
  Zend/tests/autoloading/function/prepending.phpt
  Zend/tests/autoloading/function/register_autoloader.phpt
  Zend/tests/autoloading/function/same_class_different_instances.phpt
  Zend/tests/autoloading/function/static_methods.phpt
  Zend/tests/autoloading/function/throw_with_autoload_call_as_autoloader.phpt
  Zend/tests/autoloading/function/trampoline_autoloader.phpt
  Zend/tests/autoloading/function/trampoline_unregister_autoloader_from_list.phpt
  Zend/tests/autoloading/function/un-register_take_effect_immediately.phpt
  Zend/tests/autoloading/function/unregister_autoloader.phpt
  Zend/tests/autoloading/function/unregister_autoloader_from_list.phpt
  Zend/zend_API.c
  Zend/zend_API.h
  Zend/zend_autoload.c
  Zend/zend_autoload.h
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
  Zend/zend_execute.c
  Zend/zend_execute.h
  Zend/zend_execute_API.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @iluuu1994, @dstogov

Do not run autoloader when resolving unqualified call
  Zend/tests/autoloading/function/exceptions_during_autoloading004.phpt
  Zend/tests/autoloading/function/global_fallback001.phpt
  Zend/tests/autoloading/function/global_fallback002.phpt
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @iluuu1994, @dstogov

Deprecate BONKERS SPL behaviour
  Zend/zend_autoload.c
  ext/spl/tests/spl_autoload_002.phpt
Owners: @iluuu1994, @Girgias

Run autoloader only once for unqualified functions in a namespace
  Zend/tests/autoloading/function/exceptions_during_autoloading004.phpt
  Zend/tests/autoloading/function/global_fallback002.phpt
  Zend/tests/autoloading/function/global_fallback003.phpt
  Zend/tests/autoloading/function/global_fallback_doesnt_repeat_autoloading.phpt
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @iluuu1994, @dstogov

Autoloader fallback test should probably test.
  Zend/tests/autoloading/function/global_fallback002.phpt
Owners: @iluuu1994

Use common function for autoload_list functions
  Zend/zend_autoload.c
Owners: @iluuu1994

Make class list iterable
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
Owners: @iluuu1994

Attempt to not alias on autoloading non qualified namespace call
  Zend/Optimizer/dfa_pass.c
  Zend/Optimizer/zend_optimizer.c
  Zend/tests/autoloading/function/dynamic_local_function_pinned-to_global.phpt
  Zend/tests/autoloading/function/global_fallback_doesnt_repeat_autoloading_file1.inc
  Zend/tests/autoloading/function/global_fallback_doesnt_repeat_autoloading_file2.inc
  Zend/tests/autoloading/function/global_fallback_doesnt_repeat_autoloading_seperate_files_inclusion.phpt
  Zend/tests/autoloading/function/local_function_defined_after_pinned_to_global.phpt
  Zend/tests/autoloading/function/local_function_pinned-to_global.phpt
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_opcode.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @dstogov, @iluuu1994

Add test that properly show cases the need for pining the function
  Zend/tests/autoloading/function/global_fallback_doesnt_repeat_autoloading_file1.inc
  Zend/tests/autoloading/function/global_fallback_doesnt_repeat_autoloading_file2.inc
  Zend/tests/autoloading/function/global_fallback_doesnt_repeat_autoloading_seperate_files_inclusion.phpt
Owners: @iluuu1994

Add test for calling pinned FQN name to global
  Zend/tests/autoloading/function/local_function_pinned-to_global.phpt
Owners: @iluuu1994

Add test case showing unpinned local functions are not considered existing
  Zend/tests/autoloading/function/function_exists_unpinned_local_function_returns_false.phpt
Owners: @iluuu1994

Wrap condition that only happens when prepending autoloaders in UNEXPECTED()
  Zend/zend_autoload.c
Owners: @iluuu1994

Do quick lookup
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @dstogov

Do not compact runtime cache for calls made in a namespace
  Zend/Optimizer/compact_literals.c
  Zend/tests/autoloading/function/local_function_defined_after_pinned_to_global.phpt
Owners: @dstogov, @iluuu1994

Fix bug GH-11246 cli/get_set_process_title
  NEWS
  sapi/cli/ps_title.c
Owners: none

Fix GH-11347: Memory leak when calling a static method inside an xpath query
  NEWS
  ext/dom/tests/gh11347.phpt
  ext/dom/xpath.c
Owners: none

Fix [-Wenum-int-mismatch] compiler warnings
  ext/bcmath/libbcmath/src/bcmath.h
  ext/ffi/ffi_parser.c
Owners: @dstogov

Implement iteration cache, item cache and length cache for node list iteration
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/dom/dom_iterators.c
  ext/dom/node.c
  ext/dom/nodelist.c
  ext/dom/parentnode.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness.phpt
  ext/dom/tests/DOMDocument_item_cache_invalidation.phpt
  ext/dom/tests/DOMDocument_length_cache_invalidation.phpt
  ext/dom/tests/DOMDocument_liveness_caching_invalidation.phpt
  ext/dom/tests/DOMElement_getElementsByTagName_without_document.phpt
  ext/libxml/libxml.c
  ext/libxml/php_libxml.h
Owners: none

Use match any for ns too (note: contains bugfix for which I'll create PR)
  ext/dom/php_dom.c
Owners: none

Comments
  ext/dom/nodelist.c
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness.phpt
Owners: none

Update comment
  ext/dom/dom_iterators.c
Owners: none

Fix staleness check
  ext/dom/nodelist.c
Owners: none

Fix SimpleXML invalidations
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_simplexml.phpt
  ext/simplexml/simplexml.c
Owners: none

Move common code, update internals upgrading note with the new functions
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/dom/node.c
  ext/dom/parentnode.c
  ext/dom/php_dom.h
  ext/libxml/php_libxml.h
  ext/simplexml/simplexml.c
Owners: none

Add DOMDocument::xinclude() test for liveness
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_xinclude.phpt
Owners: none

More invalidations
  ext/dom/node.c
  ext/dom/processinginstruction.c
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_write_properties.phpt
Owners: none

Fix tree traversal and add some tests
  UPGRADING.INTERNALS
  ext/dom/dom_iterators.c
  ext/dom/nodelist.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_tree_walk.phpt
  ext/dom/tests/DOMDocument_liveness_caching_invalidation.phpt
Owners: none

Fixup extensions section
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_simplexml.phpt
Owners: none

Fix [-Wenum-int-mismatch] compiler warnings (#11352)
  ext/bcmath/libbcmath/src/bcmath.h
  ext/ffi/ffi_parser.c
Owners: @dstogov

nodep == NULL is impossible here
  ext/dom/php_dom.c
Owners: none

Get rid of index == -1 condition
  UPGRADING.INTERNALS
  ext/dom/nodelist.c
  ext/dom/php_dom.c
Owners: none

Improve test
  ext/dom/tests/DOMElement_getElementsByTagName_without_document.phpt
Owners: none

Add NULL check for detached document case
  ext/dom/php_dom.c
Owners: none

Avoid allocations and rely on interned strings if possible
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/dom/documenttype.c
  ext/dom/element.c
  ext/dom/node.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Owners: none

Use zval_ptr_dtor_nogc() for callable in ext/xslt
  ext/xsl/xsltprocessor.c
Owners: none

ext/standard/array.c: Optimize min/max functions for int/float
  ext/standard/array.c
  ext/standard/tests/array/max_int_float_optimisation.phpt
  ext/standard/tests/array/min_int_float_optimisation.phpt
Owners: @bukka

Use zend_compare
  ext/standard/array.c
Owners: @bukka

Cleanup + max()
  ext/standard/array.c
Owners: @bukka
