Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov

rm long2ip family
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Owners: @bukka

remove all other unwanted
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Owners: @bukka

strnatcasecmp is not locale safe too
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Owners: @bukka

Cacheline demote to improve performance
  Zend/zend_cpuinfo.h
  ext/opcache/jit/zend_jit.c
Owners: @iluuu1994, @dstogov

Keep the orig_path for xport stream
  NEWS
  ext/standard/tests/network/socket_get_status_basic.phpt
  ext/standard/tests/streams/stream_get_meta_data_socket_basic.phpt
  ext/standard/tests/streams/stream_get_meta_data_socket_variation1.phpt
  ext/standard/tests/streams/stream_get_meta_data_socket_variation2.phpt
  ext/standard/tests/streams/stream_get_meta_data_socket_variation3.phpt
  ext/standard/tests/streams/stream_get_meta_data_socket_variation4.phpt
  main/streams/transports.c
  main/streams/xp_socket.c
Owners: @bukka

Improve ext-openssl to generate EC keys with custom EC parameters
  ext/openssl/openssl.c
  ext/openssl/tests/ecc.phpt
Owners: @bukka

Fix delayed early binding class redeclaration error
  NEWS
  Zend/tests/delayed_early_binding_redeclaration-1.inc
  Zend/tests/delayed_early_binding_redeclaration-2.inc
  Zend/tests/delayed_early_binding_redeclaration.phpt
  ext/opcache/zend_accelerator_util_funcs.c
Owners: @iluuu1994, @dstogov

Implement delyed early binding for classes without parents
  Zend/zend_compile.c
  Zend/zend_inheritance.c
  ext/opcache/tests/gh8846-1.inc
  ext/opcache/tests/gh8846-2.inc
  ext/opcache/tests/gh8846.phpt
  ext/opcache/zend_accelerator_util_funcs.c
Owners: @iluuu1994, @dstogov

Fix GH-11188: Error when building TSRM in ARM64
  TSRM/TSRM.c
  TSRM/TSRM.h
Owners: none

Address review comments
  ext/exif/exif.c
Owners: none

Fix #97836: Segfault in concat_function
  Zend/zend_operators.c
Owners: @iluuu1994

Add an additional test for concat_function for interned strings
  Zend/tests/class_toString_concat_with_itself.phpt
Owners: @iluuu1994

Add an additional test for concat_function for non-interned strings
  Zend/tests/class_toString_concat_non_interned_with_itself.phpt
Owners: @iluuu1994

Add regression tests for bug #79836
  Zend/tests/bug79836.phpt
  Zend/tests/bug79836_1.phpt
  Zend/tests/bug79836_2.phpt
Owners: @iluuu1994

Add regression test for bug #81705
  Zend/tests/bug81705.phpt
Owners: @iluuu1994

Fix after rebase
  Zend/zend_operators.c
Owners: @iluuu1994

FPM: Postpone child freeing in event loop
  sapi/fpm/fpm/fpm_children.c
  sapi/fpm/fpm/fpm_children.h
  sapi/fpm/fpm/fpm_process_ctl.c
  sapi/fpm/fpm/fpm_stdio.c
Owners: @bukka

xfail deoptimized test with opcache only
  ext/zend_test/tests/observer_basic_02.phpt
Owners: none

rm more locale dependent functions
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
Owners: @bukka

Fix GH-10834: exif_read_data() cannot read smaller stream wrapper chunk sizes
  NEWS
  ext/exif/exif.c
  ext/exif/tests/gh10834.phpt
Owners: none

Fix bug #64539: FPM status - query_string not properly JSON encoded
  sapi/fpm/fpm/fpm_status.c
  sapi/fpm/tests/bug64539-status-json-encoding.phpt
  sapi/fpm/tests/response.inc
  sapi/fpm/tests/tester.inc
Owners: @bukka

Expose JSON internal function to escape string
  ext/json/json.c
  ext/json/json_encoder.c
  ext/json/php_json.h
  ext/json/php_json_encoder.h
Owners: @bukka

fix xfail
  ext/zend_test/tests/observer_basic_02.phpt
Owners: none

Fix GH-10461: Postpone FPM child freeing in event loop
  NEWS
  sapi/fpm/fpm/fpm_children.c
  sapi/fpm/fpm/fpm_children.h
  sapi/fpm/fpm/fpm_process_ctl.c
  sapi/fpm/fpm/fpm_stdio.c
Owners: @bukka

Address review comments
  main/streams/streams.c
Owners: @bukka

Simplify and comment
  Zend/zend_operators.c
Owners: @iluuu1994

downing the caches to request's level and adding cleaning those.
  ext/pgsql/pgsql.c
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
  ext/pgsql/php_pgsql.h
  ext/pgsql/tests/pg_meta_data_001.phpt
Owners: @devnexen

Expose JSON internal function to escape string
  ext/json/json.c
  ext/json/json_encoder.c
  ext/json/php_json.h
  ext/json/php_json_encoder.h
Owners: @bukka

Fix bug #64539: FPM status - query_string not properly JSON encoded
  NEWS
  sapi/fpm/fpm/fpm_status.c
  sapi/fpm/tests/bug64539-status-json-encoding.phpt
  sapi/fpm/tests/response.inc
  sapi/fpm/tests/tester.inc
Owners: @bukka

FPM: Fix memory leak for invalid primary script file handle
  NEWS
  sapi/fpm/fpm/fpm_main.c
Owners: @bukka

Use pakutoma's encoding check functions for mb_detect_encoding even in non-strict mode
  ext/mbstring/mbstring.c
  ext/mbstring/tests/gh10192_utf7.phpt
  ext/mbstring/tests/mb_detect_encoding.phpt
Owners: @alexdowad

Take order of candidate encodings into account when guessing text encoding
  ext/mbstring/mb_gpc.c
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.h
  ext/mbstring/tests/mb_detect_encoding.phpt
Owners: @alexdowad

Use shared, immutable array for return value of mb_list_encodings
  Zend/Optimizer/zend_func_infos.h
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.h
  ext/mbstring/mbstring.stub.php
  ext/mbstring/mbstring_arginfo.h
Owners: @dstogov, @alexdowad

Fix -Wenum-int-mismatch warning in ext/json/php_json_encoder.h
  ext/json/php_json_encoder.h
Owners: @bukka

Cacheline demote to improve performance (#11101)
  Zend/zend_cpuinfo.h
  ext/opcache/jit/zend_jit.c
Owners: @iluuu1994, @dstogov

Implement delayed early binding for classes without parents
  NEWS
  Zend/zend_compile.c
  Zend/zend_inheritance.c
  ext/opcache/tests/gh8846-1.inc
  ext/opcache/tests/gh8846-2.inc
  ext/opcache/tests/gh8846.phpt
  ext/opcache/zend_accelerator_util_funcs.c
Owners: @iluuu1994, @dstogov

Fix segfault in mb_strrpos/mb_strripos with ASCII encoding and negative offset
  NEWS
  ext/mbstring/libmbfl/mbfl/mbfilter.c
  ext/mbstring/tests/gh11217.phpt
Owners: @alexdowad

Added negative offset test for mb_strrpos
  ext/mbstring/tests/mb_strrpos_basic.phpt
Owners: @alexdowad

Fix #9483: Fix autoconf warnings due to old libtool (#11207)
  build/libtool.m4
Owners: none

Fix bug GH-11246 cli/get_set_process_title
  NEWS
  sapi/cli/ps_title.c
Owners: none
