Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

Track HashTableIterators for copy-on-write copies of HashTables
  Zend/tests/gh11222.phpt
  Zend/tests/gh11244-001.phpt
  Zend/tests/gh11244-002.phpt
  Zend/tests/gh11244-003.phpt
  Zend/tests/gh11244-004.phpt
  Zend/tests/gh11244-005.phpt
  Zend/zend_hash.c
  Zend/zend_types.h
Owners: @iluuu1994, @dstogov

Add ASCII check for mb_check_encoding when UTF-8
  ext/mbstring/mbstring.c
Owners: @alexdowad

Fix assertion warning message when no description is provided
  ext/standard/assert.c
  ext/standard/tests/assert/assert_warnings.phpt
Owners: @bukka

Use uint32_t for variable storing ZEND_NUM_ARGS()
  ext/standard/assert.c
Owners: @bukka

Address CR comments
  Zend/zend_types.h
Owners: @dstogov

Take order of candidate encodings into account when guessing text encoding
  ext/mbstring/mb_gpc.c
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.h
  ext/mbstring/tests/mb_detect_encoding.phpt
Owners: @alexdowad

Use pakutoma's encoding check functions for mb_detect_encoding even in non-strict mode
  ext/mbstring/mbstring.c
  ext/mbstring/tests/gh10192_utf7.phpt
  ext/mbstring/tests/mb_detect_encoding.phpt
Owners: @alexdowad

Use shared, immutable array for return value of mb_list_encodings
  Zend/Optimizer/zend_func_infos.h
  ext/mbstring/mbstring.c
  ext/mbstring/mbstring.h
  ext/mbstring/mbstring.stub.php
  ext/mbstring/mbstring_arginfo.h
Owners: @dstogov, @alexdowad

Fix GH-11245 (In some specific cases SWITCH with one default statement will cause segfault)
  Zend/Optimizer/block_pass.c
  ext/opcache/tests/opt/gh11245_1.phpt
  ext/opcache/tests/opt/gh11245_2.phpt
Owners: @dstogov, @iluuu1994

Whitespace changes
  Zend/Optimizer/block_pass.c
Owners: @dstogov

Fix #97836 and #81705: Segfault / type confusion in concat_function
  NEWS
  Zend/tests/bug79836.phpt
  Zend/tests/bug79836_1.phpt
  Zend/tests/bug79836_2.phpt
  Zend/tests/bug81705.phpt
  Zend/tests/class_toString_concat_non_interned_with_itself.phpt
  Zend/tests/class_toString_concat_with_itself.phpt
  Zend/zend_operators.c
Owners: @iluuu1994

Allow CTE on more CTE safe functions (#10771)
  ext/hash/hash.stub.php
  ext/hash/hash_arginfo.h
  ext/standard/basic_functions.stub.php
  ext/standard/basic_functions_arginfo.h
  ext/zend_test/tests/observer_basic_01.phpt
  ext/zend_test/tests/observer_basic_02.phpt
  ext/zend_test/tests/observer_closure_01.phpt
Owners: @kocsismate, @bukka

make FILE_ constants not collide with LOCK_
  ext/standard/file.h
Owners: @bukka

Allow dynamic class names in class constant const exprs
  Zend/tests/attributes/018_fatal_error_in_argument.phpt
  Zend/tests/class_on_expression_in_constant_expression.phpt
  Zend/tests/constant_expressions_dynamic_class_name_error.phpt
  Zend/tests/constexpr_class_const_dynamic_class_name_001.phpt
  Zend/tests/constexpr_class_const_dynamic_class_name_002.phpt
  Zend/zend_ast.c
  Zend/zend_compile.c
Owners: @iluuu1994

ext/gd/tests/bug45799.phpt: tweak to work with external gd.
  ext/gd/tests/bug45799.phpt
Owners: none

[skip ci] Mark frequently failing fpm test as XFAIL
  sapi/fpm/tests/bug64539-status-json-encoding.phpt
Owners: @bukka

Use zend_ast_apply in zend_eval_const_expr
  Zend/zend_compile.c
Owners: @iluuu1994

ext/gd/tests: external gd-2.3.3 compatibility.
  ext/gd/tests/bug38212-mb.phpt
  ext/gd/tests/bug38212.phpt
  ext/gd/tests/bug41442.phpt
  ext/gd/tests/bug71912-mb.phpt
  ext/gd/tests/bug71912.phpt
  ext/gd/tests/bug72339.phpt
  ext/gd/tests/bug73161.phpt
  ext/gd/tests/bug73868.phpt
  ext/gd/tests/bug73869.phpt
  ext/gd/tests/crafted_gd2.phpt
  ext/gd/tests/createfromgd2.phpt
  ext/gd/tests/gif2gd.phpt
  ext/gd/tests/jpg2gd-mb.phpt
  ext/gd/tests/jpg2gd.phpt
  ext/gd/tests/png2gd.phpt
  ext/gd/tests/xpm2gd.phpt
Owners: none

make file() flag check stricter + fix testcase
  ext/standard/file.c
  ext/standard/tests/file/file_variation6.phpt
Owners: @bukka

fix 2 more testcases
  ext/standard/tests/file/file_error.phpt
  ext/standard/tests/file/file_variation.phpt
Owners: @bukka

ext/gd/tests/bug73159.phpt: skip with external gd >= 2.3.3
  ext/gd/tests/bug73159.phpt
Owners: none

ext/gd/tests/bug73155.phpt: skip with external gd >= 2.3.3
  ext/gd/tests/bug73155.phpt
Owners: none

ext/gd/tests/bug77973.phpt: accept lowercase "Invalid"
  ext/gd/tests/bug77973.phpt
Owners: none

ext/gd/tests/bug73157.phpt: skip with external gd >= 2.3.3
  ext/gd/tests/bug73157.phpt
Owners: none

Move kana translation tables to mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/translit_kana_jisx0201_jisx0208.h
Owners: @alexdowad

Optimize conversion of CP932 text to Unicode
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
Owners: @alexdowad

Optimize conversion of SJIS-2004 text to Unicode
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/unicode_table_jis2004.h
Owners: @alexdowad

Test mb_strlen for all text encodings supported by mbstring
  ext/mbstring/tests/encoding_tests.inc
Owners: @alexdowad

Fix problem with CP949 conversion when 0xC9 precedes byte lower than 0xA1
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/tests/uhc_encoding.phpt
Owners: @alexdowad

Quick fix for resolving issue #11099
  ext/phar/Makefile.frag
Owners: none

Fix GH-11240: PHP crashes on big file with array inside
  Zend/Optimizer/zend_inference.c
Owners: @dstogov

Fix bug GH-11246 cli/get_set_process_title initialisation failure on MacOS
  NEWS
  sapi/cli/ps_title.c
Owners: none

Fix GH-11274: POST/PATCH request via file_get_contents + stream_context_create switches to GET after a HTTP 308 redirect
  ext/standard/http_fopen_wrapper.c
  ext/standard/tests/http/bug67430.phpt
  ext/standard/tests/http/gh11274.phpt
Owners: @bukka

Comment
  Zend/zend_gc.c
  Zend/zend_gc.h
Owners: @dstogov

Fix -Wstrict-prototypes warnings in fuzzer SAPI
  sapi/fuzzer/fuzzer-sapi.c
Owners: none

Fix FPM status json encoded value test
  sapi/fpm/tests/bug64539-status-json-encoding.phpt
  sapi/fpm/tests/response.inc
Owners: @bukka

Fix FPM status json encoded value test
  sapi/fpm/tests/bug64539-status-json-encoding.phpt
  sapi/fpm/tests/response.inc
Owners: @bukka

AC_PROG_CC_C99 is obsolete with autoconf >= 2.70 (#10383)
  configure.ac
Owners: none

Fix #9483: Fix autoconf warnings due to old libtool (#11207)
  build/libtool.m4
Owners: none

Fix GH-11274: POST/PATCH request via file_get_contents + stream_context_create switches to GET after a HTTP 308 redirect
  NEWS
  ext/standard/http_fopen_wrapper.c
  ext/standard/tests/http/bug67430.phpt
  ext/standard/tests/http/gh11274.phpt
Owners: @bukka

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov
