Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

Revert "Use zend_ast_apply in zend_eval_const_expr (#11261)"
  Zend/zend_compile.c
Owners: @iluuu1994

Pass in p and use in macro
  Zend/Optimizer/zend_inference.c
Owners: @dstogov

Allocate recursion_stack once
  Zend/Optimizer/zend_inference.c
Owners: @dstogov

ext/pgsql: php_pgsql_convert converts E_NOTICE to TypeError exceptions.
  ext/pgsql/pgsql.c
  ext/pgsql/tests/bug71998.phpt
  ext/pgsql/tests/bug77047.phpt
Owners: @devnexen

Shrink libxml_doc_props struct
  ext/libxml/php_libxml.h
Owners: none

Fix GCC 12 compilation on riscv64
  NEWS
  configure.ac
Owners: none

[skip ci] Add more patterns to run-tests.php retry list
  run-tests.php
Owners: none

Test one additional case
  ext/dom/tests/gh10234.phpt
Owners: none

fix: use zval_get_long() to read value of FTP context option "overwrite"
  ext/standard/ftp_fopen_wrapper.c
Owners: @bukka

use zend_is_true() instead of zval_get_long()
  ext/standard/ftp_fopen_wrapper.c
Owners: @bukka

Fix mb_strlen is wrong length for CP932 when 0x80.
  NEWS
  ext/mbstring/libmbfl/filters/mbfilter_cp932.c
  ext/mbstring/tests/mb_strlen.phpt
Owners: @alexdowad

Shrink libxml_doc_props struct (#11326)
  ext/libxml/php_libxml.h
Owners: none

Add string output escaping into zend dump (phpdbg + opcache debug)
  Zend/Optimizer/zend_dump.c
  sapi/phpdbg/tests/print_001.phpt
Owners: @dstogov

Use ZSTR_VAL macro instead direct string access
  Zend/Optimizer/zend_dump.c
Owners: @dstogov

Move "escaped_string" into local switch/case scope
  Zend/Optimizer/zend_dump.c
Owners: @dstogov

Add zend_string_release
  Zend/Optimizer/zend_dump.c
Owners: @dstogov

Add Z_STR_P macro instead direct string access
  Zend/Optimizer/zend_dump.c
Owners: @dstogov

Merge zend_string declaration and its assigment in one stmt
  Zend/Optimizer/zend_dump.c
Owners: @dstogov

Fix GH-10234: Setting DOMAttr::textContent results in an empty attribute value
  NEWS
  ext/dom/node.c
  ext/dom/tests/gh10234.phpt
Owners: none

changes from reviews
  ext/pgsql/pgsql.c
  ext/pgsql/tests/bug71998.phpt
  ext/pgsql/tests/bug77047.phpt
Owners: @devnexen

DOMNodeList::item may return DOMElement.
  ext/dom/php_dom.stub.php
Owners: @kocsismate

Add string output escaping into zend dump (phpdbg + opcache debug) (#11337)
  Zend/Optimizer/zend_dump.c
  sapi/phpdbg/tests/print_001.phpt
Owners: @dstogov

Fix GH-11336: php still tries to unlock the shared memory ZendSem with opcache.file_cache_only=1 but it was never locked
  ext/opcache/ZendAccelerator.c
  ext/opcache/zend_shared_alloc.c
Owners: @dstogov, @iluuu1994

DOMNodeList::item may return DOMElement.
  ext/dom/php_dom.stub.php
Owners: @kocsismate

Fix spec compliance error for DOMDocument::getElementsByTagNameNS
  ext/dom/php_dom.c
  ext/dom/tests/DOMDocument_getElementsByTagNameNS_match_any_namespace.phpt
Owners: none

Fix return value in stub file for DOMNodeList::item
  NEWS
  ext/dom/php_dom.stub.php
  ext/dom/php_dom_arginfo.h
Owners: @kocsismate

Fix DOMElement::append() and DOMElement::prepend() hierarchy checks
  ext/dom/parentnode.c
  ext/dom/tests/DOMElement_append_hierarchy_test.phpt
  ext/dom/tests/DOMElement_prepend_hierarchy_test.phpt
Owners: none

Remove unnecessary tree setting in dom_zvals_to_fragment()
  ext/dom/parentnode.c
Owners: none

Implement dom_get_doc_props_read_only()
  ext/dom/document.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Owners: none

Update UPGRADING.INTERNALS
  UPGRADING.INTERNALS
Owners: none

Improve comment
  ext/dom/php_dom.c
Owners: none

Fix GH-11338: SplFileInfo empty getBasename with more than on slash
  ext/spl/spl_directory.c
  ext/spl/tests/gh11338.phpt
Owners: @Girgias

Fix GH-11338: SplFileInfo empty getBasename with more than one slash
  NEWS
  ext/spl/spl_directory.c
  ext/spl/tests/gh11338.phpt
Owners: @Girgias

Fix GH-11336: php still tries to unlock the shared memory ZendSem with opcache.file_cache_only=1 but it was never locked
  NEWS
  ext/opcache/ZendAccelerator.c
  ext/opcache/zend_shared_alloc.c
Owners: @dstogov, @iluuu1994

Fix spec compliance error for DOMDocument::getElementsByTagNameNS
  NEWS
  ext/dom/php_dom.c
  ext/dom/tests/DOMDocument_getElementsByTagNameNS_match_any_namespace.phpt
Owners: none

Fix DOMElement::append() and DOMElement::prepend() hierarchy checks
  NEWS
  ext/dom/parentnode.c
  ext/dom/tests/DOMElement_append_hierarchy_test.phpt
  ext/dom/tests/DOMElement_prepend_hierarchy_test.phpt
Owners: none

Remove unnecessary tree setting in dom_zvals_to_fragment()
  ext/dom/parentnode.c
Owners: none

Implement dom_get_doc_props_read_only()
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Owners: none

Fix GH-11347: Memory leak when calling a static method inside an xpath query
  ext/dom/tests/gh11347.phpt
  ext/dom/xpath.c
Owners: none

Fix mb_strlen is wrong length for CP932 when 0x80.
  ext/mbstring/libmbfl/filters/mbfilter_cp932.c
  ext/mbstring/tests/mb_strlen.phpt
Owners: @alexdowad

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov
