Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

Fix bug #81642: DOMChildNode::replaceWith() bug when replacing a node with itself
  NEWS
  ext/dom/element.c
  ext/dom/parentnode.c
  ext/dom/php_dom.h
  ext/dom/tests/bug81642.phpt
Owners: none

Fix bug #77686: Removed elements are still returned by getElementById
  NEWS
  ext/dom/document.c
  ext/dom/tests/bug77686.phpt
Owners: none

Use :- as ini interpolation fallback separator
  Zend/tests/bug70748.phpt
  Zend/zend_ini_parser.y
  Zend/zend_ini_scanner.l
  ext/standard/tests/general_functions/parse_ini_basic.data
  ext/standard/tests/general_functions/parse_ini_basic.phpt
  ext/standard/tests/general_functions/parse_ini_string_error.phpt
Owners: @iluuu1994, @bukka

Use uint32_t for the number of nodes
  UPGRADING.INTERNALS
  ext/dom/characterdata.c
  ext/dom/document.c
  ext/dom/documentfragment.c
  ext/dom/element.c
  ext/dom/parentnode.c
  ext/dom/php_dom.h
Owners: none

Test arm pg_trace
  .cirrus.yml
  .github/workflows/push.yml
Owners: @iluuu1994, @TimWolla

Set DOMAttr::$value without expanding entities
  ext/dom/attr.c
  ext/dom/tests/DOMAttr_entity_expansion.phpt
Owners: none

Factor out dom_remove_all_children()
  ext/dom/attr.c
  ext/dom/node.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Owners: none

Don't add 1 when calling xmlNodeSetContent()
  ext/dom/characterdata.c
  ext/dom/node.c
  ext/dom/processinginstruction.c
Owners: none

Also avoid entity expansion in DOMAttr::$nodeValue
  ext/dom/node.c
  ext/dom/tests/DOMAttr_entity_expansion.phpt
Owners: none

Changelog notes for DOMAttr value and nodeValue properties
  UPGRADING
Owners: none

Improve test DOMAttr_entity_expansion.phpt
  ext/dom/tests/DOMAttr_entity_expansion.phpt
Owners: none

When running FPM tests, pass -n option to php-fpm
  sapi/fpm/tests/tester.inc
Owners: @bukka

Use uint32_t for the number of nodes (#11371)
  UPGRADING.INTERNALS
  ext/dom/characterdata.c
  ext/dom/document.c
  ext/dom/documentfragment.c
  ext/dom/element.c
  ext/dom/parentnode.c
  ext/dom/php_dom.h
Owners: none

Use known zend_string pointer to check for equality instead of C strings (#11370)
  Zend/zend_API.c
  Zend/zend_closures.c
Owners: @dstogov

update error messages
  ext/pgsql/pgsql.c
  ext/pgsql/tests/bug71998.phpt
Owners: @devnexen

Use common function for container offset type errors
  Zend/tests/036.phpt
  Zend/tests/038.phpt
  Zend/tests/assign_dim_obj_null_return.phpt
  Zend/tests/bug24773.phpt
  Zend/tests/gh8821.phpt
  Zend/tests/init_array_illegal_offset_type.phpt
  Zend/tests/isset_array.phpt
  Zend/tests/offset_array.phpt
  Zend/zend.c
  Zend/zend.h
  Zend/zend_API.c
  Zend/zend_execute.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/tests/jit/assign_dim_002.phpt
  ext/spl/spl_array.c
  ext/spl/spl_fixedarray.c
  ext/spl/tests/fixedarray_001.phpt
  ext/spl/tests/fixedarray_002.phpt
  ext/spl/tests/fixedarray_003.phpt
  ext/standard/tests/array/array_key_exists_variation1.phpt
  ext/standard/tests/array/bug68553.phpt
  tests/classes/tostring_001.phpt
Owners: @iluuu1994, @dstogov, @Girgias, @bukka

Use zend_string for container variable
  Zend/zend.c
  Zend/zend.h
  Zend/zend_API.c
  Zend/zend_execute.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit_helpers.c
  ext/spl/spl_array.c
  ext/spl/spl_fixedarray.c
Owners: @dstogov, @iluuu1994, @Girgias

Consistent error messages for unsetting a string offset
  Zend/tests/bug24773.phpt
  Zend/zend.c
Owners: @iluuu1994, @dstogov

ext/pgsql: php_pgsql_convert converts E_NOTICE to TypeError/ValueError exceptions.
  NEWS
  UPGRADING
  ext/pgsql/pgsql.c
  ext/pgsql/tests/bug71998.phpt
  ext/pgsql/tests/bug77047.phpt
Owners: @devnexen

More consistent unset error message
  Zend/tests/illegal_offset_unset_isset_empty.phpt
  Zend/zend.c
  ext/spl/tests/ArrayObject_illegal_offset.phpt
Owners: @iluuu1994, @dstogov, @Girgias

Use specialized VM functions again
  Zend/zend_execute.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @dstogov

Pass access type again to string offset error function
  Zend/zend_execute.c
Owners: @dstogov

Let closure created from magic method accept named parameters
  NEWS
  UPGRADING
  Zend/tests/trampoline_closure_named_arguments.phpt
  Zend/zend_closures.c
Owners: @iluuu1994, @dstogov

Also avoid entity expansion in DOMAttr::$nodeValue
  ext/dom/node.c
  ext/dom/tests/DOMAttr_entity_expansion.phpt
Owners: none

Set DOMAttr::$value without expanding entities
  ext/dom/attr.c
  ext/dom/tests/DOMAttr_entity_expansion.phpt
Owners: none

Factor out dom_remove_all_children()
  ext/dom/attr.c
  ext/dom/node.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Owners: none

Don't add 1 when calling xmlNodeSetContent()
  ext/dom/characterdata.c
  ext/dom/node.c
  ext/dom/processinginstruction.c
Owners: none

Changelog notes for DOMAttr value and nodeValue properties
  NEWS
  UPGRADING
Owners: none

Improve test DOMAttr_entity_expansion.phpt
  ext/dom/tests/DOMAttr_entity_expansion.phpt
Owners: none

Fix test failure for init_fcall_003.phpt without opcache
  ext/opcache/tests/jit/init_fcall_003.phpt
Owners: @dstogov, @iluuu1994

Disable old libxml2 hack if the version does not suffer from the bug
  ext/dom/documentfragment.c
Owners: none

Skip serialize object recording when array paths are rc1
  ext/standard/tests/serialize/serialization_objects_019.phpt
  ext/standard/var.c
Owners: @bukka

Fix missing randomness check and insufficient random bytes for SOAP HTTP Digest
  NEWS
  ext/soap/php_http.c
Owners: none

Fix uncaught resource dtor exceptions
  Zend/zend_exceptions.c
  ext/zend_test/tests/gh10695_1.phpt
  ext/zend_test/tests/gh10695_2.phpt
Owners: @iluuu1994

Use common function for TypeError on illegal offset access (#10544)
  Zend/tests/036.phpt
  Zend/tests/038.phpt
  Zend/tests/assign_dim_obj_null_return.phpt
  Zend/tests/bug24773.phpt
  Zend/tests/gh8821.phpt
  Zend/tests/illegal_offset_unset_isset_empty.phpt
  Zend/tests/init_array_illegal_offset_type.phpt
  Zend/tests/isset_array.phpt
  Zend/tests/offset_array.phpt
  Zend/zend.c
  Zend/zend.h
  Zend/zend_API.c
  Zend/zend_execute.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
  ext/opcache/jit/zend_jit_helpers.c
  ext/opcache/tests/jit/assign_dim_002.phpt
  ext/spl/spl_array.c
  ext/spl/spl_fixedarray.c
  ext/spl/tests/ArrayObject_illegal_offset.phpt
  ext/spl/tests/fixedarray_001.phpt
  ext/spl/tests/fixedarray_002.phpt
  ext/spl/tests/fixedarray_003.phpt
  ext/standard/tests/array/array_key_exists_variation1.phpt
  ext/standard/tests/array/bug68553.phpt
  tests/classes/tostring_001.phpt
Owners: @iluuu1994, @dstogov, @Girgias, @bukka

Fixed deoptimization info for interrupt handler
  ext/opcache/jit/zend_jit_trace.c
Owners: @dstogov, @iluuu1994

Keep consistent EG(current_execute_data) after return from generator
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @dstogov

Use more appropriate types for php_array_walk() function
  ext/standard/array.c
Owners: @bukka

Use known "count" zend_string instead of C string
  Zend/zend_compile.c
  ext/ldap/ldap.c
  ext/simplexml/simplexml.c
  ext/spl/spl_array.c
  ext/spl/spl_dllist.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
Owners: @iluuu1994, @Girgias

Use known "scheme" zend_string instead of C string
  ext/iconv/iconv.c
Owners: none

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov
