Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

Elide UB
  ext/standard/array.c
  ext/standard/tests/array/max_int_float_optimisation.phpt
  ext/standard/tests/array/min_int_float_optimisation.phpt
Owners: @bukka

[skip ci] add comments
  ext/standard/array.c
Owners: @bukka

Reformat tests
  ext/standard/tests/array/max_int_float_optimisation.phpt
  ext/standard/tests/array/min_int_float_optimisation.phpt
Owners: @bukka

Fix test + int losing precision with float fix
  ext/standard/array.c
  ext/standard/tests/array/max_int_float_optimisation.phpt
  ext/standard/tests/array/min_int_float_optimisation.phpt
Owners: @bukka

[skip ci] Comments fix
  ext/standard/array.c
Owners: @bukka

ext/standard/array.c: Optimize min/max functions for int/float (#11194)
  ext/standard/array.c
  ext/standard/tests/array/max_int_float_optimisation.phpt
  ext/standard/tests/array/min_int_float_optimisation.phpt
Owners: @bukka

Use zval_ptr_dtor_nogc() for callable in ext/xslt (#11356)
  ext/xsl/xsltprocessor.c
Owners: none

Throw an exception instead
  ext/dom/php_dom.c
Owners: none

http_fopen_wrapper: fix [-Wanalyzer-deref-before-check]
  ext/standard/http_fopen_wrapper.c
Owners: @bukka

Assert zend_constant exist
  Zend/zend_enum.c
Owners: @iluuu1994

Fix file descriptor check
  Zend/zend_gdb.c
Owners: @iluuu1994

memory stream: fix [-Wanalyzer-deref-before-check]
  main/streams/memory.c
Owners: @bukka

[skip ci] Update release process to publish php-keyring.gpg in web-php
  docs/release-process.md
Owners: none

memory stream: fix [-Wanalyzer-deref-before-check]
  main/streams/memory.c
Owners: @bukka

http_fopen_wrapper: fix [-Wanalyzer-deref-before-check]
  ext/standard/http_fopen_wrapper.c
Owners: @bukka

Fix file descriptor check
  Zend/zend_gdb.c
Owners: @iluuu1994

Assert zend_constant exist
  Zend/zend_enum.c
Owners: @iluuu1994

[ci skip] NEWS
  NEWS
Owners: none

Implement iteration cache, item cache and length cache for node list iteration (#11330)
  NEWS
  UPGRADING.INTERNALS
  ext/dom/document.c
  ext/dom/documenttype.c
  ext/dom/dom_iterators.c
  ext/dom/element.c
  ext/dom/node.c
  ext/dom/nodelist.c
  ext/dom/parentnode.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/processinginstruction.c
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_simplexml.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_tree_walk.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_write_properties.phpt
  ext/dom/tests/DOMDocument_getElementsByTagName_liveness_xinclude.phpt
  ext/dom/tests/DOMDocument_item_cache_invalidation.phpt
  ext/dom/tests/DOMDocument_length_cache_invalidation.phpt
  ext/dom/tests/DOMDocument_liveness_caching_invalidation.phpt
  ext/dom/tests/DOMElement_getElementsByTagName_without_document.phpt
  ext/libxml/libxml.c
  ext/libxml/php_libxml.h
  ext/simplexml/simplexml.c
Owners: none

Remove dead code from sxe_get_element_by_name()
  ext/simplexml/simplexml.c
Owners: none

Remove double class entry variable
  ext/simplexml/simplexml.c
Owners: none

Use xmlStrEqual() instead of !xmlStrCmp()
  ext/simplexml/simplexml.c
Owners: none

No need for the double name pointer
  ext/simplexml/simplexml.c
Owners: none

Switch DOMNodeList::item() and DOMNamedNodeMap::item() to fast ZPP
  ext/dom/namednodemap.c
  ext/dom/nodelist.c
Owners: none

Add fallback value syntax for ini variables
  Zend/zend_ini_parser.y
  Zend/zend_ini_scanner.l
  ext/standard/tests/general_functions/parse_ini_basic.data
  ext/standard/tests/general_functions/parse_ini_basic.phpt
  ext/standard/tests/general_functions/parse_ini_string_error.phpt
Owners: @iluuu1994, @bukka

Fix bug #67440: append_node of a DOMDocumentFragment does not reconcile namespaces
  ext/dom/node.c
  ext/dom/parentnode.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/bug67440.phpt
Owners: none

Fix bug #81642: DOMChildNode::replaceWith() bug when replacing a node with itself
  ext/dom/element.c
  ext/dom/parentnode.c
  ext/dom/php_dom.h
  ext/dom/tests/bug81642.phpt
Owners: none

Let closure created from magic method accept named parameters
  Zend/tests/trampoline_closure_named_arguments.phpt
  Zend/zend_closures.c
Owners: @iluuu1994, @dstogov

More light-weight
  ext/dom/php_dom.c
Owners: none

Struct-pack spl_dllist_object
  ext/spl/spl_dllist.c
Owners: @Girgias

Struct-pack spl_dllist_object
  ext/spl/spl_dllist.c
Owners: @Girgias

Use xmlStrEqual() instead of !xmlStrCmp()
  ext/simplexml/simplexml.c
Owners: none

Remove double class entry variable
  ext/simplexml/simplexml.c
Owners: none

Remove dead code from sxe_get_element_by_name()
  ext/simplexml/simplexml.c
Owners: none

No need for the double name pointer
  ext/simplexml/simplexml.c
Owners: none

Fix bug #77686: Removed elements are still returned by getElementById
  ext/dom/document.c
  ext/dom/tests/bug77686.phpt
Owners: none

Switch DOMNodeList::item() and DOMNamedNodeMap::item() to fast ZPP (#11361)
  ext/dom/namednodemap.c
  ext/dom/nodelist.c
Owners: none

Compare __invoke magic method name with known zend_string pointer
  Zend/zend_API.c
  Zend/zend_closures.c
Owners: @dstogov

Compare __sleep/__wakeup magic method name with known zend_string pointer
  Zend/zend_API.c
Owners: @dstogov

Fix bug #67440: append_node of a DOMDocumentFragment does not reconcile namespaces
  NEWS
  ext/dom/node.c
  ext/dom/parentnode.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/bug67440.phpt
Owners: none

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov
