Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov

ext/gd/tests/bug66356.phpt: update expected output for external gd.
  ext/gd/tests/bug66356.phpt
Owners: none

ext/gd/tests/bug39780_extern.phpt: update for external gd-2.3.3.
  ext/gd/tests/bug39780_extern.phpt
Owners: none

ext/gd/tests/imagegd_truecolor.phpt: skip with external gd >= 2.3.3.
  ext/gd/tests/imagegd_truecolor.phpt
Owners: none

ext/gd/tests/bug77479.phpt: update for newer external gd.
  ext/gd/tests/bug77479.phpt
Owners: none

ext/gd/tests/bug77272.phpt: update expected output for external gd.
  ext/gd/tests/bug77272.phpt
Owners: none

ext/gd/tests/createfromwbmp2_extern.phpt: update for external gd-2.3.3.
  ext/gd/tests/createfromwbmp2_extern.phpt
Owners: none

ext/gd/tests/libgd00086_extern.phpt: update for external gd-2.3.3.
  ext/gd/tests/libgd00086_extern.phpt
Owners: none

Technically it's PHP_LOCK_
  ext/standard/file.h
Owners: @bukka

Fix GH-11281: DateTimeZone::getName() does not include seconds in offset
  ext/date/php_date.c
  ext/date/tests/bug81097.phpt
  ext/date/tests/bug81565.phpt
  ext/date/tests/gh11281.phpt
Owners: @derickr

Clarify comments
  Zend/Optimizer/block_pass.c
Owners: @dstogov

Fix -Wstrict-prototypes warnings in fuzzer SAPI (#11277)
  sapi/fuzzer/fuzzer-sapi.c
Owners: none

Fix GH-11099: Generating phar.php during cross-compile can't be done
  NEWS
  ext/phar/Makefile.frag
Owners: none

Remove unused variable err in mb_send_mail()
  ext/mbstring/mbstring.c
Owners: @alexdowad

Correctly handle multiple constants in typed declaration
  Zend/tests/type_declarations/typed_class_constants_ast_print.phpt
  Zend/tests/type_declarations/typed_class_constants_multiple_constants.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  Zend/zend_language_parser.y
Owners: @iluuu1994

fpm binding master and children processes to specific core(s).
  sapi/fpm/config.m4
  sapi/fpm/fpm/fpm_conf.c
  sapi/fpm/fpm/fpm_conf.h
  sapi/fpm/fpm/fpm_config.h
  sapi/fpm/fpm/fpm_unix.c
  sapi/fpm/php-fpm.conf.in
  sapi/fpm/tests/cpuaffinity-fail.phpt
  sapi/fpm/tests/cpuaffinity-range.phpt
  sapi/fpm/tests/cpuaffinity.phpt
  sapi/fpm/www.conf.in
Owners: @bukka

build
  sapi/fpm/fpm/fpm_unix.c
  sapi/fpm/php-fpm.conf.in
  sapi/fpm/tests/cpuaffinity-range.phpt
  sapi/fpm/tests/cpuaffinity.phpt
  sapi/fpm/tests/tester.inc
  sapi/fpm/www.conf.in
Owners: @bukka

FPM: refactor fpm_php_get_string_from_table() to better match usage (#11051)
  sapi/fpm/fpm/fpm_php.c
  sapi/fpm/fpm/fpm_php.h
  sapi/fpm/fpm/fpm_status.c
Owners: @bukka

Optimize conversion of CP932 text to Unicode
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
Owners: @alexdowad

Convert mbfilter_conv{,_r}_map_tbl to return bool
  ext/mbstring/libmbfl/filters/mbfilter_utf8_mobile.c
Owners: @alexdowad

Move kana translation tables to mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/translit_kana_jisx0201_jisx0208.h
Owners: @alexdowad

Optimize conversion of SJIS-2004 text to Unicode
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/libmbfl/filters/unicode_table_jis2004.h
Owners: @alexdowad

Fix problem with CP949 conversion when 0xC9 precedes byte lower than 0xA1
  ext/mbstring/libmbfl/filters/mbfilter_cjk.c
  ext/mbstring/tests/uhc_encoding.phpt
Owners: @alexdowad

Test mb_strlen for all text encodings supported by mbstring
  ext/mbstring/tests/encoding_tests.inc
Owners: @alexdowad

Remove unused variable err in mb_send_mail() (#11285)
  ext/mbstring/mbstring.c
Owners: @alexdowad

changes from feedback
  sapi/fpm/fpm/fpm_unix.c
Owners: @bukka

adding new tests
  sapi/fpm/tests/cpuaffinity-fail2.phpt
  sapi/fpm/tests/cpuaffinity-fail3.phpt
  sapi/fpm/tests/cpuaffinity-multi.phpt
Owners: @bukka

Don't break early finding the end of the environ array
  sapi/cli/ps_title.c
Owners: none

Don't break early finding the end of the environ array
  sapi/cli/ps_title.c
Owners: none

Correctly handle multiple constants in typed declaration
  Zend/tests/type_declarations/typed_class_constants_ast_print.phpt
  Zend/tests/type_declarations/typed_class_constants_multiple_constants.phpt
  Zend/zend_ast.c
  Zend/zend_ast.h
  Zend/zend_compile.c
  Zend/zend_language_parser.y
Owners: @iluuu1994

Fix missing second offset in DateTimeZone::getName()
  NEWS
  ext/date/php_date.c
  ext/date/tests/bug81097.phpt
  ext/date/tests/bug81565.phpt
  ext/date/tests/gh11281.phpt
Owners: @derickr

Adapt patch to current master
  Zend/tests/attributes/deprecated_001.phpt
  Zend/tests/attributes/deprecated_002.phpt
  Zend/tests/attributes/deprecated_003.phpt
  Zend/zend_attributes.c
  Zend/zend_attributes.stub.php
  Zend/zend_compile.c
  Zend/zend_execute.c
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @iluuu1994, @dstogov

Fix string coercion for $a .= $a
  Zend/tests/bug79836_3.phpt
  Zend/zend_operators.c
Owners: @iluuu1994

Fix string coercion for $a .= $a (#11296)
  Zend/tests/bug79836_3.phpt
  Zend/zend_operators.c
Owners: @iluuu1994

Fix concat_function use-after-free on out-of-memory error
  Zend/tests/bug79836_4.phpt
  Zend/zend_operators.c
Owners: @iluuu1994

Fix concat_function use-after-free on out-of-memory error (#11297)
  Zend/tests/bug79836_4.phpt
  Zend/zend_operators.c
Owners: @iluuu1994

Fix GH-11288 and GH-11289 and GH-11290 and GH-9142: DOMException with replaceWith
  ext/dom/parentnode.c
  ext/dom/tests/bug80602.phpt
  ext/dom/tests/bug80602_2.phpt
  ext/dom/tests/bug80602_3.phpt
  ext/dom/tests/bug80602_4.phpt
  ext/dom/tests/gh11288.phpt
  ext/dom/tests/gh11289.phpt
  ext/dom/tests/gh11290.phpt
  ext/dom/tests/gh9142.phpt
Owners: none

Remove useless condition
  Zend/Optimizer/block_pass.c
Owners: @dstogov

Fix GH-11245 (In some specific cases SWITCH with one default statement will cause segfault)
  NEWS
  Zend/Optimizer/block_pass.c
  ext/opcache/tests/opt/gh11245_1.phpt
  ext/opcache/tests/opt/gh11245_2.phpt
Owners: @dstogov, @iluuu1994

Fix the JIT buffer relocation failure at the corner case
  ext/opcache/shared_alloc_mmap.c
Owners: @dstogov, @iluuu1994

Fix the JIT buffer relocation failure at the corner case (#11266)
  ext/opcache/shared_alloc_mmap.c
Owners: @dstogov, @iluuu1994
