Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

Fix GH-11433: Unable to set CURLOPT_ACCEPT_ENCODING to NULL
  NEWS
  ext/curl/interface.c
  ext/curl/tests/curl_setopt_CURLOPT_ACCEPT_ENCODING.phpt
Owners: @adoy

Fix GH-11406: segfault with unpacking and magic method closure
  NEWS
  Zend/tests/trampoline_closure_named_arguments.phpt
  Zend/zend_closures.c
Owners: @iluuu1994, @dstogov

ext/pgsql: adding pg_set_error_context_visibility.
  NEWS
  UPGRADING
  ext/pgsql/pgsql.c
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
  ext/pgsql/tests/07optional.phpt
Owners: @devnexen

ext/pdo_pgsql: connection status update to distinguish from truly bad quality connections.
  ext/pdo_pgsql/pgsql_driver.c
Owners: none

Fix cross-compilation check in phar generation for FreeBSD
  NEWS
  ext/phar/Makefile.frag
Owners: none

ext/gd: imagerotate removes ignore_transparent argument.
  UPGRADING
  ext/gd/gd.c
  ext/gd/gd.stub.php
  ext/gd/gd_arginfo.h
Owners: @kocsismate

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov
