Repository php/php-src, changes with the owners that CODEOWNERS names for each.
All owners: @kocsismate, @iluuu1994, @TimWolla, @adoy, @derickr, @Girgias, @dstogov, @bukka, @alexdowad, @devnexen, @zeriyoshi

Suppress warning when the test run under non-root
  ext/pcntl/tests/pcntl_unshare_03.phpt
Owners: none

Keep consistent EG(current_execute_data) after return from generator (#11380)
  Zend/zend_vm_def.h
  Zend/zend_vm_execute.h
Owners: @dstogov

More usage of known zend_str instead of C string (#11381)
  Zend/zend_API.c
  Zend/zend_ast.c
  Zend/zend_attributes.c
  Zend/zend_builtin_functions.c
  Zend/zend_compile.c
  Zend/zend_constants.c
  Zend/zend_enum.c
  Zend/zend_interfaces.c
  ext/curl/interface.c
  ext/dom/node.c
  ext/ftp/ftp.c
  ext/iconv/iconv.c
  ext/ldap/ldap.c
  ext/opcache/jit/zend_jit.c
  ext/opcache/zend_persist.c
  ext/pdo_sqlite/sqlite_statement.c
  ext/pgsql/pgsql.c
  ext/reflection/php_reflection.c
  ext/session/session.c
  ext/simplexml/simplexml.c
  ext/soap/soap.c
  ext/sodium/libsodium.c
  ext/spl/spl_array.c
  ext/spl/spl_dllist.c
  ext/spl/spl_fixedarray.c
  ext/spl/spl_heap.c
  ext/standard/array.c
  ext/standard/filestat.c
  ext/standard/proc_open.c
  ext/standard/type.c
  ext/xml/xml.c
  main/main.c
  sapi/cli/php_cli.c
  sapi/cli/php_cli_server.c
  sapi/fpm/fpm/fpm_conf.c
  sapi/phpdbg/phpdbg_frame.c
  sapi/phpdbg/phpdbg_prompt.c
  sapi/phpdbg/phpdbg_watch.c
Owners: @dstogov, @iluuu1994, @adoy, @devnexen, @Girgias, @bukka

Suppress warning when the test run under non-root (#11400)
  ext/pcntl/tests/pcntl_unshare_03.phpt
Owners: none

Get rid of return value for php_libxml_unregister_node() (#11398)
  ext/libxml/libxml.c
Owners: none

Fix #79700: Bad performance with namespaced nodes due to wrong libxml assumption
  NEWS
  ext/dom/php_dom.c
  ext/dom/tests/reconcile_reused_namespace.phpt
Owners: none

Fix type confusion and parent reference
  ext/dom/element.c
Owners: none

Manually manage the lifetime of the parent
  ext/dom/element.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Owners: none

Add regression tests
  ext/dom/tests/bug70359.phpt
  ext/dom/tests/bug78577.phpt
Owners: none

Break out to a helper, and apply the use-after-free fix to xpath
  ext/dom/element.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/xpath_domnamespacenode.phpt
  ext/dom/tests/xpath_domnamespacenode_advanced.phpt
  ext/dom/xpath.c
Owners: none

Rename some things for clarity
  ext/dom/php_dom.c
  ext/dom/php_dom.h
Owners: none

Store JIT/non-JIT regex in a different PCRE cache slot
  ext/pcre/php_pcre.c
Owners: none

Add str_contains_i
  ext/standard/basic_functions_arginfo.h
  ext/standard/string.c
Owners: @bukka

Add str_contains_i
  ext/standard/basic_functions_arginfo.h
Owners: @bukka

Fix add/remove observer API with multiple observers installed
  Zend/zend_observer.c
Owners: @iluuu1994

ext/imap: Update to modern property write API
  ext/imap/php_imap.c
Owners: @Girgias

Fix GH-11406: segfault with unpacking and magic method closure
  Zend/tests/trampoline_closure_named_arguments.phpt
  Zend/zend_closures.c
Owners: @iluuu1994, @dstogov

Fix bug GH-9356: Incomplete SAN validation of IPv6 address
  NEWS
  ext/openssl/tests/san_ipv6_peer_matching.phpt
  ext/openssl/xp_ssl.c
Owners: @bukka

Fix CS and checking for IPv6 SAN verify
  ext/openssl/xp_ssl.c
Owners: @bukka

Address review comments
  ext/dom/php_dom.c
Owners: none

Fix #70359 and #78577: segfaults with DOMNameSpaceNode
  NEWS
  ext/dom/element.c
  ext/dom/php_dom.c
  ext/dom/php_dom.h
  ext/dom/tests/bug70359.phpt
  ext/dom/tests/bug78577.phpt
  ext/dom/tests/xpath_domnamespacenode.phpt
  ext/dom/tests/xpath_domnamespacenode_advanced.phpt
  ext/dom/xpath.c
Owners: none

Zend: trigger_error/restore_exception_handler/restore_error_handler becomes void as they returned true always.
  Zend/tests/015.phpt
  Zend/tests/bug46196.phpt
  Zend/zend_builtin_functions.c
  Zend/zend_builtin_functions.stub.php
  Zend/zend_builtin_functions_arginfo.h
Owners: @iluuu1994

Fix GH-10406: fgets on a redis socket connection fails on PHP 8.3
  ext/standard/tests/streams/gh11418.phpt
  main/php_streams.h
  main/streams/streams.c
  main/streams/xp_socket.c
Owners: @bukka

Implement GH-8641: STREAM_NOTIFY_COMPLETED over HTTP never emitted
  NEWS
  UPGRADING
  ext/standard/tests/http/gh8641.phpt
  main/streams/php_stream_context.h
  main/streams/streams.c
Owners: @bukka

Fix lifetime issue with getAttributeNodeNS()
  ext/dom/element.c
  ext/dom/tests/bug_lifetime_parentNode_getAttributeNodeNS.phpt
Owners: none

Fix GH-10406: fgets on a redis socket connection fails on PHP 8.3
  NEWS
  ext/standard/tests/streams/gh11418.phpt
  main/php_streams.h
  main/streams/streams.c
  main/streams/xp_socket.c
Owners: @bukka

Add stack limit check in zend_eval_const_expr()
  Zend/tests/stack_limit/stack_limit_013.phpt
  Zend/zend_compile.c
Owners: @iluuu1994

Fix "invalid state error" while cloning namespace declarations
  ext/dom/php_dom.c
  ext/dom/tests/clone_nodes.phpt
Owners: none

Fix shell compared operator (#11099)
  ext/phar/Makefile.frag
Owners: none

ext/pdo_pgsql: connection status update to distringuish from truly bad quality connections.
  ext/pdo_pgsql/pgsql_driver.c
Owners: none

Fix GH-11440: authentication to a sha256_password account fails over SSL
  ext/mysqlnd/mysqlnd_auth.c
Owners: none

Fix GH-11438: mysqlnd fails to authenticate with sha256_password accounts using passwords longer than 19 characters
  ext/mysqlnd/mysqlnd_auth.c
Owners: none

Fix GH-11433: Unable to set CURLOPT_ACCEPT_ENCODING to NULL
  ext/curl/interface.c
  ext/curl/tests/curl_setopt_CURLOPT_ACCEPT_ENCODING.phpt
Owners: @adoy

JIT inlined function separately if trace is too long
  ext/opcache/jit/zend_jit.h
  ext/opcache/jit/zend_jit_internal.h
  ext/opcache/jit/zend_jit_trace.c
  ext/opcache/jit/zend_jit_vm_helpers.c
  ext/opcache/zend_accelerator_module.c
Owners: @dstogov, @iluuu1994

changes from review
  UPGRADING
  ext/pgsql/pgsql.c
  ext/pgsql/pgsql.stub.php
  ext/pgsql/pgsql_arginfo.h
  ext/pgsql/tests/07optional.phpt
Owners: @devnexen

Address review comments
  ext/imap/php_imap.c
Owners: @Girgias

Extract common object properties into a new function
  ext/imap/php_imap.c
Owners: @Girgias

Fix compilation
  ext/imap/php_imap.c
Owners: @Girgias

Fix lifetime issue with getAttributeNodeNS()
  NEWS
  ext/dom/element.c
  ext/dom/tests/bug_lifetime_parentNode_getAttributeNodeNS.phpt
Owners: none

Fix "invalid state error" with cloned namespace declarations
  NEWS
  ext/dom/php_dom.c
  ext/dom/tests/clone_nodes.phpt
Owners: none

CODEOWNERS:

# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the php-src source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.stub.php @kocsismate
/.github @iluuu1994 @TimWolla
/build/gen_stub.php @kocsismate
/ext/curl @adoy
/ext/date @derickr
/ext/dba @Girgias
/ext/ffi @dstogov
/ext/gmp @Girgias
/ext/imap @Girgias
/ext/json @bukka
/ext/mbstring @alexdowad
/ext/opcache @dstogov @iluuu1994
/ext/openssl @bukka
/ext/pgsql @devnexen
/ext/random @TimWolla @zeriyoshi
/ext/session @Girgias
/ext/sockets @devnexen
/ext/spl @Girgias
/ext/standard @bukka
/main @bukka
/sapi/fpm @bukka
/Zend @iluuu1994
/Zend/Optimizer @dstogov
/Zend/zend.* @dstogov
/Zend/zend_alloc.* @dstogov
/Zend/zend_API.* @dstogov
/Zend/zend_closures.* @dstogov
/Zend/zend_execute.* @dstogov
/Zend/zend_execute_API.c @dstogov
/Zend/zend_gc.* @dstogov
/Zend/zend_hash.* @dstogov
/Zend/zend_inheritance.* @dstogov
/Zend/zend_object_handlers.* @dstogov
/Zend/zend_objects.* @dstogov
/Zend/zend_objects_API.* @dstogov
/Zend/zend_opcode.* @dstogov
/Zend/zend_string.* @dstogov
/Zend/zend_type*.h @dstogov
/Zend/zend_variables.* @dstogov
/Zend/zend_vm* @dstogov
